[2016-06-17 12:45] dwhitena opened #2 "In memory geth object for subsequent interactions."
We need to start geth as an in-memory object that can be used later for interactions (account unlock, check for events, etc.).

[2016-06-22 11:12] dwhitena opened #6 "Light-api for the node"
Get light working for the node spawned via statusgo.

[2016-06-27 16:08] adrian-tiberius opened #9 "Geth bindings"
For starters we will need the following bindings:
### 1. startNode(dataFolder) -> result

**Description**: Starts a node with datadir=dataFolder

**Paramaters**:
- dataFolder(string) = the path geth will use as --datadir

**Returns**: result(boolean) = true if geth started succesfull, false otherwise
### 2. createAccount(password) -> result

**Description**: Creates an account and returns account

[2016-06-30 15:03] #6 closed, assigned to nobody

[2016-06-30 15:03] #9 closed, assigned to nobody

[2016-07-19 12:42] 0xc1c4da opened #16 "32 bit & 64 bit status-go for iOS"
We need to mimic the go-ethereum iOS build in it's Makefile and apply this to status-go.

We must ensure the library also works for 64bit devices and iOS simulator

ios build of status-react depends on this
I can help with this

[2016-07-20 11:02] #16 closed, assigned to farazdagi

[2016-07-20 13:48] 0xc1c4da opened #18 "sendTransaction Queue"
This ticket relates to the discussed sendTransaction queue, interception and completion of transactions, after having been sent and returned to react native via callback

[2016-07-20 13:56] 0xc1c4da opened #19 "HD Key Tests & Bindings"
I ended up writing some HD key methods we will need to implement the test vectors to verify the code is correct.

After that we will be wanting to use this key generation to account creation, we’ll need to return the seed phrase and also have a binding for recovery(creation from phrase and password)

Some implementations of test vectors in Go can be found in
https://github.com/btcsuite/btcutil/blo

[2016-07-30 11:14] farazdagi opened #21 "Makefile: make sure that xgo bundles iPhoneSimulator.sdk"
- related to #16
- https://github.com/karalabe/xgo#mobile-libraries

[2016-08-12 11:15] farazdagi opened #23 "Multiple calls to UnlockAccount causes whisper to break"
**Notes:**
- When i call `UnlockAccount` twice for the same account, whisper starts throwing `Call to shh.post() failed:', [Error: Invalid secret key]` when i’m trying to send the message.

[2016-08-12 11:16] farazdagi opened #24 "Whisper messages multiplier"
**Notes:**
- when i have two accounts on one device, i can send messages between them and in result i see ~8 same incoming messages when i send one…

[2016-08-12 14:44] #24 closed, assigned to farazdagi

[2016-08-15 06:20] #18 closed, assigned to farazdagi

[2016-08-22 14:44] rasom opened #26 "Transaction queues"
**Objective:**
- ~~persistently store queued transactions (so that they can be restored in case phone went down due to batteries)~~
- multi-level queue (allowing to capture queued item lifecycle status: `pending`, `completed` etc)

**Multi-level Queue:**
- ~~Persistent (on-disk)~~ multi-level queue, with 3 levels:
  - `pending`
  - `confirmed`
  - `completed`
- new items added to queue, enter as `

[2016-08-23 10:21] farazdagi opened #27 "HD Keys: child account derivation"
**Objective:**
- ability to derive (hardened) children

**Notes:**
- in `CreateAccount` CKD#2 needs to be added, that child will be used as root for all derivations i.e. we will not derive new children from master, but from CKD#2
- CKD#2 needs to be stored alongside CKD#1 i.e. we need to put CKD#2 into the same JSON key file
- add new method `CreateChildAccount(parent, password)`:
  - if parent is

[2016-08-25 10:45] farazdagi opened #28 "HD Keys: Account Discover"
**Objective:**
- when wallet is imported, we need to discover sub-accounts (see https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#account-discovery for details)

**Notes:**
- account discovery also will help us to decide what should be index of the next available sub-account

[2016-08-28 23:14] #19 closed, assigned to farazdagi

[2016-08-28 23:14] #23 closed, assigned to farazdagi

[2016-08-28 23:17] #2 closed, assigned to nobody

[2016-08-30 19:49] rasom opened #30 "Block on eth.sendTransaction() until transaction is complete"
Instead of returning of the temporal hash for the transaction we have to return anything to `eth.sendTransaction` call only when the transaction is confirmed/discarded.

https://assembly-vc.slack.com/archives/go-ethereum-fork/p1472584623000258
When we fire sendTransaction across, it uses http request.

The server does not respond to such request until it has problem with error, now it may take a l

[2016-09-01 14:15] #26 closed, assigned to farazdagi

[2016-09-01 14:21] farazdagi opened #32 "DiscardTransactions() + CompleteTransactions() binding"
- from https://github.com/status-im/status-go/issues/26
- allow to discard multiple transactions from pending tx queue
- allow to complete multiple transactions from pending tx queue

[2016-09-03 14:49] #30 closed, assigned to farazdagi

[2016-09-06 15:34] rasom opened #34 "Mark intercepted `eth.SendTransaction()` with message-id"
Roughly it means:
1) Check that `eth_sendTransaction` method is invoked there https://github.com/status-im/status-go/blob/47b01ec3c20746ae15fb7b46f347e2112dca411f/src/jail.go#L81-L81 (presumably by something like `call.Argument(0).Object().Get("method").toString() == "eth-sendTransaction"`)
2) Add `message-id` from `call.Otto.Context().Symbols["status"].Object().Get("message-id")` to parameters th

[2016-09-09 06:47] #27 closed, assigned to farazdagi

[2016-09-09 06:47] #21 closed, assigned to farazdagi

[2016-09-09 06:50] farazdagi opened #36 "Improve tests coverage: `jail.go`"
- on rebasing we need to make sure that bindings keep working w/o regressions
- while other files are covered, `jail.go` is not, we need to fix this

[2016-09-14 13:14] farazdagi opened #37 "Add iOS-related code to signals.c"
- originally proposed in https://github.com/status-im/status-go/pull/8
- The following code is to be included into `geth/signals.c`

[code]
- Currently it ends up with the following issue (probably linker needs some lib fed to it, or provided code is outright buggy):

![image](https://cloud.githubusercontent.com/assets/188194/18513476/544258d6-7a96-11e6-9cd5-177c0a5c2de2.png)

[2016-09-18 10:45] #36 closed, assigned to farazdagi

[2016-09-18 10:46] farazdagi opened #38 "Makefile: pull latest xgo"
**Objective:**
- make sure that latest `xgo` images are pulled on build

**Notes:**
- Otherwise we end up with situations when `xgo` image is updated, but previous image is being used for building

[2016-09-21 10:15] farazdagi opened #39 "Update master branch"
- do a release (by merging `develop` to master and tagging)

[2016-09-21 12:39] #39 closed

[2016-09-21 12:42] farazdagi opened #40 "Allow conditionally build for Testnet/Mainnet"
**Objective:**
- we should be able to specify at build time, whether resultant artifact is to rely on Mainnet

[2016-09-22 19:31] #38 closed

[2016-09-28 07:11] farazdagi opened #42 "Fix TravisCI build"
- let it build and test bindings only (ethereum-go has its own repository, and all its test should run there)

[2016-09-28 07:45] farazdagi commented on #34
Additional requirements:
- I need to implement queue, and *serialize* all the requests to a given VM (read on per chat level), before returning I also need to set context. Since calls are blocking, react-native will be able to get final value + context.
- here is sample code
[code]

**Context:**
- we have `call` function in `status.js` https://github.com/status-im/status-react/blob/ccb2b4cf98ce6bc

[2016-09-29 17:24] farazdagi commented on #42
Done!

[2016-09-29 17:24] #42 closed

[2016-09-30 15:57] jarradh opened #44 "Online/Offline & Syncings subscriptions to RN"
We need the ability for Status to know when it's connected and disconnected from the network, as well as seperate indication for if it is syncing the headers.

[2016-10-13 11:59] farazdagi opened #48 "LES client: updating trusted starting point"
**Objective:**
- investigate the possibility to set custom trusted root for LES client node (so that sync takes significantly less time, as it starts from that root, and we will select root close to the end of chain).

**Notes:**
- this can be compile-time option, as it will make testing lots easier, since full sync will be done within seconds, instead of minutes
- in addition we will be able to i

[2016-10-13 12:05] #40 closed

[2016-10-13 17:34] farazdagi opened #49 "Queued Transaction: remove from queue only if transaction is successful"
- transaction can
  - timeout
  - complete successfully
  - error because of the password
- for wrong password  we should allow transaction to be re-added to queue (for another attempt)
- native app has a method to discard txs manually

[2016-10-15 07:46] farazdagi opened #50 "Code review: race conditions, lint etc"
- run all tests with `-race` and make sure that status backend, jail etc do not have data race conditions
- https://goreportcard.com/report/github.com/status-im/status-go

[2016-10-16 16:55] farazdagi opened #51 "SendTransaction: signal tx timeout"
**Objective:**
- notify native app, when transaction is expired (both tx id and message id are expected)

[2016-10-17 07:56] rasom commented on #37
there is similar issue http://stackoverflow.com/questions/23089844/mono-3-4-0-mkbundle-under-mac-os-x-failed

so maybe we just have to add something like
[code]
from https://golang.org/src/crypto/x509/root_cgo_darwin.go

In our case
[code]

to https://github.com/status-im/status-go/blob/edd8763c3c03a66f25eebbb6a4edeb0e528f5b34/build/env.sh#L42-L42

[2016-10-18 15:16] #37 closed

[2016-10-18 15:16] #34 closed

[2016-10-28 14:37] #49 closed

[2016-11-02 04:34] #44 closed

[2016-11-05 00:18] farazdagi opened #57 "Cover exposed methods (library.go) with tests"
**Objective:**
- make sure that exposed API is unit tested

**Notes:**
- at the moment `library.go` is not covered (and although it acts as merely a facade to real code, we still need to make sure that everything in there is tested)

[2016-11-05 06:52] farazdagi opened #58 "Virtual Sub-Accounts"
**Objective:**
- allow to import "regular" JSON keys as *virtual sub accounts*

**Notes:**
- we need a way to import JSON files (per Vitalik's request on how can we do this)
- Jarrad proposed

- important: those virtual sub-accounts will have different password (from each other and main HD account), so the most non-trivial part will be selecting sub-account or virtual account. Once selected, signi

[2016-11-05 07:14] farazdagi opened #59 "Whisper messages and notifications"
**Jarrad:**

the next version of whisper spec mentions private whisper servers but its not coming anytime soon

i think we should create a server that receives a raw whisper payload (encrypted)
clients then can (un)subscribe to it to receive notifications via the appropriate centralised channels
(push notifications)

but when the user moves out of the application, we will have it subscribe to the

[2016-11-05 07:35] farazdagi commented on #59
When it comes to push notifications platform:

seems there is some fork some gcm go lib that uses pushy, unsure if its any good and the network graph is all over the place https://github.com/iwanbk/pushygo

[2016-11-14 01:47] farazdagi commented on #48
- no need as LES branch is being timely updated

[2016-11-14 01:47] #48 closed

[2016-11-15 21:37] farazdagi opened #62 "Rebase/sync with released Geth 1.5.0"
- LES is supported in recently (just 8 hours ago!) released Geth 1.5.0 https://github.com/ethereum/go-ethereum/releases/tag/v1.5.0
- now, let's rebase and make sure our code works on top of that 1.5.0

[2016-11-21 06:02] farazdagi opened #63 "Expose "reset chaindata" command"
**Objective:**
- ability to clear chaindata using `!reset` command

**Notes:**
- see https://github.com/status-im/status-react/issues/473#issuecomment-261850224 comments

[2016-11-21 06:05] farazdagi opened #64 "Make sure Ropsten testnet is available on LES cluster"
- Morden is reset, now we have Ropsten testnet
- we need to make sure that our LES test cluster is in sync with Ropsten
- https://github.com/ethereum/go-ethereum/pull/3315

[2016-11-21 06:09] farazdagi opened #65 "Integrate with whisper ver. 5"
**Objective:**
- once Whisper ver. 5 stabilizes, we need to update bindings code to use it, instead of ver. 2

**Notes:**
- ~~particularly watch for this PR to merge https://github.com/ethereum/go-ethereum/pull/3224~~

[2016-11-21 06:11] #32 closed

[2016-11-21 12:03] obscuren commented on #64
I have a node serving LES at `enode://b70fb61a041c3f6cbe73ebdddb2816e04c4297aa4c5a5881cf3ebd24c0bd1bdb5d3c2d3e124ebab4af1144acbba4d9881bce767c6dbdbe31583aadb7da9c03f8@94.242.229.4:30303` and also using discovery v5.

[2016-11-21 12:11] jarradh commented on #64
thanks @obscuren ! It seems v5 whisper isn't 100% stable for us so we're using v2 to try get alpha out - also we'd be very happy to help work on Whisper since Status depends on it

[2016-11-23 15:23] #57 closed

[2016-11-25 09:27] farazdagi opened #67 "Integrate with geth 1.5.3 (1.5.4-unstable)"

[2016-11-26 09:41] farazdagi opened #68 "Charm/beg/force app start w/o crash on iOS"
- the probable cause is memory allocation inside the Otto VM (when JS file is being parsed and internal structures are created)
- log:

[code]

[2016-11-26 10:05] jarradh commented on #68
If it is not Otto, then it is LevelDB

[code]

[2016-11-26 13:38] rasom commented on #68
It was related to armv7 architecture, as we can build the application for arm64 it is no longer the problem.

[2016-11-28 08:57] #68 closed

[2016-11-28 08:57] #67 closed

[2016-11-28 08:57] #64 closed

[2016-11-28 08:58] #62 closed

[2016-11-28 13:42] adrian-tiberius opened #69 "jeth provider is missing isConnected function"
https://github.com/status-im/status-go/blob/master/jail/jail.go#L61
jeth needs to have IsConnected function, in addition to send and sendAsync:
https://github.com/ethereum/web3.js/blob/develop/lib/web3/httpprovider.js#L140

[2016-12-01 14:36] rasom opened #70 "Confirm transaction from another account"
It is possible to call `eth.sendTransaction` from one account and then confirm this transaction from another.

[2016-12-02 08:57] farazdagi opened #72 "Replace dependency on go-ethereum's `cmd` package"
- the `cmd` package is licensed under the GPL (while the rest of go-ethereum project is LGPL)
- we need to replace usage of `cmd` package (in particular `cmd/utils`) with appropriately licensed pars of go-ethereum code (`cmd/utils` usage can be handled with `node` package)

[2016-12-05 11:43] farazdagi opened #73 "Status Cluster: turn on mining"
- setup the testnet servers to mine (on the same account, so we can have our own faucet if we need)

[2016-12-07 08:58] #69 closed

[2016-12-07 22:55] #72 closed

[2016-12-07 23:16] farazdagi opened #75 "review issue with "context" preservation"
**Roman:**
We don’t need exactly “context preservation" at the moment, but we need something like this https://status-im.slack.com/archives/internal-status-go/p1480330415000863

so currently it is just one function that receives string and sends signal back to `status-react`.
@farazdagi it would be great if you will take a look at this once have a time, because currently it doesn’t work properly o

[2016-12-08 11:47] farazdagi opened #76 "test case: multiple calls to InitJail"
**Objective:**
- make sure that there's no side effects on calling `InitJail` multiple times

**Notes:**
- consider scenario:
  - Android app is first started
  - service is started -> StatusIM node is started
  - InitJail is called
  - stuff happens (jail vms get created, maybe transactions are sent/pending)
  - android app gets closed(service still running)
  - android app is started again
  - I

[2016-12-08 11:49] farazdagi opened #77 "error notifications"
**Objective:**
- send upward notifications whenever node crashes

**Notes:**
- related to https://github.com/status-im/status-react/issues/543
- related to https://github.com/status-im/status-react/issues/642
- intercept all runtime errors/crashes and send notification to app before exiting from the application

[2016-12-10 13:12] farazdagi commented on #73
done: all nodes are not only LES servers (for 60% of time) but also mining (with some results already logged https://testnet.etherscan.io/address/0xadaf150b905cf5e6a778e553e15a139b6618bbb7#mine). The `0xadaf150b905cf5e6a778e553e15a139b6618bbb7` address, is configured to be used by our faucet.

[2016-12-10 13:12] #73 closed

[2016-12-13 13:08] farazdagi opened #79 "Update xgo to the latest Go version (1.7.3)"
**Notes:**
- https://github.com/golang/go/issues/14778

[2016-12-14 12:56] farazdagi opened #80 "Arch dependent status headers"
- we need to make sure that Statusgo.h is updated, automatically to read:
[code]

[2016-12-15 23:01] #80 closed

[2016-12-21 10:23] farazdagi opened #83 "Geth need for TLS support"
- in order to allow clients to consume service via https we need to make sure that geth can be served using secure trasport

[2016-12-21 16:33] #75 closed

[2016-12-21 21:17] #70 closed

[2017-01-05 20:04] #83 closed

[2017-01-08 12:28] jarradh opened #85 "Solve Otto VM Halting Problem"
As referenced here status-im/status-react#686 we currently have no solution to
https://github.com/robertkrimen/otto#halting-problem

[2017-01-08 12:29] jarradh opened #86 "Whisper Documentation & Blog Post"
We need to document the current implementation of WhisperV5 and if you could write a blog post announcing our intentions of contributing to Ethereum with documentation, whisper inboxing and bloom filter implementation by 20th.

[2017-01-08 14:02] jarradh opened #87 "Run Swarm Daemon"
Status is going to require Swarm to operate higher functionalities, we'll need to have the ability to access Swarm as well

[2017-01-13 04:36] farazdagi commented on #85
At first I was like "wtf, solving [the Halting Problem](https://en.wikipedia.org/wiki/Halting_problem)"? But fortunately all that is required is to stop executing long running 3rd party scripts. Which is kind of trivial, of course.

[2017-01-13 13:11] farazdagi opened #89 "Better in-code documentation"
- per conventional Golang recommendations, make sure that all top level constructs (`const`, `var`, `type`, `func`) are documented
- only minor refactoring to the existing API should be made *if any* i.e. this is more of a doc/comments cleanup task rather sth major

P.S. Make sure that both bindings and status backend (which works as plugin in vendored geth code) are updated.

[2017-01-14 10:52] jarradh commented on #87
[code]

[2017-01-14 17:44] jarradh commented on #87
https://github.com/ethereum/go-ethereum/blob/master/swarm/swarm.go#L159

[2017-01-16 15:36] farazdagi opened #92 "rebase: geth-1.5.7 (bugfixes over the geth 1.5.6)"

[2017-01-17 10:40] farazdagi opened #93 "consider opportunities to set sync starting block dynamically"
- related to https://github.com/status-im/status-react/issues/725
- setting trusted CHT: https://github.com/ethereum/go-ethereum/blob/master/light/lightchain.go#L107

[2017-01-19 09:02] #77 closed

[2017-01-20 07:56] jarradh opened #94 "check disk space before syncing"
It seems people with low diskspace end up having overheating phones while geth is syncing.
Perhaps we can try to have a minimum disk space and pre-allocate it?

[2017-01-21 18:02] jarradh commented on #93
this is actually a really good idea

[2017-01-23 06:47] farazdagi commented on #93
- I was able to set CHT correctly in https://github.com/status-im/status-go/pull/91/commits/ea1b61c32ae13954e45b83264dc16a4e2e0d4896
- This CHT's root hash passed validation (against Merkle proofs obtained from peers)
- So, setting CHT is not that hard..it is hard to decide what branch to use i.e. which peer's data to use for reference, if we are to set CHT dynamically

**IMPORTANT:** So, importan

[2017-01-23 06:52] jarradh commented on #93
it's an acceptable for now but is abit opinionated for us, I posed the question in the light-client gitter, let's see what they say

[2017-01-24 07:40] farazdagi commented on #93
Closing this ticket for now: agreed upon solution is to do weekly updates to CHT (and thus have weekly releases), up until Geth team makes a more user-friendly validation:
![image](https://cloud.githubusercontent.com/assets/188194/22238211/4e5b7324-e221-11e6-874b-a69f78a6d72b.png)

[2017-01-24 07:40] #93 closed

[2017-01-24 12:49] farazdagi opened #96 "Pause node"
- in order to preserve resources we need to completely stop the underlying Geth node
- there's a twist: we need to make sure that whatever account was selected when node was paused, gets re-selected when node resumes (including adding that account into Whisper)

[2017-01-24 12:56] jarradh commented on #96
just to clarify, the reason we're trying this approach - is because the Android service appears to crash and we cannot seem to recover.

We moved status-go out of a service and into the same process (similar what we do on iOS) but it's unacceptably slow.

Our only known recourse is try to manage status-go in the service better and how this alleviates the issue.

[2017-01-25 12:55] #63 closed

[2017-01-25 12:55] #92 closed

[2017-01-26 13:52] farazdagi commented on #85
Proposed PR slows as a hell Jail commands on Android (at least). We need to resolve this.

[2017-01-26 15:57] farazdagi opened #98 "Fix Jail requests when halting on long requests is enabled"
- related #85
- ~~the problem seems to be in blocking nature of `RunUnsafe()` (re-check whether it is problem in bindings code, or bug is in Otto's handling of `cancelInterrupt` channel)~~ well, current hypothesis is that problem is related to blocking `eth` calls on sync.

[2017-01-26 15:58] farazdagi commented on #85
will be tackled as a separate issue https://github.com/status-im/status-go/issues/98 (since code has already been merged to dev, and new PR is required anyway).

[2017-01-26 15:58] #85 closed

[2017-02-01 05:34] jarradh opened #99 "Contract sendTransaction & possibly contract deploys fail?"
From @rasom:

```01-31 21:38:46.576 23568 23633 D ReactNativeJS: DEBUG [status-im.handlers:123] - :event-str {"type":"transaction.failed","event":{"id":"c2bcf1e4-859a-4991-8464-686767c73f50","args":{"from":"0x0fc7f53d123919f21b46ed29756fa9d893483064","to":"0xd5df04090992ef7f3ec83f53601db3dc8232ee01","gas":null,"gasPrice":null,"value":"0x1bc16d674ec80000","data":"0xf782fa4f0000000000000000000000000

[2017-02-01 17:16] farazdagi opened #100 "Fix `develop` branch"
- make sure that all commits from https://github.com/status-im/status-go/commits/develop-review-pending are imported
- make sure that we include changes in https://github.com/ethereum/go-ethereum/releases/tag/v1.5.8 i.e. **rebase**
- make sure that it doesn't introduce regressions:
  - blocking in Jail
  - slowing down of Jail (which is most probably due to blocking)

[2017-02-03 04:46] farazdagi opened #102 "Find solution to blocking `eth` calls (during sync)"
**Problem**
- `eth` is not responsive up until sync is done
- tested in `geth --light --testnet console`, no `eth` calls is possible if LES headers sync is in progress

**Notes:**
- this issue is claimed to be solved by https://github.com/ethereum/go-ethereum/pull/3519 (but it isn't)
- issue introduced in https://github.com/ethereum/go-ethereum/commit/c57c54ce96628aeb6345776310123a80593f0143

**Re

[2017-02-03 08:48] farazdagi commented on #102
Bug fix request submitted: https://github.com/ethereum/go-ethereum/issues/3639

[2017-02-03 13:38] farazdagi commented on #100
- rebased against Geth 1.5.8
- commit cleanup (unnecessary commits removed, in progress commits have been squashed) end result: https://github.com/status-im/go-ethereum/commits/status/1.5.8
- `status-go:develop` branch has been re-assembled (again squashing multiple commits along the way)
- TLS support has been removed, and placed into separate branch https://github.com/status-im/status-go/tree/fe

[2017-02-03 13:38] #100 closed

[2017-02-03 13:44] #79 closed

[2017-02-03 13:47] farazdagi commented on #94
@jarradh tbh, I am not sure what "pre-allocate disk space" means in this context. I can definitely check space left on device, then..well, what should we do then?

[2017-02-05 16:03] #96 closed

[2017-02-06 12:49] #99 closed

[2017-02-08 12:33] farazdagi commented on #59
- For convenience we will rely on GCM and Apple Push Notifications (it is easy to implement them on RN side https://github.com/zo0r/react-native-push-notification).
- We've considered implementation using AlarmManager (http://tokudu.com/post/50024574938/how-to-implement-push-notifications-for-android), but tabled this for time being.

[2017-02-10 04:24] jarradh commented on #102
related PR ethereum/go-ethereum#3660

[2017-02-14 12:16] farazdagi opened #108 "Geth 1.5.9 introduces HD wallets, consider switching to their implementation"
- https://github.com/ethereum/go-ethereum/releases/tag/v1.5.9
- we need to review their implementation, and probably sit out couple of releases, before attempting to switch to their wallet implementation (since account and account manager API changes a lot atm, we will chase the moving target otherwise)

[2017-02-19 08:59] jarradh opened #109 "Extend go-ethereums USB Ledger HD support with OTG"
https://en.wikipedia.org/wiki/USB_On-The-Go

[2017-02-19 09:26] jarradh commented on #109
Take a look at geths hidapi wrapper Android exclude restraints here:
https://github.com/karalabe/hid

Failing this we can look at
https://github.com/LedgerHQ/android-u2f-bridge/tree/master/app/src/main/java/com/ledger/android/u2f/bridge

[2017-02-20 04:16] farazdagi opened #110 "Rollback to non-blocking version of LES"
- find a version that doesn't have LES blocking issue at all
- make sure that all of our code works on that version
- replace 0.9.3 version, with that fixed release

[2017-02-20 09:07] farazdagi opened #111 "Rebase against Geth 1.5.9"
- we need this for the latest Whisper
- when integrated back to `status-go` vendor, attempt to switch to Whisper ver. 5 #65

[2017-02-20 13:19] farazdagi opened #112 "Auto-estimate gas"
- Mist estimates gas (https://github.com/ethereum/mist/blob/8429c2d01edd5ef3294a9a98ce41bf4d6b233200/interface/client/templates/popupWindows/sendTransactionConfirmation.js#L102) and we should do the same
- if `gas` is not provided, estimate
- invariants:
  - `estimatedGas >= defaultGas`
  - `estimatedGas <= maxGas`

NB: see if there's point to predict gas price as well

[2017-02-21 08:15] #112 closed

[2017-02-21 08:34] farazdagi commented on #110
https://github.com/status-im/status-go/commits/release/0.9.3-rollback

[2017-02-21 08:34] #110 closed

[2017-02-23 12:19] farazdagi opened #115 "Consider moving LES cluster to scaleway"
*Price comparison:*

- https://www.scaleway.com/pricing/
- https://www.digitalocean.com/pricing/

*Notes:*
- to run LES+SHH server comfortably (w/o out of memory faults, and processing decent amount of peers) we need 2GB node (so that we have at least 1GB solely for the Geth)
- DO's 2GB node is 20$, and Scaleways **ARM** servers are EUR 3
- so if we can create a docker image for ARM, we effectivel

[2017-02-23 13:05] jarradh commented on #115
amazing!

[2017-02-23 16:06] farazdagi commented on #102
Note to myself: https://github.com/ethereum/go-ethereum/commit/682875adff760a29a2bb0024190883e4b4dd5d72 has updated gas estimation algorithm, so `eth.estimateGas()` takes slightly more time (measured in 3-5 extra seconds, per my anecdotical evidence)

[2017-02-27 10:30] farazdagi opened #116 "Get/Set Node Settings"
- here is settings struct used by parity (maybe settings can just consume a json like that):
[code]

[2017-02-28 08:45] farazdagi opened #118 "Setup health monitoring for exposed services"
- cluster nodes
- faucet node

[2017-02-28 12:14] farazdagi commented on #111
Done:
- https://github.com/status-im/status-go/tree/geth/1.5.9-stable-with-non-blocking-les
- https://github.com/status-im/status-go/tree/develop

[2017-02-28 12:14] #111 closed

[2017-02-28 13:47] farazdagi commented on #102
We've circumvented the problem by updating all other packages, except for the LES (and we will keep it this way, up until the issue with LES blocking is properly resolved on `go-ethereum` side).

In the meantime, the following branches are available:
- https://github.com/status-im/status-go/commits/geth/1.5.6-stable-with-non-blocking-les
- https://github.com/status-im/status-go/commits/geth/1.5.7-

[2017-03-06 02:58] farazdagi commented on #115
https://github.com/status-im/status-cluster/blob/master/README.md

[2017-03-06 02:58] #115 closed

[2017-03-07 07:58] farazdagi opened #119 "Expose Geth logs on Android"
- to see what is going on inside of running Geth node, we need to provide a way to capture and expose (using `adb logcat`) its logs
- support must be optional, and should be turned on manually i.e. no point writing logs on real device (alternatively, we can write logs on real device using different log level)

[2017-03-08 10:35] morelazers opened #120 ""Error: transaction has been discarded" when deploying a contract"
Trying to deploy a contract in Status throws the above error (when printed through a Javascript alert). Doesn't get to the point of asking for a password.

The same piece of code deploys contracts when connected to the Geth `--light` client on desktop, after the account has been unlocked in the Geth console.

There may be a valid reason for the deployment failing (not enough ETH etc.) but the gene

[2017-03-08 15:45] farazdagi commented on #120
When it comes to sending transactions (and contract creation is also done via tx sending), we updated Geth's workflow in the following way:
- request to `SendTransaction()` is intercepted, and user is blocked until one of the following happens:
  - tx timeouts
  - tx is completed (user provided password and tx can be signed using that password)
  - tx is discarded (consider it like hitting a cance

[2017-03-09 15:47] farazdagi commented on #59
*Slacks's Notifications*
![image](https://cloud.githubusercontent.com/assets/188194/23757740/c2d61fde-04f8-11e7-92fb-12bdbc7aab39.png)

[2017-03-10 08:59] jarradh commented on #120
@morelazers  can you please provide your dapp code or a url for us to test?

[2017-03-10 11:09] morelazers commented on #120
Sure - if you go to https://rosca-test.wetrust.io (you'll have to sign up, might have to verify email not sure) there's a small dapp there.

If you create a ROSCA, sometimes you'll get a 'Not found' error when trying to redirect, we're still looking into that, doesn't happen elsewhere. Might be related to this issue: https://github.com/ethereum/mist/issues/1560

Even if you get not found, about 50

[2017-03-13 04:26] farazdagi opened #121 "LES: update to the latest version"
Make sure we (at some point) run the latest LES

**Notes:**
- we are running on previous incarnation of LES (due to blocking bug introduced in the latest one)
- Zsolt's actively working on https://github.com/ethereum/go-ethereum/pull/3660
- Additionally native ethash implementation should also speed things up
- successor of https://github.com/status-im/status-go/issues/102

[2017-03-13 04:26] farazdagi commented on #102
- The  https://github.com/status-im/status-go/commits/geth/1.5.9-stable-with-non-blocking-les has been used in `release/0.9.4` - so this issue can be closed.
- Additionally, Zsolt updated his PR which has better responsiveness (yet once again, we will update LES only after I'm **absolutely** sure that no blocking is introduced). That will be tackled as a separate issue: https://github.com/status-i

[2017-03-13 04:26] #102 closed

[2017-03-13 04:44] farazdagi commented on #118
@jarradh I've been using https://newrelic.com/ (their free APM lite package, where you get all the monitoring and notifications, but less data retention). Can you please create account for support@status.im? Or, alternatively, if you have some other server/container monitoring service in mind, please let me know.

NB: With our Ansible provisioning of the cluster, setting up NewRelic APM monitoring

[2017-03-13 10:06] farazdagi opened #122 "Swarm: service configuration"
Make sure that Swarm is configurable via Node Settings #116

**Notes:**
- current swarm implementation on `go-ethereum` side is alpha (it works most of the time, but you can have panics, corrupt DB state etc)
- therefore while we need to proceed with adding Swarm support, we also need a way to turn to be able to fine tune it (or even turn off) via configuration
- attempt after #114
- follows up #8

[2017-03-17 17:52] farazdagi opened #124 "Update wiki docs on bindings"
- update https://github.com/status-im/status-go/wiki/Notes-on-Bindings

**Notes:**
- `StartNode()` has been changed
- `GenerateConfig()` added
- once #65 is done there will probably more (so attempt after it)

[2017-03-18 14:15] #116 closed

[2017-03-21 08:59] farazdagi commented on #124
**Whisper-related chages:**
- exposed methods `AddWhisperFilter()`, `RemoveWhisperFilter()`, `ClearWhisperFilters()` are removed (since they were never used, RN app directly relies on `shh_*` in JS API)

[2017-03-21 10:37] farazdagi opened #128 "cmd/status: update executable"
- `cmd/status` does nothing now, just dumps version of our bindings
- instead it should run our custom node (and it is that node that will be deployed on cluster)

**Notes:**
- rationale: easier to manage, test, and deploy (right now we generate docker image of custom `go-ethereum` fork)
- it is easier to experiment with our custom node (which features LES, SHH, Swarm) - just compile and you will

[2017-03-21 15:00] commiteth commented on #109
![Contract deploying](https://commiteth.com/img/deploying_contract.png)

[2017-03-22 14:37] annadanchenko opened #130 "Crash on logging in (fatal error: concurrent map writes)"
### Summary
Status app was closed and almost immediately opened again. After Login app crashed. It happens from time to time but I can't provide specific steps that would always lead to the crash.

### Steps
- Open Status
- Add new contact with QR
- Open Discover tab
- Write some message to the unknown contact found in discover
- Close app
- Open app
- Login -> after typing a password and tap on C

[2017-03-22 19:20] farazdagi opened #131 "Embed static resources"
- nothing fancy, https://github.com/omeid/go-resources is good enough
- embed `web3.js`

[2017-03-25 11:24] farazdagi opened #132 "Jail: integrate ottoext (event loop, timeout, fetch)"
- add support for `setTimeout()/setInterval()

**Notes:**
- particularly, we need this to be able to run [filter.watch()](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3shhfilter) inside the jail (which relies on `poll()`, which in turn uses `setTimeout()`)
- once updated, updates to `TestJailWhisper()` - all tests should run inside jailed environment (currently part of tests use Go dire

[2017-03-25 20:57] farazdagi commented on #130
- this issue occurs in Whisper ver.2 only
- so, this issue will be resolved when https://github.com/status-im/status-go/pull/129 is merged (that PR features transition to Whisper ver.5)
- regression test added (and Whisper ver.5 passes it w/o issues): https://github.com/status-im/status-go/pull/129/files#diff-ee4dca3ca47b80c97f2c95f1666ea273R12

[2017-03-25 21:02] farazdagi opened #133 "Cluster: expose shh/5 bootstrap nodes"
- update cluster provisioning
- make sure that nodes are added into list of trusted bootstrap nodes on `status-go` side
- this will be the first foundational step to have whisper notifications, so include custom Status-related backend in `cmd/wnode` (which will be our custom Whisper node)

[2017-03-26 12:55] farazdagi commented on #133
Done:

[code]

[2017-03-26 12:55] #133 closed

[2017-03-27 09:46] jarradh opened #134 "Switch from HTTP server to internal IPC"
Now things are 'working', we can consider a switch to an internal IPC for the node on the device, this will fix the API unavailability on node restart on Android, improve battery life and secure the node from other apps on the device.

[2017-03-27 11:07] farazdagi commented on #134
We already have IPC support, one just needs to pass two extra configuration variables:
[code]

Now, the only thing I can add, is `HTTPEnabled` flag, so that HTTP server is not started (right now IPC or WS are started *alongside* the running HTTP server)?

[2017-03-27 11:22] farazdagi commented on #118
As this is a lower priority item, I will wrap it up either at the end of 0.9.5 merge week, or during the regression week (next week). For now, here is the update on what has been done so far:
- APM Lite is unavailable anymore
- Instead we will rely on https://github.com/farazdagi/dockprom (Prometheus + Graphana + cAdvisor + NodeExporter + AlertManager). See [amazing post](https://stefanprodan.com/

[2017-03-27 11:27] farazdagi opened #135 "Whisper: Push notifications"
- now that Whisper5 is supported, implement Subscribe/Unsubscribe methods and allow to watch for notifications
- for the first implementation rely on [FCM](https://firebase.google.com/docs/cloud-messaging/) - they are most probably blocked in China, but for getting our proof of concept are more than enough

[2017-03-27 11:29] farazdagi opened #136 "whisper: historic messages"
- wnodes have been deployed on our cluster, so nothing stops us to request (using wnodes symmetric keys) archived messages
- start by reviewing commented out `RequestHistoricMessages()` in `whisper5/api.go`

[2017-03-27 13:34] jarradh commented on #134
oh neat!

[2017-03-27 14:23] farazdagi commented on #118
Slack integration added (so AlertManager should post to Slack):
- more details: https://status-im.slack.com/apps/A0F7XDUAZ-incoming-webhooks
- sample request `curl -X POST --data-urlencode 'payload={"username": "clustermonbot", "text": "This is test post that goes to #internal-status-go and comes from a bot that monitors cluster health.\n<https://status.im|More details (sample link)>", "icon_emoji

[2017-03-27 18:41] farazdagi commented on #134
Btw, we do not even need `HTTPEnabled` flag, since if you pass empty string as `HTTPHost` parameter, HTTP RPC server will *not* be started.

So, it seems we have everything necessary (on `status-go` side) to switch to IPC.

[2017-03-27 19:00] jarradh commented on #134
So we need to see how to deal with [Unix Domain Sockets](https://en.wikipedia.org/wiki/Unix_domain_socket) in Java and Objective-C.

Going to leave this issue open here and compile list for now
https://github.com/kohlschutter/junixsocket
https://github.com/jnr/jnr-unixsocket
http://stackoverflow.com/questions/22220743/how-to-use-a-local-domain-socket-in-objective-c
https://github.com/coffellas-cto

[2017-03-29 09:41] #119 closed

[2017-03-29 11:11] farazdagi opened #138 "Cluster: update to ropsten revival"
- https://ropsten.etherscan.io/
- resync nodes
- update cluster monitor
- make sure that we are in sync on all bootstrap nodes
- update CHT

[2017-03-31 13:51] farazdagi commented on #138
Done! Everybody needs to wipe out their chaindata, to get Ropsten -> Revival Ropsten.

[2017-03-31 13:51] #138 closed

[2017-04-02 10:10] #128 closed

[2017-04-02 18:10] farazdagi opened #139 "Cluster: split develop/production nodes"
- we need to have 2 clusters: production vs develop
- we need to have a way to update production nodes on release: sometimes it means re-sync, like it was the case with Revival Ropsten. Most of the time, production and develop clusters will be identical
- make sure that list of trusted peers is loaded via settings (and thus easily changeable from the RN app side)

[2017-04-02 21:59] farazdagi commented on #124
Done!

[2017-04-02 21:59] #124 closed

[2017-04-02 22:17] farazdagi commented on #76
- Jail *runtime* (as opposed to jail cells, which are VMs) is implemented as singleton, you can call `InitJail()` as many times as you want, everything happens over the very same instance
- In `jail_test.go` we already invoke jail initialization multiple times over the same instance of running Geth, so no separate test is necessary

[2017-04-02 22:17] #76 closed

[2017-04-04 12:20] farazdagi opened #140 "Whisper: `statusd wnode` sub-command"
- required for #135 and #136
- will be deployed on cluster (replacing `wnode` command)

**Notes:**
- `statusd wnode` will be used to start shh/5 node using our settings (PoW, TTL, Mailserver and Notifcations capabilities)
- this sub-command is already almost done (as a part of #135), putting it into separate issue for a couple of reasons:
  - to have a separate PR, which will introduce the sub-com

[2017-04-04 13:07] farazdagi opened #141 "Turn off Digital Ocean cluster"
- our bootstrap cluster (LES+SHH+Swarm, Faucet, Monitoring) has moved to Scaleway
- with 0.9.6 release it is safe to turn the previous cluster nodes off

[2017-04-05 12:42] #65 closed

[2017-04-05 12:44] farazdagi commented on #130
- I've added regression test case, to make sure that issue is caught on Whisper/2, but not on Whisper/5
- Whisper/5 PR has been successfully merged, so it is safe to close this issue
- @annadanchenko should you spot this problem on Whisper/5 enabled app, please feel free to re-open the issue

[2017-04-05 12:44] #130 closed

[2017-04-14 16:08] farazdagi opened #143 "Geth 1.6 Rebase"
- https://blog.ethereum.org/2017/04/14/geth-1-6-puppeth-master/

It is important not to rush things (as so much has been changed in 1.6), but the gains can also be massive:
- Rinkeby
- PoA with Clique
- Native/Go ethash

It is also important to double check the blocking of console until sync - it is yet to be learned whether this has been fixed or not.

[2017-04-19 07:20] farazdagi opened #144 "expose RPCCall"
- we need a way to execute RPC calls via yet another interface, namely via exposed `status-go` method
- this will be an alternative execution route (to IPC RPC, HTTP RPC)

[2017-04-25 08:25] farazdagi opened #146 "inject metalinter into deployment process"
- properly lint the project on each build https://github.com/alecthomas/gometalinter
- possibly related to #50

[2017-04-27 15:21] farazdagi opened #147 "config: allow to specify keystore directory"
- in order to be able to share keys between different networks, let's move keystore into separate folder
- allow to specify it in node config

[2017-04-28 07:07] farazdagi opened #149 "validate JSON configuration"
- expose JSON config validation method
- only basic validation at this time i.e. load the JSON into config (make sure it is loadable in principle), then some minor sanity checks (to see if config *looks like* it can be run on mainnet, ropsten, rinkeby)

[2017-04-28 09:10] farazdagi opened #150 "Fix whisper tests and add a configuration test for Rinkeby network"
- do after #143 (as it depends on it)
- https://www.rinkeby.io/
- make sure `GeneretaConfig()` exposed sane defaults for the net=4
- revisit default parameters (`DatabaseCache` in particular) - to make sure that we are running fine-tuned embedded node (as outlined in https://www.rinkeby.io/)
- `status faucet` needs to support both Ropsten and Rinkeby (probably deserves a separate ticket)
- update

[2017-05-01 04:44] morelazers commented on #120
Hey guys, quick update on this one - I just made a small test repo at https://github.com/morelazers/status-test

It is giving me the same `Transaction has been discarded` error, which is a good start.

Hopefully that helps with testing, feel free to ping me on the Status slack (@ tomnash) as I'll probably be more responsive there.

[2017-05-01 06:28] #147 closed

[2017-05-01 07:41] #131 closed

[2017-05-01 07:41] #140 closed

[2017-05-02 07:55] farazdagi opened #151 "expose VerifyAccount method"
- `VerifyAccount(accountFile, accountPassword) bool`
- basically, it will try and decrypt account file, w/o running Geth node

[2017-05-02 08:37] farazdagi opened #152 "Node management: more signals"
- related to https://github.com/status-im/status-go/issues/144
- more signals to add:
  - on RPC node start/stop
  - on node stack start (it will use current `node.started` signal)
  - on node stop

[2017-05-03 13:22] farazdagi opened #155 "Sub-cluster in Hong Kong"
- we need sub-cluster deployed in Hong Kong (it is harder to do so in mainland China)
- sub-cluster will have:
  - LES, SHH/5
  - Faucet

[2017-05-03 13:26] farazdagi commented on #155
- Jarrad,  I need hosting provider login details where you want this sub-cluster deployed.
- AWS seem to have Beijing DC (acc. to https://aws.amazon.com/about-aws/global-infrastructure/)
- RackSpace has Hong Kong DC (https://www.rackspace.com/about/datacenters)

[2017-05-04 07:48] jarradh commented on #155
i tested the node ips they don't seem to be blocked and I ran out of time to follow up on this, will confirm once in China

[2017-05-11 21:03] farazdagi opened #159 "`statusd` to replace `geth`, `swarm`, `wnode`, `faucet` commands on cluster"
- for easier cluster updates, create a `statusd bootnode` subcommand, that will be dockerized and exposed on bootstrap (sub) clusters
- related to https://github.com/status-im/status-go/issues/139

[2017-05-14 10:44] farazdagi opened #161 "Faucet: deploy for Rinkeby"
- after https://github.com/status-im/status-go/issues/159
- basically, we need to deploy a node with systemd unit file which executes `statusd --bootcluster rinkeby.dev.json faucet` command

NB: in PR mention http://faucet.statusd.im

[2017-05-14 13:04] farazdagi opened #162 "Optimize client node"
- there are issues reported with iPhone4 (constant crashes)
- additionally, when provided CHT block gets older - we start seeing syncing problem
- we need to improve memory footprint of the exposed `statusd` node (tweaking cache is your first stop, obviously)

[2017-05-14 13:55] #143 closed

[2017-05-14 13:59] #135 closed

[2017-05-15 10:21] #89 closed

[2017-05-15 10:21] #146 closed

[2017-05-15 10:50] #155 closed

[2017-05-15 10:52] farazdagi commented on #134
This issue will be probably outdated once #144 (`JSONRPCCall` instead of HTTP/IPC/WebSocket RPC) is implemented

[2017-05-15 10:53] farazdagi commented on #121
After #153 has been merged, we are running on the latest LES

[2017-05-15 10:53] #121 closed

[2017-05-15 18:22] nnicksize opened #164 "Geth 1.6.2 cannot decode Whispersv5 envelopes sent by status-go"
**geth version**
[code]

**status-go version**
2f0c93f (refactor: linters + recommendations applied, closes #146 )

**Problem 1**
The interface to call shh.post is different in status-go than in geth.
The next line works when geth is attached to a node running geth, but results in the below error when geth is attached to a node running status-go.
[code]
The following works when geth is attached to

[2017-05-15 19:01] farazdagi commented on #164
Thanks for elaboration!

I will look into the issue within a session: will update our `go-ethereum` deps to 1.6.1, and revisit the https://github.com/status-im/status-go/pull/163

[2017-05-16 07:48] #151 closed

[2017-05-16 12:22] #139 closed

[2017-05-16 12:22] #159 closed

[2017-05-17 07:38] farazdagi opened #166 "Node Management Refactoring"
Related to and pre-requisite for:
- Node management: more signals #152
- Expose RPCCall #144

Notes:
- simplify node managent code
- allow to replace running node with another (which has different configuration)
- test case for network switching
- review for race conditions and proper locking of access to underlying Geth node

[2017-05-17 11:06] farazdagi opened #167 "Restore Geth 1.5.9 cluster"
- deploy back Geth 1.5.9 on known nodes on cluster
- for dev/prod split start new nodes
- make sure that there are no incompatibilities between Whisper envelopes on our clients and cluster servers

[2017-05-17 14:27] #167 closed

[2017-05-17 19:14] nnicksize opened #169 "Transactions are not propagated when running a private chain"
**geth version**
[code]

**status-go version**
2f0c93f (refactor: linters + recommendations applied, closes #146 )

**Problem**
When connecting a status-go node to a private test chain (running multiple geth nodes), transactions from that status-go node are not propagated to any peers.

**Additional info**
- There are multiple mining nodes, so it's probably not connected to [this](https://github.c

[2017-05-17 20:26] farazdagi commented on #169
Thanks for your report. Till this point we haven't tried using Status on private net, although since we are at the moment preparing Network Switching feature (where we allow users to switch between Ropsten/Rinkeby/Homestead), I think it is a good time to review how everything works with private test nets.

[2017-05-18 13:38] farazdagi opened #170 "CHT: automate updates"
- it is a temporary solution (up until LES protocol supports proper CHT negotiation sub-protocol), and it should be clearly marked as such in code
- it should be one day behind (so that on average users will not need to sync more blocks than those of some couple of days)
- it should be served via HTTPS i.e. https://letsencrypt.org/

[2017-05-22 11:12] farazdagi opened #171 "Logging: shared logs"
- ~~we need to keep it under 5MB~~
- ~~we need to make sure that intabug has permission to read the file (or `777`)~~
- allow configurable "hosted logging" backends, so that we can consolidate and analyze our logs w/o instabug as well

[2017-05-22 15:22] farazdagi commented on #132
**Jarrad:**
- another developer asking if they can do http requests
- https://github.com/deoxxa/ottoext

[2017-05-22 15:23] jarradh commented on #132
Yup, Ideally we had persistent contexts and ability to do `fetch` and `setTimeout`

[2017-05-23 09:41] ksjogo commented on #132
If I want to give that a whirl, `status-go/geth/jail/jail.go` is the right place? And `make test-jail` to execute tests?

[2017-05-23 09:53] farazdagi commented on #132
- @ksjogo sounds great, please proceed (yep, `geth/jail` and `make test-jail` should get you started)
- however, allow me to wrap up major refactoring of the code https://github.com/status-im/status-go/pull/172 One of the purposes of this refactoring was to simplify and clean up the code, allowing for easier contribution.

This PR should be done today, I will ping you back immediately.

[2017-05-23 11:11] ksjogo commented on #132
Ok, will wait for you ping.

[2017-05-23 21:22] farazdagi commented on #132
@ksjogo The PR has been completed, once it is merged (normally it won't take long), you can start looking into `setTimeout()` (or you can base your work on top https://github.com/farazdagi/status-go/tree/feature/node-management-refactoring branch).

[2017-05-24 19:30] #166 closed

[2017-05-26 01:51] morelazers commented on #120
Any updates on this one? I know you are massively busy preparing for the hackathon, but just thought I would ask - this is part of a use case in our hackathon dapp idea.

I got a logcat from the chat context doing the same thing here: https://pastebin.com/WKHZ9ZFp

[2017-05-27 10:35] #152 closed

[2017-05-28 14:11] farazdagi opened #176 "review race in go-ethereum"
![image](https://cloud.githubusercontent.com/assets/188194/26529446/89d9331a-43c8-11e7-9446-fe5585c53346.png)

**Note:** Before attempting to fix/report, we need to rebase against the latest `go-ethereum`

[2017-05-29 06:59] jarradh commented on #120
Looking into it , thanks @morelazers !

[2017-05-29 15:41] #144 closed

[2017-05-29 15:42] farazdagi commented on #134
Closing, as we now rely on `CallRPC()` exposed method (which uses in-proc RPC handler), and do not need to expose anything.

[2017-05-29 15:42] #134 closed

[2017-05-29 15:47] farazdagi opened #177 "Turn off HTTP RPC by default"
- related to https://github.com/status-im/status-go/issues/144
- now, that we rely on `CallRPC()` exposed method, we need to make sure that HTTP RPC is turned off by default (as we have with IPC and WS servers)

[2017-05-29 16:02] farazdagi commented on #170
- JSON is auto-written now.
- Sample Format (Ropsten, Rinkeby, Homestead):
[code]

[2017-05-29 16:02] #170 closed

[2017-05-29 16:21] farazdagi commented on #171
Note (to myself):
- As an obvious use case for logging, investigate why node might crash (@rasom experienced issue when syncing and trying to `StopNode()` on Android).
- One possible issue might be ethash *cache* generation (it happens on the first run), so the thing might disappear after cache is built

[2017-05-30 06:58] jarradh commented on #120
@flexsurfer found the issue and we're fixing it!

[2017-05-30 10:34] ksjogo commented on #132
It's not great but a step: https://github.com/ksjogo/status-go/tree/feature/timeouts
Functions are available in the iOS simulator with a newly build framework but are not within the runloop yet. Eval context needs to be changed probably.

[2017-05-30 10:40] farazdagi commented on #132
Thank you for starting on that. Later on today I will have an in-depth review of what you have so far.

[2017-05-30 13:16] #120 closed

[2017-05-30 13:18] rasom commented on #120
@morelazers, problem should be fixed in `status-react`'s `develop` branch https://github.com/status-im/status-react/pull/1253

[2017-05-31 10:49] farazdagi opened #178 "Geth 1.6.7 rebase"
- https://github.com/ethereum/go-ethereum/releases/tag/v1.6.7

[2017-06-04 12:40] farazdagi opened #179 "jail: console.log()"
**Objective:**
- allow debugging/seeing Jail values, by capturing logs and pushing them up (using signals)

**Notes:**
- whenever application developers will need to see contents of some value, they will rely on conventional `console.log(var)`, so we need to capture that value and forward to React Native app via signal.
- see https://github.com/status-im/status-go/blob/develop/geth/node/signals.go

[2017-06-08 16:13] farazdagi commented on #150
Regarding CHT setting, @karalabe pointed out:
Clique will need a bit custom CHT
OR specifically, you'll only need to set 1 single hash for it
but that can only be for an epoch block
(every 30K)

[2017-06-10 12:00] farazdagi opened #184 "jail: sendAsync"
- right now `send()` and `sendAsync` rely on the very same function
- we need to make sure that `sendAsync` is really executed in async manner i.e.:
  - the request itself will run within goroutine
  - function will return immediately with `Otto.UndefinedValue()`
  - once request is finished w/i the goroutine, callback method (if present is called)
- we should have this covered with as many tests

[2017-06-13 15:43] annadanchenko opened #185 "Sometimes syncing starts from 0% and really syncs 1 by 1 up to 100% without using CHT"
Sometimes on the 1st sync client goes from 0% to 1,2,3 up to 100% without using CHT. It consumes device resources and takes time. Expected: as in most cases, sync starts form 0% and "jumps" to the last known block from CHT and then client syncs the rest of the blocks (0% -> 90% -> 100%)

[2017-06-19 10:31] violetbobo opened #186 "How to use *.aar file with status-react"
I build with "make statusgo-android", then it generates a file statusgo-android-16.aar in "build/bin",  How to run it in android devices?  thanks a lot!

[2017-06-22 19:50] nnicksize commented on #169
This seems to be resolved in the latest commit [b3a56eb](https://github.com/status-im/status-go/commit/b3a56eb00b97d853edcbcb4fb2cf8803fe7a0370).

[2017-06-22 19:50] #169 closed

[2017-06-27 10:31] farazdagi opened #188 "Version 0.9.8: CHECKLIST"
Major items expected in the release:

- [ ] Ability to define a JSON-RPC server for network switching for eth protocol, with a default that uses Infura
- [ ] Switch to Go-ethereum HD Wallets
- [ ] Think about how to integrate our double-ratchet implementation into Whisper

[2017-06-29 16:36] influx6 commented on #132
Current question I have is what exactly is lacking in the provided `setTimeout/setInterval` provided by https://github.com/deoxxa/ottoext. Is there something special that ours must provide that defer from what ottotext provides.

@farazdagi Would appreciate the elaboration.

[2017-07-03 09:18] jarradh opened #190 "JSON-RPC Server Delegation in Network Configuration"
While we're adding a network switching, we should also enable the mode to define a JSON-RPC server, when run in this mode the client does no Blockchain synchronisation at all. With this we can address sluggish/slow/hot phones with high battery consumption.

In this mode Whisper is still functional but `eth_` rpc calls (either via IPC or HTTP) are proxied to the JSON-RPC server, `sendTransaction` m

[2017-07-03 09:21] jarradh commented on #190
We had done a similar scheme 2 years ago in Java, obviouslt out of date but may help illustrate it.  You can see under `light` in https://github.com/status-im/ethereumj-personal/tree/187a6b49c3933d19fe02c7270ebdf927a8beb93d/ethereumj-core-android/src/main/java/org/ethereum/android/jsonrpc

[2017-07-03 16:42] influx6 commented on #190
@jarradhope From my understanding after looking over at things, what we want is a basic jsonrpc that proxies all requests to the underline address given in the issue
https://status-im.slack.com/archives/G2B3U1AKE/p1499073510578589.

## Questions:
1. Is there currently an underline JSON-RPC server being used or is a new one needed to be coded up.
2. Are the given resource links the available rpc se

[2017-07-03 17:25] rasom commented on #190
1. Currently we are running local node with JSON-RPC server
2. Can't answer
3. We definitely need to intercept all `shh_` calls, and some `eth_` calls. For instance no need to intercept [eth_getBlockNumber](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethblocknumber) call, but we have to intercept `eth_sendTransaction`, etc.
4. Directly, we will run local node with enabled Whisper prot

[2017-07-03 17:28] influx6 commented on #190
@rasom Most grateful for the help.

[2017-07-04 02:22] jarradh commented on #190
Could you please clarify what you mean by 'basic jsonrpc' ? I feel there may be some miscommunication here, as our definition for this changes frequently in discussion. As we should be intercepting API requests _at a lower level_ than the running HTTP JSON-RPC server. So that IPC requests can also be relayed to a HTTP JSON-RPC server.

1. We are currently running a HTTP based JSON-RPC sever but **

[2017-07-04 12:44] influx6 commented on #190
Thanks for the response @jarradh and clarifications, as to your desired questions.

1. As to `filter out`, I referred to the function of processing calls which does not fall under the `eth` prefix commands, since those would be proxied to whisper.
2. As to `current RPC Server`, referred to the fact an existing rpc server is currently being runned by `NodeManager` and I envisioned a second one woul

[2017-07-05 04:41] jarradh commented on #190
Perfect that sounds fine to me.

[2017-07-07 14:59] influx6 commented on #190
Let's do a reset on the explanations, I feel this following below properly explains my current confusion with this issue. @jarradh @tiabc

Hello, am wondering if I could have your view to help me better understand what needs to be done, on this issue https://github.com/status-im/status-go/issues/190

Currently the target is to:
1. Provide a rpc proxy to handle all requests internal and deliver to

[2017-07-07 15:05] influx6 commented on #190
I do believe I can resolve the issue, but I need to properly understand what is required and what the current problem is, the current explanation is good but since am new to the code base, certain facts and architectural details are lacking, which would have properly allowed me to understand and see the requirement more clearly.

[2017-07-07 15:34] tiabc commented on #190
Let me try to make a brief general answer, I'll answer with more details some later.

The point is that devices running Ethereum node quickly run out of battery and DAG is also a problem. This makes the application too heavy for such small devices as smartphones.

The current decision is to proxy all possible request to "public Ethereum nodes", i.e. infura. That said, we still need to run super-li

[2017-07-07 16:49] influx6 commented on #190
So basically in code terms. We need the ethereum.Node to be initialized only with the whisper service and then a custom RPC seevee, whicj handles all request internally.

Which piece of the API handles signing for `eth_` requests?

[2017-07-08 04:41] tiabc commented on #190
Not for all `eth_` but only for `eth_sendTransaction`. You can find all such places by searching by the `SendTransactionRequest` constant: https://github.com/status-im/status-go/blob/develop/geth/jail/requests.go#L16

The actual sending is processed here: https://github.com/status-im/status-go/blob/develop/geth/jail/requests.go#L56

The whisper service and shh service are the same thing, by the wa

[2017-07-08 06:20] tiabc commented on #190
@influx6, by the way, if you're unfamiliar with transactions' sending flow, look here: https://github.com/status-im/status-go/wiki/Notes-on-Bindings#6-sending-transactions

[2017-07-08 06:22] influx6 commented on #190
Greatly appreciate the explanations, will take the time to study them and
come up with a approach, which will be describe here for review.

On 8 Jul 2017 07:20, "Ivan Tomilov" <notifications@github.com> wrote:

@influx6 <https://github.com/influx6>, by the way, if you're unfamiliar
with transactions' sending flow, look here: https://github.com/status-im/
status-go/wiki/Notes-on-Bindings#6-sending-

[2017-07-10 07:20] jeluard opened #192 "Send result miss returned value when multiple transactions are pending"
When a transaction is sent (but unsigned) then discarded `send` command unblocks with payload:

[code]

If multiple transactions are pending (i.e. unsigned) and one is discarded associated `send` unblocks with:

[code]

I would expect both answers to contain the `returned` field.

[2017-07-10 19:23] influx6 commented on #190
Hello @jarradh, @tiabc and @rasom

Although am slowly grasping the core pieces of this codebase and what this issue entails, thanks to the explanations provided, though there are still spots needing clarification, but for now, my current plan is to do following:

- Implement a partial router which maps out needed calls as appropriately
Currently we know we are making calls when related to rpc usin

[2017-07-11 06:38] tiabc commented on #192
What's the expected behavior for signals? Please, correct me where I'm wrong.

For `SendTransaction(...)`: hang on until the transaction is processed and always return its `id`, `hash` and `error` indexed by its id.

For `DiscardTransactions(id)`: once the tx has been discarded, immediately return the very same data structure with `error: "transaction has been discarded"`.

What branch are you usi

[2017-07-11 08:26] rasom commented on #192
@tiabc as far as I know we don't have any problems with signals atm. The problem is that if we are making two RPC `eth_sendTransaction` calls (from jail) and both stay pending. When we discard one of them we don't receive proper response from RPC call with, it doesn't contain `error`.

I will double-check what exactly response we receive.

[2017-07-11 09:09] jeluard commented on #192
@tiabc this is with `status-react` develop.

Exactly what @rasom said. `DiscardTransactions` is fine.
`status-react` side we don't get the `returned` part when multiple transactions are in flight (not sure how `returned` is mapped from the go answer).

[2017-07-11 10:59] tiabc commented on #190
Sounds good if I understand everything correctly. Don't forget about IPC, requests can also come from there.

The only hurdle I'm thinking about is that `eth_sendTransaction` requires correct `nonce` which is continuously incremented every time a transaction is sent. So a local node needs to synchronize the blockchain to be able to sign and send a valid transaction. In this case we'll have to addi

[2017-07-11 12:44] influx6 commented on #190
@tiabc  Yes, that is something am worried about, currently I have not scoped the IPC code base yet, if you have source links of areas where the request for ipc get's resolved then please do share.

Currently, `eth_sendTransaction`, logic seemed to be handled in the `jail instance` piece of the `geth/jail` package, unless have misunderstood things, I refactored that piece and it's other areas to di

[2017-07-11 13:10] influx6 commented on #190
Seems like IPC calls might have become obsolute as stated in https://github.com/status-im/status-go/issues/134.

Please review when possible @tiabc.

[2017-07-11 13:26] tiabc commented on #190
Oh, yes, you seem right, `status-react` must already be using the `CallRPC` signal instead of requesting rpc or ipc endpoints.

Please, regard my answers with some degree of criticism as I'm pretty new to the project as well.

Regarding other thoughts, I'll review them later today or tomorrow.

[2017-07-11 13:35] influx6 commented on #190
Ah, sure, no problem. We both are new indeed, all the answer all help to formulate an initial plan. Thanks for the help.

[2017-07-11 14:36] tiabc commented on #192
Thanks. Let's get back to this issue when we finish #190.

[2017-07-11 18:57] influx6 commented on #190
@tiabc @jarradh @rasom

The latest commit #d0a02bd adds the necessary pieces to return a `rcp.Client` depending on the values of the `UpstreamConfig` params in `params.NodeConfig` and will dictate which client to return. But one more piece is missing for this initial setup which is finding the specific area which initiates the blockchain synchronization.

Initially I assumed the call to synchroniz

[2017-07-12 06:26] rasom commented on #190
@influx6 can you please open a new PR with existing progress for this issue?

[2017-07-12 06:26] tiabc commented on #190
Well, it seems ethereum synchronization is started there indeed. If you dive into it, you'll find `les.New` where all that initialization happens. Anyway, if you're unsure, you can comment out those lines, run the program and ensure there is no blockchain synchronization (and, hopefully, no errors). At least, `eth` and `shh` services are registered there and then start on `geth/node/manager.go:82`

[2017-07-12 14:44] rgeraldes commented on #122
Looking at this one @influx6 @tiabc.
Related to #87 (swarm service)
- Configuration support for enabling/disabling swarm service is already present.
Next steps:
- Add swarm service support
- Extend configuration (swarm options)

[2017-07-13 01:47] jarradh commented on #122
Running Swarm on mobile device is currently way too bandwidth intensive, we tried.
We're currently working with the Swarm team to create light swarm clients, which requires an economic stake in the network.

They can be found here.
https://gitter.im/ethereum/swarm

[2017-07-13 01:56] rgeraldes commented on #122
You caught me watching a swarm video :)
https://www.youtube.com/watch?v=TJ968X-IFZY&t=433s

Thanks for the info.
Ricardo

On Thu, Jul 13, 2017 at 2:47 AM, Jarrad <notifications@github.com> wrote:

[2017-07-13 01:57] rgeraldes commented on #122
@jarradh Thanks for the info.

[2017-07-13 06:55] #177 closed

[2017-07-13 11:12] #132 closed

[2017-07-17 07:19] #188 closed

[2017-07-17 07:26] tiabc commented on #186
You can find answer here, for example:
https://stackoverflow.com/questions/24506648/adding-local-aar-files-to-gradle-build-using-flatdirs-is-not-working

[2017-07-17 07:26] #186 closed

[2017-07-17 10:03] tiabc commented on #94
jarradh:

[2017-07-18 14:09] rasom opened #196 "Function passed to setInterval inside the jail is never called"
js code:
[code]
In result a new message should be sent to chat every second, but this doesn't happen.

<img width="364" alt="screen shot 2017-07-18 at 16 23 00" src="https://user-images.githubusercontent.com/2364994/28321160-2cb9d910-6bdb-11e7-9f50-9503fdedf3a8.png">

`setInterval` is defined because there are no errors in output and the second message is sent successfully.

`develop` branch was u

[2017-07-18 14:10] tiabc opened #197 "Create a separate application for Mail Server and Push Notifications"
Jarrad:

So it's a good idea to separate concerns and, probably, deploy the new application separately.

Do not start this task, it's currently more about investigation.

TODO: This issue should be revisited and all parts of our application should be separated.

[2017-07-21 12:02] tiabc opened #198 "Remove unused vendor libraries"
Figure out which vendor libraries are unused, ensure they're really unused by both Go code and outside world and remove them.
You may have to repeat this several times as some libraries may become unused when you delete some others.

This should be done after `bug/whisper-on-geth1.6.1` has been merged into `develop`.

[2017-07-21 13:11] Annorstades opened #199 "Using status-go in an Android React Native app"
Hi!

I've been trying to get geth working in my React Native (Android) app without success. I've been following [this guide](https://github.com/ethereum/go-ethereum/wiki/Mobile:-Introduction). I can't wrap my head around how it's being done in Status.

That being said, my ClojureScript skills are well below standard. How would I go about using web3 in standard Javascript without relying on, say, I

[2017-07-21 13:16] tiabc commented on #199
Hi! Great that you want to play around with Status. As this is not a concrete issue and rather a discussion topic, I'd recommend you to visit our slack channel: status-im.slack.com and ask your questions in #dev-status

Generally, `status-go` is the application `react-native` interacts with, it's not an ordinary geth node (though it's embedded in `status-go`).

Good luck and looking forward to see

[2017-07-21 13:16] #199 closed

[2017-07-21 13:20] Annorstades commented on #199
Thanks, I'll do that! Apologies for cluttering up the issues page.

[2017-07-23 13:35] tiabc opened #200 "Perform general code refactoring"
7. In many places we use switches over the three networks we support (mainnet, ropsten, rinkeby). This may be meaningful to move them into a separate interface encapsulating common operations for these networks and created by a factory.
8. I believe transactions sending and deciding which server to use for it deserve better architecture. Let's examine if concerns are separated correctly and fix it

[2017-07-24 06:16] tiabc opened #201 "Make CI build versions for every platform and upload it into some storage"
Every release there should be a binary for every platform.

[2017-07-24 16:07] rgeraldes commented on #136
- RequestHistoricMessages method was obsoleted from whisper api (version > 1.59).
- from version > 1.59, shh.post supports direct p2p communication which allows us to request historic messages. (by adding a value to targetPeer)
- Necessary input for the message is a time range (lower value must be given by the notification) and topic of the messages that we should query from the mail server databa

[2017-07-24 16:13] rgeraldes opened #204 "Persistent Store - Whisper Notification Service"
- the main limitation of this release is the fact that all the data is in-memory, i.e. no persistent store, and once node goes down subscriptions, chats, devices - all that info is gone.

[2017-07-24 16:17] tiabc opened #205 "Fix develop"
Make it stable by fixing tests and ensuring everything works as expected.

[2017-07-25 12:18] influx6 commented on #196
This is an odd situation, has I have the loop working properly in a test case with Jail which can be found in commit #9f52be21. I will investigate further, properly due to the way the loop is registered,  but I can not say for sure for the main time.

[2017-07-26 08:19] rgeraldes opened #206 "whisper: mocha tests"
- Current tests (static/tests/whisper.js) were done for geth 1.5.9 and api changed drastically according to Victor

[2017-07-26 14:29] influx6 commented on #98
@tiabc  What's the status of this issue?

[2017-07-26 14:30] influx6 commented on #108
@tiabc  @jarradh  At what point should we begin looking at this issue?

[2017-07-26 15:11] tiabc commented on #98
@influx6, not sure what he meant. @jarradh, could you advise?

[2017-07-26 16:57] tiabc commented on #176
I'm fixing it as part of #205.

[2017-07-26 17:46] tiabc commented on #185
So, what needs to be done.

CHT stands for Canonical Hash Trie. It's used in Ethereum, for example, for quick blocks syncing in the LES protocol. New trie is created every 4096 blocks (you can find a corresponding constant in go-ethereum).

Currently even in `bug/whisper-on-geth1.6.1` we get a lot of "Invalid CHT Proof" messages and these two bugs may be related to one another.

So, under this tas

[2017-07-26 19:32] sla-shi opened #209 "Network Switching"
json-rpc server delegation

[2017-07-26 20:02] sla-shi opened #210 "Push Notifications & Mailbox (status-go)"
Offline Message Retrieval

 TODO:
1. Think about probabilistic routing:
https://github.com/ethereum/wiki/wiki/Whisper-PoC-2-Protocol-Spec
https://www.microsoft.com/en-us/research/wp-content/uploads/2008/02/iptps08-quasar.pdf
2.

[2017-07-26 20:25] sla-shi opened #211 "ENS - Usernames"
Username Registration Designs
ENS Smart Contracts

[2017-07-26 20:27] sla-shi opened #212 "ENS - Domain Name Resolving"
In Address Bar (Java/ObjectiveC)
Send Transaction

[2017-07-26 20:33] sla-shi opened #213 "Basic API"

[2017-07-27 09:13] sla-shi opened #214 "Security Audit (status-go)"
Out of Beta scope but needs attention when we have time.

[2017-07-27 09:29] sla-shi opened #215 "Basic Commands Polishing (status-go)"
The basic commands are the commands we have right now but none of them are polished

[2017-07-27 09:41] tiabc opened #216 "Investigate possible optimisation for setInterval"
Currently, every Call with javascript containing setInterval a new goroutine with ottoext.Loop.Run() is created. With many calls with setInterval this could lead to unrestrained goroutine leakage, memory consumption and thus worse performance and user experience.

Ideally, we should have a single `loop.Run` per jail cell which accepts calls and run javascript inside. Under this issue you should in

[2017-07-27 09:55] jarradh commented on #213
https://github.com/status-im/status-react/wiki/Hackathon-Feedback

[2017-07-27 10:11] sla-shi commented on #118
@jarradh @farazdagi can we close this?

[2017-07-27 10:13] #86 closed

[2017-07-27 10:13] sla-shi commented on #86
Closed per @jarradh suggestion.

[2017-07-27 10:14] #59 closed

[2017-07-27 10:15] sla-shi commented on #108
Closing per @jarradh suggestion.

[2017-07-27 10:15] #108 closed

[2017-07-27 10:25] sla-shi commented on #28
Waiting for ability to import/export wallets before doing this.

[2017-07-27 10:29] sla-shi commented on #58
Linking with #28.

[2017-07-27 10:33] sla-shi commented on #94
Per discussion with @jarradh and @tiabc - when there's not enough space switch to the RPC delegated network.

[2017-07-27 10:35] sla-shi opened #217 "Swarm Support (status-go)"

[2017-07-27 10:39] sla-shi commented on #141
@jarradh @carlbennetts @farazdagi please verify this has been turned off.

[2017-07-27 10:45] sla-shi opened #218 "Optimization of status-go"
Victor Notes:
1. there are issues reported with iPhone4 (constant crashes)
2. additionally, when provided CHT block gets older - we start seeing syncing problem
3. we need to improve memory footprint of the exposed statusd node (tweaking cache is your first stop, obviously)

[2017-07-27 16:09] adambabik commented on #149
Hey @tiabc @rasom, I have a few questions:
1. `NodeConfig` has a few fields with other configs like `WhisperConfig`, `SwarmConfig` etc. Do we want to validate them as well or here we just focus on `NodeConfig`?
2. Do you have a list of fields that definitely should be validated? If not I will walk through all fields and validate these that can be validated.

[2017-07-27 16:12] tiabc commented on #149
1. Yes, all of them should be validated.
2. Please, look through every field.

The point here is that users can manually edit configuration and we should ensure that it looks like valid configuration.

[2017-07-27 17:09] MarinX commented on #192
The problem is in the second transaction sending - takes more time then sending first transaction.
I tested it on go side and there was no problem, RPC is returning error message that transaction has been discarded.

However, sending second transaction and calling `DiscardTransactions` with empty string returns no response -> issue here.

Please test on `status-react` side and see if you have tran

[2017-07-28 06:20] MarinX commented on #201
Which platforms ?
Which storage ?
Please provide more insights about this task.

[2017-07-29 02:37] tiabc commented on #201
It's essential to build only 2 binaries:
- Android.
- iOS.

We also need binaries for development but they can be built ourselves. The important thing is to build them for the Clojure team.

Not sure which storage to suggest. My options are currently restrained to some Travis storage in case there's one or our scaleway cluster. @roma, @jarradh, you already tried to put binaries to some artifacts s

[2017-07-29 07:30] MarinX commented on #201
@roma said that we are using  [artifactory](https://www.jfrog.com/) for storing.

Artifactory has an API for uploading. Idea is to create a script that will upload binaries. Then, connect script on travis for every build.

[2017-07-31 06:31] tiabc opened #220 "Fix and refactor tests"
@adambabik:

Moreover, our tests fail due to several reasons:
1. Peers availability at the moment of running a function: `no suitable peers available`.
2. Lack of time to synchronise the whole blockchain: `nonce too low`, `insufficient funds ...`.
3. Race conditions from #176: `leveldb: closed`.

All of that is unreliable and we should make tests reliable and reproducible.

We'll have to work on s

[2017-07-31 06:35] tiabc opened #221 "Refactor logging"
@adambabik:

We should make logs easy to read and distinguish which of them are Geth's and which are Status's. Internally there should probably be a separate logger for Status.

[2017-07-31 07:03] tiabc commented on #192
@roma, can you test it on your side, please?
@MarinX, yes, let's do it. Probably, we should check if the transaction id is empty at the moment internally during processing and not in our Facade (signals).

[2017-07-31 07:14] jeluard commented on #192
I will look at it later today. If you can add some more error checking that would be great, yes!

[2017-07-31 07:57] MarinX commented on #192
Added more tests.
Seems like error is ok handled from DiscardTransaction.
Here is the log on `status-go` side sending 2 transactions and discarding 1.
I tried sending >2 transactions, and discarding the first, the last, the middle and every call was success.
So, I cannot reproduce the bug on `status-go` side.

[gist log](https://gist.github.com/MarinX/20c6e778258ec7c1b4dbeabb3dffbc1b)

[2017-07-31 11:23] tiabc opened #222 "chat: delivery protocol documentation"
The current state of push notifications is not great.

@rasom:

We should create an actual document explaining what's currently done and what we should change in it.

[2017-07-31 13:48] MarinX commented on #201
@jarradh I need rights to modify jenkins and artifactory to finish the task.
Explained here:
[Jenkins->Artifactory](https://www.jfrog.com/confluence/display/RTF/Jenkins+Artifactory+Plug-in)

[2017-07-31 16:06] influx6 commented on #185
Before I can fully take on the issue, I need to understand how ethereum handles CHT and how this is read, written and retrieve. From my research, I can tell the following:

In accordance to `goethereum's code` in https://github.com/ethereum/go-ethereum/blob/master/light/odr_util.go#L44-L66, every operation with CHT requires a underline `ODRBackend` which is in fact a instance of a `ethdb.Memdataba

[2017-07-31 18:20] rgeraldes commented on #222
@jarradh @sla-shi

Main problems:
1. Availability
2. Centralisation

An idea just popped up for inboxing to avoid centralization,

**We want to deliver sentences**. What if instead of trying to deliver the sentence as a whole we could split it up into words and have a group of peers delivering each word (DHT algorithm) - **Each peer contributes with part of the work** - , meaning that groups of pe

[2017-07-31 23:22] jeluard commented on #192
Can you do the following test: send 2 transactions, discard the first sent.

I can see differences in behavior depending on which transaction gets discarded first but not quite sure yet if this is go side or not.

[2017-08-01 04:11] tiabc opened #223 "Refactoring: Introduce vendoring library"
# Problem
Currently our vendor folder is filled with a lot of uncontrolled dependencies and:
1. We don't know which versions of our dependencies we use.
2. We can't control which of them are really used and which aren't.
3. They're hard to control.

However, it's not as straightforward as we have our own changes to some libraries under the `vendor` folder, for example, for `go-ethereum`. The solut

[2017-08-01 07:38] tiabc commented on #178
@adambabik:

[2017-08-01 07:43] tiabc commented on #222
1. That idea sounds nice from the first glance but our payload is not sentences. It's random JSON payload sent by our react counterpart. This is what spreading the payload over words will bring:
- More data traversed through network because every word will probably have significant header overhead. This overhead will even become bigger in the future provided that we'll have the double ratchet encr

[2017-08-01 09:01] MarinX commented on #192
Its same.
I tried multiple variations to reproduce, same thing.
I always receive RPC response on go side.

Here is the gist log for discarding first transaction
[gist2.log](https://gist.github.com/MarinX/eba0f6f908d1dd952f6146ae82942123).

Btw..which node network are you using ? (Ropsten / Rinkeby). I doubt it is a node network issue, but again, we can try it.

[2017-08-01 10:19] tiabc opened #224 "--http flag in the les command is not considered anymore"
Even if you run `build/bin/statusd les --http true`, this flag is not considered meaning that the RPC server is not started.

Expected behavior: `--http` flag controls the RPC server start and equals to `false` by default (should add a comment in the `statusd help les`).

Steps to reproduce:
1. `make`
2. `build/bin/statusd les --http true`
3. Search for `8545` in console (the default RPC port) and

[2017-08-01 12:06] rgeraldes commented on #222
Thanks for the comment @tiabc,
Indeed right, with end to end encryption 1 is not feasible if privacy is a concern which is.
2. Having Farmers is indeed an option for the long term and it's being done right now for a good number of decentralized storage services.

Short term option for devcon3 would be to propagate email/notification nodes and do direct p2p messages to retrieve messages as soon as

[2017-08-01 15:06] rgeraldes commented on #222
(random ideas - data storage)

In complex banking systems they basically have to archive data every day due to the huge amount of data, but the important data remains in the main db/cached.
Older account history can still be accessed.
If we followed the whatsapp model, we would be removing the data every time the recipient gets the data but we would still have a problem, which is when the user sta

[2017-08-01 17:23] #224 closed

[2017-08-01 18:30] tiabc commented on #98
Related to https://github.com/robertkrimen/otto#halting-problem
There's also an associated pull request: https://github.com/status-im/status-go/pull/103

@influx6, I'll add this issue to the next iteration. The task will be to find out what the problem was and fix it in the end.

[2017-08-01 18:39] influx6 commented on #98
@tiabc Awesome, thanks. Will await further orders.

[2017-08-02 07:53] MarinX commented on #221
Just a note.
This `status-go` packages uses `go-ethereum` log and should be replaced by using new logger.

- geth/params/config.go
- geth/api/backend_test.go
- geth/api/backend_jail_test.go
- geth/api/api_test.go
- geth/api/backend_txqueue_test.go
- geth/api/backend.go
- geth/node/node.go
- geth/node/signals.go
- geth/node/rpc_test.go
- geth/node/manager.go
- geth/node/manager_test.go
- geth/node/

[2017-08-02 18:23] influx6 commented on #185
From my other searches, though less fruitful on the concept of generating CHT, most of what have read and seen cycle around the synchronization of blocks through a LightClient, which am guessing is near related to the trie generating for CHT, where the light client synchronizes nodes into a `ODR database`.

As in https://github.com/ethereum/go-ethereum/blob/master/light/lightchain.go.

[2017-08-02 23:48] rgeraldes commented on #222
Adding some info on the topics addressed above:

- Improving the reliability of message delivery (whisper)
- Implementation of some security processes

https://www.microsoft.com/en-us/research/publication/quasar-a-probabilistic-publish-subscribe-system-for-social-networks/ (Publish/Subscribe for DHT based on Topic probabilistic routing)
https://eprint.iacr.org/2017/713.pdf (Security of instant Mes

[2017-08-03 10:31] MarinX opened #229 "Log rotate"
Currently, `go-ethereum` log package does not support log rotating which can be issue on mobile devices.

The `go-ethereum` logger depends on the package [log15](github.com/inconshreveable/log15)

[2017-08-03 10:34] MarinX opened #230 "Separate log files"
After we finish task #221  we should separate log files ( status-go geth and geth )

[2017-08-03 12:05] tiabc opened #231 "Promise not resolved for fetch"
@cristian.sandu on our Slack channel:

[code]

[2017-08-03 12:13] adambabik commented on #178
List of commits: https://github.com/status-im/go-ethereum/wiki/%5BWIP%5D-Rebase-Geth-1.6.7-stable

[2017-08-03 13:15] #179 closed

[2017-08-04 05:06] tiabc commented on #205
Note to myself:
Revisit `build/env.sh go test -v ./geth/api -testify.m TestJailVMPersistence` and ensure `total` is updated for concurrent requests.

[2017-08-04 09:48] themue opened #233 "Extend documentation about go-ethereum changes"
Add more information about _where_ and _why_ `go-ethereum` has been changed by status.

Document is in according wiki at https://github.com/status-im/go-ethereum/wiki/%5BWIP%5D-Rebase-Geth-1.6.7-stable.

[2017-08-04 09:55] tiabc commented on #149
@rasom:

[2017-08-04 10:05] tiabc opened #234 "Resume mining on the scaleway cluster thus making our Ropsten faucet work"

[2017-08-04 11:34] influx6 commented on #231
The issue for this is related back to #208, has fetch also depends on the event loop. I need to investigate `ottoext` to come up with a strategy to call `ottoext.Loop.Run()`, my current approach of taking the previous `fetch` handle and map it with one that calls the needed method fails.

Will dive into `ottoext/fetch` package then come up with a solution for this.

[2017-08-04 11:55] tiabc commented on #196
Thanks, @influx6, nice work!

[2017-08-04 11:55] #196 closed

[2017-08-04 14:01] tiabc commented on #178
@adambabik, thank, very fast execution. There may be bugs. If so, we'll fix them directly in the original branch.

[2017-08-04 14:01] #178 closed

[2017-08-06 15:28] tiabc commented on #176
Rebase onto geth1.6.7 hasn't helped, the issue seems to be on our side or in the code we added into `go-ethereum`.

[2017-08-06 19:39] adambabik commented on #220
Is it possible to create a small private ethereum network? E.g. run a bunch of processes and test against that network? It would be reliable and deterministic because each tests run would start with the same block id. Of course, in the next step (e.g. if a PR merges to master), the CI system should run the tests against the public testnet.

[2017-08-07 03:11] tiabc commented on #220
@adambabik, yes, it's possible and this is stated in idea for refactoring 1 :)
I also sometimes saw that in one test blockchain synchronisation was completed and in the other test it was started over again either from scratch, or from the known CHT root, not sure which.

Yeah, agree about public net. We can also run them on push, not necessarily on pr and run tests again the private net locally. C

[2017-08-07 05:19] tiabc commented on #141
Does somebody http://46.101.129.137:3001/faucet-info? It's still on DigitalOcean and will be inaccessible once we switch it off.

@rasom, what URLs from any status cluster does `status-react` use? I don't want to break anything.

[2017-08-07 07:39] MarinX commented on #221
#235

[2017-08-07 08:28] rgeraldes commented on #222
Friday: Mail Server Tests ; top right corner
![screenshot at aug 04 16-21-47](https://user-images.githubusercontent.com/26251983/29018078-940e0ca0-7b51-11e7-8ebd-82f063c0a599.png)
Saturday - Standard bloom filters implementation (https://github.com/rgeraldes/bloom)
Sunday - Started to implement probabilistic routing into whisper

[2017-08-07 09:43] tiabc opened #238 "Outline actual cross-projects architecture"
Overall architecture is necessary to ensure we're all on the same page and where different integration problems may arise. This is also the first step to facilitate QA test `status-go`.

Infrastructure documentation would also be nice: how the project is built, how it communicates with `status-react` (and development workflow of that) and what our scaleway cluster is used for.

[2017-08-07 09:46] tiabc opened #239 "Implement Java transport to call status-go bindings for QA"
# Problem

The QA team needs to test status-go functionality and has no way of doing that.

They need:
1. A simple interface to call status-go functions.
2. Automate their acceptance tests based on some scenarios.

# Implementation

Implement (or steal from status-react) a Java application which is capable of invoking status-go bindings with a JSON RPC interface.

# Acceptance Criteria

1. The QA

[2017-08-07 10:33] oskarth commented on #222
Work in progress document here: https://docs.google.com/document/d/1OgjnY8ps8lVA4dIohwkfGK9HVt0nZxEWbuNdb7BX5-o/edit#

[2017-08-07 10:48] #205 closed

[2017-08-07 14:43] tiabc commented on #234
Mining is resumed on 1 server and it's enough for our current needs. If there's a need to mine more, it can easily be achieved.
However, this task can't be finished because some of the servers refused to start again the similar was as here: https://community.online.net/t/unable-to-start-servers/2985/13
We need to obtain control over the remote `cht.json` (which is already done) and, probably, wait

[2017-08-07 15:39] tiabc commented on #220
This should be removed from milestone 1 as this issue has grown into a giant requiring tremendous amount of work and none of its parts is quickly resolvable.

[2017-08-07 15:45] sla-shi opened #242 "status-go to show "node offline" when device is offline"
TBD by @tiabc

[2017-08-07 15:50] tiabc commented on #242
It seems `status-go` responds with `no running geth node detected` instead of `node offline` when the node is offline. If so, it needs fixing: non-running node is different from an offline node.

@rasom, could you, please, add your requirements if there are any and write which `status-go` signals `status-react` calls from the moment of application start until the error in question?

[2017-08-07 15:53] sla-shi commented on #242
This issue is linked to https://github.com/status-im/status-react/issues/1295

[2017-08-08 11:58] rgeraldes commented on #222
Thanks @oskarth,
I will add the info to the document as soon as I have a confirmation from the team that we can proceed.

I've attached the proposed document. It addresses the following topics:
	- email server creation (according to Victor in #136 our cluster already contains some wnodes)
	- enabling the email service for users
	- relationship between push notifications and email server
	- deliver

[2017-08-08 12:10] rgeraldes commented on #136
Part of #222

[2017-08-08 12:18] rgeraldes opened #243 "whisper: probabilistic routing"
- Add probabilistic routing to whisper

References:
- https://github.com/ethereum/wiki/wiki/Whisper-PoC-2-Protocol-Spec
- https://www.microsoft.com/en-us/research/wp-content/uploads/2008/02/iptps08-quasar.pdf

[2017-08-08 13:31] influx6 commented on #185
@tiabc  My current attempts at starting a node seperate from the operation in source keeps failing with an error `ConfigDir being locked by another process` (see https://github.com/status-im/status-go/blob/c9b528bce36e66ff550aa4a62d206d7098141996/geth/node/node_test.go#L47-L155). So will shift to modifying this area to achieve the same effect (see https://github.com/status-im/status-go/blob/c9b528

[2017-08-08 16:19] tiabc commented on #185
@annadanchenko, an update on CHT. @flexsurfer correctly noted that it may be related to servers restart.
The point here is that `go-ethereum` tries to obtain CHT-related block from its peers (in case it doesn't already have one) and if the peers don't respond within a small time window, it proceeds without them starting synchronization from the last known place (in case of a new installation - fro

[2017-08-09 10:48] adambabik commented on #223
I am not sure we need #198 to be blocking this issue. Most of the mentioned vendor tools can figure out a list of dependencies from the source files. The challenge might be to sync dependencies versions...

From my experience:
1. glide is the most complex but also provides the best feedback. I was constantly hitting small issues though.
2. govendor is in the middle in terms of complexity.
3. godep

[2017-08-09 13:55] influx6 commented on #150
We need to update current version of `web3.js` in use to resolve issues with test cases in #241.

[2017-08-10 05:40] tiabc opened #245 "Wait for CompleteTransaction or DiscardTransaction for requests to the upstream server"
Currently, the wait for `CompleteTransaction` or `DiscardTransaction` is done deeply in `go-ethereum` and it only works for transactions signed and sent locally. However, if an upstream json-rpc server is specified, this won't happen as it should.

Internally, I suppose, we should move that waiting logic from `go-ethereum` into Status thus reverting this commit: https://github.com/status-im/go-eth

[2017-08-10 05:42] tiabc commented on #190
After all work has been done, I've realised that the associated pull request has a semantic bug: in case of a configured upstream rpc server transactions are sent immediately without waiting for `CompleteTransaction` or `DiscardTransaction`.

However, the pull request has become too big and been lasting too long to last anymore and my decision here would be to merge this pull request after release

[2017-08-10 08:58] adambabik commented on #164
I verified this with the newest `geth` (1.6.7 and 1.7.0-beta) and `status-go` "develop" branch and it works fine now.

[code]

BTW there is no `key` property in `shh.post()` anymore, but it's replaced with `pubKey`.

[2017-08-10 08:58] #164 closed

[2017-08-10 09:44] adambabik commented on #239
I image that this interactive console could have a similar interface to `geth attach/console` so that exposed bindings could be called like this:

[code]

Also, to clarify, this issue is not about interacting with `status-go` running on a device/simulator but rather running it as a process on a host machine?

[2017-08-10 12:45] tiabc commented on #239
The point here is not to over-complicate things. `geth attach` is fine if it's done faster than some cli-based tool or an RPC server.

I think the first step is definitely to just run it on a host machine. @annadanchenko, please, consult here how you see that.

[2017-08-10 13:09] tiabc commented on #150
Clear requirements for the issue:
1. Write Rinkeby configuration test.
2. Fix whisper tests caused by rebase onto geth1.6.7.

[2017-08-10 13:29] tiabc commented on #234
Most of the servers have been restarted and mining has been resumed on one of them. If we need more mining strength, we may start mining on some of other servers as well.

[2017-08-10 13:29] #234 closed

[2017-08-10 13:38] #221 closed

[2017-08-10 14:45] rgeraldes commented on #206
- Current mocha tests represent a test of a flow proposed some months ago for push notifications
As soon as we discuss the solution next week (14/Aug), we can start doing them taking into account the new web3.js being used in order to test the flow without the need of a front end.

[2017-08-10 15:31] tiabc commented on #149
Thanks, @adambabik, clean execution!

[2017-08-10 15:31] #149 closed

[2017-08-11 11:51] sla-shi commented on #206
Per @tiabc This highly depends on the new workflow for push notifications and should probably go to the 3rd milestone.

[2017-08-12 08:00] tiabc opened #246 "Tests refactoring: reliable blockchain synchronisation"
Ensure blockchain synchronisation is reliably finished before tests are run.

Acceptance criteria:
1. All tests requiring synchronised blockchain are only run after blockchain has been fully synchronised.
2. Blockchain synchronisation indication is done reliably, i.e. using polling to `eth.syncing` and `eth.isSyncing` instead of `time.Sleep()`.
3. Blockchain is only synchronised for the first test

[2017-08-13 07:03] tiabc opened #247 "Refactoring"
1. Rename methods of the `common.JailCell` interface:
CellVM() -> VM()
CellLoop() -> Loop()
2. Get rid of duplicated code in common.Jail struct methods: Call, JailCell, JailCellVM, GetCell.
3. Get rid of the `Jail` prefix everywhere in the `jail` package.
4. Rewrite tests to use `jail.NewJailCell` instead of `jailInstance.Parse(testChatID, ``)`.
5. In JailTestSuite initialise the internal jail wit

[2017-08-13 15:40] jaredbowie opened #248 "Error: Missing trie node"
[missing-trie-node.zip](https://github.com/status-im/status-go/files/1220548/missing-trie-node.zip)
Receiving:
`Error: Missing trie node ` followed by a unique hash when running some functions from my contract in the status browser.  This works fine in metamask and also works fine when calling the functions from myetherwallet.

This was happening in im.status.ethereum-fe78e7.apk and a few other ni

[2017-08-13 15:46] tiabc commented on #222
@rgeraldes where can I find what was requested for the issue? The current implementation and changes we should introduce. What stated in the document seems already known except for your proposal to use direct connection.

[2017-08-13 16:01] tiabc commented on #248
Thanks for the detailed report, we'll look into that.

[2017-08-14 07:40] annadanchenko commented on #239
@adambabik @tiabc I'm fine with running status-go on host machine.

[2017-08-14 09:23] sla-shi opened #249 "Implement an initial version of push notifications"
So the first step towards push notifications implementation is having an initial version up-and-running to improve upon. For that purpose we'll keep it really simple and only implement it:
1. For 1-1 chats (only in case group chats add significant complexity).
2. Payload is sent and stored unencrypted (only in case basic encryption adds significant complexity).
3. Random thoughts on future push no

[2017-08-14 10:13] MarinX commented on #242
#250

[2017-08-14 11:23] rasom opened #251 "slow CreateAccount method"
`CreateAccount` started to be slow in [`develop`](https://github.com/status-im/status-go/commit/02705906469a1a44e6ea89e51eb71628045b0b5f), it takes 20-45 seconds before callback is invoked on real device (iphone 6s).

Previously it worked much faster, 1.5-2.0 seconds in `bug/whisper-on-geth1.6.1`.

[2017-08-15 06:34] tiabc opened #252 "Two accounts on the same device can't communicate to one another"
See https://github.com/status-im/status-react/issues/1391 for details.

[2017-08-15 07:14] tiabc commented on #251
@rasom:

[2017-08-15 08:12] tiabc commented on #246
@oleg-raev (side contributor) is looking into that.

[2017-08-15 09:04] MarinX opened #254 "Introduce a new signal StopNodeAsync"
Exported method `library.go`
`
func StopNode() *C.char
`

There is currently no way to check when node is stop. (only error is returned).
We should find a way to stop node synchronously and introduce(maybe?) a new signal StopNodeAsync.

For now its causing issue in testing when we need to stop node.

[2017-08-15 09:16] tiabc commented on #254
Currently, `StopNode` stops the node asynchronously.

Now `StopNode` will stop the node synchronously and asynchronous stop will be handled by a new signal: `StopNodeAsync`.

We'll only provide a new signal under this issue and wait until you switch to it before changing `StopNode` to stop the node synchronously.

@rasom what do you think about this API change?

[2017-08-15 09:24] rgeraldes commented on #252
Whisper, caches the envelope when he publishes the message in the network it in order to ignore duplicate envelopes in the future.
This means that if we have two accounts one the same mobile phone, **we are using the same whisper node** which will publish the message, so we will not be able to receive it in a different account.

[2017-08-15 10:15] rgeraldes commented on #136
As discussed, we will send the payload via push notification so this issue is no longer valid.

[2017-08-15 10:17] rgeraldes commented on #222
As discussed earlier today, we will move forward with Victor's flow.

[2017-08-15 10:27] tiabc commented on #190
Phew. Thanks, @influx6, that was really hard one.

[2017-08-15 10:27] #190 closed

[2017-08-15 11:42] tiabc opened #255 "Ethereum logs are not shown and the output is barely readable by human"
After #221 has been implemented, we can easily see StatusIM logs. However, they're shown this way: https://goo.gl/qu4MrE where there's:
1. No way to turn on ethereum logs.
There must be the way. Ethereum logs must also be turned on by default.
2. Logs output is not readable by humans.
Output should be coloured, not written for machines.

[2017-08-16 08:19] MarinX commented on #251
I did a test to call CreateAccount and it does not takes that much.
Log output:
[code]
**Time elapsed 0.266428395  seconds** - which is not a full second.
Please check the `status-react` code and try to do timing on functions.

[2017-08-16 08:21] rasom commented on #251
The difference is noticeable only on real mobile device.

[2017-08-16 13:29] tiabc opened #257 "Implement some means for profiling status-go"
Acceptance criteria:
1. Profiling can be turned on with a path for the profile and turned off using a signal.
2. Profile file is written on any device profiling is invoked for further investigation.

I see it as a separate isolated service which is turned off by default and may be turned on on demand.

[2017-08-16 13:37] influx6 opened #258 "Refactor access with proper mutex guard"
Currently we have in `geth/node/manager.go` (see https://github.com/status-im/status-go/blob/develop/geth/node/manager.go#L35-L45), where we have both intention in code to guard synchronous access to most fields through the embedded mutex.

## Problem
But we currently have in https://github.com/status-im/status-go/blob/develop/geth/node/manager.go#L69-L71 and in many other areas within code where

[2017-08-16 13:40] tiabc commented on #251
Please, start doing #257 under this issue. No need for signals now, just a separate profiling service which automatically starts when CreateAccount is invoked and stops when it finishes.
The path for storing the profile file is worth discussing with @rasom. And after @rasom runs the code, you'll have all the data to dig in and spot the issue without unneeded back-and-forth.

[2017-08-17 10:16] tiabc opened #259 "Write documentation how our faucet works and about common operations with it"
Last time our faucet broke it took about several days to fix.

It must be clear in the document:
1. What pieces our faucet consists of.
2. How to deploy the faucet node.
3. How to start, stop, restart and view logs on the server.
4. How to update or introduce changes into it.

[2017-08-17 12:09] tiabc opened #260 "setInterval keeps on posting updates after the account has been switched"
@rasom:

so when user opens chat `init` function is called and every 3 seconds a new message appears. The problem is that when we login to another account bot’s vm is still running and messages are sent to this another account

The reason:
@adambabik:

The point is that we should ensure we destroy all jail cells upon account switching and stop all ottoext loops.

[2017-08-17 13:50] influx6 commented on #176
During my tests runs am yet to see any panics beyond timeouts:

[code]

[2017-08-17 15:22] influx6 commented on #176
Am noticing continous failure of `TestDoubleCompleteQueuedTransactions` to finish it's run before panic `panic: whatever you were doing takes toooo long:` occurs, we need to investigate later.

[2017-08-18 16:29] influx6 commented on #249
Though abit unrelated to firebase, but might help to provide ideas on encryption of messages between end to end users and if possible transfer such ideas into firebase.

https://medium.com/@wireapp/the-challenge-of-implementing-ios-share-extension-for-end-to-end-encrypted-messenger-dd33b52b1e97

[2017-08-18 16:38] tiabc commented on #222
Please, actualise the current documentation: https://github.com/status-im/status-go/wiki/Whisper-Push-Notifications with the new flow, architecture decisions and whisper5 code snippets.

Can you also draw a scheme or describe how we communicate with firebase servers and how device subscribe for push notifications?

[2017-08-19 08:55] annadanchenko opened #263 "Investigate: Confirming 1 transaction results in 2 transactions being created if recipient username contains ^ and tap on Confirm button several times"
### Description

*Type*: Bug

*Summary*:
Investigation is needed as this issue can't be reproduced via same steps/build/device but is critical.

1 send transaction resulted in 2 transactions. So, you sign 1 transfer of 10 ETH and then app makes 2 transfers, of 20 ETH in total.  It was possible to reproduce when:
- recipient username contains ^, e.g. "^name"
- sender taps 2 or more times on Confirm

[2017-08-21 10:32] jarradh commented on #251
Can we please confirm this is using LightScryptN and LightScryptP, if it's taking longer on mobile device but not on desktop it's probably using StandardScryptN and StandardScryptP

[2017-08-21 11:42] influx6 commented on #161
I have the initial systemd files for rinkey in commit b0dab806fadd4c396a7bae853837928503e1807b. But testing in a docker container is not possible, found out too late, will get a linux vm running on my mac to validate that they do work.

Am not sure we want `start` and `stop` option, so for now, it will simply boot up `statusd` as a solo command.

[2017-08-21 11:46] MarinX commented on #251
I can confirm that we are using `LightScrypt`.
From go-ethereum node config there is an param `UseLightweightKDF` [here](https://github.com/status-im/status-go/blob/278b231efad38927396829e619e4965c5523a0f2/vendor/github.com/ethereum/go-ethereum/node/config.go#L356) to use `LightScrypt`. We are sending it [here](https://github.com/status-im/status-go/blob/278b231efad38927396829e619e4965c5523a0f2/ge

[2017-08-21 16:19] influx6 commented on #246
@tiabc Can I get code points/lines where the test/code resets the synchronized blockchain data?

[2017-08-21 17:24] influx6 commented on #246
After testing abit, the current approach in my mind as an initial resolution of sync status is to query `eth_syncing` method over the ethereum JSON API. We will need a periodic check atleast till sync is done for now, Polling basically. (see https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_syncing).

The `eth.isSyncing` is good but am not sure how well we can lock a callback has this might need

[2017-08-22 01:41] tiabc commented on #246
@influx6 don't forget that it should work for both cases:
1. When sync hasn't yet started.
2. When it started but not finished.

[2017-08-22 02:50] tiabc commented on #260
@oleg-raev is looking into that. Please, don't take this issue.

[2017-08-22 04:13] tiabc opened #265 "App crashes after running for a while"
After running an application for a while (about 10 minutes) several times, I've seen this panic:
<img width="1273" alt="screen shot 2017-08-18 at 10 32 20" src="https://user-images.githubusercontent.com/2167748/29548387-8cc9d796-872a-11e7-8211-3a2fa16b3645.png">

This happened with our faucet which uses almost the latest status build. The problem started occurring after geth1.6.7 rebase, maybe ear

[2017-08-22 10:14] influx6 commented on #246
@tiabc Yes, true. When syncing indeed has begun we will receive objects has response for `eth_syncing`, currently it we can know using the poll method when it's already started and syncing, since we get continuous feedback as to current sync state.

We will naturally have to hook up into the part that registers for synchronization to account for when the synchronization is expected to start, if lo

[2017-08-22 16:05] tiabc commented on #265
Couldn't reproduce it locally. Will leave here for a while.

[2017-08-23 14:18] adambabik opened #267 "Remove dependency on cht.js hosted in Github"
When Github is down, the app can't be started because it depends on `cht.js` file located in https://gist.githubusercontent.com/tiabc/83ed515fbb0c0e9d39700a6279072b6a/raw/a8c7b08488fab3c1d9139b18af33da3df823e3ff/cht.json.

AC:
* `cht.json` hosted on Github is deprecated and won't be updated after this issue is resolved but it will stay for backward compatibility,
* `cht.json` will be embedded into

[2017-08-23 14:42] adambabik commented on #223
There is one more that might be an official one https://github.com/golang/dep

[2017-08-23 14:44] adambabik commented on #267
Might be related to https://github.com/status-im/status-go/issues/242 as if the file is not accessible, `{"error":"there is no running node"}` is displayed.

[2017-08-23 14:49] jarradh commented on #267
cht.json should also have a locally included resource as a fallback, and if it timesout completely then syncing can happen from 0%

We certainly shouldn't have this as somethign that breaks the application

[2017-08-23 14:59] tiabc commented on #267
Ideally, `cht.json` should be fetched from some CDN network, we shouldn't care about its availability and should fallback to some reasonable (the current) default configuration in case of failure.

[2017-08-23 15:16] tiabc commented on #223
I think this is the first option we should consider.

[2017-08-23 19:15] influx6 commented on #246
There was a better way discovered around https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/les/api_backend.go#L133-L135 and https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/eth/downloader/downloader.go#L243-L269.

They do provide a far more reliable means of validating start and progress of node synchronization.

[2017-08-24 08:53] #255 closed

[2017-08-24 11:56] adambabik opened #268 "Save status-go and geth logs to a file"
After refactoring logging, we disabled saving logs to a file. We must enable it as without that we have no insight into logs in a simulator or a device.

AC:
* if `LogFile` in `NodeConfig` is enabled (has a non-empty value), logs must be forwarded to that location,
* as `LogToStderr` is not used, change it to `LogToStdout` and if set to `true` print logs to stdout.

[2017-08-24 12:09] adambabik commented on #268
**Q: How to find `geth.log` when using iOS Simulator?**

Run the app and go to `~/Library/Developer/CoreSimulator/Devices`. In there, there are directories with UUIDs of devices. The quickest way of finding the file is to run `find . -iname "geth.log"` as otherwise you need to figure out UUID of the device and the app.

[2017-08-24 13:47] influx6 commented on #246
@tiabc i will need further clearification on this area:

```Some tests reset chaindata. For such tests it's required to copy the chaindata in a separate directory and run that test there.```

Do I refactor the code to copy the chain data from the current one into a new place to ensure it reuses the data? Currently previous chain data is utterly deleted.

See https://github.com/status-im/status-go/

[2017-08-24 14:08] oskarth commented on #268
@adambabik Just FYI you can get a device list (name -> uuid) with `instruments -s devices`

[2017-08-24 14:23] adambabik commented on #268
Nice tip! Thanks @oskarth

[2017-08-24 18:52] tiabc commented on #246
Replied in the pull request.

[2017-08-25 10:30] oskarth opened #273 "Running app on iOS device in Xcode results in EXC_BAD_ACCESS in Go code"
Running `status-react` app on real iOS device in Xcode results in the following error: `go-stack/stack.findSigpanic.func1 Thead 5: EXC_BAD_ACCESS`. Since this is Go code it is presumably related to `status-go`.

Normally there's a workaround where you can stop the build/running in Xcode and restart the app on device itself. This seems to stop us from using Xcode's debugging facilities (breakpoints

[2017-08-25 10:31] adambabik opened #274 "All commands should be properly routed to the local node or the specified upstream"
Infura does not support Whisper.

@rasom

This means that all `shh_*` commands should not be forwarded to the upstream RPC client.

@influx6

https://github.com/status-im/status-go/blob/develop/geth/node/manager.go#L506-L551

There was an idea to solve it with two new methods: `NodeManager.RPCLocalClient()` and `NodeManager.RPCUpstreamClient()`.

[2017-08-25 10:32] adambabik opened #275 "web3.eth.accounts should not be forwarded to the upstream RPC client"
As we store all accounts in the local node, `web3.eth.accounts` command should also not be forwarded to the upstream RPC client.

[2017-08-25 10:42] oskarth commented on #273
Possibly related to https://github.com/status-im/status-react/issues/1687

[2017-08-26 11:37] #267 closed

[2017-08-26 14:33] tiabc commented on #274
These calls weren't even supposed to be forwarded to an upstream node, this requirement just got lost among other questions. So there's no point in relaying whisper calls to an upstream just because we must run whisper in order to receive messages. And if we run whisper, we can send messages using it.

This issue should be more systematic and be renamed to "Figure out the rules of routing geth com

[2017-08-27 06:53] tiabc commented on #176
Reproduced on the latest geth version ebf41d16a04420a3eba082cc0a1783c93caa1f86:
<img width="1205" alt="screen shot 2017-08-27 at 13 50 26" src="https://user-images.githubusercontent.com/2167748/29747762-bffedc80-8b2e-11e7-8421-d3a1571da0fd.png">

Started with `build/bin/geth --testnet console`, run for some time and typed `exit`.

[2017-08-27 09:26] tiabc opened #277 "Prevent chaindata from infinitely growing on mobile devices"
Currently, there're no means of restricting chaindata from growing in size and it may become a problem if an application has been installed on a device for a long time and make users re-install the app to work around this.

Since we start blockchain synchronisation from a recent block, we can safely delete old chaindata and re-synchronise from the known CHT. This is the proposed solution.

[2017-08-27 09:43] tiabc commented on #251
@rasom:

[2017-08-27 09:43] tiabc commented on #275
See https://github.com/status-im/status-go/issues/274#issuecomment-325133285 for details.

[2017-08-27 09:43] #275 closed

[2017-08-28 02:53] tiabc commented on #238
In slack:

[2017-08-28 08:18] tiabc opened #278 "Make errors contain error code along with an error message"
@jeluard:

All error responses to status-react must start sending an error code.

There's a document accessible for editing by StatusIM members with the specification: https://goo.gl/gQ1CDK

[2017-08-28 08:29] #136 closed

[2017-08-28 11:30] influx6 commented on #274
@tiabc so as I understand this, we need to write a doc in the wiki for the project detailing the different JSON RPC commands and where they go in the two category:

- Upstream
- Local

Futhermore, we should also break these commands down into the following sets:

- Blockchain state requests
- Whisper commands
- Geth commands
- Account Commands
- ...etc

Before we continue any implementation work f

[2017-08-28 11:41] tiabc commented on #274
Not exactly. Also, don't take this too seriously, this doc may be finished in half an hour in a table of 3 columns (command, destination, comment). You can use any format: either google doc, or wiki, whichever is faster for you.

Just take the list from https://github.com/ethereum/wiki/wiki/JSON-RPC and assign whatever destination each command deserves and write a comment why. That's it. You can p

[2017-08-28 11:42] influx6 commented on #274
Alright, understood.

[2017-08-29 01:58] tiabc commented on #242
Taking over.

[2017-08-29 02:00] tiabc commented on #257
Taking over.

[2017-08-29 17:09] divan commented on #251
I can confirm that issue appeared in the above-mentioned commit (https://github.com/status-im/status-go/pull/189). On an Android Emulator the difference in CreateAccount between 06758cdb7f7b5240f78aeaa144c6e14b8cffff19 and 4d4c3ea4aabeb98e00644c197fd094fc69996b88 is 3-7s vs 20-29s.

Adding profiling didn't work for me (the app crashes with no output on `SetCPUProfile()` in emulator), so I did manu

[2017-08-29 17:16] influx6 commented on #274
@adambabik @rasom  @tiabc Included within the google doc spreadsheet is a initial breakdown of rpc commands and what i believe the current area it should be process to be.

https://docs.google.com/spreadsheets/d/1N1nuzVN5tXoDmzkBLeC9_mwIlVH8DGF7YD2XwxA8BAE/edit?usp=sharing

Please review. Also, we should move it into status own account.

[2017-08-29 20:42] divan commented on #251
After analysis of original commit and debugging code introduced, the problem seems to be in this loop: https://github.com/status-im/status-go/blob/develop/vendor/fknsrs.biz/p/ottoext/loop/loop.go#L172
[code]

The same instance of `Loop` is being run multiple times. In the first run it executes and `close(l.ready)` closes the channel.
On subsequent run, it goes into the `outer` loop and `<-l.ready`

[2017-08-30 03:47] tiabc commented on #274
@adambabik please, be first to review the list of commands.
@influx6 you can create a document from your status.im account and share with the company next time. But don't bother for now, this will eventually go into wiki anyway.

[2017-08-30 06:14] tiabc commented on #251
Thanks, Ivan. I'll check your fix later today.

[2017-08-30 08:29] adambabik commented on #274
I found just one thing - `eth_accounts` - which I guess should be handled with the local node. Others look good to me (bear in mind that my Eth knowledge has still some gaps :P).

[2017-08-30 10:36] tiabc commented on #274
@adambabik this is why I've asked you to review first - to become more familiar with Ethereum JSON-RPC API.
@influx6 thanks, fixed possible wrong places. Please, proceed with the implementation. I'd currently stick to whatever we already have even if its architecture is not great just to finish it today. All that architecture about a delegate json rpc server deserves a thorough look and refactorin

[2017-08-30 10:52] tiabc commented on #251
So yeah, the same loop should never be run several times. The current behaviour is happening due to #260 with the easiest fix to destroy all existing jail cells upon account switching. @influx6 has been right about this.
@divan please, tackle #260. I believe it can be finished really fast.

[2017-08-30 11:10] tiabc commented on #260
#216 seems a blocker here as I currently see no way of terminating an already running ottoext.Loop in its api.

[2017-08-30 11:48] tiabc opened #281 "Revise and fix `make lint` output"
Code linting is important and we should make it usable.
We need to make its output usable by adding appropriate exceptions and fixing existing warnings.

This issue has come from https://github.com/status-im/status-go/pull/261#issuecomment-325962004

[2017-08-31 08:25] flexsurfer opened #282 "accounts can't login in latest develop"
so i have account, it was created in ropsten and i can't login

`Logged in account:  {"error":"cannot retrieve a valid key for a given account: no key for given address or file"}`

Steps to reproduce
1. Using release version of status-go, create new account
2. Change status-go on latest develop
3. Try to login

[2017-08-31 11:17] adambabik commented on #242
I checked how the node behaves when there is no network and it works just fine. It does not report any issues, it just sits and waits. When the connection is back it starts synchronisation.

So, I started thinking that it shouldn't really be status-go's job to figure out if there is the Internet connection at the moment but rather the app itself. Mobile OS-es have much reacher APIs to check that.

[2017-09-01 06:10] divan commented on #216
I believe this issue was a part of https://github.com/status-im/status-go/pull/283#issue-254384600 and can be closed.

[2017-09-01 09:11] adambabik opened #284 "Revise Travis CI integration"
To better understand what's wrong with the status-go in the CI pipeline, we should divide it into multiple steps like "build", "lint", "unit test", "integration test" etc.

Recently introduced [Build Stages](https://docs.travis-ci.com/user/build-stages/) could be useful.

[2017-09-01 12:19] oskarth commented on #273
To trigger this error on the command line, you can do:

[code]

This drop you into LLDB. After some time has passed you get:

[code]

[2017-09-01 14:09] tiabc commented on #257
Thanks, @adambabik and @MarinX.

[2017-09-01 14:09] #257 closed

[2017-09-01 18:45] tiabc commented on #268
Thanks, @divan, nice work!

[2017-09-01 18:45] #268 closed

[2017-09-01 20:17] #251 closed

[2017-09-01 20:18] tiabc commented on #251
@annadanchenko @rasom please, verify.

[2017-09-02 04:12] cytl5yy opened #286 "A/libc: Fatal signal 11 (SIGSEGV) at 0x00000000 (code=1), thread"
when i add statusgo-android-16.aar to android project , i call  Statusgo.StartNode(config) function to sync chaindata ,the demo crash and the log show "A/libc: Fatal signal 11 (SIGSEGV) at 0x00000000 (code=1), thread", what the problem?    the function Statusgo.GenerateConfig(dataFolder, 3,1)  can normal call.

[2017-09-02 07:29] tiabc opened #287 "Refactoring: improve error handling"
Currently, errors are just passed to the caller which is not great for problem solving. Let's utilise github.com/pkg/errors and wrap errors with context, not just pass them without handling.

[2017-09-02 12:24] divan opened #289 "Race condition in Jail with promises/callbacks in JS code"
Introducing  [support for callbacks for setTimeout/setInterval](https://github.com/status-im/status-go/pull/283) and [Fetch API support](https://github.com/status-im/status-go/pull/288) to the Jail, also introduced the race condition in a `otto` package, which may result in runtime panic error.

For example, two quick consequent calls in test code to `cell.Run('fetch(...).then(...)')` produce pani

[2017-09-02 15:59] oskarth commented on #273
One reason this would be very useful for https://github.com/status-im/status-react/issues/1687: The debugger disables Watchdog timeouts, which seems to be the proximate cause for `0x8badf00d`.

https://developer.apple.com/library/content/technotes/tn2431/_index.html#//apple_ref/doc/uid/DTS40017497-CH1-COMMON_CAUSES_OF_CUSTOMER_FACING_ISSUES-DEBUGGER_EFFECTS

[2017-09-02 17:04] #247 closed

[2017-09-03 16:56] tiabc commented on #286
Could you provide a step-by-step description of what exactly you're doing? We use bindings in our build perfectly fine.

[2017-09-03 17:18] tiabc opened #294 "Sub-accounts are not listed for eth_accounts call"
One of the side effects of #272 is that `AccountsListRequestHandler` isn't registered during `StatusBackend.registerHandlers` call: https://github.com/status-im/status-go/blob/9f57cf422f46dbd52a11bcc7971204b9d748ec4d/geth/api/backend.go#L208

Due to that our `eth_accounts` call processing won't trigger post processing for accounts and won't append sub-accounts.

Acceptance criteria:
1. There's a w

[2017-09-03 17:40] tiabc commented on #230
I can't see any point in doing this now.

[2017-09-03 17:40] #230 closed

[2017-09-04 09:10] oskarth commented on #201
Here's the current flow as outlined by @rasom https://github.com/status-im/status-go/wiki/status-go-deployment

[2017-09-04 10:55] #216 closed

[2017-09-04 11:41] tiabc opened #295 "Revise log levels"
We have lots of logs and I sometimes see improper logs usage and have some questions about logging while reading tests output, for example.

My suggestion is reduce our log levels down to only a few characterised by their purpose perfectly described by their name:
- `WakeMeUpInTheMiddleOfTheNight`: status-go `ERROR`, go-ethereum `ERROR`.
- `ToInvestigateTomorrow`: status-go `WARN`, go-ethereum `WA

[2017-09-04 11:53] influx6 commented on #295
I fully agree that logs should never terminate a program.

[2017-09-04 12:08] tiabc commented on #295
@influx6 https://github.com/status-im/status-go/pull/269

[2017-09-04 13:00] #245 closed

[2017-09-04 13:00] tiabc commented on #245
@adambabik like a boss.

[2017-09-04 13:32] adambabik commented on #295
I think we also must ask ourselves a few questions:
1. What do we need logs for? Is it for devs to make sure the program works correctly during development? Is it for debugging? Is it for metrics?
2. Why do we want to limit the number of logs? Is it problematic because of the environment our app runs in (devices with limited disk space)? A problem during development where there is too much noise?

[2017-09-04 16:03] tiabc commented on #295
1. Logs are needed for:
- To help us debug the application during development.
- To help us fix issues with deep integration with ethereum.
- To give us background when status-react team faces weird behavior and asks us what's going wrong.
- To give us more background what's going wrong when we run tests both manually and on CI.
- To help us figure out what's going wrong when somebody sends us a b

[2017-09-04 17:09] adambabik commented on #295
Now we have all requirements for the logs, thanks!

The only concern I have is what log-level will be used by status-react? Because you don't want to collect `DEBUG` logs in production. However, following the proposal from the first comment, we won't have `INFO` logs in status-go and it's gonna be pretty hard to figure out

and

Also, I don't get this line ragarding `DebugGeth`:

So, we won't be a

[2017-09-04 23:27] divan commented on #295
I totally agree that this problem should be attacked from the perspective of asking proper questions - how do we use logs, who is consumer of the logs, in what situations?

Generally I see logs as a "program asking for human attention". When program prints error message, it means:

So here are my thoughts on important aspects of logging for us:
## Log levels
#### Error log level
Something, like, `

[2017-09-05 07:07] adambabik commented on #295
Regarding the log format, we can have different formats depending where the program is run. The current format is great for terminals but might not be the best in production, especially, if we would like to export logs to other systems in order to analyze them.

I think this topic is quite important, to have some guidelines and make the codebase more consistent.

One more technique I used when wri

[2017-09-05 10:06] annadanchenko commented on #185
@tiabc Issue can be always reproduced (10 times out of 10 attempts) on PR build for`upgrade status-go and web3.js` this commit is used in the PR branch https://github.com/status-im/status-go/commit/680090bdf9d786f834143d0228543695f97bd960

[2017-09-05 13:33] tiabc opened #297 "Create a signal to retrieve the current minimum possible fee"
Related to https://github.com/status-im/status-react/issues/1386

There shouldn't be a situation when a transaction has been created with a fee that is less than the least possible to be mined. For that, we should invent a reliable solution to provide `status-react` with the least possible fee.
As I know, this is somewhat fixed but if not, it's just a good idea to do it and don't think about it in

[2017-09-05 13:48] tiabc commented on #297
It turned out that status-react computes fee other way.

[2017-09-05 13:48] #297 closed

[2017-09-06 11:13] adambabik opened #298 "Clean up go-ethereum fork after porting TxQueueManager"
There were quite a few changes to go-ethereum in https://github.com/status-im/status-go/pull/261. They should be ported to `1.6.7-stable` branch.

[2017-09-06 13:10] rgeraldes commented on #248
@jaredbowie is there any update on your end?

[2017-09-06 13:59] adambabik commented on #192
I tried to reproduce this bug and there is something wrong with discarding transactions, but it's a bit different. I used status-go (https://github.com/status-im/status-go/commit/8fb2424ea564beddf42b522066c52ca670ec82a9) and status-react `feature/upgrade-status-go-g0270590`.

### Scenario

1. Create a transaction for user A, but don't confirm it,
2. Create another transaction for user B, but don't

[2017-09-07 07:50] tiabc commented on #274
Thanks, that was good one!

[2017-09-07 07:50] #274 closed

[2017-09-07 08:19] adambabik commented on #242
I can't reproduce this bug. I used status-go (https://github.com/status-im/status-go/commit/8fb2424ea564beddf42b522066c52ca670ec82a9) and status-react `feature/upgrade-status-go-g0270590`.

It works as expected, i.e. I can successfully log in even if the Internet connection is disabled. After logging in, I can see a banner "Offline". Tested with iOS Simulator with disabled network before running t

[2017-09-07 08:35] adambabik commented on #298
It's done.

[2017-09-07 08:35] #298 closed

[2017-09-07 08:39] rgeraldes commented on #248
@jaredbowie the issue is related to a corrupted chaindata file and it was known as a problem in geth before but the core team has done some work on it and we've rebased our code to the latest versions of geth. In case you'd like to test with the latest version of status, you can find the build instructions here: https://wiki.status.im/contributing/development/building-status/
I'm going to close th

[2017-09-07 08:46] #248 closed

[2017-09-07 10:51] adambabik commented on #201
First, let's decide what we mean by "every release" @tiabc. Can we assume that every marge to master is a release?

Next, the flow (for the sake of clarity, let's assume a merge to master is a release):
1. Merge to master triggers Travis CI build,
2. Travis runs tests and make binaries,
3. If all is good, binaries are uploaded to Artifactory via API.

If Travis won't be able to build binaries, we

[2017-09-07 11:51] influx6 commented on #98
@tiabc After going through the code within the PR #103, it seems they were faced with an occurance, similar to something i had faced where a otto vm call, could lead to a undetermined block, this was added to create a timeout which would be set when run to cancel the currently running calls with panics, since there was no way of doing so cleanly.

In my jugement, i believe part of the issue i face

[2017-09-07 11:55] influx6 commented on #242
From what have read, this seem like most suited for the `status-react` team.  So will unassign myself from the issue.

[2017-09-07 14:57] influx6 commented on #295
Am not sure how everyone feels about structured logging (see https://medium.com/@tjholowaychuk/apex-log-e8d9627f4a9a).

What if we can introduce a structured logger but then having specific sinks where we rendered specific errors for human reading, more so, we can completed ignore certain logs that may not be suitable for use but needed for metrics or consumption over some external service.

Just

[2017-09-07 15:16] influx6 commented on #252
Whats the current plan as regards this issue, I would take it but am not fully understand what is meant to be done. if according to @rgeraldes, if it's a protocol issue then does that mean `go-ethereum` and if not, how are two accounts on the same device are expected to communicate.

When say communicate, do we mean:

- Send chat messages between the two
- Send ether between accounts.

In my mind,

[2017-09-08 07:59] #242 closed

[2017-09-08 11:55] #289 closed

[2017-09-08 12:33] #150 closed

[2017-09-08 12:36] adambabik commented on #201
Update: It's possible to use Travis CI to build and upload artefacts. It has a few downsides though:
1. It's slow as it needs to download a docker image. We can use `docker save/import` to cache it probably,
2. It can't (or will be hard) to make it a part of a complete CI/CD pipeline that involves also status-react and automated tests.

Having said that, I'd like to also explore building it in Jen

[2017-09-09 13:48] tiabc commented on #98
Closing due to @influx6's investigation.

[2017-09-09 13:48] #98 closed

[2017-09-09 14:20] tiabc commented on #201
Sometimes, we run into problems when asking the Clojure team to use some our branch of the latest `develop`. In this light every push to any branch is a release. The Clojure team should be able to use any our binary at any time without any additional efforts.

I don't have access to Jenkins. I think you should contact @annadanchenko for that.

[2017-09-09 14:42] tiabc opened #302 "sendTransaction hangs jail cell altogether"
Due to that, it's impossible to do any other requests to jail.

The decision is to:
1. Leave `sendTransaction` blocking.
2. If callback is provided, make it asynchronous.

[2017-09-09 15:32] tiabc commented on #302
This issue should be resolved once `sendAsync` is in place.

[2017-09-11 08:05] tiabc commented on #231
Fixed in #293

[2017-09-11 08:05] #231 closed

[2017-09-11 08:21] cytl5yy commented on #286
I clone the status-go project to my mac pc,  and set up docker  , then i follow the doc and use command "make statusgo-android"  to build ,finally  statusgo-android-16.aar will be created . I use the  statusgo-android-16.aar for my demo  and call  Statusgo.StartNode(config) function in my code ,some times later ,the demo crash and the log show "A/libc: Fatal signal 11 (SIGSEGV) at 0x00000000 (code

[2017-09-11 08:51] tiabc commented on #286
1. What branch are you using? Could you try the latest `develop` and say if it's helped? It still has some issues but this problem may already be fixed.
2. What's the config you're trying to run the node with?

[2017-09-11 10:14] cytl5yy commented on #286
I check the branch it is really * develop  .   the full code is ：
private void doStartNode() {
        String root = getApplicationInfo().dataDir;
        String dataFolder = root + "/ethereum/testnet";
        Log.d(TAG, "Starting Geth node in folder: " + dataFolder);

        try {
            final File newFile = new File(dataFolder);
            // todo handle error?
            newFile.mkdir(

[2017-09-11 10:18] cytl5yy commented on #286
I have other problem ,i test it for ios,and  sync the light chain, but i don't know how to get the progress ,can you help me .

[2017-09-11 11:39] divan opened #304 "Refactor RPC client code"
We currently have two different implementation of RPC client: `RPCManager` and `jail/RPCCLient`. Second client implements routing between Upstream and Local node, while first is not.

There seems to be no reason to have two separate implementations. The main reason they exists is legacy/refactoring.

Proposal is to implement RPC client functionality as a separate package that will be used by other

[2017-09-11 11:42] divan commented on #294
After some investigation, this issue has two overlapping possible reasons (in order of priority):

 - `eth_accounts` is being routed to the Upstream node instead of Local node.
 - our custom accounts filter handler is not registered (when `les` service is failed to start, doesn't matter for now)

The first one is due to existence of two different RPC client implementations (`RPCManager` and `RPCCl

[2017-09-11 20:29] tiabc commented on #282
@flexsurfer feel free to re-open if the issue reproduces.

[2017-09-11 20:29] #282 closed

[2017-09-12 01:46] #286 closed

[2017-09-12 02:00] cytl5yy opened #306 "Method is depricated and will be removed in future release: StartNodeRPCServer"
Now the function StartNodeRPCServer is be depricated ,how can i use Web3j to sendTransaction ?

[2017-09-12 06:17] oskarth opened #307 "Setup status-cluster wnode based on feature/notifications-refactor#249 branch"
For push notifications we need a wnode up and running with high availability that acts as an intermediary between device A, device B, and the push notification provider (Firebase).

- [x] Modify status-cluster scripts
- [ ] Deploy status-cluster

[2017-09-12 07:40] flexsurfer opened #308 "UI does not respond on tap for about 30 seconds after login or after activating application from background"
It doesn't depend on syncing, looks like during running node it takes 100% CPU

related issue on react-native https://github.com/status-im/status-react/issues/1144

[2017-09-12 08:02] tiabc commented on #308
Why do you think it's status-go issue? Or is it something like investigate together?

[2017-09-12 08:08] flexsurfer commented on #308
Yeah, we should investigate it together

[2017-09-12 08:09] flexsurfer commented on #308
But we call `startNode` and i can't see any processes on js side, so i think something happens on go side

[2017-09-12 08:55] adambabik commented on #252
If someone changes an account, don't the app stops and starts the node again? What does determine if it's the same or a different node?

[2017-09-12 09:58] adambabik opened #309 "Create a dedicated Jenkins node for status-go"
Currently, status-go shares the Jenkins instance with the status-react team. As the requirements of both teams are different, we should create a new Linux node in AWS (or similar) where status-go builds could be executed.

Acceptance criteria:
- a new Jenkins node runs Linux with the prepared environment (docker and Go installed),
- the new node is available in Jenkins master and can be used by jo

[2017-09-12 10:19] tiabc commented on #309
We have yet unused nodes in our scaleway cluster, is it enough? If so, please, dm me with your public key.
Please, note that all deployments should be accomplished using Ansible and status-cluster repo. Please, check your access.

[2017-09-12 11:05] adambabik commented on #309
Some global cloud provided could be more useful for us as the Test Team needs one more Jenkins node in the USA for Appium tests. Sauce Labs doesn't have a DC in Europe and tests are super slow.

[2017-09-12 12:23] rgeraldes commented on #252
In detail:
https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L706

Envelope is cached when it's published. Since it's already cached it will not post the event to the watchers.

[2017-09-12 14:42] rgeraldes commented on #307
https://github.com/status-im/status-cluster/pull/1

[2017-09-12 15:40] tiabc opened #312 "Introduce a private Ethereum network and write a single test on it as a PoC"
# Problem Overview

We have a number of integration tests under `./geth/api`, `./geth/jail` and `./geth/node` and they primarily run on Ropsten (some on Rinkeby). This is a problem because it takes longer and is more expensive than it should be:
1. We have to spend our faucet balance on tests.
2. This introduces delays until blockchain is in sync to the most recent state, which may sometimes take

[2017-09-12 15:49] divan commented on #312
As `geth` is Go-based (and we, in fact, vendoring it in codebase already), would it be feasible to run the equivalent of `geth --nodiscover --maxpeers 1 --networkid 118 --datadir "data1" --port 30301 console` as a part of the test code directly, instead of launching as separate process/container?

Perhaps it'd be possible also to use memory listener and avoid using OS sockets and network completel

[2017-09-13 15:49] divan commented on #238
Some initial design drawing is here: https://docs.google.com/drawings/d/1D2wukqYWockdMe3zQK4Y600nAIxp9weV5AdWCuCtzgI/edit

[2017-09-14 09:46] cytl5yy opened #314 "How can i use status go to sendTransaction to other account ?"
I call StartNode  successed,and can create Account in andorid and ios， but when i want to use web3js lib  to call sendTransaction ,i need to call StartNodeRPCServer function to start local http RTC server , but now the function StartNodeRPCServer is be depricated , the sendTransaction called failed . how can i sendTransaction with   status-go ?  thanks!

[2017-09-14 09:46] #306 closed

[2017-09-14 14:46] tiabc opened #317 "Rebase onto geth1.7.0"
Note precaution measures mentioned in https://blog.ethereum.org/2017/09/14/geth-1-7-megara/ while doing it.

[2017-09-14 16:32] oleg-raev commented on #260
As commented @divan for https://github.com/status-im/status-go/issues/216#issuecomment-326497825

@tiabc
Is it means that now this issue blocked by the issue #283 ?

[2017-09-14 16:42] tiabc commented on #260
@divan why? There's still no cleanup after `SwitchAccount`, right?
@oleg-raev it's either not blocked or not actual any more. Let's wait for @divan's reply.

By the way, regarding your architecture outline. The whole jail looks like it's dependent on the current, say, execution context where there's at least an injected account and an associated jail.
Not sure that execution context is the best na

[2017-09-14 18:28] divan commented on #260
@tiabc my comment was related to #216 only, which doesn't say anything about switching account, but mainly about implementation of single goroutine with loop per jail.

[2017-09-14 18:34] tiabc commented on #260
Thanks, @divan.
@oleg-raev the status of this issue is up-to-date, you can freely work on it.

[2017-09-14 20:14] #304 closed

[2017-09-14 20:35] tiabc opened #319 "Update CHT"
https://github.com/status-im/status-go/wiki/Updating-CHT

[2017-09-14 20:49] tiabc opened #320 "Devise how to update CHT automatically"
# Problem Overview

CHT stands for Canonical Hash Trie - a concept of go-ethereum allowing to start synchronisation from the last trusted state which we use to avoid overheating phones, long synchronisation time and battery drain.

Currently, CHT is embedded into status-go source code and it brings a number of problems:
1. We have to manually update CHT for every release.
2. As we release about tw

[2017-09-15 06:09] rasom opened #322 "Running application without status-go"
The application makes phone hot and runs slowly when is running with `status-go` with LES protocol enabled, but there is a chance that there are other performance issues not related to `status-go`.
Status will not be fully functional without running node, but we should be able to create account, login, open chats, open profile settings, change profile image etc.

The main goal of testing is to fig

[2017-09-15 06:10] #322 closed

[2017-09-15 06:51] annadanchenko commented on #263
Can reproduce on develop build  0.9.10-92-gefd5a4c8+ with same steps
Sender: Android 7.0 real device Google Pixel XL
Recipient: iOS 10.3.3, real iPhone 6s
https://app.testfairy.com/projects/4803622-status/builds/6539809/sessions/23/?accessToken=ZyBkaPA4Bfeg8DI0RcA-y1XnWgc

[2017-09-15 07:32] tiabc opened #323 "Document signals status-go sends to status-react"
# Problem Overview

There're a number of places where status-go can send signals to status-react:
- `transaction.queued`
- `transaction.failed`
- `node.started`
- `node.stopped`
- `jail.signal`

Which can be found at https://github.com/status-im/status-react/blob/2a9ac44564ec7d8122c09324f861f879cda0ebf9/src/status_im/ui/screens/events.cljs#L321

Currently, there's no quick way to:
1. Understand wh

[2017-09-15 07:51] adambabik opened #324 "Document JavaScript injected into Jail"
# Problem Overview

[Jail](https://github.com/status-im/status-go/tree/develop/geth/jail) is initialized with some JavaScript payload which is used by both status-go and status-react. We need to document what functions and objects are created and what's their purpose.

There are things like:
- `context` and method `addContext`,
- `_status_catalog`,
- patch of `web3.send` with `jail.Send()`,
- and

[2017-09-15 08:17] tiabc opened #325 "Make it possible to analyse which messages were lost or resent in the test environment"
# Problem

We're partly a messenger and there shouldn't be situations where messages are lost or delivered for a long time.

@annadanchenko  is doing internal sessions "test Status as user" and sometimes we face weird problems with delivery and there's no way to find an internal problem during these sessions or after them. What makes things worse is that when anybody comes across a problem at any

[2017-09-15 08:44] #294 closed

[2017-09-15 09:05] oskarth opened #326 "Ability to trigger push notifications via public API"
As a status-react developer, I want a way to trigger push notifications to a specific device in order to solve the basic user story. The basic user story is that A sends message to B and B gets a push notification if (a) A is in B's contacts and (b) B have the app in background.

The most straightforward way to achieve this as far as I can tell is to expose a new public API function call `Notify`.

[2017-09-15 09:24] rasom commented on #263
I was able to reproduce this on real device. We will need to make "Confirm transaction" button atomic on status-react side, but anyway we also need to fix double confirmation on status-go side.

[2017-09-15 16:54] #273 closed

[2017-09-15 16:54] #326 closed

[2017-09-16 09:24] oskarth opened #333 "Handle Batch JSON-RPC requests properly"
# Problem

Running latest `status-go` `develop` on `status-react` results in the following error: `MESSAGE: json: cannot unmarshal array into Go value of type rpc.jsonrpcMessage`. It was noticed when we upgraded to a newer version of `status-go` in https://github.com/status-im/status-react/pull/1584

Regression appears to have been introduced in https://github.com/status-im/status-go/commit/9a5c17

[2017-09-16 17:50] divan commented on #333
This error is because underlying Go RPC code expects JSON-RPC payload, but receives array with object. Error description is quite accurate.

Here are real example from logs (within the same session):

[code]

It's not clear why, but some payloads from `web3.js` comes in form of JSON objects, others - in form of array of objects.

In the original status-go jail code there is a code there seems to b

[2017-09-17 18:24] tiabc opened #336 "Fix TestJailWhisper"
# Problem

`TestJailWhisper` is very brittle and often fails. It was noticed to fail often in #321 in the associated build: https://travis-ci.org/status-im/status-go/builds/276538718?utm_source=github_status&utm_medium=notification

However, if you look at the last 2 `develop` builds you'll see that it fails as well:
https://travis-ci.org/status-im/status-go/builds/276518047#L5110
https://travis-c

[2017-09-17 21:01] tiabc opened #337 "Migrate to Go1.9"
# Problem

Come on, it's Go1.9.

# Implementation

Migrate to Go1.9 everything we have considering [Go1.9 Release Notes](https://golang.org/doc/go1.9)

# Acceptance Criteria

The application works as before, tests pass and there's no significant performance degradation.

# Notes

#223 may be a blocker as we may need to upgrade to newer versions during this migration.

[2017-09-18 07:12] rasom commented on #333
This happens because `CallRPC` method doesn't handle batch RPC requests properly http://www.jsonrpc.org/specification#batch .
After fix introduced in https://github.com/status-im/status-go/pull/334 we have another error, response formatting for batch response is broken (it should be an array as in request):

[code]

[2017-09-18 07:35] rasom commented on #333
Handling of batches in rpc calls in go-ethereum https://github.com/ethereum/go-ethereum/blob/a8eafcdc0e01ba1adcb25bfb0e06e7575c1a436e/rpc/json.go#L130

[2017-09-18 07:45] adambabik opened #338 "Refactor TxQueueManager and TxQueue"
# Problem

As we moved the transaction queue from go-ethereum to status-go, we haven't refactored it. The code has some unused fragments and `TxQueue` is overly complicated.

# Implementation

- [ ] change package name to `transaction`,
- [ ] get rid of `common.QueuedTxID`,
- [ ] change `NewTransactionQueue` to NewQueue`,
- [ ] remove setting handlers from `StatusBackend.registerHandlers()`,
- [ ]

[2017-09-18 08:53] #263 closed

[2017-09-18 10:04] rgeraldes commented on #222
[documentation](https://drive.google.com/open?id=0Bzx8OwJf9nm5eDNQUUpTNl9BZlU)

[2017-09-18 10:27] rgeraldes opened #339 "Review status-go wiki"
# Problem

- the status-go wiki lacks proper organisation/documentation/knowledge for newcomers and visitors and also for internal operations. The goal is to model our wiki after the best wikis in the software community and have a side bar detailing all the aspects of the repository. All the knowledge present across the communication channels should be included in our wiki.

# Implementation

- cr

[2017-09-18 11:16] tiabc commented on #339
Please, use the issue template and specify your specific thoughts what needs to be done here. An issue to create a proper issue is not an issue.

[2017-09-18 12:14] tiabc commented on #184
@influx6 thanks for starting and working on the issue for a while, your feedback was extremely valuable!

[2017-09-18 12:14] #184 closed

[2017-09-18 12:14] adambabik commented on #201
Branch builds were added to Jenkins.

[2017-09-18 12:14] #201 closed

[2017-09-18 15:07] oleg-raev commented on #260
Thanks, @tiabc
I have a question. Is there any way to stop the loop from AccountManager context (https://github.com/status-im/status-go/blob/develop/geth/node/accounts.go#L198)?

[2017-09-18 15:41] tiabc commented on #260
@oleg-raev I don't think AccountManager is the right place to terminate JailCell's loop as they should be two orthogonal concepts. It's better be done on a higher level.

[2017-09-18 15:43] oskarth opened #342 "Refactor: Move inline Notify/Firebase things to where they belong"
# Problem

`api.go` should be a clean package not full of implementation details. `Notify` currently pollutes that namespace: https://github.com/status-im/status-go/blob/develop/geth/api/api.go#L199

# Implementation

Move inline functionality into the appropriate package

# Acceptance Criteria

- No change in current functionality
- Notification concerns at the same level as other implementation

[2017-09-18 15:55] oskarth opened #343 "Push notifications security: investigate implications of exposing SERVER_KEY in source control / binary"
# Problem

For push notifications we use Firebase as a provider. Since status-go communicates with Firebase on the device, this requires `SERVER_KEY` being on the device.

Right now it is source control but the problem doesn't necessarily disappear if we put it in an environment variable and build it only with release. Since it's a magic string encoded in the resulting artifact, which everyone wil

[2017-09-18 19:21] tiabc opened #344 "Fix "no suitable peers available" in tests"
# Problem

A lot of our tests fail with "no suitable peers available" which refers to go-ethereum and we experience constant failures which don't say anything about stability of our code.

We need some workaround or something.

Check out some failing build in Travis: https://travis-ci.org/status-im/status-go/builds

# Acceptance Criteria

Tests pass 10 out of 10 times without any "no suitable peer

[2017-09-18 21:44] divan commented on #260
Currently, there is no way to stop loop at all (and that's kinda ok for now), but we were thinking about introducing this via context.Context and cancelling when user is logging out.

If logging out is only initiated via API, we can add "cancel jail's context" from upper API level, which has access to JailManager:
https://github.com/status-im/status-go/blob/develop/geth/api/api.go#L153

[2017-09-19 10:40] tiabc commented on #317
Removing https://github.com/status-im/status-go/issues/233 as a dependency as this issue became really urgent.

[2017-09-19 15:15] influx6 commented on #252
After much look into goethereum and status-go side of things, am concluding we can not reproduce this behaviour or simulate it on the go side has describe due to specific architecture of ethereum and whispers approach of sending messages.

Generally to deliver messages over whisper which is what is done in between accounts whether on same device or different device, the following is done:

1. Each

[2017-09-19 16:59] rgeraldes opened #347 "Replace 'upstream' with 'remote'"
# Problem

At the moment, the remote node is being called  'upstream' and for the sake of clarity
we should rename all the upstream references to remote as its purpose is clearer.

# Implementation

- Identify all the elements in status-go geth folder that are using the name upstream
- Replace 'upstream' for 'remote'

# Acceptance Criteria

- All the tests should be successful after renaming all t

[2017-09-19 22:16] divan commented on #217
Just to note, swarm patches are not included in our Geth 1.7.0 rebase: https://github.com/status-im/go-ethereum/wiki/Rebase-Geth-1.7.0

[2017-09-20 10:37] influx6 opened #348 "Fix nodechain synchronization issue."
# Problem

Using `MaxPeers` to `0` fails to stop node synchronization when `Upstream.Enabled` is true, currently node chain synchronization still occurs.

# Implementation

- Call `lightEthereum.Downloader().Cancel()` to terminate chain synchronization downloader and validate sync has stopped.

# Acceptance Criteria

- Ensure no synchronization occurs with blockchain

# Notes

Currently we are awa

[2017-09-20 12:48] adambabik opened #350 "CallRPC() does not handle eth_sendTransaction properly"
# Problem

When the upstream node is enabled, calling `eth_sendTransaction` through `CallRPC()` binding is not queued but is forwarded directly to the upstream. This results in
[code]
because infura does not support `eth_sendTransaction`.

# Implementation

The correct flow is already implemented in jail. `eth_sendTransaction` calls are intercepted, put in the queue and if the upstream is enabled,

[2017-09-21 08:37] divan commented on #333
Fixed in https://github.com/status-im/status-go/pull/341

[2017-09-21 08:37] #333 closed

[2017-09-21 14:47] tiabc commented on #347
Seriously? An issue for that? Moved to #200

[2017-09-21 14:47] #347 closed

[2017-09-22 08:50] adambabik commented on #338
Currently, we have two separate flows to send a transaction depending on which node is used (local vs remote). I will describe these two flows but I will skip transaction queuing.

### Local node

1. Call `les.StatusBackend.SendTransaction` with `SendTxArgs` and password,
2. (inside `SendTransaction`) call `b.EstimateGas` and set the estimated gas if it's higher than `defaultGas`,
3. (inside `Send

[2017-09-22 12:22] tiabc commented on #325
Increasing priority as we can't properly debug and improve messaging without rigorous logging.

[2017-09-22 13:56] flexsurfer opened #354 "CallRPC() eth_sendTransaction returns error on local node"
# Problem

CallRPC with payload

`{"jsonrpc":"2.0","id":251,"method":"eth_sendTransaction","params":[{"from":"0xd30d900ab0e09ca1d86c59acfcce588a0e316570","to":"0x0ab51d7c36bfbc61aee369cbae48432fc63f25cc","value":"0xde0b6b3a7640000"}]}`

returns
` {"jsonrpc":"2.0","id":251,"error":{"code":-32602,"message":"missing value for required argument 1"}}`

on local node

[2017-09-22 14:49] influx6 commented on #325
I think we need to take a step back and reason about one very important bit of detail: `Log Format`.

We had an interesting discussion on log levels in https://github.com/status-im/status-go/issues/295, which helps us reduce alot of confusion when dealing with tomany levels without adequate concerned as to their real value.

I would like to propose another change for logging to use structure loggi

[2017-09-22 15:08] tiabc commented on #302
Resolved in #194

[2017-09-22 15:08] #302 closed

[2017-09-22 15:10] tiabc commented on #325
Please, join the discussion in #295.
However, you can prototype or design a solution for this issue without discussing log format beforehand. Just propose a solution and mention what log format would be required to achieve it.

[2017-09-22 15:16] #354 closed

[2017-09-22 15:46] divan commented on #354
Fixed in https://github.com/status-im/status-go/pull/355

[2017-09-23 12:12] oskarth opened #356 "status-react should be able to depend on status-go develop"
# Problem

Currently, status-react can't depend on status-go `develop` being stable and not crashing the app.

Sometimes status-react has to depend on ad hoc branches in order to get the app to run or function in a desirable way. This also means progress/fixes made on status-go `develop` branch can't easily be incorporated, e.g. running the app in debug mode or exposing public API functions relate

[2017-09-23 16:57] oskarth commented on #356
Copy pasting from Slack thread to not lose history

[2017-09-23 16:58] oskarth commented on #356
Copy pasting from Slack thread to not lost history:

@divan wrote:

which @themue agreed with. @sla-shi pointed out that @adan is working on testing automation.

@divan I generally agree and think automated CI would be great. As a first step I don't think it is necessary to verify each commit to develop - this would be depending on HEAD. What do you think of point 2 and 3 in the issue?

I tried ru

[2017-09-23 21:43] adambabik commented on #356
A few of my thoughts after reading this issue and the document that was mentioned on Slack:
1. status-react should not depend on status-go's develop branch. There should be another branch that is considered safe.
2. A branch is considered safe only if it passed automatic and manual e2e tests (on both simulators and real devices). However, it is safe only for **one specific** status-react commit be

[2017-09-25 20:40] divan opened #361 "eth_sendTransactionRecepit returns incorrect response."
# Problem

When calling `CallRPC` function with `eth_sendTransactionRecepit` function and invalid or incompleted transaction, JSON-RPC response should contain result field set to `null`, but returned JSON-RPC response doesn't contain result field at all.

Example request:
```{"jsonrpc":"2.0","method":"eth_getTransactionReceipt","params":["0xbbebf28d0a3a3cbb38e6053a5b21f08f82c62b0c145a17b1c4313cac3

[2017-09-25 20:44] divan commented on #361
The bug was introduced in https://github.com/status-im/status-go/pull/311 after refactoring RPC client code and switching to go-ethereum RPC client for handling `CallRPC` requests.

Original response with `"result": null` is unmarshalled in the client before returning to our code: https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/rpc/client.go#L275
As we us

[2017-09-26 07:12] influx6 commented on #252
@tiabc Any update on this?

[2017-09-26 07:14] influx6 commented on #325
My discussion was not just about `log format` but as part of overall refactoring of the current logging system. Will provide a prototype and we can review that.

[2017-09-26 09:56] divan opened #364 "Improve JSON-RPC handling for raw requests/responses"
# Problem

In `get/rpc` package we need to operate on raw JSON-RPC requests and responses. Currently we use single structure to do this - `jsonrpcMessage` which is copied directly from geth's RPC client code. This structure represents JSON-RPC message for requests, responses, successful and erroneous.

Using single structure to represent multiple slightly different things introduces subtle bugs an

[2017-09-26 10:19] #361 closed

[2017-09-26 10:43] divan commented on #308
Is this related to that fixes issue? https://github.com/status-im/status-go/issues/251
Can you still reproduce it?

[2017-09-26 10:46] flexsurfer commented on #308
better to ask @annadanchenko

[2017-09-26 14:53] violetbobo opened #366 "HighestBlock from status-go is less than actual highestBlock on ropsten net!"
why is highestBlock from status-go less than actual highestBlock on ropsten net! For example，highestBlock I got  from status-go was 1721748, but it was 1750660 on actual ropsten net at that time!

[2017-09-26 15:22] adambabik commented on #366
Thanks, @violetbobo for the report. Unfortunately, it will continue to be so until we close https://github.com/status-im/status-go/issues/317.

[2017-09-26 15:54] violetbobo commented on #366
@adambabik thanks!

[2017-09-27 13:50] akshaysuresh4793 commented on #364
Hi
I am new to open source. I just wanted to make sure I understand this right.
The plan is to refine any call involving Raw requests and responses. In order to do that, we need to add a separate struct for each request, response ( success and error ).
Is that correct?

[2017-09-27 19:33] influx6 commented on #325
@tiabc @adambabik Would appreciate pointers to areas where message delivery with `whisper` is tracked and logs. I need to come up with specific standards about what flags to use to represent the different state of message transition which we can then use to track message re-delivery and losses.

I currently have a baseline in  37ee86f which contains the new log structure, am currently going throug

[2017-09-28 08:20] adambabik commented on #336
1. was fixed in https://github.com/status-im/status-go/pull/351 as we tried to fix all failing tests.
2. Not experienced.
3. Confirmed that 4 and 5 couldn't pass even with fixed `makeTopic`.

[2017-09-28 08:27] adambabik commented on #309
It's done. We have a dedicated Linux node on which status-go builds run.

[2017-09-28 08:27] #309 closed

[2017-09-28 09:00] adambabik commented on #348
It was fixed by removing `LightEthereum` dependency when using the upstream node.

[2017-09-28 09:00] #348 closed

[2017-09-28 10:07] adambabik opened #371 "Make room for proper unit and integration tests"
# Problem

90% of all tests that we have now are e2e tests. We need to turn this approach upside down and start writing more unit tests. [Here is an idea](https://martinfowler.com/bliki/TestPyramid.html) how it should look like.

Current tests have a lot of issues:
- unreliable and flaky,
- very slow,
- duplicated,
- e2e tests instead of unit and integration tests,
- hard to reason about.

Lack of

[2017-09-28 10:44] rasom opened #372 "Mixing of result of Call method"
Concurrent calls to jail receive wrong results (for instance call A receives results for call B and vice versa) when js code which is executed contains calls to web3 (like `web3.eth.gasPric` and `web3.eth.estimateGas`).

Particularly this happens with suggestions for `amount` parameter of `/send` command.
This exact function is called when user changes input field, and if user does it fast it chan

[2017-09-28 12:28] adambabik commented on #325
This PR is huge. Have you discussed it with @tiabc? Acceptance criteria in this issue look much simpler.

As far as I know, we don't have any insight into incoming Whisper messages in status-go. Have you tried to research where it happens in go-ethereum?

I think the first step would be to make sure that we actually log outgoing and incoming messages to stdout using the current logging mechanism.

[2017-09-28 12:46] adambabik commented on #371
An alternative idea that I found is to use build tags and keep integration tests in the same place:

[code]

[Source](http://peter.bourgon.org/go-in-production/#testing-and-validation)

One drawback of this solution is that it's sometimes hard to decide where an integration file should be placed and it also breaks packages separation. In our model, it's much easier to divide integration tests by a

[2017-09-28 15:06] adambabik commented on #372
This bug is easily reproducible when two conditions are met:
1. `jail.Call()` is called concurrently,
2. The executed script must call `jail.Send` (or `jail.SendAsync` I suppose).

If (2) is not true, it works as expected.

A simple test in `jail_test.go`:

[code]

It will print garbage like `{"error":"ReferenceError: 'price' is not defined"}`.

[2017-09-28 22:14] JekaMas commented on #371
As far as i see Phase 3 is on progress in https://github.com/status-im/status-go/issues/312 (Maksim Shcherbo is going to done this task).

And i cant get the point: how does this plan relate to unit tests? May be we need some refactoring to make our code testable for unit tests?

[2017-09-28 22:47] adambabik commented on #371
@JekaMas that's great, I didn't know anyone is working on it. I would appreciate any comment in that issue.

Great question! It's about making space for unit tests. Currently, there are virtually no unit tests in the project. By moving the existing integration tests to a separate package, we will have much better insight where unit test should be added (in 90% of packages I suppose). Also, we will

[2017-09-29 08:41] divan opened #374 "Add cancellation for jail cells"
# Problem

We launch event loop for each jail cell when cell is created. This loop currently is never cancelled nor terminated. As each cell corresponds to the open chat dialog on status-react, that's ok for most of the time. However, it leads to the problems in the following cases:
 - switch user account in status-react leaves goroutines running (wasting resources)
 - recurring tasks in loop (run

[2017-09-29 09:29] influx6 commented on #325
@adambabik The reason why i believe the initial steps is a redifnining of how we log is the following:

1. We currently log just text lines with a few variable values tugged in
2. We have no means of later looking into this output and miss other pieces of data that might be used e.g the fields of incoming `Message` struct and their relevant content or the data sent along the `ssh_post` to figure o

[2017-09-29 09:43] divan commented on #372
Should be fixed in https://github.com/status-im/status-go/pull/368

[2017-09-29 09:53] adambabik commented on #325
I think some examples of such structured logging could visualize better the idea. All this sounds good but it's a pretty huge effort from what I can see. At the same time, it still won't resolve (1) from the AC and I guess it is the highest priority.

My plan would be to use the current logging system and make sure we solve (1). When we start seeing Whisper logs, we can think about how to analyze

[2017-09-29 10:02] influx6 commented on #325
@adamb Understood!

[2017-09-29 10:06] screwyprof commented on #371
Hi Adam. My name is Max. I've started working on phase 3. Ivan has assigned this part to me.

[2017-09-29 14:37] divan opened #378 "Review and update routing for RPC calls"
# Problem

status-go handles each RPC request differently according a few params:
 - method
 - configuration of remote node (Upstream.Enabled/Disabled)

Routing logic is in `geth/rpc/router.go`. List of the methods that should be router to remote or local have been changed and updated, and there seems to be no clear vision if that list is complete and/or correct.

This causes bugs that hard to det

[2017-09-29 15:27] influx6 opened #379 "Add Start and Stop Methods to Jail"
# Problem

We are have jail cells which are forever alive and never disposed of during the life cycle of the status react app, which leads to specific issues like endless goroutines for the cells `loop` which handles task execution on the event loop for jail. This pose a problem and with @divan addition of cancelation of a cell's loop in #376, that leviates things abit, but does not total solve th

[2017-09-30 00:23] divan commented on #337
Go 1.9.1 pre-announcement, security fix.
https://groups.google.com/forum/#!topic/golang-announce/Aqam2y8QoLA

[2017-10-02 07:34] influx6 commented on #325
@adamb Am away on my break this week, but as to what usage of the new log will look like, here is a sample from my own package:

https://github.com/influx6/moz/blob/master/ast/ast.go#L266-L270
[code]

Output is easily customizable, here is own i currently print them:

[code]

See more https://github.com/influx6/faux/tree/master/metrics

[2017-10-02 08:23] adambabik commented on #325
The usage looks nice. Is there a way to print it in one line? Multiline logs are pretty hard to be parsed by external tools.

[2017-10-02 09:12] influx6 commented on #325
Yes, you can customize the print out as you see fit, more so, external tools should parse the files which will be pure json which is the big advantage we have with this.

see https://github.com/influx6/faux/blob/master/metrics/jsonfile/jsonfile.go

As to how customizable it is, see https://github.com/influx6/faux/blob/master/metrics/custom/custom.go (I have two customizable display functions for m

[2017-10-02 12:14] screwyprof commented on #312
I started working on this issue and having done a quick research I came to a conclusion that the task is too large to be done at once.

I've been thinking how to do the testing properly and by this time I have the following understanding:

In order to run tests locally, so that we didn't depend on Ropsten/Rinkenby we need to create a local private network with a custom genesis, with mining running

[2017-10-02 13:06] adambabik commented on #312
Hey @screwyprof!

There is no distinction between upstream and local transactions. Both are regular ethereum transactions but there is a difference how they're created. Transactions sent using the local node go through the same flow as using geth (it's almost the same as you would run `geth console` and execute `web3.sendTransaction({ params })`). Transactions sent using the upstream (remote) node

[2017-10-02 13:16] screwyprof commented on #312
@adambabik Thank you very much for your response.

Could you please elucidate a little further on tests? I don't really understand what exactly we are testing. For example, if we run a test  build/env.sh go test -timeout 40m -v ./geth/api/... -testify.m ^TestSendEtherTx$

It works correctly even if we don't have internet access. (I ran the test once, disconnected from the internet and ran it again

[2017-10-03 10:22] flexsurfer commented on #308
@divan still reproduced in latest develop

[2017-10-03 11:07] tiabc commented on #371
Great stuff, @adambabik, thanks for formalising it! But I can clearly see this issue is the continuation of #220, thus adding a dependency. These 3 issues (#220, #371, #312) are a mess to sort out and create a list of tests fixing and refactoring issues with proper dependencies. Also, I can clearly see 3 issues here, not one.
Would you like to sort out our tests fixing strategy or shall I do that

[2017-10-03 11:08] tiabc commented on #371
@JekaMas yes, absolutely, we're aiming to fix our code to be unit-testable and the first step is to just fix tests to pass.

[2017-10-03 11:47] tiabc commented on #344
Increasing priority as failing tests have been hindering efficient development.

[2017-10-03 12:36] adambabik commented on #312
This runs a single test `TestSendEtherTx`, which is an integration test and performs the complete flow of sending a transaction. As I mentioned once, status-go implements a mechanism which queues transactions and sends them only after a confirmation with a password. Also, status-go introduces some patches in go-ethereum that are related to sending transactions.

I think it's exactly the same with

[2017-10-03 13:22] adambabik commented on #371
It is but at the same time #220 is more technical. Here, I wanted to outline a plan to make some room for unit tests and all other issues you mentioned.

I can take care of it. We need to collect all issues related to tests, prioritize them and set proper dependencies.

All three phases are required. Numbers indicate the order in which they should be done. However, as it was already noticed, Phase

[2017-10-03 16:41] flexsurfer commented on #308
https://www.youtube.com/watch?v=HiYGUkDGjDo interesting results, same device , same app, but different account

[2017-10-04 13:34] tiabc opened #381 "Rebase geth1.7.1"
# Problem

Geth 1.7.1 has been released: https://github.com/ethereum/go-ethereum/releases/tag/v1.7.1

Rinkeby will undergo hard fork about October, 9 and Mainnet about October, 17. This issue should be tackled before we decide to enable local mobile nodes instead of the remote.

# Acceptance Criteria

https://github.com/status-im/go-ethereum is updated and included into https://github.com/status-i

[2017-10-04 19:35] adambabik commented on #371
After receiving very constructive feedback, I made some changes to this issue. I emphasize that this issue is about making room for improved and more reliable unit and integration tests.

Moving the current integration and e2e tests into a separate directory should be perceived as deprecating them. They still will be used to make sure status-go works as expected but eventually they will be reduced

[2017-10-04 20:43] divan commented on #337
Go 1.9.1 released
https://groups.google.com/forum/#!topic/golang-nuts/sHfMg4gZNps

[2017-10-05 02:55] tiabc commented on #371
Speaking about terminology. How are e2e tests different from integration tests we have now in your understanding?

[2017-10-05 07:13] adambabik commented on #371
Integration tests verify if separate components can work together. For instance, verify if `jail` can work with the `rpc.Client` using a `net/http/httptest.Server` mock. It's important to keep integration tests fast, reliable and predictable.

E2e tests verify if a program works properly with external systems. It should resemble the production setup as close as possible. In our case, e2e tests wou

[2017-10-05 07:24] tiabc commented on #371
So, speaking your terms, we don't have integration tests, only e2e tests, right? Thus the question: shall we rename the `integration` package, which you're separating out, into `e2e` package?

Yes, totally agree with you about the pipeline, excellent idea.

[2017-10-05 07:37] adambabik commented on #371
Correct. In #375, I left few unit and integration tests and moved only e2e tests, which are 90% of all tests we have. And yes, very good point, it should be renamed to `e2e`.

Unit, integration and e2e tests terminology is much more clear. Previously, I tried to divide them into unit and integration tests but it clearly wasn't the best idea.

[2017-10-05 08:05] JekaMas commented on #371
If all agree with this terms i think we need to fix this in our docs: what is unit, integration, e2e tests, their responsibility, package path, naming.

[2017-10-05 08:18] tiabc commented on #371
@JekaMas would you like to draft it? I think yeah, this separation makes enough sense in practical test types distinguishing.

[2017-10-05 08:21] JekaMas commented on #371
Ok. On it, going to add this info into wiki 'Testing'.

[2017-10-05 10:53] flexsurfer commented on #308
https://app.testfairy.com/projects/4803622-status/builds/6709709/sessions/71/?accessToken=QWxSetCs5E-PVNjORLJdGO4Hx/s

[2017-10-05 10:53] flexsurfer commented on #308
[code]

[2017-10-05 15:58] tiabc opened #383 "Implement Rinkeby faucet"
# Problem

There's no way to request test Rinkeby ether for our users.

# Implementation

1. Implement a separate application which collects ether from public Rinkeby faucets and send it to `0xadaf150b905cf5e6a778e553e15a139b6618bbb7` for further distribution to our users.
2. Fix github.com/status-im/faucet to be able to send ether to Rinkeby addresses without losing backward-compatibility.

# Acc

[2017-10-05 15:58] tiabc commented on #161
Closing as the description has changed. See #383 for details.

[2017-10-05 15:58] #161 closed

[2017-10-05 18:02] rasom opened #384 "eth.accounts in jail returns array of int arrays"
<img width="374" alt="screen shot 2017-10-05 at 19 26 49" src="https://user-images.githubusercontent.com/2364994/31242577-c6e5c7f0-aa07-11e7-9b75-ba4e570044c9.png">

Can be reproduced only with sync call in jail. Works fine when call is done using `CallRPC` method.

[2017-10-06 00:36] rgeraldes opened #386 "Add missing unit tests - account package"
# Problem

There are methods in the account package that are not covered by unit tests.

# Implementation

- go over the existing files and identify the methods that are not covered by tests.
- implement the test.

# Acceptance Criteria

- All the methods must be covered by tests.
- All the tests of the account package should pass.

# Further Steps

Pick a next single package and cover it with uni

[2017-10-06 07:52] JekaMas commented on #383
Am i right that we need something like Selenium for this task?

And how many eth do we need? If not too much we may use something like "[pay for task service](https://www.mturk.com/mturk/welcome)"? The task cost approximately $0.02-0.05. For a single account we got: 4 faucet request per day * 365 * $0.05 = **$73**

[2017-10-06 15:19] #374 closed

[2017-10-06 16:18] b00ris commented on #386
@rgeraldes I think it's very big issue. And it could be related to big refactoring, if we wan't to cover all codebase by unit tests. Maybe we should to make this issue - epic, or split it to several.
Do you talk in description about unit tests or all types of tests?

[2017-10-06 16:52] #372 closed

[2017-10-06 17:03] tiabc commented on #386
@rgeraldes please, narrow down the scope (say, cover the smallest concrete package with unit tests). Also, you can specify in the `further steps` section that one will need to create another issues for covering other packages with unit tests.

@b00ris we're only talking about unit tests.

[2017-10-06 17:05] tiabc commented on #383
@JekaMas I don't think so. Can you elaborate, please?

[2017-10-06 17:09] b00ris opened #387 "Integrate code linters to workflow"
# Problem
Code linting is important and useful but it's not integrated into our workflow.

# Implementation
- investigate which of linters in gometalinter is useful for our team
- add checking chosen linters to travis

# Acceptance Criteria
- status-go should be checked by chosen linters for every PR.

# Notes
ASAP after https://github.com/status-im/status-go/issues/281

[2017-10-06 17:23] b00ris commented on #383
@tiabc As we understand the task i need to add to some account ether via https://faucet.rinkeby.io/ and transfer it to `0xadaf150b905cf5e6a778e553e15a139b6618bbb7`.  From https://faucet.rinkeby.io/ we could add ether only using github account(+recapcha). I try to do it using selenium and several techniques cracking recapcha.
Threre is other way to get ether via mechanical work, using SAAS(https://

[2017-10-06 20:29] themue commented on #344
Looks like `backend.StopNode()` isn't called every time or called directly via `defer` without waiting for the notification. Changing it step by step, failures are almost gone.

Helper narrowing it down:

[code]

[2017-10-06 22:38] tiabc commented on #344
Great job! Thanks for the update.

[2017-10-06 22:57] tiabc commented on #383
Thanks for the explanation @b00ris! It sounds like a good idea.
This matter is pretty urgent so let's do it in the fastest possible way: manually for now. I'll check those manual work services shortly and you can proceed without implementing this crawling service until I provide you with an update.

[2017-10-07 07:36] JekaMas commented on #383
Boris have described better tham me) yeah, i think this task is very time consuming and can replaced  by manual job. 3-5 accounts with such manual work and we got 36-60 eth on Rinkeby per day for 18-30$ per mounth.
This is common solution in Ads world:)

[2017-10-09 14:00] tiabc opened #389 "Rebase onto geth1.7.1"

[2017-10-09 14:18] screwyprof commented on #312
I managed to run a private network with 2 mining nodes on my local mac and ran a simple test case on it (TestSendEtherTxUpstream).

Everything is great, the test passes.I used a few hand-crafted bash scripts to init and run them. Now I want to create a few docker containers (miners, bootstrap) and some basic scripts to manage them. It seems to me that it would be enough for this task in order for

[2017-10-09 14:22] divan commented on #312
I think it's fairly easy to build/start docker containers directly from the Go tests. Here is an example implementation of similar tests - a bit outdated perhaps, but it shows the point: https://divan.github.io/posts/integration_testing/

[2017-10-09 14:31] screwyprof commented on #312
It can be done, but what for? What can be gained by starting them from code?
I think it would be better (at least at the beginning) to start the testing network separately and just ping it from tests. We won't have to start/stop containers on every run. If I understand it correctly, the major idea now is to make tests more stable and decrease the testing time.

[2017-10-09 14:40] adambabik commented on #312
My experience from running and managing containers directly from the tests is not good (also did that in Go). It seems easy but you end up with quite a lot of boilerplate code that you need to maintain. Also, when you start creating networks, linking containers etc. it gets pretty complicated.

That's why `docker-compose` was created. I would go for it as it's the easiest and it can start multiple

[2017-10-09 16:15] divan commented on #312
@adambabik agree, but if you need to launch just one or two containers, it's much easier and faster to do it from go code, so default `go test` would work. Once it gets more complicated, docker-compose is necessary, yes.

As for the boilerplate, there are libraries to faciliate that (I used https://github.com/ory/dockertest a lot). But the main point of this solution is to be able to use tests wit

[2017-10-09 17:34] tiabc commented on #94
Setting `low-priority` here as we now use a delegated node by default.

[2017-10-09 17:40] tiabc commented on #389
Failure in the matrix %) #381

[2017-10-09 17:40] #389 closed

[2017-10-09 17:41] tiabc commented on #381
Increasing priority due to upcoming hard forks.

[2017-10-09 17:46] tiabc commented on #379
Closing as a duplicate of #260 with fixes in #376 and #382 (which doesn't expose jail cells to status-react but handles it internally upon `SwitchAccount` and `Logout` which is more correct).
Feel free to re-open if you think this issue is still needed.

[2017-10-09 17:46] #379 closed

[2017-10-09 19:23] tiabc commented on #364
@akshaysuresh4793 what do you mean by "each request", "each response" provided that different requests and responses have the same structure in JSON RPC?
The issue is to create and utilize separate structs for different objects:
1. JSON-RPC request.
2. JSON-RPC successful response.
3. JSON-RPC erroneous response.

The reasons are outlined in the issue description.

Would you like to make a contrib

[2017-10-09 19:45] adambabik commented on #239
I wonder if this should be really the Test Team responsibility at all. In my opinion, a more effective would be adding a contract testing between status-go and status-react. It would work this way:
1. Clojure Team creates a contract file which describes their requirements,
2. status-react is run against the contract to make sure it's still valid (or to generate one),
3. status-go is run against th

[2017-10-09 19:53] tiabc commented on #239
Sorry, what shouldn't be the test team's responsibility? They need that interface to run their acceptance tests and test things manually.

I really like what you're suggesting but you're solving other problem, not the one stated in the description, as I understand. I totally agree that we need to test a contract between our applications but this is not what the test team will be testing, this is w

[2017-10-09 20:47] adambabik commented on #239
I guess I don't fully understand what those scenarios will be and how they will be different from status-go e2e tests. The only difference I see is that we run e2e tests directly using the API and the Test Team will use bindings. Will those scenarios be more complex versions of our e2e tests? What kind of bugs do we want to eliminate with those scenarios?

[2017-10-10 07:01] tiabc commented on #239
Yes, that's the first difference. I'm not sure about concrete scenarios but the test team need to test status-go somehow, this is why they need it. @annadanchenko may advise on concrete scenarios, I think.

What kind of bugs? As I understand, any bugs mostly related to business logic and some subtleties of operation. I also think they're going to test our contract and ensure we haven't changed any

[2017-10-10 09:38] #317 closed

[2017-10-10 11:06] adambabik opened #391 "Make statusim/xgo image out of farazdagi/xgo"
# Problem

In development, we use Go 1.9.x branch but a docker image that we use to build mobile binaries uses Go 1.7.1.

# Implementation

We should upgrade the image to the most recent Go 1.9.x version.

# Acceptance Criteria

1. The built binaries work correctly when compiled in the app.
2. `statusim/xgo` is deployed to our dockerhub.
3. `statusim/xgo` is used for cross-compilation instead of `

[2017-10-10 13:04] tiabc commented on #391
Edited the acceptance criteria and future steps.

[2017-10-10 14:40] #319 closed

[2017-10-10 17:24] influx6 commented on #325
@tiabc @adamb For the sake of clearification and to ensure am not running the wrong way.

I understood the messages we wished to track delivery and queue for where `Whisper` related, hence i focused on making changes to the ff:

- https://github.com/status-im/status-go/blob/963fda581e984826b6278b1f2dc570243ebf2f28/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L82

- https://g

[2017-10-11 08:55] adambabik commented on #325
I was looking into whisper yesterday and I found out that delivered messages are handled here: https://github.com/status-im/go-ethereum/blob/status/1.7.0-unstable/whisper/whisperv5/whisper.go#L582

And this method adds a message to the queue: https://github.com/status-im/go-ethereum/blob/status/1.7.0-unstable/whisper/whisperv5/whisper.go#L649 but it would be great to figure out where the actual pr

[2017-10-11 09:27] adambabik commented on #391
+ Allows to get rid of C bindings and use a Go struct,
+ iOS and Android packages should be smaller in size,
+ As xgo is not used to build mobile packages in go-ethereum anymore, we can't be sure future geth versions will work fine with xgo and even if xgo will still support mobile packages,
- In order to build a framework for iOS, `gomobile` requires running on macOS. It's not a big deal for us a

[2017-10-11 10:09] influx6 commented on #325
@tiabc @adamb For the sake of clearification and to ensure am not running the wrong way.

I understood the messages we wished to track delivery and queue for where `Whisper` related, hence i focused on making changes to the ff:

- https://github.com/status-im/status-go/blob/963fda581e984826b6278b1f2dc570243ebf2f28/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L82

- https://g

[2017-10-11 10:42] influx6 commented on #325
@adambabik I think i can help a little with that.

Filters:

The filters set on whisper receive non-p2p messages (unless it's allowed to process these) for those who wish to listen for them through their topics,
See:
- https://github.com/status-im/status-go/blob/963fda581e984826b6278b1f2dc570243ebf2f28/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L754

- https://github.com/s

[2017-10-11 12:07] influx6 commented on #325
Ok. Having runned abit deeper, filtered messages once received are processed by perodically checking the `Filter.ReceivedMessages` to be delivered to subscribers,

see:

- https://github.com/status-im/status-go/blob/963fda581e984826b6278b1f2dc570243ebf2f28/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/api.go#L413-L436

- https://github.com/status-im/status-go/blob/963fda581e984826b6278b

[2017-10-11 13:43] influx6 commented on #325
@tiabc @adambabik Currently in the last commit  8b2892c, i have this markers in areas where whisper messages are processed, such as:

- https://github.com/status-im/status-go/blob/feature/log-refactoring_325/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L675

- https://github.com/status-im/status-go/blob/feature/log-refactoring_325/vendor/github.com/ethereum/go-ethereum/whisp

[2017-10-11 14:21] #371 closed

[2017-10-11 16:19] b00ris commented on #383
@tiabc What do you mean, about backward compatibility(robsten+rinkeby/same arhitecture/same deployment)?

[2017-10-11 17:14] tiabc commented on #383
Mobile nodes should not be affected by the change. Existing faucet URLs should not change as well as payload should not suffer backward-incompatible changes.

[2017-10-12 07:34] JekaMas commented on #258
Actually we already got a lot of dara races in `node/manager.go`, `node/node.go` and `node/utils.go`.
I think we should turn on a data race detector in `ci`.

[2017-10-12 08:17] adambabik commented on #325
@influx6 not sure about the first one. As you can see, a line below it returns an error, because the message was created "in the future". Unless you mean to add a log inside `sendDelivery()` method.

The second one looks good. It's the place were a message was actually send back to a recipient.

Btw. it looks like with `--log TRACE` we should be able to see Whisper logs already.

[2017-10-12 09:59] tiabc commented on #258
https://github.com/status-im/status-go/issues/50

[2017-10-15 20:47] adambabik commented on #381
An important 1.7.2 release has been submitted: https://github.com/ethereum/go-ethereum/releases/tag/v1.7.2

[2017-10-16 07:58] adambabik commented on #344
I can describe a situation when I could reproduce this issue. I was running an e2e test which required a node running and was sending some ether between accounts. It turned out that LES initial startup was taking a bit longer than usual and, I suppose, performing some operations on blockchain required the current highest block number.

I added a simple check:
[code]
and the test started passing. I

[2017-10-16 08:03] themue commented on #344
Yes, added it as `EnsureSynchronization()` to the suite and currently adding it in the tests. Looks good.

[2017-10-16 08:27] b00ris commented on #383
@tiabc  Do you have any updates on this issue?  Our faucet could work with rinkeby now. Will we use manual working services? Should i continue working on https://faucet.rinkeby.io/ cracking? I have some ideas, but i need 3-4 days to test it. If we'll start using manual working services,  i think we need close this issue and open separated for https://faucet.rinkeby.io/ cracking with lower priority

[2017-10-16 13:30] tiabc commented on #344
@themue I hope you've added it from https://github.com/status-im/status-go/pull/271

@adambabik hm, strange use case. Anyway, even in the PR above these errors with "no suitable peers available" are present.

[2017-10-16 13:34] themue commented on #344
@tiabc Didn't know about the one there, will take a look. Mine is base on @adambabik hint but with timeout.

[2017-10-16 13:37] adambabik opened #403 "Refactor node manager"
# Problem

The logic behind starting and stopping a node is very cryptic and hard to follow. It also prevents us from properly finishing other tasks like async send calls.

# Implementation

1. Stopping a node should first cancel all background tasks and wait for them to finish (e.g. jail's `sendAsync` handlers).
2. Calling for `isNodeAvailable()` in `NodeManager` methods is removed as a caller ha

[2017-10-16 13:38] tiabc opened #404 "Implement auto-fulfilment for our Rinkeby faucet"
# Problem

We have a Rinkeby facuet but we can't mine anything due to the Clique protocol. This is why we need to request ether from faucet.rinkeby.io for further distribution to our users.
Unfortunately, it requires captcha to solve. Currently we end up with a manual "team-driven approach" where all our team request ether for our faucet address.

However, it's desirable to have an auto-fulfilling

[2017-10-16 13:38] tiabc commented on #383
@b00ris #404

[2017-10-16 13:38] #383 closed

[2017-10-16 13:41] tiabc commented on #344
That issue will probably be merged today.

[2017-10-16 13:47] themue commented on #344
Ah, will merge and compare then. Mine is in `BackendTestSuite` which is embedded.

[2017-10-16 13:49] tiabc commented on #344
@themue sorry, what will you merge? #271? Don't do it, I'll throw away some stuff from there before merging.

[2017-10-16 13:50] themue commented on #344
I meant I'll merge the new develop into my branch once you've merged #271.

[2017-10-16 13:58] JekaMas commented on #403
I think this is related to [258](github.com/status-im/status-go/issues/258)

[2017-10-16 14:09] adambabik commented on #403
@JekaMas you're correct. I think #258 should be incorporated into this issue.

[2017-10-16 14:41] divan opened #405 "Switch testing framework to GoConvey"
# Problem

Go has testing capabilities built in, but for large tests, more features usually needed. Some of the most important ones:

 - better human description of what exactly this test/subtest is testing (BDD-style)
 - assert functions / matchers
 - better setup/teardown handling for complex tests

There are several well-known and widely used test frameworks for Go, and status-go currently is u

[2017-10-16 18:39] tiabc commented on #94
Closing due to https://github.com/status-im/status-go/pull/300#issuecomment-336989052

[2017-10-16 18:39] #94 closed

[2017-10-16 20:24] tiabc commented on #217
Note some work has been done in PR https://github.com/status-im/status-go/pull/117

[2017-10-16 20:25] tiabc commented on #171
Note some work done in https://github.com/status-im/status-go/pull/173 when getting back to this issue.

[2017-10-16 21:55] #312 closed

[2017-10-16 22:03] tiabc opened #407 "Make it possible to choose which network to run tests on"
# Problem

The problem is perfectly described in #312 and this issue its logical continuation.

Now we need to take it a step further and make it configurable from the test command which network to run tests on.

# Acceptance Criteria

1. There's a way to choose which network to run the tests on (StatusChain, Ropsten or Rinkeby) from the `go test` cli for all existing tests. StatusChain should be

[2017-10-16 22:37] #246 closed

[2017-10-17 10:16] tiabc opened #408 "Standardize Native Binding calls protocol"
# Problem

status-go provides a set of native bindings: https://www.notion.so/status/Binding-notes-344f30ce0f2845a2b43e2de70931284a

But the response returned to the caller is ad-hoc, inconsistent, errors are unintelligible and there's no specification on anything.

# Acceptance Criteria

1. There is a single document describing each native binding,
2. Each binding has documented input and output

[2017-10-17 10:19] tiabc commented on #336
Increasing priority as it's but the only reason why they fail. For example, the most recent `develop`: https://travis-ci.org/status-im/status-go/builds/288967901#L524

@adambabik can you work on that, please?

[2017-10-17 14:42] tiabc commented on #278
Closing as it's part of #408

[2017-10-17 14:42] #278 closed

[2017-10-17 15:04] themue commented on #287
Yes, definitely. Doing the same in my own code with my according Tideland `errors` package leading to more useful nested errors.

[2017-10-17 15:37] divan commented on #287
@tiabc are you referring here to specific package or the whole status-go project?

I think we're currently using quite diverse cases of errors. "Passing to the caller" techically also counts as "handling errors - sometimes it's just right thing to do, and we always can enrich error with `fmt.Errorf()` - a bit limited, but default option.

For example, in `jail` packages there are 36 checks for err

[2017-10-17 16:15] screwyprof commented on #287
The suggested package is not a panacea. It is really great and all that, but it can be overkill or even unnecessary evil in some cases.

The questing is what problem are we exactly going to solve? Just adding some context to errors? It can be done without wrapping. Adding a stacktace to errors?

There are a bunch of issues and inconveniences related to error-handling:
1. Using different format for

[2017-10-17 16:20] oleg-raev commented on #287
@JekaMas

I answered to @themue. My answer is not related to message from @divan

Absolutely

[2017-10-17 16:21] influx6 commented on #325
@adambabik As discussed in slack, for now we will skip monitoring of incoming messages.

With commit 5bcab591ed2a50f104882f39298c3d6e8a417c10, have made some changes as we discussed and target `api.go` in `goetherem/whisperv5`.

Although things do look simply and i wish to focus on the parsing tool next, i do think we might have to figure out a way to maybe collecting the `ReceivedMessage` with or

[2017-10-17 16:28] oleg-raev commented on #287
Actually I found 33 of 49 (you are lost cases when happens error wrapping or err value checking at the line after condition)
`grep -r 'err != nil' geth/jail/ | wc -l`
`grep -r -A3 "err != nil" geth/jail/ | grep -v "err != nil" | grep -i 'return.*err' | wc -l`

[2017-10-17 16:53] adambabik opened #411 "Gather information about PSS - messaging over swarm"
# Problem

There is a new protocol for exchanging messages. It's called PSS and is based on swarm. We should research if it's a technology that is useful for our product.

# Acceptance Criteria

1. A document which gathers PSS resources,
2. A short comparison with Whisper, especially, in terms of privacy and convenience for the end users.

# Future Steps

PoC of PSS in status-go, if it turns out t

[2017-10-17 19:33] deoxxa commented on #260
Hello! I see you're having some issues with ottoext. Anything I can do to help?

[2017-10-17 19:36] divan commented on #260
Hi @deoxxa! Thanks for offering your time, we actually realized that we have a bit different constrains for event loop, so we forked `ottoext` and are using it internally now: https://github.com/status-im/status-go/tree/develop/geth/jail/internal

[2017-10-17 19:39] deoxxa commented on #260
Oh, interesting! What are the different constraints you have? If they're applicable in general I'd be happy to look at merging some changes back upstream - if you're okay with that :)

[2017-10-17 19:44] divan commented on #260
We'd be happy to contribute, of course. In our case event loop is a long running - actually it's "forever" running thing. Async requests may come at any time and they should be executed in the loop context.

So there is no such thing as "closed loop" in our case, for example.

Another major thing we've hit is that otto vm is not safe for concurrent calls. In many cases when even loop was involved

[2017-10-17 19:57] deoxxa commented on #260
Ah, I see.

The long-running loop workload is actually one of the things ottoext can really help with - as long as you run all tasks via the event loop (via `EvalTask` or `CallTask`) and not direct `Run` or `Exec` calls on the underlying VM. Indeed this is how I use it in several projects, with ~100 goroutines all running tasks in turn.

As for otto itself, yeah, it has about the same guarantees a

[2017-10-17 20:03] divan commented on #260
Cool, thanks! Feel free to ask any question on our use case. One particular constraint is that we don't have control over the JS code being executed - it's user supplied code in some scenarios.

To help you a bit - we're using loop with `timers`/`fetch` callbacks, and `CallTask` for some asynchronous user methods.

[2017-10-17 22:18] divan commented on #384
Added test for this bug, but can't reproduce it so far: https://github.com/status-im/status-go/commit/ebb493b584ebdab7086b2b0f891d73d679698ed1

@rasom can you confirm this bug still exist? And if so, help to isolate it with test?

[2017-10-18 06:24] rasom commented on #384
fixed in `develop`

[2017-10-18 06:24] #384 closed

[2017-10-18 06:30] rasom commented on #408
Not a big deal, but i'm not sure that `JNI bindings` is a good name. Because there is no JNI on iOS (and on some other platforms which we might use in future), but we still using the same bindings. It could be `Native bindings` or something.

[2017-10-18 09:47] tiabc commented on #287
Guys, thanks for sharing your opinion on the topic, your discussion has been really informative. I hope everything from your slack discussion is added here.

This issue appeared long ago when I stumbled upon a couple of nondescriptive error messages and tried to debug what's happening. And I created this issue as rather a reminder to look into error handling here.
Yesterday @oleg-raev asked me if