[2018-10-09 13:09] ghost commented on #1022
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-09 15:08] divan opened #1230 "rendezvous: panic during stopping discovery"
# Problem

When stopping the node (via Ctrl-C or otherwise), there is a race condition in `discovery.(*Rendezvous).Discover()` method resulting in panic.

[code]

Seems like when `Stop()` sets `r.client` to nil, it gets dereferences in `Discover()`, hence the panic.

[2018-10-09 15:44] adambabik opened #1232 "config: allow specifying virtual hosts and CORS"
# Problem

Currently, there is no way to specify virtual host names and CORS when using an HTTP JSON-RPC interface.

# Implementation

The `Config` struct should accept virtual host names and CORS settings. These needs to be compatible with:
- virtual hosts: https://github.com/ethereum/go-ethereum/blob/master/node/config.go#L109-L116
- CORS: https://github.com/ethereum/go-ethereum/blob/master/node

[2018-10-09 15:48] dshulyak commented on #1232
is there a plan to expose statusd to the internet or what is the story behind this?

[2018-10-09 15:52] adambabik commented on #1232
It's for DappNode.io integration. As far as I understand (need to confirm), you can run DAppNode on a server and you can have a VPN connection with an internal domain that resolves to your server. Now, you may want to access your node securely and you would issue an HTTP request with that domain to communicate with the node. Currently, such a request will be rejected due to accepting only `localho

[2018-10-09 16:19] yenda opened #1233 "getting mailserver.request.expired signals too often"
# Problem

When watching for `mailserver.request.success` signals on status-react we encounter a lot  of `mailserver.request.expired`. More often that not it making the same request on this signal will end up in an infinite loop as it will expire again and again.
I also noticed that adding the mailserver as a peer also often take quite some time (more than 15 sec which is our timeout for retrying)

[2018-10-10 09:15] ghost commented on #927
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-11 08:34] gravityblast opened #1234 "Multiple topic support for mailserver requests with shhext.requestMessages"
# Problem

The current Status client sends one historic message request for each whisper topic that the user is following (each public chat and private chat).

The request sent to `shhext.requestMessages` has a `topic` field, that is used to generate a bloom filter that is sent to the mailserver.

We can allow the `shhext.requestMessages` request to have a `topics` field with multiple topics used

[2018-10-12 12:58] #1232 closed, assigned to adambabik

[2018-10-15 03:46] ghost commented on #680
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-15 03:46] ghost commented on #679
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-15 21:15] #1234 closed, assigned to nobody

[2018-10-16 09:31] #1230 closed, assigned to dshulyak

[2018-10-16 11:27] #1182 closed, assigned to nobody

[2018-10-16 13:10] ghost commented on #1022
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-16 13:10] #1022 closed, assigned to nobody

[2018-10-17 09:21] ghost commented on #927
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-17 09:21] #927 closed, assigned to nobody

[2018-10-18 09:13] adambabik commented on #1233
@yenda is this solved after we switch to multiple topics per request?

[2018-10-18 09:16] yenda commented on #1233
Only partially because react supports a very long timeout. There is still the problem of requests being sent one by one

[2018-10-18 09:21] adambabik commented on #1233
Ok, thanks for the update.

To make the requests sent one-by-one work fast, we need to add parallel processing in this place: https://github.com/status-im/whisper/blob/master/whisperv6/whisper.go#L905 (handling `p2pRequestCode` packet code).

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favi

[2018-10-18 13:15] mandrigin opened #1247 "LES crashes when syncing Ropsten"
# Problem

I have a statusd built from the latest master (rev. `ba504e99c4a004d5fe025dd12f5e7bb66f1190dc`).

When I try to sync Ropsten in LES Client mode, it syncs something first and then crashes.

[code]

It crashes after every restart too.

I'm attaching the config file I'm using to this issue: https://gist.github.com/mandrigin/1eb6916e4cbc84a2651d7c898bf2a3e2

Command-line: `build/bin/statusd

[2018-10-18 13:31] mandrigin opened #1248 ""No suitable peers available" when requesting the account balance in LES (when syncing)"
# Problem

I have a statusd built from the latest master (rev. `ba504e99c4a004d5fe025dd12f5e7bb66f1190dc`).

It is running as a LES *client*.

It is connected to our own LES server:
`enode://00406d8b388ced326f644c64ffd1557741b96ccfbb4751a25104ad03e8d39c7bffc79780531cb80a709e767a7e9a08936edf1ef06e50e7991831d98c02498803@104.248.199.52:30303`

I'm waiting until the sync is visibly over (no log entrie

[2018-10-18 13:39] mandrigin commented on #1247
This crash is not 100% reproducible, sometimes I have to wait for it to crash before going into the crash loop.

[2018-10-18 13:53] mandrigin opened #1249 "Support ULC params in statusd"
# Problem

After merging the ULC patch, there is a new option available in the ethereum light client config (see https://github.com/status-im/status-go/blob/develop/node/node.go#L205-L224)

`ethConf.ULC.TrustedServers` needs to receive a list of enodes of trusted servers.

It should be possible to pass these trusted nodes list through statusd config.

Example of statusd config
[code]

<blockquote>

[2018-10-22 06:32] dshulyak opened #1251 "eth_newFilter will miss blocks in case of reorg"
# Problem

original implementation in go-ethereum will notify about blocks imported into the chain,
even when there was a block at a previous height. our implementation polls `latest` blocks
using eth_getBlockByNumber call.

so consider the following situation:

1x1a -> 2x2a
        ???? -> 3x3b

in this example we receved 1x1a then 2x2a and then 3x3b. however we never know if reorg occured and
in

[2018-10-22 06:55] dshulyak opened #1252 "eth_newBlockFilter will miss blocks in case of reorg"
# Problem

original implementation in go-ethereum will notify about blocks imported into the chain,
even when there was a block at a previous height. our implementation polls `latest` blocks
using eth_getBlockByNumber call.

so consider the following situation:

[code]

in this example we receved 1x1a then 2x2a and then 3x3b. however we never know if reorg occured and in the actual parent of the 3

[2018-10-22 12:08] #1251 closed, assigned to nobody

[2018-10-22 12:13] dshulyak opened #1253 "Scope of libp2p integration"
1. implement p2p.MsgReadWriter wrapping libp2p's net.Stream

every devp2p protocol has a loop for handling single peer connection. for whisper it is whisper.HandlePeer which accepts p2p.Peer and p2p.MsgReadWriter. p2p.Peer ID is used in whisper, so p2p.Peer can be created using id from stream.Conn().RemotePeer and casted to a required type. IsFlaky() method of p2p.Peer used when messages are broad

[2018-10-22 12:32] b00ris commented on #1247
@mandrigin I wasn't able to reproduce it. It would be great if you share your datadir with me.

[2018-10-22 12:54] mandrigin commented on #1249
@b00ris any news on this issue?

[2018-10-22 12:54] mandrigin commented on #1247
@b00ris sure, I will try to reproduce once more and will share the datadir or will close the issue

[2018-10-22 15:26] ghost commented on #680
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 15:26] #680 closed, assigned to nobody

[2018-10-22 15:56] ghost commented on #679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 15:56] ghost commented on #680
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 16:06] ghost commented on #679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 16:16] ghost commented on #679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 16:26] ghost commented on #679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-23 08:24] oskarth commented on #679
I don't think this is irrelevant. We just haven't made any progress here yet. Reopening.

cc @divan @arnetheduck

[2018-10-23 13:30] arnetheduck commented on #679
cc @b00ris @JekaMas as well

https://hackmd.io/FcSt28PHTq6xw24BpRiduw# for an overview of PSS itself - swarm does more than that though, specifically it does file integrity.

also relevant is @emizzle that's been hacking away on https://github.com/embark-framework/swarm-api

<blockquote><img src="https://hackmd.io/favicon.png" width="48" align="right"><div><strong><a href="https://hackmd.io/FcSt28

[2018-10-23 14:22] JekaMas commented on #1248
It looks like we were affected by Constantinople issue. We can close that issue and restart our cluster with full sync.

@mandrigin https://github.com/status-im/status-go/issues/1254

[2018-10-23 14:24] JekaMas commented on #1247
We should make a PR to go-ethereum upstream fixing validation in light client fetcher. At the moment it's possible to raise a panic on client side just sending to it an invalid block without `td`.

[2018-10-23 14:28] b00ris commented on #1249
I'm going to make PR today

[2018-10-23 14:28] JekaMas opened #1254 "Restart and resync LES cluster"
# Problem

Status LES cluster is in inconsistant state.

# Implementation

It should be restarted and resynced.

# Acceptance Criteria

All LES servers are in sync with the Network. Basic calls (account, transaction) works fine.

[2018-10-23 15:54] divan commented on #1254
Closing it, as it's not a status-go codebase issue.
I contacted @jakubgs in Status #status-core-infra channel, please do the same next time with similar issues.

[2018-10-23 15:54] #1254 closed, assigned to nobody

[2018-10-23 17:33] mandrigin commented on #1254
@divan Status app is not a reliable history/decision documentation place though. Maybe you can suggest alternative github repo?

[2018-10-23 18:06] divan commented on #1254
@mandrigin do we need git repository for the things like asking right people to restart servers?

[2018-10-23 19:10] mandrigin commented on #1254
I want some place to track all LES-related issues, otherwise it looks like it isn’t any work, to investigate and fix server issues.

I believe, that there should be some ticketing for ops tasks and that Status or Slack is pretty poor being this ticketing system.

[2018-10-23 20:16] jakubgs commented on #1254
I think the right place is where it's configured so:
https://github.com/status-im/infra-misc

<blockquote><div><strong><a href="https://github.com/status-im/infra-misc">Page not found · GitHub</a></strong></div></blockquote>

[2018-10-23 20:49] divan commented on #1254
@mandrigin agree. To me, `status-go` repo is definitely not a good ticketing system for Status infrastructure.
UPD: see answer above

[2018-10-24 16:32] mandrigin commented on #1248
It works when synced, but not when syncing, even after cluster re-sync.

[2018-10-24 17:44] adambabik opened #1256 "Updated docs on hub.docker.com/r/statusteam/status-go/"
# Problem

We have multiple places with instructions how to run Status Node and they are not up-to-date. Fix https://hub.docker.com/r/statusteam/status-go/ readme to point to https://docs.status.im/docs/run_status_node.html.

# Acceptance Criteria

There is a single doc describing how to run Status Node and all places refer to it instead of duplicating the content.

<blockquote></blockquote>
<bloc

[2018-10-24 18:02] adambabik commented on #1253
Do we need ping/pong or heartbeat would be enough? Maybe we can create an issue in go-ethereum with a description of this protocol? I think it can be nicely generalized.

Great stuff! What are the next steps?

[2018-10-24 21:45] b00ris commented on #1248
@mandrigin @JekaMas
[code]

it's constantinople problem.

After this block LES constantly drop server peers and we got "no suitable peers available" from odr.

[2018-10-25 04:25] dshulyak commented on #1253
Could be heartbeats. I thought about ping/pong so that dialer can control frequency. There is already ping/pong protocol implemented in devp2p server. We need similar thing but for libp2p.

I started looking at 1st item. Trying to understand how to properly handle deadlines with streams. In devp2p deadlines are handled per connection, so in case if some protocol is idle - connection will not timeo

[2018-10-25 08:08] mandrigin commented on #1248
@b00ris so, does it mean that we need to upgrade our LES server to 1.8.17 asap?

[2018-10-25 10:15] adambabik commented on #1253
Interesting. I took a look and it seems that ping/pong protocol in devp2p is super simple:
- it has no retry logic,
- it does not wait for pong (I did not notice any code for that, there is only one in examples).

Our flaky peer detection, on the other hand, works based on incoming messages.

On the other hand, if any protocol returns an error, the connection is dropped for all protocols, right? I

[2018-10-25 10:52] dshulyak commented on #1253
receiver responds with a pong. so in the end client controls frequency. and based on this detector renews timer each time when pong/ping or any other message was read.

yeah this is kinda similar to what i tried. by default if single stream timeouts it will not affect another stream. but we can leave whisper stream without deadlines for reads/writes. create separate ping/pong stream and add deadli

[2018-10-25 14:12] b00ris commented on #1249
Resolved https://github.com/status-im/status-go/pull/1255

[2018-10-25 14:12] #1249 closed, assigned to b00ris

[2018-10-25 14:52] jakubgs commented on #1248
Clusters updated to `1.8.17`.

[2018-10-26 07:45] mandrigin commented on #1248
@b00ris ULC is affected too on the initial sync.
statusd config is attached: [ulc-conf.json.zip](https://github.com/status-im/status-go/files/2518231/ulc-conf.json.zip)

[2018-10-26 07:49] mandrigin opened #1258 "[ULC/LES] Initial sync never finishes"
# Problem

I can't make ULC to finish the initial sync properly. It ends up with these log entries repeating.

Syncing from scratch, the datadir/keydir are cleared before starting.

[code]

At the same time, `eth_syncing` is showing that the sync is happening:
[code]
statusd, build from sources @ `bdbceba6eb3c1065c1aca235b13791f1e95fe739`

statusd config: [ulc-conf.json.zip](https://github.com/sta

[2018-10-26 07:56] mandrigin commented on #1258
okay, same thing on *the same block* in LES too:

[code]

`eth_syncing`
[code]

Config: [light-conf.json.zip](https://github.com/status-im/status-go/files/2518276/light-conf.json.zip)

[2018-10-26 07:57] mandrigin commented on #1248
@jakubgs @b00ris after upgrading the servers, I can't make neither LES nor ULC to sync: https://github.com/status-im/status-go/issues/1258

[2018-10-26 07:59] mandrigin commented on #1258
after a few starting/restarting managed to get it to the block `0x40897f` (LES), can't get pass that now

[2018-10-27 18:39] ghost commented on #1126
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-28 10:21] ghost commented on #1128
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-28 10:31] ghost commented on #1124
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-28 16:12] #1110 closed, assigned to dshulyak

[2018-10-28 16:41] ghost commented on #1129
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-30 15:12] ghost commented on #1133
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-30 20:09] adambabik commented on #1129
This is done thanks to:
- https://github.com/status-im/rendezvous
- https://github.com/status-im/status-go/tree/develop/cmd/proxy

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/rendezvous">status-im/rende

[2018-10-30 20:09] #1129 closed, assigned to nobody

[2018-11-02 12:27] adambabik commented on #1224
PR for geth is ready: https://github.com/status-im/go-ethereum/pull/76

[2018-11-02 14:15] flexsurfer opened #1262 "Implement eth_getFilterLogs"

[2018-11-02 14:57] dshulyak commented on #1262
Some dapps are relying on this method? I didn't notice that it exists before. Thanks
Currently results will be returned with getFilterChanges, which works for any filter type. And this one will work only for logs (https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getfilterlogs) . Right?

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><di

[2018-11-02 15:16] flexsurfer commented on #1262
Yes some dapps are relying or even truffle framework is relying on this method. i don't know how exactly eth_getfilterlogs works if I understand correctly  eth_getfilterlogs returns all logs , but getFilterChanges returns only logs which occurred since last getFilterChanges call

[2018-11-03 18:46] ghost commented on #1126
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-03 18:46] #1126 closed, assigned to nobody

[2018-11-04 10:26] ghost commented on #1128
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-04 10:26] #1128 closed, assigned to adambabik

[2018-11-04 10:36] ghost commented on #1124
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-04 10:36] #1124 closed, assigned to divan

[2018-11-04 13:50] randomshinichi commented on #1216
Hey there, I talked with Adam and I'd like to do this as a nice first issue

[2018-11-04 16:30] flexsurfer commented on #1216
hey @randomshinichi i believe @mandrigin did this

[2018-11-05 15:04] dshulyak commented on #1216
@mandrigin shared this branch some time ago https://github.com/status-im/whisper/tree/feature/post-raw.

it seems that implementation is complete.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/whisper">s

[2018-11-06 04:41] oskarth opened #1266 "Implement congestion control at set bandwidth limit"
# Problem
As we saw during hackathon, sometimes we get a lot of bandwidth for unexpected reasons (e.g. mailserver direct TCP connection). This is unacceptable from a user point of view, and people saw their mobile data plan being drained.

# Implementation
Leverage TCP's built in congestion control and drop packets that go over a certain defined BW limit. E.g. 1 mb/s, or make this a setting that p

[2018-11-06 04:41] oskarth commented on #1266
^ @adambabik @mandrigin @PombeirP  @dshulyak

[2018-11-06 05:59] dshulyak commented on #1266
Are you sure that tcp congestion control is applicable here? I never seen rate limiting implemented using congestion control. I am also unaware how app can control this window.

I added rate limiting mechanism for whisper. Here: https://github.com/status-im/whisper/pull/1. The goal is exactly to have hard-cap for resources that can be spent. With the ability to blacklist peers that send more data

[2018-11-06 06:26] #1219 closed, assigned to dshulyak

[2018-11-06 06:40] dshulyak opened #1267 "Add support for arrays and slices to signTypedData"
# Problem

Both metamask and implementation linked to EIP do not support arrays.
I skipped them when typed data was implemented initially.

# Implementation

EIP 712 defines how array and slices should be encoded:

# Acceptance Criteria

Arrays and slices, denoted as `type[3]` and `type[]` are supported and can be used in typed data request.

[2018-11-06 06:41] #1262 closed, assigned to dshulyak

[2018-11-06 08:37] pedropombeiro commented on #1266
Could also be interesting to be able to ask the mailserver for an estimate of how much data it will be returning us. That would allow us to ask the user (in case he's not on WiFi, for example) for authorization to download messages, maybe as an inline message in the chat.

[2018-11-06 11:08] rachelhamlin opened #1268 "Contact codes may be generated incorrectly"
# Problem

Certain users can not edit their contact codes in the ENS usernames DApp.

See this issue in ens-usernames: https://github.com/status-im/ens-usernames/issues/79

[code]

# Notes

It's possible this is an issue on the DApp side but requires status-go to confirm.

[2018-11-06 11:09] oskarth commented on #1268
@status-im/go ^ thoughts?

[2018-11-06 11:30] oskarth commented on #1266
The point is there should be some way for endpoint to limit traffic, for example a la how BT client does it.

IIRC mailserver uses TCP. If packets are dropped IIRC most TCP handling code would deal with it properly, since it's a design goal to make it a reliable transport even if packets are lost, out of order or delayed.

[2018-11-06 11:59] dshulyak commented on #1268
I tried to unmarshall given public key into x and y coordinates. here is a snippet:

[code]

both x and y are 32 bytes. first byte is set to 4, so that elliptic.Unmarshal knows that public key is in compressed form

[2018-11-06 12:14] dshulyak commented on #1268
So every public key will be 65 bytes array. With 0 byte set to 4, and then every coordinate appended.  This is the code that is used: https://golang.org/src/crypto/elliptic/elliptic.go?s=8232:8279#L295.

@bgits I tried to follow js code and it seems that that they just expect 64 bytes here https://github.com/indutny/elliptic/blob/master/lib/elliptic/ec/key.js

<blockquote><div><strong><a href="htt

[2018-11-06 15:18] ghost commented on #1133
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-06 15:18] #1133 closed, assigned to nobody

[2018-11-06 18:25] bgits commented on #1268
I can confirm this is purely client-side. I opened a PR in ens-usernames to correct this.

[2018-11-07 04:49] dshulyak commented on #1268
Great, i will close issue then

[2018-11-07 04:49] #1268 closed, assigned to nobody

[2018-11-07 14:29] randomshinichi commented on #1267
I'd like to do this - is it still available?

[2018-11-07 15:00] dshulyak commented on #1267
@randomshinichi yes

[2018-11-07 16:05] randomshinichi commented on #1267
Cool. Forgive me for asking but I'm just starting out:
Is this api/backend.go (StatusBackend.SignTypedData) or lib/library.go (SignTypedData())?

What kind of data does it sign/when is this function used?

[2018-11-07 16:16] dshulyak commented on #1267
Library just wraps status backend to provide an interface for bindings that are used by mobile/desktop. You can find all the logic related to typed data in services/typeddata. Typed data is an implementation of the https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md

UPD: sorry, i pasted corrupted link at first. fixed it

[2018-11-08 10:27] oskarth commented on #1025
Also see https://slock.it/incubed.html and https://hackmd.io/6IhsF6zRSqmtggvNnp1sHQ?both re ULC economic model - we have a lot of interesting paths forward here. After messaging reliability, getting solid light client support (regardless specific manifestation(s)) is likely to be a top core priority.

<blockquote><img src="favicon.ico" width="48" align="right"><div><strong><a href="https://slock.i

[2018-11-08 11:28] dshulyak commented on #1266
i wasn't able to find any cases where congestion control was used to implement rate limiter. it seems that the common solution is to use flow control. application can slow down and keep receiver buffer full, which will make tcp to send necessary feedback to a sender. and sender will have to slow down. it can be added by wrapping all rlpx streams with single token bucket rate limiter. provided by j

[2018-11-08 11:39] oskarth commented on #1266
Sounds good, I think we need to figure out better semantics for mailserver re bursts.

That's what I was referring to - you are right, might've used the wrong terminology, the point is more that TCP is designed to deal with this (receiver buffer full, etc)

[2018-11-08 18:48] divan commented on #1267
@dshulyak just in case, there is a parallel implementation if EIP191/712 is in progress in geth: https://github.com/ethereum/go-ethereum/pull/17789

[2018-11-09 14:29] dshulyak commented on #1266
Do we have any other sources of network traffic on mobile?
Desktop client (on linux) receives about ~2.5 kb/sec and writes 1.5 kb/sec. I have maybe ~20 channels. Full node with discovery (statusd) and 4 peers consumed 4 kb/sec and 6 kb/sec.
I got this number from running nethogs, which is pretty accurate. How it could be that mobile device was receiving 1 mb/sec of traffic?

[2018-11-09 14:38] dshulyak opened #1270 "Peer will be disconnected if it will dial a node after it was discovered and added to pending peers"
# Problem

Each peer maintains pool of pending peers. This pool is populated from discovery. So if peer will try to dial a node where he is added to such pool of pending peers. And at this moment peer pool has enough peers - it will reject such peer and it won't be able to connect with it.

# Implementation

We need to track that we are trying to add a peer. And if receive a signal from a dialer p

[2018-11-10 17:31] pablanopete commented on #1256
I believe this link is outdated now since our web refresh.

[2018-11-10 18:06] pablanopete commented on #1256
On trying to generate a node key within docker I'm having this error. @adambabik

`docker run --rm ethereum/client-go:alltools-latest -genkey=/var/run/status-go/nodekey`

`docker: Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"-genkey=/var/run/status-go/nodekey\": stat -genkey=/var/run/status-go/nodekey: no such file or dir

[2018-11-11 07:26] oskarth commented on #1266
It was during Hackathon and intermittent, @adambabik @PombeirP @jakubgs has more. The point of original issue IMO is more to make sure it can never happen again.

[2018-11-11 09:26] jakubgs commented on #1258
I researched this today since I saw `netdata` containers continuously fail on the `les-rops` hosts and I found this:
https://grafana.status.im/d/QCTZ8-Vmk/single-host?orgId=1&var-host=node-02.do-ams3.les-rops.misc&from=1541861824532&to=1541862045175

The host runs out of memory:
![les_mem_usage](https://user-images.githubusercontent.com/2212681/48311141-a7a37880-e59b-11e8-86c7-14a2249b0371.png)

A

[2018-11-11 09:34] jakubgs commented on #1258
I have implemented and deployed a docker memory limit for LES nodes:
https://github.com/status-im/infra-misc/commit/ed99965073b6062a7fee2602f90f2b5cb82c68fa
Simply using the docker `--memory` option:
https://docs.docker.com/config/containers/resource_constraints/#memory
I've deployed it to the `les-rops.misc` fleet for now. Let's see how it changes it's behaviour.

<blockquote><img src="/favicons/

[2018-11-11 11:54] jakubgs commented on #1258
Well, at lest now the container gets restarted around 2.7 GB instead of going to the full 3.6 GB and fucking up the host and other containers:
![better_mem](https://user-images.githubusercontent.com/2212681/48312558-f0b1f780-e5b0-11e8-9b47-4a74f0da86ab.png)
Not sure if this is an improvement for the syncing process.

[2018-11-12 08:36] dshulyak commented on #1266
I was implying that perhaps we are fetching data from other sources, e.g. infura or some block explorer. But i can reproduce spikes on mobile when i am fetching history.

[2018-11-12 10:30] adambabik commented on #1256
@pablanopete the problem is a default `entrypoint` in that Docker image. Try add `--entrypoint=bootnode` after `--rm`.

[2018-11-12 15:04] ghost commented on #1153
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 15:14] ghost commented on #1154
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 09:04] ghost commented on #1155
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 09:24] ghost commented on #1097
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 10:14] mandrigin commented on #1195
duplicate of https://github.com/status-im/status-go/issues/1248

[2018-11-13 10:14] #1195 closed, assigned to nobody

[2018-11-13 13:58] #1270 closed, assigned to dshulyak

[2018-11-13 17:27] pedropombeiro opened #1274 "Add test to CI build to ensure compatibility with mailserver cluster"
# Problem

We've seen issues recently with an update to status-go that caused the canary to timeout any time it attempted to reach an `eth.beta` mailserver (`eth.staging` worked fine). To have an early warning system for this, it's important to run this test on the CI server to prevent a PR from inadvertently being merged that unknowingly causes compatibility issues with deployed cluster.

# Imple

[2018-11-14 14:00] ghost commented on #1116
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-15 14:23] dshulyak opened #1276 "Messages are "sent" but not delivered if network is flaky"
# Problem

If message is sent exactly when network connection disappears or changes it will be marked as "sent" but not delivered. To reproduce this issue writer must send messages at the high rate. In the test I am sending them every 50ms and in parallel introduce network conditions. Packet loss must result in the connection being dropped, so wait until connection will be terminated by read deadl

[2018-11-15 15:47] dshulyak commented on #1276
I can definitely reproduce this on mobile. Sent a message the exact moment i turned of wifi) marked as sent, but wasn't delivered to my desktop device or mailserver. And the same for desktop with enabled packet loss.

[2018-11-15 16:18] dshulyak commented on #1276
And I can reproduce the case with received notification without message. Once connection is restored notification will be sent, but message was already discarded. Not entirely sure why notification is sent, but it is probably done by client that we use for notifications.

[2018-11-15 17:37] adambabik commented on #1276
We talked about one idea during the hackathon. Let's assume we have N peers and select one peer randomly (`a^i`). Now, we send a message to N-1 peers and wait until it's received from peer `a^i`. If it's never received in T seconds, it's highly probable that the message did not leave the device and it should be retried.

Are there any concerns about privacy/darkness with regards to this approach?

[2018-11-16 04:48] dshulyak commented on #1276
it might be easier to distinguish messages that originate on the device that sends them this way

but i am more concerned about general guarantees that this approach provides. there is no end-to-end guarantee. consider the case where message was sent to the network successfully. but recipients mail server went offline and this message wasn't stored. so it will be never delivered to user.

[2018-11-16 08:48] dshulyak commented on #1276
For instance, this bug with "sent" but not delivered can be reproduced in a different ways:
- server that received a message will go down before it transmits messages further
- mail server of the recipient will be unreachable when message is transferred
- servers that used by sender or recipient are partitioned into separate network, think part of our cluster in alibaba

Each case can be simulated

[2018-11-16 09:20] adambabik commented on #1276
In this case, you would need to check with every mail server if it properly stored your message. That's not really feasible. Also, even if the mail server stored a particular message, there is no guarantee that the message will stay there for sufficient amount of time.

I agree that it is definitely possible to implement some checks/acks when two parties are online. They could exchange some info a

[2018-11-16 09:29] dshulyak commented on #1276
so what i was thinking about is to use a concept of a delegated mail server. at the beginning of communication peers should exchange which mail server they are using. not the whole ip address, but just an identity. this identity will respond to messages when original recipient is not available. and the sender will use responses from this identity as a confirmation of delivery.

[2018-11-16 09:32] mandrigin commented on #1276
What kind of redesign are you talking about exactly?

[2018-11-16 09:41] dshulyak commented on #1276
so to give an example: at the start you "pair" with some mail server. it can be you personal mail server, or one that found on the network. this mail server actually needs to know when it should send a confirmation. it can be done by sharing bloom filter, but it could be too broad. so once paired, you include id of this mail server in a contact exchange with me. when i am trying to communicate wit

[2018-11-16 09:51] mandrigin commented on #1276
So, if we start from ground up, we have a tad different message states than a normal centralized messenger has.

1. *Not Sent* — the message is still on our local node and wasn't sent anywhere
2. *In Transit* — the message has left the node, and propagated at least to one other node in the network.
3. *Delivered* — when the recipient node received the message.
4. *Timed Out* — when the message has

[2018-11-16 09:55] cammellos commented on #1276
we had acks at some point I believe in the chat high level protocol,
@rasom could you give us some insights of pro-cons/how they were working etc?

[2018-11-16 09:56] mandrigin commented on #1276
But that is of course is reasonable for 1:1 messages.
Public chats are way more tricky.
What does it even mean that the message was successfully delivered to a public chat?
Especially, when we don't control all the mailservers.

[2018-11-16 10:03] cammellos commented on #1276
public chat I don't think is feasible (bar checking mailserver etc), I think we should still at least make sure the message has left the node at the devp2p/whisper level, before sending a confirmation to the user, if that's easy enough and not too costly, it would cover at least the most obvious case of failure, still leaving us exposed to some scenarios of course.

[2018-11-16 10:04] mandrigin commented on #1276
So far, when all the mailservers are under our control, we need to be able to somehow ensure that they are in sync with each other and send acks when the public chat message is delivered to one (or, better, at least or two) of them.

[2018-11-16 10:06] cammellos commented on #1276
a mailserver could publish an ack of the whisper envelope hash (on some topic), and any client who cares could just listen for those acks, re-transmit otherwise

[2018-11-16 10:08] mandrigin commented on #1276
yeah, I agree, but then we also need to be sure that mailservers are in sync with each other as much as possible. Reinventing DB replication, but using Whisper :-P
One more thing, that I would maybe implement a special "mailserver ack" and wait for at least 2 (or N) of those to consider message "sent".

[2018-11-16 10:08] mandrigin commented on #1276
Alternatively, "~sent to~ received by a half of known mailservers" or something like that.

[2018-11-16 10:10] cammellos commented on #1276
yes, something like that, for replication we have the advantage of being append-only, but yes, at this point it  makes more sense to use an already working distributed database behind the scene, as re-implementing that is just not something we should do :), and they can synchronize each other outside whisper, as I don't think we would lose any darkness there but we need to think a bit carefully

[2018-11-16 10:13] dshulyak commented on #1276
the concern is a following situation: you send me a message while i am offline, it got lost. i came back online, and what are my options? i cannot send any acks, and i must request state that i am missing from you. so without any 3rd parties that can help us to synchronize state this seems unreliable.

it doesn't guarantee that **my** mail server received a message though

i am not sure that this

[2018-11-16 10:15] dshulyak commented on #1276
it is probably fine that public chats are best effort based. so receiving a confirmation from your mail server is enough

[2018-11-16 10:15] cammellos commented on #1276
that's very true, so there seem to be some conflicting views, probably we should figure out, do we care about user-run mailservers for now or we should only consider our stack?

[2018-11-16 10:16] mandrigin commented on #1276
But you won't get 100% consistency guarantees in any distributed systems all the time, if you want system availability, the CAP theorem. That is why in a distributed DB there are options like "wait until written to a single node, to at least two nodes, to at least 1/2 of the nodes in the cluster". That is the best effort.

[2018-11-16 10:18] cammellos commented on #1276
uh, maybe I misunderstood, what do you mean by `my` mailserver? the one you run your own or the one you are connected to?

[2018-11-16 10:19] mandrigin commented on #1276
That is why you show  "in transit" state to a sender, and not "sent". "In transit" doesn't provide guarantees that it won't timeout. So if the message is lost, at least the sender will know that after a timeout it didn't receive the Ack, so it can resend the message.

Marking message as "Sent" inquires that sooner or later the recipient will receive it when she'll be online. To me, wording matters

[2018-11-16 10:23] mandrigin commented on #1276
With a system where messages have any kind of TTL, it is impossible to guarantee that the recipient will receive your message even if it is successfully propagated in the network (to all nodes and mailservers in our case). So we shouldn't pretend that we can guarantee it.

[2018-11-16 10:30] mandrigin commented on #1276
So, for real the states that we care about are:
Not Sent,
Propagating (to mailservers, that is),
In Transit (when it propagated to the number of mailserver we want, but wasn't delivered to the recipient, "Sent" for public chats),
Delivered (only for 1:1),
Seen (only for 1:1),
Error

[2018-11-16 10:31] dshulyak commented on #1276
i think the latter. if we care only about our stack, that we can just use http servers with a distributed database behind. no?

but this is not what i care. in this case i care only about consistency between me and the recipient. thats why i am waiting for confirmation from recipient or mail server that is used by recipient.

the one that i am using. it can be my own though

it may work i am not a

[2018-11-16 10:32] rasom commented on #1276
@cammellos

naïve implementation, some types of messages required acks and if you haven't received them during some period of time you retried sending (N times). Guys removed that code when mail servers were introduced, though it was discussed that users might want to not rely on mailservers at all because of security concerns and we still need to guaranty delivery in this case (to some extent).

[2018-11-16 10:34] rasom commented on #1276
that's what we expected from `envelope.sent` event

[2018-11-16 10:41] mandrigin commented on #1276
okay, we need to branch 2 discussions from here, because there I was talking (mostly) about public chats mostly, but you are clearly answering about 1:1 chats :-)

though, I agree, for 1:1 chat, maybe a delegated mailserver could work. at least, we might try it out.

a few concerns there:
1) what if this mailserver becomes unavailable mid-chat
2) what if we have negotiated on the mailserver while

[2018-11-16 10:54] dshulyak commented on #1276
definitely, i completely agree that those 2 cases should be separated. i personally fine with probabilistic guarantees for public chats. but for 1to1 and potentially group chats i want to have strict guarantee.

sorry, i was thinking that any device can send an ack, but mail server acts as helper to synchronize the state of our conversation when we are not online simultaneously.

i don't have an a

[2018-11-16 11:12] mandrigin commented on #1276
@dshulyak yeah, it is obvious we need some kinds of acks.
Do you want to start working on implementing acks now? I can create a github issue then.

I'll try to coordinate the project in the meantime.

[2018-11-16 11:51] dshulyak commented on #1276
Do you want to start working on implementing acks now? I can create a github issue then.

yes, i am looking how to introduce those on whisper level.

let me know if there are other ideas

[2018-11-16 11:55] mandrigin commented on #1276
@dshulyak I think that is a great starting point, I will make a separate github issue for that if you don't mind and let's keep this one for a "bigger picture".

[2018-11-16 12:00] mandrigin opened #1278 "Introduce ACKs for Whisper envelopes"
# Problem

One of the ways to mitigate this issue: https://github.com/status-im/status-go/issues/1276

# Implementation

A few requirements to the implementation:
1. Distinction of ACKs from a mailserver and a normal node (recipient)
1. It should not break compatibility with the current versions of status-go (e.g. old clients are ignoring these ACK messages)
1. ACKs should probably be regular whis

[2018-11-16 12:07] dshulyak commented on #1278
Please elaborate what do you mean by the ACK from mail server. Is that an envelope? I don't like the idea that every mail server will produce an envelope for every received message. This way volume of messages will be simply multiplied by the number of mail servers in the network.

What i wanted to introduce is a light-weight ack from a node that receives a batch of envelopes. This will be a hash

[2018-11-16 12:15] mandrigin commented on #1278
Yeah, that is true, I'm not trying to force any specific implementation details.

What I want from ACKs is to be able to receive a confirmation that it reached 1 or 2 mailservers (any mailservers in the network).

Because just sending it to any peer means very little in case of heavy network partitioning and partial availability (like mobile clients). Message not leaving our node and message leavi

[2018-11-16 12:56] adambabik commented on #1276
We can not rely only on our mail servers. Also, negotiating a mail server is not an option because one may go down in the middle of the conversation and then a new mail server must be negotiated but it's super complicated and still not perfect. Also, it means I need to trust the same mail server that my interlocutor which is not true.

I like the option with acks on Whisper level but please first

[2018-11-16 13:21] mandrigin commented on #1276
Which checks are you talking about here?

[2018-11-16 13:26] dshulyak commented on #1276
@adambabik

i feel like this is not what i was describing. and probably it is different from @mandrigin idea as well.
in my solution mail server was chosen by a user. but it is there only to speedup synchronization. so if we are communicating. you will send me an id that can sign a confirmation on your behalf. i will send you another id. it is true that they may go down, in such case message will

[2018-11-16 13:50] adambabik commented on #1276
ID of what? Of mail server that will send confirmations that it stored my messages?

[2018-11-16 13:51] dshulyak commented on #1276
by id i meant public key. doesn't have to be publicly known id of the mail server. you negotiate this id when you "pair" with mail server.

[2018-11-16 13:53] adambabik commented on #1276
There was just a proposal for now but it looked like when I send a message and you are offline, my messages are sent to your second device. When you are back online, you sync with your second device first and then you should be able to continue conversation with the full history.

Is this flow the same what you propose?

[2018-11-16 13:54] dshulyak commented on #1276
exactly. but we do it over whisper, no direct communication. not sure if thats direct in briar, just mentioned that for clarity)

[2018-11-16 14:12] adambabik commented on #1276
Won't it introduce quite significant additional network load? Mail server will send an ack for every message? Can we make it work with https://github.com/status-im/status-go/issues/1276#issuecomment-439126115 with a difference that a mail server would need to be added as a peer for the whole period of time when one wants to send messages?

I don't know if briar uses anything other than direct p2p

[2018-11-16 14:17] mandrigin commented on #1276
@adambabik it depends how big the ACKs is, but since we have these special nodes to support offline messaging, only their ACKs make sense to track. No other node guarantees anything since the TTL that we use is so low.

[2018-11-16 14:19] mandrigin commented on #1276
and, again, to me reliable messaging > network load
If messaging doesn't work, I don't really care how much traffic is used by the chat application.

[2018-11-16 14:31] dshulyak commented on #1276
it won't increase it x10, but rather a x2-3, depends on the optimizations. i don't think that https://github.com/status-im/status-go/issues/1276#issuecomment-439126115 covers network partitioning, or provides any delivery guarantees to recipient. it only gives guarantee of a delivery to potentially closest peers, and we can do that using whisper acks.

no doubt, but it cannot be growing uncontroll

[2018-11-16 15:16] adambabik opened #1279 "Improve response time for mail servers"
# Problem

After we started collecting proper metrics, [it became obvious](https://grafana.status.im/d/wV77E-4mz/statusd-metrics?panelId=11&fullscreen&orgId=1&from=now-6h&to=now&var-host=mail.*&var-fleet=beta&var-fleet=staging&var-dc=ac-cn-hongkong-c&var-dc=do-ams3&var-dc=gc-us-central1-a) that processing request by mail servers is slow.

# Solution

1. Collect more metrics that will allow us to d

[2018-11-19 12:18] dshulyak commented on #1278
regarding handling confirmations that message was delivered over the network. the proposal is to extend whisper with a confirmation code. this code will be sent as a response to messagesCode. bundle that is sent as a body of messages will be hashed with keccak256 and sent as a response.

on the side of the message sender we will track sent envelopes the same way we do now, but additionally we will

[2018-11-19 12:23] adambabik opened #1281 "Flaky TestGetFilterLogs"
# Problem
Test `TestGetFilterLogs` is flaky:

[code]

# Acceptance Criteria

1. Race conditions and flakiness of `TestGetFilterLogs` is removed.

[2018-11-19 12:34] dshulyak commented on #1281
Yes, indeed it polls in the background. So it needs to be at least one

[2018-11-19 15:13] ghost commented on #1153
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 15:13] #1153 closed, assigned to nobody

[2018-11-19 15:16] ghost commented on #1154
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 15:16] #1154 closed, assigned to nobody

[2018-11-19 15:22] pedropombeiro commented on #1274
As Adam pointed out, this could be moved to https://github.com/status-im/statusd-bots/. There's actually an existing program which is very similar: https://github.com/status-im/statusd-bots/blob/master/cmd/bench-mailserver/main.go

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" he

[2018-11-19 15:28] adambabik commented on #1278
It also means that we will keep mail servers as peers for the length of a session, right? Currently, I guess we occupy a conn slot to mail servers for a brief time when we request messages.

---

I am not really sure if there is any benefit for having this information that bundle was processed by the immediate peers. This does not provide any additional guarantees.

I like the idea with mail serve

[2018-11-19 16:08] dshulyak commented on #1278
i thought that we are connected with mail server all the time. looking at my connection on desktop - mail server is connected all the time.

in that part i meant that we will wait for the bundle confirmation, but from mail server. only client will know the difference between regular peer or mail server, based on the configuration it has.

it provides user with a feedback that envelope atleast reac

[2018-11-19 16:33] pedropombeiro commented on #1266
For context, what happened at the Hackathon was that whenever I managed to connect to a mailserver, I started seeing my downstream connection saturated (both on mobile and desktop). On Desktop, I checked with Wireshark and this was coming from the mailserver I was connected to. It probably had to do with the issues we were having with mailservers at the time (later identified to be a mismatch in t

[2018-11-19 16:41] pedropombeiro commented on #1274
@adambabik on second thought, moving the canary to another repo would prevent the canary being tested together with the PR branch changes, which is the whole idea (at least without some more complex CI infrastructure to build https://github.com/status-im/statusd-bots for each status-go PR), so I'd propose leaving the canary in this repo for now. What do you think?

<blockquote><img src="https://av

[2018-11-19 17:22] adambabik commented on #1278
Oh maybe it has been changed again then...

I think the same, unfortunately. Mailserver only knows of a topic of the message and that's it... Also, still if we receive a confirmation from Mailserver A and the recipient of our message uses Mailserver B, it does not mean much.

It seems like the flow needs to look like this:
1. Identity A sends a message to identity B,
2. Identity B has a mail serve

[2018-11-19 17:34] mandrigin commented on #1278
@adambabik what would it be in case of a public chat then? that is the biggest concern right now. there won't be any identity B in that case, storing the message on our own* mailserver is the best bet of ours if we don't want to hugely increase times to send messages are propagated. Then we can only ensure that the mailservers are in sync.

For someone deploying his/her own mailserver it is either

[2018-11-19 17:34] mandrigin commented on #1278
so, I would say, if our mailservers are in sync with each other, then having a message written to our mailserver is enough

[2018-11-19 17:39] mandrigin commented on #1278
Also, I believe we are always connected to a mailserver. We request messages all the time, whenever the app's background state has changed. If we wouldn't, minimizing the app for a few seconds and restoring it back would be enough to break the consistency of the chatroom on iOS.

[2018-11-19 17:46] adambabik commented on #1274
If we want to use it to test branch changes then it makes sense to keep it. In my opinion, it provides some guarantees but it's not enough and it does not prevent from releasing something that is incompatible with the current mobile app, for example.

The ideal scenario, in my opinion, would be that a build from a branch is run as a node and it's verified with some contract testing. But we are not

[2018-11-19 18:02] pedropombeiro commented on #1274
Yeah, this is meant as low-hanging fruit that will at least avoid the most obvious breakages.

[2018-11-19 18:02] #1274 closed, assigned to pedropombeiro

[2018-11-19 18:31] adambabik commented on #1278
There is no such thing as "mail servers being in-sync". We would need to write some additional layer that would be responsible for that. That's doable it just a matter of how we want to store data, using decentralized storage like swarm or distributed database. In both cases, we need to elect a leader responsible for writes which increases centralization.

As long as all participant of a public ch

[2018-11-19 19:41] mandrigin commented on #1278
yeah, and as I understand, that is exactly what @dshulyak is working on :)

[2018-11-19 22:04] adambabik commented on #1278
I think so too but I would love to see more explanation/details before we dive into coding :) I still don't feel like we have specified the solution properly. It's a huge difference whether we decide to broadcast confirmations, send them p2p or have them as a separate packet type.

[2018-11-20 05:17] dshulyak commented on #1278
this is the only flow that seems intuitively correct to me, even when network won't be controlled by us. sender has a very strict guarantee that message is either delivered to recipient's device or mail server that is reachable by recipient.

but as it was mentioned this model works well for 1 to 1, and maybe group chats. but not for public chats. it also seems to me that we cannot provide consist

[2018-11-20 08:42] dshulyak opened #1285 "Provide information about selected mail servers to status-go"
# Problem

We need to have information about selected mail servers when [confirmation](https://github.com/status-im/status-go/issues/1278) is received.

Several alternatives:
- assume that we are always connected with a mail server from TrustedMailServers. This information already available in status-go configuration. But it doesn't include info about manually added mail servers. So we may get int

[2018-11-20 08:51] adambabik commented on #1278
👍

I think it would be a safe assumption. If you want to have the best experience for `status-*` chats, use one of Status provided mail servers. But at the same time, we should make sure it works good with custom mail servers as well.

I would like to explore a few things:
* create sequence diagrams displaying how this solution will work for 1-1, group and public chats,
* what happens in a case wh

[2018-11-20 09:06] ghost commented on #1155
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 09:06] #1155 closed, assigned to nobody

[2018-11-20 09:26] ghost commented on #1097
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 09:26] #1097 closed, assigned to sebastiandelgado

[2018-11-20 09:55] mandrigin commented on #1278
at least, this should be a requirement, so the old mailservers work with new clients and vice versa

[2018-11-20 15:58] dshulyak commented on #1278
they all will be the same. sender receives ack from mail server. then we "hope" that message is actually delivered to the recipient, or mail server that is used by recipient. there is no confusion here, we do not provide strong guarantee.

the same as it waits now. until envelope is dropped from whisper queue. it is based on envelope TTL, which was 30s last time i checked.

i assume user just sele

[2018-11-20 16:04] mandrigin commented on #1278
actually, as a second step, we can adjust the UI on the Clojure side so we can add a timeout between a message leaving the node to a mailserver and receiving a "seen" confirmation. but that isn't a part of Whisper, it is a part of the protocol that is implemented on Clojure side.

[2018-11-20 22:55] adambabik opened #1287 "Validate consistency between `DataDir` and `WhisperConfig.DataDir` when using JSON configs"
# Problem

We came across a subtle issue with setting `DataDir` when running statusd. The problem is that when you run statusd without `-dir` flag but set `DataDir` in the JSON config, `WhisperConfig.DataDir` will still have a default value that is set for `-dir`.

# Implementation

We should validate that if `DataDir` is provided in a JSON config and Whisper is enabled, `WhisperConfig.DataDir` sh

[2018-11-21 09:49] adambabik commented on #1278
I still don't have a big picture and that's why I am asking questions :P

I though that we actually have two cases:
1. Public chats. In this case mail servers will send confirmation using a p2p connection so a device needs a permanent connection with them but that won't clutter the network with additional messages. It requires all participants of, for example, `status-*` chats to use the same mail

[2018-11-21 14:02] ghost commented on #1116
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-21 14:02] #1116 closed, assigned to nobody

[2018-11-22 03:15] ghost commented on #1169
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 06:43] dshulyak commented on #1278
i am not sure that confirmations in private chat between peers that are not both online are useful. we will have to think about that second step more.

i have similar thoughts. mentioned in previous messages that custom mail server will have to be "well-connected" with our fleet of mail servers. maybe we will need to provide a user with instructions how to ensure that.

[2018-11-22 08:17] adambabik commented on #1278
This is definitely something more advanced because you need additional mechanism in mail servers to tell them for which topics they should broadcast confirmations and this information needs to be persistent. I think it might be pretty cool because you at least know that recipient's mail server saved your message. However, as it's more advanced, I would be totally ok to skip this in the first itera

[2018-11-22 08:24] dshulyak commented on #1278
created issue in geth to collect some feedback for whisper confirmations: https://github.com/ethereum/go-ethereum/issues/18159 . we can follow up with EIP update if this use case will be relevant for whisper.

[2018-11-23 08:53] dshulyak commented on #1285
Trying to collected requirements for mail server connection management. Let me know if there is some conflicting work, so that i can adjust appropriately.

- App will provide client side load balancing. So that if one mail server is out of slots for new peers, or unreachable we swap it with another one. User should be able to select list of mail servers that he wants to use. If he haven't selected

[2018-11-23 14:01] mandrigin commented on #1285
No, I don't see any conflicting work there.
Btw, which parts will be implemented in what codebase?

[2018-11-23 14:25] dshulyak commented on #1285
@mandrigin i am thinking about adding all this logic to status-go, and status-react will only provide UI for this functions. what are your thoughts?

[2018-11-23 14:31] mandrigin commented on #1258
Okay, it looks like it is because we still use the old go-ethereum that doesn't support Constantinople hard fork.

[2018-11-23 14:33] mandrigin commented on #1285
Make sense to me. Is that one a blocker to ACKs?

[2018-11-23 14:47] dshulyak commented on #1285
definitely not, just a thing that would be nice to implement in future. technically nothing blocks ACKs, status-react already maintains connection with mail server. the main improvement here is a selection of many mail servers

[2018-11-23 15:01] adambabik commented on #1285
Do we already have some mechanisms to handle flaky/stale peers? We implemented flakiness detection but I don't remember if we actually do something with this knowledge. My point is that we could have some general flakiness detection logic (which is general for all types of peers) and some more specific one for mail servers.

I like this idea, it can definitely simplify the current situation when p

[2018-11-23 15:25] yenda commented on #1285
Totally the current situation of managing mailservers on status-react is far from ideal. It requires many round trips with status-go to get connected (addPeer, wait for peer summary update, markTrustedPeer, create sym-key),
Defining a simple API with connectMailserver(mailserverList) to connect to mailserver and a few signals mailserver.connected / mailserver.disconnected / mailserver.connecting w

[2018-11-24 16:10] adambabik opened #1290 "Mail server data synchronization"
# Problem

Due to lack of data synchronisation between mail servers, our users experience the following issues:
1. New mail servers do not contain messages sent beforehand,
2. Intermittent problems with mail servers lead to single messages being lost.

This can be frustrating because two users can see totally different results while both claiming to use Status-provided mail servers.

# Implementat

[2018-11-24 16:13] adambabik commented on #1290
I'd like to work on a POC first that validates usage of a decentralized database and how complex storage and retrieving of messages would be.

[2018-11-26 08:16] mandrigin commented on #1290
Sounds good to me!

[2018-11-27 15:18] 3esmit opened #1294 "Too many `unexpected EOF` in geth.log"
On Status Desktop, geth.log is having lots of log errors at the same second.

example:

[code]

Full log: https://file.io/lLhz8y

Version: https://status-im.ams3.digitaloceanspaces.com/StatusIm-181127-130220-f5a0c2-nightly.exe

This already happened in early versions, from my geth.log I can see it since day 23 this constants errors.

<blockquote></blockquote>
<blockquote></blockquote>

[2018-11-27 15:21] cammellos commented on #1294
This is my doing, the error is not a problem (we are just fingerprinting for protobuf messages), I can make it silent at this simply mean that is not a protobuf message.

[2018-11-27 17:18] 3esmit commented on #1294
I just saw the messages because I was following everything the app is doing in PC.
Not sure if should silent it, but having it multiple times per second the same messages is strange.

[2018-11-28 09:16] #1278 closed, assigned to dshulyak

[2018-11-28 09:27] adambabik commented on #1256
It's changed https://hub.docker.com/r/statusteam/status-go/.

<blockquote></blockquote>

[2018-11-28 09:27] #1256 closed, assigned to nobody

[2018-11-29 03:18] ghost commented on #1169
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 03:18] #1169 closed, assigned to nobody

[2018-12-04 09:19] adambabik commented on #1290
Update: currently I am working on a protocol level synchronization as it's needed even if we decide to use a distributed storage for our mail servers.

[2018-12-04 09:55] adambabik commented on #1290
[The first PR is ready](https://github.com/status-im/whisper/pull/13). It extends Whisper protocol with two opcodes that can be used to sync messages between two nodes. There are a few todos there but the main logic is done.

[2018-12-10 00:04] ghost commented on #812
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-10 07:15] dshulyak commented on #1290
i just realized that it kinda re-implements current method for fetching messages. i could synchronize two mailservers by doing three-four steps:
1. enable mail server on a node A
2. connect node A to node B (node B is a mail server which we want to use for sync)
3. requestMessages on node A with a node B as a target
4. node A will request messages and sync in whisper

am i missing why do we need a

[2018-12-10 08:49] adambabik commented on #1290
Yeah, it's true that the flow is very similar, however, `requestMessages on node A with a node B as a target` will deliver messages from node B but they will never be added to Whisper and won't be archived, only processed by registered Whisper filters.

I didn't want to interfere with the existing logic but the viable solution could be to call `whisper.mailserver.Archive()` (like here https://gith

[2018-12-10 09:20] dshulyak commented on #1290
Thanks, you are right. I forgot that the flow is not the same. It just seemed to me that you are adding really similar code, so maybe it makes sense just to add that if condition. But i don't have any issues if you see that this stuff will be developed into something more complex or different.

[2018-12-10 11:59] #1258 closed, assigned to nobody

[2018-12-11 07:48] adambabik opened #1315 "Fix flaky test TestSyncBetweenTwoMailServers"
# Problem

[code]

`TestSyncBetweenTwoMailServers` is flaky.

# Acceptance Criteria

1. Make sure `TestSyncBetweenTwoMailServers` is not flaky on Travis.

[2018-12-12 08:37] adambabik opened #1317 "Fix flaky test TestRequestMessagesWithPagination"
# Problem
There is another flaky test:

[code]

# Implementation
The problem is a bit larger here. Detection of the mail server response works this way:

1. We wait for `whisper.EventMailServerRequestCompleted` event. It contains `LastEnvelopeHash`,
1. Next, we wait for an envelope with a hash equal to `LastEnvelopeHash`.

Waiting for the envelope can be done in two ways:

1. By creating a filter

[2018-12-12 09:39] #1285 closed, assigned to dshulyak

[2018-12-12 10:21] #1315 closed, assigned to adambabik

[2018-12-14 09:34] adambabik opened #1321 "Extract mail server Cursor to a separate struct/module"
# Problem
Cursor for pagination used by mail servers requires proper serialization and deserialization.

Currently, cursor is a slice of bytes (`[]byte`) and `hex` module from standard library is used to serialize and deserialize it when passing to JSON-RPC methods.

The problem is that the serialization/deserialization logic, as simple as it is, has a few implementations and instead there should

[2018-12-14 11:21] #1290 closed, assigned to adambabik

[2018-12-16 01:24] 3ach opened #1323 "Makefile fails if GOPATH has multiple entries"
# Problem
`make setup` fails if there are multiple entries in the GOPATH environment variable.

# Implementation
Maybe the first entry in GOPATH should be used in the Makefile, this is the approach `go get` uses.

# Acceptance Criteria
`status-go` can be built with multiple entries in the GOPATH

[2018-12-17 00:05] ghost commented on #812
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-17 00:05] #812 closed, assigned to nobody

[2018-12-17 13:08] adambabik commented on #1323
@zachzundel how do such multiple entries look like? For example `GOPATH=/one/path:/second/path` etc?

[2018-12-17 13:10] adambabik opened #1324 "Update geth to Constant (v1.8.20)"
# Problem

There is a new version of geth called Constant (v1.8.20).

# Implementation

Update our fork https://github.com/status-im/go-ethereum (`patched/1.8`) with geth 1.8.20 and then go-ethereum dependency in status-go.

# Acceptance Criteria

1. Tests pass,
2. Both Status mobile and desktop apps work as expected.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v

[2018-12-17 13:49] adambabik opened #1325 "Deploy docker image for status-go when doing a release"
# Problem

Currently, we have a Jenkins job that creates status-go releases but this job does not pushes a docker image to Docker Hub.

# Implementation

When doing a release of status-go using Jenkins, a docker image should be a part of the release.

# Acceptance Criteria

1. Releasing status-go creates and pushes a Docker image to [Docker Hub](https://hub.docker.com/r/statusteam/status-go). It s

[2018-12-17 21:30] 3ach commented on #1323
Yes

On Mon, Dec 17, 2018 at 06:08 Adam Babik <notifications@github.com> wrote:

[2018-12-18 08:37] adambabik commented on #1323
Ok, all clear. Thanks for reporting this issue! I marked it with a label for people who would like to contribute to the project for better visibility.

[2018-12-19 10:02] #1324 closed, assigned to adambabik

[2018-12-23 17:02] ghost commented on #576
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 07:08] ghost commented on #1190
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 07:48] ghost commented on #295
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 16:02] ghost commented on #1149
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-30 17:05] ghost commented on #576
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 17:05] #576 closed, assigned to JekaMas

[2018-12-31 07:09] ghost commented on #1190
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 07:09] #1190 closed, assigned to pedropombeiro

[2018-12-31 07:49] ghost commented on #295
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 07:49] #295 closed

[2019-01-01 16:11] ghost commented on #1149
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 16:11] #1149 closed, assigned to nobody

[2019-01-02 14:20] ghost commented on #1223
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-03 10:43] flexsurfer opened #1338 "RPC PUB SUB support"
# Problem
New ethereum provider introduces notifications in https://eips.ethereum.org/EIPS/eip-1193, which use RPC PUB SUB https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB#supported-subscriptions, we need support for this in status-go

<blockquote><div>Ethereum Improvement Proposals</div><div><strong>[Ethereum Provider JavaScript API](http://eips.ethereum.org/EIPS/eip-1193)</strong></div><

[2019-01-03 16:22] adambabik commented on #1338
I would make [switching to gomobile](https://github.com/status-im/status-go/pull/1164) a blocker for this taks. When we have gomobile, the implementation will be much nicer.

[2019-01-03 16:47] dshulyak commented on #1338
can you clarify why it will be easier?

[2019-01-03 18:38] adambabik opened #1339 "Fix flaky TestSyncBetweenTwoMailServers test"
# Problem
Another flaki test:

[code]

The root cause is that adding a peer to the p2p server and sending an corresponding event does not mean that the peer was added to the Whisper service already as well. When a request for messages is sent but the peer is not added to the Whisper service, an error as above is returned.

# Implementation
Make sure that the peer is added to the Whisper service as

[2019-01-03 18:54] adambabik commented on #1338
@dshulyak we will be able to do stuff like [this](https://github.com/status-im/status-go/blob/6c8ac96763a84836031ba75b57b31fe2643d0723/signal/signals.go#L108-L112). It will be possible to write something like:
[code]

where `callback` is a function or an object matching an interface defined in status-go.

With CGO we can't pass anything else than a byte array.

[2019-01-04 09:05] dshulyak commented on #1338
@adambabik i guess you have different implementation in mind. i assumed that we will have to use signals as a subscription channel.

as i understand rpc returns ID when subscription is created. i thought that we will implement another rpc transport that will deliver data to subscribers through signals. subscriber, in this case signals handlers in clojure code, will have to keep IDs somewhere in we

[2019-01-04 10:54] adambabik commented on #1338
Yes, I have a different implementation in mind. I am not sure if using signals is the best experience from Clojure side. In the examples from @flexsurfer there is something like this for subscriptions:
[code]

With signals, we probably need something like this:
[code]

but the problem is that `subscriptionID` is unknown yet, it's returned by `on()`.

That's why I though about gomobile because a ca

[2019-01-04 11:04] dshulyak commented on #1338
subscriptioID needs to be known anyway. i think it is stored somewhere inside of the ethereum object. so by this call you just subscribe with callback, ethereum object makes a call, but subscriptionID is unknown to a subscriber.

unless ethereum is not stateful object nothing changes dramatically, but internally signals can be used instead of ipc or websockets.

[2019-01-04 11:42] adambabik commented on #1338
Oh yeah, I did not notice that:
[code]

So actually it's on user to properly filter received notifications. In terms of events, there is a finite set of them: `notification`, `connect`, `close`, `networkChanged`, and `accountsChanged` and each can correspond to a signal with a type.

[2019-01-04 11:44] #1287 closed, assigned to adambabik

[2019-01-04 17:28] pedropombeiro commented on #1338
Missed the comments here somehow (I think I had this page open since yesterday and it didn't refresh) and already started looking into this today, and yeah, things are working fine in the way @dshulyak explained, now it's only a question of implementing the required code on the react side. Pushing the current state so you can take a look.

[2019-01-04 17:50] pedropombeiro commented on #1338
@jeluard @flexsurfer if you want to give this a spin, there's a [status-go build](https://ci.status.im/job/status-go/job/parallel/212/) in progress. You'll just need to add the [3 new signals](https://github.com/status-im/status-go/blob/577ba91f4724b672034ab3567f01fe3f33f25792/signal/events_shhext.go#L32-L39) to https://github.com/status-im/status-react/blob/develop/src/status_im/signals/core.cljs

[2019-01-05 13:34] ghost commented on #1185
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-07 09:10] jeluard commented on #1338
@PombeirP Thanks!
@flexsurfer Can you take a look?

[2019-01-07 11:00] flexsurfer commented on #1338
yep

[2019-01-07 14:19] flexsurfer commented on #1338
@PombeirP looks like build is failed ?

[2019-01-07 14:22] pedropombeiro commented on #1338
@flexsurfer please try this one: https://ci.status.im/job/status-go/job/parallel/213/. Seems like there's a flaky unit test.

<blockquote><img src="/static/04e18fb5/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-go/job/parallel/213/">status-go » parallel #213 [Jenkins]</a></strong></div></blockquote>

[2019-01-09 14:23] ghost commented on #1223
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-09 14:23] #1223 closed, assigned to nobody

[2019-01-10 08:54] diglos opened #1344 "Makefile fails for ARM64 architecture"
# Problem

The command "make setup" raises the following error:

`golangci/golangci-lint crit platform linux/arm64 is not supported`

Is there any workaround for this?

[2019-01-10 23:29] diglos commented on #1344
I'm closing the issue as it is easy to cross compile with xgo.

[2019-01-10 23:29] #1344 closed, assigned to nobody

[2019-01-12 13:41] ghost commented on #1185
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-12 13:41] #1185 closed, assigned to nobody

[2019-01-16 09:22] ghost commented on #1233
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #1247
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #679
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #1247
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #679
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #1252
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #1252
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-23 09:23] ghost commented on #1233
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 09:23] ghost commented on #1233
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 09:23] #1233 closed, assigned to nobody

[2019-01-23 10:53] ghost commented on #1253
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-24 08:07] ghost commented on #1248
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 17:06] ghost commented on #1252
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:06] ghost commented on #679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:06] ghost commented on #1247
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:06] #1252 closed, assigned to nobody

[2019-01-29 17:06] #1247 closed, assigned to b00ris

[2019-01-31 14:46] ghost commented on #1224
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:46] ghost commented on #1248
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-31 14:46] ghost commented on #1253
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-31 14:46] #1248 closed, assigned to nobody

[2019-01-31 14:46] #1253 closed, assigned to dshulyak

[2019-01-31 18:54] edmundmiller opened #1366 "Different versions of nodes can not connect"
fd949c5 broke our `status-go` node, and we were unable to connect until we upgraded to `.1`.

Not sure if that's acceptable or not to the team, since you're in the middle of development, and updating the default mail servers yourselves, I just thought it might cause issues for community members in the future.

This is just an FYI in case you cared about backwards compatibility across recent versio

[2019-02-03 15:14] ghost commented on #1216
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 10:34] ghost commented on #1025
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 17:25] jakubgs opened #1369 "Enode printed in logs does not take into account AdvertiseAddr setting"
Regardless of what is set under `AdvertiseAddr` key in the config the `enode` address printed in the logs is always showing `127.0.0.1` as it's address:
[code]

[2019-02-06 18:54] ghost commented on #1267
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 20:17] oskarth commented on #1025
keealive

(backlog of core team iirc @mandrigin)

[2019-02-06 20:17] oskarth commented on #1025
Slock it would be useful as another iteration of network incentivization (along with PN work), once research for initial messaging/offline is done.

cc @cammellos @mandrigin

[2019-02-07 14:49] ghost commented on #1224
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-07 14:49] #1224 closed, assigned to adambabik

[2019-02-10 08:33] Swader commented on #679
Reopening

[2019-02-10 15:18] ghost commented on #1216
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 15:18] #1216 closed, assigned to mandrigin

[2019-02-13 08:25] adambabik commented on #1366
Hey @Emiller88. To clarify, you mean that it worked fine for `0.20.0-beta.0` and `0.20.0-beta.1` stopped working?

Also, when you say "connect" you mean connecting to one of our nodes in `eth.beta`?

[2019-02-13 17:07] edmundmiller commented on #1366
It still works on `.1` connecting to your group of nodes that are on `.1`.

The `.0` version could not connect with the `.1` nodes/mailservers and retrieve messages.

[2019-02-13 18:58] ghost commented on #1267
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-13 18:58] #1267 closed, assigned to dshulyak

[2019-02-14 15:28] ghost commented on #1279
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-16 03:02] zeddee commented on #1323
hey @zachzundel @adambabik,

I think I've fixed this in #1376 ? But just read CONTRIBUTE.md and closed it to comply with guidelines + goahead to work on this

[2019-02-17 12:37] ghost commented on #1281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-17 16:37] ghost commented on #1266
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-17 17:47] ghost commented on #1276
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-17 19:55] adambabik commented on #1276
@dshulyak hasn't this issue been solved after you introduced acknowledging?

[2019-02-18 02:03] oskarth commented on #1266
keepalive

cc @mandrigin

[2019-02-18 15:25] dshulyak opened #1381 "Retry sending payload automatically if it expired"
# Problem

In current solution if envelope expires we send a signal to a caller, that we failed to deliver payload, and we wait for user actions.

# Implementation

Add a separate component that will retry to deliver payload at least couple of times before halting. Such component needs to track users payload by some unique ID and listen for envelope events. We will have to create new envelope ever

[2019-02-19 20:07] mandrigin commented on #1276
there is one more bugfix we need to add to status-go (https://github.com/status-im/status-go/pull/1378) and then make a new release and update it in status-react. then we can close it.

[2019-02-21 08:39] dshulyak opened #1385 "Race issue between batch.acknowledged event and envelope.sent event"
# Problem

We are sending envelope.sent event right after envelopes were successfully written to socket corresponding to the peer. Batch.acknowledged event is sent when peer reads those envelopes and responds with a confirmation for them. In case if there is no delay before responding back with confirmation (e.g. without actual network), it may happen that batch.acknowledged event will be sent soo

[2019-02-21 09:51] gravityblast opened #1387 "Refactor Transactor"
`transactions/transactor.go` contains 3 methods (`HashTransaction`, `SendTransactionWithSignature`, `validateAndPropagate`) that are different but have many things in common like setting the right gas, gasPrice, and nonce.

We can refactor that struct so that we don't have duplications and we can have more readable code.

[2019-02-21 15:32] ghost commented on #1279
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-21 15:32] #1279 closed, assigned to nobody

[2019-02-25 17:24] ghost commented on #1294
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-25 20:42] mandrigin commented on #1294
it isn't stale and it is annoying tbh

[2019-02-26 10:07] cammellos commented on #1294
I believe this should have already been fixed in latest version of status-go, is there a way to check nowadays as `geth.log` is not created anymore?

[2019-02-26 10:25] mandrigin commented on #1294
the fix is almost there: https://github.com/status-im/status-react/pull/7585

[2019-03-07 07:56] #1381 closed, assigned to nobody

[2019-03-07 07:58] dshulyak opened #1408 "TestWhisperMailboxTestSuite/TestSyncBetweenTwoMailServers is flaky"
# Problem
TestWhisperMailboxTestSuite/TestSyncBetweenTwoMailServers constantly fails on jenkins when tests are executed with race flag.

Examples:
https://ci.status.im/blue/organizations/jenkins/status-go%2Fprs%2Ftests/detail/PR-1404/2/pipeline

[code]

https://ci.status.im/blue/organizations/jenkins/status-go%2Fprs%2Ftests/detail/PR-1407/1/pipeline/91

[2019-03-07 07:59] dshulyak opened #1409 "TestWhisperMailboxTestSuite/TestRequestMessagesWithPagination is flaky"
# Problem
Fails on jenkins with race flag.
https://ci.status.im/blue/organizations/jenkins/status-go%2Fprs%2Ftests/detail/PR-1407/1/pipeline/91

[code]

[2019-03-06T14:50:15.603Z] --- FAIL: TestWhisperMailboxTestSuite (18.72s)

[2019-03-06T14:50:15.603Z] --- FAIL: TestWhisperMailboxTestSuite/TestRequestMessagesWithPagination (3.06s)

[2019-03-06T14:50:15.603Z] <autogenerated>:1:

[code]

[2019-03-

[2019-03-13 09:12] adambabik opened #1413 "Support Goerli testnet"
# Problem

In [go-ethereum v1.8.23](https://github.com/ethereum/go-ethereum/releases/tag/v1.8.23), a support for Görli testnet was added with a flag. status-go should also support this new test network.

# Implementation

1. Update our branch in [go-ethereum fork](https://github.com/status-im/go-ethereum/tree/patched/1.8) to v1.8.23,
2. Add Görli infura URL to `params/defaults.go`,
3. Add Görli ne

[2019-03-14 09:37] ghost commented on #1321
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-17 13:57] ghost commented on #1325
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-17 14:08] jakubgs commented on #1325
Not stale, just forgot about it because it was not in the project.

[2019-03-19 08:56] #1413 closed, assigned to dshulyak

[2019-03-26 08:18] jakubgs commented on #1325
I consider this done, the builds run here:
https://ci.status.im/job/status-go/job/platforms/job/docker/

[2019-03-26 08:18] #1325 closed, assigned to nobody

[2019-03-29 07:31] debragail opened #1428 "make setup fail"
# Problem
<img width="842" alt="Screen Shot 2019-03-29 at 00 32 05" src="https://user-images.githubusercontent.com/552529/55216551-4da5f700-51ba-11e9-85c0-4494cecfdef9.png">

`make setup`
`go get -u github.com/golang/dep/cmd/dep`
`curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b ``/Users/0PHE1IA/go/bin v1.10.2`
`golangci/golangci-lint info checking GitH

[2019-04-05 06:55] jakubgs opened #1436 "Investigate issues with the `MaxPeers` setting being ignored"
During Chaos Unicorn Day few people reported the `MaxPeers` setting having no effect on the Mailserver they were running.

[2019-04-05 06:56] jakubgs commented on #1436
I've investigated this by adding a bunch of log messages all over the place in [`debug-mas-peers`](https://github.com/status-im/status-go/tree/debug-max-peers) branch:
https://github.com/status-im/status-go/commit/2c52462ce48bc14ecc8d079093b4f96aa4ef97b2
The results showed that the setting is respected properly as far as I can tell.

[2019-04-05 06:59] jakubgs commented on #1436
I've asked @jeluard about his configuration to try to reproduce the issues, here's what he had:
[code]
He also tried putting `MaxPeers` under `WhisperConfig` while fiddling with the settings but that does nothing.

[2019-04-05 07:02] jakubgs commented on #1436
I had trouble reproducing the issue, but in the process I found something else.
The `node-canary` seems to be failing when a new mailserver is configured using the `docker-compose` setup:
[code]
[code]

[2019-04-05 07:08] jakubgs commented on #1436
The logs clearly show the setting is not changed:
[code]

[2019-04-09 17:09] jakubgs commented on #1436
According to Jeluard he used `netstat` to count the number of active peer connections to his Mailnode. It's a good way to count peers, but it's not guaranteed that just because there is only 25 peers that they are stuck on the default 25 `MaxPeers` limit. Though it is the reasonable assumption.

[2019-04-12 15:20] yenda opened #1438 "Expose vanilla ECDSA signing"
# Problem

eth_sign signs a message constructed like this: `\x19Ethereum Signed Message:\n" + message.length + message`. Swarm feeds require to sign only the message. Since the private key is only known to status-go it needs to be done there and therefore exposed through IPC.

# Implementation

Expose call similar to `.signMessage` but with `message` only

# Acceptance Criteria

The signature prod

[2019-04-13 05:54] adambabik commented on #1438
To clarify, you need an option to construct a signature of `\x19Ethereum Signed Message:\n" + message`?

Is there already a swarm RPC method that allows that? If so, we can just overwrite it instead of creating a new one.

[2019-04-13 10:08] yenda commented on #1438
No that is what eth_sign does, here a simple ecdsa signature of `message` only is needed.
eth_sign is a rpc method, we also have `signMessage` exposed via IPC.

[2019-04-13 11:10] yenda commented on #1438
@adambabik there is a `Sign` function in `swarm/storage/sign.go` but is it simply calling the `crypto.Sign` method and it take a `GenericSigner`. `SignHash` from `accouts/keystore/keystore.go` seems like a better candidate to sign.

`Sign` from `api.go` does the following:

[code]

We need a function that doesn't call signHash on the data. This function would only be used internally for signing sw

[2019-04-13 11:57] gravityblast commented on #1438
remember that signMessage adds a prefix so that even if you pass the hash of a valid transaction, it doesn't produce a valid transaction signature. so for security reasons this function must not be exposed.

[2019-04-13 12:13] yenda commented on #1438
@gravityblast yes but that is for rpc exposed methods like `eth_sign` and `eth_personalSign`. In this case it would be only exposed through IPC and o ly used by the app internally to sign the digests of swarm feeds updates.

[2019-04-14 00:12] yenda commented on #1438
Otherwise I would propose a `signSwarmRequest` which would take a json of parameters to construct the digest, sign it and return the  signature, but I am confused by the go code to get the digest.

This is how a signature is computed: https://swarm-guide.readthedocs.io/en/latest/usage.html#computing-feed-signatures and this is the getDigest function https://github.com/ethereum/go-ethereum/blob/mas

[2019-04-14 17:11] adambabik commented on #1438
If you have already access to the request and data and can get the digest, we should only expose a binding to sign it.

However, it would be great to describe the whole story. After looking at https://swarm-guide.readthedocs.io/en/latest/usage.html I assume you want to post to a feed and it requires a signature. How do you communicate with the swarm? Through some HTTP gateway?

## Proposed solutio

[2019-04-15 11:54] yenda commented on #1438
@adambabik I am fine with this solution, however I would prefer if the password wasn't required, as in  `eth_sign` rpc method which doesn't require password if the account is already unlocked, to simplify user experience

[2019-04-15 18:07] adambabik commented on #1438
@yenda we do require password for other sign-related bindings. I think it's another security layer which would prevent someone from sending a transaction/signing a message if they get to your phone and it's unlocked.

However, if what you want to do is more like a sending a message and passing a password each time is very inconvenient, we can remove this requirement. Also, should it be signed with

[2019-04-15 19:29] jfarid27 opened #1441 "Raspberry Pi Mailserver"
# Problem

Go 1.12.4 is able to run on Arm platforms, so I wanted to try and take a crack at getting status-go to run on a Raspberry Pi 3 B+ (ARMv8). It appears that this should be doable, but there's a few issues I ran into I wanted to share.

# Implementation

1. Install Go 1.12.4 using the Armv6L binary. This appears to work on both. I use the ARMv8 version of a PI to install and it worked fine

[2019-04-15 21:21] yenda commented on #1438
@adambabik in this case asking for a password will be inconvenient but security wise you wont be able to sign an arbitrary transaction because it will only be used to sign internally and won't be exposed to users or applications.

Right now the wallet key and chat key are the same afaik? But in the future it should be signed with the chat key, because the swarm feeds are linked to an ethereum addr

[2019-04-16 06:57] adambabik commented on #1438
Right so it's the same as with other sign-related binding. My point was that it does not protect when one gets access to the phone and the app which is unlocked. But as it is signing related to the chat, we don't need user's password.

Ok, so the chat key it is. They are the same but we already have the interface prepared to use wallet or chat key so we needed to clarify this before implementing.

[2019-04-16 07:56] mandrigin commented on #1438
@adambabik are you planning to work on it or should I take it over?

[2019-04-16 09:01] mandrigin commented on #1438
Okay, I will start working on that now then.

[2019-04-16 09:45] mandrigin commented on #1438
@yenda @gravityblast can you take a look at https://github.com/status-im/status-go/pull/1444? is that what you wanted there?

[2019-04-16 10:18] yenda commented on #1438
@mandrigin Thank you it looks like it!

[2019-04-16 13:17] jfarid27 commented on #1441
Updated this with a cleaned version. Was able to get it running!

[2019-04-18 13:52] #1438 closed, assigned to nobody

[2019-04-24 10:35] jakubgs commented on #1436
I could not reproduce this issue. I don't think it exists and for now I'm closing it. If we hear more reports of it being a problem i'll re-open this.

[2019-04-24 10:35] #1436 closed, assigned to nobody

[2019-04-26 11:27] weekly-digest[bot] opened #1451 "Weekly Digest (19 April, 2019 - 26 April, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 3 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1450 [fix HashMessage to decode hex only if needed](https://github.com/status-im/status-go/pull/1450), by [gravityblast](https://github.com/gravityblast)
:gr

[2019-05-06 11:19] flexsurfer opened #1456 "[Onboarding] Generate 5 accounts and store one with the password"
**Actual behaviour**
A user enters a password -> account is generated and stored with password -> public key is sent to status-react

**Expected behaviour**
5 accounts are generated and 5 public keys sent to status-react -> user chooses one -> enters  password -> chosen account is stored with the password

[2019-05-07 20:19] ghost commented on #1025
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-05-07 21:42] gravityblast commented on #1456
It looks fine for me but I would like to review it from a security point of view (cc @corpetty).
In the current implementation the BIP44 key is encrypted and stored as soon as it's created.
In the new implementation we need to keep it in memory until the user chooses one, or in case the user stops the onboarding and logs in with another account.
Is there any other thing we need to think about from

[2019-05-08 02:30] oskarth commented on #1025
@mandrigin how does this currently fit into roadmap, especially with respect to bounty etc? I still think it'd be great to have a battery-eating heater in your pocket as an option. I don't understand why this isn't a bounty yet either.

[2019-05-08 06:43] mandrigin commented on #1025
@oskarth we have it enabled in one of the fleets, but the problem was usually that the initial sync never completes... So we can't call it "working". :(

[2019-05-08 06:45] mandrigin commented on #1025
and there used to be not enough server nodes to support LES in Ropsten, and that requires our infra access idk how to make a bounty out of it
granted, it was a while ago

[2019-05-08 08:39] oskarth commented on #1025
Isn't that a bounty? We don't need to know exactly how to solve it to state a problem, acceptance criteria and put some $ on it for community people.

Maybe we can see how people creatively solve this, then discussion can continue as people hone in on solution space. Doesn't have to come from us, but we have to reach out a hand.

[2019-05-08 08:53] mandrigin commented on #1025
@oskarth yeah, I think you are right, I’ll put it on my TODO list to create a bounty issue for LES and I’ll link them to this issue and close this one afterwards.

[2019-05-08 14:31] corpetty commented on #1456
This pin process looks fine from a security perspective.  Me and Igor have talked about this quite a bit.  I believe ToB is going to be spending some time ont he app itself in the near future as they've brought a few on and they've started asking about building and finding binaries.

About storage of keys for multiaccount.  I propose we never store the master key in memory, and only keep it's subk

[2019-05-11 16:39] gravityblast commented on #1456
can we split this in 2 tasks one for the generation of 5 accounts to keep in memory until the users chooses one, and one task for the PIN usage?
If I understood correctly once we switch to use a PIN we must change the way we store keys, so hey can be managed as 2 different things.

/cc @guylouis @rachelhamlin @corpetty @flexsurfer @mandrigin

[2019-05-14 10:16] flexsurfer opened #1463 "[Onboarding] Store keys with the 6-digit pincode"
It should be possible to use 6-digit pincode instead of a password

**Actual behaviour**
5 accounts are generated and 5 public keys sent to status-react -> user chooses one -> enters password -> chosen account is stored with the password

**Expected behaviour**
5 accounts are generated and 5 public keys sent to status-react -> user chooses one -> enters 6-digit pincode -> chosen account is stored

[2019-05-14 10:17] flexsurfer commented on #1456
i've created a new issue for a pincode https://github.com/status-im/status-go/issues/1463

[2019-05-16 10:51] gravityblast commented on #1456
@flexsurfer I opened a PR https://github.com/status-im/status-go/pull/1464
We can start using the artifacts to test it

[2019-05-23 16:33] flexsurfer opened #1469 "error when signing typed data"
# Problem
Issue reported in status-react https://github.com/status-im/status-react/issues/8241

When signing this data

https://github.com/dicether/js-eth-personal-sign-examples/blob/master/index.js#L255

[code]

Error appears:

`"math/big: cannot unmarshal \"\\\"18446744073709551617\\\"\" into a *big.Int"`

[2019-05-24 10:22] #1469 closed, assigned to nobody

[2019-05-24 12:36] rachelhamlin opened #1471 "Investigate plaintext key storage [iOS]"
_Filing this issue in status-go because it mentions geth; please ping me if it should move to status-react._

### Problem

### Notes

We need to investigate the unencrypted keys. From @mandrigin: `If that is geth's folder it likes to store encrypted keys inside a plain JSON file`.

[2019-05-26 17:32] weekly-digest[bot] opened #1472 "Weekly Digest (19 May, 2019 - 26 May, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 2 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1471 [Investigate plaintext key storage [iOS]](https://github.com/status-im/status-go/issues/1471), by [rachelhamlin](https://github.com/rachelhamlin)
:green

[2019-05-30 08:12] dshulyak opened #1474 "Falky TestSubscriptionWhisperEnvelopes"
# Problem
Started to fail quite often. Needs to be debugged

[code]

# Acceptance Criteria
Test doesn't fail randomly

[2019-06-01 07:18] dshulyak opened #1476 "Implement rate limiting for ethereum client used in status-go"
# Problem

Infura implements back pressure and returns `429 Too many requests` when client reaches certain amount of rps (?). Currently we are using naive implementation that won't consider any kind of such feedback.

# Implementation

Implement rate-limited client on top of ethereum.rpc.Client that will discard requests above configured rps. It must be easily consumable to ethereum.ethclient.Clie

[2019-06-01 07:27] dshulyak opened #1477 "Set custom unique ID for each transfer"
# Problem

Each ethereum tx can have at most one eth transfer so we can use Tx hash as a unique identifier. But there can be multiple erc20 transfers in one ethereum transaction.

# Implementation

For erc20 transfers use keccak256 from tx.Hash() + bigendian(transfer log index).
Add ID field to Transfer object.

[2019-06-01 09:06] dshulyak commented on #1476
Also we should swtich infura urls to newer per project URLs  (https://blog.infura.io/infura-dashboard-transition-update-c670945a922a) . they provide faster response and request that use them are prioritized during high network traffic.

i tried to use them and client definitely more reliable with them

[2019-06-02 08:52] weekly-digest[bot] opened #1478 "Weekly Digest (26 May, 2019 - 2 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 0 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1477 [Set custom unique ID for each transfer](https://github.com/status-im/status-go/issues/1477), by [dshulyak](https://github.com/dshulyak)
:green_heart: #

[2019-06-03 16:03] gravityblast opened #1479 "multi-account support from main HD Wallet (GO)"
# Problem
We want to have multi-account support (multiple ethereum accounts for each user),
and custom derivation paths for HD Wallets (another issue willll be opened for imported accounts).

Each user has accounts derived from the main HD Wallet + imported accounts.
The main HD wallet is the one defined by the generated/imported mnemonic phrase.

From the main HD Wallet we can derive and save ext

[2019-06-03 16:21] gravityblast commented on #1479
@guylouis  @flexsurfer  @yenda
I imported the description from the document we shared the other day and I added some more comments

[2019-06-03 16:21] gravityblast commented on #1479
/cc @adambabik @mandrigin

[2019-06-03 17:22] gravityblast commented on #1479
/cc @corpetty

[2019-06-03 21:09] corpetty commented on #1479
how much extra work is it to store in secure hardware of device, if available (like we do for the password, paging @mandrigin for this)?  If we're fiddling with this, putting in a more secure environment (when available) is optimal.

As for implementation, first blush looks like this covers all the use cases of the miro diagram without changing any security of the app as it is now.  I will go a bi

[2019-06-04 06:57] guylouis commented on #1479
@yenda suggested in status channels that status-go handles the list of accounts. Did you re-discuss that and came to a conclusion on what we should do ?

[2019-06-04 07:30] gravityblast commented on #1479
@guylouis when a user logs in, status-react sends username/password using address and the user's password. so status-react already knows about the address associated to the user, and it needs to know about it. with multi-account it needs to know all the addresses to give the user the ability to unlock any key to use it or to derive other keys. does it make sense? /cc @yenda

Also because there's n

[2019-06-04 07:39] gravityblast commented on #1479
I'm not sure about it. I think access to specific phone's API is not available from status-go, so probably we would need to change a lot of things. @mandrigin do you know more about it maybe?

The main change in security here is that in the current implementation, the master key is not kept in memory. It's generated, used to derive a key to store, and removed.
In this new implementation we need to

[2019-06-04 10:45] gravityblast opened #1481 "importing accounts"
# Problem

Depends on #1479

After implementing #1479, users will be able to have multiple ethereum accounts derived from their main HD Wallet (recoverable from their mnemonic phrase).

We want to give users the ability to import other accounts by specifying the private key or importing a keystore json file.

# Implementation

We should add two functions to:

- import a raw hex private key
- impor

[2019-06-04 10:46] gravityblast commented on #1481
/cc @guylouis @hesterbruikman @corpetty @flexsurfer @yenda

[2019-06-04 14:44] yenda commented on #1479
/cc @dshulyak

[2019-06-08 08:04] #1474 closed, assigned to nobody

[2019-06-08 20:51] debragail opened #1484 "lint-install Error 2"
# Problem

Users-MacBook-Air:status-go user$ make setup
go: creating new go.mod: module github.com/status-go
go: copying requirements from Gopkg.lock
go: converting Gopkg.lock: stat gopkg.in/fatih/set.v0@27c40922c40b43fe04554d8223a402af3ea333f3: unknown revision 27c40922c40b43fe04554d8223a402af3ea333f3
go: finding github.com/aristanetworks/goarista v0.0.0-20170210015632-ea17b1a17847
go: finding gi

[2019-06-08 20:52] #1428 closed, assigned to nobody

[2019-06-09 08:52] weekly-digest[bot] opened #1486 "Weekly Digest (2 June, 2019 - 9 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 1 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1484 [lint-install Error 2](https://github.com/status-im/status-go/issues/1484), by [debragail](https://github.com/debragail)
:green_heart: #1482 [Unique ID

[2019-06-11 11:12] gravityblast opened #1489 "multi-account login (GO)"
# Problem

depends on #1479

The current implementation has  Login function that unlock a key used for both chat and wallet and keeps it in memory.
Decide which key we want to use for login (probably the key used for chat) and update the code to keep only the whisper key in memory.

[2019-06-11 11:16] gravityblast opened #1490 "update SendTransaction to unlock the sender key (GO)"
# Problem

depends on #1479

The current implementation of SendTransaction is using the key unlocked at login.
With multi-account stauts-react can specify the key to be unlocked and used using the "from" field.

[2019-06-11 11:20] gravityblast opened #1491 "generate multiple master keys for onboarding"
# Problem

Related to [Onboarding Generate 5 accounts and store one with the password](https://github.com/status-im/status-go/issues/1456)

During onboarding status-go should generate 5 random master keys and store the one chosen by the user.

[2019-06-11 11:23] #1491 closed, assigned to nobody

[2019-06-11 12:17] gravityblast opened #1492 "update onboarding to be compatible with multi-account (GO)"
# Problem

Depends on #1479

After implementing  #1479, we should update the onboarding process (#1456) to be compatible with multi-account and allow status-react to specify the derivation paths to be stored.

[2019-06-16 08:52] weekly-digest[bot] opened #1494 "Weekly Digest (9 June, 2019 - 16 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 4 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1492 [update onboarding to be compatible with multi-account](https://github.com/status-im/status-go/issues/1492), by [gravityblast](https://github.com/gravit

[2019-06-18 08:49] 0xc1c4da commented on #1479
➤ Wrike Bot commented:

Eric DAndrea Franz All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-06-18 10:41] 0xc1c4da commented on #1479
➤ Guy-Louis Grau commented:

now that we added effort estimation, and since this is a GO development I removed Eric+Andrey from owners, because the work will be done by Andrea

[2019-06-19 13:44] dshulyak opened #1495 "Discovery v5 is using in-memory leveldb which leads to unbounded memory growth on our nodes"
# Problem

Discovery v5 provides an option to specify path for leveldb database. But, devp2p server doesn't expose any option to set that path and always starts discovery with an empty string, e.g. "use in-memory db".

# Implementation

Add configuration option to specify directory for discovery v5. That requires adding an option to ethereum server (and patching our fork to fix this issue earlier)

[2019-06-19 17:01] adambabik opened #1496 "Syncing mailservers needs some love"
# Problem

- [x] in the README.md there is no mention of `Limit` in the request
- [x] there is no error passing from mailserver (https://github.com/status-im/whisper/pull/29)
- [x] unknown behaviour if `Limit` is `0` (https://github.com/status-im/whisper/pull/29)
- [x] syncing envelopes does not follow cursor. We need an option which will follow the cursor. This is needed to sync long periods of t

[2019-06-19 18:02] jakubgs commented on #1496
Definitely true. I wasn't able to use the instructions because I as getting errors like:
[code]
Or
[code]

[2019-06-19 22:05] adambabik commented on #1496
The first one is strange. I tested `mail-01.do-ams3.eth.test` and didn't have this problem even once.

The second one can be due to various reasons when a peer can not be added. Another node might have a max number of peers already or the one that tries to connect is blacklisted (this can happen if you request to sync too many messages so with no or very large limit).

What should work fine is whe

[2019-06-20 14:07] dshulyak commented on #1477
it was  implemented. not sure why pr didn't close the issue

[2019-06-20 14:07] #1477 closed, assigned to nobody

[2019-06-23 08:52] weekly-digest[bot] opened #1498 "Weekly Digest (16 June, 2019 - 23 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1497 [Cache keys](https://github.com/status-im/status-go/pull/1497), by [cammellos](https://github.com/cammellos)
:green_heart: #1496 [Syncing mailservers ne

[2019-06-25 08:40] rachelhamlin commented on #1463
@gravityblast @siphiuel hmm found this issue in Wrike and don't know how to organize it. Is it still relevant?

[2019-06-25 09:43] vitvly commented on #1463
Yes it is, i've been working on the status-react counterpart to this.

[2019-06-25 15:42] jakubgs opened #1501 "Node Canary fails despite being able to connect just fine"
I was helping a user setup their own mailserver and I noticed something weird.
The canary call would fail with
[code]
But I could clearly see the connection to the node being made just fine:
[code]
I can clearly see `Adding p2p peer` and then `Removing p2p peer`, and an attempt to send the messages in `Sending historic message response`.

I'm not sure but does this fail because the arguments are `

[2019-06-25 16:07] dshulyak commented on #1501
It looks like node-canary sends a history request for a specific chat, waits for response, and verifies that envelope that was sent last, as a part of response, was added to whisper filters.

[code]

In log above `last` should be the hash of the last delivered envelope, it is all 0s so nothing was found for a specified chat. That node is definitely reachable, it just has no history for a requested

[2019-06-25 16:11] jakubgs commented on #1501
Okay, and that makes sense to me, so why is the error saying:
[code]
There was no timeout, it just received an empty response from the node, isn't that right? Or does it get no response if there is nothing to return?

[2019-06-25 16:24] dshulyak commented on #1501
it gets response, but after that it waits for the last envelope to appear in filters, using that `last` field. it doesn't check that `last` is 0s, so error handling and messages definitely can be improved

[2019-06-25 16:29] jakubgs commented on #1501
Yeah, that error makes no sense in that context, even though it should fail based on what you said.

[2019-06-25 21:14] 0xc1c4da commented on #1463
➤ Nabil Naghdy commented:

We should probably update the date for this then as well

[2019-06-26 16:17] #1496 closed, assigned to nobody

[2019-06-26 22:28] #1456 closed, assigned to nobody

[2019-06-27 11:04] yenda opened #1507 "Multiaccounts: wallet_checkDerivationPaths method"
# Problem

When importing an account in the multi account wallet from a seed phrase, the app needs to show the user paths that are already used an contain funds

# Implementation

We would need a function that given a seed phrase, returns as efficiently as possible the balance of assets if there is any for all known derivation path, potentially we could call it like this:
`wallet_checkDerivationPa

[2019-06-27 12:12] dshulyak commented on #1507
the derivation is slightly separated from wallet service, maybe, @gravityblast do you have a public method that i can use to get list of accounts (public keys or addresses) based on seed phrase and derivation paths?

[2019-06-27 14:47] gravityblast commented on #1507
@dshulyak maybe we can do the opposite. From the StatusAccounts servic I already have a mapping of derivationPath =>  address, I can call something passing a list of addresses and get back balances.
Would it make sense?
That's because the key is in memory and we don't want to expose it anywhere.
But it's not the "saved" key. It's a temporary one that we have in memory to decide which account to sa

[2019-06-27 14:49] gravityblast commented on #1507
or actually, the StatusAccount service already returns a list of map => addresses to react. and then react can query the wallet service with each address to get the balance. what do you think @dshulyak @yenda ?

[2019-06-27 15:01] yenda commented on #1507
yes so I would only pass a list of addresses and the list of token contract addresses to the function then

[2019-07-03 05:55] dshulyak commented on #1463
@flexsurfer are you the author of the doc? i have a couple of questions, maybe you can help

    5. The app (status-go) uses Ethereum encryption key (eE) to encrypt the db.

we cannot use asymmetric key to encrypt database. sqlite doesn't support it in any way, and i don't understand how it can. do you propose to derive secret from eE? what should i use as a key material?

why do we need assymetri

[2019-07-03 05:59] flexsurfer commented on #1463
hey @dmitryn , no, author is @mandrigin , maybe @siphiuel can answer your question, he researched this document

[2019-07-03 07:00] dshulyak commented on #1463
i think this implementation uses different API, that is based on password. as i understood we need to generate random key instead of it. or am i wrong?

how secure element handles authorization? how to make key unavailable to any other application? i am trying to find this info in docs, but maybe someone had experience with this already?

[2019-07-03 08:25] dshulyak commented on #1463
another question that came up while reading docs, is that why do we need to encrypt HD pair at all if later we will decrypt it and store in memory? we can add any blob of data to secure storage and then retrieve it when needed (e.g on login). if pincode is not correct that blob of data can be removed, so all other workflows described in the doc are exactly the same

[2019-07-03 10:05] vitvly commented on #1463
@dshulyak thanks for reviewing the doc! I'll try to answer some of your concerns to the best of my ability

You're right, symmetric AES encryption should be enough I think

It should be derived from Ethereum key pair, not sure how.

[2019-07-03 10:16] vitvly commented on #1463
@corpetty maybe you will be able to answer @dshulyak 's questions

[2019-07-03 10:46] dshulyak commented on #1463
i will be going for hkdf with sha256 as a hasher and private key as secret material for derivation. let me know if there are concerns about it.

so the last question is pretty much what we will store in secure storage, ethereum key or key that was used to encrypt ethereum key. in my current understanding storing additional key is a redundant step that provides no additional security guarantees. if

[2019-07-03 12:56] dshulyak commented on #1463
@siphiuel question about pincode. is it a system wide passcode (pincode/fingeprint/face id) or some kind of our pincode? asking to understand what kind of auth options we need to use for ios/adnroid keychain

[2019-07-03 13:07] hesterbruikman commented on #1463
FYI here's so more guidance Igor left: https://www.notion.so/Encryption-in-a-secure-element-ccb8778651024440a81f4f1e626a4342 Leaving it up to you to judge the relevance:)

[2019-07-03 13:14] flexsurfer commented on #1463
@dshulyak  it's our pincode same as password, just 6 digits so we'll have it in status-react as a string "123456"

[2019-07-03 19:03] jakubgs opened #1513 "Peer marked with shh_markTrustedPeer does not appear as trusted"
If I add a peer with `admin_addPeer`, and then I call `shh_markTrustedPeer` for it to mark it as trusted, and call `admin_peers` to check its status it does not appear as trusted:

[code]

My understanding is that the peers `trusted` status is different from a peers whisper `trusted` status, is that correct?

If so, can I look up peers whisper `trusted` status with some call?

[2019-07-04 07:13] dshulyak commented on #1463
thank you thats relevant, i just wanted to collect more information, cause it seems like a big change. below is the scope of changes as i see them:

- [ ] new keystore that will use keychain interface for encrypting files before storing them on disk
- [ ] refactor accounts manager to work with new keystore
- [ ] add implementation for keychain interface that will use passwords for auth, as desktop

[2019-07-04 07:18] flexsurfer commented on #1463
cc @gravityblast

[2019-07-05 05:38] #1507 closed, assigned to nobody

[2019-07-05 09:03] dshulyak commented on #1463
this approach doesn't work cause golang can generate bindings only from interface defined in same module as bindings. in our case that module is mobile and it is main entry module for the application, so it imports all other modules in our apps (either explicitly or transitively).

another approach that i tried is to implement this bindings in C-style, like

[code]

unfortunately not all types tha

[2019-07-09 06:49] dshulyak opened #1518 "Transfer data structures can be simplified and reduced in size"
# Problem

Current wallet.Transfer data structures stores some fields that are not used by client, and probably won't. It stores whole receipt and transaction structure from ethereum types module.

# Implementation

We can store only following fields:

- blockNumber
- timestamp
- gasUsed
- gasPrice
- gasLimit
- nonce
- input
- hash
- erc20?
- from
- to
- value

From and To should be derived from l

[2019-07-09 15:02] rachelhamlin opened #1520 "Verify ENS name client side"
Moving from react [#8541](https://github.com/status-im/status-react/issues/8541)

## User Story
As a user, I want to make sure ENS name displayed in chat and profile has been verified.

## Description
**Type:** Feature

ENS name is sent as part of chat messages and account details. It is displayed as is and could be spoofed.

Proper solution involves checking the ENS validity client side. For perf

[2019-07-09 15:03] rachelhamlin commented on #1520
Is the required change clear @PombeirP?

If it's straightforward enough, perhaps we could get it done in the next week. If so, we can include all of @jeluard's ENS work in the upcoming release (native registration + default display in chat).

[2019-07-09 16:08] pedropombeiro commented on #1520
@rachelhamlin I'd just add the details @jeluard mentioned, i.e. that the data that is returned from status-go will omit the ENS name if it couldn't be verified.

[2019-07-10 08:09] jeluard commented on #1520
@PombeirP Some more details: the message payload contains a `:content` map, itself optionally containing a `:name` string. This name is the full ENS name (e.g. `julien.stateofus.eth`, `pombeirp.eth`).

At the status-react level we need to know if this name is really controlled by the message sender. So the payload should be modified in such a way that the `:name` string can be trusted. The simples

[2019-07-11 15:20] rachelhamlin commented on #1520
@flexsurfer you mentioned that we need this for the code freeze. Still true based on today's discussion?

@PombeirP could we assign someone to this?

[2019-07-11 19:53] pedropombeiro commented on #1520
I think I should be able to take it.

[2019-07-12 06:27] flexsurfer commented on #1520
i'm not sure about code freeze, but it must be in v1 for sure if we want ens names in chats, but it's blocked by chat api, we can implement only after chat api will be done on go side

[2019-07-12 10:10] rachelhamlin commented on #1520
Noted. Should we consider this a blocker to releasing ENS resolution @flexsurfer @jeluard?

[2019-07-12 13:12] jeluard commented on #1520
It's definitely a security concern. Not entirely clear if it should prevent ENS being released in the pre-v1 release.
@corpetty WDYT?

Also note that the check could be implemented status-react side, if needed.

[2019-07-15 11:16] #1518 closed, assigned to nobody

[2019-07-15 11:17] rachelhamlin commented on #1520
Note: we can get a contributor to hide the ENS chat resolution feature for beta release v0.14, so this does not need to be done before that. Will come back later on the level of priority for v1.

[2019-07-18 10:19] 0xc1c4da commented on #1463
➤ Oskar Thoren commented:

Rachel HamlinCorey Petty What was the outcome of recent call? I'm still confused as to why this is necessary, considering we do the same operation with password right now. It'd be great to have a doc where there's a more clear rationale, considering how this delays v1

[2019-07-18 11:20] 0xc1c4da commented on #1463
➤ Rachel Hamlin commented:

Oskar Thoren it's not in scope! Missed this task. I'll remove it from code freeze. Corey Petty reached out to his community to see if we could find someone, but the assumption is we can't build it in time.

[2019-07-18 11:20] 0xc1c4da commented on #1463
➤ Rachel Hamlin commented:

Okay, here's an example of a Wrike issue that I can't remove from its original placement. I just relocated it to v1 - release (optimistically), but I can't delete it from v1 code freeze. The 'Onboarding' label is grayed out.

[2019-07-18 11:51] 0xc1c4da commented on #1463
➤ Corey Petty commented:

Oskar Thoren Do we actually use TEE where available with current password workflow?  I was under the impression we "store" the password there for certain reasons, but encrypt with the password itself, not material generated from the TEE.  If this is the case, then the pin was a much more secure flow.

[2019-07-22 09:06] 0xc1c4da commented on #1463
➤ Oskar Thoren commented:

Corey Petty not familiar enough with the implementation details of it unfortunately to answer that question

[2019-07-23 00:39] yenda opened #1531 "Contacts service api"
# Problem

As part of the Essential for security scope of realm migrations, contacts need to be migrated to status-go

# Implementation

**table contact**

not sure which field is best to use as id, probably public-key but it is worth noting that in the future a contact might have multiple public-keys

- address          {:type :string :optional true} indexed
- name             {:type :string :opt

[2019-07-23 04:36] cammellos commented on #1531
We are planning to add this to `status-protocol-go` which is currently being integrated https://github.com/status-im/status-protocol-go/issues/10 https://github.com/status-im/status-go/pull/1526 , so if you don't mind I would hold off for now. We could instead focus on `accounts` as that is not to be added to `status-protocol-go` but to `status-go`

[2019-07-23 06:27] adambabik opened #1532 "Redesign PFS-enabled messages confirmation"
# Problem

Per [@cammellos's comment](https://github.com/status-im/status-go/pull/1526#issuecomment-513807571):

# Implementation

TBD

# Acceptance Criteria

* Confirming PFS-enabled messages is done using a Whisper message hash key instead of dedup ID.
* The key material is properly removed (this needs to be verified in https://github.com/status-im/status-protocol-go).

# Notes

We may think abo

[2019-07-23 06:52] yenda commented on #1531
@camellos Ok great

[2019-07-23 06:52] #1531 closed, assigned to nobody

[2019-07-23 15:52] adambabik opened #1533 "Merge logs from status-protocol-go into geth.log"
# Problem

status-protocol-go uses a different logger which logs to stderr by default. In status-go, we collect all logs into a file pointed in the config: https://github.com/status-im/status-go/blob/develop/params/config.go#L307-L308.

We need to combine these two loggers into a single log stream for debug purposes.

# Implementation

TBD

# Acceptance Criteria

* status-protocol-go logs are coll

[2019-07-24 08:01] yenda opened #1535 "Only look for transfers after the first block that contains erc20 transfers"
# Problem

Since looking for transfers is expensive because getting events has to be done by iterating over a range of blocks, we could reduce the amount of blocks to iterate over by stopping once the first block containing erc20 transfers is reached

# Implementation

- start looking for erc20 transfers from any address to any address from block 0 and iterate until an erc20 transfer is found.
- u

[2019-07-24 10:36] adambabik commented on #1533
Closing with https://github.com/status-im/status-go/pull/1526/commits/94ba02724ea22fa00ff6d9dfce2cfded835fb07e.

[2019-07-24 10:36] #1533 closed, assigned to nobody

[2019-07-24 12:56] dshulyak opened #1536 "Consolidate browsers/settings/dapps permission in a single not-network specific database"
# Problem

Opening each encrypted database adds overhead to a node startup procedure. At the same time all specified databases can be merged into a single database with little effort.

# Implementation

Merge migration to a single directory. Initialize database once and then pass it to all services that use this database.

# Acceptance Criteria

The startup became faster. Maybe add some kind of be

[2019-07-24 13:03] dshulyak opened #1537 "Refactor wallet database to store data for multiple networks"
# Problem

Having a separate wallet db is necessary because the application was designed to store data from a single network. Storing transfers from multiple networks will bork the whole flow.

But also separate wallet db incurs overhead when a node is started (~500ms with data in it). So it will be beneficial for an app if wallet db can be merged with other databases.

# Implementation

- Add net

[2019-07-24 14:03] gravityblast opened #1538 "Remove onbarding code"
# Problem

After merging #1500 , `account/onboarding.go` and the onboarding references in lib/mobile and `api/backend.go` are not used anymore.
We can remove all that code.

[2019-07-24 14:05] gravityblast opened #1539 "Remove create/recover account functions from lib/mobile"
# Problem

After merging #1500, we no longer need the create/recover account functions defined in the lib and mobile packages.
We can remove them and check that all functionalities are still tested in the multi-account code.

[2019-07-24 18:59] #1479 closed, assigned to nobody

[2019-07-24 18:59] #1481 closed, assigned to nobody

[2019-07-25 06:24] dshulyak opened #1541 "Change kdf iteration number to 3200 in sqlite module"
# Problem

Default 64000 kdf iterations proved to be a performance issue on mobile devices when it was used for pfs database.

# Implementation

Set `PRAGMA kdf_iter = 3200` when sqlite.OpenDB is used.

[2019-07-25 14:06] dshulyak opened #1543 "Account manager shouldn't depend on started ethereum node"
# Problem
Since we are moving configuration to status-go, we will be able to start a node only after user provided password. Configuration stored in encrypted database and we want to open it only once on actual login. However some functionality that requires key generation depends on node to be started. Particularly status-go account manager requires these two objects to be available when user imp

[2019-07-25 18:36] yenda opened #1544 "history-index is not returned by browser service"
# Problem

history-index key is not returned by browser service when calling `browsers_getBrowsers`

# Acceptance Criteria

history-index key is returned as well

[2019-07-25 19:22] yenda commented on #1544
My understanding is that `omitempty` considers 0 to be empty, so history-index is not returned when the index is 0. Taking this into consideration I made a fix on status-react side which considers history-index to be 0 if there is none, so this is very low priority.

[2019-07-26 05:32] dshulyak commented on #1544
@yenda yes. i realized that it will be omitted when you opened an issue. easy fix so i will push it

[2019-07-26 14:45] #1489 closed, assigned to nobody

[2019-07-26 14:45] #1490 closed, assigned to nobody

[2019-07-26 14:45] #1492 closed, assigned to nobody

[2019-07-27 05:48] #1544 closed, assigned to nobody

[2019-07-29 15:45] flexsurfer opened #1549 ".recoverAccount returns same keys for root, chat and wallet accounts"
# Problem

.recoverAccount returns same keys for root, chat and wallet accounts

# Implementation

all keys should be different

[2019-07-30 04:53] dshulyak opened #1551 "Initialize backend with root datadir and keystore directory"
# Problem

After recent changes keystore needs to be initialized before starting a node, to initialize keystore it is enough to call AccountManager().InitKeystore with keystore directory. However it needs to be called almost everywhere where backend is initialized, thus bloating the codebase.

# Implementation

Backend's initializer should accept root datadir and keystore dir as an input.
Backend

[2019-07-30 05:01] dshulyak commented on #1549
@flexsurfer do you know why @gravityblast wanted to remove that function https://github.com/status-im/status-go/issues/1539 ? Maybe there is a replacement?

[2019-07-30 05:27] flexsurfer commented on #1549
@dshulyak maybe, couldxa

[2019-07-30 05:30] flexsurfer commented on #1549
@dshulyak where can i see all methods available for status-react ?

[2019-07-30 05:32] flexsurfer commented on #1549
found this https://github.com/status-im/status-go/pull/1542/files#diff-e7036f52b1c1b5c00044217cb550d29eR133 would be nice to have `MultiAccountImportMnemonicAndDerive` similar to `MultiAccountGenerateAndDeriveAddresses`

[2019-07-30 05:35] dshulyak commented on #1549
As far as i can tell all methods related to multiaccounts are in this file https://github.com/status-im/status-go/blob/develop/mobile/multiaccount.go

[2019-07-30 05:37] flexsurfer commented on #1549
i don't want to block you by my PR , let's merge it as is and implement `MultiAccountImportMnemonicAndDerive` in separate PR

[2019-07-30 06:13] dshulyak opened #1552 "Store sub accounts information in status-go"
# Problem
With multiaccoutns functionality user can derive mutliple keys to use with the status account.
Types:

* main (when it is used?)
* wallet (used for signing transactions)
* watch (transactions history will be watched for this type)
* another type?

Main and wallet accounts should be unique, e.g. you can't choose another main without disabling previously selected.

This information will be

[2019-07-30 06:24] yenda commented on #1552
I am not sure main is needed but chat is needed imo as an account whose key is loaded in memory when starting the node

[2019-07-30 06:47] flexsurfer commented on #1552
i'm not sure i understand this one,
so we have multiaccount - it has a root address, we'll derive all addresses from this one, also we have two default accounts, 1 - for chat , 1 - for wallet (i'm not sure why we call it main account)
for login we'll need root adress and chat account, because we need to show username and public key of chat account, and i'm not sure why we also need default wallet

[2019-07-30 07:05] yenda commented on #1552
@flexsurfer for login you just need what you have to display + unique identifier so it can be as little as name + chat account public key because the chat account public key is unique to each account and last log in timestamp. Such a table already exists.
This issue is after login, it's a table encrypted per multiaccount. So from what you wrote I suppose we should separate fields that are for stat

[2019-07-30 07:15] flexsurfer commented on #1552
yes

[2019-07-30 07:19] yenda commented on #1552
also it seems @dshulyak prefers booleans over enumerations, is it for indexing purposes? We could use enumerations or even strings for react only fields and stick to booleans for things used by status-go

[2019-07-30 07:19] dshulyak commented on #1552
do we show public key only for chat account  and for all other accounts we show only address?
status-go doesn't need this information, i will add blob for any binary data, it will be returned in a hex to caller

we can have defaults for wallet and for chat? and potentially for other functions as well (like browser)? or what it means?

can we disable watching an account or it is not necessary?

[2019-07-30 07:22] dshulyak commented on #1552
i used boolean because then i can set same account to be default for wallet and chat functions and enforce this constraint on a db level. for other cases i can use enumeration

[2019-07-30 07:29] flexsurfer commented on #1552
yes, chat account is different maybe better to store chat public key and name in multiaccount object and do not have a separate account for it

see above, i'm not sure we'll have several chat accounts in near future

we can't disable, only remove account, fields you can edit are name and colour

[2019-07-30 07:32] flexsurfer commented on #1552
so my suggestion is
multiaccount
-address (root)
-publickey (chat) - derived from root address
-name (generated from chat public key or ens name) - can be changed

account
-root-address (connection with multiaccount table)
-address  (react-native)
-default? (react-native) - can be changed
-type (:derived, :imported, :watch-only)  (react-native)
-path (E.g. default account “m/44’/60’/0’/0/0”)  (rea

[2019-07-30 07:37] yenda commented on #1552
If you mean in the db that lists all multiaccount that is a no no we should really keep the amount of information in this db to a minimum. Also there is no difference between a wallet and chat account except that the chat account is loaded in memory at login and the wallet address is watched by the wallet module

Maybe not in the near future but we will. But does status-go needs to know about defa

[2019-07-30 07:43] dshulyak commented on #1552
for consistency i like all accounts to be stored in one place if that preserves all functionality. and it seems to me that it does. so i will keep chat account in accounts table and add public key field to that table.

This is what i have:

[code]

in status-go this field is unnecessary because we have a separate db for every multiaccount encrypted with its password, hence there is no multiaccount

[2019-07-30 07:46] flexsurfer commented on #1552
@dmitryn hm but you need chat account before login, if it will be encrypted with password you can't get it, also chat account doesn't have all these fields only two

[2019-07-30 08:10] yenda commented on #1552
@flexsurfer technically the chat account is "derived", has a "path" (@gravityblast  which one?), is stored on device, and the only thing that differentiates it from a wallet account is that it is not monitored by the wallet service and that it's key is loaded in memory after login so that it can decrypt incoming message. And unless we put some limitations in place, I think a user could even manage

[2019-07-30 08:22] flexsurfer commented on #1552
"m/43'/60'/1581'/0'/0"

[2019-07-31 10:51] dshulyak opened #1554 "Add benchmarks for start node/login and restarts"
# Problem

With recent changes in status-go StartNode/Login flow became more complicated and it will be good to keep an eye on its performance.

# Implementation

Standard golang benchmark with node configuration that will be used by mobile app (e.g. chat, wallet, discovery and other services enabled)

# Acceptance Criteria

Easy to use benchmark to compare perf between different commits.

[2019-08-01 04:49] adambabik opened #1556 "Upgrade Whisper when the fixed PoW is merged into our fork"
# Problem

In geth 1.9.0, calculation of the PoW algorithm was changed. More https://github.com/status-im/whisper/issues/30.

# Implementation

This issue is just about using a new version of our fork when ready.

# Acceptance Criteria

Old clients using the older status-go as well as these using the updated PoW version need to be able to communicate.

[2019-08-01 08:01] #1543 closed, assigned to nobody

[2019-08-06 15:42] adambabik opened #1560 "Expose messages API"
# Problem

We move messages storage from status-react to status-protocol-go in https://github.com/status-im/status-protocol-go/pull/42. After it's moved, we need an API to get into it from status-react.

# Implementation

Create a new API endpoints to manages messages in `shhext` namespace.

# Acceptance Criteria

* Expose all methods from `Messenger` from status-protocol-go here.

[2019-08-07 21:36] adambabik opened #1562 "Share the database with Messenger from status-protocol-go"
# Problem

We have at least three sqlite databases being opened when the app starts:
- db for browsers
- db for permissions
- db for wallet.

Each separate encrypted sqlite database file requires non-trivial amount of time to be opened. This slows down the startup of the application.

# Implementation

1. Open a single encrypted sqlite database file which will be shared between various services an

[2019-08-08 06:10] dshulyak commented on #1562
Well this is a duplicate. There is this issue https://github.com/status-im/status-go/issues/1536 which is closed by https://github.com/status-im/status-go/pull/1540. I am just waiting for Eric to merge integrate main part

[2019-08-08 06:14] dshulyak commented on #1562
Also wallet is not straightforward to merge with others. Cause there is network specific information. So this needs to be solved https://github.com/status-im/status-go/issues/1537

[2019-08-08 07:14] adambabik commented on #1562
@dshulyak I was not aware of that PR. It looks good but there are a few things missing described in this issue:
- no custom name for the migrations table,
- `Messenger` from status-protocol-go also needs to share this instance.

[2019-08-08 07:25] dshulyak commented on #1562
you are right those things are not in the pr

[2019-08-08 07:43] adambabik commented on #1562
That's cool, though. We can do it in a separate one, it makes more sense and provides better visibility.

[2019-08-08 08:19] dshulyak commented on #1541
Closed in https://github.com/status-im/status-go/pull/1555

[2019-08-08 08:19] #1541 closed, assigned to nobody

[2019-08-08 11:02] dshulyak opened #1565 "Initial synchronization in wallet takes lots of rpc requests (~ 5,000 for a wallet with ~200 transfers)"
# Problem

We have two distinct synchronization methods in a wallet.

1. eth_getLogs query for erc20 transfers
2. balance checks for regular eth transfers

Erc20 synchronization is relatively optimal. It makes 2 getLogs (inbound and outbound erc20 transfers) request per range of blocks, 100,000 current value. And then couple of request per each found log (to get tx and receipt data for each log).

[2019-08-09 06:31] dshulyak opened #1566 "Wallet should be tracking accounts created after login"
# Problem

Any account that is created after user logged in won't be tracked by a wallet service. Currently list of accounts is passed when user logs in and after that there is no way to add more accounts to a wallet service.

# Implementation

Once https://github.com/status-im/status-go/pull/1530 is merged we will have a service with an rpc method `accounts_saveAccounts`. When it is called we mus

[2019-08-09 06:58] flexsurfer commented on #1566
yes sounds fine for me, thanks!

[2019-08-09 12:03] dmitryn opened #1567 "Account fields for keycard available before login"
# Problem

Based on https://github.com/status-im/status-react/pull/8725 and conversation with @yenda, there is a set of Account fields which are accessible before login (like address, photo and name).

Login with keycard requires additional fields from Account entity to be accessible before login:

* `keycard-pairing` String
* `keycard-key-uid` String

[2019-08-09 12:04] dmitryn commented on #1567
@dshulyak could you add them please?

[2019-08-12 06:07] dshulyak commented on #1549
@gravityblast can you take a look please?

[2019-08-12 09:22] adambabik commented on #1565
Can we maybe resolve this from the UX perspective? Why do we need to have the full history for all transactions immediately? Maybe we can have like the transfers from the last 7 days or last 10?

[2019-08-12 11:56] dshulyak commented on #1565
We will have to give an option to download all of them, right? So if such option will exist then we kinda betting that only part of users will sync their transactions

[2019-08-12 17:45] cammellos commented on #1560
this has now been merged, closing

[2019-08-12 17:45] #1560 closed, assigned to nobody

[2019-08-12 19:29] adambabik commented on #1565
I think it should be provided but does not have to be a default option. If we do provide it, maybe we can rate limit it on our side as well and inform about the time needed to complete and current progress. I personally would not be interested in my transactions a year back so I would skip it.

The idea number 4 seems nice + showing a prompt asking if user is fine with that. If not we can suggest

[2019-08-13 06:59] flexsurfer commented on #1565
i would agree with Adam, for now as a quick solution we could just don't load transaction history, only show transactions were made in status after account creation, and maybe we could add options in the UI "retrieve history for 7d", "14d", "1m". or smth

[2019-08-13 08:23] hesterbruikman commented on #1565
**Sorry, had to refresh the page. What @andrey said:)**

If it helps, I defintiely see that working from a design perspective. We can reuse the 'fetch messages' pattern. It doesn't resolve the issue as a whole as I understand DApps also make request we don't control.

[2019-08-13 08:34] errorists commented on #1565
from this designer's perspective, loading the entire history at once is kinda nuts, it's missing the perspective that you might not care about those at all as a user. it's better to divide it into more digestible pieces of say 20 items and add a `Fetch more` button (or load as you scroll if the delay isn't that long) at the very end to load the next piece.

[2019-08-18 10:49] weekly-digest[bot] opened #1572 "Weekly Digest (11 August, 2019 - 18 August, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1570 [Hash password before passing it as a pragma](https://github.com/status-im/status-go/pull/1570), by [dshulyak](https://github.com/dshulyak)
:green_heart

[2019-08-19 14:54] jakubgs opened #1573 "CI builds are failing due to `go get` issues"
# Problem
If I try to build `develop` in CI right now using this job:
https://ci.status.im/job/status-go/job/manual/
The Android and iOS builds fail with the following error:

[code]

Not sure what changed but something did.

[2019-08-19 14:56] jakubgs commented on #1573
The last successful `develop` build is from 29th of July:
https://ci.status.im/job/status-go/job/manual/438/
https://ci.status.im/job/status-go/job/platforms/job/ios/120/
https://ci.status.im/job/status-go/job/platforms/job/android/124/
Which was done on the 21a62c731fca99a9b5db1f6fccacf7a311610da2 commit, which bumped the version to `0.31.0`.
I will see if I can identify which commit caused this.

[2019-08-19 15:07] jakubgs commented on #1573
So I made a `bisect` branch which points at 21a62c731fca99a9b5db1f6fccacf7a311610da2 and ran a built on it:
https://ci.status.im/job/status-go/job/manual/457/
https://ci.status.im/job/status-go/job/platforms/job/ios/134/
https://ci.status.im/job/status-go/job/platforms/job/android/139/
And it fails the same way, so that would indicate that the issue is with the CI hosts and not with the repo.

[2019-08-19 15:16] jakubgs commented on #1573
Related `gomobile` issues:

* https://github.com/golang/go/issues/13740
* https://github.com/golang/go/issues/24882
* https://github.com/golang/go/issues/24941

And one of those states that:

[2019-08-19 15:18] jakubgs commented on #1573
According to docs:

Not sure how that is supposed to help with a missing dependency.

[2019-08-19 15:33] jakubgs commented on #1573
Since we are using `-u` when installing `gomobile`:
https://github.com/status-im/status-go/blob/8383feea04004adb967ce879e42adce7cbcd300c/Makefile#L214-L215
It is possible that we upgraded to a broken version.

[2019-08-19 15:36] jakubgs commented on #1573
But the most recent commits in `gomobile` are from May 9th:
https://github.com/golang/mobile/commits/master/cmd/gomobile
So if last successful build on `develop` was on 29th of July that doesn't add up.

[2019-08-19 16:23] jakubgs commented on #1573
I managed to reproduce the issue by purging my `~/go/src` and running first
[code]
And then
[code]
And it does indeed fail with:
[code]
But even if I install the mentioned missing package:
[code]
It still fails the same way.

[2019-08-19 16:24] jakubgs commented on #1573
Okay, this makes no sense to me:
[code]

[2019-08-19 16:35] jakubgs commented on #1573
Running:
[code]
And:
[code]
Didn't help at all.

[2019-08-19 16:44] jakubgs commented on #1573
Ohh, thanks to help from @adambabik it turns out that this:
[code]
Fixes the `cannot find package "golang.org/x/tools/go/packages"` error!
But generates a new one:
[code]

[2019-08-20 06:56] cammellos commented on #1573
cc @PombeirP any idea on how to fix this?

[2019-08-20 07:05] adambabik commented on #1573
@cammellos I just merged https://github.com/status-im/status-go/pull/1574 which should fix the problem in the CI.

[2019-08-20 07:06] cammellos commented on #1573
oh wow, thanks @adambabik and @jakubgs !

[2019-08-20 11:52] flexsurfer opened #1575 "Сan't send funds from added account"
see https://github.com/status-im/status-react/issues/8759

[2019-08-20 13:57] jakubgs commented on #1573
The build looks green to me: https://ci.status.im/job/status-go/job/manual/468/
I'm closing this.

[2019-08-20 13:57] #1573 closed, assigned to nobody

[2019-08-20 15:20] flexsurfer commented on #1575
maybe related to https://github.com/status-im/status-go/issues/1566

[2019-08-20 15:26] dshulyak commented on #1575
That's unlikely, sending transactions are not coupled with wallet service.

[2019-08-20 15:38] #1552 closed, assigned to nobody

[2019-08-21 07:44] #1536 closed, assigned to nobody

[2019-08-21 10:08] dmitryn opened #1576 "LoginWithKeycard should start node"
# Problem

`LoginWithKeycard` now results in `{\"error\":\"there is no running node\"}`

# Implementation

Start the node like during `Login` call https://github.com/status-im/status-go/blob/be9c55bc16ca035ca9bfc0586b6c9298a91bdcd4/lib/library.go#L356

[2019-08-21 10:08] dmitryn commented on #1576
/cc @gravityblast

[2019-08-21 10:33] dshulyak commented on #1576
So instead of loading this data from database https://github.com/status-im/status-go/blob/develop/api/backend.go#L203-L215 we will start a node with accounts that are based on a key that is passed to LoginWithKeycard?

[2019-08-21 10:42] gravityblast commented on #1566
we should also add the new accounts to the account `watchAddresses` so that they are valid addresses that can be used to sign transactions.

[2019-08-21 10:51] flexsurfer commented on #1566
we've discussed this with @dshulyak and decided we don't need `watchAddresses`, why do we need them @gravityblast ?

[2019-08-21 10:53] flexsurfer commented on #1575
@gravityblast why can't we sign transaction for address we have a saved key for?

[2019-08-21 12:00] dshulyak commented on #1566
i think they were added before we had accounts database in status-go. now we can watch every address that is added to that accounts database. maybe we can pass a database to accounts manager now and it will use it for such information?

[2019-08-21 12:20] yenda opened #1578 "Service to store mailservers"
# Problem

To remove realm from status-react, we need a service to save and get mailservers associated with an account

# Implementation

[code]

We need the following rpc methods:
   "mailservers_addMailserver"
   "mailservers_getMailservers"
   "mailservers_deleteMailserver"

# Acceptance Criteria

Service is integrated on status-react and replaces the current realm table

[2019-08-21 12:24] yenda opened #1579 "Service to store mailserver-topics"
# Problem

To remove realm from status-react, we need a service to save and get mailservers-topics associated with an account

# Implementation

[code]

We need the following rpc methods:
   "mailservers_addMailserverTopic"
   "mailservers_getMailserverTopics"
   "mailservers_deleteMailserverTopic"

# Acceptance Criteria

Service is integrated on status-react and replaces the current realm table

[2019-08-21 12:30] yenda opened #1581 "Service to store mailserver-chat-request-ranges"
# Problem

To remove realm from status-react, we need a service to save and get mailservers chat-request-ranges associated with an account

# Implementation

[code]

We need the following rpc methods:
   "mailservers_addChatRequestRange"
   "mailservers_getChatRequestRanges"
"mailservers_deleteChatRequestRange"

# Acceptance Criteria

Service is integrated on status-react and replaces the current

[2019-08-21 12:33] yenda opened #1582 "Service to store mailservers-requests-gaps"
# Problem

To remove realm from status-react, we need a service to save and get mailservers requests gaps associated with an account

# Implementation

[code]

We need the following rpc methods:
   "mailservers_addMailserverChatRequestGap"
   "mailservers_getMailserversChatRequestGaps" takes a chat-id as param
   "mailservers_deleteMailserverChatRequestGap"

# Acceptance Criteria

Service is integ

[2019-08-21 12:44] dmitryn commented on #1576
@dshulyak i think so, but i'm not the author of previous implementation. @gravityblast what do you think?

[2019-08-22 08:31] gravityblast commented on #1576
@dshulyak yes it's correct, the whisper key is not stored in the phone but passed from the card. the wallet key stays on the card, but we could store the address so that we don't need to pass it all the time. then we have the other watch addresses as usual.

[2019-08-23 07:39] #1567 closed, assigned to nobody

[2019-08-24 02:13] yenda opened #1583 "Signal needed when login fails"
# Problem

When the user inputs the wrong password, status-go doesn't inform status-react and status-react hangs https://github.com/status-im/status-react/issues/8829

# Implementation

We need a signal from status-go that login failed

Currently I see this in the logs:
[code]

# Acceptance Criteria

I would propose that "node.login" signal is replaced by "login.success" and "login.failed" but I a

[2019-08-26 14:06] gravityblast commented on #1566
yes it's correct, it was needed before the new work on the database. yes we can pass the db to the manager.

[2019-08-26 14:08] gravityblast commented on #1575
@flexsurfer it comes from the old code for "single" accounts. You could only sign with your current key.
We can change it but it means you could be able to sign a tx with another user's account.
But this requires you to know both the address and the password of the other user's account, so at that point you could just login as the other user. I think we can remove this check, what do you think @fl

[2019-08-27 09:04] dshulyak opened #1584 "ETHDownloader stores only one transfer per transaction, even if it transfer is related to multiple watched accounts"
@dshulyak actually I think I found an issue, seems like when I send a transaction from one account to the other, I only receive a transfer for one of the account (the :wallet true one) and not the other. It is fine for token transfers but not for eth

_Originally posted by @yenda in https://github.com/status-im/status-go/pull/1569#issuecomment-524564547_

[2019-08-28 07:45] dshulyak commented on #1537
was closed with https://github.com/status-im/status-go/pull/1564

[2019-08-28 07:45] #1537 closed, assigned to nobody

[2019-08-28 07:49] #1566 closed, assigned to nobody

[2019-08-28 07:53] yenda commented on #1575
@gravityblast @dshulyak can't you just change the check so that it verifies that the sender is one of the wallet accounts owned by the multiaccount

[2019-08-28 08:12] gravityblast commented on #1575
@yenda yes it makes sense, I think @dshulyak was already passing the db to the account manager to be able to do that right? I'm ooo so it might be good if we open an issue

[2019-08-28 08:29] dshulyak commented on #1576
i am not totally sure how it suppose to work, application currently needs next information to login:
- multi-account
- password
- wallet address and watch addresses
- chat key

are you going to pass all of it to me? can i assume that wallet address and watch address can be derived from chat key?

also node configuration needs to be known in advance, how it will be passed?

[2019-08-28 09:06] dshulyak commented on #1575
this is where we do this check https://github.com/status-im/status-go/blob/develop/api/backend.go#L562-L579, right? if so we don't even need to pass database. just need to be sure that it was already opened at the time of the check

[2019-08-28 14:25] rachelhamlin commented on #1583
@yenda this a v1 blocker? anyone aware of it? @cammellos @dshulyak

[2019-08-28 14:32] cammellos commented on #1583
This looks like a v1 blocker, yes

[2019-08-28 14:39] #1584 closed, assigned to nobody

[2019-08-28 14:40] dshulyak opened #1588 "Revert temporary fix for gomobile"
# Problem

Revert https://github.com/status-im/status-go/pull/1585/commits/29e45b3615a85aafb01b4cf8108a1692836828a5 once a fix will merged to gomobile master branch

gomobile issue: https://github.com/golang/go/issues/33859

[2019-08-28 17:17] gravityblast commented on #1575
@dshulyak yes exactly!

[2019-08-28 17:18] dmitryn commented on #1576
password
wallet address and watch addresses
chat key

@dshulyak we can pass that information. Not sure about node configuration, how does it work in regular login? I suppose we can do the same.

[2019-08-29 12:57] dshulyak commented on #1583
@yenda does it matter if instead existing signal will be extended with error? e.g. node login will be sent always, but if failed - body will have field with non-empty error

[2019-08-29 15:39] yenda commented on #1583
no it doesn't matter but login should be completely aborted if it fails (no half started node)

[2019-08-29 16:47] adambabik opened #1591 "Can not start Status Node from command line"
# Problem

Can't start status node from command line anymore:
[code]

# Acceptance Criteria

* Status Node can be started from the CLI.

# Notes

There should be a default account manager if none is provided.

cc @dshulyak

[2019-08-30 06:58] dshulyak commented on #1583
@yenda i won't be able to finish this. i will try to merge my pending PRs today

[2019-08-30 11:11] #1575 closed, assigned to nobody

[2019-08-31 14:55] #1591 closed, assigned to nobody

[2019-09-02 15:57] cammellos commented on #1583
@yenda

[code]

I have added an error field to `node.login`, let me know if that works for you.

Here's the PR for testing https://github.com/status-im/status-go/pull/1594

[2019-09-02 19:03] #1576 closed, assigned to nobody

[2019-09-03 09:22] rachelhamlin commented on #1565
@adambabik @flexsurfer is it possible that you guys could map out the places where we need to make Infura calls, and which are mission critical vs. not? This can be done next week or in Istanbul, but I want to have it on your radar as a pre-v1 task.

Before we negotiate rates with them, I'd like to have an understanding of which specific actions require calls, and a rough estimate of how many call

[2019-09-03 13:00] #1583 closed, assigned to nobody

[2019-09-03 15:10] corpetty commented on #1565
two other options for pulling info is thegraph.com and aleth.io.  I'm currently building go-bindings for aleth.io (https://github.com/corpetty/go-alethio-api)

[2019-09-03 15:12] corpetty commented on #1565
Me and @jakubgs will have a call today at 3 PM EST with them to discuss how this affects us.  I'd assume that because I don't have hard estimates on how much we use, I'll just figure out their stance and how we can work through things with them, and report back.

[2019-09-03 15:55] adambabik commented on #1565
Ok, so the plan looks like this:
- identify all Infura calls and group them into mission critical and others
- figure out whether we want to have a second Infura account for non-critical methods vs use another provider

[2019-09-03 19:21] jakubgs commented on #1565
I agree with @flexsurfer, the simplest fix is to not download history at all and just keep what user does through the app themselves. We can improve on that in the future. For no we could just have a button that opens etherscan or something like that if someone needs to browse that.

Also, we should probably create a separate Infura project and use that for our PR builds so the metrics generated m

[2019-09-04 06:25] #1578 closed, assigned to nobody

[2019-09-04 10:20] #1582 closed, assigned to nobody

[2019-09-04 18:23] #1579 closed, assigned to nobody

[2019-09-05 10:03] yenda commented on #1581
@adambabik are you working on this one? It's the last service before we can get entirely rid of realm in status-react

[2019-09-05 17:06] dmitryn opened #1599 "Send "node.login" signal in StartNodeWithKey"
# Problem

status-react waits for `node.login` signal when `LoginWithKeycard` gets called.

That signal should be send like it's done in regular login flow

https://github.com/status-im/status-go/blob/d7f454fe4c09e140ed1fe8202478f1525cf9a7ee/api/backend.go#L289

[2019-09-06 13:02] #1581 closed, assigned to nobody

[2019-09-06 13:05] adambabik commented on #1588
This is done in https://github.com/status-im/status-go/commit/3dbcb6a19e0595c2640f53c5fc53b866cb28e620.

[2019-09-06 13:05] #1588 closed, assigned to nobody

[2019-09-06 14:23] #1599 closed, assigned to nobody

[2019-09-06 16:11] webmaster128 opened #1601 "Multiple questions when starting a status node"
Hi all and thanks for building Status!

# Problem

I want to run a status node. For fun. This should be easy to do since we need nodes, right? In the process I encountered multiple problems/questions that could use better documentation in order to help me and others.

1. **Docker tag:** [in the docs](https://status.im/docs/run_status_node.html) the tag 0.16.0 is fixed, which seems outdated. Howeve

[2019-09-17 07:25] yenda opened #1609 "Crash when login with keycard"
# Problem

[code]

[2019-09-20 09:57] yenda commented on #1609
@gravityblast sorry after looking at earlier log this was caused by leftover data

[2019-09-20 09:57] #1609 closed, assigned to nobody

[2019-09-20 10:00] yenda opened #1613 "Account timestamp is not updated when login with keycard"
# Problem

When login with a keycard account the last login time is not updated causing the following bug in status-react:

https://github.com/status-im/status-react/issues/8992

# Implementation

Call `b.multiaccountsDB.UpdateAccountTimestamp`  in `startNodeWithKey` as done in `startNodeWithAccount`

# Acceptance Criteria

The bug is gone in status-react

[2019-09-23 14:28] oskarth opened #1616 "Add community run bootnodes to ensure Chaos Unicorn Day Resistance"
# Problem

If all our servers are down, e.g. during a Chaos Unicorn Day event, Status stops functioning. This is due to all bootnodes being hosted by us. It'd be good to have this in v1 since we'll likely want to do a CUD fairly soon.

# Implementation

Issue PR that updates default bootnodes with community (Status core contributors primarily) run nodes.

# Acceptance Criteria

Things still work.

[2019-09-23 14:28] oskarth commented on #1616
^ @jacqueswww @3esmit

fyi @corpetty @adambabik @cammellos

[2019-09-23 14:31] corpetty commented on #1616
thoughts on using a smart contract repository to register nodes?

[2019-09-23 14:35] cammellos commented on #1616
As part of the network incentives initiative, we already implemented a
smart contract approach that rewards well behaving nodes and bans
misbehaving ones.

A POC has already been implemented in status-react ( not sybil resistant
and easy to game), but the app can be run using a set of nodes pulled from
a smart contract that police themselves.

On Mon, Sep 23, 2019, 16:31 Corey Petty <notifications

[2019-09-23 14:39] corpetty commented on #1616
thoughts on including the same curve dynamics dapp discovery uses?  so a misbehaving node can be downvoted, but all staked with SNT

[2019-09-23 14:40] oskarth commented on #1616
I think that's a great idea to explore, but not for v1. Too many unknowns and risk factors imo. I'd rather keep it as simple as possible, and we can extend in iteration after.

[2019-09-23 14:42] corpetty commented on #1616
agreed

[2019-09-23 14:54] cammellos commented on #1616
yes, definitely not v1 material, in terms of staking, other similar
projects avoid it (DASH, loki), likely because false positive are possible,
and it is relatively easy to cause a dos to a node.

On Mon, Sep 23, 2019, 16:43 Corey Petty <notifications@github.com> wrote:

[2019-09-24 06:32] #1613 closed, assigned to nobody

[2019-09-24 12:41] Swader commented on #1616
you need to be in sync with the network to read the contract though, so kind of a catch 22?

[2019-09-24 12:45] cammellos commented on #1616
kind of, you need to ask a synced node, if we were to use this strategy service nodes would be expected to be synced with the ethereum chain, so that you have a few options:
1) Ask any synced node
2) Use services such as infura
3) Fallback on an hardcoded list of bootnodes (at which point you can ask for the contract list if you wish)

This is no different from ethereum, ultimately we will need a

[2019-09-25 12:33] pedropombeiro commented on #1520
@cammellos checked and the `name` info is only passed in contact request, not regular messages, so we only need to do it for contacts which have added us.

[2019-09-25 14:19] PombeirP commented on #1520
Is there any specific information on how I can call the smart contract to check if an ENS name matches a public key? I see this in geth, but there's absolutely no documentation that I can see on the internet:

[code]

[2019-09-25 15:00] flexsurfer commented on #1520
@PombeirP that's strange we should send name with every message https://github.com/status-im/status-react/blob/58ed03f976f71c11abc233a81b2b07eb08406afb/src/status_im/chat/models/input.cljs#L137

[2019-09-25 15:01] flexsurfer commented on #1520
btw interesting if we send it only in plain text, we should send with every message

[2019-09-25 15:03] cammellos commented on #1520
I checked against messages sent in public chat by @PombeirP and @yenda (I don't have an account myself), and neither of those are sending that field, maybe they are running older versions?

[2019-09-25 15:04] yenda commented on #1520
yeah it's bad to send it here, I think they didn't check inside the content key though, in contact request I believe it is separated, which makes more sense.

Anyway here is what is called in clojure to resolve:

[code]

resolver is used to get the address of the resolver from the ens registry of the chain (so you need the different addresses if you don't have them yet: (maybe we should pass them

[2019-09-25 15:05] yenda commented on #1520
@cammellos yes I'm running desktop from July it might not include it?

[2019-09-25 15:07] cammellos commented on #1520
@yenda no idea, https://github.com/status-im/status-react/commit/e1bcaebd2ca2b4027fc61f3c4d460b9cca356b00 added the functionality

[2019-09-25 15:12] yenda commented on #1520
Sorry I just don't have a ens-name on desktop that's why

[2019-09-25 15:40] pedropombeiro commented on #1520
Yeah, I also used an old (working) desktop client, that's probably why

[2019-09-29 00:14] weekly-digest[bot] opened #1621 "Weekly Digest (22 September, 2019 - 29 September, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 1 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1620 [Add VerifyENSName endpoint](https://github.com/status-im/status-go/pull/1620), by [PombeirP](https://github.com/PombeirP)
:green_heart: #1618 [Bump git

[2019-10-01 17:31] vkjr opened #1624 "Sync `lib/library.go` and `mobile/status.go`"
# Problem

Interface in `lib/library.go` is inconsistent with `mobile/status.go`. `LoginWithKeycard` function has incorrect amount of arguments, `SaveAccountAndLoginWithKeycard` not implemented.
That impacts desktop builds and doesn't allow to synchronize `react-native-status` for mobile and desktop platforms.

# Implementation
Fix `lib/library.go`

# Notes
This issue impacts https://github.com/st

[2019-10-03 13:20] oskarth commented on #1556
It's not a immediately obvious (not documented) how this would be received, more details would be useful. This is also seems to break from geth solution, as they broke compatibility (something we also have/had a chance to do for v1).

1. Old send -> Old receive OK
2. New send -> new receive OK

3. Old send -> New receive
4. New send -> old receive

This should be documented in specs as well

[2019-10-06 00:14] weekly-digest[bot] opened #1630 "Weekly Digest (29 September, 2019 - 6 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 2 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1627 [WIP: Update for status-protocol-go API changes](https://github.com/status-im/status-go/pull/1627), by [PombeirP](https://github.com/PombeirP)
:green_he

[2019-10-09 05:29] dependabot-preview[bot] opened #1631 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

[2019-10-09 14:28] #1631 closed, assigned to nobody

[2019-10-09 14:28] dependabot-preview[bot] opened #1632 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-10-10 09:05] yenda opened #1634 "Save (Multi?)Account call"
# Problem

https://github.com/status-im/status-react/issues/8812

As a user I need to be able to change the username and profile picture in the multiaccounts db so that when I open the app, I see my ens name and profile picture in the list of multiaccounts if I have set them.

# Implementation

This means that status-react need to be able to save these fields in the multiaccounts db through a dire

[2019-10-10 11:31] flexsurfer opened #1635 "Update Account call"
# Problem

To implement https://github.com/status-im/status-react/issues/8446 we need ability to update account's name and colour

# Implementation

accounts_updateAccount ?

# Acceptance Criteria

It is possible to modify account name and color and save

[2019-10-11 05:05] dependabot-preview[bot] opened #1637 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

[2019-10-11 05:05] #1632 closed, assigned to nobody

[2019-10-12 17:31] oskarth opened #1639 "Unable to build bootnode due to Docker permission denied error"
# Problem

Unable to build bootnode.

Installed jq and docker-compose, at `4fe317917edf18404c737cb577818a3392b7300a`, using Fedora.

[code]

[code]

# Acceptance Criteria

Can build bootnode in `status-go/_assets/compose/bootnode`

# Notes

After some investigation, it became clear that the bash scripts were not tested with Fedora and work only on Debian.

[2019-10-12 17:32] oskarth commented on #1639
Probably something stupid

[2019-10-13 00:14] weekly-digest[bot] opened #1640 "Weekly Digest (6 October, 2019 - 13 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 4 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1639 [Unable to build bootnode due to Docker permission denied error](https://github.com/status-im/status-go/issues/1639), by [oskarth](https://github.com/os

[2019-10-14 04:39] oskarth opened #1641 "Launch nodes which support new PoW"
# Problem

As a node runner, I want to be able to run with the EIP627 spec compliant and updated PoW calculation. Additionally, I want to disconnect nodes that don't satisfy my powRequirement.

Currently, due to mismatching PoW calculations, old pow calculations that seem to meet powRequirements actually don't (indeterministic).

What this means in practice is that _all_ Status nodes are sending w

[2019-10-14 05:21] oskarth opened #1642 "Per topic stats of Whisper nodes"
# Problem

I want to see envelope statistics for Whisper topics so I can reason about Whisper and scalability and address issues such as https://github.com/status-im/status-react/issues/9081

# Implementation

(Run as a full bloom filter node to pick up all topics).

Desired statistics. For a node I want to see aggregate stats, i.e. over time, for:

1. How many envelopes are there in each topic?
2

[2019-10-14 05:27] cammellos commented on #1642
Some of these should be readily available from mailservers, for example:

[2019-10-14 08:08] adambabik commented on #1641
I would suggest to upgrade mailservers and server nodes on `eth.staging` and test whether everything works as expected. If so, maybe we can just use `eth.staging` instead of creating a new fleet to develop V1.

That would mean broken message passing between pre-V1 and V1 versions but the same would happen with a new fleet.

[2019-10-14 08:19] yenda commented on #1634
To answer the question from @flexsurfer in the title, yes it is multiaccount but status-go did not update the naming policy as of yet (probably should at some point)

[2019-10-14 11:50] oskarth commented on #1641
Sounds good to me!

[2019-10-14 11:51] oskarth commented on #1642
@cammellos what's the best way of accessing those? Has anything materially changed since https://discuss.status.im/t/performance-of-mailservers/1215?

[code]

[2019-10-14 12:04] cammellos commented on #1642
I haven't checked recently , but it should be the same as before, @jakubgs should be able to point in the right direction (you need to ssh into the machine and connect to the db running in docker)

[2019-10-14 12:58] jakubgs commented on #1642
If you want SSH access to the cluster hosts you'll need to make a PR for `infra-role-bootstrap` with your SSH key, like this one: https://github.com/status-im/infra-role-bootstrap/pull/12

If you just want temporary access to one of the hosts to fetch some data just send me your public key on Discord.

[2019-10-14 13:01] oskarth commented on #1025
^ fyi @andremedeiros @rachelhamlin @adambabik

This was completely dropped, while it likely isn't top 1 or 2 prio for core app for the next few months, it's quite embarrassing how much we have regressed with this in the last 2 years. At a minimum having a bounty up for this would be useful.

Also even more relevant now than before considering Infura soon starting to charge money.

[2019-10-14 13:03] oskarth commented on #1025
Also see latest geth release perf wrt to this, plus new iterations of VIPNode, etc.

[2019-10-14 14:16] #1637 closed, assigned to nobody

[2019-10-14 14:45] adambabik commented on #1639
Why with `sudo`? I just run `make` within `_assets/compose/bootnode` and all worked fine.

With the second snippet, it seems like some problem with your docker.

[2019-10-15 04:28] oskarth commented on #1642
How difficult would it be to get these up in a dashboard?

Ideally we'd not just see a unique count of envelopes, but have it reflect actual envelopes sent (then split by duplicate and not duplicate)

[2019-10-15 05:10] oskarth commented on #1639
I'm not sure that's the issue, this is an error inside the container. The `sudo` thing is just because I didn't create a user group. If I do that with e.g. https://developer.fedoraproject.org/tools/docker/docker-installation.html I still get:

[code]

Something like `docker run hello-world` works fine. Same is true if I do `docker prune` and `docker system prune` beforehand.

Are you using a compl

[2019-10-15 06:39] adambabik commented on #1639
Yeah, I tried with a clean slate. Something is off with permissions of your local `$(PWD)/keys` dir and what's in the container.

Have you tried:
[code]
and manually call `bootnode -genkey=/keys/nodekey`? Anything odd regarding the file permissions with `ls -al`?

[2019-10-15 10:22] cammellos commented on #1635
@flexsurfer not sure I get this right, but looks like you already have anything you need:
https://github.com/status-im/status-react/blob/e88472a0e0246dce7283d252becb696ff0aafc13/src/status_im/multiaccounts/update/core.cljs#L43

You need to pass the whole multiaccount (it's serialized as a blob on status-go, so we don't have access to the fields), but you could just update the account you care abou

[2019-10-15 10:28] flexsurfer commented on #1635
@cammellos why do we have `accounts_saveAccounts` then? it confused me

https://github.com/status-im/status-react/blob/ba34af0dd45fa256cef59ba640a7eff524dcfef4/src/status_im/wallet/accounts/core.cljs#L96

now i can see that we also save here `(multiaccounts.update/multiaccount-update {:accounts (conj accounts account)`

do we need `accounts_saveAccounts` then?

[2019-10-15 10:39] cammellos commented on #1635
not sure, let me check what's going on with that

[2019-10-15 11:13] cammellos commented on #1635
@flexsurfer we have a separate table to store "wallet accounts", which is what that calls is updating/inserting.

I am not still 100% sure what we need it for, but best guess is that we need it so status-go has access to the actual accounts and can ask for balances etc.

It also stores color/path etc, but as far as I can see, that data is not used, and the whole wallet accounts are denormalized un

[2019-10-15 11:30] flexsurfer commented on #1635
thanks

[2019-10-15 11:30] #1635 closed, assigned to nobody

[2019-10-15 12:19] cammellos commented on #1634
@yenda what about `multiaccounts_updateAccount`? https://github.com/status-im/status-go/blob/019f124f6b0cbd40ecb58081105828fdf12f653c/services/accounts/multiaccounts.go#L25
and

https://github.com/status-im/status-go/blob/019f124f6b0cbd40ecb58081105828fdf12f653c/multiaccounts/database.go#L66

It takes and account with:

`name, photoPath, keycardPairing, keycardKeyUid and address` and updates them,

[2019-10-15 14:50] adambabik commented on #1641
eth.staging fleet is updated. I tested it with status-console-client and messages are exchanged properly.

[2019-10-16 17:21] jakubgs opened #1645 "The 'make setup' command fails"
# Problem
Our docs state that in order to build `status-go` you have to run `make setup`:

https://status.im/build_status/status_go.html

# Symptoms

[code]

# Question
It appears that `make statusgo` works just fine even without running `make setup` first. Do we even need to mention that target in the docs?

[2019-10-18 15:41] adambabik commented on #1645
We don't. We should separate building from contributing. To build, you only need `make statusgo`. To contribute, that is to send a PR, you should do `make setup` (I just checked and not all targets from `setup` are needed).

I will update docs.

[2019-10-20 00:14] weekly-digest[bot] opened #1647 "Weekly Digest (13 October, 2019 - 20 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 2 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1646 [Fix race condition in subscriptions](https://github.com/status-im/status-go/pull/1646), by [adambabik](https://github.com/adambabik)
:green_heart: #164

[2019-10-20 15:07] adambabik commented on #1641
I am gonna test mailservers because @jakubgs discovered some problems.

[2019-10-22 06:56] oskarth commented on #1616
Ping @jacqueswww any luck with this? @adambabik are all the docs up to date here? I believe there were some issues running a node but don't know details.

Also cc @3esmit and  fyi @andremedeiros

[2019-10-22 15:57] cammellos commented on #1634
@yenda ping

[2019-10-22 16:03] yenda commented on #1634
@cammellos yes it should do it, the status-react issue is a bounty now, leaving it to @tbenr

[2019-10-22 16:12] cammellos commented on #1634
Thanks, will close this one then.

[2019-10-22 16:12] #1634 closed, assigned to nobody

[2019-10-22 20:02] 3esmit commented on #1616
How we would deal with dynamic IPs?
I would happily run a bootnode, but my IP changes every time the modem connects with ISP. I also get disconnects from ISP and return with different IP.

[2019-10-23 05:07] oskarth commented on #1616
That is indeed a problem. With the current architecture, it is recommended you have a static IP. The cluster has specific static IPs (decoupled from ad hoc VPSes) for that reason. No worries!

[2019-10-23 11:59] corpetty commented on #1616
I'd love to find a way to handle dynamic IPs.  It is $500 for a static IP from my provider.  Most webservices get around this through proxy services like dyndns, but AFAIK our node discovery only takes IPs.

[2019-10-23 12:02] corpetty commented on #1616
I wonder if something like [handshake](https://www.handshake.org) could help with this.

[2019-10-23 12:25] Swader commented on #1616
Mobile routers connecting with data-only SIM cards generally have static IPs if they stay put in an area. I have one such router running on my nodes and it costs $20 per month for flat rate 4G. I don't know how other countries handle this but maybe look into it.

[2019-10-23 14:55] 3esmit commented on #1616
We need a way to support dynamic IPs. In case of an active censorship over the use of bootnodes, static IPs are easy target.

I see that this problem goes deep in rabbit hole.

[2019-10-27 16:01] weekly-digest[bot] opened #1654 "Weekly Digest (20 October, 2019 - 27 October, 2019)"
Here's the Weekly Digest for [status-im/status-go](https://github.com/status-im/status-go):
# ISSUES
This week, 10 issues were created. Of these, 2 issues have been closed and 8 issues are still open.
## OPEN ISSUES
:green_heart: #1653 [Implement mailserver Deliver() with MessagesRequest](https://github.com/status-im/status-go/pull/1653), by [adambabik](https://github.com/adambabik)
:green_heart:

[2019-10-28 03:28] oskarth commented on #1616
I think it is an OK requirement for _bootnodes_ to be static IPs. You want that mechanism to be as KISS as possible, since it is how you discover the rest of the network. For nodes that are being discovered (Whisper relay nodes / mailservers / etc) that's a different question.

The only thing that seems similarly KISS is to add support for DNS a la Bitcoin, but that's a bigger change. The problem

[2019-10-28 06:20] adambabik commented on #1616
In geth 1.9, discovery based on DNS was implemented:
- PR https://github.com/ethereum/go-ethereum/pull/20094
- EIP https://eips.ethereum.org/EIPS/eip-1459

I can do a POC with @jakubgs this week I believe.

It does not necessarily simplifies things for folks who have dynamic IPs, though. They would need to update their DNS every time an IP changes to make it useful. Also, updating DNS takes time.

[2019-10-28 06:55] jacqueswww commented on #1616
Actually this is can usually be setup on your router just look for DynDNS settings, I used to be very happy using freedns.afraid.org to host my own dynamic DNS.

Using DNS bootnodes is one more way to improve censorship resistance (it's obviously not full proof but it's one more layer).

[2019-10-28 09:28] oskarth commented on #1616
Oh right, forgot about that EIP! Nice one, poc would be awesome

[2019-10-31 10:07] rachelhamlin commented on #1520
Hey @cammellos @PombeirP! What's the status of this issue? Is it still being worked on?

[2019-10-31 10:30] cammellos commented on #1520
the code is ready to go, and already merged in status react. Currently the functionality is blocked by geth 1.9 upgrade, one fix is in #9259 , afyert that is merged and the fleet is set to staging, we can update status go and enable it

[2019-10-31 12:32] rachelhamlin commented on #1520
Okay, awesome. I'm mentally filing it as 'basically done.' Thanks @cammellos!

[2019-10-31 12:49] cammellos commented on #1520
no probs, maybe is worth getting an handle on this geth upgrade, seems like no one is owning it and a bit in a flux, it also prevents us to deploy new changes to status go.
Happy to do it, although today i am offline most of the day will have to wait until tomorrow

[2019-10-31 14:33] rachelhamlin commented on #1520
Oh, yes please. Let's do that @cammellos. Can you assign yourself on an issue for it? I don't see anything about it in status-go.

[2019-11-04 10:35] jakubgs commented on #1642
Note to self from Oskar:

[2019-11-04 13:55] dependabot-preview[bot] opened #1658 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-06 15:30] jakubgs commented on #1642
Some metrics already exist:
https://github.com/status-im/whisper/blob/master/whisperv6/metrics.go
But they need some work:

* Port them to the new Prometheus library we are using
* Vend which metrics we need, rename some so they make sense
* Add additional metrics to match requirements here

One thing that probably can't be done via Prometheus are the per-topic metrics themselves.
It would be too

[2019-11-06 15:33] jakubgs commented on #1642
The topic hash is available in the `Envelope` structure itself:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/envelope.go#L37-L40
And it's a 4 byte array:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/topic.go#L26-L29

[2019-11-06 15:36] jakubgs commented on #1642
It might be possible to get this data without modifying `whisper` repo because there's an event feed:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/whisper.go#L110
I can subscribe to the feed with a channel:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/whisper.go#L178-L182
But the `EvenlopeEvent` lacks the topic, so that would have to be added:
https://github.com

[2019-11-06 16:28] #1658 closed, assigned to nobody

[2019-11-06 17:33] flexsurfer opened #1663 "Method for bip39 mnemonic validation"
# Problem

https://github.com/status-im/status-react/issues/9050

We want to recover only valid mnemonics (words from the dictionary and checksum is valid)

# Implementation

validateMnemonic(mnemonicString)

words from the dictionary and checksum are valid

[2019-11-07 04:26] 3esmit commented on #1663
I see that we need to open another issue to request the addition of method of bip39 mnemonic word suggestion (as nano ledger does). I will track progress on this one and open it if does not get solved. Just mentioning because this is a planned feature.

[2019-11-07 12:36] flexsurfer opened #1665 "Balance is not updated after sending / receiving transaction and sometimes no transaction is shown in transaction history"
# Problem

The balance on multi-account and individual account view is not updated after sending or receiving transaction until relogin.

Original issue https://github.com/status-im/status-react/issues/9361

Related issue https://github.com/status-im/status-react/issues/9280

[2019-11-07 23:08] jakubgs commented on #1642
There's already a bot that could be modified to do this but it doesn't use `status-protocol-go`:
https://github.com/status-im/statusd-bots/blob/master/cmd/pubchats
So I might as well write it from scratch.

[2019-11-07 23:10] jakubgs commented on #1642
Regarding the metrics themselves. I discussed them with Adam and came up with these comments:

* `hash duplicate from a single peer` - Unlikely edge case, but maybe worth checking for.
* `hash duplicate from multiple peers` - Possible and likely, worth monitoring.
* `invalid envelopes` - Not really possible, unless a bad actor exists that sends them.
* `valid` - Sure
* `expired/futured` - Possible

[2019-11-08 04:47] oskarth commented on #1642
Which is why we want to check them. We want them to be zero, and if they aren't that indicates an issue.

The bloom filter one is also not unlikely to change, plus instrumentation can be used for light nodes as well as testing Waku mode. It's likely the biggest blocker bandwidth wise in terms of false positives, so we want stats there.

[2019-11-08 08:37] jakubgs commented on #1642
But how can an envelope not match a full bloom filter? That makes no sense.

[2019-11-12 12:59] flexsurfer commented on #1520
@cammellos can we close this?

[2019-11-12 13:01] cammellos commented on #1520
@flexsurfer yes, I'll close it

[2019-11-12 13:01] #1520 closed, assigned to nobody

[2019-11-15 10:33] pedropombeiro opened #1677 "Nimbus node in status-go"
# Problem
In the long run, we want to replace Geth with Nimbus. The goal of this issue is to allow a side-by-side implementation of Nimbus that can be selected at runtime, through a new field in `params.NodeConfig`. The minimalistic scenario to support is:

1. Creating an in-device account
1. Adding a public chat
1. Sending and receiving a message in the public chat
1. Logging out

# Implementatio

[2019-11-15 16:26] cammellos commented on #1677
Before starting with this, I would probably want to understand better what's the integration plan? or is this another POC?

If it's not a POC, how does the integration look like? Status-react -> Status-go -> nimbus (Whisper) or Status-react -> Nimbus . In the latter we'll have to maintain 2 codebases (status-go/status-protocol-go, nimbus implementation) , which I would avoid and looks more similar

[2019-11-15 16:30] pedropombeiro commented on #1677
@cammellos this is a PoC (but ideally we'll reuse what we write in this PR). The goal is to keep status-go, but allow selecting the backend implementation with a new field in `params.NodeConfig` passed from status-react.

[2019-11-17 10:20] jakubgs commented on #1642
Here is my understanding of the metrics:

* >How many envelopes are there in each topic?
  - Simple, it's already being counted:
  - https://github.com/status-im/whisper/blob/a527df15/whisperv6/whisper.go#L1199
* >Hash duplicate from a single/multiple peer(s) for ingress traffic
  - Simple for just finding duplicates, harder for distinguishing between one and multiple peers:
  - https://github.com

[2019-11-17 11:16] weekly-digest[bot] opened #1680 "Weekly Digest (10 November, 2019 - 17 November, 2019)"
Here's the Weekly Digest for [status-im/status-go](https://github.com/status-im/status-go):
# ISSUES
This week, 12 issues were created. Of these, 4 issues have been closed and 8 issues are still open.
## OPEN ISSUES
:green_heart: #1679 [Remove FCM implementation](https://github.com/status-im/status-go/pull/1679), by [PombeirP](https://github.com/PombeirP)
:green_heart: #1677 [Nimbus node in status

[2019-11-17 16:15] adambabik commented on #1641
`eth.staging` runs new PoW and it's confirmed the messages are exchanged properly between clients.

[2019-11-17 16:15] #1641 closed, assigned to nobody

[2019-11-18 05:13] dependabot-preview[bot] opened #1681 "Dependabot wasn't able to update gopkg.in/go-playground/validator.v9"
The module path `gopkg.in/go-playground/validator.v9` found in your `/go.mod` doesn't match the actual path `github.com/go-playground/validator/v10` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/go-playground/validator/v10` should resolve this issue.

[2019-11-18 07:19] adambabik opened #1683 "Waku 0: integrate Waku node and Waku client"
# Problem

Statusd as well as status-go libraries should have Waku node/client service instantiated when it is enabled in the configuration.

# Implementation

Following the current strategy in status-go, add a `WakuConfig` to `params.NodeConfig`. If enabled, a Waku node/client service should be instantiated, similarly to Whisper service.

Waku service should be visible as a separate subprotocol.

[2019-11-18 10:28] #1681 closed, assigned to nobody

[2019-11-18 10:43] oskarth commented on #1683
Thanks - one more thing to keep in mind is that there's a need for a WakuWhisper bridge, we are currently experimenting with this in the nim-eth code base

[2019-11-18 23:53] saratsista commented on #1538
@gravityblast Can I take up this issue to work on it?

[2019-11-18 23:56] saratsista commented on #1538
Sorry, just saw that you self-assigned this.

[2019-11-19 13:29] jakubgs commented on #1642
First version of PR for new Whisper metrics: https://github.com/status-im/whisper/pull/38

[2019-11-19 14:04] adambabik commented on #1642
This should be allowed. Consider a scenario with two nodes A and B:
1. Node A broadcasts a message M to peer B,
2. Node A restarts itself due to some reason,
3. Node A connects again to some old peers and a new peer C which sends it the message M,
4. Node A receives the message M,
5. Node A broadcasts the message M to peer B again because it was restarted and does not remember doing that already.

[2019-11-20 03:11] oskarth commented on #1642
I wouldn't go so far as to call it a completely valid case. We might choose to introduce some slack to make it easier for implementations if it is 100% necessary, but in principle it is bad behaviour. Node A should keep track of the messages it has sent to B already, and I suppose this should/could be persisted across restarts? Probably a spec issue. cc @kdeme

EDIT: In any case, for this specific

[2019-11-20 08:45] cammellos commented on #1642
This is just at-least-once vs at-most-once , which semantic do we want to go for?

at-least-once seems the best suited, if there's some sort of acknowledgement between nodes, i.e I have received this rlp packet.

If it's at-least-once then the occasional re-sending should not be considered bad behavior and it's indeed a valid case.
If instead we want to go for at most once, it should be considered

[2019-11-20 09:36] rachelhamlin commented on #1663
Does anyone own this issue @flexsurfer?

[2019-11-20 10:08] flexsurfer commented on #1663
@rachelhamlin don't think so :(

[2019-11-20 10:19] rachelhamlin commented on #1663
Okay - thanks :) I added to core project board.

FYI @cammellos @PombeirP @adambabik this is a new status-go v1 requirement.

[2019-11-20 10:58] adambabik commented on #1642
I think it's a huge requirement from a Whisper node. Currently, it can be totally stateless. If we require it to track what was send to who between restarts, it can't be stateless anymore.

Also, this requirement only makes sense with high PoW. High PoW + at-most-once gives you a protection against flooding. Low PoW + at-most-once gives nothing (or very little) because creating messages is cheap a

[2019-11-20 11:07] oskarth commented on #1642
While a useful discussion I think this is off-topic for OP. We still want to track it in terms of metrics.

For specs, I suggest we open an issue and continue discussion there. Right now I believe it is currently not specified, and no implementation is disconnecting peers due to it (though it is suggested in the code https://github.com/status-im/nim-eth/blob/master/eth/p2p/rlpx_protocols/whisper_p

[2019-11-20 11:14] kdeme commented on #1642
Same point made by @adambabik counts for the nim-eth. After restart or disconnect/reconnect the list of already send/received message for that peer is gone.

In nim-eth the nodes don't disconnect peers on this "bad" behaviour, or any other type in fact (for now). I'm not even sure if this will practically create huge issues if we would disconnect (from the first duplicate, not a threshold of dupli

[2019-11-20 16:40] kdeme commented on #1677
So I understand that this issue is about expanding the role of Nimbus from alternative whisper implementation to also the eth1.0 part.

Regarding the required functions:
- AddPeer can be implemented as the current go-wrapper provides this call.
- CallPrivateRPC:
  - I assume from a Nimbus perspective we can ignore the list at `Implemented already in status go:`
  - admin_nodeInfo: What does this d

[2019-11-21 16:44] acolytec3 commented on #1663
Is this something I could work on?  Seems like this would just adding in some new validations for [`RecoverAccount`](https://github.com/status-im/status-go/blob/ed5a5c154daf5362cdf0c35fd1bc204e6a6d49ae/account/accounts.go#L134) so maybe a "good first issue"?

[2019-11-22 10:33] rachelhamlin commented on #1663
Keen to learn go @acolytec3? Let's try it - I've invited you to a bounty, and I think @adambabik can offer advice if you need help getting started on this one.

[2019-11-22 11:03] flexsurfer commented on #1663
@gravityblast could assist as well, so @acolytec3 what we need here is a separate method we can call from status-react, which will validate mnemonic, checks if all words from our dictionary and checksum is valid

[2019-11-22 11:29] karansinghgit commented on #1663
@flexsurfer Hey, are there any similar beginner level issues I could help out with?

[2019-11-22 12:03] flexsurfer commented on #1663
@karansinghgit hey, go or clojure?

[2019-11-22 12:58] acolytec3 commented on #1663
@rachelhamlin Yes! I've tinkered in Go before though nothing too serious and would love to get my feet wet in the backend of the project.

[2019-11-22 13:04] dependabot-preview[bot] opened #1692 "Dependabot wasn't able to update gopkg.in/go-playground/validator.v9"
The module path `gopkg.in/go-playground/validator.v9` found in your `/go.mod` doesn't match the actual path `github.com/go-playground/validator/v10` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/go-playground/validator/v10` should resolve this issue.

[2019-11-22 13:04] #1692 closed, assigned to nobody

[2019-11-22 13:04] dependabot-preview[bot] opened #1693 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-22 13:56] rachelhamlin commented on #1663
Awesome - have at it, you're approved @acolytec3!

[2019-11-22 14:01] guylouis commented on #1663
cc @gravityblast  so that he does not do the work too :)

[2019-11-22 15:18] gravityblast commented on #1663
a good starting point would be taking a look at the `MnemonicPhrase` method of the `Mnemonic` struct of the `extkeys` package.
That method generates the mnemonic phrase from the entropy and its checksum, so basically what we need is the validation doing the same but from phrase to entropy+checksum.

[2019-11-22 16:05] acolytec3 commented on #1663
Thanks!  I'll try and dig into it over the weekend.

On Fri, Nov 22, 2019 at 10:18 AM Andrea Franz <notifications@github.com>
wrote:

[2019-11-22 20:17] karansinghgit commented on #1663
@flexsurfer Go :)

[2019-11-25 05:12] #1693 closed, assigned to nobody

[2019-11-25 05:13] dependabot-preview[bot] opened #1696 "Dependabot wasn't able to update gopkg.in/go-playground/validator.v9"
The module path `gopkg.in/go-playground/validator.v9` found in your `/go.mod` doesn't match the actual path `github.com/go-playground/validator/v10` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/go-playground/validator/v10` should resolve this issue.