[2018-02-20 18:04] #668 closed, assigned to nobody

[2018-02-21 09:28] JekaMas opened #690 "Reduce mail server traffic"
# Problem

We have a significant network overhead from offline mailboxing. We want to reduce it as much as possible.

# Implementation

We want to send to a user only messages he or she didn't receive yet. We probably should extend Mail Server API.
The details should be discussed with @yenda .

# Acceptance Criteria

Offline mailboxing works stable, react side has an API to request only messages t

[2018-02-21 12:48] pedropombeiro opened #691 "Refactor JailCell interface so that Get returns a thread-safe value"
# Problem

Otto is not thread-safe by design. Therefore we've built a thrad-safe wrapper layer on top of it (https://github.com/status-im/status-go/blob/develop/geth/jail/internal/vm/vm.go). However, this layer isn't complete, as values retrieved by `JailCell.Get` will return an unsafe value that might call back into Otto, and cause race conditions (seen e.g. in https://github.com/status-im/status

[2018-02-21 16:32] mandrigin commented on #686
Got blocked by https://github.com/status-im/status-go/issues/655, will fix it first...

[2018-02-21 16:37] mandrigin commented on #686
https://github.com/mandrigin/status-go-bots — that's the repo

[2018-02-22 07:28] status-open-bounty commented on #691
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xfc4bfe077a30bb9400ab7e4ccf841a7b8471bad3](https://etherscan.io/address/0xfc4bfe077a30bb9400ab7e4ccf841a7b8471bad3)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-22 10:10] #655 closed, assigned to mandrigin

[2018-02-22 13:01] pedropombeiro opened #694 "Create generate-check makefile target"
# Problem

As a developer, I'd like that the CI build fails if I forgot to run `make generate`, in order to avoid inconsistent states being checked in to the repo.

# Implementation

In order to do this, we should implement a `make generate-check` Makefile target which runs similarly to `make vendor-check`, by running `make generate` on a temporary branch and checking if anything other than a time

[2018-02-22 13:30] adambabik opened #695 "Configure statusd to run on mainnet"
Acceptance criteria:
- [x] static nodes defined in a config file,
- [x] Rename `cht.json` to `staticnodes.json` or something similar. CHT now we handle with patches.

[2018-02-22 14:09] dshulyak commented on #690
Would be good to have a more concrete description:
- how was it measured that offline mailboxing leads to a significant overhead? any numbers?
- any concrete ideas/direction for changing API, because at the moment it supports `from` and `to` fields

[2018-02-22 14:10] dshulyak commented on #642
Please track this issue in upstream

[2018-02-22 22:55] canercidam commented on #694
`npm install web3` + `make generate` fails for me:
[code]
[e2e guide](https://github.com/status-im/status-go/blob/develop/t/e2e/README.md) probably needs updating as well.

[2018-02-23 10:26] themue opened #699 "Code cleanup for running on mainnet"
Research if we need:

- [x] special targets to build for Mainnet (`statusgo-mainnet`, flags `mainnet-flags.sh`)
- [x] global variables `UseMainnet` and `UseMainnetFlag`

[2018-02-23 10:49] #652 closed, assigned to nobody

[2018-02-23 17:27] PombeirP commented on #665
Comparing the [Android nightly build](http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-834ae3.apk) which uses Whisper v5 (left) with a local build with Whisper v6 (right) and leaving the apps running for 10 minutes produces this usage pattern, looking at it with an Android packet sniffer app (TestFairy is disabled for both builds):

![image](https://user-images.github

[2018-02-23 17:35] themue commented on #699
`GetHeadHashFromNetworkID()` in `t/utils/utils.go` returns no hash for the Mainnet ID.

[2018-02-23 18:20] adambabik commented on #695
We have added two mainnet full nodes. We also need some Whisper nodes as otherwise, it's hard to connect to these full nodes (usually have max number of peers).

These Whisper nodes can run on the same machines.

[2018-02-23 18:48] PombeirP commented on #665
Comparing the [Android nightly build](http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-834ae3.apk) which uses Whisper v5 (left) with a local build with Whisper v6 (right) and leaving the apps running for 10 minutes produces this usage pattern, looking at it with an Android packet sniffer app (TestFairy is disabled for both builds):

![image](https://user-images.github

[2018-02-23 18:48] pedropombeiro commented on #638
Comparing the [Android nightly build](http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-834ae3.apk) which uses Whisper v5 (left) with a local build with Whisper v6 (right) and leaving the apps running for 10 minutes produces this usage pattern, looking at it with an Android packet sniffer app (TestFairy is disabled for both builds):

![image](https://user-images.github

[2018-02-26 08:42] b00ris commented on #642
https://github.com/ethereum/go-ethereum/pull/16191

|   | 100 filters  | 50 filters  | 20 filters  | 10 filters  | 5 filters  |
|---|---|---|---|---|---|
| before  | 187707 ns/op  | 61981 ns/op  | 26762 ns/op  | 12554 ns/op  | 6283 ns/op  |
|  after | 424 ns/op  | 422 ns/op  |  412 ns/op | 406 ns/op  | 405 ns/op  |

[2018-02-26 13:00] pedropombeiro opened #705 "Whisper v6: Leverage new light mode in geth master"
# Problem

Currently light nodes forward messages from other nodes. We want to leverage the new `shh.lightclient` `WhisperConfig` flag to enable Whisper light mode to reduce resource consumption.

# Implementation

Upgrade vendored geth to include https://github.com/ethereum/go-ethereum/pull/16172/.
Call `MakeLightClient` if `WhisperConfig.LightClient` is true.

# Acceptance Criteria

TBD

# Notes

[2018-02-26 13:16] themue commented on #699
Just seen `t` package is intended for testing, so no Mainnet.

[2018-02-26 14:58] adambabik commented on #694
@canercidam We use a forked version of web3.js. After we moved some directories around, this whole flow broke. I think you should go to `_assets/` and run `npm install` there. Next, in `generate` target it should copy the file from `./_assets/node_modules/web3/dist/web3.js`.

[2018-02-26 15:05] pedropombeiro commented on #694
@canercidam updated `develop` to fix the workflow. Thanks for signaling this.

[2018-02-26 18:36] #695 closed, assigned to adambabik

[2018-02-27 10:46] themue opened #708 "Rewrite how static peers are handled in params package"
Acceptance criteria:

- [x] Change naming from bootnodes to static peers
- [x] Provide a way to load static peers from a file or embedded file (currently only embedded file is supported)
- [x] Check if `genesisHash` is required in `staticpeers.json`; If not, get rid of it
- [x] It should say `staticpeers` instead of `bootnodes` in `staticpeers.json`
- [x] Check if we can assign static peers to p2p

[2018-02-27 11:05] dshulyak commented on #708
Last item is done in https://github.com/status-im/status-go/pull/700

[2018-02-27 11:57] themue commented on #708
@dshulyak Thx, will check the item when #700 is merged.

[2018-02-27 13:48] JekaMas opened #709 "A data race while closing a node"
# Problem

We have a data race while stopping the node.
[data_race.txt](https://github.com/status-im/status-go/files/1763068/data_race.txt)
The patch with data race https://github.com/status-im/status-go/blob/develop/_assets/patches/geth/0016-fix-leveldb-issue.patch

# Implementation

The cause is in code (`github.com/ethereum/go-ethereum/les/handler.go` after all patches):
[code]
We add new tasks

[2018-02-27 14:18] mandrigin commented on #709
good catch 👍
can you also provide steps to reproduce?

[2018-02-27 14:19] mandrigin commented on #709
or can you check this branch: https://github.com/status-im/status-go/tree/igorm/sync-terminate?

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">status-im/status-go</a></strong></div><div>status-

[2018-02-27 15:18] #665 closed, assigned to pedropombeiro

[2018-02-27 15:35] JekaMas commented on #709
@mandrigin A nice fix! For me, it should work fine.
How to reproduce: it got this error once per 5 runs `go test -race -v -timeout 6000s ./t/e2e/whisper/whisper_jail_test.go -network=3`

[2018-02-27 15:43] mandrigin commented on #709
@JekaMas when running this code I also see a lot of races like that
[code]

Do you see them as well?

[2018-02-27 15:47] JekaMas commented on #709
Nope, but according to the code it's a data race. For me, it looks like a deep rabbit hole...

How do you think maybe we need to run our tests with `race` flag at least once per week?

[2018-02-27 16:12] JekaMas opened #710 "Create a makefile target that checks number of races in e2e tests"
# Problem

From time to time we found new data races in our code or in Ethereum. However, we haven't any process to clean up the code regularly.
We're migrating to Geth 1.8 and we don't know is it safe for us.

E.g we found a race in `les.downloader` and after it was fixed one more was raised https://github.com/status-im/status-go/issues/709#issuecomment-368921748

# Implementation

Make a `race-c

[2018-02-28 10:51] themue commented on #708
Idea for static peers: maintain and embed them like today unless a flag says to overwrite this static by the content of a file.

[2018-03-01 07:37] b00ris commented on #642
After discussion with @gluk256 we decided to use https://github.com/ethereum/go-ethereum/pull/16210.
The solution is only for whisperv6 but It covers our needs.

[2018-03-01 07:37] #642 closed, assigned to b00ris

[2018-03-01 15:41] adriacidre opened #714 "GOBIN must be an absolute path"
# Problem

Actually Makefile is overwriting GOBIN environment variable to be `build/bin`. This doesn't work with any `go get ..` commands as GOBIN must refer to an absolute path. This problem causes `go get` commands to crash when they run through the

[code]

# Implementation

Path should be completed with current makefile's own path, so we have a valid absolute path.

# Acceptance Criteria

- [x

[2018-03-01 16:07] divan commented on #714
I can't reproduce it. What Go version do you have?

[2018-03-01 16:11] adriacidre commented on #714
@divan I am able to reproduce it both on go 1.9.2 and 1.10.0

[2018-03-01 16:18] #714 closed, assigned to nobody

[2018-03-01 16:48] #691 closed, assigned to nobody

[2018-03-02 08:06] mandrigin opened #717 "Use `go-ethereum/log` in status-go"
# Problem

We use our own `log` package in status-go. go-ethereum already has one pretty powerful log package.

# Acceptance Criteria

* `status-go/geth/log` is removed
* `go-ethereum/log` is used everywhere in status-go
* all the log messages are visible
* (potentially) we can configure different outputs and different levels for status-go and go-ethereum.

[2018-03-02 08:37] status-open-bounty commented on #717
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0x00b31e2afec45951f7ddd815ab08b6ab0a83e266](https://etherscan.io/address/0x00b31e2afec45951f7ddd815ab08b6ab0a83e266)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-02 09:25] #638 closed, assigned to pedropombeiro

[2018-03-02 11:05] divan commented on #717
@mandrigin I'm still unsure we really need it. What will be the benefit of it except of having just one log package?

We still cosnidering `go-ethereum` as a dependency, i.e. codebase not fully owned by us. What if on next release, they change `log` package? What if initialization in the `geth` will be implemented in a way incompatible with ours (we pass log configuration trough `StartNode` parame

[2018-03-02 11:23] mandrigin commented on #717
@divan the typical problem with our logging is on mobile devices which is very inconsistent and have some weird relationship with each other.

Examples:
1. Some logging goes to a file (geth), some to stdout (status-go) on mobile devices;
2. `SetLogHandler` for status-go log package sets it for geth too, for some reason, but I'm still not sure how that works, because (1).
3. `we pass log configurat

[2018-03-02 12:06] mandrigin commented on #710
One more idea about how to make it slightly less strict, so we don't have to fix _all_ the data races before making this go green.
Every nightly should fail if the number of races is more than in the previous nightly. Then we'll be able to start _dirty_, and then fix it one by one.

[2018-03-02 12:09] JekaMas commented on #710
Totally agree! This is the way to have a good CI one day.
We can control new data races and clean up old ones in a few iterations.

[2018-03-02 14:29] adriacidre opened #719 "Broken status.im link on the README"
# Problem

README provides a link to status.im, however this link is broken and points to a github relative path .

# Implementation

Just change the link address to https://status.im/

[2018-03-02 14:36] #719 closed, assigned to nobody

[2018-03-02 18:10] divan commented on #717
@mandrigin got it, thanks! The first example is actually pretty much a bug, and this definitely should solve it.

[2018-03-05 20:36] #709 closed, assigned to nobody

[2018-03-06 09:20] mandrigin opened #724 "Disable `DiscoveryV5`"
# Problem

`discv5` seems pretty CPU hungry when running in a profiler (~20% on iPhone 8+). (observe CPU behaviour with `discv5` enabled vs `discv5` disabled).

We need to disable discovery v5 to save this CPU time, especially since we don't use it.

Part of https://github.com/status-im/ideas/issues/83

[2018-03-06 17:11] alexkohler commented on #694
@PombeirP What file(s) have potential to only have a timestamp change?

[2018-03-06 23:47] divan commented on #724
@mandrigin can you elaborate more on "especially since we don't use it." (i.e. so anyone without prior knowledge of what is `discv5` can understand)

[2018-03-07 18:21] alexkohler commented on #717
What should the structure of the logging be? Go-ethereum's logging framework supports key/value pairs for logging, would we want per package logging? (e.g. `logger := log.New("package", "geth/jail"`)

[2018-03-07 20:10] dshulyak commented on #724
So that was my comment, we are not relying on discovery (neither v5 or one without a version) for maintaining connections with dynamic peers. All of our peers are static and added at the node startup or on demand (mail servers)

[2018-03-08 02:09] pedropombeiro commented on #694
@alexkohler I don't have an answer to that, I'd need to run some experiences to be sure.

[2018-03-08 03:13] alexkohler commented on #694
@PombeirP From what I saw in some testing I saw no timestamp only changes, just wanted to make sure I wasn't missing anything obvious - thanks!

[2018-03-08 12:34] pedropombeiro commented on #694
Yeah, if there are only timestamp changes, we wouldn't care about that, only if the content of a file changes. Maybe it wasn't clear in my description above, but that's what I meant with it.

[2018-03-08 13:32] mandrigin commented on #717
@alexkohler that would be neat! Maybe we can prefix it with `status-go` too, so we can filter that out easily later.

[2018-03-08 17:12] alexkohler commented on #717
It seems like go-ethereum follows two paradigms.
* They initialize their logger on an "as needed" basis. I.e. - loggers are initialized via `log.New` within function calls.
* They add a `log.Logger` field on the struct, and its methods will log via that struct field.

Alternatively, we could also add a single (unexported) logging instance per package. We may be increasing our memory footprint, but

[2018-03-08 17:40] #724 closed, assigned to nobody

[2018-03-09 09:25] mandrigin commented on #717
I personally would prefer to follow the per-struct approach that go-ethereum has. I think being consistent helps anyone who is familiar with status-go or go-ethereum to work on each other codebases.

[2018-03-09 13:01] mandrigin commented on #278
@divan @adambabik since #408 is quite a big issue, and this one is fairly well defined, maybe we can reopen it and give it away as a bounty?

[2018-03-09 13:02] mandrigin commented on #278
(for some context, I just stumbled upon a TODO in https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/accounts/login/views.cljs#L30)

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status

[2018-03-09 15:32] mandrigin commented on #633
The mobile app: https://github.com/mandrigin/status-go-n-wrapper

<blockquote><img src="https://avatars1.githubusercontent.com/u/466427?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/mandrigin/status-go-n-wrapper">mandrigin/status-go-n-wrapper</a></strong></div><div>status-go-n-wrapper

[2018-03-09 15:39] mandrigin opened #726 "Create a native wrapper for Android to measure energy consumption"
# Problem

Make a native wrapper to measure energy efficiency on an Android device.

# Implementation

The same functionality as https://github.com/mandrigin/status-go-n-wrapper/tree/master/ios/status-go-tester

1. Use status-go bindings
2. Create an account (or restore it if was created before)
3. Login
4. Create a filter to listen to `#humans-need-not-apply` channel on the Ropsten network.
5. Di

[2018-03-12 13:21] adambabik commented on #278
I am not sure we should tackle it now. I would even strengthen this statement that any work related to bindings is not a priority now. We should migrate to gomobile and design all bindings from scratch with required improvements like error codes.

[2018-03-12 20:37] yenda opened #728 "Events when mailserver disconnects or number of peers drops"
# Problem

Currently status-react has to rely on polling the `admin_peers` method to fetch the list of peers and check if the mailserver was disconnected or the number of peers dropped to 0.

A better solution would be for status-go to send a signal to the app or allow the app to register a callback function for these events.

# Implementation

There is already a few signals that are handled by st

[2018-03-12 21:02] yenda opened #729 "Key persistence"
# Problem

Currently symetric keys are not persisted on status-go side

# Scenarios

- restarting a node and login to the same account should restore previously existed symmetric keys

# Implementation

TBD.

# Acceptance Criteria

User can reuse a symKey with the symKeyID accross sessions

[2018-03-12 21:06] dshulyak commented on #728
Do you need this if https://github.com/status-im/status-go/pull/700 will be merged and peers will be handled in status-go?
I am bothering with that PR because I am reworking handling mail servers at the moment, also https://github.com/status-im/ideas/issues/92 will affect the way we manage mail servers and other peers.

[2018-03-12 21:11] yenda commented on #728
@dshulyak yes it is not meant to be used for managing peers but to indicate to user if something went wrong

[2018-03-13 05:53] feuGeneA commented on #729
From Slack:

But the thing is, we don't currently store the account whisper private key anywhere.  Rather, we re-create it (seeded by the geth account private key) each time the geth account is selected for use.

A clear/straightforward solution to persisting symkeys from status-go isn't self-evident.

The only current persistence I can see is the geth account keystore, and that doesn't seem to le

[2018-03-13 09:39] pedropombeiro commented on #728
@yenda maybe if #700 is merged it is more a question of changing to a more descriptive name for the signal, such as `mailserver.unavailable`?

[2018-03-13 10:36] JekaMas commented on #729
Could we expend `accounts/keystore/key.go` key type to store symmetric keys either?

[2018-03-13 19:18] feuGeneA commented on #729
@JekaMas I was hoping to avoid a modification to go-ethereum, but I am open to that, if it is indeed necessary for us to persist keys from `status-go`.

It looks like we could add more data to the `Key struct` in `accounts/keystore/key.go`, just like we added additional data for the child/sub-accounts in our [0000-accounts-hd-keys.patch](https://github.com/status-im/status-go/blob/develop/_assets/

[2018-03-14 10:10] mandrigin opened #732 "Create status-go API to return a current revision"
# Problem

As a developer, I want to see the revision of status-go in Status. Currently, the UI part has no way to retrieve it.

# Implementation

See `statusd -version` command implementation

# Acceptance Criteria

* The API is added that returns the current revision as string.
* The API is exported when building via xgo

[2018-03-14 11:05] pedropombeiro commented on #343
Thanks for the insight @ChrisSalisbury!

@oskarth we should at least be restricting the API tokens based on app identity and/or fingerprint, and making use of API restrictions (so that someone in possession of a token isn't allowed to use any random Google API but only Google Cloud Messaging).

![image](https://user-images.githubusercontent.com/138074/37398642-72b47ca8-277f-11e8-970c-2b79023deff6.

[2018-03-14 11:16] status-open-bounty commented on #732
Balance: 0.000000 ETH
Tokens: SNT: 400.00
Contract address: [0x861c56fa0a55833d437596f3b55f0416509211fe](https://etherscan.io/address/0x861c56fa0a55833d437596f3b55f0416509211fe)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-14 11:18] dshulyak commented on #728
This issue should be resolved only when 700 PR is merged or when we will rework the way we connect with peers, as a part of https://github.com/status-im/ideas/issues/92 . The reason for it is that any solution that can be done at the moment will conflict with mentioned changes and will address this issue only partially (we can't distinguish mail server peers from regular whisper peers in status-go

[2018-03-14 13:55] mandrigin opened #734 "Create an API method to notify status-go when app goes to background/restores from it"
# Problem

We can't use energy-efficient networking when our app is in the foreground because we want messages to be sent/delivered as soon as possible. If we get a notification that the app went to the background state, we can decrease the network frequency or even pause the node (this is outscoped).

The scope of this issue is to implement a method that notifies about the app state changes, expo

[2018-03-15 06:36] status-open-bounty commented on #694
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb2e33b0e96f09d69dc21fe7c86630346c2bd40d519d7a01cbacf0a4cd5dc5b9c](https://etherscan.io/tx/0xb2e33b0e96f09d69dc21fe7c86630346c2bd40d519d7a01cbacf0a4cd5dc5b9c)

[2018-03-15 06:36] andytudhope commented on #694
@alexkohler are you still working on this? Have put up a bounty for you 😉

[2018-03-15 11:07] alexkohler commented on #694
@andytudhope how nice! 😉 I have a branch in early stages but i’m currently working on another issue - if anyone else wants to pick this up before I get time to fix that branch up feel free!👍

[2018-03-15 11:10] themue commented on #708
@dshulyak You meant #700 is covering the last topic, but sadly it is blocked. So how can I extract this according part optimally or are there too many dependencies?

[2018-03-15 12:24] dshulyak commented on #708
that change is not really dependent on #700 PR, just several lines

1st is to assign our "bootnodes" to p2p static nodes https://github.com/dshulyak/status-go/blob/b407990303906357416a9aa6d506ebc092a919ff/geth/node/node.go#L120

and then remove https://github.com/status-im/status-go/blob/develop/geth/node/manager.go#L101-L106

[2018-03-15 15:36] #699 closed, assigned to themue

[2018-03-16 14:12] yenda commented on #728
Is there a signal already for all peers disconnected ? Is it distinguishable from offline node ?

[2018-03-19 10:50] dshulyak opened #740 "Ethereum logger should discard messages earlier if level of handler is lower than message level"
# Problem

Ethereum logger always calls time.Now and gets a stack trace even if the message will be discarded later. It especially hurts if we will use discovery module, that module has a ton of log.Trace calls, which in idle state is about ~25% of cpu time used by a statusd process.

# Implementation

The problem is in this method https://github.com/ethereum/go-ethereum/blob/master/log/logger.go#

[2018-03-19 11:32] adriacidre opened #741 "Decouple account and node packages"
# Problem

There is a strange dependency cycle between `geth/accounts` and `geth/node` packages

Accounts dependency diagram
![account_develop](https://user-images.githubusercontent.com/593270/37590784-a6ef9b2c-2b69-11e8-98a0-71b8d9f66751.png)

Node dependency diagram
![node_develop](https://user-images.githubusercontent.com/593270/37590814-b7c177b8-2b69-11e8-9857-0d22c0886ffa.png)

# Implementati

[2018-03-19 16:21] themue opened #743 "Drop boot prefix"
Rename all names with `Boot` prefix like `BootClusterConfig` to `ClusterClonfig`.

[2018-03-19 16:22] #708 closed, assigned to themue

[2018-03-19 17:06] #640 closed, assigned to feuGeneA

[2018-03-19 17:17] annadanchenko commented on #308
Closed initial status-im/status-react#1144 as can't reproduce.

[2018-03-19 17:17] #308 closed

[2018-03-20 14:05] #743 closed, assigned to themue

[2018-03-20 18:35] #717 closed, assigned to nobody

[2018-03-21 07:37] divan opened #746 "Switch to Go 1.10"
# Description

Go 1.10 has been released one month ago and it's a good moment to start using it.
https://golang.org/doc/go1.10

# Implementation

 - Update Ci configs, Dockerfiles and other build pipeline configs (if any) to use 1.10 Go version
 - Run all the tests to make sure there is no surprise

# Acceptance Criteria

 - TravisCI, Jenkins, Dockerfiles are updated to use the Go 1.10
 - Tests ar

[2018-03-21 08:07] JekaMas commented on #729
@feuGeneA I've talked with @mandrigin about the persistence of keys. At the moment we don't need to think about restoring account data. So we can use any solution we want.

If you want to use hd accounts, you should talk with @pilu. He's working on https://github.com/status-im/ideas/issues/94 and doing an investigation about using hd keys. We can make a call this week.

[2018-03-21 13:30] gravityblast opened #750 "statusd doesn't log to stdout"
# Problem

If I run `./build/bin/statusd -log=TRACE ...` I expect to see a lot of logs, but after merging #727 I can't see any log in the terminal.

# Implementation

It looks like the log level and log file are not set anywhere anymore. And not even an handler like we were doing before that PR:

https://github.com/status-im/status-go/blob/dc4a0a98ed30507a96ab7404fd9979f640552c65/geth/log/log.go#L

[2018-03-22 08:24] mandrigin commented on #686
That was done in https://github.com/mandrigin/status-go-bots

[2018-03-22 08:24] #686 closed, assigned to mandrigin

[2018-03-22 09:30] pedropombeiro commented on #710
In TeamCity this is easy to implement. You can tell it to watch a build metric and fail the build if that metric increases. I was using that to watch for the number of build warnings (it would fail if a new warning appeared). The best thing about that system is that it allows the metric to go down, but then the new number becomes the new limit, and you don't need to manage it.

[2018-03-22 09:34] mandrigin commented on #710
@PombeirP exactly!
I guess we can do that in Jenkins as well, but that requires access to our internal resources.
If we want to have it as a bounty we need a platform-independent solution.
If anyone from the core team is interested in taking over this issue, we can remove the bounty tag from it.

[2018-03-22 09:37] pedropombeiro commented on #710
I wouldn't mind taking this on. I'm getting sick of hearing myself say "it's easy with TeamCity, not sure about Jenkins", so might as well take advantage of something like this to get my hands dirty with Jenkins.

[2018-03-22 09:46] mandrigin commented on #217
We are investigating it as a part of https://github.com/status-im/ideas/issues/84
So closing this issue.

[2018-03-22 09:46] #217 closed

[2018-03-22 09:47] mandrigin commented on #249
replaced with https://github.com/status-im/ideas/issues/86

[2018-03-22 09:47] #249 closed

[2018-03-22 09:54] flexsurfer opened #752 "It's impossible to deploy contract from DAPP"
# Problem

It's impossible to deploy contract from DAPP

status-go sends transactions signal with next fields
[code]
 but we expect on status-react side `{... "data": "0x6060.." ...}`

https://status-im.slack.com/archives/C80EZUFLH/p1521709275000259
# Implementation

it should be `data` instead `input`

# Acceptance Criteria

It's possible to deploy contract from DAPP

[2018-03-22 09:55] mandrigin commented on #575
Closing as we don't use WhisperV5.
Feel free to reopen if you disagree.

[2018-03-22 09:55] #575 closed, assigned to nobody

[2018-03-22 10:00] mandrigin commented on #502
closing as it isn't related to status-go

[2018-03-22 10:00] #502 closed, assigned to nobody

[2018-03-22 10:05] mandrigin commented on #453
looks like a duplicate of https://github.com/status-im/status-go/issues/710, hence, closing
feel free to reopen if you disagree

[2018-03-22 10:05] #453 closed, assigned to b00ris

[2018-03-22 10:12] mandrigin commented on #752
@flexsurfer I can take a look at it today.

[2018-03-22 10:23] themue commented on #491
See also https://rakyll.org/pprof-ui/.

<blockquote><img src="/favicon.png" width="48" align="right"><div><strong><a href="https://rakyll.org/pprof-ui/">pprof user interface · Go, the unwritten parts</a></strong></div></blockquote>

[2018-03-22 13:55] status-open-bounty commented on #740
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x26c11550cd149d8e4bd72091b6aae5d7e0488a60f1ace5a1af7bfa83e986b816](https://etherscan.io/tx/0x26c11550cd149d8e4bd72091b6aae5d7e0488a60f1ace5a1af7bfa83e986b816)

[2018-03-23 08:54] adriacidre opened #755 "Restructure common.Notifier interfaces"
# Problem

Notifier [related interfaces](https://github.com/status-im/status-go/blob/develop/geth/common/notification.go) are located on common package, but they're used by `geth/notifications/push/fcm`. Additionally all [its generated Mocks](https://github.com/status-im/status-go/blob/develop/geth/common/notification_mock.go) are not being used.

# Implementation

- [ ] move common.Notifier inter

[2018-03-23 10:29] #755 closed, assigned to nobody

[2018-03-23 10:42] adriacidre opened #757 "Split t/e2e/accounts/ to not test whisper related logic"
# Problem

Since [this changes](https://github.com/status-im/status-go/pull/753), whisper logic doesn't live anymore on `account` package, so it doesn't make sense to have tests checking whisper identities on `t/e2e/accounts/`.

# Implementation

We have to split `t/e2e/accounts/` tests by moving logic testing whisper, to it's own package `t/e2e/whisper/`. ATM `t/e2e/whisper/whisper_test.go` doesn

[2018-03-23 10:43] adriacidre commented on #757
Blocked by https://github.com/status-im/status-go/pull/753

[2018-03-23 12:24] mandrigin commented on #752
@flexsurfer can you, please, test with status-go from `fix/752-deploy-contract` and verify that it fixes your issue?

[2018-03-23 13:16] #741 closed, assigned to adriacidre

[2018-03-23 13:25] adambabik opened #759 "Configure CodeClimate with a configuration file"
# Problem

Our current CodeClimate integration is far from being useful. It's too strict for the current code base and it does not have a configuration file that can be easily adjusted.

# Implementation

Explore a possibility to configure CodeClimate with a configuration file as described [here](https://docs.codeclimate.com/docs/advanced-configuration).

# Acceptance Criteria

1. There is a confi

[2018-03-23 13:26] #750 closed, assigned to nobody

[2018-03-23 13:30] adambabik commented on #729
Can we add some more scenarios to the description? I don't quite get what we mean by `across sessions`. E.g. restarting a node should keep the symmetric keys in Whisper? Logout and login to the same account should restore previously existed symmetric keys?

[2018-03-23 13:58] #491 closed, assigned to nobody

[2018-03-23 13:58] status-open-bounty commented on #759
Balance: 0.000000 ETH
Tokens: SNT: 550.00
Contract address: [0xdfb2f9e63c0151102d869f30955e0c78c0edc69d](https://etherscan.io/address/0xdfb2f9e63c0151102d869f30955e0c78c0edc69d)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-23 14:26] gravityblast commented on #759
we can also check this as starting point given that it's used in one of the golang core repos:

https://github.com/golang/dep/blob/master/.codeclimate.yml

<blockquote><img src="https://avatars3.githubusercontent.com/u/4314092?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/golang/dep">g

[2018-03-23 17:06] pedropombeiro opened #761 "Improve command line option structure"
# Problem

The current `statusd` options list is a bit disorganized, and it will only get worse in the future if we don't take steps to improve the usability. One idea is to group options into logical areas, such as (not definitive or even extensive, we're open to suggestions):
- Node options
- Protocols (LES/SHH/Swarm)
- SHH options
- Metrics/profiling/stats
- Debugging

The standard `flag` packa

[2018-03-23 19:29] dshulyak commented on #761
you mean such grouping?

[code]

[2018-03-26 09:40] status-open-bounty commented on #761
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x754560f45b750f8405ab940b55886e569f3a3104a339c489e5f47aec27a2e9d8](https://etherscan.io/tx/0x754560f45b750f8405ab940b55886e569f3a3104a339c489e5f47aec27a2e9d8)

[2018-03-26 09:55] pedropombeiro commented on #761
@dshulyak Exactly. I know we can achieve the same by e.g. changing the call to `flag.PrintDefaults()` so it might not seem like a sufficient reason to switch libraries, but at the same time, it also depends on which approach will result in the cleanest code and how extensible it will end up being for the future.

[2018-03-26 11:10] PombeirP commented on #614
@dshulyak the link above is broken: https://github.com/status-im/status-go/blob/develop/docker/wnode-test-cluster/docker-compose.yml#L15

[2018-03-26 12:05] dshulyak opened #765 "All configuration that is required by tests should be read without go-bindata"
# Problem

In the current codebase if you want to use different keys (or any other configuration) for tests it is required to place them at a certain path in static folder, bundle them with go-bindata and only then run tests.
This is simply unnecessary and I consider this workflow as a chore.

# Implementation

Instead, we can simply read those keys from files.
Implementation should use simple uti

[2018-03-26 13:13] pedropombeiro commented on #761
Closing as duplicate of an updated https://github.com/status-im/status-go/issues/614

[2018-03-26 13:13] #761 closed, assigned to nobody

[2018-03-26 13:19] dshulyak commented on #634
It was implemented

[2018-03-26 13:19] #634 closed, assigned to nobody

[2018-03-26 13:22] dshulyak commented on #449
@themue @mandrigin is this issue still relevant or it is superseded by a work you are doing for 83-energy swarm?

[2018-03-26 13:24] dshulyak commented on #439
I will close this issue cause geth version moved to far

[2018-03-26 13:24] #439 closed

[2018-03-26 13:32] themue commented on #449
It has more or less ended. Has been an idea that never got into larger usage. But can always be continued on demand as the base is implemented and can be extended by new commands in individual PRs.

[2018-03-26 13:39] dshulyak commented on #608
do we depend on it in any way? looks like that we don't use ethereum containers

i will close it, but feel free to re-open if you feel strongly that we need it.
also even if it is good thing by itself - this is status-go repository :)

[2018-03-26 13:39] #608 closed, assigned to nobody

[2018-03-26 13:42] dshulyak commented on #597
I don't feel that we need to have it open, there are bunch of swarms that can be used for such discussion.

Feel free to re-open if needed

[2018-03-26 13:42] #597 closed, assigned to nobody

[2018-03-26 15:12] JekaMas opened #766 "Allow messages without subscription"
# Problem

At the moment WhisperV6 doesn't allow post messages into topics without a subscription. This leads unnecessary complexity on the frontend side.

# Implementation

WhisperV6 patch that allows a user to send own messages without the topic subscription.

[2018-03-27 06:45] pedropombeiro opened #768 "Remove deprecated Parse method in library.go"
# Problem

Once https://github.com/status-im/status-react/issues/3689 is closed, this method will no longer be used, so should be removed from the codebase.

[2018-03-27 07:33] status-open-bounty commented on #765
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa88446f4af8af0e1e2369f4fc81061ce2691a0e6eb663eedc2c7f3a482400d03](https://etherscan.io/tx/0xa88446f4af8af0e1e2369f4fc81061ce2691a0e6eb663eedc2c7f3a482400d03)

[2018-03-27 08:18] pedropombeiro opened #770 "Create nightly Jenkins build to run make race-check"
# Problem

We need to have a sense of when race conditions are introduced. For this, we can leverage the new [makefile target `race-check`](https://github.com/status-im/status-go/issues/710) to run a nightly build on Jenkins.

[2018-03-27 10:15] themue opened #771 "Add Mainnet testing"
# Problem

Currently Status isn't tested on Mainnet with upstream, only on Rinkeby. Tests to verify that Status works on Mainnet have to be added.

# Acceptance Criteria

- [ ] Tests for verifying work on Mainnet have been added
- [ ] Mainnet tests verify correct working of Status on Mainnet

[2018-03-27 10:58] adriacidre opened #772 "Transaction manager cleanup"
# Problem

TxQueueManager has a dependency on `Accounter` interface and `NodeManager`

# Acceptance Criteria

- [x] "TxQueueManager" does not depend on `Accounter` interface
- [x] "TxQueueManager" does not depend on nodeManager
- [x] "Accounter" interface is removed
- [x] "Accounter" mocks are removed

# Future Steps

- Remove common.NodeManager interface and its mocks
- Move to transactions speci

[2018-03-27 12:38] #710 closed, assigned to pedropombeiro

[2018-03-27 13:27] themue commented on #771
To be covered:

- [ ] E2E tests so far contain hard coded references to `params.RinkebyNetworkID`
- [x] Utility functions for tests don't cover Mainnet or even reject it by design
- [x] Some constants (returned by utility functions) are missing
- [x] Older comments are misleading (e.g. mention Ropsten where network is configurable)

[2018-03-27 14:29] pedropombeiro opened #777 "Fix e2e tests' race conditions"
# Problem

E2E tests are now run nightly with the `-race` flag. The build is [currently failing](https://jenkins.status.im/job/status-go/job/race-check/15/console).

[code]

# Implementation

We need to go over the failing tests and fix the root cause for the race condition.

# Acceptance Criteria

`make race-check` passes.

[2018-03-27 14:30] pedropombeiro commented on #770
Created https://jenkins.status.im/job/status-go/job/race-check. It will send a Slack message to #core if the build fails.

[2018-03-27 14:30] #770 closed, assigned to pedropombeiro

[2018-03-27 14:47] status-open-bounty commented on #777
Balance: 0.000000 ETH
Tokens: SNT: 2200.00
Contract address: [0xf59a95def1f096d499df78f311e0b90ac019b15e](https://etherscan.io/address/0xf59a95def1f096d499df78f311e0b90ac019b15e)
Network: Mainnet
Paid to: adambabik
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 16:13] #766 closed, assigned to nobody

[2018-03-27 16:38] adriacidre opened #779 "common.Nodemanager removal"
# Problem

common.NodeManager is a huge interface used accross status-go codebase, even it represents `node.NodeManager` it doesn't make sense to use it, instead we should use smaller interfaces.

# Implementation

- [ ] Any reference common.NodeManager is adapted to use smaller interfaces
- [ ] common.NodeManager is removed
- [ ] Any references to common.MockNodeManager and common.MockNodeManager

[2018-03-28 08:24] #757 closed, assigned to adriacidre

[2018-03-28 09:06] #772 closed, assigned to adriacidre

[2018-03-28 10:27] adriacidre opened #781 "travis builds broken when pulling cover package"
# Problem

I've been seeing many broken builds because of a timeout trying to pull `golang.org/x/tools/cmd/cover`.

## Implementation
Visiting the [package page](https://github.com/golang/tools/tree/master/cmd/cover) we can see a comment like:
[code]
Directly pulling this package on travis should be avoided.

# Acceptance Criteria

- [ ] CI build passes without pulling cover package

# Notes

Trav

[2018-03-28 10:40] #781 closed, assigned to adriacidre

[2018-03-28 18:26] flexsurfer commented on #752
@mandrigin fixed

[2018-03-28 18:28] #752 closed, assigned to mandrigin

[2018-03-28 19:06] flexsurfer opened #784 "New contract handler is not called after contract deployment"
Problem

[code]

 Implementation

`function (e, contract){` should be called with `contract.address` after contract will be mined

# UPDATE
I found a workaround, how to get transaction receipt, but contract deployed wrong, there is no contractAddress

[2018-03-29 07:57] #779 closed, assigned to adriacidre

[2018-03-29 10:41] adriacidre opened #785 "Extract lib specific code from geth/common"
# Problem

There is so much code used exclusively on `/lib` which is located at `geth/common/`.

# Implementation

Move all `lib/` specific code to `lib/` folder

# Acceptance Criteria

As usual green CI, review....

[2018-03-29 14:10] #785 closed, assigned to adriacidre

[2018-03-29 14:14] adriacidre opened #787 "Remove geth/rpccall.go from common package"
# Problem

`geth/common/rpccall.go` should be part of `geth/rpc/` package

# Implementation

Move `geth/common/rpccall.go` to `geth/rpc/call.go`

# Acceptance Criteria

As usual green CI, review....

[2018-03-29 15:38] #787 closed, assigned to adriacidre

[2018-03-30 12:28] dshulyak opened #792 "Add a flag to enable logging in tests"
# Problem

Hard to troubleshoot tests without logging, especially asynchronous.

# Implementation

Add an option that will be parsed before test execution and configure logging based on that option.
Logger should print to stderr and verbosity must be configurable. The default should be info, probably.

# Acceptance Criteria

The logger can print during test execution.

[2018-04-02 09:50] dshulyak opened #793 "Remove evictionLoop from transactions/queue"
# Problem

This periodical check is unnecessary https://github.com/status-im/status-go/blob/develop/geth/transactions/queue/queue.go#L111-L112.
And also it adds a non-negligible amount of contention (~10% of blocking time is wasted in this ticker).

# Implementation

Transactions should be queued up to a certain limit (50 is enough). After that limit is reached - return an error to a user that pre

[2018-04-02 12:12] status-open-bounty commented on #765
Balance: 0 ETH
Tokens: SNT: 1100.00
Contract address: [0xd90612db2c3c419fb4e7fffa65a04a0f05790521](https://etherscan.io/address/0xd90612db2c3c419fb4e7fffa65a04a0f05790521)
Network: Mainnet
Paid to: kishansagathiya
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-02 13:43] flexsurfer opened #794 "add personal_sign method support"
# Problem

In order for many DApps to work, and to work securely in Status, we need to support personal_sign method

# Implementation
Support sending a request to the client-side (the same as we do with the transactions) to get the password. When the request is approved, some callback (similar to `CompleteTransaction`) should be called from the react side for that.

https://github.com/ethereum/go-

[2018-04-03 08:20] #564 closed, assigned to nobody

[2018-04-03 09:40] adriacidre opened #795 "geth/common package removal"
# Problem

`get/common` package contains everything. In this iteration, the goal is to remove it complete or at least move most of the functions to appropriate packages.

# Implementation

Move the last pieces of code on `geth/common` package to `geth/transactions` and to `t/utils` packages.

# Acceptance Criteria

Usual green CI, approved PR...

[2018-04-03 09:54] mandrigin commented on #784
yeah, I see that it is being called, but `contract.address` is `undefined`...

[2018-04-03 09:56] flexsurfer commented on #784
@mandrigin that's right it should be called twice , once without address and with transaction hash and once with address after contract is mined

[2018-04-03 10:17] mandrigin commented on #784
@flexsurfer gotcha! let me try debugging that...

[2018-04-03 17:43] flexsurfer commented on #784
@mandrigin looks like it's a known issue in web3 and we need to call `web3.eth.getTransactionReceipt(hashString [, callback])` in the loop

[2018-04-03 18:08] flexsurfer commented on #784
Workaround https://github.com/status-im/hackathon/blob/master/submissions/Dr.%20WeTrust/public/bot/bot.js#L581

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/hackathon">status-im/hackathon</a></strong></d

[2018-04-03 18:09] mandrigin commented on #784
closing because that is a known issue

[2018-04-04 08:22] mandrigin commented on #793
@dshulyak I'd also note that it would be nice to have this limit to come from the caller side together with the node config.
So it is up to a caller (who has access to all the system information, etc) to figure out this limit.
We can have a default of 50 though.

[2018-04-04 10:08] adriacidre opened #797 "Simplify node.Manager"
# Problem

NodeManager does not manage multiple nodes, change its name to something more appropriate.
Rename methods indicating there is only support for one node: StartNode -> Start, StopNode -> Stop etc.

# Implementation

#### Interface proposal
[code]

#### Other methods

- `LightEthereumService() (*les.LightEthereum, error)`
	Used   		: For syncing on `node.Manager.EnsureSync` ( which is expo

[2018-04-04 11:07] themue commented on #797
Interface proposal looks good so far. Could you describe handling of `LightEthereumService()` a bit more? Where (package) do you want to merge it? IMHO it's also supported to keep symmetry with `WhisperService()`.

[2018-04-04 11:11] gravityblast commented on #797
one simple thing following https://golang.org/doc/effective_go.html#Getters, I would use `Node()` instead of `GetNode()`

<blockquote><div><strong><a href="https://golang.org/doc/effective_go.html#Getters">Effective Go - The Go Programming Language</a></strong></div></blockquote>

[2018-04-04 11:15] adriacidre commented on #797
@themue Yep, `LightEthereumService` is only used on blockchain synchronization happening on [node.ensureSync](https://github.com/status-im/status-go/blob/develop/geth/node/manager.go#L391) and [t/utils/utils.go](https://github.com/status-im/status-go/blob/develop/t/utils/utils.go).

The code on both places look really similar, I think I'll be able to merge both inside `node.Manager::Sync` method,

[2018-04-04 11:17] adriacidre commented on #797
@pilu is `GethNode` not `GetNode` :) It will be returning the underlying `geth.Node`, is kinda confusing at the moment as you have `node.Node` and `geth.Node`

[2018-04-04 11:19] gravityblast commented on #797
Sorry @adriacidre  fault!  I think I'm tired testing my changes :)

[2018-04-04 12:41] flexsurfer commented on #784
workaround doesn't work https://ethereum.stackexchange.com/a/32117

<blockquote><img src="https://cdn.sstatic.net/Sites/ethereum/img/apple-touch-icon@2.png?v=fcf6615497f4" width="48" align="right"><div><strong><a href="https://ethereum.stackexchange.com/questions/12051/transaction-receipt-has-contractaddress-as-null/32117">Transaction receipt has contractAddress as null</a></strong></div><div>I se

[2018-04-04 12:46] flexsurfer commented on #784
[code]

**:contractAddress is  null**

[2018-04-04 17:39] #795 closed, assigned to adriacidre

[2018-04-07 13:27] flexsurfer commented on #784
https://ropsten.etherscan.io/tx/0xf03f47f60cdf49744aa5ba60de5914f243830ec18c1bb8d8b448d1035395ec41

as you can see contract deployed wrong `To:` should be contract address but it's 0x0000000000000000000000000000000000000000

i checked in metamask and it deployed correct https://ropsten.etherscan.io/tx/0xaa62941d44fb76df033ddd7f276437a9c96a23251c748f28f427fd716e99b833

[2018-04-09 08:02] adambabik commented on #732
@mandrigin by revision you mean a git commit it was built from?

[2018-04-09 08:31] mandrigin commented on #732
@adambabik yep

[2018-04-09 09:57] rasom opened #810 "Notify clj side when the message actually "left" local node."
# Problem

Currently, when we send message via `ssh.post` in Status app we rely on return value of this method for changing message's status from `sending` to `sent`. In fact this method return `true` when message is successfully passed to local node which doesn't mean that message has left the node.

# Implementation

We need to implement separate method (as third parties will rely on official AP

[2018-04-09 11:15] adambabik commented on #732
@mandrigin one more thing, do you need it to be a binding or `web3_clientVersion` comamnd result is enough?

[2018-04-09 12:46] mandrigin commented on #732
@adambabik if we make `web3_clientVersion` similar to how browsers' user agent strings are made then we can keep it.

[2018-04-09 12:53] dshulyak opened #812 "Add real-world transactions tests that are using simulated backend"
# Problem

Recently, lots of issues were discovered with the way we are handling transactions.
Partly, it happened because we don't have tests that are confirming that funds are transferred, the contract is created or required state transition happened. We are only checking that transaction was sent to the network.

# Implementation

Our tests should wait till the state will be committed on the ch

[2018-04-09 13:16] adambabik commented on #732
So, I have this output now:
[code]

which would be a string `StatusIM/v0.9.9-unstable/darwin-amd64/go1.10.1` when calling it directly in Go. Is it enough if we just add a git SHA like this: `StatusIM/v0.9.9-$GIT_SHA/darwin-amd64/go1.10.1`?

[2018-04-09 13:23] dshulyak commented on #793
I will close it cause it was removed in https://github.com/status-im/status-go/pull/805

[2018-04-09 13:23] #793 closed, assigned to nobody

[2018-04-09 13:24] dshulyak commented on #784
forgot to close it with https://github.com/status-im/status-go/pull/807

[2018-04-09 13:24] #784 closed, assigned to mandrigin

[2018-04-09 14:22] mandrigin commented on #732
that would work for me and for the QA team, I think

[2018-04-09 17:44] mandrigin commented on #812
@dshulyak can you remove "contact creation" from this list since you already added it?

[2018-04-09 17:46] dshulyak commented on #812
@mandrigin ok, i just added it for "completeness"

[2018-04-10 10:36] #732 closed, assigned to nobody

[2018-04-10 11:29] #797 closed, assigned to adriacidre

[2018-04-10 15:03] adriacidre opened #817 "make lint not running `megacheck` linter inside travis"
# Problem

`gometalinter` is not running `megacheck` linter inside travis.

By running `make lint` locally you can force `megacheck` to break lint command,
[code]
however, when you run the same command inside travis the result is:
[code]

# Implementation

gometalinter is being installed on [Makefile](https://github.com/status-im/status-go/blob/develop/Makefile#L149) and it's being called from [.t

[2018-04-10 16:42] adambabik commented on #817
In `.gometalinter.json`, `megacheck` is enabled so it should be run in Travis. Why do you think it is not?

[2018-04-10 17:33] adriacidre commented on #817
Forced [a build](https://travis-ci.org/status-im/status-go/jobs/364639468#L526) with an `unused` method on it [like this](https://github.com/status-im/status-go/commit/e29ca3bba4e641b3fd85dbd79bb26a2aa6e71549#diff-29fcb2ce584c110efe9121cf82ec3ea4L43):
[code]

and as it results on:
[code]

whille on a local environment
[code]

[2018-04-10 18:04] adambabik commented on #817
Hm, that's pretty interesting. I wonder if we force `lint` target to run `gometalinter` like this: `gometalinter --config=.gometalinter.json ./...` and get the same results.

[2018-04-10 18:17] adriacidre commented on #817
Yep, already tried, I can find the build if needed

[2018-04-11 08:26] adambabik commented on #734
@mandrigin is it still in progress?

[2018-04-11 08:53] adambabik commented on #705
@PombeirP is it still relevant?

[2018-04-11 08:55] mandrigin commented on #734
@adambabik nope, it is done and integrated and we use it in idea 83 already :)
closing the issue

[2018-04-11 08:55] #734 closed, assigned to mandrigin

[2018-04-11 08:58] pedropombeiro commented on #705
@adambabik I believe so. I think this is something we'll want to test once we migrate to geth 1.8.3, where this functionality becomes available.

[2018-04-11 09:08] adambabik commented on #403
This work is tracked in [a swarm](https://github.com/status-im/ideas/blob/master/ideas/63-refactor-geth-packages.md).

[2018-04-11 09:08] #403 closed

[2018-04-11 10:05] adriacidre opened #819 "status-go is not writing any logs on geth.log"
# Problem

status-go logs stopped being written to geth.log when running status-react from iOS and Android.

# Implementation

Some research is still needed

# Acceptance Criteria

Logs persisted to geth.log showing up in device filesystem.

# Notes

Even the file `sdcard/Downloads/geth.log` it's created after allowing status-app to have access to the device, no logs are written.

Params are passe

[2018-04-11 15:41] #810 closed, assigned to dshulyak

[2018-04-11 16:01] alexkohler commented on #817
I can't reproduce this: https://travis-ci.org/status-im/status-go/jobs/365191922 (I upped the gometalinter deadline on this branch, but that shouldn't make a difference I wouldn't think)

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/365191922">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>

[2018-04-11 16:58] adriacidre commented on #817
Hey @alexkohler,

So, on your build the error looks like is:
[code]
this is correct, and the is an error produced by [deadcode linter](https://github.com/tsenart/deadcode).

However, if you run the same `make lint` command on your local environment you'll see this `deadcode` error plus another one showing up from [megacheck linter](https://github.com/dominikh/go-tools/tree/master/cmd/megacheck):
[

[2018-04-11 17:04] alexkohler commented on #817
Ahhh, misunderstood the issue - thank you!

[2018-04-12 15:35] alexkohler commented on #817
@adriacidre This appears to be a memory issue:

https://travis-ci.org/status-im/status-go/jobs/365635928
[code]

https://docs.travis-ci.com/user/common-build-problems/#My-build-script-is-killed-without-any-error

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/365635928">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>
<blockquo

[2018-04-13 08:20] adriacidre commented on #817
Good finding @alexkohler, I saw [this suggestion](https://github.com/travis-ci/travis-ci/issues/4192#issuecomment-161800452), I guess we could try increasing the stack size for example:

[code]

[2018-04-13 11:36] alexkohler commented on #817
@adriacidre I'll give that a try :+1:

[2018-04-16 14:14] status-open-bounty commented on #812
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1770dfb920f63b2d5f2d2d95891ec8f22c510d7529cf6f1531b364c15a3134b6](https://etherscan.io/tx/0x1770dfb920f63b2d5f2d2d95891ec8f22c510d7529cf6f1531b364c15a3134b6)

[2018-04-17 06:36] mandrigin opened #834 "Limit exposed `personal_*` APIs"
# Problem

As a result of https://github.com/status-im/status-go/pull/822, when the les node starts, it exposes a full set of `personal_` APIs. Some of these might be potentially unsafe to expose.

We need to limit the set of APIs exposed by LES to just `personal_sign` and `personal_recover`.

# Acceptance Criteria

- The only APIs that are available in `personal_*` namespace are `personal_sign` a

[2018-04-17 09:18] #794 closed, assigned to mandrigin

[2018-04-17 09:23] status-open-bounty commented on #817
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x030ba2631176e7d0c930e4a2068c9d48a930f019](https://etherscan.io/address/0x030ba2631176e7d0c930e4a2068c9d48a930f019)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-17 09:26] flexsurfer opened #835 "Web3 Filters do not work"
Initial issue here , please take a look at the comments https://github.com/status-im/status-react/issues/2479

[2018-04-17 12:52] adambabik opened #836 "Deadlock in sign package tests"
# Problem

There is a race condition in `sign` package which can lead to a deadlock.

# Acceptance Criteria

1. Fix tests in `sign` package,
2. Make sure they run fine with `-race`.

# Notes

Captured traceback:
[code]

Quick analysis:

a buffered channel with size 1 and nothing reads from, a mutex was never released and resulted in a deadlock

[2018-04-18 08:12] #836 closed, assigned to mandrigin

[2018-04-18 12:56] gravityblast commented on #729
@yenda is this still an open issue? if it is, does the new protocol change something?

[2018-04-18 13:53] yenda commented on #729
@pilu yes it's still open, the new protocol persist keys in clojure side for now but this would be better

[2018-04-18 14:13] #819 closed, assigned to gravityblast

[2018-04-18 15:13] #771 closed, assigned to themue

[2018-04-18 16:22] #834 closed, assigned to mandrigin

[2018-04-19 05:32] dshulyak opened #842 "Remove any mention of DevMode in status-go codebase"
# Problem

It was used to separate networks based on a flag. It will become unused once this change is merged https://github.com/status-im/status-go/pull/830

# Implementation

Remove any mention of DevMode, but ensure that config parser will not fail if it is provided.

[2018-04-19 09:58] #817 closed, assigned to nobody

[2018-04-19 16:13] adambabik commented on #777
More insight into one group of failing tests.

Try to run `go test -timeout 5m ./t/e2e/api/... -network=StatusChain -race`. This will fail because of `func (s *APIBackendTestSuite) TestRaceConditions()` and the fact that `s.T().Logf` is used which is not concurrent safe. The good solution here is to get rid of `func (s *APIBackendTestSuite) TestRaceConditions()` cimpletely and move it to unit test

[2018-04-19 16:16] alexkohler commented on #759
@pilu One interesting thing about golang's configuration is that they do not appear to use any of the default checks (argument count, etc..) and rather appear to be using CodeClimate as a means to run golint, go vet, and gofmt, which are all already run by our `lint` make target

[2018-04-19 17:08] dshulyak opened #844 "Fix regressions in e2e tests caused by peer pool"
# Problem

==================
WARNING: DATA RACE
Read at 0x00c420094f78 by goroutine 52:
  github.com/status-im/status-go/geth/peers.(*TopicPool).handleFoundPeers()
      /Users/ds/status/src/github.com/status-im/status-go/geth/peers/topicpool.go:187 +0x57
  github.com/status-im/status-go/geth/peers.(*TopicPool).StartSearch.func2()
      /Users/ds/status/src/github.com/status-im/status-go/geth/pee

[2018-04-20 08:36] pedropombeiro opened #846 "EPIC: Implement Push Notification server infra and functionality"
# Problem

Currently, Push Notifications are sent directly from the sender phone to FCM. This approach presents a few problems:
- the FCM server key lives on the Status executable (actually it is currently [in the source code](https://github.com/status-im/status-go/blob/develop/geth/api/backend.go#L26), exposing us to easy quota theft).
- the lack of an intermediary presents some limitations, such

[2018-04-20 08:43] pedropombeiro opened #847 "Implement Push Notification server with support for Gorush"
# Problem

As part of https://github.com/status-im/status-go/issues/846, we need a program similar to `statusd` which will implement a "PN server mode", which will accept a `--pndispatcher <URL>` flag, where URL is the address of a configured [gorush gRPC endpoint](https://github.com/appleboy/gorush#run-grpc-service).

# Implementation

- [ ] Process flag in command line;
- [ ] Implement a class t

[2018-04-20 09:25] pedropombeiro opened #848 "Install Gorush instance in on-premise server using Ansible"
# Problem

We need a fully configured Gorush docker instance running in either Digital Ocean or Scaleway. The configuration should enable `grpc`, `android`, and add the correct `android/apikey`.

# Implementation

Find an available server instance, adapt the Ansible scripts in status-cluster and deploy gorush.

# Acceptance Criteria

The Gorush instance can be used to send notifications to a devic

[2018-04-20 09:26] #848 closed, assigned to nobody

[2018-04-20 13:20] adambabik opened #850 "Move Whisper request message method to shhext space"
# Problem

As `shh_requestMessages` is a non-standard method, it should not be a part of `shh` namespace but rather `shhext` that is already defined.

# Implementation

Move `shh_requestMessages` to `shhext_requestMessages`.

# Acceptance Criteria

1. The current tests work,
2. Offline messaging works.

[2018-04-20 16:30] dshulyak commented on #847
What are the pre-requisites for this PN server? Whisper node? Why it has to be built into statusd?

[2018-04-20 16:35] dshulyak commented on #846
I commented on another issue initially. But please, implement this server as a standalone app, no need to embed it into statusd, imo it is already a problem that status-go is used both for mobile devices and our nodes, and we should aim to split it, not overload single repository with lots of unrelated things.

[2018-04-20 16:47] pedropombeiro commented on #846
@dshulyak I agree, and don't worry, these issues are just placeholders for the upcoming work, the actual implementation details still need to be discussed.

[2018-04-22 06:47] JekaMas commented on #846
Maybe it makes sence to implement notification server as Ethereum sub-service (like Whisper and Swarm) in separate repo. It can be more transparent for the community.

[2018-04-22 16:43] adambabik opened #853 "Simplify Post() implementation in sshext"
# Problem

https://github.com/ethereum/go-ethereum/pull/16495 got merged recently and `shh_post` returns a hash of the envelope instead of boolean now.

# Implementation

Two possible solutions.

### Remove `shhext_post`

Remove `shhext_post` and patch the original `shh_post` with a tracker. This may require patching web3.js as well.

### Simplify `shhext_post`

Keep `shhext_post` but simplify its

[2018-04-22 16:50] #792 closed, assigned to nobody

[2018-04-23 09:18] adriacidre opened #856 "Get rid of `/geth` folder"
# Problem

A big part of the code is located on `/geth` folder. This doesn't make sense anymore and its sub-packages should be moved to `/`.

# Implementation

Move all `/geth` packages to `/`

# Acceptance Criteria

- Geth folder does not exist
- Pull request is accepted
- CI passes

# Notes

Try to use `git mv` so the git history on moved files is preserved.

[2018-04-23 09:53] dshulyak commented on #856
It seems that now is the right time to do this move. There is only a few pending PRs.
So I propose to make a git mv after I land update to geth 1.8.4 https://github.com/status-im/status-go/pull/854

[2018-04-23 10:14] dshulyak commented on #853
shh_post should be patched now instead of using our namespace (shhext) for post

[2018-04-23 10:21] adambabik commented on #853
What will be changed in the patch? Just addition of events?

[2018-04-23 13:25] dshulyak commented on #853
Also tracker will have to be added to original shh_post.

On Mon, Apr 23, 2018, 13:21 Adam Babik <notifications@github.com> wrote:

[2018-04-23 13:35] #777 closed, assigned to nobody

[2018-04-23 13:55] #759 closed, assigned to nobody

[2018-04-23 15:18] dshulyak commented on #853
didn't notice this part initially.
you are right that we can keep shhext_post instead of adding tracker to shh_post.

[2018-04-23 15:19] dshulyak commented on #853
Unblocking as 1.8.5 got released this morning 😄

[2018-04-24 10:55] lukaszfryc opened #860 "Wallet sync has not started when user switched from Ropsten with RPC to Ropsten / Mainnet"
# Problem

Wallet sync has not started when a user switched from Ropsten with RPC to Ropsten or Mainnet.

Additional info:
- `currentBlock` was 0
- `eth_syncing` false
- `eth_blockNumber` 0

# Acceptance Criteria

- Wallet is synced after switching network

[2018-04-24 11:17] dshulyak commented on #860
This is expected. There are no peers with light server in ropsten cluster
config. Also cht are a bit outdated, so better to try it again after
upgrade to 1.8.5

On Tue, Apr 24, 2018, 13:55 Lukasz Fryc <notifications@github.com> wrote:

[2018-04-24 14:11] themue commented on #850
Branch https://github.com/status-im/status-go/tree/issue-850/move-whisper-request

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">status-im/status-go</a></strong></div><div>status-go - The Statu

[2018-04-24 15:50] #853 closed, assigned to nobody

[2018-04-25 07:14] #728 closed, assigned to dshulyak

[2018-04-25 11:57] asemiankevich commented on #860
@dshulyak i have updated the issue, would you mind to health-check Mainnet too? it is not syncing as well

[2018-04-25 15:51] pedropombeiro commented on #238
@divan what should we do with this issue? It's been open for months now, should it be closed?

[2018-04-25 18:32] adambabik commented on #844
[code]

from `b37fda77316e7622a1eb4e964982a0a89b8227d0`.

[2018-04-26 05:03] dshulyak commented on #860
With mainnet there is the same problem as with ropsten. All peers that we have in our current config are providing only shh/6 capability.

[2018-04-26 05:22] dshulyak commented on #860
One interesting note is it could be that we run out of light servers connections in mainnet:

TRACE[04-26|08:20:08] Failed proto handshake                   id=71bb01b58165e326 addr=51.15.85.243:30303 conn=staticdial err="too many peers"
TRACE[04-26|08:20:08] Setting up connection failed             id=71bb01b58165e326 err="too many peers"

cc @adambabik

[2018-04-26 05:56] #850 closed, assigned to themue

[2018-04-26 17:59] #842 closed, assigned to themue

[2018-04-27 11:49] themue opened #873 "Fix E2E tests with leveldb"
# Problem

E2E tests irregularly fail with *leveldb error* locally as well as on Travis. Possibly race condition?

[code]

Especially on Travis costs time because blocking of merging.

# Acceptance Criteria

- [ ] Error fixed locally
- [ ] Error fixed on Travis

[2018-04-27 12:17] dshulyak commented on #873
This log is not causing *real* errors. It is printed in a separate goroutine which collects stats from ethdb. But for sure we need to understand why it fails at all.

[2018-04-27 12:21] themue commented on #873
Thanks for the hint. So it's something not beautiful but it doesn't break the tests. Good to know.

Mind you take a look at https://travis-ci.org/status-im/status-go/jobs/371071051 ? Here I had it quite often.

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/371071051">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>

[2018-04-30 11:38] themue commented on #873
`status-go` is vendoring LevelDB `b89cc31ef7977104127d34c1bd31ebd1a9db2199` which is retrieving a not maintained property `leveldb.writedelay` which is available with `34011bf325bce385408353a30b101fe5e923eb6e`.

Geth 1.8.5 is vendoring `169b1b37be738edb2813dab48c97a549bcf99bb5` which contains the fix.

[2018-04-30 18:02] divan opened #880 "Cross-compilation for iOS failed: "libproc.h not found""
# Problem

`make statusgo-ios` fails with missing C header for one of deps.

[code]

# Acceptance Criteria

iOS cross-compilation doesn't fail.

[2018-04-30 21:36] #873 closed, assigned to nobody

[2018-05-01 08:58] flexsurfer opened #881 "It should be possible to change gas and gas price for queued transactions"
# Problem

It's not possible to change gas and gas prise for queued transactions

[2018-05-01 08:58] pedropombeiro opened #882 "Write E2E tests for Push Notification registration flow"
# Problem

We need a way to test that the client and the PN server are able to successfully negotiate a registration. This will be helpful also during the development process, allowing for TDD.

# Implementation

Implement two nodes (client node and PN server node) and use APIs to have the client register with the PN server.

# Future Steps

Implement tests for notification requests between two cl

[2018-05-02 02:11] oskarth opened #884 "Extend requestMessages to accept proof of payment"
# Problem

We want mail server to be a paid resource. As part of an MVP for that, we want to extend mail server to accept or deny requests for messages depending on if peer has paid or not.

# Implementation

In the very first iteration we will simply take the user's word for it. In later iterations we will verify the transaction, as well that the transaction was made by that peer.

Adjust request

[2018-05-02 09:54] themue opened #888 "Check vendor dependencies"
# Problem

Package versions for `dep` may not match to the ones expected by other vendor libraries not using `dep`, e.g. `go-ethereum`.

# Implementation

- Check vendor libraries for usage of `dep``
- In case of other dependency management check required versions
- Check `Gopkg.toml` for matching versions or conflicts

# Future Steps

Should be done after each `dep ensure -add` or version changes

[2018-05-02 10:55] divan commented on #881
Could you provide more information? Why is this needed?

[2018-05-02 10:59] flexsurfer commented on #881
As a user, i want to be able to change gas and gas price for any tx ,so i can take control on it, and don't want to use default values

[2018-05-02 14:20] dshulyak opened #891 "e2e jail tests on public network are failing with timeout"
see https://travis-ci.org/status-im/status-go/jobs/373933131

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/373933131">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>

[2018-05-02 20:59] #880 closed, assigned to divan

[2018-05-03 09:59] flexsurfer opened #894 "arguments mixed up in personal_sign method"
# Problem

It's impossible to sign in into CK

[code]

data and account mixed up

[2018-05-03 13:00] dshulyak opened #895 "Topic pool reads server.Discv5 when node is being stopped"
https://travis-ci.org/status-im/status-go/jobs/373936566

[code]

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/373936566">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>

[2018-05-03 13:03] dshulyak commented on #768
Is it only about Parse method of status react is not using jail anymore? I saw some discussion but i may miss context

[2018-05-03 13:08] dshulyak commented on #881
@flexsurfer are you saying that it is not possible to overwrite default gas and gas price for transactions that are sent to status-go first time or for transactions that are already pending but not yet signed?

if it is the latter - maybe it is possible to remove old one and resubmit new with updated gas and gas price?

[2018-05-03 13:09] dshulyak commented on #726
@mandrigin was it already created and stored in another repo? maybe we can close this one?

[2018-05-03 13:10] dshulyak commented on #690
API is already available, all changes can be done on status-react side. I am closing this one, please open if there is a suggestion what we can do on mailserver/status-go side

[2018-05-03 13:10] #690 closed, assigned to nobody

[2018-05-03 13:12] flexsurfer commented on #881
yes latter, so if a user doesn't change tx we just sign it, if he wants to change we discard pending tx and create and sign a new one?

[2018-05-03 13:12] dshulyak commented on #639
Looks like should be closed long time ago

[2018-05-03 13:12] #639 closed, assigned to nobody

[2018-05-03 13:14] mandrigin commented on #726
@dshulyak yep, it is in the bok

[2018-05-03 13:14] dshulyak commented on #499
Looks like there is no plan to refactor it, cause the implementation behind PN's will be chnged

[2018-05-03 13:14] #499 closed, assigned to nobody

[2018-05-03 13:26] dshulyak commented on #881
sounds good to me, also before tx is signed we could notify the user that gas price changed and if he wants it we will use lower/higher price

the main point is that we probably can do it without additional binding for update

also, if gas or gas price is nil in args that are sent by status react - status-go will use defaults when a transaction is actually signed, but relying on that could be tric

[2018-05-03 13:26] #726 closed, assigned to nobody

[2018-05-03 13:30] yenda commented on #690
I am waiting for the mailserver logs because it seems that the mailserver is dropping the peer when using the  from field in requestMessage

[2018-05-03 13:34] dshulyak commented on #690
We always set defaults for from and to fields, now - 1 day and now

[2018-05-03 13:41] dshulyak commented on #690
https://github.com/status-im/status-go/blob/develop/services/shhext/api.go#L57-L59

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">status-im/status-go</a></strong></div><div>status-go - The Stat

[2018-05-03 13:47] pedropombeiro commented on #768
Hmm, it's been a while, I don't remember the status-react details anymore.

[2018-05-04 07:05] dshulyak commented on #881
@flexsurfer so wdyt? do we need a new binding for an update or it can be done with discard/create?

[2018-05-04 08:23] #687 closed, assigned to dshulyak

[2018-05-04 08:36] adriacidre opened #900 "undefined: MockWhisper"
# Problem

Running `make ci` on `develop` fails with`services/status/api_test.go:22:7: undefined: MockWhisper`

# Implementation

This is due a problem with `make mock` which is changing the stored `MockWhisper` to `MockWhisperService`. Update the code so `make mock` produces the expected mocks.

# Acceptance Criteria

Jenkins CI passes

[2018-05-04 10:06] adriacidre opened #906 "make mock not being called on travis builds"
# Problem

As noticed on https://github.com/status-im/status-go/pull/901 travis is not taking care of `make mock` before running status-go tests. This causes some builds to fail on Jenkins but not on Travis.

# Implementation

Adapt `.travis.yml` file to execute `make mock` before
- [ ] Lint & Vendor Check
- [ ] Test unit and integration
- [ ] stage: Test e2e on private network
- [ ] stage: Test e

[2018-05-04 13:17] flexsurfer commented on #881
@dshulyak let's try first with discard/create, if it will work fine, i'll close this issue

[2018-05-07 08:22] #900 closed, assigned to adriacidre

[2018-05-07 09:46] flexsurfer opened #912 "Whitelist of web3 methods"
# Problem

For example currently we allow dapps to use all `shh_` methods, but the use of some of those methods can be bad. For example dapps can set the min PoW with `web3.shh.setMinPoW(1)` and users no longer receive messages.

[2018-05-07 12:02] dshulyak commented on #891
https://travis-ci.org/status-im/status-go/jobs/375806808

<blockquote><div><strong><a href="https://travis-ci.org/status-im/status-go/jobs/375806808">Travis CI - Test and Deploy Your Code with Confidence</a></strong></div></blockquote>

[2018-05-07 13:23] mandrigin commented on #891
hmm, why only jail tests...

[2018-05-07 13:41] dshulyak commented on #891
i think that because they are first in list that are waiting for blockchain to sync

[2018-05-07 16:19] #906 closed, assigned to adriacidre

[2018-05-08 12:33] mandrigin commented on #860
@dshulyak so that is the cluster issue, right?

[2018-05-08 17:46] #835 closed, assigned to mandrigin

[2018-05-09 08:45] cammellos opened #918 "Use the same static nodes/bootnodes for ropsten & mainnet"
# Problem

At the moment whisper messages are (mostly) isolated by network id.

The whisper protocol does not guarantee any isolation, so it would be trivial for someone to publish messages/transaction from a different network and those being relayed to mainnet.

# Solution

After a discussion we have then decided to have relay whisper messages from different network and have a single whisper clus

[2018-05-09 10:02] dshulyak opened #919 "Prevent discovery from being stopped by timeout if peer registers a topic"
# Problem

If peer register a topic we need to keep discover running, previously stopOnMax value was used
to keep it running in similar cases.

If we stop discovery server - we also stop registering a peer with topic in the network, and after certain
period of time it cannot be found anymore.

# Implementation

Use same option or refactor it in a more clear way but stick to described behavior.

#

[2018-05-10 03:54] oskarth commented on #918
FYI @adambabik @jakubgs (probably discussed already but just to make sure)

[2018-05-10 04:22] oskarth opened #923 "Discovery V5 for all networks"
Decentralization, HA, recovery

Effort: High

Notes: We have it for Rinkeby now. Decide if we want to have a single Whisper cluster (secure requesting for ETH)

[2018-05-10 04:27] oskarth opened #924 "Better way to detect flaky peers"
Impact: Reliability

Effort: Medium

[2018-05-10 04:28] oskarth commented on #924
Unclear to me if https://github.com/status-im/status-go/pull/917 completely solves https://github.com/status-im/status-react/issues/4139, or if there's more work needed here. Capturing it in case.

cc @dshulyak

[2018-05-10 04:30] oskarth opened #925 "Add new in-app metrics"
Timeline: Basic metrics Before RC, the rest after
Impact: HA, reliability, uptime
Effort: Medium

# Problem

We need an efficient way to collect metrics. `go-ethereum` has a package `metrics` that collects various low-level data already ([more details](https://github.com/ethereum/go-ethereum/wiki/Metrics-and-Monitoring)).

We need a few more that should be added before RC in order to have an abili

[2018-05-10 04:30] oskarth commented on #925
@adambabik @dshulyak What would basic metrics look like? How would this be consumed/used?

[2018-05-10 04:31] oskarth opened #926 "Allow new bootnodes"
Timeline: After RC

Impact:  Decentralization, HA, recovery

Effort: Medium

In case hardcoded bootnodes are blocked or become unavailable

[2018-05-10 04:32] oskarth commented on #926
What's the relationship between this and https://github.com/status-im/status-cluster/issues/92? Does 92 require changes here? If so 92 will have to go after RC.

[2018-05-10 04:33] oskarth opened #927 "Jenkins job running status-scale tests"
Impact: HA, reliability

Effort: Medium

We need a Jenkins job that can run `status-scale` tests periodically (e.g. daily) so that we are confident that nothing got broken along the way.

Please take a look at https://github.com/status-im/status-scale/ for how to run these tests.

[2018-05-10 04:34] oskarth opened #928 "Extensive P2P tests"
*Timeline*: After RC
*Impact*: HA, reliability
*Effort*: High

The scenarios should be inspired by the real world. The general idea is to run a cluster of `statusd` nodes in an environment where we can alter the network condition. For example, slow down the network bandwidth, increase pings, drop packets, kill individual nodes, simulate half-open sockets etc.

[2018-05-10 06:35] adriacidre opened #930 "False positive on e2e tests"
# Problem

got a funny false-positive in the e2e test for `status` service
[code]
so [this assert](https://github.com/status-im/status-go/blob/develop/t/e2e/services/status_api_test.go#L182) is checking `error` word does not appear on the response, however, if as part of the mnemonic list of words you get the `error`word, test won't be passing even it should.

# Implementation

Just implement a st

[2018-05-10 09:32] adambabik opened #932 "Missing Max Child Key Derivation Sanity Check"
# Problem

During the creation of an extended child key, the Child function in `status-go/extkeys/hdkey.go` does
not perform a sanity check on the depth of the child key being generated.

# Implementation

Make sure that the depth of the child key is limited.

# Acceptance Criteria

1. There is a new unit test which validates that the method is resistant to surpassing the max depth.

# Notes

As t

[2018-05-10 09:33] gravityblast opened #933 "Wrong default for upper bound value in RequestHistoricMessages call"
If `status-react` calls `shhext_requestMessages` setting the `From` field without setting the `To` one, the query on `leveldb` is performed with the wrong range.

If both `From` and `To` are empty, the range is created in the right way (`24_hours_ago..now`).

If only the `To` is missing, the range is: `0..now`

## Implementation

Set the value of `To` to `time.Now()` by default even if `From` is s

[2018-05-10 10:12] adambabik commented on #925
1. The number of peers. Each server node should report of `maxPeers` and currently connected peers so that we know the cluster max and free capacity,
2. The number of incoming Whisper messages for spam detection and product usage metrics,
3. Size of the bootnode Discovery table + peer liveness in that table (or something smarter to monitor the health of the bootnodes).

[2018-05-10 11:45] #895 closed, assigned to nobody

[2018-05-10 12:23] adriacidre opened #935 "Add gas and gas price to ApproveSignRequest"
# Problem

ATM status-go bindings does not provide an easy way to change the gas and gas price of a created but not signed transaction.

Even this could be achieved by removing a transaction and creating a new one, status-react does not seem to have all required information to "clone" an existing transaction

# Implementation

There are some cases where the current transaction workflow needs to be

[2018-05-10 12:28] adriacidre commented on #935
Related with : https://github.com/status-im/status-go/issues/881

[2018-05-10 13:03] adambabik opened #936 "Move mail server implementation to status-go repo"
# Problem

The current implementation of the mail server is in go-ethereum repo which does not give us any control over it (except for making patches).

# Implementation

Move the implementation of the mail server to status-go repo.

# Acceptance Criteria

1. Mail server implementation belongs to status-go repo,
2. `statusd` uses it to register the mail server capability.

# Notes

We will introdu

[2018-05-10 13:11] adambabik opened #937 "Fix mail server vulnerabilities"
# Problem

1. No restriction on the volume of stored messages,
1. ~~Return at most N messages per request~~ Accept only 24-hour time range in the request ([more info](https://github.com/status-im/status-go/issues/937#issuecomment-388287319)),
1. No rate limiting,
1. Better validation of params. E.g. is it allowed to `To` be lower than `From`?

# Implementation

This issue is blocked by https://git

[2018-05-10 13:18] #930 closed, assigned to adriacidre

[2018-05-10 14:47] #933 closed, assigned to gravityblast

[2018-05-11 04:19] oskarth commented on #937
@adambabik if we tweak mailserver implementation but keep interface compatible, can we guarantee the enode stays the same? Not clear on how this is generated. I.e. we can do some of this work in the _during_ phase.

[2018-05-11 04:19] oskarth commented on #936
Is this critical for beta or is this more of a clean up task we can do later?

[2018-05-11 07:42] adambabik commented on #937
@oskarth from these four problems, only (2) may require some changes in the client. Moreover, I am not sure if it will be possible to resolve this as the whole flow is async and not a typical request-response. What happens now is that method `shhext_requestMessages` is called, then an RLP-encoded message (`p2pRequestCode`) is sent and here the flow ends. MailServer receives the RLP-encoded message

[2018-05-11 08:58] adambabik commented on #925
Note: it's important that these metrics are easily collected. It's better to use pull model where each individual node has no idea about where to send metrics but exposes them through a port.

Ethereum code exposes some metrics in its format. We also have some metrics exposes with Prometheus. It may be beneficial to unify them or write some bridge between them.

[2018-05-11 09:16] adambabik commented on #936
This is a blocker for #937 which is critical. It will be harder to change the implementation on the server side if necessary.

[2018-05-11 09:37] dshulyak opened #939 "NTP time source makes calls to the same ntp server"
# Problem

From the log

[code]

it is obvious that ntp client made calls to the same server `47.190.36.230:123:` , which should not be possible according to ntp documentation.

We need to find a way to prevent it from happening because it makes ntp time source less reliable.

# Implementation

One idea is to use different ntp pools, e.g 0.ntp.pool.org, 1.ntp.pool.org for every concurrent request

[2018-05-11 09:43] dshulyak opened #940 "TestWhisperExtensionSuite/TestSentSignal is flaky"
# Problem

[code]

# Implementation

Almost sure that the test doesn't wait long enough on CI, because it always completes on my local machine

# Acceptance Criteria

Should pass always, on any environment

[2018-05-11 10:28] dshulyak opened #941 "Discovery for rinkeby network became slowish and inconsistent"
# Problem

Because we are connecting to discovery cluster from every CI job that we run, or every time node runs locally, we basically spam discovery nodes which results in mentioned issue.

My guess is that discovery server doesn't validate peer state before sending it as a part response to findnode request.

# Implementation

We need to validate peer state and respond only with live peers (or at

[2018-05-11 19:43] #936 closed, assigned to adriacidre

[2018-05-14 05:24] #918 closed, assigned to nobody

[2018-05-14 05:24] #919 closed, assigned to adambabik

[2018-05-14 10:17] adriacidre opened #946 "Mail server query period limits"
# Problem

Current approach of mail server is returning all messages matching the provided query. This is a problem in terms of network data volume so we may want to limit those results.

# Implementation

Limiting queries to ranges of 24 hours of difference between `From` and `To` parameters

# Acceptance Criteria

- [ ] All queries with a range > 24 hours will fail

# Notes

This issue is part o

[2018-05-14 10:25] adriacidre opened #947 "Mailserver and rate limits"
# Problem

It's easy for any peer on the network to spam the mail server by fetching messages in short periods of time.

# Implementation

Implement rate limiting so that a given peer can fetch messages at most N times per second (TBD).

We should keep a `key / value` store of `peer / last query timestamp` so we can determine if the peer is able to run a new query.

This `key / value` store should

[2018-05-14 10:30] adriacidre opened #948 "Mailserver to discard old messages"
# Problem

Current mail server approach keeps messages stored forever, so the data volume growing is a real problem here.

# Implementation

Even we store messages forever, messages could be discarded after **N days(TBD)**.
A message garbage collector should be querying all messages older than **N days(TBD)** and remove them from the DB.

# Acceptance Criteria

- [x] Database does not grow indefin

[2018-05-14 12:58] adambabik opened #950 "Handle 500+ concurrent MailServer users"
# Problem

We need to scale to 500+ concurrent users (`P1 | 2.3 | Beta is launched successfully | P2 | Cluster can handle 500 concurrent users`). As it may be possible to set `500` as `maxPeers` limit per node, it's very risky approach.

# Solution

The proposed solution is to manage MailServers in status-go (have more than one mail server in rotation) and free the connection after some inactivity

[2018-05-14 13:48] adambabik commented on #950
There was already an attempt to move MailServers to status-go (https://github.com/status-im/status-go/pull/700) but the PR was closed.

[2018-05-14 13:52] adambabik commented on #948
@pilu Can you put some information how you want to implement it? I remember there was a discussion about preparing a separate command that could periodically do the maintenance. The problem is that it may not work if the other process using LevelDB is still running: https://github.com/google/leveldb/issues/182.

[2018-05-14 14:08] gravityblast commented on #948
@adambabik yes, I was searching the same thing. I'm carrying on with the research and I'll write here a possible solution to be able to discuss it together.

[2018-05-14 14:57] gravityblast commented on #948
@adambabik I think the best way is having a goroutine that prunes the database every N minutes so that we don't complicate the implementation given the problems on having multiple processes accessing the same db. In this PR (https://github.com/status-im/status-go/pull/949) @adriacidre already implemented a ticker to manage similar things so maybe we can use the same for this task.

The only thing

[2018-05-14 20:28] divan commented on #939
This problem essentially lays in the assumption that `pool.ntp.org` should always resolve to different NTP addresses, which turns out to be false for our use case. `pool.ntp.org` is a DNS load-balancer that returns up to 4 IP addresses of NTP servers geographically closest to you. While there is no precise information on NTPPool randomization algorithm (good luck reading [Perl source code](https:/

[2018-05-14 20:33] divan commented on #939
Also, official docs says that typical NTP update pattern should be `from once or twice a day to a 4-5 times an hour`. NTP Pool is a sort of volunteered project, and it's advised not to abuse the resources (i.e. spread out requests over timeframe with random offsets). So we might want to reconsider our current setting in 2-minute update interval.

Plus, it might be a viable option to join the NTP P

[2018-05-15 02:54] oskarth commented on #950
What about providing N mail servers in client and use sticky random based on user's pubkey/UUID or something to do the selection? This would statistically give same properties as "connect to different peer if one server runs out of slots" but without coordination.

Assuming 500+ concurrent users and, say, 25 maxPeer we can spin up 40 mailservers. Seems likely load will be way less though. What's c

[2018-05-15 02:58] oskarth commented on #950
Re putting logic in status-go: we can do this if it is only way to solve the problem, but ideally we leave it in the client.

The constraint is the following:

For future: Perhaps there's some way we can have the best of both worlds, where status-react and status-go can communicate about which peers should be used?

[2018-05-15 07:05] pedropombeiro commented on #924
Should this be closed?

[2018-05-15 08:11] themue opened #954 "Fix Rinkeby sync timeout in tests"
# Problem

Command

[code]

in tests currently ends with a sync timeout:

[code]

# Implementation

Debug shows

[code]

# Acceptance Criteria

`statusd` syncs Rinkeby again in tests.

[2018-05-15 09:08] adambabik commented on #950
Exactly, that's the idea + disconnecting if a mail server is not used for some time to avoid unnecessary occupation of connection slots. This is especially important for Desktop client when such a client can connect to a single Mail Server for hours while not using it at all.

We can safely set `maxPeers` to 100 or 200 or even more. I was testing with 100 without any issue.

With regards to the co

[2018-05-15 09:11] adambabik commented on #950
For the closed beta, the easiest solution to implement would be to run a few mail servers and use an algorithm that deterministically selects one based on the user's public key.

[2018-05-15 11:33] adambabik opened #956 "Write a Prometheus Exporter for status-go metrics"
# Problem

In #925, we decided to use `metrics` package from `go-ethereum` to write metrics. However, the output format is not compatible with any popular monitoring system.

# Implementation

Write a Prometheus exporter that will collect metrics from `statusd`. It should run as a separate container and just communicate with `statusd` using JSON-RPC via IPC file.

## Proposed format

Here is an ex

[2018-05-15 12:47] oskarth opened #958 "Update enodes with new cluster"
See https://github.com/status-im/status-cluster/issues/91#issuecomment-389112136

Blocked by: XXX

- [x] Clarify blockers from cluster setup POV
- [x] Ensure enodes are active and work
- [x] Update cluster config
- [x] Issue PR to status-react and ensure it gets merged
- [ ] Prepare a bootnode and other nodes available in Russia

[2018-05-15 13:10] oskarth commented on #950
Sounds great, let's do this, will create issue in status-react

[2018-05-15 13:26] oskarth commented on #950
https://github.com/status-im/status-react/issues/4282

Do we have an issue for disconnecting? Would this happen on status-go or status-react?

We also need to spin up a bunch of mail servers and embed them in app. 5-10 maybe?

[2018-05-15 13:30] oskarth commented on #924
Marked as done so yeah probably, don't know why it didn't auto close

[2018-05-15 13:30] #924 closed, assigned to nobody

[2018-05-15 13:38] oskarth commented on #958
@jakubgs @adambabik What's needed on cluster side https://github.com/status-im/status-cluster/projects/1 before we can get enodes up and running?

<blockquote><div><strong><a href="https://github.com/status-im/status-cluster/projects/1">Page not found · GitHub</a></strong></div></blockquote>

[2018-05-15 13:43] adambabik commented on #950
@oskarth no, but it makes sense to keep that logic in the same place so in status-react.

Let's make sure it works with 2 servers and it is covered with unit tests :) Then we will run a few Mail Servers. We need them to have the same properties (static private key, IP, port) as bootnodes.

[2018-05-15 14:10] #939 closed, assigned to divan

[2018-05-15 17:05] dshulyak opened #960 "App is not connected to a network for 20-30s after connectivity is restored"
# Problem

While testing https://github.com/status-im/status-go/pull/917 - @lukaszfryc and myself observed that after connectivity is restored app can get in a state where it is not possible to send or receive any messages, even if the network is totally working. The app can be in such state up to 30s.

# Implementation

First, we need to get a clear picture why it happens and be able to reproduce

[2018-05-16 06:33] Dodda opened #961 "Unable to build Status go library for iOS and Android."
# Problem

Unable to build Status go library for iOS and Android using the make commands in terminal mac os.

# Implementation

make statusgo-android (builds .aar file build/android-16/aar)
make statusgo-ios and make statusgo-ios-simulator (builds iOS related artifacts in build/os-
9.3/framework)
![screen shot 2018-05-15 at 11 46 43 am](https://user-images.githubusercontent.com/5211675/40100308-28

[2018-05-16 11:50] adambabik opened #964 "Confirm the safe value of maxPeers in mail servers"
# Problem

Originally, the problem appeared in #950. We don't know what's the safe value of `maxPeers` in mail servers. By safe, we mean the value that will keep the mail server operational and responsive to requests.

# Implementation

Propose benchmark test:
1. Run a mail server instance on a separate machine,
1. Run `N = {100, 200, 300, 400, 500}` concurrent processes that will try to connect t

[2018-05-16 11:52] adambabik commented on #961
cc @divan as I know you were changing xgo image recently.

[2018-05-16 11:55] Dodda commented on #961
Yes @adambabik , my gopath was set to default location in mac that is $Home/go and put the status-go code in the gopath location, please find this image for the source path but still i am facing the same error.
![screen shot 2018-05-16 at 3 16 27 pm](https://user-images.githubusercontent.com/5211675/40115464-23ec115e-592e-11e8-83bc-c41961060797.png)

[2018-05-16 14:25] jakubgs commented on #958
The `infra-eth-cluster` repo is ready to deploy a set of mail/whisper/boot nodes if that's what we want. There's yet no monitoring and I still have to switch it's inventory to Consul, but it should work.
I could deploy an example cluster for you to check out but we are at the dropplet limit in DigitalOcean and I haven't heard from their support yet.

[2018-05-16 15:36] #925 closed, assigned to adambabik

[2018-05-17 11:21] #947 closed, assigned to adriacidre

[2018-05-17 12:26] #961 closed, assigned to nobody

[2018-05-17 12:51] #946 closed, assigned to adriacidre

[2018-05-17 12:54] adambabik commented on #946
Closed in #949

[2018-05-17 16:13] themue commented on #954
- No change of Rinkeby node in `cluster.go` since longer time
- Tests with `-discovery=true` led to synchronization with non-cluster nodes
- For tests `cluster.go` has to point to LES enabled static nodes

[2018-05-17 17:24] #948 closed, assigned to gravityblast

[2018-05-17 18:00] dshulyak opened #969 "Once ntp synced time switch loop to sync once an hour"
# Problem

As pointed out by @divan good practice is to query NTP server once an hour, so that servers are not overloaded. We do it every 2 minutes at the moment, which might be too aggressive.

# Implementation

Switch to once an hour sync once initial NTP sync finished without error.

[2018-05-17 18:57] adriacidre commented on #937
Closing this issue as all its related sub-tasks have been completed

[2018-05-17 18:57] #937 closed, assigned to nobody

[2018-05-18 08:06] dshulyak commented on #960
Some details how to repro it locally on PC. Run on any network without discovery, but with static peers (ropsten or mainnet). In my experiment i use ropsten:

[code]

When peers got connected - turn off router.
Right after peers are disconnected turn on wifi and time when network is actually started working.
Then see that it took > 30s to reestablish a connection

[code]

[code]

[2018-05-18 09:16] themue commented on #954
Static nodes drop connection.

[code]

[2018-05-18 09:20] dshulyak opened #971 "Peer cache can return duplicates"
# Problem

Observed while running destructive tests with multiple reconnects

[code]

It is not critical cause we won't make more than one connection with same peer, but still not optimal

# Implementation

TBD

# Future Steps

Steps which should be taken after this issue has been resolved.

[2018-05-18 09:20] dshulyak commented on #971
Oh lol, all of this nodes are actually different. Sorry

[2018-05-18 09:20] #971 closed, assigned to nobody

[2018-05-18 09:37] dshulyak commented on #960
Now with discovery, i run it from this build https://github.com/status-im/status-go/pull/968 which makes latency of discovery quite low.

[code]

seprate process runs ping with date

[code]

initial connections were made and then wifi was turned off

[code]

then discovery restarted

[code]

after 5s when network was restored - p2p connection also was restored

[code]

[2018-05-18 09:44] dshulyak commented on #960
without discovery: 32 seconds to restore connection with static peers (limited by an internal p2p constant)
with discovery: 5 seconds to find new peers or reconnect with an old one (last item works because we remove peer from p2p server with cleaning history, so that constant that doesn't allow to dial more than once in 30s doesn't affect us)

[2018-05-18 11:09] dshulyak opened #972 "Pre-cache more peers than max limit during during discovery"
# Problem

Current discovery process on a mobile device will stop itself when max amount of peers is found.
It is still possible that we will get +1-2 than max peers in our cache because we rebalance peers after confirmation that the got connected.
It would be a good optimization to cache more than max amount of peers before stopping discovery, so
that when we loose connection with an initial set

[2018-05-18 12:05] dshulyak opened #973 "Count replacement peers properly"
# Problem

Currently peer that is found as a replacement for dropped peer won't be
added to local peer pool as connected and thus can break limits logic.

cc @adambabik

[2018-05-18 13:43] #941 closed, assigned to dshulyak

[2018-05-18 14:20] adambabik commented on #973
Affected method:
[code]

line `peer := t.popFromPeerPool()`.

The peer is removed from the map but later when `ConfirmAdded()` is called this fragment returns while it should continue executing:
[code]

[2018-05-18 15:36] #954 closed, assigned to themue

[2018-05-21 00:11] bgits commented on #961
@Dodda How did you resolve the issue?

[2018-05-21 05:16] dshulyak opened #978 "Disable NAT and inbound connections on mobiles"
# Problem

We are not relying on hole punching using upnp which is provided by geth p2p server.
So i would disable that goroutine from running, it might be confusing and can lead to questions/bugs in future.

Another problem is that someone could try to connect to mobile device if address with public address.
We definitely should prevent this from happening.

# Implementation

NAT hole punching is

[2018-05-21 05:18] dshulyak commented on #973
Also, while debugging discovery, i realized that it is a safer strategy to reconnecting with all available peers, not the one we discovered last. This way we will find new connections faster and all other peers
will be dropped using already available rebalancing.

[2018-05-21 14:27] Dodda commented on #961
by using this command sudo ln -s ~/.go/bin/xgo /bin/xgo

[2018-05-22 08:24] adriacidre opened #983 "Flaky test TestSingleTopicDiscoveryWithFailover"
# Problem

A flaky test is breaking many of status-go builds with:
[code]

# Implementation

Fix it!

# Acceptance Criteria

CI passing

[2018-05-22 08:42] divan commented on #960
@dshulyak I was able to reproduce first case (20s timeout) with your example by disconnecting from WiFi on the laptop (i.e. "Turn WiFi off").
Can't reproduce `./build/bin/statusd -networkid=4 -shh -standalone=false -discovery=true --log=DEBUG -topic.search=whisper=2,2` for now, will try again today.

[2018-05-22 09:34] #983 closed, assigned to adriacidre

[2018-05-22 10:26] adambabik commented on #956
Check out repo https://github.com/status-im/geth_exporter

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/geth_exporter">status-im/geth_exporter</a></strong></div><div>geth_exporter - geth metrics exporter

[2018-05-22 10:26] #956 closed, assigned to gravityblast

[2018-05-22 10:31] adambabik commented on #923
This is done and in status-react develop there is a status-go version including #929.

[2018-05-22 10:31] #923 closed, assigned to nobody

[2018-05-22 10:31] adriacidre commented on #972
@dshulyak limits on discovery are based on `RequireTopics` config values.

It's not possible to just upgrade the limits defined on the config instead of changing the internals of peers package?

[2018-05-22 10:45] dshulyak commented on #972
We still want to keep connection limits reasonably low, and the idea is to run discovery even after max limit was reached. So that our cache will be filled with peers that can be used as a replacement if currently connected peer will be failing.

[2018-05-22 13:11] #973 closed, assigned to dshulyak

[2018-05-22 13:25] dshulyak opened #985 "Investigate bootnodes failure to respond to a ping"
# Problem

Observed a following log:

[code]

Basically, it means what it says that bootnode wasn't able to respond to a ping and was moved to unknown state, which can't be used for queries and as a result we can't find any peers for noticeable time.

# Implementation

Investigate why it happens
And reduce number of such errors.
I don't know how to reliably reproduce it, maybe generate significant

[2018-05-22 15:38] #969 closed, assigned to adriacidre

[2018-05-24 08:25] jakubgs opened #991 "Missing --rpcapi flag for specifying which modules are available via HTTP RPC"
# Problem

I'm using the HTTP RPC endpoint on `statusd` service as a healthcheck for [Consul](https://www.consul.io/docs/agent/checks.html).

Our HTTP RPC options looke like this:
[code]
But geth has:
[code]
Where `--rpcapi` allows you to specify which modules(`web3`, `admin`, `eth`, etc.) to expos via the HTTP RPC interface.

Currently the only ones expose the following ones: `web3`, `shh`
For us

[2018-05-24 10:06] jakubgs commented on #958
DigitalOcean limit is no longer an issue, we got bumped to 100 droplets.
Currently `infra-eth-cluster` setup is almost done. It needs a few improvements I should get done today:
* Store keys and enode addresses of all hosts(boot, whisper, mail), preferably bound to the IP
* Deploy bootnodes on separate hosts before anything else
* Dynamically feed addresses of new bootnodes to newly created whispe

[2018-05-24 13:12] jakubgs commented on #958
Okay, I've solved the key storing problem here:
https://github.com/status-im/infra-eth-cluster/commit/677e44af549adb8573f977e03020c7348651e14c
I think it's good enough for now, but later on we might want to use the Consul key/value store to do this since we can update that manually more easily.

[2018-05-25 08:25] jakubgs commented on #958
I've created the new fleet:
http://consul.status.im/ui/da-ams3/nodes?filter=beta
The `statusd` services can be viewed here:
http://consul.status.im/ui/da-ams3/services/statusd-boot
http://consul.status.im/ui/da-ams3/services/statusd-mail
http://consul.status.im/ui/da-ams3/services/statusd-whisper
And for `enode` info you have to use the API:
http://consul.status.im/v1/catalog/service/statusd-boot

[2018-05-28 04:00] oskarth commented on #958
https://github.com/status-im/status-go/pull/994

[2018-05-28 08:32] pedropombeiro commented on #856
@adriacidre we can remove the `blocked` label now, right?

[2018-05-28 08:59] adriacidre commented on #856
@PombeirP yep I think so, i'll remove it now

[2018-05-28 10:29] adambabik commented on #964
I have run around 100 concurrent requests to the MailServer with 50MB of data in the database. Regarding the CPU, it uses all available cores and processes requests concurrently. Regarding the memory, even though the requests are processed concurrently, the cache is used effectively and the memory does not exceed 100 MB.

We decided to bump `-maxPeers` setting for mail servers to 200. If the perfo

[2018-05-28 10:33] adambabik commented on #964
We should run further stress tests but the current set up allows us to react quickly in case the CPU or memory limits of the servers are too low.

[2018-05-28 10:33] #964 closed, assigned to adambabik

[2018-05-28 16:37] #991 closed, assigned to themue

[2018-05-28 16:39] themue commented on #991
Flag is `-httpmodules`, default are the standard modules like before. `statusd -h` shows it.

[2018-05-28 18:31] jakubgs commented on #991
Brilliant! Thanks a bunch man. I owe your a beverage of your choice.

[2018-05-28 18:32] themue commented on #991
You're welcome. ☺️

[2018-05-29 08:42] gravityblast opened #998 "Collect mail server metrics"
# Problem

Clients call mail servers multiple times a day, requesting messages sent when they were online. We don't have any metrics around that, and they could be useful to understand the way it's used and the load/traffic produced.

# Implementation

Use the `go-ethereum/metrics` package to export metrics in our custom mail server implementation.

# Acceptance Criteria

We can see these metrics

[2018-05-29 09:48] adambabik commented on #950
Update: we have 3 mail servers each having 200 slots. Due to in cluster connections, we have around 17% of slots taken which equals around 100 which means about 500 is free. We can bump `maxPeer` to 250 if that's not enough, we can change Whisper limits for mail servers (not it's `3,5`) and finally, we can add another mail server.

[2018-05-30 10:04] flexsurfer commented on #881
ok we can't discard transaction, because in that case callback with the error will be called on dapp side, so we need changes in interface

[2018-05-30 12:31] #998 closed, assigned to gravityblast

[2018-05-30 16:49] gravityblast opened #1001 "Dockerize cmd/statusd-prune"
# Problem

Currently `cmd/statusd-prune` is not available as a docker image.

# Implementation

We can either create a Docker image for it or add it to the `statusteam/status-go` image.

# Acceptance Criteria

It should be easy to run the `cmd/statusd-prune` command on our infrastructure.

[2018-05-31 16:17] pedropombeiro commented on #926
@cammellos you recently implemented this on the Go repo, right?

[2018-05-31 16:25] pedropombeiro commented on #926
Closed by b775261f4e2b143b35848259cba03e241f07b996

[2018-05-31 16:25] #926 closed, assigned to nobody

[2018-05-31 16:26] cammellos commented on #926
also in clojure, has been merged yesterday, you can add and use bootnodes.

 it is featured toggle to dev only for now.

 i have to add qr code scanning, editing and deleting.

it is ready to be used to check if it gets around ip blocking when the
bootnodes in Russia have been set up.

On Thu, May 31, 2018, 6:17 PM Pedro Pombeiro <notifications@github.com>
wrote:

<blockquote><img src="https://ava

[2018-06-01 21:31] sebastiandelgado commented on #614
@dshulyak I'm going to start working on this. Before I upload a WIP PR, I have a few questions:
 - Can I find the full list of configs that need to be added to `params.NodeConfig` in the output of `build/bin/statusd -h` or do I need to consider others?
 - When you say we will have to modify docker-compose.yml, are you talking about having it use the new `--config` flag you proposed above and then

[2018-06-02 04:49] dshulyak commented on #614
i don't think that we need config file anymore. for the following reasons:

1. in tests we won't rely on docker-compose and docker config, as that approach is less flexible than using direct docker api. so we will just use direct docker api and construct command line flags right from tests/go program

2. application is deployed using ansible (and will stay this way). and when ansible is used flags

[2018-06-02 04:50] dshulyak commented on #614
i will close it for now to avoid confusion, if someone feels that we need config file please reopen

[2018-06-02 04:50] #614 closed, assigned to nobody

[2018-06-04 11:30] oskarth commented on #958
This is essentially fixed, but ideally we also have the Google nodes here before closing this

[2018-06-04 11:49] adambabik commented on #958
@oskarth do we consider servers working in Russia to be a beta blocker? If so, we should put this issue in https://github.com/status-im/status-react/milestone/21

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/statu

[2018-06-04 20:36] sebastiandelgado commented on #912
Now that #993 is merged, are we ok to close this issue or are there unfinished parts?

[2018-06-04 22:41] sebastiandelgado commented on #812
@dshulyak A couple questions for more context on this:

What do you mean specifically by  'simulated backend'? As I understand it we would be mocking on-chain state so that we can test confirming that the funds are transferred. Would this simulated backend be more than a set of mocked up RPC calls? Maybe I'm missing the point with this question, so let me know if theres something I should be readi

[2018-06-04 22:50] sebastiandelgado commented on #940
This does pass most of the time on travis is that right? Any other tips on how to replicate this failure other than running travis repeatedly? Is there a guide somewhere on how to run travis-ci locally? Maybe I should write one...

[2018-06-04 22:54] sebastiandelgado commented on #705
Where do we get the version of our vendored geth? Is this issue ready to be worked on? Do we want to use whisper light for testing or is the flag meant to be used on statusd in production?

[2018-06-05 07:51] pedropombeiro commented on #705
@sebastiandelgado we have a `make update-geth` that normally handles updating geth from the official repo. I think this GHI is not needed and we can close it though (I don't think I understood the changes at the official go-ethereum repo at the time I created this), since if we enable `lightClient` (which we do for the mobile app), `isP2P` will already be true and the messages will not be forwarde

[2018-06-05 07:51] #705 closed, assigned to nobody

[2018-06-05 12:43] pedropombeiro commented on #891
One thing I don't like about Travis CI is that the links you get don't preserve the actual failed build, they get overwritten by any following builds. So now it's impossible to tell what the issue we're trying to fix is (unless we manage to reproduce it again).

[2018-06-05 13:46] adambabik commented on #912
Consider it done :)

[2018-06-05 13:46] #912 closed, assigned to sebastiandelgado

[2018-06-05 13:48] adambabik commented on #746
@divan is it finished?

[2018-06-05 14:56] adambabik opened #1006 "[MailServer] Implement RequestHistoricMessages() in request-response fashion"
# Problem

Currently, the `RequestHistoricMessages()` just sends a request to MailServer using special `p2pRequestCode` message code. This method exits immediately and it's not possible to know when all messages from MailServer get received.

This method does not support pagination either and does not allow limiting returned messages from MailServer by the number of envelopes. This does not need t

[2018-06-06 04:16] dshulyak commented on #740
Just one detail, it is not worth to add a patch for this change. It should be either done in upstream or implemented without patch if possible

[2018-06-06 04:19] #844 closed, assigned to dshulyak

[2018-06-06 04:22] dshulyak commented on #812
There is such thing in go-ethereum codebase as simulated backend. We have one example in transactor tests. Basically it mocks only the consensus part, allowing users to commit block whenever they want.

[2018-06-06 07:28] adriacidre commented on #985
@dshulyak @pilu I'm gonna do some research on this one, any extra relevant information since its creation?

[2018-06-06 07:35] #935 closed, assigned to adriacidre

[2018-06-06 07:54] adriacidre commented on #881
status-go side has been delivered on https://github.com/status-im/status-go/pull/1000.

Closing this issue as `status-react` missing part is been tracked on https://github.com/status-im/status-react/issues/4065

[2018-06-06 07:54] #881 closed, assigned to adriacidre

[2018-06-06 08:26] gravityblast commented on #1006
@adambabik  can we implement pagination in a different issue so that we only focus on the `p2pRequestReplyCode` message?

I thought something like this could work:

* Client (`status-react`) calls `shhext_requestMessages`
* Client (`shhext/api`) calls `RequestHistoricMessages` with an envelope that contains the request + a unique ID
* Client waits for `p2pRequestReplyCode` message with that ID
* M

[2018-06-06 08:29] dshulyak commented on #985
@adriacidre it is hard to reproduce. it could be a temporary problem with DO cluster. so idk if it makes sense to keep it open

[2018-06-06 08:33] gravityblast commented on #985
@adriacidre  I could reproduce the `pongTimeout verifyinit -> unknown` only if the node starts without connection to another. otherwise if it goes offline later it gets a `pongTimeout contested -> unknown`.

[2018-06-06 08:34] adriacidre commented on #985
@dshulyak found a similar issue on [go-ethereum repo](https://github.com/ethereum/go-ethereum/issues/3638).

`To connect to v5, you need to explicitly specify the discovery port number in the enode url, which will be 1 higher than the normal port number.`

but agree, we probably don't have enough info to keep research on it

[2018-06-06 08:58] adambabik commented on #1006
Yeah, totally. It's in the issue description: `This does not need to be implemented here but the solution should be flexible so that the pagination is possible.`.

I just mentioned it in order not to lock ourselves with a solution that does not take it into account

---

The plan sounds good!

As far as I know, the p2p connection is a TCP connection and both messages and message codes are sent one

[2018-06-06 13:04] adriacidre commented on #985
Closing this issue as I wasn't able to reproduce it

[2018-06-06 13:04] #985 closed, assigned to adriacidre

[2018-06-06 13:32] adriacidre commented on #940
@sebastiandelgado even @adambabik reworked most of those tests, not sure if this one is still broken.
When I was debugging, running tests locally with `-cpu=1 ` option, allowed me to reproduce this failure quite reliably.

[2018-06-06 13:39] #972 closed, assigned to adriacidre

[2018-06-06 13:56] oskarth commented on #958
It's tracked here https://github.com/status-im/status-react/issues/4299

[2018-06-06 14:32] adriacidre opened #1012 "Flaky test TestPeerPoolSimulationSuite/TestSingleTopicDiscoveryWithFailover"
# Problem

Flaky test randomly breaking the builds

[code]

# Acceptance Criteria

CI passes without showing this error (run 3-4 builds to check)

# Future Steps

Would be really nice if those flaky tests could be automatically reported from travis.

[2018-06-06 19:06] #729 closed, assigned to nobody

[2018-06-06 19:15] pedropombeiro opened #1013 "Flaky test in e2e/transactions"
# Problem

Travis CI build sometimes fails with "could not decrypt key with given passphrase" error:

[log.txt](https://github.com/status-im/status-go/files/2077830/log.txt)

[2018-06-07 08:41] adambabik commented on #940
I haven't seen this error for a while. I did not work on it. @adriacidre great tip with `-cpu=1` 👍

[2018-06-07 10:30] #1001 closed, assigned to nobody

[2018-06-07 13:28] pedropombeiro opened #1015 "Flaky builds due to occasional huge offset relative to NTP servers"
# Problem

Every now and then the e2e tests fail on Travis because of a huge clock difference with NTP servers. This causes flaky tests and a good amount of dev productivity lost due to context switching and tending to builds. Here are a couple of logs:

https://travis-ci.org/status-im/status-go/jobs/387822155, log excerpt:
[code]

[log from https://travis-ci.org/status-im/status-go/jobs/389231302

[2018-06-08 07:20] pedropombeiro opened #1017 "Replace gometalinter with golangci-lint"
# Problem

gometalinter is very slow compared to [golangci-lint](https://github.com/golangci/golangci-lint). In order to speed up CI builds, we should migrate to the faster tool.

Context: https://status-im.slack.com/archives/C8QP8S5UH/p1527617461000018

[code]

# Implementation

- Update Makefile to install and run golangci-lint.
- Compare time take to install and run lint tool, before and after

[2018-06-08 08:48] adambabik opened #1018 "[statusd] Add a flag to disable shell colors and move verbose logs to debug level"
# Problem

When running `statusd` in a docker and not using `-logfile`, each log entry, by default, has shell colors added.

Also, in `statusd`, we log all sent signals with `INFO` level. These logs can be huge especially if sending `EventDiscoverySummary` signal.

# Acceptance Criteria

1. Provide a flag to disable shell colors from the logger (check out `logutils.OverrideRootLog()` call in `cmd/

[2018-06-08 11:29] #856 closed, assigned to adriacidre

[2018-06-08 12:39] pedropombeiro opened #1021 "Flaky test TestWhisperMailboxTestSuite/TestRequestMessageFromMailboxAsync"
# Problem

`TestWhisperMailboxTestSuite/TestRequestMessageFromMailboxAsync` and `TestWhisperMailboxTestSuite/TestRequestMessagesInGroupChat` sometimes cause Travis CI build to fail.

[log.txt](https://github.com/status-im/status-go/files/2084337/log.txt) from https://travis-ci.org/status-im/status-go/jobs/389682100
NOTE: the log is colorized, so you can use a tool like [ccze](https://blog.tersmitt

[2018-06-08 15:42] dshulyak commented on #960
So atm we have an acceptable latency for reconnecting using peer pool and discovery. Closing this

[2018-06-08 15:42] #960 closed, assigned to divan

[2018-06-08 15:45] dshulyak opened #1022 "allow to disable status-go ntp sync"
Notify status-react that time is out of sync, so that user can turn on time sync on device and turn off our own

we need to add an option to config and disable ntp time source usage based on this option

second part of the change is to send signal that offset is noticeable (some research required to define exact number, for instance whisper will tolerate small time skews but i don't remember exact

[2018-06-08 15:46] dshulyak commented on #928
This is being tracked in https://github.com/status-im/status-scale
I will close issue in status-go

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-scale">status-im/status-scale</a></strong></div><di

[2018-06-08 15:46] #928 closed, assigned to nobody

[2018-06-08 16:14] pedropombeiro commented on #1022
On test code, we should turn off NTP sync when setting up nodes so that we don't incur on rate limiting from servers (seen in https://github.com/status-im/status-go/pull/1016)

[2018-06-11 09:05] adriacidre commented on #1022
@dshulyak current code does not stop status-go from ntp syncing it only reduces how often it gets synced.

If I understood well, there is the need from status-react to predefine (through the node config) a timeout for the ntp sync process so they can continue this process on its side, right?

Basically this issue is about introducing that config timeout, manage the timeout on `timesource/timesourc

[2018-06-11 11:04] dshulyak commented on #1022
why timeout?

i was thinking about including an explicit option that will allow disabling ntp sync in status-go.
we can start an app with ntp sync turned on, then notify a user that we run such sync, and it has such diff. if he wants he can disable our ntp sync on status-react config tab, and enable global sync on mobile device

[2018-06-11 12:19] pedropombeiro commented on #1022
Do we need a UI option in that case though? If the user decides to enable global sync, the only thing that happens is that the offset will become much smaller, so everything is fine. What do we gain from adding a user option? Are we concerned about e.g. CPU and battery usage?

To be clear, it's fine having the code option, just not sure that we need to expose it in the UI.

[2018-06-11 12:25] adriacidre commented on #1022
The worflow will look like:

[code]

I think I'm a bit confused about step 2, as, in case it doesn't happen when the switch takes place. Why do status-go needs to send a notification to status-react if by default ntp sync will be started and status-react already knows about it?

[2018-06-11 12:26] dshulyak commented on #1022
my main concern is that mobile os time sync service is probably more reliable than what we have. so we can eliminate some bugs by having the option to turn off status-go ntp sync.

[2018-06-11 12:30] pedropombeiro commented on #1022
Yeah, that's a fair assumption. Regarding the exact approach though, I think that in order to avoid surprises later, we should involve Design/UXR teams to make sure they agree on the UX we'll want to offer. cc @andmironov @jpbowen

[2018-06-11 12:31] dshulyak commented on #1022
that makes sense. maybe instead status-react can set this option based on os info. can we check if os time service is enabled? is there an api for that?

[2018-06-11 13:40] pedropombeiro commented on #1022
As far as I know, in the case of Android, it only syncs with the network provider, and according to my experience, that's not been very precise (I've seen it consistently some seconds away from atomic clock). I've long used an app called ClockSync which will sync using NTP (if you're rooted): https://android.gadgethacks.com/how-to/set-your-android-atomic-time-for-perfectly-synced-clock-0170500/

<

[2018-06-11 14:37] oskarth opened #1025 "Re-enable LES as option"
(Skeleton issue)

# Problem
Currently LES on-device node is disabled. This means we are relying on either Infura or custom RPC. Even if we can't get great perf it is probably worth it to have as an option, especially as ULC is still being developed. Otherwise we literally don't have a light client in the app and we are relying on trusted third parties.

# Implementation
We need to figure out the f

[2018-06-11 14:39] oskarth commented on #1025
Additionally, consider if we can have support for all of the following options:

-  Infura
- Custom RPC
- LES
- ULC

Until ULC or whatever tech turns out to have the sweet spot of properties in terms of security and perf.

[2018-06-12 07:49] #1018 closed, assigned to adriacidre

[2018-06-12 14:48] flexsurfer opened #1027 "Get rid of transactions queue"
# Problem

Because we don't have "sign later" functionality anymore, there is no reason to have transactions queue on go side.

# Implementation
-remove transactions queue functionality
-instead two `approve` methods implement one `sendTransaction`

![image](https://user-images.githubusercontent.com/11790366/41297804-a1967ba4-6e68-11e8-8e46-8a6b1f89e62c.png)

[2018-06-12 16:24] pedropombeiro commented on #1017
Took a preliminary look at golangci-lint and found the following differences compared to gometalinter:
- 4.5x faster
- Speed is blazing fast compared to gometalinter and would be great having this soon on our CI to relieve pressure
- Doesn't support customizing `gas` linter
- Doesn't support `misspell` linter

[code]

On the other hand, it seems to produce more useful results than gometalinter. An

[2018-06-13 08:45] adambabik commented on #1017
In my opinion, `gas` is still too experimental and I would get rid of it. We can run `misspell` individually, not a problem. As long as it will be encapsulated in `make lint` target.

[2018-06-14 09:20] dshulyak commented on #1022
closed by mistake

[2018-06-14 11:52] #1017 closed, assigned to pedropombeiro

[2018-06-14 13:04] gravityblast opened #1033 "upgrade to go-ethereum 1.8.11"
# Problem

Since `go-ethereum` 1.8.11 [has been released](https://github.com/ethereum/go-ethereum/releases/tag/v1.8.11) in the last days, we should update it in our dependencies.

# Implementation

Investigate changes in the new version of `go-ethereum` and check that all our patches can be applied without problems.

# Acceptance Criteria

All patches can be applied and all tests run succesfully.

[2018-06-14 16:09] adambabik commented on #1022
It looks like it's done. @adriacidre?

[2018-06-14 16:10] adambabik commented on #1015
Does it relate or duplicate https://github.com/status-im/status-go/issues/1022?

[2018-06-14 19:26] pedropombeiro commented on #1015
@adambabik yup, #1022 will completely disable NTP usage in tests, so this will be a non-issue after that is merged.

[2018-06-14 19:27] #1015 closed, assigned to nobody

[2018-06-15 07:25] adriacidre commented on #1022
hey @adambabik I think we still need some input from react team regarding this comment

[2018-06-15 08:06] dshulyak commented on #1015
@PombeirP did you ever noticed that error after https://github.com/status-im/status-go/pull/1016 was merrged?

[2018-06-15 08:23] pedropombeiro commented on #1015
@dshulyak yes, I think it still happened.

[2018-06-15 12:02] pedropombeiro commented on #1021
TODO:
- [x] Upstream [patch](https://github.com/ethereum/go-ethereum/pull/16996) to `WMailServer.processRequest` to make it comply with the docs (upper bound should be inclusive)

[2018-06-15 13:22] gravityblast opened #1036 "Add pagination to mail server"
# Problem

`status-react` uses the mail server to ask for envelopes sent when the app was offline, usually requesting messages for the last 24 hours.
If the request contains a bloom filter that matches a public chat with a high number of messages sent in the last 24 hours, the client will end up receiving a lot of messages that can make the app slow or unusable.

# Current implementation

Currentl

[2018-06-15 14:34] adambabik commented on #1036
We should note that Mail Server may have its own `Limit`.

The client makes the first requests and receives a response. How can it figure out that all messages were transferred from the requested time window and if not, how can it request for the rest? `last_envelope_key_bytes` can be sent in the next request to help with that. Also, the client should be able to update the time window based on the

[2018-06-15 14:44] gravityblast commented on #1036
we should also update the documentation here https://github.com/status-im/status-go/wiki/Additional-JSON-RPC-API

Is there any other place with docs about this? /cc @adambabik @PombeirP

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="

[2018-06-15 14:47] adambabik commented on #1036
Oh and we also can change `Topic` to bloom filter in the request payload I guess. The client will be able to reduce the number of queries.

[2018-06-15 14:58] gravityblast commented on #1036
`last_envelope_key_bytes` is already `timestamp_bytes + last_envelope_hash_bytes`, so the flow I thought was:

we have 5 enveloped in the db with these keys:

1 - `1000000000hash1`
2 - `2000000000hash2`
3 - `2000000000hash3`
4- `3000000000hash4`
5- `3000000000hash4`

**First request**
Request:`From: 2000000000, To: 3000000000, Limit: 3`
Mailserver sends envelopes 5, 4, 3, and a `p2pRequestComplete

[2018-06-15 15:01] gravityblast commented on #1036
@adambabik `status-react` sends a request to the local node with `Topic`, but the local node sends the request to the mailserver with a bloom filter derived from that topic.

Do you mean having a bloom filter from multiple topics? that would work, but pagination would make less sense maybe?

[2018-06-15 15:12] #1006 closed, assigned to gravityblast

[2018-06-15 15:17] cammellos commented on #1036
We would not be querying multiple topics together in this case anymore, as would not work with pagination, also it would be more difficult to get a balanced load

[2018-06-15 15:33] adambabik commented on #1036
@pilu In this example, `last_envelope_hash_bytes` is a hash of a message that was not sent back. Is that correct? (`2000000000hash2` is the message with ID `2` while the mail server returns `5`, `4` and `3`).

`To` will be an integer or string. I would stick with one type and provide a new property for the sake of clarity.

Not sending the `last_envelope_hash_bytes` in such a case will make it imp

[2018-06-15 15:40] cammellos commented on #1036
@adambabik  it would be the hash of the last message sent, next time we ask with that, the response will be non-inclusive ( greater than but not equal).

@adambabik yes, it would work in that way, we'd just probably won't use it that way (we'll likely always ask for a single topic at time).

[2018-06-15 15:49] adambabik commented on #1036
I agree. That's also my intention.

Ok, so in that case let's not complicate and leave the current way of doing that.

[2018-06-15 16:08] gravityblast commented on #1036
@adambabik `2000000000hash2` is the key in the database, `2000000000` is the timestamp, `hash2` is the envelope hash.

I agree with this. I think it should be `string`, because the query is using a range on the keys in the database. and the keys are bytes with `timestamp + hash`.

[2018-06-15 16:17] adambabik commented on #1036
The client should know nothing about the structure of keys in the mail server database. It must be agnostic in case we will change the underlying datastore it in the future.

[2018-06-15 16:20] gravityblast commented on #1036
what do you mean exactly?

In general what I propose is sending a partial key, which is what we do now sending only the time stamp, or a full key which is `timestamp + hash`. if the mail server reponse sends the next key (timestamp + hash), the client can ask for the second page starting exactly from that key instead of a timestamp (which can be the prefix of multiple keys)

[2018-06-15 16:35] gravityblast commented on #1036
it makes sense. I thinking what we can do if we have 10 messages with the same timestamp, and the request limit is 5. we serve the last 5, but how can the client know there are other messages in the same timestamp? that's why I was thinking about using the full key, so that the next query can have same timestamp + `hash` of the 5th message

[2018-06-15 16:42] cammellos commented on #1036
If you want to keep it agnostic, you can have 3 parameters:
1 & 2 ) To & From, which works exactly as now, but return a `cursor` (timestamp+hash, but as far as the client is concerned is just a string, any string).
3) `cursor` which is whatever the servers sends, and it's used for pagination.

Flow would be:

1) Client asks for `/messages?to=blah&from=blah`
2) Server sends back cursor or nothing i

[2018-06-15 16:54] gravityblast commented on #1036
and repeat.

my initial idea is exactly this one, except that the next request uses cursor as the value for the `To` parameter

[2018-06-15 16:57] cammellos commented on #1036
exactly, the advantage of keeping them separate is that it better
abstracted, in case you change structure of the database  ( say now the
id/cursor is an integer instead, it becomes a bit hairy to detect whether
is a timestamp or an id)

[2018-06-16 13:54] gravityblast commented on #1036
@cammellos  I like it!

[2018-06-16 14:07] gravityblast commented on #1036
I updated the description. I'll wait also for a new feedback from @adambabik

[2018-06-18 09:35] adambabik commented on #1036
@pilu

When the client receives `requestResponse` code, it might happen that the last messages were not passed to the filters yet due to implementation details (another goroutine, buffered channels etc.). In such a case, the client may want to delay handling `requestResponse` signal until the last received messages are passed to the filters and handled by the client logic. Having the last message

[2018-06-18 13:24] #1021 closed, assigned to pedropombeiro

[2018-06-18 15:19] gravityblast commented on #1036
I see thank you @adambabik!

[2018-06-19 07:35] jakubgs opened #1040 "Reduce log warning noise in statusd"
Logs from `statusd` are __full__ of __Warning__ messages like this:
[code]
You can explore these logs here:
https://kibana.status.im/app/kibana#/discover/0e454e90-7393-11e8-87f6-4d24dfa142f8
I was told that this message happens when a peer disconnects from `statusd`. If that is indeed the case then why is it a warning? Seems like part of regular operations of this software, so at most it could be

[2018-06-19 12:28] adriacidre opened #1041 "New debug_postconfirm rpc endpoint"
# Problem

We have the need to write some tests checking if a whisper message is sent to the network or is expired even before leaving the current node.

# Implementation

The proposed solution is to introduce a new blocking endpoint `shhext_postconfirm`.
This endpoint will send a message same as `shhext_post` does, but, in addition will wait for an `EventEnvelopeSent` event and return success or

[2018-06-19 13:33] gravityblast commented on #1041
@adriacidre can't we just use the `envelopeFeed` in the test to wait for the envelope to be sent?

[2018-06-19 13:35] gravityblast commented on #1041
@adriacidre ah I see now the other issue, but I don't know about the test. can we wait for another client to receive it?

[2018-06-19 14:19] adriacidre commented on #1041
My initial though was to have two peers sending messages from one to the other, but then we wont be able to know if messages have expired before being sent or not.

Current test looks [like this](https://github.com/status-im/status-go/blob/develop/t/destructive/peers_test.go#L62) and this feature will allow us write the same tests from status-scale, which doesn't have access to the running node in

[2018-06-20 07:44] adambabik opened #1042 "Call CollectProcessMetrics() in statusd"
# Problem

We don't collect system metrics and that prevents us from debugging memory issues.

# Implementation

Call `metrics.CollectProcessMetrics(3 * time.Second)` just like go-ethereum does that [here](https://sourcegraph.com/github.com/ethereum/go-ethereum@9608ccf106584c73e91258518eb9d09ad39cc8ae/-/blob/cmd/geth/main.go#L212).

# Acceptance Criteria

- make sure that system metrics are visibl

[2018-06-21 14:35] mandrigin commented on #1027
@flexsurfer but we still need to signal to react side that a DApp tries to send a transaction, right? or, how that would be implemented?

[2018-06-21 14:39] mandrigin commented on #1027
even if they just do any raw call...
but then we are moving all the protection on the level of web3.js that is hardly maintained

[2018-06-21 14:51] flexsurfer commented on #1027
@mandrigin so how it works now, we have stutusHTTPProvider, which has `send` and `sendAsync` https://github.com/status-im/status-react/blob/develop/resources/js/web3_init.js#L56, where we call status-go and wait signal, i suggest to do not call status-go, but show wallet UI, and then if user presses send, call status-go, so just remove queue and signals

[2018-06-21 14:57] mandrigin commented on #1027
ah, ok, so that would be a part of status-react now. makes sense.
same for `personal_sign` and the other stuff, I guess, right?

--
note to whoever will implement that, that we will still need to sign everything locally and use the local nonce and stuff, these things aren't for removal.

[2018-06-21 15:02] flexsurfer commented on #1027
right, thanks

[2018-06-22 09:57] #1040 closed, assigned to adriacidre

[2018-06-22 12:21] #932 closed, assigned to gravityblast

[2018-06-22 12:22] adambabik opened #1049 "Figure out why Discovery V5 performs poorly with a high number of concurrent peers"
# Problem

We observed that Discovery V5  performs poorly with many concurrent peers.

# Implementation

Try to dig deep into Discover V5 code and figure out what's the bottleneck. The current lead is a single threaded model and moving peers to unknown state after no response for 500ms for ping requests.

# Acceptance Criteria

1. The root cause is identified and confirmed with a fix. If the fix i

[2018-06-22 12:31] dshulyak commented on #1049
it is not the case because then there will almost no traffic between peers

[2018-06-22 12:33] dshulyak commented on #1049
This test can be used to simulate discovery with lots of concurrent users and observe metrics
https://github.com/status-im/status-scale/blob/master/tests/metrics_test.go#L15
Change number of peers here https://github.com/status-im/status-scale/blob/master/tests/metrics_test.go#L20

Check readme for steps how to run those tests. There is couple of prerequisites

<blockquote><img src="https://avatar

[2018-06-22 16:04] #1033 closed, assigned to pedropombeiro

[2018-06-25 12:43] adriacidre opened #1054 "WaitForPeer shared testing function"
# Problem

There are some places where we add peers to the current node, but we don't have, or, have a different  implementation on each test.

# Implementation

We should create a testing shared function to wait for peers similar to: https://github.com/status-im/status-go/blob/develop/node/status_node_test.go#L268-L311 so it can be used every time we add a peer to the current node.

Example: http

[2018-06-25 13:27] #1041 closed, assigned to adriacidre

[2018-06-25 13:31] flexsurfer opened #1056 "eth_uninstallFilter"
# Problem

An overview of the background required to understand the problem.
A problem description.

# Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

#

[2018-06-25 13:33] flexsurfer opened #1057 "eth_uninstallFilter support"
see react-native issue https://github.com/status-im/status-react/issues/4873

[2018-06-25 13:33] #1056 closed, assigned to nobody

[2018-06-25 15:21] #1042 closed, assigned to gravityblast

[2018-06-25 15:26] oskarth commented on #1025
Inspiration from Vitalik, 100% agree: https://twitter.com/vitalikbuterin/status/1010504159211282433?s=21

<blockquote><img src="https://pbs.twimg.com/profile_images/977496875887558661/L86xyLF4_400x400.jpg" width="48" align="right"><div>Twitter</div><div><strong><a href="https://twitter.com/VitalikButerin/status/1010504159211282433">Vitalik "Not giving away ETH" Buterin on Twitter</a></strong></div

[2018-06-25 22:33] divan opened #1059 "Account for panics in goleveldb"
We use https://github.com/syndtr/goleveldb for persistence in Mailserver, and this library is written a way that uses panics heavily (`grep -r "panic("  . | wc -l` yields `63`).

This may cause Mailserver to crash when one of the requests ended up with panic inside goleveldb library.

The easy (and correct) workaround for this is to catch the panics in our code whenever we use leveldb.

<blockquot

[2018-06-26 08:07] adriacidre commented on #1057
hey @flexsurfer, could you provide more info on how/from `eth_uninstallFilter` is being requested?
We're already supporting this endpoint, so, we will need more info to debug where is the problem.

[2018-06-26 08:12] flexsurfer commented on #1057
@adriacidre  could you provide more info on how we can use this endpoint? so dapp calls `web3.eth.uninstallFilter` synchronously but we don't support sync calls, can we call it async?

[2018-06-26 09:51] adriacidre commented on #1057
Hey @flexsurfer [this is a test](https://github.com/status-im/status-go/blob/5bbfabde94676d517485757e2657aa13d6e28cf5/t/e2e/services/filters_latest_test.go#L66) with an example on how's called, something like:

[code]

The problem may be the endpoint is available through the `HttpProvider` while dApp is trying to access it through `IpcProvider`.

Anyway, we need more details to on how you debugged

[2018-06-26 09:58] gravityblast opened #1063 "Test that mailserver recover from leveldb panics"
# Problem

This issue is a follow up of #1059. A PR has already been created to recover from those panics #1061.
We can add some tests to be sure we always manage those errors.

# Implementation

Change the `db` field in MailServer to be an interface so that we can use a fake db that always panics.

# Acceptance Criteria

All the calls to `leveldb` methods can panic and `MailServer` should not cra

[2018-06-26 11:53] flexsurfer commented on #1057
thanks @adriacidre let me check, maybe we don't need changes on go side

[2018-06-26 14:37] flexsurfer commented on #1057
fixed on react-native side

[2018-06-26 14:37] #1057 closed, assigned to nobody

[2018-06-26 14:49] #1059 closed, assigned to nobody

[2018-06-26 15:10] adriacidre commented on #940
Guys, I've been keeping an eye on broken builds for a while now, and wasn't able to see this problem anymore.
I'm closing this issue now, but, feel free to re-open if you find the same problem.

[2018-06-26 15:10] #940 closed, assigned to nobody

[2018-06-27 07:55] #1054 closed, assigned to adriacidre

[2018-06-27 12:22] #1063 closed, assigned to gravityblast

[2018-06-28 08:17] jakubgs opened #1067 "Memory Leak in statusd"
# Problem

There appear to be a memory leak in `statusd` that manifests itself mostly in the Digital Ocean fleet since it's more utilized.
Here's an example of hosts running out of memory:
![memory_leak](https://user-images.githubusercontent.com/2212681/42022017-68ac8936-7abc-11e8-8d8c-733cacdc1bcb.png)
https://grafana.status.im/d/YFtG6HViz/hosts-dashboard?orgId=1&from=1530101258724&to=15301733835

[2018-06-29 16:33] adambabik commented on #1067
I cannot reproduce it on the localhost. I was connected to the cluster as a normal peer but the memory stayed the same.

I will run tests on one of the servers.

[2018-06-30 09:59] fanmeilexiu opened #1074 "test"
# Problem

An overview of the background required to understand the problem.
A problem description.

# Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

#

[2018-06-30 17:03] shazow commented on #1025
What kind of perf goals are you looking for?

I'm working on [vipnode](https://vipnode.org/) as part an EF grant and with whitelisted static nodes I'm getting very good light client connection times (well under a second).

This could be a good compromise between relying on centralized providers vs going through the full dicsv5 dance which can take anywhere between minutes-to-hours to find an open

[2018-06-30 17:37] #1074 closed, assigned to nobody

[2018-06-30 17:39] dshulyak commented on #1067
It might depend on the number of peers and received envelopes.
status-scale can be used to implement reproducible environment for this case

[2018-07-02 07:38] #1036 closed, assigned to gravityblast

[2018-07-02 07:44] adriacidre opened #1076 "Discover mail servers on demand"
A new RPC endpoint `peer_discover` endpoint should be exposed to discover a specific number of mail servers, whenever a mail server is found a signal `enode.discovered` should be sent back to status-react with a body like:
[code]

[2018-07-02 10:52] jakubgs commented on #1067
I believe @dshulyak is right, since we didn't see hosts running out of memory on Google Cloud hosts while they were mostly unused.

[2018-07-03 22:23] adambabik commented on #1025
@shazow that's one issue. Another thing is data volume needed to be synced. One solution is to provide a secure way of updating CHT roots so that the sync is minimal. Another interesting case is what Vitalik said in the tweet posted above by @oskarth. Actually, that sounds like a great phase 1.

vipnode as an option also sounds good. We will definitely consider it.

[2018-07-03 22:27] shazow commented on #1025
Right. IIRC that initial sync data is on the order of ~200mb? In the grand scheme of things, that's on the order of a small-medium sized mobile game these days.

That is an interesting avenue! Not sure how much work that would be.

[2018-07-04 11:50] divan commented on #1025
There is a neat idea posted one day by @dshulyak: run trusted servers (we have them in our cluster) and broadcast new CHT/BloomTrie roots via Whisper, encoded by private key(s). So the client just have to subscribe to the given topic and have the corresponding public key(s) hardcoded to decrypt the CHT broadcast.
I think it's worth to evaluate this approach.

[2018-07-04 12:55] dshulyak commented on #1025
that is certainly possible, however it makes our clients even more reliant on our own infra, which is probably not a good thing (especially for the chain).

i would start by outlining actual problems:

1. it was pointed our that ethhash nonce verification is cpu consuming. however benchmarks in geth are showing the following:

[code]

and for example encryption that we use in whisper

[code]

i mi

[2018-07-04 15:51] shazow commented on #1025
Even if you start a light client with some static node(s), the client will still use discv5 to find additional nodes after the fact (unless run with --nodiscover). If it's desirable to mix trusted nodes with random peers (to reduce trust and allow consensus confirmation), then that already works out of the box. If not, then it's easy enough to disable or limit the number of peers to something smal

[2018-07-04 16:53] adambabik commented on #1025
@dshulyak that's a great approach!

I think it was a guess. Also, LES received many updates since then. However, as a combination of many operations and large number of packets, it still may perform poorly in terms of battery consumption, at least during the initial catch-up.

Pruning does not work this way that it removes old data? So still it would start syncing from CHT `Tn` until `Tm` but it w

[2018-07-04 17:04] adambabik commented on #1025
@shazow in our setup, we may take an advantage of finding the random LES peers using server nodes and Discovery V5 and pass found peers to mobile clients using more efficient rendevouz peer discovery protocol. Still, the problem will be whether that found LES server has free slots and will accept our connection...

Which brings us to reserving LES server slots. Thanks for sharing the blog post abo

[2018-07-04 19:05] shazow commented on #1025
If you're already running your own full nodes, you could whitelist all Status client node IDs on your cluster. I have a PR pending for geth that exposes an RPC to do this without restarting the server: https://github.com/ethereum/go-ethereum/pull/16333

If you wanted to roll your own, the flow would be: User opens Status client for the first time, node keypair gets generated, which pings your coor

[2018-07-05 10:46] adambabik commented on #1067
I run a bit more tests:
1. When I run the tests on my local machine and the OS had a lot of available memory, it was steadily going up. At the same time, pprof did not report any memory leaks and used memory reported by `debug_metrics` were not increasing. This suggests that there is no memory leak but OS does not reclaim memory allocated by the process even though Go released it.
2. I did the sam

[2018-07-05 14:31] jakubgs commented on #1067
Thanks @adambabik , I've implemented some memory limits for the nodes here:
https://github.com/status-im/infra-eth-cluster/commit/72b194722be4859c97ca43326f75611c9d6658fa
Already deployed to `eth.test` and `eth.staging`. If nothing breaks I'll deploy it to `eth.beta`.

[2018-07-09 10:18] divan commented on #378
closing as outdated

[2018-07-09 10:18] #378 closed

[2018-07-10 07:54] adriacidre opened #1085 "Flaky test TestShhExtSuite/TestRequestMessagesSuccess"
# Problem

Test `TestShhExtSuite/TestRequestMessagesSuccess` is flaky with the output
[code]

[2018-07-11 02:26] yenda opened #1086 "Canary for mailservers health"
# Problems

Currently we ping mailservers to check if they are up, but we don't request messages which might be insufficient to detect some failures.

# Implementation

Implement a canary service that will request messages from each mailservers every 10 seconds.
The more consistent channel for this purpose is probably the #humans-need-not-apply channel where the timestamp bot is posting regularly.

[2018-07-11 13:06] adriacidre commented on #1012
Haven't seen it in a while, closing this issue.

[2018-07-11 13:06] #1012 closed, assigned to nobody

[2018-07-11 13:39] adriacidre commented on #927
Some use cases for status-scale to be useful for CI:

1. to test behavior when **network is broken** in some way (for instance we can drop not 100% of traffic but 5% on an individual link) and verify that in general messaging is still 100% reliable

2. when **metrics need to be collected**. we can actually simulate real workload and collect p2p traffic and verify that it is below certain threshold

[2018-07-11 14:42] #1085 closed, assigned to adriacidre

[2018-07-12 08:35] adriacidre opened #1093 "Mail servers compatible with sym AND asym keys"
# Problem

Current implementation of mail server allows you to manage envelopes signed with a `sync` OR an `async` keys.

# Implementation

Following a thread opened on slack by @pilu this issue proposes an approach where the mail server is able to manage both signing types (sym and asym) with preference on asym key.

# Acceptance Criteria

Mail server can manage envelopes signed both with symetri

[2018-07-12 10:43] adambabik opened #1094 "Can not resolve a node from static nodes in cluster"
# Problem

In `cluster.go` we have a node: `enode://a6a2a9b3a7cbb0a15da74301537ebba549c990e3325ae78e1272a19a3ace150d03c184b8ac86cc33f1f2f63691e467d49308f02d613277754c4dccd6773b95e8@206.189.108.68:30304`.

It can't be resolve:
[code]

# Implementation

Debug why it is so and if the enode is incorrect, replace it with a correct one.

# Acceptance Criteria

All static nodes in `mainnetCluster` and `r

[2018-07-12 10:57] jakubgs commented on #1094
Oh yeah, this is caused by me replacing all DigitalOcean hosts like 2 weeks ago. This config file is using a droplet IP rather than a floating IP, so when the host got replaced the IP became useless.

The config file should be updated with any enode from any host from:
https://consul.status.im/ui/do-ams3/services/statusd-whisper?s=eth.beta

I'll make a PR to update this.

<blockquote><div><strong>

[2018-07-12 11:02] jakubgs commented on #1094
Here's the fix: https://github.com/status-im/status-go/pull/1095

[2018-07-12 12:58] #1094 closed, assigned to jakubgs

[2018-07-12 20:38] sebastiandelgado opened #1097 "Remove Pending Sign Requests from status-go"
# Problem

After #1070 gets merged, sign/pending_requests.go won't be used anywhere so it needs to be removed.

# Implementation

Remove sign/pending_requests.go along with its tests and any uses in backend.go

[2018-07-16 07:40] #1076 closed, assigned to adriacidre

[2018-07-16 09:07] #1093 closed, assigned to adriacidre

[2018-07-17 13:48] adambabik opened #1100 "Allow to start node with different fleet"
# Problem

Currently, we have two fleets: `eth.beta` and `eth.staging`. However, it's not possible to easily start the status node with one or another.

# Implementation

Implement a way to select a fleet when starting node via CLI (`statusd`) or using a configuration JSON blob (status-react).

# Acceptance Criteria

1. It's possible to start the node with both fleets,
2. Cache layer is separated

[2018-07-17 15:54] dshulyak commented on #1100
cache uses location based on datadir https://github.com/status-im/status-go/blob/develop/cmd/statusd/main.go#L41 . just change that and cache will be isolated. any reason not to do so?

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="h

[2018-07-17 16:09] adambabik commented on #1100
That's a great idea!

So the only thing that is left is to add `eth.staging` to `cluster.go`.

[2018-07-18 09:41] jakubgs commented on #1100
Would it not be possible for `status-react` to provide the full list of both `bootnodes`, static `whisper` and `mail` nodes to the `status-go` library? Having to change to different files in two different repos to update fleet info is a pretty wonky process.

Also, I've created the following related issue: https://github.com/status-im/status-react/issues/5213

[2018-07-18 10:50] adambabik commented on #1100
It is possible. Probably we need to make one tweak in status-go because I don't think it's possible to provide custom static nodes. Bootnodes can be provided by status-react for sure.

Bootnodes must be included in status-go as well as we use it in many places and assume bootnodes are available. Having said that, status-react as a client should have a possibility to override any nodes included in

[2018-07-19 16:00] cammellos commented on #1067
@adambabik just out of curiosity, I have noticed https://github.com/status-im/status-go/blob/e9c3b779b99a3debefd1b1c169c458146d8fbd70/lib/library.go#L118
those should be created on the heap and go those not garbage collected (we should `free` them), how do they get garbage collected/memory freed? Is it possible that are a source of the memory leak?

[2018-07-19 16:01] cammellos commented on #1067
I guess probably not the same, as those are mainly used by the mobile app (or only ?), but still curious :)

[2018-07-20 07:09] adambabik commented on #1067
That's correct, CGo functions are only used by the mobile so that not the source of memory leaks here.

Regarding `return C.CString(outputJSON)`, ownership transfer happens in such a case. Java or ObjC are responsible to free this memory as it can't happen in Go (it does not know for how long this memory will be needed as it merely returns it). I don't see any `CString` allocations in `library.go`

[2018-07-20 07:11] adambabik commented on #1067
@jakubgs how is the solution with limiting Docker containers resources doing?

[2018-07-20 09:29] jakubgs commented on #1067
Pretty good. We've stopped hitting 0 free memory and 100% cpu utilization since I've added the memory limits:
![eth_beta_cpu](https://user-images.githubusercontent.com/2212681/42995044-2283cff4-8c10-11e8-9fe8-0554172e555d.png)
![eth_beta_mem](https://user-images.githubusercontent.com/2212681/42995055-2457e4f0-8c10-11e8-81a6-6b06581c8668.png)
Though it still tends towards using as much as it can un

[2018-07-20 10:16] adambabik commented on #1067
Thanks for the details! Yeah, it's still super strange. Clearly, there is something wrong with `statusd` executable. I have never seen such a characteristic for Go services. At the same time, the memory is fully reclaimed so it suggests some memory/GC settings rather than a memory leak.

[2018-07-20 11:25] divan commented on #1067
So what's the current state – we have no ideas of the leak?

Can we deploy one server with memory profiler enabled?

[2018-07-23 09:27] flexsurfer opened #1110 "Implement eth_newFilter and eth_newPendingTransactionFilter"
# Problem

https://github.com/status-im/status-react/issues/5162

# Implementation

Implement `eth_newFilter` and `eth_newPendingTransactionFilter`.

# Background

Infura used to offer these methods (which was a questionable approach, but very convenient to us).
Now they remove support for all the filters whatsoever, so when we use an RPC mode, we need to re-implement these APIs by ourselves.

We

[2018-07-24 22:05] divan commented on #1067
So as we've seen both CPU and Memory steady growth, I assumed it must be goroutine leak (which would explain both CPU and memory increase). But after adding goroutines to metrics (#1077) and monitoring for a while, it was obvious that it's not the case - goroutines number was stable.

![screen shot 2018-07-24 at 23 00 20 2](https://user-images.githubusercontent.com/880202/43165907-6600bcb4-8f95-11

[2018-07-24 22:15] divan opened #1115 "Don't compile signal package for server"
# Problem

Signal package is used to send signals (events) to UI codebase, which is at this moment one of those: iOS, Android, React-Desktop. This package by design require interoperability with alien codebases, so it uses CGo.

[Cgo is not go](https://dave.cheney.net/2016/01/18/cgo-is-not-go), and seems like it already caused memory leak (see details here
 https://github.com/status-im/status-go/i

[2018-07-24 22:20] divan opened #1116 "Free C.CString memory"
# Problem

We use CGo in a few places, where we need to interact with alien UI codebase (`lib` and `signal` packages). Historically, the code is uses calls like `send(C.CString(jsonData))`, which seems to be leaking memory (see
https://github.com/status-im/status-go/issues/1067#issuecomment-407567649).

According to https://blog.golang.org/c-go-cgo:

We need to properly free memory and test that i

[2018-07-24 23:33] jakubgs commented on #1067
This is some amazing work @divan, thanks a lot for all of your research and for documenting your findings in such a detailed way.
Maybe a writeup of how you did your research or a short presentation could let others learn how to debug such issues. It would be pretty amazing!

[2018-07-25 07:06] adambabik commented on #1116
I was skimming through `library.go` and it looks like it only returns `C.CString`s. However, this still can cause memory leaks as I am not sure if ObjC or Java frees that memory.

[2018-07-25 07:10] adambabik commented on #1067
Great stuff! I did a similar thing but I did not follow up with `so I started saving heap profiles in debug mode`. I forgot that CGO stuff is not well handled by some `go tool`s.

Overall, an interesting case that proves again that using CGO should be avoided.

[2018-07-25 13:13] divan commented on #1067
@adambabik thanks, yeah, CGo is (not)surprisingly bad thing to debug with profiles.
@jakubgs thanks, but I think this topic is well covered in talks and articles – I know from memory a few really awesome talks on Go profiling from Brad Fitzpatrick and Prashant Varanasi.

[2018-07-26 10:11] divan commented on #1110
@flexsurfer can you provide more descriptive explanation of that? Starting from why we don't have it implemented at the moment and to the acceptance criteria and examples how to test it locally?
The more descriptive PR is the higher chances someone would jump in to fix it asap.

[2018-07-26 11:04] #1067 closed, assigned to adambabik

[2018-07-26 11:05] divan commented on #1110
Related: https://github.com/status-im/status-go/pull/1113

[2018-07-26 12:14] #894 closed, assigned to mandrigin

[2018-07-26 12:16] flexsurfer commented on #1027
@sebastiandelgado any updates on this? what are our next steps?

[2018-07-26 14:01] #746 closed, assigned to divan

[2018-07-26 14:02] divan commented on #768
Closed in https://github.com/status-im/status-go/pull/1106

[2018-07-26 14:02] #768 closed, assigned to nobody

[2018-07-26 14:08] sebastiandelgado commented on #1027
@flexsurfer Its almost done. Already approved and merged most of the changes into the branch `feature/remove-transactions-queue-1027`. I have a PR open for the last commit (https://github.com/status-im/status-go/pull/1117) that should make this feature branch ready to merge. You can check the new interface for calling signMessage and sendTransaction at the lib/library.go file.

[2018-07-27 09:13] mandrigin commented on #1110
@divan added more background on the issue.

[2018-07-27 16:51] sebastiandelgado commented on #1110
@divan @flexsurfer #1113 just closed with the implementation for `newPendingTransactionFilter` in it. Let me know if there's any trouble with that interface, or any next steps.

[2018-07-29 15:48] divan opened #1124 "Refactor signals mechanism"
# Problem

The current design of `signals` package is flawed, leads to unreliable tests, unneeded dependency on CGo and less readable codebase.

# Intro

A quick reminder of what `signals` package is responsible for: it implements a simple communication mechanism between "Go part" (`status-go`) and "UI part" (`status-react`). It allows Go code to send events like "Node crashed" so it can be handle

[2018-07-29 16:14] divan commented on #1124
@MaxRis this refactor will break the current way how you use signals in status-desktop, I think. Can we discuss it here what will be the best way for you to receive signals from status-go in status-desktop?

[2018-07-29 18:32] divan opened #1126 "Move RPC method names from params package"
# Problem

As we have some web3 methods overridden and implemented in status-go, we defined their names in `params` package:

[code]
But it has little sense to have them in `params`, because:
 - they're not paramteres in any sense of this word
 - they virtually never change (only if spec changes)
 - they used exactly once (plus 2 times max in tests)

And one of the side-effects is that it hides th

[2018-07-30 09:34] adambabik commented on #1100
It was done in https://github.com/status-im/status-go/pull/1111.

[2018-07-30 09:34] #1100 closed, assigned to nobody

[2018-07-30 10:04] adambabik opened #1128 "Refactoring `peers` package proposal"
# Problem

`github.com/status-im/status-go/peers` was originally written with single topic pool and peers selection strategy in mind, however, during our work on peers discovery systems, it turned out that we need more fine-grained control.

This is a proposal that introduces more flexibility to `TopicPool` and related objects.

# Implementation

General rules:
1. Make `Start()` and `Stop()` opera

[2018-07-30 10:28] maxhora commented on #1124
Hey @divan , will it be possible to implement status-desktop support in the similar way how it works currently? at the moment status-desktop via react-native's `Status` module sets C callback function pointer and status-go executes this callback when some event occurred. P.S. Additional complexity adds the fact that GoLang is not able to handle unsafe pointer to C callback directly in Go source co

[2018-07-30 15:22] adambabik opened #1129 "Write a proxy between Ethereum and Status networks"
# Problem

**Ethereum network** -- the main network of peers where the Ethereum transactions are propagated and mined. Ethereum network nodes can run other protocols like swarm or Whisper.
**Status network** -- a subnetwork of the Ethereum network which nodes run additional protocols (rendezvous) or the same protocols but with particular settings (Whisper).

The definition of Status network is not

[2018-07-30 15:23] adambabik commented on #1129
@dshulyak please check if everything makes sense :)

[2018-07-30 16:33] dshulyak commented on #1129
LGTM 👍

[2018-08-01 14:54] adambabik opened #1133 "Analyze status-go binary sizes"
# Problem

There is a couple of use cases that require as smallest binaries as possible, for example, [Android Go](https://www.android.com/versions/oreo-8-0/go-edition/).

We should analyze status-go binary sizes:
- how do our binary sizes compare with geth binaries?
- is there anything we can do to make the binaries smaller?
- what's CGO overhead on the binary size, if any?

[2018-08-01 15:06] divan commented on #1133
So Go typically doesn't care much about large binaries size, because original target platform for Go were servers, and disk space is cheap there. However, there are constant attempts to lower the binary sizes or, at least, prevent growing it. The big binary size mostly comes from the fact that Go compiles in everything statically, including standard libraries and runtime code, and from debug infor

[2018-08-03 12:19] adambabik opened #1136 "Sending transactions does not work with release 0.10.0"
# Problem

In 0.10.0, we told use `CallPrivateRPC` binding. However, it turned out that it does not work.

# Implementation

1. Create a test case which tries to send a transaction using `CallPrivateRPC`,
2. Find the root cause and fix it,
3. Confirm the issue does not happen for `personal_*` calls.

# Acceptance Criteria

1. Sending transactions work with `CallPrivateRPC`.

# Notes

A PR in statu

[2018-08-07 08:10] #1115 closed, assigned to divan

[2018-08-07 14:21] #1136 closed, assigned to adambabik

[2018-08-07 15:18] #1086 closed, assigned to pedropombeiro

[2018-08-10 13:22] kishansagathiya commented on #423
@tiabc rooky question, but can you tell what is the fullform of CHT?

[2018-08-10 13:46] kishansagathiya commented on #765
I am planning to take up this task. Is this still relevant/required?

[2018-08-12 11:30] kishansagathiya opened #1149 "Make sure dep is installed"
# Problem
`make dep-ensure` directly runs `dep ensure` without checking if dep is installed or not
https://github.com/status-im/status-go/blob/a6d69ebae9f8c7597568a8eb75733e977ac68d37/Makefile#L229

# Implementation
In `make dep-ensure` target one more line could be added to check if `dep` is installed and output a message instructing to run `make setup` if not.

[2018-08-13 08:03] dshulyak commented on #1025
hey @shazow . are you still around?

I wanted to discuss a couple of concerns:

1. how to discover vipnodes? and when they are discovered how to understand if the given vipnode requires a payment?

current documentation seems to assume that every vipnode must be known in advance. it means that either we will have to hardcode such nodes or offload node selection to a user.

even if it will be disco

[2018-08-13 13:53] shazow commented on #1025
@dshulyak

Your understanding is correct.

Quick distinction: Let's call these Vipnode *Pools*. The nomenclature I've been using is Clients -> Pools <- Hosts, where clients are routed to hosts via pools.

The goal is *not* to have vipnode pools be homogeneous. In fact, part of the desired outcomes is to have a variety of pools out there with a variety of properties/guarantees/pricing schemes/etc.

[2018-08-14 08:32] dshulyak commented on #1025
@shazow

thank you for clarifying design decisions, to repeat some points:

1. vipnode pools will act as a discovery entrypoint, and as long as there are enough capacity in the pool - single failure of the any vipnode won't have a significant impact on the client that paid tokens to the pool

also it will be more efficient then discovery v5. we recently added simple registry for ethereum nodes, be

[2018-08-14 13:57] shazow commented on #1025
Indeed. Another option is pools can offer a brief trial per nodeID (maybe something like 10-30 minutes, enough to sign up).

I have looked at that, it does look interesting! Looking forward to seeing more fleshed out implementations.

That code is still early/not fully functional yet. I'm aiming to have a mostly functional implementation by the end of the month.

I'm still fleshing the finer detai

[2018-08-14 15:03] pedropombeiro opened #1153 "Race condition in TestMailServerPeersDiscovery test"
# Problem

Build fails occasionally in Travis CI with:

[code]

Summary retrieved form channel seems to be empty. Build log: [log.txt](https://github.com/status-im/status-go/files/2287450/log.txt)

[2018-08-14 15:05] pedropombeiro opened #1154 "Race condition in TestPendingRequestsSuite/TestWaitFail"
# Problem

`sign request not found` error is returned instead of `test-wait-fail`.

Full log from https://ci.status.im/job/status-go/job/race-check/144/consoleFull:
[log.txt](https://github.com/status-im/status-go/files/2287463/log.txt)

<blockquote><img src="/static/503f105d/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-go/job/race-check/144/consoleFu

[2018-08-15 08:57] pedropombeiro opened #1155 "TestSingleTopicDiscoveryWithFailoverRendezvous is flaky in Jenkins"
# Problem

`TestSingleTopicDiscoveryWithFailoverRendezvous` sometimes times out after 10 seconds waiting for a `signal.EventDiscoveryStopped` pool event. Couldn't reproduce on local machine running with `-race` flag.

Example build: https://ci.status.im/job/status-go/job/race-check/145/consoleFull
Full log: [log.txt](https://github.com/status-im/status-go/files/2289719/log.txt)

<blockquote><img s

[2018-08-15 09:06] pedropombeiro commented on #1116
Maybe we need to expose a method in `library.go` to allow callers to explicitly free up memory returned by methods such as `GenerateConfig` that return `*C.char`?

[2018-08-15 09:19] pedropombeiro commented on #1097
Hey @goranjovic, do you know if this issue still makes sense? As far as I can tell, `pendingSignRequests` is still in use.

[2018-08-15 09:20] pedropombeiro commented on #891
Closing as jail code has been removed.

[2018-08-15 09:20] #891 closed, assigned to nobody

[2018-08-15 09:31] pedropombeiro commented on #765
@kishansagathiya looks like it is still relevant, judging by the `static/config` folder.

[2018-08-16 11:37] #1027 closed, assigned to nobody

[2018-08-16 13:40] kishansagathiya commented on #1116
I was not able to find any usage of `GenerateConfig`(same for few other methods that return *C.char). Are these methods being consumed by some other status-im projects/services? If so, which?

[2018-08-16 13:57] pedropombeiro commented on #1116
Yes, they are consumed by https://github.com/status-im/status-react

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-im/status-react</a></strong></div><div>status-react - a free (libre)

[2018-08-17 10:07] adambabik opened #1157 "Add labels to docker images to identify them better"
# Problem

Currently, we use tags like `deploy-staging` for docker images. When such an image is deployed, we have no information what version it is, who created it etc.

# Implementation

Add the following `LABEL`s to docker images:
1. `LABEL version={{ version }}`
2. `LABEL git_sha={{ git_sha }}`
2. `LABEL author={{ author }}`

# Acceptance Criteria

1. It's easy to figure out which status-go ve

[2018-08-18 07:20] kishansagathiya commented on #765
@PombeirP I have attempted a PR(https://github.com/status-im/status-go/pull/1158) for this. Please review whenever free.

[2018-08-18 16:28] kishansagathiya commented on #694
https://github.com/status-im/status-go/pull/760 was closed because `make generate` was to be removed. Shouldn't this be closed?

[2018-08-19 08:16] kishansagathiya commented on #1157
@adambabik

Do you mean author of the latest commit or maintainer of the Dockerfile?

[2018-08-20 07:36] adambabik commented on #1157
I was thinking about an author of the particular build. Using git SHA, we can figure out author of the commit but it does not need to be a person who created and pushed the image.

We can also add `LABEL maintainer=` to some email alias within status.im org.

[2018-08-20 08:03] mandrigin commented on #633
the test apps are in this repo: https://github.com/status-im/energy-efficient-bok

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/energy-efficient-bok">status-im/energy-efficient-bok</a></strong></div><div

[2018-08-20 08:03] #633 closed, assigned to mandrigin

[2018-08-20 09:42] pedropombeiro commented on #694
Good catch @kishansagathiya, closing.

[2018-08-20 09:42] #694 closed, assigned to nobody

[2018-08-20 11:42] jakubgs commented on #1157
I was working on something like this but never finished:
https://github.com/status-im/status-go/commit/0db25ab1819d2bb98fdbbce60ae7839903fe50e9

[2018-08-21 09:16] dshulyak commented on #1025
there is an additional risk in doing so. any client (status included) will be able to abuse this property, and create new identity every 10-30 minutes.

i have a following proposal in mind:

![vipnode](https://user-images.githubusercontent.com/1964576/44392154-3aeb8580-a53a-11e8-8a66-2e02284c25eb.png)

Vipnode pool will act as a proxy to ethereum for deposits ([addBalance](https://github.com/vipno

[2018-08-21 12:46] #765 closed, assigned to nobody

[2018-08-21 14:02] shazow commented on #1025
Indeed but I suspect that's a relatively low risk/low damage. I imagine it like the Netflix model--convenience from paying a small fee outweighs the savings of piracy for many people.

That sounds reasonable also, though I suspect just sending a blind transaction won't be sufficient for some edge cases. Clients would need to sync their state first (e.g. at least to figure out which nonce to use).

[2018-08-21 17:36] pablanopete commented on #765
@kishansagathiya Thanks so much for working on this issue! Right now we're handling SOB payments out of band, could you either email me with an appropriate ERC-20 compatible wallet (like status) at chris.hutchinson@status.im or drop it in here at your convenience so I can help handle this payout thanks for your contributions to status!

[2018-08-22 03:47] kishansagathiya commented on #765
@pablanopete emailed you

[2018-08-24 03:12] dshulyak opened #1169 "Meter the number of proxied records"
# Problem

We need to know number of proxied records, per each topic, at any given time.

# Implementation

Extend cmd/proxy with prometheus metric for number of unique proxied records per topic

# Notes

Maybe it makes sense to use other metrics, but I dont have ideas what they could be at the moment

[2018-08-24 03:16] dshulyak opened #1170 "Limit number of proxied records per topic"
# Problem

Number of proxied records grow indefinitely in the proxy component, we need to have a sane limit.
Maybe somewhere between 1000-10000. Important to check cpu and memory usage, network traffic is not that important it would very low anyway.

# Implementation

I would process found records in fifo order, so if limit is 100, and found we 101, 1 would be popped from the stack and removed.

[2018-08-24 10:25] #1157 closed, assigned to adambabik

[2018-08-28 12:50] #440 closed

[2018-08-30 20:56] pablanopete commented on #765
Payment sent @kishansagathiya

[2018-08-31 08:51] #740 closed, assigned to nobody

[2018-08-31 15:53] #423 closed

[2018-09-04 08:31] pedropombeiro opened #1180 "Refactor configuration"
# Problem

For an in-depth description of the problem, see the [discuss post](https://discuss.status.im/t/refactoring-configuration-in-status-go/356).

# Implementation

- [x] Implement `-c` config flag to accept JSON (YAML?) files that are merged in occurrence order;
- [x] Remove all other config flags
- [x] Get rid of logic that updates config at the end of `NewNodeConfig`
- [ ] Flatten configur

[2018-09-05 11:35] JekaMas opened #1182 "Update ethereum and make ULS as a patch"
# Problem

Ethereum ULC merge is rather slow, so it seems reasonable to start using ULC as a ethereum patch.

# Implementation

ULC latest version https://github.com/status-im/go-ethereum/commit/dd74773e05a595c00668821c4bfab75e0da188d4
Go ethereum version
https://github.com/status-im/go-ethereum/commit/63352bf4247f05d8ef255ff8c63290225c3bc671

# Acceptance Criteria

ULC is integrated as a patch

[2018-09-07 20:28] divan opened #1185 "Reproducible builds of statusgo"
# Problem

We want to ensure reproducible (deterministic) builds for statusd and status-go libraries. This is an important security aspect of the modern open-source software. It is also required by F-Droid and non-reproducible builds seem to be a blocker. See explanation here: https://github.com/status-im/status-react/issues/5587

Any used must be able to build status-go by herself and get the ide

[2018-09-10 23:55] pablanopete commented on #812
@dshulyak is this issue still bounty-able once we start adding new bounties?

[2018-09-11 16:48] pedropombeiro opened #1188 "Create script to dynamically update fleets config in repo"
# Problem

With the changes to the configuration in https://github.com/status-im/status-go/issues/1180, there are new embedded files containing the fleet enodes. We need a command to ensure that the enodes reflect the latest information from fleets.status.im.

# Implementation

Implement a `make update-fleet-config` target that updates the files in-place.

[2018-09-13 12:41] pedropombeiro opened #1190 "Make status-go-manual build generate static library for Status Desktop"
# Problem

Status Desktop is currently building status-go from its CMake script. This is unnecessary and a special case when compared to the mobile platforms. As such, we should ensure we generate a `libstatus.a` static lib in `_assets/ci/Jenkinsfile-manual` and use that from https://github.com/status-im/status-react/blob/develop/modules/react-native-status/desktop/CMakeLists.txt.

# Acceptance Cr

[2018-09-13 16:31] #1180 closed, assigned to pedropombeiro

[2018-09-14 08:46] #1188 closed, assigned to pedropombeiro

[2018-09-15 23:19] divan commented on #1185
Before implementing Docker-based solution, I decided to evaluate other options. Essentially we just have to find a way to spoof/fake current directory path, and using Docker for that seems to be a bit too heavy.

### Faking current dir path
I naturally started by asking the question "How we can fake the directory path?". I.e. go build process will be referring to `/some/constant/path/`, while the

[2018-09-18 12:58] mandrigin opened #1195 "[WIP] `eth_getBlockByNumber` fails in LES"
Logs nearby

[code]

[2018-09-19 10:08] divan commented on #1195
Could you provide more information on the issue?

[2018-09-19 10:35] mandrigin commented on #1195
the issue isn't ready yet

[2018-09-20 07:19] pedropombeiro opened #1202 "Add support for testing static nodes with mailserver-canary"
# Problem

In order to have a better overview of the health of our fleets, we need to be able to tell when a static node is not responding correctly.

# Implementation

- Add a `-staticnode` argument that takes a static node enode address;
- Rename project to `node-canary`

# Acceptance Criteria

node-canary returns 0 exit code when a working static node is specified, and a positive number otherwi

[2018-09-20 11:25] #1202 closed, assigned to pedropombeiro

[2018-09-24 15:04] ghost commented on #1049
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #1013
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #958
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #950
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #978
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #860
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #846
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #888
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #882
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #884
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #238
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #586
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #847
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #277
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #449
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #343
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #662
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #580
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #295
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #583
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #585
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #589
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #576
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #588
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #587
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #323
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #546
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #408
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:04] ghost commented on #404
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #287
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #356
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #324
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #405
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #252
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:14] ghost commented on #259
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:55] oskarth commented on #576
^ @JekaMas @mandrigin what do you want to do with this issue?

[2018-09-25 08:55] flexsurfer opened #1216 "Introduce and expose "shh_postRaw" method"
# Problem

It should be possible to prepare and encrypt messages outside this method and post them into whisper network using this method

part of https://discuss.status.im/t/web3-js-whisperprovider-sign-with-status-everywhere/370

<blockquote><img src="https://discuss.status.im/uploads/default/optimized/1X/7bbf16f6cc54605316f30b5a133947c4853e3ea7_1_690x425.png" width="48" align="right"><div><img

[2018-09-26 15:45] azbshiri commented on #1149
/assign

[2018-09-27 09:00] flexsurfer opened #1219 "Implement EIP-712 (new RPC call eth_signTypedData)"
Description
Type: Feature

Summary: Implement https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md (eth_signTypedData).

As EIP-712 is finally merged and both MetaMask and Trust Wallet will support it soon, it would be great if status would implement this too.

status-react issue https://github.com/status-im/status-react/issues/5461

[2018-10-01 15:06] ghost commented on #404
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #432
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #408
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #546
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #323
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #587
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #588
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #589
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #585
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #583
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #580
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #662
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #343
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #449
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #277
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #847
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #586
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #238
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #884
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #882
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #888
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #846
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #860
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #978
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #950
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #958
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #1013
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] ghost commented on #1049
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:06] #404 closed

[2018-10-01 15:06] #432 closed

[2018-10-01 15:06] #408 closed

[2018-10-01 15:06] #546 closed, assigned to nobody

[2018-10-01 15:06] #323 closed

[2018-10-01 15:06] #587 closed, assigned to nobody

[2018-10-01 15:06] #588 closed, assigned to nobody

[2018-10-01 15:07] #589 closed, assigned to nobody

[2018-10-01 15:07] #585 closed, assigned to nobody

[2018-10-01 15:07] #583 closed, assigned to nobody

[2018-10-01 15:07] #580 closed, assigned to b00ris

[2018-10-01 15:07] #662 closed, assigned to JekaMas

[2018-10-01 15:07] #343 closed

[2018-10-01 15:07] #449 closed

[2018-10-01 15:07] #277 closed

[2018-10-01 15:07] #847 closed, assigned to nobody

[2018-10-01 15:07] #586 closed, assigned to nobody

[2018-10-01 15:07] #238 closed

[2018-10-01 15:07] #884 closed, assigned to nobody

[2018-10-01 15:07] #882 closed, assigned to pedropombeiro

[2018-10-01 15:07] #888 closed, assigned to themue

[2018-10-01 15:07] #846 closed, assigned to nobody

[2018-10-01 15:07] #860 closed, assigned to nobody

[2018-10-01 15:07] #978 closed, assigned to dshulyak

[2018-10-01 15:07] #950 closed, assigned to nobody

[2018-10-01 15:07] #958 closed, assigned to nobody

[2018-10-01 15:07] #1013 closed, assigned to nobody

[2018-10-01 15:07] #1049 closed, assigned to nobody

[2018-10-01 15:16] ghost commented on #259
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] ghost commented on #252
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] ghost commented on #324
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] ghost commented on #405
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] ghost commented on #356
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] ghost commented on #287
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:16] #259 closed

[2018-10-01 15:16] #252 closed

[2018-10-01 15:16] #324 closed

[2018-10-01 15:16] #405 closed

[2018-10-01 15:16] #356 closed

[2018-10-01 15:16] #287 closed

[2018-10-03 18:55] shazow commented on #1025
@dshulyak Hey there, quick update: vipnode v2 is close to getting finalized. Bulk of the work is complete, just the payment mechanism is still missing. I have a binary pre-release here if you'd like to give it a try (feedback appreciated!): https://github.com/vipnode/vipnode/releases

I'm in the process of documenting some stand-alone examples of how to implement a third-party client in a language

[2018-10-04 12:10] adambabik opened #1223 "Allow to run status node as a bootnode"
# Problem

It should be possible to easily run Status Node as a bootnode without a separate binary. Currently, it's possible provided that two conditions are met:
1. Status Node is run with a known IP, for example: `"ListenAddr": "46.101.224.245:30303"`,
2. Discovery V5 does not time out (currently, it can be bypassed by registering a discovery topic).

# Implementation

Provide an additional sett

[2018-10-04 12:41] adambabik opened #1224 "Enable collecting metrics with a config option"
# Problem

Currently, status-go can collect very useful metrics when run with `-metrics` flag. However, after we introduced JSON config files, it should be possible to enable metrics with an entry in the config file.

# Acceptance Criteria

It's possible to collect metrics using a config option in a JSON file and retrieve them with `debug_metrics`.

[2018-10-04 12:46] dshulyak commented on #1223
there is not a lot of benefits doing it. unlike in discovery v5 records are not shared between different rendezvous instances.

[2018-10-04 12:55] adambabik commented on #1223
@dmitryn so if I want my node to be found using rendezvous, I must connect it to a rendezvous server and then others need to ask the same server?

[2018-10-04 14:17] dshulyak commented on #1223
yes. this is pretty much it.
rendezvous is useful only when it is widely known and peers can easily agree which rendezvous points are used.
they still can use many, but anyway rendezvous server must be widely known.

[2018-10-07 13:27] divan commented on #1185
Brad Fitzpatrick mentioned approach used in Google:

[2018-10-07 15:08] divan commented on #1224
@adambabik can you also write what exactly the use cases of using status-go as a library (and why they'd need metrics exposed). I assume it's Status Desktop mostly, right?

[2018-10-07 16:01] adambabik commented on #1224
@divan sorry, I got it super confused. I fixed the description. What I meant is to collect metrics with a config option. Currently, it's possible only with a command line flag `-metrics`.

However, this will cover a case of collecting metrics when status-go is run as a library (like in status-react or Status Desktop case). I believe it's gonna be very useful to debug what's going on with a embedde

[2018-10-08 05:24] #1170 closed, assigned to nobody

[2018-10-08 08:09] dshulyak commented on #1110
I took a look at NewFilter implementation. and i think the easiest way is to implement it by smartly polling `eth_getLogs`. Which is still exposed by infura. And supports pretty much the same filtering criteria as `eth_newFilter` call.

There are few important things that catches my eye. In original implementation filters are closed unless polled regularly. We had similar problem with whisper. And

[2018-10-08 08:14] mandrigin commented on #1110
@dshulyak I think that’s exactly what needs to be done! Go for it! Thanks :)