[2019-11-25 05:13] dependabot-preview[bot] opened #1697 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-25 07:37] adambabik opened #1700 "Create a Waku service as speced in Waku/0"
# Problem

Implement waku/0 protocol, a Status fork of Whisper with additional codes and changes.

All details can be found in [a waku meta issue](https://github.com/vacp2p/pm/issues/2).

# Implementation

* Create a separate submodule which will implement waku/0 subprotocol and will be based on the EIP-627 as well as [Status' fork of geth's Whisper implementation](https://github.com/status-im/whi

[2019-11-25 12:50] adambabik commented on #1639
@oskarth @jakubgs from the conversation on Status/Discord, it looks like the problem is that our bash scripts do not work well on Fedora. Any update on this issue? Should we change this issue description so that it's clear what's the root cause and how it should be fixed?

[2019-11-25 17:19] acolytec3 commented on #1663
@gitcoinbot Yes, thanks for bugging me.

[2019-11-25 20:09] acolytec3 commented on #1663
@gravityblast To make sure I'm following, validate that the seed phrase matches the status dictionary (like `validateMnemonic` and then back out the checksum from the and make sure it matches the first 12 bits of the SHA256 hash of the entropy, right?  Does it make sense to just add that checksum validation to the `validateMnemonic` function in `mnemonic.go` and expose that to status-react?

[2019-11-25 20:20] #1697 closed, assigned to nobody

[2019-11-25 20:21] #1696 closed, assigned to nobody

[2019-11-25 20:22] dependabot-preview[bot] opened #1705 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-26 03:39] oskarth commented on #1639
Oops forgot about this issue, haven't had time to try it / if I did and talked on chat later I forgot about it :sweat_smile: Right now not a priority/blocker for me personally, feel free to edit issue as you see fit. If I try again I'll report back here

[2019-11-27 16:07] #1705 closed, assigned to nobody

[2019-11-27 16:08] dependabot-preview[bot] opened #1707 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/16274429).

[2019-11-27 16:08] #1707 closed, assigned to nobody

[2019-11-27 16:08] dependabot-preview[bot] opened #1708 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/16274424).

[2019-11-28 15:36] gravityblast commented on #1663
sorry @acolytec3 , yeah it makes sense!

[2019-11-28 15:49] andremedeiros commented on #1663
@acolytec3 I think the path forward is:

- [ ] Validation needs to check checksum and fail if it's not valid

You'll have to augment [`ValidMnemonic`](https://github.com/status-im/status-go/blob/26b6d7c36ae615ba99fba5bee9a64f6d5245c7d5/extkeys/mnemonic.go#L204-L231) to include that check. There is a [Golang bip39 implementation](https://github.com/tyler-smith/go-bip39/blob/master/bip39.go) that ha

[2019-11-29 14:07] acolytec3 commented on #1663
@andremedeiros I think so.  I've started looking at the Go bip39 implementation you referenced so will try and get a PR started in the next few days.

[2019-12-02 05:14] #1708 closed, assigned to nobody

[2019-12-02 05:15] dependabot-preview[bot] opened #1710 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/16562741).

[2019-12-02 10:50] oskarth commented on #1700
@adambabik what's the state of this?

[2019-12-02 12:23] #1710 closed, assigned to nobody

[2019-12-02 12:23] dependabot-preview[bot] opened #1712 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/16622420).

[2019-12-05 10:42] guylouis commented on #1663
Hi, any news on that ?

[2019-12-05 10:52] acolytec3 commented on #1663
@guylouis I believe my PR is ready for review but need input on whether to leave the current additional test in place. My instinct says remove the validation step I added to the part of the test that looks at the precomputed seed vectors since it looks like at least the Japanese ones use words not in the Japanese word dictionary.

I believe the code that validates the checksum is sound and ready f

[2019-12-05 16:31] #1712 closed, assigned to nobody

[2019-12-06 08:49] flexsurfer opened #1719 "Use cloudflare instead infura for mainnet"
# Problem

We have lots of issues with infura, fetching balances, transaction history, verifying ens names , also now infura introduced paid plans

# Implementation

Use https://cloudflare-eth.com

https://developers.cloudflare.com/distributed-web/ethereum-gateway/interacting-with-the-eth-gateway/

# Acceptance Criteria

All problematic functionality work without issues

[2019-12-06 09:08] #1719 closed, assigned to nobody

[2019-12-08 17:55] adambabik opened #1721 "Implement the rest of rate limiting defined in the spec"
# Problem

The rate limiting is currently implemented partially. This issue is about implementing the whole spec in `whisper/` directory. It depends on https://github.com/status-im/status-go/pull/1720.

# Implementation

Follow the spec https://github.com/status-im/specs/blob/master/status-whisper-usage-spec.md#rate-limiting.

# Acceptance Criteria

1. Rate limiting conforms to the spec.
2. There

[2019-12-08 22:17] weekly-digest[bot] opened #1722 "Weekly Digest (1 December, 2019 - 8 December, 2019)"
Here's the Weekly Digest for [status-im/status-go](https://github.com/status-im/status-go):
# ISSUES
This week, 17 issues were created. Of these, 6 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #1721 [Implement the rest of rate limiting defined in the spec](https://github.com/status-im/status-go/issues/1721), by [adambabik](https://github.com/adambabik)
:green_

[2019-12-09 05:10] dependabot-preview[bot] opened #1723 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/17199857).

[2019-12-09 15:46] guylouis commented on #1663
@flexsurfer @gravityblast
need your insight on who should review this, thanks !

[2019-12-09 19:01] adambabik opened #1726 "Broken contract between submodules versions"
# Problem

status-go uses many submodules like `protocol`, `extkeys` and others. All these submodules have their own versions and can be used independently, that's why we have tags `protocol/v1.0.0` etc. Go Modules can resolve that using imports like this `github.com/status-im/status-go/protocol`.

This is all good stuff because it allows us to keep the closely related code in one place, a concept

[2019-12-10 10:11] flexsurfer opened #1730 "Use cloudflare or latest infura api for ens names verification"
# Problem

Currently the old infura api version is used and we can see that ens names verified not from the first message

# Implementation

use cloudflare api or latest infura api

# Acceptance Criteria

ens names verified from the first message

[2019-12-10 15:21] #1723 closed, assigned to nobody

[2019-12-10 17:34] andremedeiros commented on #1663
@guylouis we're actively reviewing and it's just taking a little bit of polish to get merged.

[2019-12-11 15:45] pedropombeiro commented on #1677
This provides some information about the running node (see [geth docs](https://geth.ethereum.org/docs/rpc/ns-admin#admin_nodeinfo)). Probably not vital but I assumed this would already be implemented in Nimbus. If not I guess I can implement something on the Go side.

There's no geth light node atm. These are probably being routed to Infura.

Yes, this one is just for mailservers. We can make this

[2019-12-15 10:49] weekly-digest[bot] opened #1734 "Weekly Digest (8 December, 2019 - 15 December, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 6 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1733 [add missing shhclient to whisper](https://github.com/status-im/status-go/pull/1733), by [jakubgs](https://github.com/jakubgs)
:green_heart: #1732 [Dro

[2019-12-16 05:43] oskarth commented on #1700
Ping @adambabik

[2019-12-16 07:31] adambabik commented on #1700
It's almost finished. We need to close:
- https://github.com/status-im/specs/pull/74 (required)
- https://github.com/status-im/status-go/pull/1732 (required)
- https://github.com/vacp2p/specs/issues/71 (I can finish this without it because it is the same as https://github.com/status-im/specs/pull/72)

[2019-12-16 13:55] #1663 closed, assigned to nobody

[2019-12-17 03:01] oskarth commented on #1616
Ping @jacqueswww

[2019-12-17 10:10] jakubgs commented on #1616
I've added two simple ways of running bootnodes, can be read about here:
https://github.com/status-im/status-go/blob/develop/BOOTNODE.md
And the configuration is defined here:
* https://github.com/status-im/status-go/tree/develop/_assets/systemd/bootnode
* https://github.com/status-im/status-go/tree/develop/_assets/compose/bootnode

[2019-12-17 12:55] jacqueswww commented on #1616
Cool thanks; will check it out.

[2019-12-17 16:48] yenda opened #1740 "Refactor account/accounts/subaccounts/multiaccount"
# Problem

There is multiple name for the same things, and inconsistencies that lead to confusion in the status-go codebase.
There should only be multiaccounts and accounts. Multiaccounts are the top level and can hold multiple accounts so `StartNodeWithAccount` for instance should be `StartNodeWithMultiaccount`.
`SaveAccount` should be `SaveMultiaccount` and therefore be less ambiguous with `Save

[2019-12-17 16:54] yenda opened #1741 "SaveAccountAndStartNodeWithKey should save accounts like StartNodeWithAccountAndConfig"
# Problem

The wallet account is not saved in the accounts db when creating an account with keycard

# Implementation

Should take an extra `subaccs []accounts.Account` argument and save the accounts `err = accounts.NewDB(b.appDB).SaveAccounts(subaccs)`

[2019-12-18 10:04] yenda opened #1743 "Use same functions for regular and keycard accounts"
# Problem

We already had multiple bugs caused by the fact that keycard uses the same functions as a regular accounts but duplicated and with simple changes. Sometimes the regular account functions have been updated and the keycard ones have been forgotten.

We should use the same functions with some basic conditions, in order to achieve that one solution would be to pass a struct as one of the ar

[2019-12-18 15:09] #1741 closed, assigned to nobody

[2019-12-18 21:45] adambabik opened #1747 "Remove SelectKeyPair and SelectedKeyPairID from whisper"
# Problem

The current Whisper implementation stores an active private key as "selected key pair". This is unnecessary and storage of the active key should be in status-go module, not Whisper module.

# Implementation

1. Get rid of [SelectedKeyPairID](https://sourcegraph.com/github.com/status-im/status-go@52dd835/-/blob/whisper/whisper.go#L1597-1607).
2. Remove [SelectKeyPair](https://sourcegraph

[2019-12-20 09:40] #1700 closed, assigned to nobody

[2019-12-20 10:15] andmironov opened #1751 "Loading transaction history in Wallet"
Problem: Sometimes there's an error while loading the transaction history.

Solution:

1. Let's show a more expressive error message with a link to ertherscan (`https://etherscan.io/address/address`);
2. Since the loading might take a while, let's show `Loading transaction history. This might take a while.` below the loading spinner;
3. Fix the line-height of `No transactions here yet` (Should be

[2019-12-20 10:22] #1751 closed, assigned to nobody

[2019-12-20 13:20] jacqueswww commented on #1616
Alrighty; My new node is running at:

Bootnode:
[code]
Mailserver
[code]

I believe it's a v1 node; so I get a PoW() error message from my Playstore Status client.

Anyone want to give it a go?

[2019-12-20 17:37] corpetty commented on #1616
@jacqueswww I think I've added you and connected but current V1 doesn't show previously added bootnodes (new bug I think)

[2019-12-20 17:42] corpetty commented on #1616
after adding mailserver, I got "The mailserver couldn't be reached"

[2019-12-21 08:19] jakubgs commented on #1616
I don't think it works, your port doesn't appear to be open. Either a NAT or a firewall issue:
[code]
[code]

[2019-12-22 01:12] jacqueswww commented on #1616
@jakubgs @corpetty thanks for testing! OK please try now - looking at the logs I must've stopped the service - please try again :)

[code]

[2019-12-22 10:49] weekly-digest[bot] opened #1754 "Weekly Digest (15 December, 2019 - 22 December, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 19 issues were created.
Of these, 9 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #1752 [Abstract the keystore](https://github.com/status-im/status-go/pull/1752), by [PombeirP](https://github.com/PombeirP)
:green_heart: #1748 [Remove Sele

[2019-12-22 13:03] jakubgs commented on #1616
Down again:
[code]
How do you run your node? What do you see in logs?
[code]

[2019-12-22 13:21] jacqueswww commented on #1616
@jakubgs so I think the moment I log out the job kills itself.
[code]

[2019-12-22 13:26] jacqueswww commented on #1616
I think for my use case i.e. for being able to logout of my machine however be able to keep the process in the background I should use `Type=simple` instead ? I have logged out  and it does seem to still have the port open :o) Will try again a bit later.

[2019-12-22 14:31] jakubgs commented on #1616
Well, the way `make run-mailserver-systemd` works is that it runs as a user service, so yes, logging out would terminate it. I did it this way to simplify the process and avoid the need for `sudo`.

If you want to make it into a system service you'd have to remove it as a user service and use the same kind of `*.service` files but located in `/etc/systemd/system` For example `/etc/systemd/system/s

[2019-12-22 14:53] jakubgs commented on #1616
In hindsight this might be something worth adding to our `README` files in `status-go`.

@jacqueswww please review and test the branch to see if that works for you: https://github.com/status-im/status-go/pull/1755

[2019-12-29 10:49] weekly-digest[bot] opened #1760 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 0 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1759 [Integrate Waku service](https://github.com/status-im/status-go/pull/1759), by [adambabik](https://github.com/adambabik)
:green_heart: #1758 [Fix/settin

[2019-12-30 11:56] #1747 closed, assigned to nobody

[2020-01-03 14:57] jacqueswww commented on #1616
@jakubgs great thanks; just tested worked for me.

[2020-01-03 15:23] jacqueswww commented on #1616
I used new configs; so:
Bootnode:
[code]
Mailserver:
[code]

[2020-01-05 22:49] weekly-digest[bot] opened #1765 "Weekly Digest (29 December, 2019 - 5 January, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 1 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1764 [[WIP] faster tx fetching with less request](https://github.com/status-im/status-go/pull/1764), by [rasom](https://github.com/rasom)
:green_heart: #1762

[2020-01-06 17:55] rachelhamlin commented on #1665
Should this replace #9361? I'm unclear if there's a build on it.

[2020-01-07 06:56] adambabik opened #1770 "Make shhext work with Waku"
# Problem

There are many extensions and integrations between Whisper and `protocol.Messenger` in the `shhext` subprotocol. It requires the Whisper service to be up-and-running to operate.

# Implementation

Extend `shhext` so that it can work with Whisper or Waku instead of only Whisper.

# Acceptance Criteria

* `shhext` can operate with both Waku and Whisper.

[2020-01-07 20:29] adambabik opened #1772 "Merge patches 0000, 0040, and 0044"
# Problem

We have two patches related to the `Key` and `KeyStore` in `github.com/ethereum/go-ethereum/accounts/keystore` package.

# Implementation

Go to https://github.com/status-im/go-ethereum/blob/patched/1.9/_assets/patches and merge 0000 and 0044 patches into one. Do the clean up of deprecated items.

# Acceptance Criteria

1. Merge all keystore-related patches into one,
2. Get rid of depre

[2020-01-07 20:32] adambabik opened #1773 "Clean up whisper-related patches"
# Problem

status-go uses its own fork of Whisper, thus, we don't need any patches in https://github.com/status-im/go-ethereum.

# Acceptance Criteria

1. Make sure all whisper-related patches are incorporated in https://github.com/status-im/status-go/tree/develop/whisper.
1. Remove all whisper-related patches from https://github.com/status-im/go-ethereum/tree/patched/1.9/_assets/patches.

[2020-01-07 20:40] adambabik opened #1774 "Move patch 0023 to services package"
# Problem

We have this patch https://github.com/status-im/go-ethereum/blob/patched/1.9/_assets/patches/0023-extract-personal-sign-api.patch. It only requires two methods `EcRecover` and `Sign` which can be easily extracted from geth's `internal/` package.

# Implementation

Create a new service in `serivces/` or extend an existing one with `EcRecover` and `Sign`. Implementation should be taken fr

[2020-01-08 12:35] adambabik commented on #1721
It's done.

[2020-01-08 12:35] #1721 closed, assigned to nobody

[2020-01-08 14:47] pedropombeiro commented on #1677
@oskarth How important is the requirement of being able to toggle between node types (as opposed to having 2 builds, one per supported node type)? I'm asking this because the effort is not trivial to make the change at runtime instead of compile-time.

[2020-01-08 14:55] cammellos commented on #1677
From our side it's not an issue to have compile time instead of runtime, we need to set up CI probably to build nimbus as well, so it's a bit more resources etc, but we don't expect users to toggle it on for a while, so only devs builds is fine.

[2020-01-09 02:05] oskarth commented on #1677
Agree, compile time seems fine :)

[2020-01-10 13:53] adambabik opened #1780 "Clarify which fields of `Message` should be filled in in `Messenger.SendChatMessage()`"
# Problem

`Messenger.SendChatMessage()` takes two arguments: `context.Context` and `*Message`. The latter is a very complex structure with a protobuf struct embedded. From the sender perspective, it's unclear which fields must be provided.

# Implementation

Make it clear which fields are required by either (1) providing a separate method or (2) changing `*Message` to a simpler struct which will

[2020-01-11 15:31] adambabik opened #1783 "Create our own makrdown Go package"
# Problem
Our protocol module depends on `github.com/gomarkdown/markdown`. However, we heavily changed it and its public interface which resulted in a fork.

# Implementation
Create a proper Go module under `github.com/status-im/markdown`.

# Acceptance Criteria

1. `github.com/status-im/markdown` is a proper Go module which can be used without `replace` in `go.mod` on its own.

# Notes
As it's ba

[2020-01-11 15:32] adambabik commented on #1783
cc @jakubgs @cammellos

[2020-01-11 18:47] dependabot-preview[bot] opened #1784 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/protocol/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/20159639).

[2020-01-11 19:10] #1784 closed, assigned to nobody

[2020-01-12 10:49] weekly-digest[bot] opened #1786 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 20 issues were created.
Of these, 10 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #1785 [bump version to 0.39.3](https://github.com/status-im/status-go/pull/1785), by [jakubgs](https://github.com/jakubgs)
:green_heart: #1783 [Create our

[2020-01-13 05:23] dependabot-preview[bot] opened #1787 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/protocol/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/status-im/update-logs/20221333).

[2020-01-14 10:41] oskarth commented on #1683
@adambabik is this the most up to date master issue for status-go Waku client? Does it cover:

[code]
?

[2020-01-14 15:20] jakubgs opened #1793 "Create binary releases of statusd for popular platforms"
The main thing complicating deployment of `statusd` for people is the need to install Go and build `statusd`. To start we should support at least the following:

* `linux-adm64`
* `linux-arm32`
* `linux-arm64`
* `darwin-amd64`

This could simplify the deployment process for [mailservers](https://github.com/status-im/status-go/blob/develop/MAILSERVER.md).

[2020-01-14 15:24] jakubgs commented on #1793
Based on this doc:
https://www.digitalocean.com/community/tutorials/how-to-build-go-executables-for-multiple-platforms-on-ubuntu-16-04
We could build the binaries using the `GOOS` and `GOARCH` variables:

| GOOS | GOARCH |
|-|-|
| linux  | amd64  |
| linux  | arm    |
| linux  | arm64  |
| darwin | amd64  |

[2020-01-15 07:29] #1787 closed, assigned to nobody

[2020-01-15 08:16] adambabik opened #1798 "Implement requesting messages per topics in Waku/0"
# Problem

We want to remove false positives and allow requesting messages not only by a bloom filter but also a list of topics.

This will reveal to mailserver a list of topics a given peer is interested in.

# Implementation

Extend mailsever request object with `Topic` field which stores a list of topics.

# Acceptance Criteria

1. It is possible to request historic messages per topic,
2. Mails

[2020-01-15 14:17] pedropombeiro commented on #1677
Mobile Nimbus handover notes (cc @andremedeiros)
=================

# Agenda

- current status;
	- Replaced `mobile/backend.go` with a pared-down Nimbus version
	- Still using a couple of Geth services instead of Nimbus replacements:
		- keystore while we work to expose the Nimbus version;
		- RPC client/server classes;
	- Tests have not been adapted for Nimbus
	- Some services have been disabled

[2020-01-15 19:14] adambabik opened #1800 "Test Waku and Whisper enabled together in a single node"
# Problem

If we decide to run Waku and Whisper in a single node, we need to make sure they can coexists.

# Implementation

Write tests which will confirm this setup works as expected.

# Acceptance Criteria

1. Waku and Whisper can coexists within a single node.

[2020-01-15 19:14] adambabik commented on #1800
@jakubgs this is an issue you reported to me:
[code]

[2020-01-16 14:42] pedropombeiro commented on #1677
CGo documentation: https://golang.org/cmd/cgo/

[2020-01-17 15:06] flexsurfer commented on #1730
fixed by using latest infura api

[2020-01-17 15:06] #1730 closed, assigned to nobody

[2020-01-20 05:47] oskarth commented on #1798
Can we make it explicit that this issue is about supporting v0.2 as specified here? https://specs.vac.dev/waku/mailserver.html

[2020-01-20 20:56] #1800 closed, assigned to nobody

[2020-01-24 12:44] jakubgs commented on #1793
I tried building for `arm64` but I'm having issues with `golang.org/x/net/context` import:
[code]
This happens because of a [`mutecomm/go-sqlcipher`](https://github.com/mutecomm/go-sqlcipher) module which imports it here:
https://github.com/mutecomm/go-sqlcipher/blob/55dbde17/sqlite3.go#L91
Which is obsolete because `golang.org/x/net/context` was replaced by built in `context`:

https://godoc.org/

[2020-01-24 13:54] jakubgs commented on #1793
Same thing happens for `386`:
[code]
I don't think some of our modules like being cross-compiled.

[2020-01-24 13:58] jakubgs commented on #1793
When I tried changing that `context` import by hand in the `vendor` folder I got more errors:
[code]
I don't know if this cross-compiling is doable. The `go-ethereum/crypto/secp256k1` part is critical.

[2020-01-26 10:50] weekly-digest[bot] opened #1814 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 4 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1811 [include mail password when getting enode with get_enode.sh](https://github.com/status-im/status-go/pull/1811), by [jakubgs](https://github.com/jakubgs)

[2020-01-27 09:36] jakubgs commented on #1793
This might be more trouble than it's worth. I'm putting this on hold.

[2020-01-30 16:23] jakubgs opened #1822 "waku.MessagesRequesthad has no field Topics"
When trying to build `status-go` at `v0.41.0` I'm getting:
[code]
It appears that it's not part of the `waku.MessagesRequesthad` struct but is used in `Deliver()`:
https://github.com/status-im/status-go/blob/98758d299d8b89e8b7d28da770ac9a01cbe9d985/mailserver/mailserver.go#L377-L387
Not sure if it should be there. But removing it temporarily solved that issue.

[2020-01-30 16:27] jakubgs opened #1823 "CreatePublicChat requires timesource, but Messenger doesn't export it"
I tried using `CreatePublicChat()` but it now requires `timesource ClockValueTimesource`:
https://github.com/status-im/status-go/blob/98758d299d8b89e8b7d28da770ac9a01cbe9d985/protocol/chat.go#L227
I found out that `protocol/messenger.go` has an unexported `getTimesource()` that it uses:
https://github.com/status-im/status-go/blob/98758d299d8b89e8b7d28da770ac9a01cbe9d985/protocol/messenger.go#L632

[2020-02-02 10:50] weekly-digest[bot] opened #1826 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 2 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #1825 [[status-im/status-react#9942] relative paths](https://github.com/status-im/status-go/pull/1825), by [rasom](https://github.com/rasom)
:green_heart: #1

[2020-02-03 05:23] oskarth opened #1827 "Implement association list for Waku Status packet"
As per spec: https://github.com/vacp2p/specs/blob/master/waku/waku.md#packet-usage

(sibling issue https://github.com/status-im/nim-eth/issues/161)

[2020-02-03 05:24] oskarth commented on #1827
No issue was created so I made this placeholder.

[2020-02-03 19:38] #1665 closed, assigned to nobody

[2020-02-04 12:37] vkjr opened #1833 "Unify stickers-related records in a database"
# Problem

Right now database has few records related to stickers.
As mentioned [here](https://github.com/status-im/status-go/pull/1830) by @cammellos, "there might be some data consistency issue by keeping the various `Stickers..` fields in different columns and not providing a way to change them atomically"

So the possibility for this inconsistency should be removed.

# Acceptance Criteria

Sti

[2020-02-05 10:06] flexsurfer opened #1834 "Show pending transactions"
Currently, we create "fake" pending transaction when we send a transaction in status, but after relogin it disappears, an incoming pending transaction isn't showed at all

Status go should scan for pending transactions

related issue: https://github.com/status-im/status-react/issues/9976

[2020-02-06 18:22] adambabik opened #1836 "Erring startNodeWithAccount() method puts node into a corrupted state"
Description from Discuss:

[2020-02-06 18:30] yenda commented on #1836
We should probably make sure that startNode undo what it did instead of just returning an error when it fails at any point?

[2020-02-06 18:32] adambabik commented on #1836
That's correct. The cleanup process should kick in and leave the node in a state where it can be restarted successfully.

[2020-02-07 14:47] adambabik commented on #1823
Closed by #1837.

[2020-02-07 14:47] #1823 closed, assigned to nobody

[2020-02-09 04:22] weekly-digest[bot] opened #1840 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 3 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #1839 [Cleanup after tx fetching changes](https://github.com/status-im/status-go/pull/1839), by [rasom](https://github.com/rasom)
:green_heart: #1836 [Errin

[2020-02-10 11:16] adambabik opened #1843 "[waku/v0] Implement Topic Interest packet code"
# Problem

Be compatible with the spec https://specs.vac.dev/waku/waku.html#packet-codes.

# Implementation

Topic interest should be handled by waku/0 in status-go.

1. Add packet `21` from the spec https://github.com/status-im/status-go/blob/develop/waku/doc.go#L44,
2. Handle this packet https://github.com/status-im/status-go/blob/develop/waku/waku.go#L891,
3. Implement the logic:

Relates to ht

[2020-02-10 11:23] dependabot-preview[bot] opened #1844 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/protocol/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accounts/sta

[2020-02-10 11:23] dependabot-preview[bot] opened #1845 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/protocol/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accounts/sta

[2020-02-10 11:23] #1844 closed, assigned to nobody

[2020-02-11 16:59] #1827 closed, assigned to nobody

[2020-02-11 20:09] 3esmit opened #1849 "Gas estimation fails in MineMeToken when a transfer to involved address just happened"
# Bug Report

I have several transaction using MiniMeToken which were gas estimated by Status but failed.

E.g.:
[0x906bc15d36eeb9c82336ac5d3b1ae0a98d0dc718251a5416b3caac4c852c78ef](https://etherscan.io/tx/0x906bc15d36eeb9c82336ac5d3b1ae0a98d0dc718251a5416b3caac4c852c78ef)
[0x4965695158928364417cdf4f3383375d7dddf04ba665297a2a8f24ff1ed56c9e](https://etherscan.io/tx/0x4965695158928364417cdf4f3383375

[2020-02-13 15:15] cammellos opened #1853 "Implement code 22 for exchanging options"
Implement code 22 for exchanging options

# Problem
Currently we have no way to exchange topic-interest, and we need a way to exchange that information among peers.

# Solution

The proposed solution is to have a new code `22`, which exchange an `ALIST` through `RLP`, which may contain any option that is currently exchanged in the handshake (therefore including topic-interest).

All the options ar

[2020-02-14 07:23] oskarth commented on #1853
Will this supersede code 21?

[2020-02-14 07:35] cammellos commented on #1853
I would think so, as we never actually used it,  same could go for `2`, `3` and `20` , unless we need to maintain compatibility @adambabik @kdeme

[2020-02-14 11:02] adambabik commented on #1853
I understand waku/0 is a clean sheet so I would go with the lowest unused packet code possible so `2` (`1` is for messages).

[2020-02-14 11:05] kdeme commented on #1853
I'm fine with dropping those packet types as they become redundant.
One small item though, perhaps we should also add something in the spec in the lines of:
_The `StatusOptions` parameter in the `StatusUpdate` packet SHOULD only set options that require updating._ ? To avoid e.g. unnecessary transfers of big topic lists.

Another more important item that I just realized is that by allowing this ne

[2020-02-14 11:09] adambabik commented on #1853
Very good point @kdeme  👍

[2020-02-16 04:22] weekly-digest[bot] opened #1856 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 15 issues were created.
Of these, 7 issues have been closed and 8 issues are still open.
## OPEN ISSUES
:green_heart: #1855 [Create WAKU.md with spec support](https://github.com/status-im/status-go/pull/1855), by [oskarth](https://github.com/oskarth)
:green_heart: #1854 [Int

[2020-02-21 06:43] Pantani commented on #1793
@jakubgs, Did you try that?
https://goreleaser.com/quick-start

[2020-02-21 13:49] jakubgs commented on #1793
I don't think that would help at all with the compilation issues.

But thanks for the suggestion.

[2020-02-21 14:48] #1853 closed, assigned to nobody

[2020-02-21 15:41] adambabik opened #1870 "Merge default config with the provided one when starting a node"
# Problem

* status-react is not aware of some default node configuration because this lives in status-go code
* config comes from status-react without using `GenerateConfig` from status-go anymore

This leads to a problem when some config fields should have sane defaults and instead they get zero values which can lead to undefined or incorrect behaviour.

# Acceptance Criteria

* When starting a

[2020-02-23 00:59] corpetty opened #1871 ""How to build" in readme broken"
link should be fixed/removed/added if changed.

[2020-02-23 04:22] weekly-digest[bot] opened #1872 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 8 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1870 [Merge default config with the provided one when starting a node](https://github.com/status-im/status-go/issues/1870), by [adambabik](https://github.co

[2020-02-25 07:03] adambabik commented on #1798
Done in https://github.com/status-im/status-go/pull/1805

[2020-02-25 07:03] #1798 closed, assigned to nobody

[2020-02-25 07:04] adambabik commented on #1770
Finally done in https://github.com/status-im/status-go/pull/1803.

[2020-02-25 07:04] #1770 closed, assigned to nobody

[2020-02-26 19:35] #1870 closed, assigned to nobody

[2020-02-28 15:23] flexsurfer opened #1882 "do not return private key in the result for VerifyAccountPassword"
do not return private key in the result for VerifyAccountPassword

[2020-02-28 16:14] 0kok0 commented on #1882
can you provide more context @flexsurfer

[2020-02-28 17:02] flexsurfer commented on #1882
we want to use VerifyAccountPassword in status-react, but we just want to verify password, we don't need private key, currently VerifyAccountPassword returns two arguments json  and private key, so we need only first one in status-react

[2020-02-28 18:00] 0kok0 commented on #1882
I guess we need the private key _only_ in GethStatusBackend to sign, otherwise it's only used as you describe to verify the password.
I'd go for a bool determining if the privkey is returned and multiple returns here, as if we split it in two functions there's more exposure and surface to be maintained for private key handling.
What do you think?

[2020-03-01 04:22] weekly-digest[bot] opened #1885 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 6 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1882 [do not return private key in the result for VerifyAccountPassword](https://github.com/status-im/status-go/issues/1882), by [flexsurfer](https://github

[2020-03-02 11:00] flexsurfer commented on #1882
I'm not familiar with go code, so I'm ok with any solution ;) bool is fine for me, thanks

[2020-03-03 23:07] #1871 closed, assigned to nobody

[2020-03-04 09:33] #1451 closed, assigned to nobody

[2020-03-04 09:33] #1472 closed, assigned to nobody

[2020-03-04 09:33] #1478 closed, assigned to nobody

[2020-03-04 09:33] #1486 closed, assigned to nobody

[2020-03-04 09:33] #1494 closed, assigned to nobody

[2020-03-04 09:33] #1498 closed, assigned to nobody

[2020-03-04 09:33] #1572 closed, assigned to nobody

[2020-03-04 09:33] #1621 closed, assigned to nobody

[2020-03-04 09:33] #1630 closed, assigned to nobody

[2020-03-04 09:33] #1640 closed, assigned to nobody

[2020-03-04 09:33] #1647 closed, assigned to nobody

[2020-03-04 09:33] #1654 closed, assigned to nobody

[2020-03-04 09:33] #1680 closed, assigned to nobody

[2020-03-04 09:33] #1722 closed, assigned to nobody

[2020-03-04 09:33] #1734 closed, assigned to nobody

[2020-03-04 09:33] #1754 closed, assigned to nobody

[2020-03-04 09:33] #1760 closed, assigned to nobody

[2020-03-04 09:33] #1765 closed, assigned to nobody

[2020-03-04 09:33] #1786 closed, assigned to nobody

[2020-03-04 09:33] #1814 closed, assigned to nobody

[2020-03-04 09:33] #1826 closed, assigned to nobody

[2020-03-04 09:33] #1840 closed, assigned to nobody

[2020-03-04 09:33] #1856 closed, assigned to nobody

[2020-03-04 09:33] #1872 closed, assigned to nobody

[2020-03-04 09:33] #1885 closed, assigned to nobody

[2020-03-04 09:36] adambabik commented on #1822
It has been fixed.

[2020-03-04 09:36] #1822 closed, assigned to nobody

[2020-03-04 09:36] #1845 closed, assigned to nobody

[2020-03-04 09:36] adambabik commented on #1843
Done in https://github.com/status-im/status-go/pull/1861.

[2020-03-04 09:36] #1843 closed, assigned to nobody

[2020-03-04 09:38] adambabik commented on #1683
I consider this done. We have all pieces, including bridging, in place and have started integration with status-react.

[2020-03-04 09:38] #1683 closed, assigned to nobody

[2020-03-04 09:39] adambabik commented on #1726
`protocol/` is not a submodule anymore. I will close this for now.

[2020-03-04 09:39] #1726 closed, assigned to nobody

[2020-03-04 09:39] adambabik commented on #1783
Done in #1847

[2020-03-04 09:39] #1783 closed, assigned to nobody

[2020-03-04 09:39] #1556 closed, assigned to nobody

[2020-03-04 09:40] adambabik commented on #1556
We are on geth 1.9.5 and it was handled during the upgrade.

[2020-03-09 05:19] dependabot-preview[bot] opened #1894 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/protocol/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accounts/sta

[2020-03-09 09:13] flexsurfer opened #1896 "MultiAccountStoreDerived should return an error when account already stored"
# Problem

When we're trying to store existing account with `MultiAccountStoreAccount` it returns an error, `MultiAccountStoreDerived` should work the same and returns an error, currently, it rewrites account with the new password

[2020-03-09 09:13] flexsurfer commented on #1896
its a v1.1 blocker

[2020-03-09 13:56] rasom commented on #1896
So the problem is that we store a derived account to the same file regardless under which multiaccount it was created. The solution is either to store all derived accounts in some multiaccount specific directory (this will require migrations for existing accounts) or only to store accounts which are created through wallet's "import account" that way (this will not require migration as we hadn't re

[2020-03-10 11:52] churik commented on #1896
@adambabik do you have a time to look into it?

[2020-03-10 12:41] adambabik commented on #1896
@churik assigned to me, will do it today.

[2020-03-10 13:36] gravityblast commented on #1896
hey @adambabik , I already found the error, I can start opening a PR with the fix

[2020-03-10 13:42] gravityblast commented on #1896
@adambabik  it will be in our `go-ethereum` repo,  but then probably there will be something to fix in `status-go` tests.

[2020-03-10 14:09] gravityblast commented on #1896
@adambabik https://github.com/status-im/go-ethereum/pull/87

[2020-03-10 14:13] adambabik commented on #1896
@gravityblast awesome! Left one comment.

[2020-03-11 14:41] flexsurfer commented on #1896
@gravityblast how can we use this change in status-react? do we need to use a new version of status-go ?

[2020-03-11 16:34] gravityblast commented on #1896
it needs to be imported in `status-go`, @adambabik are you going to work on that?

[2020-03-11 21:01] adambabik commented on #1896
@flexsurfer you can use https://github.com/status-im/status-go/pull/1898.

[2020-03-12 12:05] #1896 closed, assigned to nobody

[2020-03-13 09:41] flexsurfer commented on #1882
sorry for the confusion, there is no private key in results

[2020-03-13 09:41] #1882 closed, assigned to 0kok0

[2020-03-20 08:09] flexsurfer opened #1907 "Implement signMessageWithChatKey(string) string method"
# Problem

We want to sign messages without user action, so we have chat key in status go, so we want to sign messages with this key in status react

# Implementation

Implement `signMessageWithChatKey(string) string` method

# Acceptance Criteria

It's possible to sign message without password

[2020-03-20 08:10] flexsurfer commented on #1907
@Ferossgp fyi

[2020-03-20 08:33] cammellos commented on #1907
You can use this branch for now https://github.com/status-im/status-go/tree/feature/sign-message
You have a `SignMessageWithChatKey` method, that returns the hex encoded string of the signature, or error.

[2020-03-24 17:23] flexsurfer opened #1915 "generate identicon with transparent background"
# Problem

In dark mode, identicon has a white background

# Implementation

generate identicon with transparent background

[2020-03-24 17:42] cammellos commented on #1915
https://github.com/status-im/status-go/compare/feature/add-transparent-background?expand=1 might work, I will try it out tomorrow

[2020-03-25 08:02] #1915 closed, assigned to nobody

[2020-03-30 13:21] jakubgs opened #1923 "Implement metrics for currenly stored envelopes"
# Problem

In relation to recent [postmortem](https://github.com/status-im/infra-docs/blob/master/postmortems/20200327_mailserver_db_issues.md) of DB issues we need metrics for currently stored envelopes in the DB. Current metrics cover only envelopes archived since the process started.

# Implementation

We'll have to periodically query the DB for a count of all envelopes. Pretty simple.

# Accep

[2020-03-30 13:29] jakubgs opened #1924 "Fix issues with syncing mailservers"
# Problem

In relation to recent [postmortem](https://github.com/status-im/infra-docs/blob/master/postmortems/20200327_mailserver_db_issues.md) of DB issues we found that syncing mailservers using the [available instructions](https://github.com/status-im/status-go/blob/develop/mailserver/README.md) doesn't work properly.

# Notes

I've made [a script](https://github.com/status-im/infra-utils/blob/

[2020-03-30 13:39] jakubgs opened #1925 "Add a timestamp column to envelop SQL DB"
# Problem

Currently the schema includes the timestamp in the binary `id` field:
[code]
There is a way to query for the timestamp suggested by @cammellos but it's unreadable and makes it hard to debug things:
[code]

# Implementation

We'll need to migrate old data to the new scheme. If we can fix #1924 this should be simple.

# Acceptance Criteria

The DB schema includes a `tstamp` filed that use

[2020-03-30 15:11] cammellos commented on #1925
You might also want to consider using an integer and store the unix time in seconds (same as the whisper envelope), if using `text` then we want to use ISO 8601 so that we can order them https://www.w3.org/TR/NOTE-datetime

[2020-04-06 16:20] kdeme opened #1929 "Waku Status message not according to spec"
# Problem
I've noticed while interop testing status-go with Nimbus wakunode that the handshake fails.
I see two problems:

1. The keys from the `StatusOptions` struct get character encoded. So resulting rlp contains 48, 49, 50, etc. instead of 0, 1, 2, etc. I think the ABNF part of the spec dictates the actual integer values (if you compare it with other parts).
(see spec: https://github.com/vacp2

[2020-04-06 16:22] andremedeiros commented on #1929
👏

Can you update this PR when the spec gets refined so we can implement the fix on our end?

[2020-04-06 16:36] adambabik commented on #1929
1. This is true, status-go's waku implementation uses a string as a key type. I think it could be more clear in the spec but also it was accidental as the first implementation was using string values like `pow-requirement-key` instead of `0`. I blindly kept the data type and just changed the values.
[This is a place](https://github.com/status-im/status-go/blob/develop/waku/handshake.go#L76) where

[2020-04-06 20:13] corpetty commented on #1929
@adambabik when is this change expected?

Also, what are the consequences of this change?  Does fleet need updating, will we have compatibility issues of status apps not updating?

[2020-04-06 21:26] kdeme commented on #1929
You can track this PR for the possible spec addition regarding point 2.: https://github.com/vacp2p/specs/pull/112

[2020-04-07 10:10] adambabik commented on #1929
@corpetty I will talk to @Samyoul and the Core Team but this should be fixed asap.

If we already released the app with Waku enabled by default, we need to first update the code so that it is backward compatible (recognize options with int and string keys), update fleets and then update the app so it starts sending keys as ints.

If we haven't released the app with Waku enabled, we can do it witho

[2020-04-07 10:51] Samyoul commented on #1929
I'm going to make a pull for this. I'll drop the link here once it is up.

[2020-04-07 12:49] Samyoul commented on #1929
PR here https://github.com/status-im/status-go/pull/1931 . I will discuss this with @adambabik as there are a number of changes that I need to ensure are fit for purpose.

[2020-04-07 14:21] Samyoul commented on #1929
@kdeme Could you provide some sample handshakes that have failed for you? I am going to add them as part of the tests.

There are a number of complications with receipt of RLP encodings of mixed types for the key. I'm going to add some additional changes to the code to handle whether the incoming data was originally encoded as a string or an int. This will ensure that re-encoding will maintain its

[2020-04-07 18:51] kdeme commented on #1929
As described in the issue, failure was caused by invalid key integers being passed. Well, not actually invalid according to spec, just different than what status-go expects (different from the struct).

Considering the specification, there are many parts you could add tests for (perhaps status-go already had some of these, I don't know), e.g.:

Valid cases:
1. Good processing of keys & values as i

[2020-04-09 11:08] #1923 closed, assigned to nobody

[2020-04-09 16:43] adambabik opened #1936 "Messengers acquires a lock in some methods for very long time"
# Problem

There are a few methods in `Messenger` in `protocol` package, for example `VerifyENSNames`, which acquire a lock for very long time.

# Implementation

Fix this by guarding only these operations that really need a lock to be acquired.

# Acceptance Criteria

1. There is no locks that are acquired during waiting for the internet request to be finished.

[2020-04-14 11:37] hesterbruikman opened #1937 "Compress public key for chat"
# Problem
Chat key is currently shown (as used) as the public key in full. This is unnecessarily daunting. Compressing the public key used for chat can make it less daunting, more space efficient in the UI as well as reducing file size and visual complexity of the QR code.

# Implementation
Implement two functions:
- decompress public key - anywhere the full public key is required
- request compre

[2020-04-14 14:38] gravityblast commented on #1937
for reference, since we use `go-ethereum` we can use its functions to compress and decompress keys:

https://github.com/ethereum/go-ethereum/blob/master/crypto/secp256k1/secp256.go#L126

[2020-04-14 19:12] corpetty commented on #1929
@Samyoul how is this going? I was curious if this has an expected timeline.

[2020-04-14 23:06] Samyoul commented on #1929
@corpetty I'm having trouble with this issue. I need to run my problems by the team.

Let me detail the issues, and maybe we can work through them.

### Uint Key Scenarios

I've put together a set of basic scenarios dealing with potential key values. They are as follows:

[code]

[View this test code](https://github.com/status-im/status-go/pull/1931/commits/9c1565624bf2d904d64c7b18445e22363ee4adbc

[2020-04-17 08:56] Samyoul commented on #1929
@corpetty and @kdeme https://github.com/status-im/status-go/pull/1938 is replacing my previous branch with a different approach to the problem. Also see https://github.com/vacp2p/specs/pull/113 .

There is some init functionality in my old branch that I'd like to keep as I think it is a better implementation of variable initialisation. But the rest is redundant.

Basically we're implementing disti

[2020-04-17 11:10] 0x-r4bbit opened #1939 "MultiAccountStoreDerived reports account already exists while RPC API doesn't"
# Problem

The original problem was reported at https://github.com/status-im/status-react/issues/10326 but it seems to boil down to misbehaviour in `status-go`.

As described in this https://github.com/status-im/status-react/issues/10326#issuecomment-615146351 adding multiaccounts (watch only) and removing them again, seems to not properly remove them from status-go cache.

While the RPC API `acco

[2020-04-17 11:16] flexsurfer commented on #1939
@gravityblast could you take a look?

[2020-04-17 12:06] gravityblast commented on #1939
hey @PascalPrecht , I'm happy to help!
How do we remove accounts?
In the current implementation, the Multiaccount functions use the [account/generator](https://github.com/status-im/status-go/blob/develop/account/generator/generator.go) package to generate, derive, and store keys in keystore json files.
I don't think we have implemented something to remove those accounts physically from the filesys

[2020-04-17 12:23] gravityblast commented on #1939
@PascalPrecht @flexsurfer
as specified in point 3 of the issue https://github.com/status-im/status-react/issues/10326, the problem occurs when the account is added as a normal account as well.
It makes sense because the "remove watch-only" action doesn't remove the keystore file.

[2020-04-17 12:25] gravityblast commented on #1939
maybe for now we can avoid adding a normal account that is already in the watch-only list?

[2020-04-17 12:58] flexsurfer commented on #1939
yes we do that, we don't add account if its in watch -only,  also there are not keys for watch-only dunno why there is an error

[2020-04-17 13:16] gravityblast commented on #1939
This issue https://github.com/status-im/status-react/issues/10326 says

It looks like adding a normal account that is already a watch-only one actually changes something. I expect go is not even called in that case right?

[2020-04-17 13:41] gravityblast commented on #1939
as @PascalPrecht said maybe when we add watch-only accounts, they are added in the keystore cache? what do we call in Go when we add a watch-only account?

[2020-04-17 14:08] flexsurfer commented on #1939
`json-rpc/call [{:method     "accounts_saveAccounts"`

[2020-04-19 07:26] weekly-digest[bot] opened #1940 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1939 [MultiAccountStoreDerived reports account already exists while RPC API doesn't](https://github.com/status-im/status-go/issues/1939), by [PascalPrecht](h

[2020-04-20 09:06] 0x-r4bbit commented on #1939
@gravityblast Thanks for getting back to me on this.

So yes, removing accounts isn't actually an option for non-watch-only accounts. Anything I can do to help here?

[2020-04-20 10:58] Samyoul opened #1944 "Add waku package README.md docs"
# Problem

The `waku` package has no docs in the repo (notably neither do a significant number of the other packages, but I don't want to turn this issue into a formidable mammoth 🐘 😆). This package needs some docs, particularly with the merging of https://github.com/status-im/status-go/pull/1931 and the finalisation of https://github.com/vacp2p/specs/pull/113 and https://github.com/status-im/stat

[2020-04-20 11:32] Samyoul opened #1945 "Database package location refactor"
# Problem

This repository has a number of database related packages that are spread out across the code base and I'm looking to consult with the team about consolidating them.

The other major problem with this implementation is that the business logic is too tightly coupled to the DB type and syntax with no layer of abstraction in between. This would make changing to another form of data persist

[2020-04-20 11:37] Samyoul commented on #1945
@cammellos FYI, what we were discussing earlier today.

[2020-04-21 16:13] gravityblast commented on #1939
I tried debugging with a custom build of `status-go` and here what I see:

1 - create a new multi-account
2 - import `0xB7` as watch-only address (the account/generator pkg in go is not called, which is ok because it's only added to the db, no keystore file)
2 - I import the mnemonic that generates the same address and the UI shows `account already exists` (we said it shouldn't call the account/ge

[2020-04-21 16:16] gravityblast commented on #1939
I tried debugging with a custom build of `status-go` and here what I see:

1 - create a new multi-account
2 - import `0xB7` as watch-only address (the account/generator pkg in go is not called, which is ok because it's only added to the db, no keystore file)
2 - I import the mnemonic that generates the same address and the UI shows `account already exists` (we said it shouldn't call the account/ge

[2020-04-21 16:33] andremedeiros commented on #1939
Correct me if I'm wrong, but it sounds to me that the issue lies with the way the keystore json files are stored, no?

[2020-04-21 16:43] gravityblast commented on #1939
@andremedeiros it shouldn't be an issue with that.
normal account private keys are stored in keystore files in the filesystem. then in the db we store the addresses of the accounts.

with watch-only accounts we store only the address in the db.

inside a multiaccount a user can import a mnemonic, but we should call the multiaccount-api to store the new account in the filesystem only if it's not al

[2020-04-21 17:25] flexsurfer commented on #1939
@gravityblast yeah after account generated we have this check https://github.com/status-im/status-react/blob/cc70a7e8dab06a614a4f010b404105e218a1b413/src/status_im/wallet/accounts/core.cljs#L192

[2020-04-21 17:26] flexsurfer commented on #1939
so we shouldn't allow storing account if it exists in status-react

[2020-04-21 18:41] gravityblast commented on #1939
yeah I think the final fix would be for status-react to validate the
uniqueness of an address before generating and storing the key in the
filesystem.

On Tue, Apr 21, 2020, 19:27 flexsurfer <notifications@github.com> wrote:

[2020-04-21 20:31] gravityblast commented on #1939
/cc @PascalPrecht

[2020-04-22 06:48] #1939 closed, assigned to nobody

[2020-04-26 07:26] weekly-digest[bot] opened #1952 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 5 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1949 [Waku package README.md documentation](https://github.com/status-im/status-go/pull/1949), by [Samyoul](https://github.com/Samyoul)
:green_heart: #1947

[2020-04-27 12:49] #1940 closed, assigned to nobody

[2020-04-28 13:21] Samyoul commented on #1937
## Some Code

A little update on this. I've spent a little bit of time experimenting with this and here is the play code I wrote:

[code]

## The Results

|Length|String|Description|
|---|---|---|
|130|`04261c55675e55ff25edb50b345cfb3a3f35f60712d251cbaaab97bd50054c6ebc3cd4e22200c68daf7493e1f8da6a190a68a671e2d3977809612424c7c3888bc6`|My starting point, using [my public key](https://join.status.im/u

[2020-04-28 13:36] gravityblast commented on #1937
good job! I think the only one we need is the normal hex format, so it's basically the original without the `y` value and the `02` or `03` added as prefix

[2020-04-28 13:55] Samyoul commented on #1937
I think displaying the compressed key as a hex encoded string would allow the key to keep its "Ethereumy" appearance, but if our aim is to reduce the size of the QR code as much as possible then the best choice in my mind is to use the compressed base58 encoded key.

A compromise approach would be to display the hex encoding in plain text and show the base58 encoded QR code. Something like below:

[2020-04-28 14:04] gravityblast commented on #1937
I think having the standard hex format is important for compatibility. for the qrcode we can ask @hesterbruikman to understand how compressed it should be. In general I think if we can keep it in hex it can be easily compatible with other clients.

[2020-04-28 14:06] gravityblast commented on #1937
anyway good ideas and good job! I think we can decide this thing and implement it easily!

[2020-04-28 14:13] hesterbruikman commented on #1937
Compatibility is important.... Especially if we are to ever sync with other identity solutions (afaik there's no standards there yet really. Not sure what's going on with [Iden3](https://iden3.io/identity-wallet), but I imagine we want to keep some doors open).

Let me check what this image compression can get us and follow up. This is already a huge step and improvement to legibility and url shar

[2020-04-28 14:25] Samyoul commented on #1937
To help with decisions see the side by side

|Uncompressed hex|Compressed hex|Compressed base58|[Full compression](https://github.com/status-im/status-go/issues/1937#issuecomment-620660573)|
|---|---|---|---|
|<img src="https://user-images.githubusercontent.com/5702426/80531063-e98fcc80-8991-11ea-8c02-c354b5828d35.png" width="220" />|![compressed_hex_encoded_](https://user-images.githubusercontent

[2020-04-28 14:58] Samyoul commented on #1937
FYI. We can do a lot of things to make the QR less complex looking, but will require additional specs. But once the specs are in place there should be very little compatibility problems. Decoding hex vs decoding base58 is a fairly minor issue, and I don't see any developers struggling with the concept. But we can have that discussion.

In the meantime here is a brief overview of my ideas for reduc

[2020-05-01 21:35] Samyoul commented on #1929
@kdeme , @corpetty I believe this issue is now resolved with the merging of @cammellos' PR https://github.com/status-im/status-go/pull/1956. Can you check and let me know if you the issue appears resolved?

[2020-05-03 07:26] weekly-digest[bot] opened #1960 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 3 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1955 [Bump go.uber.org/zap from 1.13.0 to 1.15.0](https://github.com/status-im/status-go/pull/1955), by [dependabot-preview[bot]](https://github.com/apps/dep

[2020-05-05 12:57] kdeme commented on #1929
@Samyoul Yes, it looks OK now. Can be closed.

[2020-05-05 14:14] Samyoul commented on #1929
Resolved with #1956

[2020-05-05 14:14] #1929 closed, assigned to Samyoul

[2020-05-05 14:15] #1952 closed, assigned to nobody

[2020-05-06 10:02] hesterbruikman commented on #1937
Sorry for the delay on this @Samyoul !

@andremedeiros can you please take a look as well for review of the compression approach and planning based on effort required to implement?

Your brief looks good to me @Samyoul, with the most compressed version, given that this is documented well compatibility with any applications or interfaces requiring the full key.

I think we should leave the full url

[2020-05-06 11:28] Samyoul commented on #1937
No problem. I just wondered if there any blockers I wasn't aware of.

### API

There needs to be some clarity on the API signature.

In my mind the functions should be:

[code]

[code]

This would allow the API to compress and decompress any given public key and not just the key(s) belonging to the user / client.

I'd estimate implementing the code for this in `status-go` would take about 1.5 hour

[2020-05-06 14:09] jakubgs commented on #1937
Domain redirect is trivial. Parsing of compressed keys seems also trivial if all we're doing is just making it into a `base58`. Probably a few hours of work including updating tests.

[2020-05-06 14:11] jakubgs commented on #1937
Mis-clicks, sorry. But there's one tiny clash we would have which I don't think matters.

Right now the `/u/` path supports both keys as `/u/0x04...` and ENS names like `/u/jakubgs`. Now, if the `base58` string is always 45 characters long then if someone had a 45 character long ENS name that could cause it to be treated as a compressed key. But that a very edgy edge case.

Oh, and if the compress

[2020-05-06 14:41] Samyoul commented on #1937
Consistent key length is an interesting consideration. From my experimenting the compressed keys are 44 chars, but I will generate 100,000+ keys and see if any produce a length that is not 44 chars. I will publish the results here after I've done this.

Interesting point. I think that if we use the following process flow we should have few problems.

- check string length
- `if len == 132` - Parse

[2020-05-06 14:42] jakubgs commented on #1937
We don't do ENS lookups on the universal links backend.

[2020-05-06 14:48] Samyoul commented on #1937
Would it be a problem to introduce ENS lookups?

If we want to implement a version of ID parsing that doesn't require outbound calls, we could do the following:

- check string length
- `if len == 132` - Parse as a standard key
- else attempt to parse as compressed public key
  - if parse succeeds present results
  - `else` - presume it is an ENS name

[2020-05-06 14:51] jakubgs commented on #1937
Yes it would be. Because right now the universal links service doesn't depend on any other service. It's stateless, which keeps it simple, robust, and stable. By introducing something like ENS lookup you introduce complexity, delays due to slow lookups which result in delays in rendering the page, and so on. Sounds like a bad idea to me.

And the flow you proposed makes sense. Except we attempt to

[2020-05-06 14:57] Samyoul commented on #1937
Ok, I will probably have the tests on the public keys done some time tomorrow. So I can see if there is any deviation from 44 chars, in that case we can implement some additional code to handle that. Hypothetically if the variation is +-2 chars we can do something like `len >= 44-2 && len <= 44+2`. I'll know more after the tests.

[2020-05-06 22:16] Samyoul commented on #1937
Test results:

I ran a test on 10 million random public keys and the summary of the tests were as follows:

|Number of Chars|Count      |
|-------------------|-----------|
|44                        |6,832,205|
|45                        |3,167,795|

So 68% of the time keys will be 44 chars long and 32% of the time keys will be 45 chars long. There were no other compressed key lengths.

<details>

[2020-05-07 08:40] hesterbruikman commented on #1937
That sounds solid. @Samyoul @jakubgs @gravityblast what do you think? Seems to me like this is the proposal:
- Reduce the QR code's error correction to L
- Encode the key using base58, resulting in 44 character keys (instead of 128)
- ~Use of j.status.im instead of join.status.im to further shorten url. Result: https://j.status.im/u/e2QHwp5qjYj6i3jTCfzKVdB1k1dy7NDuoRngzTrARkpT~
- join.status.im ch

[2020-05-07 08:43] hesterbruikman commented on #1937
also @jakubgs can join.status.im and j.status.im be used in parallel? As Keycard is looking at printing QR codes

[2020-05-07 09:23] jakubgs commented on #1937
Using `j.status.im` will mean that the app won't open from it if it's installed. The domain implemented in the App is `join.status.im`. That means that I can only do an HTTP redirect from `j.status.im` to `join.status.im`, which means the user will have to open the browser first, click on the button, and then it will take him to the app.

[2020-05-07 10:13] hesterbruikman commented on #1937
Ok, sounds like it's better to leave out that change as we already have enough challenges getting universal link behavior in line across platforms

[2020-05-07 10:43] 0xc1c4da commented on #1937
Looking sexy, great work.

If we're worried about compatibility issues with future versions of Status, another thing that might be worth considering is to future-proof our identifiers by specifying the curve, format, possibly version?

i.e `secp256k1:e2QHwp5qjYj6i3jTCfzKVdB1k1dy7NDuoRngzTrARkpT`

Not dissimilar to magnet uri's or scuttlebutt identities.
https://en.wikipedia.org/wiki/Magnet_URI_sch

[2020-05-07 11:15] Samyoul commented on #1937
0.e2QHwp5qjYj6i3jTCfzKVdB1k1dy7NDuoRngzTrARkpT
where 0 represents base58 encoded secp256k1 curve

Yes, I really like this idea. I will implement the versions in the specs. Something like:

Compression state codes:

- `0` (uncompressed)
- `1` (compressed)

Encoding:
- `0` (hex)
- `1` (base32)
- `2` (base58)
- `3` (base64)
- etc

Curve:
- `0` (secp256k1)
- `1` (ecies)
- `2` (p224)
- `3` (btcec)
- et

[2020-05-07 11:24] Samyoul commented on #1937
I like colons ... :

`120:e2QHwp5qjYj6i3jTCfzKVdB1k1dy7NDuoRngzTrARkpT`

[2020-05-07 11:31] Samyoul commented on #1937
@jakubgs that is interesting. Is it possible to register more than one url in the app manifest?

https://stackoverflow.com/a/13795834/1700106
https://stackoverflow.com/a/14960646/1700106

These StackOverflow posts seem to suggest that it is possible

[2020-05-07 11:32] jakubgs commented on #1937
Yes it is.

[2020-05-07 11:40] Samyoul commented on #1937
Do you see problems with adding the `https://j.status.im` URL into the app manifest?

[2020-05-07 11:41] jakubgs commented on #1937
The usual one, will it work on iOS?

[2020-05-07 11:42] Samyoul commented on #1937
I hate iOS

[2020-05-07 13:43] Samyoul commented on #1937
@status-im/status-core-ui Does anyone know if it is possible to register more than one app url in an iOS app?

[2020-05-07 15:38] Samyoul commented on #1937
I've just been working in the status specs and I noticed the [3 word pseudonym](https://github.com/status-im/specs/blob/master/docs/stable/2-account.md#3-word-pseudonym--whisper-key-fingerprint).

We'd have to ensure that parsing the compressed public key also derives the 3 word pseudonym. Presumably not an issue.

[2020-05-07 15:39] jakubgs commented on #1937
There's https://github.com/status-im/js-status-chat-name which does that for normal public keys, it would be trivial to add a method for doing the same for base58 encoded version.

[2020-05-10 07:26] weekly-digest[bot] opened #1965 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 1 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1963 [Compatibility tests between waku nim & go implementations](https://github.com/status-im/status-go/pull/1963), by [cammellos](https://github.com/cammell

[2020-05-13 11:31] #1960 closed, assigned to nobody

[2020-05-13 11:44] Samyoul opened #1968 "Documentation Linting is Ignored"
# Problem
The current automated linting seems to be ignore documentation based lint checks.

By entering the following commands:

[code]

You get the following lint report:

[code]

Running the `golint` command on the project root gives a massive list of linting issues.

# Implementation

* [ ] Decide if we want to check for `golint` linting issues
* [ ] Remove linting issues from the repo
* [ ] I

[2020-05-13 15:44] Samyoul opened #1970 "Remove vendored Whisper and any remain usages"
# Problem

[vendor/github.com/status-im/status-go/whisper/](https://github.com/status-im/status-go/tree/develop/vendor/github.com/status-im/status-go/whisper/v6) exists and so does [whisper](https://github.com/status-im/status-go/tree/develop/whisper) .

If we have a dedicated package in the repo we don't need whisper to also be vendored.

# Implementation

Remove the vendor code for Whisper. Remo

[2020-05-13 15:53] Samyoul commented on #1937
@status-im/status-core Could you confirm the following:

- Does the iOS app implement something similar to the Android intent filter for opening apps from a browser URL? (example, navigating to `join.status.im/0x...` opens the app)
- Is it possible to register more than one URL and have the intent functionality work for both URLs?

Yesterday @andremedeiros said he'd be surprised if this functional

[2020-05-13 16:47] jakubgs commented on #1937
The first point is obviously true. We already have that working.

[2020-05-14 07:49] #1944 closed, assigned to Samyoul

[2020-05-14 14:14] pedrouid opened #1974 "waku_post expects pubKey to be base64"
I've setup a node with Waku enabled and I was trying to post messages through JSON-RPC using the `waku_post` method with a pubKey. It would always return `invalid public key` error message.  Apparently it expected the public key to be base64, this should be changed to expect hex

[2020-05-14 15:49] Samyoul opened #1976 "Build a make-vendor-bot"
# Problem

@dependabot helpfully let's us know when a dependency has been updated, this is achieved by creating PRs updating the `go.mod` and `go.sum` files. However in order for this repo's current CI tests to pass the bot needs to also call the repo specific `make vendor` command.

The `make vendor` command updates the vendor files to the new higher version and the tidies up the `go.mod` and `go

[2020-05-15 15:01] dependabot-preview[bot] opened #1977 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-05-15 15:39] Samyoul commented on #1977
See here https://dependabot.com/docs/config-file/#allowed_updates. Indentation issue.

Example:

[code]

Current settings:

[code]

Should be:

[code]

[2020-05-15 15:44] Samyoul opened #1978 "Consistently flaky Jenkins unit tests"
# Problem
Jenkins unit tests will consistently fail ~~even if all the tests pass~~ (there was a failing test, I just didn't notice them in the full test log). The tests can be passed mostly by retesting and making no changes to the code.

* [Recent tests](https://ci.status.im/blue/organizations/jenkins/status-go%2Fprs%2Ftests/activity)
* [Specific test that failed at the very end of unit test](htt

[2020-05-15 18:46] #1977 closed, assigned to Samyoul

[2020-05-16 00:30] Samyoul commented on #1894
There is only one `vendor` for this repo

- [Introduces dependabot config with new protocol package which includes a protocol/vendor](https://github.com/status-im/status-go/commit/ed5a5c154daf5362cdf0c35fd1bc204e6a6d49ae#diff-b44e3cec799fb1f7871015e85dba6eb3)
- [Removal of protocol/go.mod](https://github.com/status-im/status-go/pull/1835/files#diff-326517a0e19e23c71d9175a14b06437e)

Remove the fol

[2020-05-18 23:14] #1894 closed, assigned to Samyoul

[2020-05-21 13:54] Samyoul opened #1981 "Waku host has special behaviour if a peer has `confirmations-enabled` set to true"
# Problem
Currently the Waku implementation has special behaviour that appears to send a message in response to receiving a message from a peer that has its `confirmations-enabled` set to true.

https://github.com/status-im/status-go/blob/2d13ccf5ec3db7e48d7a96a7954be57edb96f12f/waku/v1/peer.go#L535-L547

[code]

Which seems to check if the peer's `status-option.ConfirmationsEnabled` is true. If t

[2020-05-21 16:18] Samyoul commented on #1937
I did a little bit of digging and it seems possible to have multiple `url > app` links with iOS.

In the current code we have:

https://github.com/status-im/status-react/blob/c68f734b983d9366d63dd87b42e07934674312ea/ios/StatusIm/StatusIm.entitlements

[code]

Which according to this https://stackoverflow.com/questions/39959347/mutiple-associated-domains-with-one-ios-app , allows us to add multiple

[2020-05-22 20:47] Samyoul commented on #1834
For out bound

Best to use RPC call [eth_getTransactionReceipt](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt)

Example call:

[code]

For a failed transaction `status` field will be `0x0`, see example for tx `0x3e73d46538a6e9118d3753d8d44559fb45db451f7ce16777a5106776962d91d2`

[code]

Result for a successful transaction, `0xb0215d2b6d2f975074027f7b4df5179607addd5a559c66

[2020-05-25 02:37] 0xc1c4da commented on #1937
@hesterbruikman has let me know @Samyoul @cammellos had raised an issue if introducing compression is worth introducing a 'breaking change'.

The meta-problem here is we don't know how to handle breaking changes. This could be a great opportunity for the team to learn how to do this which is going to make life easier in the future.

Without having the breaking change concerns specified I can only

[2020-05-25 07:18] cammellos commented on #1937
I am not sure that this is accurate, it is often repeated, but I think we have gathered a fair amount of experience in handling  breaking changes, and repeating this point is just ignoring (or not knowing) all the effort and thoughts that went into this topic.

As a note, we broke compatibility twice, once when the "new protocol" was introduced (just a week after I joined in spring 2018), and with

[2020-05-25 13:19] Samyoul commented on #1937
I have little of substance that I can add to Andrea's comment, apart from emphasising a few points.

As Andrea has stated, we discussed strategies for mitigating compatibility issues and coincidentally this very strategy was discussed.

The breaking change element is not the real problem, we can implement sensible steps to mitigate the impact of changes we introduce.

I don't have any problem with

[2020-05-26 08:58] arnetheduck commented on #1937
if we're going in the direction of multiple key formats, or above all, self-describing key formats, the problem is somewhat addressed in https://github.com/multiformats/multihash / multicodec - maybe we can extend that one?

oldest-to-newest schemes tend to cleverly work up to the point where there's no ambiguity - it's often a nice save in case you didn't consider the problem of upgradeability in

[2020-05-27 10:04] Samyoul commented on #1834
## Problem

https://specs.status.im/spec/13#3rd-party-apis-used-by-current-status-app

Status is 100% dependant on Infura for our RPC calls. **Infura doesn't provide `eth_pendingTransactions` RPC method.**

[2020-05-27 10:18] Samyoul commented on #1834
**Additionally**

It seems likely that there is no answer to filtering the pending transactions.

- https://ethereum.stackexchange.com/questions/83742/is-it-possible-to-filter-pendingtransactions
- https://stackoverflow.com/questions/62031380/is-it-possible-to-filter-ethereum-pendingtransactions

This makes it likely that we will need to implement our own node layer, at least for `eth_pendingTrans

[2020-05-27 13:12] Samyoul commented on #1834
# Proposal

In order to facilitate efficient pending transaction querying Status needs to guarantee `mobile nodes` access to the pending transaction pool. I've drafted the following:

## `eth_pendingTransactions` infrastructure

![pendingTransaction overview draft](https://user-images.githubusercontent.com/5702426/83027971-b8ee9180-a028-11ea-8759-6f8a60cb5857.png)

## Elements

- Ethereum Network

[2020-05-27 13:19] jakubgs commented on #1834
That's more or less what me an @corpetty were thinking about last time we discussed a self-hosted alternative to Infura.

My only complaint is that I don't see why we need a freakin' ElasticSearch cluster for data like this. All we need is to map transactions by their hashes and `to` and maybe `from` addresses. You can do the same with something much simpler and faster like Redis.

[2020-05-27 15:15] Samyoul commented on #1834
## OpenEthereum `parity_pendingTransactions`

After further research it is possible to achieve the sort of queries with OpenEthereum

https://openethereum.github.io/wiki/JSONRPC-parity-module.html#parity_pendingtransactions

The Parity/OpenEthereum JSON_RPC method `parity_pendingTransactions` gives the kind of filtering required natively to the node.

**Example:**

[code]

This could remove the ne

[2020-05-27 16:29] Samyoul commented on #1834
## Current Pending Transaction Pool

According to Etherscan there are currently approximately **93,000 pending transactions**. See https://etherscan.io/txsPending

To run a solution decentralised on a `mobile node` would require that node to be aware of all **93,000** transactions and be able to parse and filter them, and keep the list of pending transactions updated. Granted the `mobile node` cou

[2020-05-27 16:33] Samyoul commented on #1834
## Update - Blocked

- **In house infra**
  - Require approval on the [initial proposal](https://github.com/status-im/status-go/issues/1834#issuecomment-634650486)
    - Approval is dependant on the costing of archive node infrastructure and maintenance
    - corpetty has some provisional information about costing.
    - @jakubgs initial estimate of provisional costing for solving this specific is

[2020-06-03 15:52] Samyoul commented on #1937
**Edit:**

**This research may be redundant in the case we implement Multiformat public keys.** 😭

**At least the maths is interesting** 😎

---

I've done a little research on this and I've found that deterministically the number of characters of a base58 encoded compressed secp256k1 public key will only be 44 to 46 characters long.

Basically, the compression algorithm will always give a result o

[2020-06-04 16:24] Samyoul commented on #1937
# Multiformat keys

I've explored multiformats and I think that we can make a use of:

- [multibase - self describing encodings](https://github.com/multiformats/multibase/blob/master/multibase.csv)
- [multicodec / multikeys - self describing keys](https://github.com/multiformats/multicodec/blob/master/table.csv)

A Secp256k1 public key can be described with a prepended byte code `0xe7`. I've reali

[2020-06-04 17:11] Samyoul commented on #1937
After speaking with @jarradh today we've settled that the main reason for making these changes is for UX. Any functional benefit is coincidental and is not the focus of this change.

All we want to do is:
- make chat keys smaller and less daunting for the users.
- make the key format more robust for any future change, and/or interoperability requirements with 3rd parties.

[2020-06-08 09:37] flexsurfer opened #1988 "Push notifications node"
# Problem

To implement push notifications for ios we have to use Apple push server and user's device token, but we would want to use it not directly from users's devices but via "push notifications" waku node, here are more details https://discuss.status.im/t/decentralized-push-notifications-for-ios/1718

# Implementation

1) implement and run waku node which will be listening for two commands
 a

[2020-06-11 11:58] flexsurfer commented on #1988
regarding device token registration we also need deregistering,
and we need some confirmation from pn node when a user has been registered or deregistered

[2020-06-11 12:27] flexsurfer commented on #1988
also to be able to send PN from pn node we need next credentials
[code]

[2020-06-11 12:29] flexsurfer commented on #1988
with gorush https://github.com/appleboy/gorush#send-ios-notification
[code]

-i, --key <file>                 certificate key file path
-P, --password <password>        certificate key password

[2020-06-11 12:31] flexsurfer commented on #1988
@andremedeiros could you assists with getting certificate?

[2020-06-12 12:54] arnetheduck commented on #1937
With regards to on-chain formats, it should generally be less necessary to use something like multiformats or self-identifying keys - as long as the contract can be uniquely identified, that is enough to disambiguate the data within - among other things, this is why ethereum itself for example strips the compression type from the secp signatures it stores - it's just waste - a similar argument can

[2020-06-15 15:40] 3esmit commented on #1834
I propose the use of Status Network infrastructure to do this.

![image](https://user-images.githubusercontent.com/224810/84677101-9ef7ee80-af04-11ea-9a7a-d5c443e13ffc.png)

For every transaction that happens, when it detects a transaction, it message to the recipient wallet the txid using Status Network.
When a user wants to read their pending transaction list, they simply sync a public chat:
![i

[2020-06-16 17:11] Samyoul commented on #1937
FYI, I've got a working unspeced version of this https://github.com/status-im/status-go/pull/1990 .

This supports

- `secp256k1` pks
- `bls12-381 g1` pks
- `bls12-381 g2` pks

Uses multicodec identifiers for key types, and multibase encoding of bytes.

[2020-06-17 21:16] Samyoul commented on #1937
Spec is now submitted for peer review https://github.com/status-im/specs/pull/137

[2020-06-23 13:24] Samyoul commented on #1937
https://github.com/status-im/status-go/pull/1990 Has been merged.

[2020-06-24 10:41] Samyoul commented on #1937
status-im/specs#137 Has been merged.

Now readable at https://specs.status.im/spec/2#public-key-serialization

[2020-07-01 12:29] Samyoul commented on #1978
Analysis from @andremedeiro shows that fail is here

https://github.com/status-im/status-go/blob/develop/peers/peerpool_test.go#L513

Error log

[code]

[2020-07-01 13:01] Samyoul commented on #1937
As far as `status-go` is concerned this issue is resolved. There still remains consuming or dependant implementations:

- join.status.im / j.status.im site to handle the new multiformat public key types
- `status-react` implementation https://github.com/status-im/status-react/issues/10325

[2020-07-01 13:01] #1937 closed, assigned to Samyoul

[2020-07-05 04:01] weekly-digest[bot] opened #1998 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #1997 [Push notification implementation](https://github.com/status-im/status-go/pull/1997), by [cammellos](https://github.com/cammellos)
## NOISY ISSUE
:speaker: #1997 [Push notification implementation](http

[2020-07-07 14:52] #1965 closed, assigned to nobody

[2020-07-12 04:01] weekly-digest[bot] opened #2000 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #1999 [Emoji Reactions](https://github.com/status-im/status-go/pull/1999), by [Samyoul](https://github.com/Samyoul)
## NOISY ISSUE
:speaker: #1999 [Emoji Reactions](https://github.com/status-im/status-go/pul

[2020-07-19 04:01] weekly-digest[bot] opened #2002 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #2001 [DeleteMultiaccount method](https://github.com/status-im/status-go/pull/2001), by [rasom](https://github.com/rasom)
## NOISY ISSUE
:speaker: #2001 [DeleteMultiaccount method](https://github.com/status-im/s

[2020-07-26 04:01] weekly-digest[bot] opened #2005 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #2004 [Bug/fix pending peers segfault](https://github.com/status-im/status-go/pull/2004), by [cammellos](https://github.com/cammellos)
:heart: #2003 [Update READM

[2020-08-02 00:15] weekly-digest[bot] opened #2012 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 4 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #2009 [Feature/push notifications fix](https://github.com/status-im/status-go/pull/2009), by [cammellos](https://github.com/cammellos)
:green_heart: #2007 [St

[2020-08-09 00:15] weekly-digest[bot] opened #2014 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*status-im/status-go*](https://github.com/status-im/status-go):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #2013 [[WIP] Feature/group chat invitation](https://github.com/status-im/status-go/pull/2013), by [flexsurfer](https://github.com/flexsurfer)
## NOISY ISSUE
:speaker: #2013 [[WIP] Feature/group chat invitati

[2020-08-20 22:12] dzuqe commented on #1773
hey @adambabik i've submitted a PR in go-ethereum that fixes this issue https://github.com/status-im/go-ethereum/pull/89

[2020-08-22 15:56] flexsurfer commented on #1773
@Samyoul

[2020-08-24 23:47] dzuqe commented on #1772
Hey @Samyoul . i've submitted a PR in go-ethereum that should fix this issue https://github.com/status-im/go-ethereum/pull/90 . There's a more detailed description there.

[2020-08-27 10:19] cammellos opened #2027 "Sqlite3 fails to open db file on ecryptfs filesytems"
Currently in some filesystems (ecryptfs) the filename ends up being to long, and opening the database fails because of it.

More info https://github.com/status-im/nim-status-client/issues/775.

We should probably reduce the filename of app-%x.sql , but that requires a migration.

[2020-09-09 09:58] #1998 closed, assigned to nobody

[2020-09-09 09:58] #2000 closed, assigned to nobody

[2020-09-09 09:58] #2002 closed, assigned to nobody

[2020-09-09 09:58] #2005 closed, assigned to nobody

[2020-09-09 09:58] #2012 closed, assigned to nobody

[2020-09-09 16:29] Samyoul commented on #1834
**Minor update.**

A decentralised alternative to static infrastructure is https://www.pokt.network/ . We'd have to ensure that the nodes have the required RPC methods. Either `parity_pendingTransactions` or `eth_pendingTransactions`.

[2020-09-11 06:20] emizzle opened #2038 "Sticker messages have sticker hashes with spaces between the characters"
# Problem
In `nim-status-client`, we are receiving sticker messages that have sticker hashes with spaces between each character, ie `"e 3 0 1 0 1 7 0 1 2 2 0 e a b 9 a 8 e f 4 e a c 6 c 3 e 5 8 3 6 a 3 7 6 8 d 8 e 0 4 9 3 5 c 1 0 c 6 7 d 9 a 7 0 0 4 3 6 a 0 e 5 3 1 9 9 e 9 b 6 4 d 2 9"`. The full message looks like this:

[code]

# Implementation
Run `nim-status-client` on `master` and view the lo

[2020-09-11 06:48] emizzle commented on #2038
False alarm. The was a `.join(" ")` on our side.

[2020-09-11 06:48] #2038 closed, assigned to nobody

[2020-09-15 11:21] flexsurfer opened #2042 "Wrong ERC20 decimal rounding in "Set max""
# Problem

https://github.com/status-im/status-react/issues/10060

[2020-09-15 11:22] flexsurfer commented on #2042
`big.Int` is used for` BalanceOf` but probably `hexutil.Big` should be used instead

[2020-09-15 11:45] flexsurfer commented on #2042
[code]

[2020-09-22 14:00] #2042 closed, assigned to Samyoul, flexsurfer

[2020-09-25 08:39] #2014 closed, assigned to nobody

[2020-09-25 08:46] cammellos commented on #1978
This test should not be flaky anymore.
Some of the tests that are still flaky:

- PushNotifications tests in messenger. This are valuable imo and should be kept, I will look at those.
- Bridge tests. These tests often hangs, and it means we have to wait for the timeout for them to stop. I would probably remove them as we'll eventually remove the bridge, so not worth fixing, what do you think?
- Te

[2020-09-25 12:02] #2027 closed, assigned to nobody

[2020-10-03 10:50] cammellos commented on #1988
this has been implemented,closing

[2020-10-03 10:50] #1988 closed, assigned to cammellos

[2020-10-06 06:02] oskarth commented on #1025
^ @cammellos just a fyi ping and  putting this on your radar as VIPNode is still an option here, especially considering recent Infura  limits.

[2020-10-06 14:10] shazow commented on #1025
For what it's worth, Vipnode development is paused for now. I'm trying to decide on what the future of the project will be, input is very welcome.

My main concerns is that LES is _still_ not enabled by default in any of the major node implementations, and doing many-to-many micropayments is still a difficult problem (though zksync is getting closer).

[2020-10-07 14:21] Ferossgp commented on #1978
One more test:

https://ci.status.im/blue/organizations/jenkins/status-go%2Fprs%2Ftests/detail/PR-2026/42/pipeline#step-76-log-930

[code]

[2020-10-08 14:07] cammellos commented on #1978
Another flaky test I have noticed is:
[code]

Seems like sqlcipher hangs sometimes opening the database (that's something we never noticed on production, so might be related to tests only), but not exactly clear what it is.
Is seems it might deadlock if multiple threads are re-using the same connection, but that should not be the case, for now I will use a inmemory database for those tests, while

[2020-10-21 10:09] cammellos commented on #1978
Another flaky test
https://ci.status.im/blue/rest/organizations/jenkins/pipelines/status-go/pipelines/prs/pipelines/tests/branches/PR-2060/runs/2/nodes/73/log/?start=0
[code]

[2020-10-22 10:56] cammellos commented on #1978
and another one:
[code]
[log.txt](https://github.com/status-im/status-go/files/5422168/log.txt)

[2020-10-27 10:55] flexsurfer opened #2062 "Add support for signTypedData_v4"
# Problem

It's not possible to sign typed data with the latest spec (signTypedData_v4)

# Implementation

https://docs.metamask.io/guide/signing-data.html#sign-typed-data-v4

[2020-10-29 08:05] cammellos commented on #2062
I looked a bit into this, and I am a bit confused, I believe metamask implementation might not be according to specs.
We have our own implementation of signed type data, but we can use geth's.
That should be fairly easy, but not sure exactly now if I am right in saying that metamask is not according to specs.

https://github.com/MetaMask/eth-sig-util/pull/107

[2020-11-02 09:55] cammellos opened #2065 "Create test data for migrations"
# Problem

Creating test data for migrations can be expensive and time consuming.

Ideally, we can build a database that can be share with the following data:
[code]
To speed up the migration testing process

cc @churik

[2020-11-02 10:32] cammellos commented on #1978
another one reported:

[code]

[2020-11-03 08:19] cammellos commented on #679
Closing as not something that's on our plate as of now

[2020-11-03 08:19] #679 closed, assigned to nobody

[2020-11-03 08:21] #1281 closed, assigned to nobody

[2020-11-03 08:21] #1317 closed, assigned to nobody

[2020-11-03 08:21] cammellos commented on #1276
This has now been solved

[2020-11-03 08:21] #1276 closed, assigned to nobody

[2020-11-03 08:22] #1321 closed, assigned to nobody

[2020-11-03 08:22] #1339 closed, assigned to nobody

[2020-11-03 08:22] #1387 closed, assigned to nobody

[2020-11-03 08:23] cammellos commented on #1624
this has been done

[2020-11-03 08:23] #1624 closed, assigned to nobody

[2020-11-03 08:24] #1532 closed, assigned to nobody

[2020-11-03 08:26] #1549 closed, assigned to nobody

[2020-11-03 08:26] #1562 closed, assigned to nobody

[2020-11-03 08:27] #1677 closed, assigned to nobody

[2020-11-03 08:28] #1740 closed, assigned to nobody

[2020-11-03 08:29] cammellos commented on #1513
Closing for now, this should be working as we use it in the app, feel free to re-open if still an issue

[2020-11-03 08:29] #1513 closed, assigned to nobody

[2020-11-03 08:29] #1907 closed, assigned to nobody

[2020-11-03 08:33] #1836 closed, assigned to nobody

[2020-11-03 08:34] #1743 closed, assigned to nobody

[2020-11-03 08:37] cammellos commented on #1639
Closing for now, feel free to re-open if still an issue

[2020-11-03 08:37] #1639 closed, assigned to nobody

[2020-11-03 08:37] #1551 closed, assigned to nobody

[2020-11-03 08:38] #1554 closed, assigned to nobody

[2020-11-03 08:47] cammellos opened #2068 "Mailserver requests are still using bloom filters"
# Problem

After investigating  https://github.com/status-im/status-react/issues/11351
we noticed that mailservers requests are still using bloom filters, regardless of whether waku is using bloom filter mode.

Mailservers don't support querying by topic at the moment. https://github.com/status-im/status-go/blob/3f63b0c23cbe32c2331cb6201ee5cb5255ce9353/mailserver/mailserver.go#L1002

and topics is

[2020-11-03 09:04] cammellos commented on #1978
Another instance
[log.txt](https://github.com/status-im/status-go/files/5480215/log.txt)

[2020-11-03 10:18] #1538 closed, assigned to nobody

[2020-11-03 10:18] #1539 closed, assigned to nobody

[2020-11-03 19:09] cammellos commented on #1978
And another:

[code]

[2020-11-17 13:11] churik commented on #2068
Reproduced during testing release 17/11/2020

Logs from Jarrad device: [Status-debug-logs.zip](https://github.com/status-im/status-go/files/5553613/Status-debug-logs.zip)

[2020-11-30 11:03] #2068 closed, assigned to nobody

[2020-12-08 15:53] cammellos commented on #1978
another one:

[code]

[2021-01-05 17:20] jakubgs opened #2109 "Canary checks return timeouts due to throttling"
# Problem
When running `node-canary` on a node with high frequency it returns timeouts.

# Details
When I run `node-canary` manually sometimes it succeeds and sometimes it fails with:

[code]

This happens regularly when running the canary every 10 seconds:

[code]

[code]

But works just fine with a delay of 30 seconds:

[code]

# Acceptance Criteria
The canary returns an error that indicates fai

[2021-01-13 18:11] vkjr opened #2115 "Mailservers created from latest develop drop off frequently"
# Problem

When `eth.test` contains mailservers build from latest `status-go` it drops off approximately once in a minute.

Steps to reproduce:
1. clone latest `status-go`
2. create test image: `make docker-image DOCKER_IMAGE_CUSTOM_TAG=deploy-test`
3. upload it to test fleet: `docker push statusteam/status-go:deploy-test`
4. After few minutes run nightly `status-react`, switch to `eth.test` fleet

[2021-01-15 11:31] cammellos commented on #1978
One fix for push notification tests https://github.com/status-im/status-go/pull/2118

[2021-01-20 10:16] vkjr commented on #2115
Commands used while working on the issue:

**Creating image from current `status-go` version and pushing it to test fleet** (run it from your status-go dir):
[code]

**Pushing image from current prod to test fleet**:
[code]

**Restarting test fleet with database cleanup** (run from infra-eth-cluster dir)
[code]

[2021-01-26 07:28] #2115 closed, assigned to vkjr

[2021-02-02 02:22] johndejohn opened #2140 "mailserver port"
# Problem
I run the status-go node in docker. working good, but the port is 30301.
"30303 TCP/UDP - DevP2P wire protocol port. Must ALWAYS be public."
when i set-up add own history mode on my phone, there is connection error.

How do i change that port and connect my own mailserver ?
Thanks;

![Screen Shot 2021-02-02 at 05 11 07](https://user-images.githubusercontent.com/40263018/106543204-4ec2b08

[2021-02-02 13:17] Samyoul opened #2141 "Notifications are not dispatched for RequestTransaction/SendTransaction"
See https://github.com/status-im/status-go/pull/2130#issuecomment-770709112

[2021-02-02 23:21] #2140 closed, assigned to nobody

[2021-02-02 23:23] johndejohn commented on #2140
1. sudo docker stop "NAME"
2. make run-mailserver-docker
 if still same issue,
sudo docker run -d -p 30303:30303 "NAME"

[2021-02-07 16:53] washosk commented on #1793
I'm tryin to do the same thing as @jakubgs in order to include statusd in Ethereum on ARM new release, but I'm facing the same problem, did you find antother way to create a statusd binary for arm64 (rpi4 is our main focus right now)?

[2021-02-07 19:00] jakubgs commented on #1793
Build it directly on the host. Should work.

[2021-02-08 10:59] washosk commented on #1793
Yes, compiling it in a rpi4 works like a charm. If you ever found a way to crosscompile it please let us know.

Thanks!

[2021-02-19 18:53] jrainville opened #2156 "SaveContact called for nickname change shouldn't remove the profile photo"
Right now, calling `SaveContact` to update the nickname of a contact removes their profile picture. Logging out and back in fixes the issue.

Related desktop issue: https://github.com/status-im/status-desktop/issues/1761

[2021-02-23 07:37] #2141 closed, assigned to Samyoul

[2021-02-26 17:03] fabius opened #2159 "Contact Discovery"
# Problem

When trying to add a contact using their [adjective, adjective, animal] username, I figured that this procedure is not supported. So I am asking for some clarification on this end:

- did I just mess something up or is this in fact not supported?
- is there some kind of contact discovery implementation available / being worked on / in the pipeline?

# Notes

I sincerely hope this is not

[2021-03-03 08:54] cammellos commented on #2159
Hi @fabius
That's correct, adding a contact using the 3 random words is not supported and it won't be, as the mapping between pk -> 3 random words is a one-way function (i.e you can't derive the pk from the 3 random words username)

Currently no, as we progress with the communities initiative that's something we might start look into, but currently is too early to say.
Thanks for the questions, wi

[2021-03-03 08:54] #2159 closed, assigned to nobody

[2021-03-04 17:55] flexsurfer opened #2166 "Do not create filters on init for profile chats which are not from contacts"
# Problem

Currently, when we open someone profile we create a chat to show profile statuses updates, but we don't want to listen them when we close profile , except if its in the contacts

[2021-03-04 17:57] flexsurfer opened #2167 "Set type as profile for all chats which have not empty profile field"
# Problem

We had a bug in status-react, we were creating profile chats with type of public chat, so we need to migrate these chats to profile type

[2021-03-31 09:49] shivekkhurana opened #2183 "Add a session id and time since last session event to anonymous metrics"
# Problem
Since our metrics data has no user data attached to it, we are limited in the number of interactions we can measure. For example we can check how many times was the app opened or how many times did we send a message.

But this will not tell us anything about the active vs passive user behaviours. We can have a user who uses the app to communicate, and another one who only reads the messa

[2021-04-01 07:44] flexsurfer opened #2185 "Performance degradation"
# Problem

status-go is busy for 20-40s, when fetching history

issues: https://github.com/status-im/status-react/issues/11895, https://github.com/status-im/status-react/issues/11895#issuecomment-804977796

also sometimes RN bridge is crashed, so app is unresponsive at all

[2021-04-12 08:06] shivekkhurana opened #2192 "Medium.com link unfurling is broken"
# Problem
Medium has probably changed how they deliver content, this could be temporary but the tests are failing.

In our tests, we use [this article](https://medium.com/the-bitcoin-podcast-blog/a-look-at-the-status-im-ico-token-distribution-f5bcf7f00907) to verify unfurling. When opened in the browser, the article looks fine.

But when opened using an `httpClient`, a 404 page is returned. This i

[2021-04-12 13:46] #2183 closed, assigned to shivekkhurana

[2021-04-15 13:49] Samyoul opened #2203 "Storing references into sync.Maps after loading and editing that reference"
For a little context see the discussion here https://github.com/status-im/status-go/pull/2199#discussion_r613871484

I've introduced a lot of comments into the code base that read `// TODO(samyoul) remove storing of an updated reference pointer?`.

We've recently changed `Messenger`'s use of `map`s to use custom `sync.Map`s and removed most usages of `Messenger.mutex`. While doing this I noticed t

[2021-04-23 09:19] emizzle opened #2213 "Installation timestamp is always 0"
# Problem

When advertising a device with the `sendPairInstallation` RPC call, the signal that is received on both device 1 and device 2 always shows a `timestamp` of `0`.

# Reproduction
1. On device 1, advertise the device using `sendPairInstallation`.
2. On device 2, monitor the signal coming in.
3. Actual Result:
[code]
4. Expected result:
[code]

# Acceptance Criteria

The `event.installation

[2021-04-26 06:13] flexsurfer opened #2215 "If there is lots of contacts or chats it takes time to start a node"
# Problem

it can take up to 5-7 seconds to run a node with 2k contacts, currently, we create a contact for each user in public chat, so contacts grow fast if you use the app regularly

[2021-04-27 07:26] flexsurfer commented on #2215
a simple test,  just create a new account , join 1300 random channels and logout, then sign in takes about 30 sec on ios simulator

[2021-04-27 07:27] flexsurfer commented on #2215
something similar happens for contacts

[2021-04-27 11:47] flexsurfer commented on #2062
https://github.com/status-im/status-go/pull/2182

[2021-04-27 11:47] #2062 closed, assigned to nobody

[2021-04-27 14:08] ckorder opened #2217 "Node public listing / broadcasting question"
**Is there no public listing in someway to distribute the work over the nodes run by the community?**

`NodeConfig

The root of the JSON configuration.
...
"NoDiscovery": false,
...`

**So is the node used by other users by default or not?**

If there is a way to list the node if not done automatically, would you please be so kind to add it into the documentation? Or please mention that your node

[2021-04-30 21:52] richard-ramos opened #2221 "Update deprecated dependency: github.com/golang/protobuf"
github.com/golang/protobuf 1.3.x are deprecated and the linter will complain with:
[code]

Unfortunately, updating this dependency is not a simple task, since it requires doing a lot of changes across the codebase, changing the usage of the protobuffers from simple structs to pointers: i.e.: protobuffer.ChatMessage should become *protobuffer.ChatMessage.

In the meantime, excluding the rule S1019

[2021-04-30 23:14] richard-ramos commented on #2221
Updating the protobuf dependency also requires updating it in mvds. I did it in this PR https://github.com/vacp2p/mvds/pull/88 however it's not possible to use it due to this issue: https://github.com/vacp2p/mvds/issues/89 . It seems we are not using the latest mvds version in status-go, hence why this issue has not been noticed before

[2021-04-30 23:19] richard-ramos commented on #2221
A draft PR is being worked here: https://github.com/status-im/status-go/pull/2222 but it fails due to vacp2p/mvds#89

[2021-05-12 09:12] arnetheduck opened #2227 "Opt-in metrics should not store metrics until consent is given"
# Problem

https://github.com/status-im/status-go/blob/91620b9982e930c55e29b2e3a3df574032991f33/_docs/app-metrics.md#opt-in-system

The documentation states that metrics will be collected and stored before the user has opted in to do so - this creates a problematic situation where the metrics may leak information prior to consent should the phone be lost or malware gets access to the storage.

It

[2021-05-20 17:55] jrainville opened #2234 "Pinned message `from` is the message author instead of the person who pinned"
When receiving the pinned message in real time using the signal, the `from`  value is correctly the pub key of the person who pinned, but when using `chatPinnedMessages`, the returned messages don't have the right `from` value. In that case,  the `from` is the person who originally posted the message.

Either the `from` should be the person who pinned when calling `chatPinnedMessages` or either we

[2021-05-21 09:28] emizzle opened #2235 "feat: Edit community channel, add description and private fields"
# Problem

Community channels are currently not editable.

# Implementation

Community channel fields should be editable. A field for `private` and `description` should also be added in the response object to support the UI.

# Acceptance Criteria

All current fields in the community channel (name, description, and private) should be editable.

# Future Steps

For now, `private` field should be a

[2021-05-21 10:02] anastasiyaig commented on #2234
For some reason it happens for group chats and communities channels, but is okay (looks like that) for 1 x 1 chats

[2021-05-28 15:44] skyf0cker commented on #238
The link is broken now, can you give a new link? @divan

[2021-06-01 12:13] #2235 closed, assigned to emizzle

[2021-06-02 09:05] churik commented on #2234
for mobile it is not OK for 1-1 also - after relogin instead of the person who pinned `from` is shown

[2021-06-03 15:19] skyf0cker commented on #2167
if there is more info about it, maybe screenshots? @flexsurfer

[2021-06-06 11:59] web3coach commented on #1793
Same problem here. Using some of the packages from `github.com/ethereum/go-ethereum v1.9.25` and cross compilation fails for Darwin :(

Searching how to resolve it atm... let's see. Will share if I find something.

[code]

[2021-06-06 12:23] web3coach commented on #1793
Update: seems like go-Ethereum is using `xgo` to cross-compile https://geth.ethereum.org/docs/install-and-build/cross-compile because of the C crypto libraries.

Try something around the lines:
[code]

Although this further fails for me bc it still uses Go 1.13 and I need Go 1.14 for CertMagic ...

I hope you will have more luck cross-compiling the `statusd`

[2021-06-06 12:27] web3coach commented on #1793
There is a PR currently for Go 1.14 merge but it seems to be im "mempool" :) https://github.com/karalabe/xgo/pull/184

[2021-06-08 15:23] #2234 closed, assigned to nobody

[2021-06-14 11:51] shivekkhurana commented on #2227
This option was kept to capture critical onboarding data. The metrics in question are only stored in-memory, until the user opts-in. And the opt-in banner is visible as soon as the user logs in.

In case the user does't opt-in, the metrics will be deleted. If the user closes the app before logging in, the metrics will be deleted.

[2021-06-29 10:53] jakubgs opened #2270 "Rising CPU usage despite no rise in traffic"
# Problem

I'm seeing relay nodes - not history nodes - showing a pattern of raising CPU usage:

![image](https://user-images.githubusercontent.com/2212681/123785177-858bcf80-d8d8-11eb-891a-f811da323d3e.png)

But it does not correspond with a raise in traffic:

![image](https://user-images.githubusercontent.com/2212681/123785215-93415500-d8d8-11eb-890f-64fc8aa55095.png)

The restart fixes it, but

[2021-07-12 12:51] felixboehm commented on #1970
whisper is not in vendor anymore. close?

There is one remaining self referencing vendor module for extkeys.

[2021-07-20 09:10] vitvly opened #2280 "Add peer connection status support for Wakuv2"
# Problem

Since Wakuv2 support has been merged into status-go, we don't have peer information available. Hence mobile client has to temporarily include a hardcoded conditional, whereby we always assume we're connected to some peers if using Wakuv2.

# Implementation

Now that go-waku has some support for peer management merged (https://github.com/status-im/go-waku/pull/30), it is necessary to mak

[2021-07-20 09:27] oskarth commented on #2280
It is worth noting that the 27/WAKU2-PEERS spec is a set of recommendations, and not strict requirements per se. They are up to each node and client, and e.g. go-libp2p might have more help when it comes to things like robust connection management, etc.

From what I recall, the main two requirements mentioned from Core in the past are to know (i) if you are connected to a relay node (ii) if you ar

[2021-07-20 09:32] vitvly commented on #2280
@oskarth thanks, this is good to know! As suggested by @cammellos earlier, i've added `IsOnline`/`HasHistory` boolean flags to go-waku. This seems to be most important for the client now.

[2021-07-26 21:07] iurimatias opened #2289 "Deleting a message does not remove it from activity center notifications"
# Problem

Deleting a message does not remove it from activity center notifications

[2021-07-30 01:59] iurimatias opened #2293 "Add contact requests to the `activityCenterNotifications` call"
Right now contact requests are not part of the activityCenterNotifications API, It should be part of the normal list and handle seen.

[2021-08-05 15:59] ghost commented on #2221
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2217
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2215
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2213
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2203
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2192
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2185
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2166
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2156
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1978
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2109
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #2065
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1025
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1834
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1772
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1773
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1981
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1945
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1974
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1968
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1294
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1833
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1936
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1645
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1925
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1924
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1849
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1338
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1780
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 15:59] ghost commented on #1774
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1616
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1642
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1463
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1535
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1601
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1565
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1501
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1495
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1484
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1476
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1366
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1266
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1409
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1323
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1369
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1385
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1408
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 16:00] ghost commented on #1441
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2021-08-05 17:41] jakubgs commented on #2109
Solved in https://github.com/status-im/status-go/pull/2146 and https://github.com/status-im/go-ethereum/pull/91.

[2021-08-05 17:41] #2109 closed, assigned to nobody

[2021-08-05 17:44] jakubgs commented on #1925
This would be nice, but will probably never happen.

[2021-08-05 17:44] jakubgs commented on #1924
Still relevant.

[2021-08-05 17:45] jakubgs commented on #1369
Still valid.

[2021-08-06 02:39] oskarth commented on #1616
Was this solved? It is still a problem :)

Though perhaps more on status-react as a user-facing issue

[2021-08-06 02:41] oskarth commented on #1266
keepalive cc @iurimatias re bandwidth control

Also see https://github.com/vacp2p/research/issues/84

[2021-08-06 02:42] oskarth commented on #1025
I guess this issue now should evolve into supporting the Portal Network that Nimbus is contributing to in collaboration with other Ethereum teams.

[2021-08-06 02:43] oskarth commented on #1642
This has largely been addressed, and more work on this is happening with nim-waku benchmarking

cc @jm-clius fyi

[2021-08-06 02:43] #1642 closed, assigned to nobody

[2021-08-06 08:13] jakubgs commented on #1616
@oskarth because I thought Chaos Unicorn Day was over =].

[2021-08-06 09:59] oskarth commented on #1616
It's never over!

You know, you could just shut down the whole cluster and watch people panic...

[2021-08-06 15:22] jakubgs commented on #1616
Now that you say it... that does sound fun.

[2021-08-08 15:17] Spoved4891 opened #2305 "Setting up status node - whispermail fails to dial"
Getting these messages when trying to register with other nodes. Doesn't dial or connect to any peers.
30303 is open.
tried also testing by opening 30703, same issue. Any ideas?

`ERROR[08-08|15:00:21.865] error registering topic=whispermail rendezvous server=/ip4/47.xx.xx.xxx/tcp/30703/ethv4/16Uiu2HAmV8Hq9e3zm9TMVP4zrVHo3BjqW5D12121212121212121 err="failed to dial 16Uiu2HAmV8Hq9e3zm9TMVP4zrVHo3Bj

[2021-08-08 18:37] Spoved4891 commented on #2305
NM, had some permission issues on directory structures. Closing.

[2021-08-08 18:37] #2305 closed, assigned to nobody

[2021-08-11 12:57] diglos opened #2309 "Failed to dial. failed to negotiate security protocol: protocol not supported"
Hi,

We are preparing a set of scripts to automatically crosscompile Status and creating a Debian package to make it easy to run a node on a Raspberry Pi (or other ARM 64 device). It works, but we are getting these messages:

[code]
We are using the suggested config and even used the gen_config.sh script with the same result. Ports are opened.

Are we missing something?

Thanks!

[2021-08-13 08:10] flexsurfer commented on #2309
cc @jakubgs

[2021-08-13 08:54] jakubgs commented on #2309
Our Rendezvous nodes seem to be accessible:
[code]
I'll try running a node myself, see if I can reproduce.

[2021-08-13 09:03] jakubgs commented on #2309
@diglos could you post the configuration you are using and the node version you are running?
Are you building from `develop` or a specific tag?

[2021-08-13 09:18] diglos commented on #2309
Hi.

I tried with 0.81.0 release and the develop one (0.83.6). this is the config file:

[code]

[2021-08-13 13:36] jakubgs commented on #2309
It appears appears to be coming from here:
https://github.com/status-im/status-go/blob/9f9f00b7a267a17812f39f3a949c2b650f2066b6/vendor/github.com/libp2p/go-libp2p-transport-upgrader/upgrader.go#L83-L87
https://github.com/status-im/status-go/blob/9f9f00b7a267a17812f39f3a949c2b650f2066b6/vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go#L740
https://github.com/status-im/status-go/blob/9f9f00b7a267

[2021-08-13 13:45] cammellos commented on #2309
@jakubgs rendezvous is not being used anymore by the status-client, we can likely disable it on the nodes, they can connect through static nodes instead.

[2021-08-13 13:45] jakubgs commented on #2309
I have identified that `v0.79.11` does not have this issue, but `v0.80.00` does, so we broke something in libp2p after `v0.79.11`.

So my recommendation would be either to disable Rendezvous, or use the older version.

[2021-08-13 13:48] jakubgs commented on #2309
I will make a PR to disable Rendezvous in the generated config by default.

[2021-08-13 14:11] jakubgs commented on #2309
With #2313 the generated config looks like this:
[code]
And that allows me to start a node without any errors using `make run-mailserver-systemd`:
[code]

[2021-08-13 14:22] #2309 closed, assigned to nobody

[2021-08-13 14:23] jakubgs commented on #2309
Thanks for reporting this @diglos. The node would have functioned fine with these errors, but it is definitely disconcerting to see them, so I've merged into `develop` the configuration changes that disable Rendezvous. You can remove you config file and re-create it using the `Makefile`, or just run the config generation script directly.

[2021-08-13 14:26] jakubgs commented on #2309
I admit that the presence of "static nodes" in the config is weird, but that's because these nodes are running [Waku v1 Protocol](https://rfc.vac.dev/spec/6/), which is just modified [Whisper Protocol](https://eips.ethereum.org/EIPS/eip-627). We have [Waku v2](https://rfc.vac.dev/spec/10/) in the works that will solve the problems of decentralized messaging infrastructure in a more thought out way

[2021-08-13 14:36] diglos commented on #2309
Thanks guys for the quick response.

It works fine now. I will review the technical details ASAP, thanks for this.

One last thing. Regarding `"AdvertiseAddr": "81.60.164.56"`. Is this param absolutely necessary?, I mention this because the majority of the solo nodes are running behind a dynamic IP and even though we can add this through a post-install script it won´t last longer.

[2021-08-16 07:58] flexsurfer opened #2314 "No last message when opening chat but it was visible on chat-preview"
# Problem

original issue https://github.com/status-im/status-react/issues/11895

when the user has a new message, its visible in the chats list, and there is also an unread indicator, but when we call`wakuext_chatMessages` it doesn't return a new message, and also `markAllRead` has no effect, so it doesn't return success handler

this might be related to many data in app -db , lots of chats and m

[2021-08-16 08:41] jonathanalvares9009 commented on #1970
Hi @Samyoul can I take up this issue? I'm interested in the status.im project

[2021-08-18 10:42] jakubgs commented on #2309
I've discussed this with @Samyoul and it appears that `AdvertiseAddr` is directly related to the Rendezvous discovery protocol, so that setting can be skipped if that protocol is disabled. For this reason I've dropped it from the default config: https://github.com/status-im/status-go/pull/2321

[2021-08-24 11:03] jakubgs opened #2328 "index out of range error when connecting with Android app"
# Problem

Node `v0.83.19` crashes when Mobile peer attempts to connect.

# Logs

[code]

[2021-08-24 11:09] jakubgs commented on #2328
I tested this using a PR build from https://github.com/status-im/status-react/pull/12479 which uses `v0.83.16`.

[2021-08-24 11:10] jakubgs commented on #2328
@rasom I doubt it's your PR that caused this. I tested a few PR builds, including https://github.com/status-im/status-react/pull/12475.

[2021-08-24 11:28] jakubgs commented on #2328
Interestingly enough this also happens on `v0.79.11`.

[2021-08-24 11:38] cammellos commented on #2328
It happens because we don't send a bloom filter anymore with ms queries, and the leveldb part is not handling topics yet

[2021-08-24 13:40] #2328 closed, assigned to cammellos

[2021-09-08 12:06] flexsurfer commented on #2215
for 25k contacts
`contacts, err := m.persistence.Contacts()`
takes ~5s

[2021-09-14 02:28] D4nte opened #2362 "Cannot compile on Arch Linux/go1.17: inconsistent vendoring in ..."
# Problem

I am having issues compiling status go on my machine.

[code]

[code]

Then tried `go mod vendor`:

[code]

[2021-09-20 10:56] cammellos commented on #1925
I'll stick it here so in case, I have always to come back to it, until we add timestamps:
[code]

where 5e7c.. is the hex value of the timestamp

[2021-09-21 13:31] corpetty opened #2373 "Documentation: Document linked in rpc is deleted"
# Problem

There is a document linked in https://github.com/status-im/status-go/tree/develop/rpc that describes "upstream routing" that no longer exists.

## Solution
Replace documentation and update link

[2021-09-22 10:19] 0x-r4bbit opened #2376 "reorderCommunityChat doesn't seem to update positions correctly when chat is moved to different category"
# Problem

When a chat item is moved from one category into a different one at the **same** position as it was in the previous category, new positions for all chat items in the new category aren't recalculated correctly.

Here's an example. Assuming a chat structure like this:

[code]

Now imagine, the user moves `chat3` of `category2` which is at `p2` to `category1` at `p2`. This will eventually

[2021-09-23 16:00] #2280 closed, assigned to vitvly

[2021-10-05 07:44] flexsurfer commented on #2215
fixed by reducing contacts table

[2021-10-05 07:44] #2215 closed, assigned to nobody

[2021-11-02 22:40] Snake883 opened #2419 "How do I know what my node is doing, and if it is even working?"
How do I know what my node is doing, and if it is even working?

[2021-11-29 09:06] flexsurfer opened #2446 "Signal messages to react as soon as possible"
# Problem

Currently, when fetching messages, we send all new messages only after they all have been processed, so there might be a case when we have 1 message for user and 1000 other messages (not for user, or from banned users etc )

# Implementation

Send processed messages in batches as soon as possible

# Acceptance Criteria

User sees new messages right after they've been processed

[2021-11-29 09:07] #2314 closed, assigned to nobody

[2021-11-30 14:27] richard-ramos commented on #2376
https://github.com/status-im/status-go/pull/2448 probably fixed this issue!

[2021-11-30 14:46] 0x-r4bbit commented on #2376
NICE!!

[2021-12-08 16:14] #2446 closed, assigned to cammellos

[2021-12-09 14:24] richard-ramos opened #2461 "mailserver_topics table should have a primary key using topic and chatId instead of only topic"
In https://github.com/status-im/status-go/pull/2460 I made a change so the `last_request` column is reset to 0 when deactivating a channel. This is done so it's possible to re-request the messages from a mailserver when you rejoin the channel again.

This is because this column is used to determine the from/to when requesting mailserver messages, and if that value is not updated, when you rejoin t

[2021-12-24 15:35] Parveshdhull commented on #2376
Yup, this fixed the issue. Tested in https://github.com/status-im/status-react/pull/12854. Thanks

[2021-12-24 15:35] #2376 closed, assigned to nobody

[2022-01-04 12:58] Samyoul commented on #1936
Resolved with https://github.com/status-im/status-go/pull/2199, which includes code from https://github.com/status-im/status-go/pull/2181 that explicitly deals with this issue.

[2022-01-04 12:58] #1936 closed, assigned to nobody

[2022-01-06 11:03] flexsurfer opened #2483 "personal_ecRecover returns error (not implemented?)"
# Problem

`personal_ecRecover` returns `{:jsonrpc 2.0, :id 10, :error #js {:code -32700, :message method is unsupported by RPC interface}}`

Original issue:

https://github.com/status-im/status-react/issues/12920

[2022-01-06 11:48] #2483 closed, assigned to nobody

[2022-01-06 11:48] flexsurfer commented on #2483
it seems like its implemented as API call

[2022-01-19 10:05] 0x-r4bbit opened #2495 "Introduce flag to enable/disable message history archive support in communities"
This is a sub task of the Community History Archives MVP.

**Draft spec**: https://github.com/status-im/specs/pull/164
**Roadmap / Tasks**: https://hackmd.io/@status-desktop/B1naRjxh_/%2FNeX8-q49TtqN18i4VkXRFw

---

There are three different cases that need to be covered:

1. We need a general flag in status-go to turn community history archive support on/off. This is needed so mobile clients won'

[2022-01-26 10:22] 0x-r4bbit opened #2502 "Create "special" channel when community is created"
This is a sub task of the Community History Archives MVP.

Draft spec: status-im/specs#164
Roadmap / Tasks: https://hackmd.io/@status-desktop/B1naRjxh_/%2FNeX8-q49TtqN18i4VkXRFw

---

We need to introduce a new "special" channel for communities, which is used to distribute magnet links. The channel is "special" in the sense that:

1. Only comunity owners should be allowed to send messages to that

[2022-01-27 15:30] jrainville opened #2507 "Leaving a community doesn't send a signal"
# Problem

When a user leaves a community, there are no signals sent to itself or to others.

# Acceptance Criteria

The problem is fixed once a signal is sent to the current user and also all other users of that community showing that the member list was updated.

[2022-01-27 19:42] Khushboo-dev-cpp opened #2508 "Add tests for gif service"
# Problem

Test file for gif service is missing

# Implementation

Unit test the gif service

[2022-01-31 09:44] 0x-r4bbit opened #2511 "Introduce new application message type for community history archive message links"
This is a sub task of the Community History Archives MVP.

Draft spec: status-im/specs#164
Roadmap / Tasks: https://hackmd.io/@status-desktop/B1naRjxh_/%2FNeX8-q49TtqN18i4VkXRFw

---

Messages sent to the  "special" channel created for distributing magnet links that point to community history archives (#2502) need to be of a certain type so they can be easily recognized by Status nodes. The handli

[2022-02-01 15:48] 0x-r4bbit opened #2515 "Store admin community messages as waku messages"
This is a sub task of the Community History Archives MVP.

Draft spec: status-im/specs#164
Roadmap / Tasks: https://hackmd.io/@status-desktop/B1naRjxh_/%2FNeX8-q49TtqN18i4VkXRFw

---

Messages stored in community message history archives need to be stored as waku messages. At the moment status-go stores messages only as `ApplicationMessage`.

The goal of this task to ensure that all messages recei

[2022-02-01 18:01] jo-mut opened #2516 "Support captions when sending images"
As is at the moment, when sending an image message with a caption, they are both treated as two different messages instead of a single package. Each have timestamp, message status and if the text is deleted the image remains.

# Implementation

When sending an image with a caption they both should be treated as a single message
They should share the message timestamp and status
If the text message

[2022-02-02 09:53] #2508 closed, assigned to Khushboo-dev-cpp

[2022-02-10 07:58] jo-mut opened #2526 "Send multiple(up to 5) image messages"
Sending multiple image messages as a single package

https://www.figma.com/file/DaktYgy62CJEKE9Zqf7WTS/Kuba%E2%8E%9CWeb?node-id=152%3A357188

# Implementation
At the moment status-go does not support sending multiple images in one go.  Add support to send upto 5 multiple images as shown in the designs

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in

[2022-03-08 09:01] 0x-r4bbit opened #2562 "Implement community history archive protocol (MVP Version)"
Implement the Community History Archive Protocol to enable long-term histories for communities.

**Draft specification**: [specs/pull/164](https://github.com/status-im/specs/pull/164)

**Resources & links**:
- [Community history problem break-down](https://github.com/vacp2p/research/issues/82)
- [Waku V2 Usage for Community History](https://github.com/vacp2p/research/issues/83)
	- [Capturing messa

[2022-03-08 09:41] 0x-r4bbit opened #2563 "Add node option to enable/disable torrent client / community history archive protocol"
This includes:

1. Introduce a new CLI flag to status-cli to enable community history archive protocol (should be `false` by default), plus a CLI option to configure a desired port that the torrent client should listen on
2. Make the same available as `NodeConfig` parameters (`TorrentConfig`) so apps that initialize the status node in a non-cli way have an option to configure this too.
3. Ensure t

[2022-03-08 09:45] 0x-r4bbit opened #2564 "Introduce `communities_settings` to enable/disable community history archive support"
While #2563 refers to turning the community history archive protocol on/off entirely, this issue is about enabling/disabling support on a per community basis (e.g. community owners should be able to provide history archive support for communities individually).

This means we need to:

- Introduce a new `communities_settings` table in the database and store the enabled/disabled state per community

[2022-03-08 09:54] 0x-r4bbit opened #2565 "Ensure community owners/members subscribe to magnetlink channel"
When community owners create magnet links for their community archive torrents, they will be distributed via a special channel that shouldn't be visible in the UI.

To make this work we need to set up the correct filters for such channel when communities are instantiated.

The channel ID will be: `{communityID}-magnetlinks`

[2022-03-08 09:57] 0x-r4bbit opened #2566 "Make community owners store waku message payloads"
Community owners need to store the waku message payload of the messages they receive so they can package them up later when creating archives.

This means, whenever messages are retrieved we need to check their topics, see if they belong to any of the owned/admin communities channels and if that's the case, store the payload in the database. A new table `waku_messages` will be needed for that.

[2022-03-08 10:09] 0x-r4bbit opened #2567 "Implement archive tasks interval routine"
This routine is about creating torrents, seeding them and distributing the magnet links.
Essentially the flow is as follows:

1. Figure out the start date to create archives for. This is important as it isn't as straightforward as one might think. It can be one of the following:
1.1 The last archive "end date". Which is the timestamp at which the last archive date range ends
1.2. If there's none b

[2022-03-08 10:26] 0x-r4bbit opened #2568 "Handle magnet link messages"
Detect messages of magnet link message type coming from magnet link channel of joined communities. Ensure they have been signed by community.

Then:

1. Pass magnetlink to torrent client and download `index` file
2. Determine which data pieces to download
3. Download individual archives and turn them into waku messages
4. Update database and keep track of which archives have been downloaded alread

[2022-03-08 10:26] 0x-r4bbit opened #2569 "Introduce community history archive protocol signals"
With all of the tasks done in #2562 , status-go should emit dedicated signals so clients can inform users about activity in the UI

[2022-03-09 10:22] 0x-r4bbit commented on #2515
Superseded by #2566

[2022-03-09 10:22] #2515 closed, assigned to 0x-r4bbit

[2022-03-09 10:22] 0x-r4bbit commented on #2502
Superseded by #2565

[2022-03-09 10:22] #2502 closed, assigned to 0x-r4bbit

[2022-03-09 10:23] 0x-r4bbit commented on #2495
Superseded by #2563 and #2564

[2022-03-09 10:23] #2495 closed, assigned to 0x-r4bbit

[2022-03-09 10:23] 0x-r4bbit commented on #2511
Superseded by #2568

[2022-03-09 10:23] #2511 closed, assigned to 0x-r4bbit

[2022-03-09 18:04] marek22k opened #2578 "Question: Is this Docker configuration correct?"
Hello,

While this is probably not the right place to ask, I keep getting directed to Discord. Due to Discord's proprietary nature, I try to avoid it. That's why I'm asking here.

I want to run a status node on my VPS with docker. Is the following Docker command suitable for this?
`docker run -p 8545:8545 -p 30303:30303 -v $(pwd)/config.json:/config.json -v $(pwd)/statusd:/root/.statusd statusteam

[2022-03-10 00:44] richard-ramos opened #2580 "Upgrade to go 1.17"
Should be done after the next release

Required by:
- https://github.com/status-im/go-waku/pull/192
- https://github.com/status-im/go-waku/pull/201

[2022-03-14 16:41] 0x-r4bbit opened #2588 "Add tests to various Community Archive History Protocol tasks"

[2022-03-16 12:17] Samyoul opened #2590 "Flaky Test TestEncryptionServiceTestSuite/TestMaxKeep"
[Log of the fail](https://gist.github.com/Samyoul/d33093db924dbed5c6e976fd68c5286f). Looks like a timeout causes a panic.

[2022-03-19 15:30] Samyoul opened #2596 "Flaky Test TestMessengerPushNotificationSuite/TestReceivePushNotificationFromContactOnly"
Following test  `TestMessengerPushNotificationSuite/TestReceivePushNotificationFromContactOnly` has been found to be flaky

[Log of the fail](https://gist.github.com/Samyoul/cc9aba9c793c5d24ea3da6a92e272c9c)

[2022-03-19 21:06] Samyoul opened #2597 "Flaky Test TestTransactionValidatorSuite/TestValidateTransactions"
[Log for the failed test](https://gist.github.com/Samyoul/7722d09d4ce93a11ff6d0e0591d37b77)

[2022-03-21 11:55] #2565 closed, assigned to 0x-r4bbit

[2022-03-21 11:59] #2563 closed, assigned to 0x-r4bbit

[2022-03-22 11:33] #2564 closed, assigned to 0x-r4bbit

[2022-03-28 09:24] #2566 closed, assigned to nobody

[2022-04-06 11:00] #2567 closed, assigned to 0x-r4bbit

[2022-04-12 13:30] 0x-r4bbit commented on #2588
This has landed

[2022-04-12 13:30] #2588 closed, assigned to 0x-r4bbit

[2022-04-12 13:30] 0x-r4bbit commented on #2569
These have landed

[2022-04-12 13:30] #2569 closed, assigned to 0x-r4bbit

[2022-05-10 09:27] #2568 closed, assigned to 0x-r4bbit

[2022-05-12 10:22] churik opened #2673 "Create tests for token validation"
# Problem
As token (assets) logic was moved to status-go repo, in https://github.com/status-im/status-react/pull/13351 token validation is switched off (doesn't make sense anymore)

There should be some test coverage to replace token validation that was previously built into status-react e2e build.

# Acceptance Criteria

There are some status-go (or integration tests) to check that token details

[2022-05-16 09:50] churik opened #2676 "Automate GH project workflow"
# Problem
Currently, adding/removing Prs to https://github.com/status-im/status-go/projects/18 is fully manual.
Would be nice to automate basic flows, like it is done in https://github.com/status-im/status-react/projects/7

# Implementation
Found: https://github.com/marketplace/actions/automate-projects (not sure that's the best solution though)

# Acceptance Criteria
In https://github.com/status-

[2022-05-16 09:51] churik commented on #2676
cc @jakubgs @cammellos @iurimatias

[2022-05-16 10:10] jakubgs commented on #2676
Possible solutions:

* https://github.com/actions/add-to-project
* https://github.com/takanabe/github-actions-automate-projects
* https://github.com/srggrs/assign-one-project-github-action
* https://github.com/AdityaGovardhan/ga-pull-requests-projects
* https://github.com/protecomp/ga-issues-projects
* https://github.com/philschatz/project-bot

There are loooooong threads about this on GitHub Disc

[2022-05-16 10:42] jakubgs commented on #2676
Honestly, I'm not a fan of giving any kind of GitHub token to a third-party GitHub Actions.

Especially since scopes one can select for a token are far too broad:
https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes

[2022-05-16 10:46] jakubgs commented on #2676
The solution using [project-bot](https://github.com/philschatz/project-bot) seems sensible, since it allows for setting much narrower permissions:

![image](https://user-images.githubusercontent.com/2212681/168576055-d8885bee-928a-4c4b-bff3-bbbefd73f525.png)

And once it's running you can define a special card in each Column called `Automation Rules` which defines what happens.
For example, if you

[2022-05-16 10:49] churik commented on #2676
totally works for me

[2022-05-16 18:33] jakubgs commented on #2676
I have deployed out own instance of `project-bot` at https://project-bot.status.im/, but I'm having some issues getting it to work:

- https://github.com/status-im/infra-misc/commit/f5e01012 - dokku: deploy project-bot instance

I will debug the issues tomorrow.

[2022-05-18 16:26] jakubgs commented on #2676
Ok, finally, it works:

![image](https://user-images.githubusercontent.com/2212681/169093822-59725122-6afc-4254-8557-a707c6abafe5.png)

Took a while to get the GitHub app permissions and configuration right.

[2022-05-18 16:31] jakubgs commented on #2676
Here's what's necessary to be set in `Permissions & Events` section of GitHub app configuration:

### Repository Permissions

![image](https://user-images.githubusercontent.com/2212681/169094455-8192ef01-c9d4-4bab-ad6d-fe2e20b47a6c.png)

![image](https://user-images.githubusercontent.com/2212681/169094500-e0f3d1f2-570c-415d-a6ae-721377536547.png)

![image](https://user-images.githubusercontent.com

[2022-05-18 16:35] jakubgs commented on #2676
The current card added to the `Contributor` column contains:
[code]
So only new pull requests will get added. Another option is `new_issue` for creating cards.

The card __HAS TO BE__ either first or last in the column for it to work.

You can read about rules [here](https://github.com/philschatz/project-bot#available-rules).

@churik do you need anything else?

[2022-05-18 16:36] jakubgs commented on #2676
It is worth noting one confusion I had. I thought `reopened_pullrequest` rule would also add the pull request to the column, but it does not. Only the `new_issue` and `new_pullrequest` rules create a new card in a Project column. All other rules simply move the cards to other columns based on the event triggered.

[2022-05-19 09:02] churik commented on #2676
@jakubgs thank you! indeed, new PRs are added to project automatically.
Can we please add one more flow:
- when PR is merged or closed, it is deleted from https://github.com/status-im/status-go/projects/18 (or I can add `Done`, if it is easier to move it to another column)

[2022-05-19 09:55] jakubgs commented on #2676
I don't think there is a remove action in this bot, but we can move to a `Done` column. That's easy.

[2022-05-19 09:57] churik commented on #2676
Done!
![image](https://user-images.githubusercontent.com/4557972/169266917-9b4957c6-5724-4583-81ae-18009e26ddee.png)
Issue is resolved, thank you!

[2022-05-19 09:57] #2676 closed, assigned to nobody

[2022-05-19 09:59] jakubgs commented on #2676
Yeah, that's the annoying thing. That functionality is part of GitHub, but it only supports __moving__ issues, but not auto-adding them to a project.

[2022-05-20 10:31] noeliaSD opened #2683 "Update group chat name once members list has been updated"
# Problem

Once members in a group chat are changed (added or removed) the name of the group chat should be updated according to the [spec](https://github.com/status-im/feature-specs/pull/75/files#diff-5a7ebd63f774e80f5d46bb9fdd7175f4ecbf9c9464a4d9cc95d0b4bca94b9347R38)

[2022-05-23 13:34] #2562 closed, assigned to 0x-r4bbit

[2022-05-26 11:51] churik opened #2692 "Status-project bot stopped adding new PRs to project"
# Problem
Created https://github.com/status-im/status-go/pull/2691 to test flow of automatic adding new PR to https://github.com/status-im/status-go/projects/18#card-82284336
According to the board, it stopped working somewhere near 24.05

# Acceptance Criteria
new PRs in https://github.com/status-im/status-go/ are automatically added to https://github.com/status-im/status-go/projects/18#card-8228

[2022-05-26 11:51] churik commented on #2692
@jakubgs 🙏  when you have a time, please

[2022-05-26 13:12] Samyoul commented on #2580
This is probably resolved now we have go 1.18

[2022-05-26 13:54] #2580 closed, assigned to iurimatias, cammellos, richard-ramos, jakubgs, Samyoul

[2022-05-26 14:41] jakubgs commented on #2692
I sad it here: https://github.com/status-im/status-go/issues/2676#issuecomment-1130238490

![image](https://user-images.githubusercontent.com/2212681/170511409-26268281-3e93-4527-b1b3-991981ad7c9a.png)

Looks like someone moved it.

[2022-05-26 14:45] #2692 closed, assigned to jakubgs

[2022-05-27 14:47] churik commented on #2692
thank you

[2022-05-30 12:51] cammellos opened #2700 "Tests are failing hitting the 10m timeout"
Some tests run are failing because of hitting the 10m timeout.

From the logs @richard-ramos gathered, tests seems to be taking much longer on CI compared to the equivalent,  single run (without any other tests being running at the same time), locally.

https://discord.com/channels/624205794384281629/862717376915308544/980284137065807894

This is true also for tests that do very little.
For exampl

[2022-05-30 18:01] jakubgs commented on #2700
Okay, lets take an example test run: https://ci.status.im/job/status-go/job/prs/job/tests/view/change-requests/job/PR-2686/8/

Where the `TestMessengerCommunitiesSuite` has lasted 87.35 seconds:
[code]
And the tests started at `14:55:50` UTC and ended at `15:05:54` UTC:
[code]

[2022-05-30 18:03] jakubgs commented on #2700
Which is indeed correlated with a big spike in CPU load on the `linux-01` host:

![image](https://user-images.githubusercontent.com/2212681/171042238-5ee954e1-9132-4daa-a79c-5d3bc91d48a2.png)

Memory appears to be fine throughout it:

![image](https://user-images.githubusercontent.com/2212681/171042325-28ff52ce-19bc-4aaa-9252-5f15771bead6.png)

[2022-05-30 18:07] jakubgs commented on #2700
We do see a lovely spike in disk utilization, pretty much 100% while the tests are running:

![image](https://user-images.githubusercontent.com/2212681/171042425-caef40de-930f-4bb0-9d70-a374a4ab5b7d.png)

And a clear spike in number of files open:

![image](https://user-images.githubusercontent.com/2212681/171042589-feb8c2e0-f0c1-4a29-a3b3-d24ebc3b63c5.png)

but it doesn't go beyond 1k.

[2022-05-30 18:22] jakubgs commented on #2700
And indeed, if I run it manually on the same host it takes 10+ minutes:
[code]

[2022-05-30 19:13] jakubgs commented on #2700
The tests do run faster on my desktop, but not as fast as you are describing them running:
[code]

[2022-05-30 19:48] jakubgs commented on #2700
Except, when I run that in a Nix shell with Go 1.17 I see much better times:
[code]
[code]

[2022-05-30 19:54] richard-ramos commented on #2700
@jakubgs Do you think it's related to go 1.18?

[2022-05-30 19:55] jakubgs commented on #2700
But it's also fast with a Nix shell with Go 1.18:
[code]
[code]
But if I run it on my local NixOS profile it's slow.

[2022-05-30 20:18] jakubgs commented on #2700
Some tests are actually much faster on 1.18:
#### Go 1.17
[code]
#### Go 1.18
[code]

[2022-06-01 20:15] jakubgs commented on #2700
I did some tests trying to change the soft file limit for builds, changing from 1024 through 8192 to 65536 but no clear correlatio.

[2022-06-01 20:30] jakubgs commented on #2700
I installed Go 1.18.2 on all CI hosts: https://github.com/status-im/infra-role-golang/commit/5b9245ae

But when I ran two builds the results were absurd:

![image](https://user-images.githubusercontent.com/2212681/171495879-4f5ec950-a637-4eb5-b519-39f0d8c80244.png)

One failed after almost 8 minutes, while one succeeded after 1 minute. This is a wild disparity.

[2022-06-08 10:16] 0x-r4bbit opened #2704 "Improve Bookmark syncing"
Syncing bookmarks today works as follows:

- Bookmarks are really only synced when paring a device and hitting the "sync now" button (this syncs all things that can be synced)
- They are not synced in "real-time" when, for example, adding a new bookmark (this is easily fixed and already done on my machine)
- While adding bookmarks and syncing them is easy, it's a bit harder to account for deleting

[2022-06-08 10:20] 0x-r4bbit opened #2705 "Implement bookmark garbage collection"
As discussed in #2704, "deletion" of browser bookmarks merely means setting their `removed` flag to `true`, resulting in them not being actually deleted.

This will create memory pressure that needs to be accounted for. To solve this, we'll implement a simple garbage collection mechanism that is run every time the messenger bootstraps. The algorithm checks for bookmarks flagged as `removed`, then

[2022-06-08 12:45] 0x-r4bbit opened #2706 "Introduce messenger RPC APIs for storing and deleting bookmarks"
Further discussions around implementing #2704 and #2705 have resulted in the decision that we need dedicated RPC APIs in the messenger to take care of syncing bookmarks when clients attempt to store or remove them.

Essentially what this would look like otherwise right now, is that clients use `StoreBookmark` and `RemoveBookmark` APIs provided by the bookmark service, which operates right on the d

[2022-06-08 16:04] cammellos opened #2707 "Share image/username on separate topic on a community"
Users should subscribe to a separate topic when they join a community and they should periodically post their profile picture/ens names etc, in the same way as we do for their personal contact code topic.

### Implementation

I think most of it should be already implemented, we just need to make sure a user subscribes to that topic when joining a community, and that it publishes on it, in `publish

[2022-06-09 11:58] churik opened #2710 "Populate DB improvements / fixes"
# Problem
Script to populate db is extremely useful in terms of client performance testing, however currently it is working with some issues and it would be nice to have more possibilities to use it.

## ISSUES

Tested with  `feature/resize-images` branch.

`./populate-db --one-to-one-chats 1 --number-of-messages 100000  --seed-phrase "clog beach hour copper wolf buddy census gas dance tattoo wash

[2022-06-10 10:08] 0x-r4bbit opened #2714 "Clearing a chat history is not synced across paired devices in real-time"
Similar to bookmarks, the action of clearing a chat history is not sync across paired devices in real-time, but only when devices are explicitly synced.

This needs fixing.

[2022-06-13 08:19] churik commented on #2710
cc @cammellos

[2022-06-13 09:06] 0x-r4bbit commented on #2714
Turns out this is already working, desktop was just using the wrong APIs..

[2022-06-13 09:06] #2714 closed, assigned to 0x-r4bbit

[2022-06-16 14:20] cammellos opened #2718 "Metrics for admin of community"
A few metrics that we should keep track of for the admin of a community:

1) When a user has requested access (this should be available in the db already)
2) When a user was banned from a community (I don't think we keep track of this metric)
3) How many posts for a given user (the raw data is available, it needs to be counted up, probably not terribly efficient, though it might be a start)

[2022-06-16 14:33] endulab commented on #2718
This is related to the new Community members design in Figma:
https://www.figma.com/file/17fc13UBFvInrLgNUKJJg5/Kuba%E2%8E%9CDesktop?node-id=3113%3A356327

Required data:
- number of messages
- joined community date
- join request date
- rejection date
- banned date

This issue is required by https://github.com/status-im/status-desktop/issues/5979

[2022-06-17 10:29] #2706 closed, assigned to 0x-r4bbit

[2022-06-17 12:21] #2705 closed, assigned to 0x-r4bbit

[2022-06-21 15:40] qfrank commented on #2707
I’d like to have a try :)

[2022-06-22 13:05] richard-ramos opened #2723 "Markdown should support compressed pubkeys for mentions"
In this example in desktop we can see how for this pubkey: `0x0482e2e2fcfd6507280f6ea8a6192b512ddf107225f978efe4d692703fdd7e38819d4e9e7f97d3643333b71040b282e1b8df75052104a67baa96fe485cac8fa803`, when the compressed version is used: zQ3shoT2neD3tnNgC3juykXHVknY4p48CCgKJZ5hWJFTKHP3N it's not parsed as a mention:

![image](https://user-images.githubusercontent.com/1106587/175035791-63c7851a-227c-4c2c

[2022-06-22 14:33] endulab opened #2724 "Expose Community BanList to Nim & unban community members"
# Problem
Adding unban community member functionality
Expose Community BanList to Nim

# Implementation
Changes in protocol/communities/community.go in order to use info in Nim

Needed by https://github.com/status-im/status-desktop/issues/5979

[2022-06-29 12:15] #2723 closed, assigned to richard-ramos

[2022-07-02 16:20] du82 opened #2903 "Increase character limit to 64,000 chars"
As a user, I want to be able to send very large messages, such as code, or things related to data science. 64,000 characters is enough to cover almost any use case.

We have a 1 MB limit per message, so we should be able to do it. Even with emojis and CJK scripts, everything will fit within 256 KB.

[2022-07-04 07:02] #2724 closed, assigned to endulab

[2022-07-06 10:50] John-44 commented on #2707
Spoke to @cammellos , apparently @qfrank is currently working on another issue so @osmaczko would you be able to pick this issue up?  If you have any questions about this issue, I recommend pinging @prichodko

[2022-07-19 09:12] 0x-r4bbit opened #2758 "Allow for `Messenger.CreateCommunity` to create communities without a default channel"
Not too long ago we've extended `CreateCommunity` to also always create a default `#general` channel, as a community without a channel doesn't really make a lot of sense.

As part of https://github.com/status-im/status-desktop/issues/6081 however, we **do** need this again, because imported discord communities come with their own channels. In fact, importing from discord is only possible via chann

[2022-07-19 09:18] 0x-r4bbit opened #2759 "Introduce `discord_message_authors` DB table"
Imported discord messages hold information about their authors. To save memory, it'd make sense to create a dedicated table for discord authors that, during discord import, gets a row for every individual discord message author.

**Tasks**
- [x] Create table `discord_message_authors` with fields for `id`, `name`, `nickname`, avatarUrl`

[2022-07-19 09:23] 0x-r4bbit opened #2760 "Introduce new `ChatMessage` content type for `DiscordMessage`"
Imported discord messages will be stored as `common.Message` and therefore a new `ChatMessage` content type needs to be introduced with a payload that looks something like this:

[code]

One thing to note here is that part of that payload will be stored in a dedicated table for discord message authors (https://github.com/status-im/status-go/issues/2759), so part of the task is also to adjust exist

[2022-07-20 08:35] #2707 closed, assigned to osmaczko

[2022-07-21 19:42] 0x-r4bbit commented on #2704
This has landed as of https://github.com/status-im/status-go/issues/2704

[2022-07-21 19:42] #2704 closed, assigned to 0x-r4bbit

[2022-07-26 08:23] #2758 closed, assigned to 0x-r4bbit

[2022-08-03 12:39] osmaczko opened #2782 "Add bio, social links to contacts and profile"
The client should be able to share/receive social links and contact bio (description).

- [x] extend ChatIdentity protobuf with social links
- [x] extend Contact with social links and bio
- [x] extend Settings with social links and bio
- [x] propagate social links and bio through ContactCodeAdvertisement
- [x] handle ChatIdentity message with social links and bio
- [x] expose new endpoints for set

[2022-08-05 14:03] richard-ramos opened #2787 "Update goerli ens contract to release a username in 2 minutes"
This is so we're able to test releasing an ens without having to wait 1 year

The contract is already deployed in https://goerli.etherscan.io/address/0x51bF5b1256F7AD4E4E3969a5DaEF98BDCc3c627c
however, stateofus.eth in goerli needs to be updated to point to that contract.
cc: @3esmit

Once that's done, we need to update ./contracts/registrar/address.go to update the contract address

[2022-08-08 12:54] saledjenic opened #2791 "Fetching data from Waku"
As can be seen in this [screen](https://www.figma.com/proto/17fc13UBFvInrLgNUKJJg5/Kuba%E2%8E%9CDesktop?node-id=1042%3A303014&scaling=min-zoom&page-id=1023%3A298171&starting-point-node-id=1172%3A306624&show-proto-sidebar=1) if an old Status user is running the app for the first time (new app installation), he should be able to login in any of 3 ways displayed in that screen.

Now if we follow in [

[2022-08-08 13:46] endulab commented on #2683
I am not sure about it. Group chat's name can be changed and in this situation we should not change the chat's name.
I think that members names are rather used for setting initial name.

[2022-08-09 06:04] noeliaSD commented on #2683
Looking at the current [spec](https://github.com/status-im/feature-specs/pull/75/files#diff-5a7ebd63f774e80f5d46bb9fdd7175f4ecbf9c9464a4d9cc95d0b4bca94b9347R38) I cannot see a specific rule that fits with this issue so, if you can confirm with @John-44 that it is not necessary, we can maybe specify it in the spec file and close the issue.

[2022-08-10 08:13] #2759 closed, assigned to 0x-r4bbit

[2022-08-12 16:59] Macias131987 opened #2799 "Macias"
# Problem

An overview of the background required to understand the problem.
A problem description.

# Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

#

[2022-08-15 18:38] 0x-r4bbit commented on #2760
This has landed

[2022-08-15 18:38] #2760 closed, assigned to 0x-r4bbit

[2022-08-16 12:29] #2782 closed, assigned to osmaczko

[2022-08-17 22:15] Macias131987 opened #2802 "Maciasmf1987@outlook.com"
# Problem

An overview of the background required to understand the problem.
A problem description.

# Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

#

[2022-08-17 22:16] Macias131987 commented on #2802
https://etherscan.io/address/0x00000000219ab540356cbb839cbe05303d7705fa

[2022-08-18 11:31] #2802 closed, assigned to nobody

[2022-08-18 11:31] #2799 closed, assigned to nobody

[2022-08-19 05:00] du82 opened #2804 "Add Matrix to bio links"
As a user, I want to be able to link to my Matrix.org account in my profile.

We should also include defaults for WeChat, Weibo, and Douyin, not just the 5 major western platforms.

Reference PR: https://github.com/status-im/status-go/pull/2786

[2022-08-23 16:55] osmaczko opened #2812 "Distribute information about leaving community"
# Problem

Currently leaving the community is only local to the user. The user should advertise it is no longer part of the community so that community's member list can be updated accordingly.

# Implementation

- Introduce `RequestToLeave` (similar to `RequestToJoin`) and distribute it in `LeaveCommunity`
- Handle `RequestToLeave` as admin and update the members list

# Notes

All changes to the

[2022-08-26 06:02] osmaczko opened #2823 "Give any member ability to add its mutual contact to the group"
Currently, only the admin can add members to the ad-hoc group. According to [specs](https://github.com/status-im/feature-specs/pull/75/files) all members should have the ability to add contacts to the group.

[2022-08-26 06:04] osmaczko opened #2824 "Give any member ability to change the name, image and color of the group"
Currently, only the admin can change the name, image and color of ad-hoc group. According to [specs](https://github.com/status-im/feature-specs/pull/75/files) all members should have this ability.

[2022-08-26 06:07] osmaczko opened #2825 "Ensure the group is created only with Group creator's mutual contacts"
According to [specs](https://github.com/status-im/feature-specs/pull/75/files) "All Members added by Group creator MUST be its mutual contacts".

[2022-08-26 09:25] #2812 closed, assigned to osmaczko

[2022-09-02 08:14] cammellos opened #2835 "Extend populate db script to support creating communities"
We should extend the populate db script to support creating an arbitrary number of communities, of which the user is admin/creator of.

something like `-communities 5`, which should create 5 communities with random names/description.

[2022-09-02 08:24] qfrank commented on #2835
i'll look into this @cammellos

[2022-09-09 07:16] osmaczko opened #2851 "Extend `MembershipUpdateEvent` with members details (displayName, image, etc.)"
# Problem

Some members in group-chat may have unknown details, as in the attached picture:

![image](https://user-images.githubusercontent.com/33099791/189291871-0c178863-8032-4be0-aab1-d6ad1158cd63.png)

It happens because it is not guaranteed that user receives each member's `ContactCodeAdvertisement` in time.

# Solution

Extend `MembershipUpdateEvent` with members details (displayName, image,

[2022-09-13 10:16] #2823 closed, assigned to osmaczko

[2022-09-13 10:16] #2824 closed, assigned to osmaczko

[2022-09-13 10:16] #2825 closed, assigned to osmaczko

[2022-09-15 15:33] richard-ramos commented on #2787
This issue has been fixed

[2022-09-15 15:33] #2787 closed, assigned to nobody

[2022-09-23 09:43] endulab opened #2878 "RequestCommunityInfoFromMailserver should not read db during community import"
# Problem

During community import there is a request to mailserver to fetch recent community description.
However, RequestCommunityInfoFromMailserver first looks for community in database and returns an empty community.

# Implementation

Add flag to RequestCommunityInfoFromMailserver in order to do not check database.

[2022-10-20 08:56] #2835 closed, assigned to qfrank

[2022-10-24 14:48] cammellos commented on #2851
I think extending  membership update would be very expensive in terms of bandwidth, this is a case where probably we want to find an alternative solution, what do you think?

[2022-10-27 23:13] richard-ramos opened #2929 "wakuv2: use cursor to retrieve message history instead of loading 7d batches at once"

[2022-10-27 23:13] richard-ramos opened #2930 "wakuv2: limit queries to 10 content topics per history request"
Might be solved in go-waku with https://github.com/status-im/go-waku/issues/354

[2022-11-02 10:54] richard-ramos opened #2937 "wakuv2: mark 5m online status broadcasts as ephemeral"

[2022-11-03 12:39] richard-ramos opened #2938 "wakuv2: if there's not enough peers connected, create a signal so the client is aware of it, and switch to lightpush if necessary"

[2022-11-03 12:40] richard-ramos opened #2939 "wakuv2: increase connection timeout to 30s"
Under slow network conditions, the timeout configured in status-go might be too low to connect to a wakuv2 peer

[2022-11-03 12:45] caybro opened #2940 "desktop: can't accept contact requests"
# Problem

Likely a recent regression; trying to accept a contact request fails with this message:

[code]

status-desktop version: master (d147d7058e4a300c2e6b0bb2ce0a67ce92c8a7aa)
status-go version: v0.97.3-335-g956534210 (956534210111815202ba001bbc69a3411ebbb429)

[2022-11-03 12:54] richard-ramos opened #2941 "wakuv2: status-go should reconnect to discv5 bootstrap nodes (otherwise if it reaches 0 peers, it will never find peers again)"

[2022-11-03 13:00] richard-ramos opened #2943 "wakuv2: add metrics on the type of messages being sent"

[2022-11-03 15:27] caybro commented on #2940
Might be because of the recently introduced support for compressed keys (CC @endulab)

[2022-11-08 14:00] OmarBasem opened #2952 "An endpoint for fetching contact requests sent by user"
# Problem

As a user I want to be able to view my pending contact requests that I sent to other people as shown in the [designs](https://www.figma.com/file/7KIYbhoqNGAIFonE0w9TDz/Messages-for-Mobile?node-id=2010%3A508331). Currently, there is not an endpoint to fetch the sent out contact requests (I believe so).

[2022-11-09 10:45] 0x-r4bbit commented on #2940
I just tried reproducing this with two instances of desktop using status-go `f33c1cec3` which is a good handful of commits ahead of the version you were using.

@caybro can you please verify if this is still an issue latest `develop` of status-go?
Otherwise I think this can be closed.

[2022-11-09 11:23] caybro commented on #2940
@PascalPrecht latest desktop master, status-go/develop, I'm still getting the same error message:
[code]

[2022-11-09 11:27] caybro commented on #2940
For the record, dismissing fails with a similar message:
[code]

[2022-11-09 12:49] #2937 closed, assigned to richard-ramos

[2022-11-09 13:38] OmarBasem commented on #2952
More design clarification is required on this issue. Is the [sent-out requests list](https://www.figma.com/file/7KIYbhoqNGAIFonE0w9TDz/Messages-for-Mobile?node-id=2010%3A508331) merely a history/log of all the requests that the user has sent in the past? Or the currently pending requests? If it is the latter, shouldn't the `X` button be replaced with something like `Retract request` (probably high

[2022-11-09 14:39] #2939 closed, assigned to nobody

[2022-11-09 18:38] #2930 closed, assigned to nobody

[2022-11-10 09:28] 0x-r4bbit commented on #2940
@caybro so be sure: This is with two clean instances of desktop running latest master/develop correct?

Cause otherwise it looks like you're just in an invalid state (maybe because of switching status-go versions in between).
The assumption is that users never switched status-go versions back and forth with would possibly cause such things.

So can you confirm the above?

[2022-11-10 09:44] caybro commented on #2940
Yes but unsure how "clean" can I get. :) I definitely switched status-go versions a couple of times back and forth. I will retry with a clean data folder and report back

[2022-11-10 12:07] 0x-r4bbit commented on #2940
Yea, so, I think first to check if this is reproducible with a clean installation. Meaning, no status-go version hopping in the past that might cause corrupt data due to changes in code.

If this is not reproducible we can be fairly certain that this is an issue because you're database is in a broken state.

Lemme know how it goes.

[2022-11-11 13:38] caybro commented on #2940
Cannot reproduce on a freshly restored account

[2022-11-11 13:38] #2940 closed, assigned to 0x-r4bbit

[2022-11-21 17:22] cammellos opened #2971 "Allow encryption per channel in a community"
We should be able to encrypt per channel, in a community

[2022-11-22 08:54] Parveshdhull opened #3418 "Received messages are not shown when disabled ipv6"
# Bug Report

## Description

For the last 24 hrs, I am not seeing anyone online and am unable to send messages. And terminal is showing error:
[code]
![main-shot](https://user-images.githubusercontent.com/17097240/203269279-4bcbc4ba-36b9-4de0-b335-2a8b2fa5ef6e.png)

Logs:
[logs.txt](https://github.com/status-im/status-desktop/files/10065631/logs.txt)

### Additional Information

Status desktop ve

[2022-11-22 08:58] Parveshdhull commented on #3418
this also might be relevant
[code]

[2022-11-22 09:38] anastasiyaig commented on #3418
@richard-ramos please check

[2022-11-22 12:08] richard-ramos commented on #3418
Hm, this error is weird. @Parveshdhull, do you have IPV6 enabled?

[2022-11-22 12:16] Parveshdhull commented on #3418
hi @richard-ramos, no I don't have IPV6 enabled.

Also, I was testing with @cammellos and checking if I was receiving messages from him in geth.log. Apparently, messages are being received but not shown in UI.

Geth Logs: https://drive.google.com/file/d/1VGcAUy07tmgW6XvoV1Wr2dhXkDC0qDLE/view?usp=sharing

[2022-11-22 16:21] Parveshdhull commented on #3418
**UPDATE:** I have ipv6 disabled by passing kernel parameter `ipv6.disable=1`. If I enable ipv6, then it starts work again

[2022-11-23 14:24] richard-ramos opened #2974 "wakuv2: expose peer exchange"
If most clients in the network are reachable and can therefore successfully be discovered, the few clients that can't, could discover random peers and make outgoing connections only using Waku Peer Exchange (at least in the meantime).
The criteria to chose which peer-exchange-node should be used to request nodes from: chosen randomly from the fleet nodes
Risk is of course that this has not been do

[2022-11-23 14:25] richard-ramos commented on #2974
cc: @cammellos @iurimatias @jm-clius @fryorcraken

[2022-11-23 14:27] richard-ramos commented on #2974
**Note:** Peer exchange has been implemented in go-waku, but interop with nwaku hasnt been tested

[2022-11-25 14:19] richard-ramos commented on #2974
Peer exchange between go-waku and nwaku was tested succesfully

[2022-11-28 11:43] anastasiyaig commented on #3418
@Parveshdhull @richard-ramos is it still a blocker?

[2022-11-28 11:57] Parveshdhull commented on #3418
hi @anastasiyaig, yes its not blocker anymore.

[2022-11-28 11:58] Parveshdhull commented on #3418
### Steps to reproduce:
1. Disable ipv6
2. Restart PC
3. Open status-desktop and receive a message from another user

[2022-11-30 08:55] rasom commented on #2941
@richard-ramos reconnect when? When there is no connection to any bootstrap node or when it reaches 0 peers?

[2022-11-30 10:10] #2878 closed, assigned to endulab

[2022-11-30 13:43] qfrank opened #2990 "Map iteration order"
# Problem
After submitted my draft [PR](https://github.com/status-im/status-go/pull/2989#issuecomment-1331855903) , i got error `jenkins/prs/tests — This commit cannot be built` , [error detail is here](https://ci.status.im/blue/rest/organizations/jenkins/pipelines/status-go/pipelines/prs/pipelines/tests/branches/PR-2989/runs/1/nodes/75/steps/82/log/?start=0)

the test `TestLatestMessageByChatID`