[2017-10-18 10:07] tiabc commented on #407
Increasing priority as proper testing is of the utmost importance.

[2017-10-18 10:14] tiabc commented on #260
@deoxxa thanks for getting back, we really appreciate that! Feel free to open a new issue here to discuss your thoughts or we you can do it on our slack channel: http://slack.status.im/ pinging @divan

Closing the issue as it's been resolved.

[2017-10-18 10:14] #260 closed

[2017-10-18 10:31] JekaMas commented on #287
Maxim made exactly same task for last two month in Lazada. I think his exp. could be relevant here.

[2017-10-18 10:47] tiabc commented on #411
I think having a PoC is the way of achieving the comparison. Let's include it to acceptance criteria?

[2017-10-18 11:01] adambabik commented on #411
It may be hard as I guess there is no implementation in geth yet. Also, this issue should be done before Devcon3, that's why I decided to put it as a future step.

[2017-10-18 17:12] tiabc opened #413 "Update Ropsten CHT"
https://github.com/status-im/status-go/wiki/Updating-CHT

[2017-10-18 19:39] JekaMas commented on #258
I done most of [403](https://github.com/status-im/status-go/issues/403) to complite this task:

- NodeManager is simplified
- Some e2e tests are added
- There are no race conditions when running unit tests with -race.
- NodeManager is thread-safe

[2017-10-19 09:02] adambabik opened #415 "Change Loop API to prevent it from accepting tasks when the loop is closed"
# Problem

The problem was identified in this comment: https://github.com/status-im/status-go/pull/401/files#r144852963

When the loop is stopped, it should not accept any new tasks and return an error.

# Implementation

Change the loop API a bit then:

1. Close `l.ready` channel when the loop is stopped,
2. `func (l *Loop) Add(t Task)` should be `func (l *Loop) Add(t Task) error` + should cancel

[2017-10-19 15:25] divan commented on #415
To provide some context - current design could (and should) be rethought. Original design from [ottoext](https://github.com/deoxxa/ottoext) package served for another use case (short lived event loops), so we're free to implement own solution with API that serves our needs better.

[2017-10-19 15:45] tiabc commented on #415
@oleg-raev is handling this issue.

[2017-10-19 21:42] tiabc opened #418 "Get rid of build/env.sh"
# Problem

`build/env.sh` adds additional complexity which may probably be safely removed. A comment in go-ethereum's Makefile makes a hint: https://github.com/ethereum/go-ethereum/blob/master/Makefile#L3

# Acceptance Criteria

1. status-go can be built with regular `go build` without any `build/env.sh` magic scripts,
2. Makefile should stay but it should not use `build/env.sh`.

# Notes

There m

[2017-10-20 09:06] #281 closed

[2017-10-20 09:07] tiabc commented on #387
Increasing priority as #281 has been closed and we don't want to occasionally miss lint checking and fix lint warnings again.

[2017-10-20 12:56] adambabik commented on #418
I agree that `build/env.sh` is unnecessary. At the same time, I'd like to notice that `Makefile` may be still useful even for people who are familiar with Go tools.

Can we add to AC that `Makefile` should stay but should not contain references to `build/env.sh`?

[2017-10-20 12:59] tiabc commented on #418
Yeah, absolutely. Please, edit the description in whichever way you find the best. I actually love the idea of having all project-related actions in a single place, `Makefile` in our case.

[2017-10-20 15:03] divan opened #421 "Add application metrics for debug sessions"
# Problem

To ensure and maintain quality of the status-go, we need to have visibility of what's happening in a runtime.  Currently we don't have way to see many internal aspects of the status-go running - for example, if there is a goroutine leak, we have virtually no way to detect it, until app crashes in a real world usage.

Metrics allow not only to keep an eye on internals of program during d

[2017-10-20 15:34] adambabik opened #422 "Improve versioning of status-go"
# Problem

The current versioning of status-go is inconsistent, not automated and does not follow semver rules.

# Implementation

The most important goals are to make it consistent and automate the process, if not fully, at least to some degree.

A proposed flow:
1. Let's assume the current version in `develop` is `0.10.0`,
2. A new release branch is created and called `release/0.10`. Its version

[2017-10-21 10:00] adambabik commented on #421
1. I would change the title of this issue to "Go runtime metrics". We should also have application metrics which are a different topic,
2. Pull model might not be the best choice in this case. Is it possible to access the server from a real device?
3. It would be great if we can connect a test session recorded by the Test Team with a collected metrics. Maybe we can connect some app freezes with hi

[2017-10-21 12:50] tiabc opened #423 "Use CHT for Rinkeby"
# Problem

CHT doesn't work for Rinkeby.

The task is to devise a way to start syncing Rinkeby from one of the latest blocks.

# Implementation

Two options:
1. Investigate how it's done in go-ethereum and understand if there's a way to set up CHT for Rinkeby.
2. Just download state from somewhere and put it to the folder on the mobile device. Hacky and dirty but may bring results fast.

# Accepta

[2017-10-21 13:23] divan commented on #421
@adambabik thanks for response, I think I should explain purpose of this a bit better.

1. It's not about only "Go runtime metrics" it's about any measurable variable we want to keep an eye on - number of cells, stats on RPC requests, size of payloads, etc, etc - pretty much any custom metrics. Go runtime metrics just included by default.

2. Yes, for Android it's as simple as add forwarding for t

[2017-10-21 14:47] oleg-raev commented on #415
@divan thank you for sharing the context. Seems we need to create an issue for excluding https://github.com/deoxxa/ottoext from the code by refactoring, don't we?
In my implementation of the current issue, I'll keep this in mind.

[2017-10-21 16:01] tiabc opened #424 "Fix public testnet tests"
# Problem

Our faucet account has been changed and we can't store its passphrase in plain as ether from them may easily be stolen, which already happened 3 times and caused significant inconvenience, and we don't want that even though it's test ether. Just because it costs some efforts for us.

However, we need ether on some public testnet to run tests. For that we require:
1. An encrypted account

[2017-10-21 16:27] tiabc commented on #422
Decreasing priority as this issue doesn't block anything.

[2017-10-21 16:31] tiabc commented on #386
Although this issue is important, it doesn't block anything so decreasing priority.

[2017-10-21 16:38] tiabc commented on #325
Although it's important but doesn't significantly block anyone, so decreasing priority.

[2017-10-21 16:40] tiabc commented on #265
Closing as it hasn't been reproduced even once since when it was reported.

[2017-10-21 16:40] #265 closed

[2017-10-21 16:42] tiabc commented on #249
Decreasing priority as push notifications has been spiked for status-react and now only ongoing work is expected.

[2017-10-21 16:43] tiabc commented on #222
Closing as some documentation has been written.

[2017-10-21 16:43] #222 closed

[2017-10-21 16:47] tiabc commented on #185
Closing due to inactivity over 2 months.

[2017-10-21 16:47] #185 closed

[2017-10-21 16:49] tiabc commented on #171
Decreasing priority as it doesn't block anything.

[2017-10-21 16:50] tiabc commented on #162
Closing due to unclearly defined scope and acceptance criteria. We have an epic #218 for that.

[2017-10-21 16:51] #162 closed

[2017-10-21 17:04] #344 closed

[2017-10-22 13:45] divan commented on #415
@oleg-raev `github.com/deoxxa/ottoext` was renamed to `https://github.com/status-im/status-go/geth/jail/internal` after changing the code, so we don't use `github.com/deoxxa/ottoext` anymore.

[2017-10-22 20:36] tiabc commented on #254
The same should be done for the `StartNode` signal.

[2017-10-22 20:37] tiabc commented on #254
Increasing priority as it actually needs to be done to make tests 19 seconds faster.

[2017-10-23 09:11] adambabik commented on #421
@divan so it's application metrics as well. Could you add more details on that to the Implementation section?

Regarding the second point:

It's simple for Android but what about iOS? It must work for both platforms and for simulators and real devices.

If it's supposed to run only during development then yes.

It's not that complicated. You run a few docker containers and that's all. What I mean

[2017-10-23 10:37] adambabik commented on #424
The third option is the most straightforward and highly efficient. The plan looks solid!

[2017-10-23 10:59] divan commented on #421
Sure. Done.

I don't see any fundamental obstacles why it might have been a problem iOS simulator. It's just I don't have one running, so I can't quickly say how exactly one does port forwarding there.

Sure, you can setup a script (I guess there are programs/scripts already supporting expvar json) than will pull the json and forward to any other "adult" metrics solution - Prometheus, Grafana, etc

[2017-10-23 12:26] themue commented on #403
As seen in PR #420 the `NodeManager` embeds the `RWMutex`. This way its API gets public and could be misused. Would prefer it as private field `mu sync.RWMutex`.

[2017-10-23 12:47] divan commented on #254
@tiabc any chance to agree on only one behaviour (sync or async) of Start/Stop Node public calls so it fits both status-react and our tests needs?

[2017-10-23 13:03] adambabik commented on #421
Because it's Apple :) Just pointing out as a possible blocker for the pull-based solution. It might be trivial but I don't know.

Correct but if you compare a few different metrics in a few sets and only one is off it may indicate some problems in that particular area. But clearly, it is not part of this issue 👍

And it's cool but let's be more specific in the title and description. "Add metrics"

[2017-10-23 13:09] divan commented on #421
@adambabik thanks, changed the title. As for the minimal set of metrics - there is none. Idea is that developers can add new metrics on the go without worrying much about performance impact and configuration. It should be as easy as adding a log print. Let's say, you're debugging the problem with txqueue, and realize that you have no idea how many transactions usually are in a queue, so you quickl

[2017-10-23 15:04] tiabc opened #429 "Fix nil pointer dereference somewhere in ./e2e/node"
# Problem

Sometimes, we get panic during `./e2e/node` test.

<img width="1255" alt="screen shot 2017-10-23 at 18 01 01" src="https://user-images.githubusercontent.com/2167748/31896382-48c94cd4-b81c-11e7-8ede-f9029eca2134.png">
https://travis-ci.org/status-im/status-go/builds/291541132#L518

Setting it to high-priority as it may be something important. However, it seems to be something inside go-e

[2017-10-23 16:02] influx6 commented on #407
@tiabc I can see no `TransactionsTestSuite.TestSendEtherOnStatusChainTx` in current code. Only the ff:

- https://github.com/status-im/status-go/blob/develop/e2e/transactions/transactions_test.go#L228
- https://github.com/status-im/status-go/blob/develop/e2e/transactions/transactions_test.go#L311

Please revise or point appropriately.

[2017-10-23 17:34] b00ris commented on #429
There is Data Race at same place. I think https://github.com/status-im/status-go/pull/412 should fix it.

[2017-10-23 17:46] influx6 commented on #424
Am rather interested in this PR has i have a project which similar requires encryption at some level, so this PR should definitely help in research for that, though it's intentions are totally different. I do have a few questions:

- Is the account file is currently being stored as plained text and if so where?
- What type of encryption are we looking at, any thoughts or am free to go plain around

[2017-10-23 21:09] tiabc commented on #407
@influx6 it's been removed as of #426

[2017-10-23 21:18] tiabc commented on #424
One of them: https://github.com/status-im/status-go/blob/90acfedf7ac60ab641e9db4cac84d7db1bad6d8e/static/keys/test-account1.pk#L1

@influx6 sorry, what do you mean? You just need to:
1. Generate two new uncompromised accounts and set 2 different hard (say, 25 alphanumeric chars) passphrases to them.
2. Replace the existing accounts with the new and request some ether for the first from a public fa

[2017-10-24 07:58] JekaMas commented on #429
I think an issue is in ethereum:
[code]

Somewhere we do `txPool.Stop()` and then try to make new subscription, but `go-ethereum/eth/api_backend.go:178` dont check is thPool is nil.

[2017-10-24 08:17] b00ris commented on #429
I'll check it.

[2017-10-24 09:51] divan opened #432 "Investigate temperature impact factors during blockchain sync"
# Problem

Initial blockchain synchronization is known to be CPU expensive and causes phone (over)heating. This is very undesirable, as immediately turns users away from using the app and drains battery.

We need to find a way to trade off this high CPU usage during initial synchronization to something else - longer sync time or slower disc I/O, for example. As a minimum, we want to reduce CPU usa

[2017-10-24 11:18] influx6 commented on #407
@tiabc Alright, thanks

[2017-10-24 12:03] JekaMas commented on #176
Here i'm going to make a list of ethereum fixes for data reces related to our project:

- [ ] https://github.com/ethereum/go-ethereum/issues/15364

[2017-10-24 16:55] #387 closed

[2017-10-25 13:37] tiabc commented on #284
Thanks, @adambabik! Fixed.

[2017-10-25 13:37] #284 closed

[2017-10-25 13:51] themue commented on #423
@tiabc Is this a more general problem of CHT and Rinkeby or is it a Status specific problem? And how does it appear (logs, errors, panics, erroneous functionality)?

[2017-10-25 14:02] asemiankevich opened #434 "Rinkeby vs Ropsten communication issues"
# Problem

Currently we have have the behaviour in messaging the way so messaging does not work between networks, thus said messages sent from account on Ropsten will not be delivered to account on Rinkeby.

# Implementation

1. Investigate how current functionality is implemented
2. Investigate if there is something we can fix to let the networks communicate with each other

# Acceptance Criteria

[2017-10-25 15:11] influx6 commented on #308
Is this still something the Go side will investigate?

[2017-10-25 19:37] tiabc commented on #432
I think it's not an easily achievable thing and the scope of this issue is considered really huge.

May we reduce it down to just figuring out which specific sections of go-ethereum code most impact cpu utilization and thus phone heating? Not only may it be cpu, by the way. go-ethereum stores everything on disk and disk operations may also have some significant impact as well.

The idea is to iden

[2017-10-25 19:54] tiabc commented on #423
It's a thing in go-ethereum and the Clique protocol, as I understand. Computing CHT for Rinkeby should be different and I'm not aware how that works. If there was anybody who know that and can share it to others or create a document explaining that, that'd be awesome both for Status and other people who keep asking about CHT in go-ethereum gitter channel.

It shows up as blockchain sync in status-

[2017-10-25 19:56] tiabc commented on #308
Absolutely.

[2017-10-25 20:03] themue commented on #423
Thanks, that's a very good hint and I know where I'll start. Today already dived into the code by seeking according identifiers and comments. Will tomorrow also try to find more help on Gitter and other forums (e.g https://ethereum.stackexchange.com).

[2017-10-25 21:50] tiabc commented on #366
Must be fixed. @violetbobo thanks for the bug report! Feel free to reopen it if the bug still exists in the new version.

[2017-10-25 21:50] #366 closed

[2017-10-25 21:52] tiabc commented on #339
Closing as we're giving notion.so a try instead of wiki. Currently, there's no need to reorganize it.

[2017-10-25 21:52] #339 closed

[2017-10-25 22:04] tiabc commented on #229
@rasom do we allow status-go log output on mobile devices at all?

[2017-10-25 22:09] tiabc commented on #118
Closing and adding a link to this issue to a list of tasks for an upcoming devops.

[2017-10-25 22:09] #118 closed

[2017-10-25 22:11] tiabc commented on #87
Closing as it's old, undefined acceptance criteria and undefined scope.

[2017-10-25 22:11] #87 closed

[2017-10-26 09:05] flexsurfer commented on #308
andrey [Today at 12:00 PM]
in internal-go
goteam @janherich am i right we have running jails for every chat? so if i have 20 chats, we have 20 running jails?  may this be a reason of high cpu usage? if we simultaneously call all these jails?

2 replies
adamb [4 minutes ago]
That’s true. Every chat is a separate jail cell.

adamb [4 minutes ago]
Yeah, if some JS code is executed against all jails t

[2017-10-26 09:12] adambabik opened #435 "Fix linter warning across the whole project"
# Problem

As we integrated pretty a lot of linters into our CI pipeline, there are many warning identified.

# Implementation

Fix all warning reported by `make lint` across the whole project.

`goimports` should be removed as we agreed that `gofmt` sorts modules good enough.

# Acceptance Criteria

1. `make lint` reports no errors/warnings.

# Notes

It's a blocker because none PR will be able t

[2017-10-26 09:17] tiabc commented on #308
#421 in some form may probably be started together with this issue.

[2017-10-26 09:20] tiabc commented on #308
@rasom:

[2017-10-26 09:20] b00ris commented on #435
It was fixed twise. At #388 and #387. Why do we need it? New warnings are coming from uncleaned PR.

[2017-10-26 09:48] tiabc commented on #435
@adambabik as you've noticed that, can you fix that, please? I don't think it'll take a lot of time.

[2017-10-26 10:28] janherich commented on #308
@flexsurfer we should not have jail cell per every chat anymore (it was the case before we removed wallet bot and did the command-scope change)
But we have separate jail cell for each bot and DApp.
At least that's true if the jail cells are created by calling `status/parse-jail` from RN side, if not and there is some other mechanism how jail cells are created, then I have no clue :)

[2017-10-26 11:27] tiabc commented on #308
@janherich well, this is you who define when and why jail cells are created, we just provide API to do that. For example, `Parse` command creates a jail (`CreateAndInitCell` in the next version) with the given name. If you only need jail cells for bots, just create those cells you need.

If you need some additional behavior, just file an issue to status-go

[2017-10-26 12:03] adambabik commented on #432
LES/2 might be helpful to reduce CPU usage. go-ethereum team merged the first PR related to it just a few days ago: https://github.com/ethereum/go-ethereum/pull/14970

[2017-10-26 12:04] adambabik commented on #435
Done https://github.com/status-im/status-go/pull/436

[2017-10-26 12:04] #435 closed

[2017-10-26 12:57] janherich commented on #308
@tiabc Thanks, that's exactly what I needed to know. In that case the answer to question whether we have jail cell for each chat create is no, we don't.

[2017-10-26 13:19] b00ris commented on #429
The root case is: StopNode have time to close txPool before starting EventSystem eventLoop of  StartNode.

[2017-10-26 13:55] divan opened #437 "Panic on `statusd wnode` coomand"
# Problem

On running `statusd wnode` command program halts with panic:

[code]

# Implementation

Panic seems to be related to the RPC initialization and started node state. Need to investigate what exactly we need to start in order for wnode to work properly, first.

# Acceptance Criteria

 - On `statusd wnode` there is no panic message and command launches command line interface ready to use

[2017-10-26 17:54] #342 closed

[2017-10-26 19:52] #407 closed

[2017-10-26 20:04] tiabc commented on #424
@JekaMas you may be interested that #430 has been merged. Please, merge `develop` asap.

[2017-10-26 21:20] JekaMas commented on #424
@tiabc I've added file encryption in this issue so we can remove all hardcoded secure data from code.

[2017-10-26 21:30] tiabc commented on #424
@JekaMas could you create an in-progress pr? Your words sound suspicious.

[2017-10-26 22:00] JekaMas commented on #424
Done. Nothing suspicious i think: i've just encrypt all static/keys folder, added some commands for decrypt/encrypt into Makefile and helper function that reads encrypted data from bindata and decrypts it without storing to disc (for encryption/decryption i've added two env variables as it described in issue).

[2017-10-26 22:09] divan commented on #432
@tiabc yes, let's narrow this issue to investigation only. Renamed the issue.

[2017-10-26 23:41] ligi opened #439 "fatal error: memory violation when syncing rinkeby"
Just wanted to try out the network switching and status-im with rinkeby so I can test for interoperability with WALLETH. Unfortunately it is crashing for me when syncing rinkeby. The StackTrace is too long to embed in the issue - so I put it in a gist: https://gist.github.com/ligi/1235ddf4cc0bd2c7bb47e3207f8d4b4b

[2017-10-27 02:05] 3esmit commented on #432
I also suffer this issue on Galaxy Note 4

[2017-10-27 09:28] adambabik opened #440 "Clean up Status native bindings"
# Problem

status-go exposes a bunch of functions (bindings) that can be called as C code. This requirement and the way it was built impede testing end extending this functionality.

1. Even though there is `geth/api` package, there is still a lot of business logic in some bindings,
2. Many tests in `utils.go` are duplicated in `e2e/` packages,
3. Due to the fact that tests call C functions, they

[2017-10-27 09:31] rasom commented on #439
Can you try to switch to rinkeby with upstream RPC meanwhile? No need to wait for synchronization in this case.

[2017-10-27 12:16] ligi commented on #439
Yes did this afterwards - this works - thought I report the crash anyway.

[2017-10-28 00:41] divan commented on #437
Fixed in develop.

[2017-10-28 00:41] #437 closed

[2017-10-28 01:06] divan commented on #440
@adambabik this PR (https://github.com/status-im/status-go/pull/441) (still in progress) might be related to this issue.

[2017-10-28 15:12] tiabc commented on #176
Closing as this issue can't be reproduced any more.

@JekaMas good list but may we keep it in notion.so/status?

[2017-10-28 15:12] #176 closed

[2017-10-28 15:15] tiabc commented on #192
@jeluard is this still relevant?

[2017-10-28 15:18] tiabc commented on #200
Moved to https://www.notion.so/status/Refactoring-notes-f0ef9658543b4e149243153aa7d63eba
as this is not an issue and rather a collection of something we don't really care about.

[2017-10-28 15:18] #200 closed

[2017-10-28 15:28] tiabc commented on #220
Closing as it's already been implemented in other issues and already in `develop`.

[2017-10-28 15:28] #220 closed

[2017-10-28 15:31] tiabc commented on #239
It's important but not so important, decreasing priority.

[2017-10-28 15:34] tiabc commented on #243
Closing due to undefined scope and acceptance criteria. Added a note to #210

[2017-10-28 15:34] #243 closed

[2017-10-28 15:39] tiabc commented on #254
@divan let's raise this question after devcon.

[2017-10-28 15:51] tiabc commented on #440
@adambabik

The first point from implementation is #408. Can you further specify #408 and remove that point from the list?

The only question here is how do we test native bindings before we switch to `gomobile`? It seems we need to discuss and switch to it first, right? Because if we switch to `gomobile`, there won't be a need to have them tested in some special way, right?

[2017-10-29 10:20] adambabik commented on #440
Sure.

My idea is that we move business logic from bindings to `StatusAPI` (the majority of bindings are already written in this way). We may need to add e2e tests to some of `StatusAPI` methods. Bindings will be tested with the `StatusAPI` mock to just verify proper output data formats.

Do you mean to first switch to `gomobile`? I think we can do that in parallel as long as the whole business lo

[2017-10-29 10:27] adambabik commented on #408
@rasom changed. Do you know what other platforms we plan to support?

[2017-10-29 10:38] jeluard commented on #192
This was with the old wallet so this exact scenario does not exist anymore. Will reopen if it still applies with new wallet.

[2017-10-29 10:38] #192 closed

[2017-10-29 13:44] #413 closed

[2017-10-30 19:05] divan commented on #434
I'm currently investigating this issue, and here is the answer for the first question so far.

First of all, nodes discovery starts with different bootnodes for different networks.

Second, this behaviour seems to be correct, as nodes use [RLPx protocol](https://github.com/ethereum/devp2p/blob/master/rlpx.md#introduction) for peer-to-peer communication and serving multiple protocols (LES and Whisp

[2017-10-30 19:13] divan commented on #434
Some notes on how to perform testing for this issue.

Start four terminal windows/tabs. In first two, run:

`./statusd -datadir /tmp/dir1 -networkid=3 -shh -ipc`
`./statusd -datadir /tmp/dir2 -networkid=4 -shh -ipc`

(Note, it uses new flags format from https://github.com/status-im/status-go/pull/441). `-shh` enables Whisper protocol for node and `-ips` allows IPC communication to connect via `get

[2017-10-30 19:50] adambabik commented on #434
@divan very solid investigation! Really like it!

A potential solution might be to run just whisper nodes? So, we would have regular and whisper-only bootnodes.

This seems very dangerous and can potentially introduce a lot of issues. I would avoid that...

Generally, I am not sure what business value would bring us cross-network communication. How would we solve sending ether in a chat in such a

[2017-10-31 00:53] divan commented on #295
Doing some investigation task, involved understanding of a code and running app I used today trace log entries a lot, but the experience was quite far from how it's assumed to work. Usual understanding of the tracing/logging workflow is:
 - enable TRACE loglevel via `-log TRACE` flag
 - run debug/test session and analyze the output

The obvious problem here is that TRACE loglevel produces extremel

[2017-10-31 01:04] divan commented on #434
@adambabik thanks! You're right, running just Whisper nodes would do the trick and I actually just tried it (by disabling `les` in the statusd's `main.go` via config) and can confirm that it works — I can receive message sent from node running on Rinkeby on the node running on Ropsten.

But, again, this solution is still quite limited.

[2017-10-31 13:04] adambabik commented on #337
@tiabc any reason why does it depend on #223? I think it can be done independently.

[2017-10-31 13:26] adambabik opened #443 "Gomobile proof of concept"
# Problem

We use [xgo](https://github.com/karalabe/xgo) to build a `status-go` library for iOS and Android. It is slow, requires do download a huge docker image and is difficult to upgrade. Meanwhile, [gomobile](https://github.com/golang/mobile) is used successfully by a few projects, for example, [go-ethereum](https://github.com/ethereum/go-ethereum).

This issue is about creating a proof of con

[2017-11-01 17:56] adambabik commented on #443
I stumbled upon [this issue](https://github.com/golang/go/issues/22529). When `os.Executable` is called on iOS, it throws a panic. This function is called by one of dependencies of [go.rice](https://github.com/GeertJohan/go.rice) which is used by [jail `fetch()` implementation](https://github.com/status-im/status-go/blob/develop/geth/jail/internal/fetch/fetch.go#L10).

In order to push the researc

[2017-11-01 18:45] divan commented on #432
I started with naïve assumption of CPU–temperature link and did some profiling on the laptop. It quickly showed that most of the CPU time during blockchain sync is spent [in writing blocks into leveldb in `InsertHeaderChain()` function](https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/core/headerchain.go#L274).

I introduced small delay in this call — effe

[2017-11-01 18:53] themue commented on #432
Great work. I'm current following your pprof label hint of yesterday.

[2017-11-01 20:04] adambabik commented on #432
Graphs! I love them, great job!

The first thing I noticed is that it can consume more than 100% of CPU which indicates it uses multiple cores. Could you try to change `runtime.GOMAXPROCS(runtime.NumCPU())` to `runtime.GOMAXPROCS(1)` in `cmd/statusd/main.go` and run your computations? Hopefully, we could set it to `1` during syncing and switch to `runtime.NumCPU()` after to decrease CPU usage. I h

[2017-11-02 01:37] divan commented on #432
@adambabik yes, it uses 4 cores on my machine, so maximum CPU value is 400%.

Interesting suggestion, I'll try to play with it as well. Still, I guess that "processing and writing to the disc 2048 block headers as fast as possible" is the major CPU burning factor here.

I ran these tests on `feature/cli-api` branch, so it lacks your CHT update, but that's even better, because this timeframe looks

[2017-11-02 09:13] status-open-bounty commented on #440
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd97d142ad2148b4d80afe43567a4dd6771e3e29ad44218cec8485372c22df48b](https://etherscan.io/tx/0xd97d142ad2148b4d80afe43567a4dd6771e3e29ad44218cec8485372c22df48b)

[2017-11-02 09:17] status-open-bounty commented on #320
Current balance: 0.000000 ETH
Tokens: SNT: 0.00
Contract address: [0x26332f5633a640821e42c5695dc1870df82d1708](https://etherscan.io/address/0x26332f5633a640821e42c5695dc1870df82d1708)
![QR Code](https://openbounty.status.im/qr/status-im/status-go/bounty/320/319e709b1651716d8a3042fc0ff036b0cbb58f8e0d0925c507e095c4effccd6e/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.

[2017-11-02 09:18] status-open-bounty commented on #364
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0xf88f9442e0a70c68aa9550e37151f57600687af5](https://etherscan.io/address/0xf88f9442e0a70c68aa9550e37151f57600687af5)
Network: Mainnet
Paid to: monokh

[2017-11-02 09:20] status-open-bounty commented on #378
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x590b0f774ddfca7b32dad4235b38e599665f925dbc18ca348f6959cb5dd8be5f](https://etherscan.io/tx/0x590b0f774ddfca7b32dad4235b38e599665f925dbc18ca348f6959cb5dd8be5f)

[2017-11-02 09:22] status-open-bounty commented on #418
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6102a877655f2b1b78492561ca6ab1c226e2b73cc093a26df481585e682360e3](https://etherscan.io/tx/0x6102a877655f2b1b78492561ca6ab1c226e2b73cc093a26df481585e682360e3)

[2017-11-02 09:23] status-open-bounty commented on #415
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x4f9d74f50bc4b64e343ae49202a923ab0eec15b5](https://etherscan.io/address/0x4f9d74f50bc4b64e343ae49202a923ab0eec15b5)
Network: Mainnet
Paid to: thedadams
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-11-02 09:25] status-open-bounty commented on #423
Balance: 0 ETH
Tokens: SNT: 6000.00
Contract address: [0x6d3351a5f114f2c5f94bc42bde3740141d2b7710](https://etherscan.io/address/0x6d3351a5f114f2c5f94bc42bde3740141d2b7710)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-11-02 09:57] JekaMas commented on #404
New fauset accout 0xF35E0325dad87e2661c4eF951d58727e6d583d5c

[2017-11-03 00:32] akshaysuresh4793 commented on #364
@tiabc I'd like to make a contribution

[2017-11-03 19:40] flexsurfer opened #447 "Package status-go as a node.js native module"
# Problem

We want to run status-go within electron desktop app and communicate with it from node js environment

# Implementation

https://stackoverflow.com/questions/20728255/could-one-write-a-native-node-js-extension-in-go-as-opposed-to-c

[2017-11-04 04:20] #418 closed

[2017-11-04 23:27] tiabc commented on #314
You seem to be using `master, which is fairly outdated, please, use `develop`.

Then you can use `CallRPC` binding to make a regular geth json-rpc eth_sendTransaction call and don't forget to provide a callback.
`CallRPC`: https://github.com/status-im/status-go/blob/4536e992758ab7ea825d61f1c182f81c0d3137de/lib/library.go#L104
`eth_sendTransaction`: https://github.com/ethereum/wiki/wiki/JSON-RPC#et

[2017-11-04 23:33] tiabc commented on #109
Closing due to undefined scope.

[2017-11-04 23:33] #109 closed

[2017-11-04 23:44] tiabc commented on #50
Closing due to too huge scope.

[2017-11-04 23:44] #50 closed

[2017-11-05 04:27] tiabc commented on #109
Closing due to undefined scope.

[2017-11-05 04:31] tiabc commented on #58
Closing due to inactivity.

[2017-11-05 04:31] #58 closed

[2017-11-05 04:31] tiabc commented on #28
Closing due to inactivity.

[2017-11-05 04:31] #28 closed

[2017-11-05 04:36] tiabc commented on #439
The supposed cause of the issue was too high CPU consumption while syncing and the OS killed the process. I'll leave the issue open while we're working on optimization.

@ligi, what's your phone model, hardware and the OS version?

[2017-11-05 11:14] ligi commented on #439
The phone this crash happened on was a Galaxy Note 4 running the official 6.0.1 for this phone (no custom ROM)

[2017-11-05 15:45] themue opened #449 "Proof of Concept: Debugging and Optimising StatusAPI"
# Problem

Right now we’ve got issues like bugs or performance troubles in *status-go* happening when working together with *status-react*. Debugging these or optimize the system is a very manual and investigative process. Go here provides tools like `pprof`. The result can be written into files later analyzable via `go tool pprof` or if wanted live using a web or the command line interface. Prepa

[2017-11-06 08:07] b00ris commented on #429
Found more cases https://travis-ci.org/status-im/status-go/jobs/297000731

[2017-11-06 08:48] b00ris commented on #429
@tiabc We have to clean up data races  and add -race flag to e2e tests step by step for each package. For e2e tests with -race we could remove `TestRaceConditions` test.

[2017-11-06 16:04] #336 closed

[2017-11-06 19:11] #325 closed

[2017-11-06 22:02] Jasonhcwong commented on #423
For option 1: it seems that geth has not implement CHT for Rinkeby yet.
I tried Geth/v1.7.3-unstable-bfdc0fa3 and it start syncing from block 0.

jason@jason-Lenovo:~/go/src/github.com/go-ethereum$ build/bin/geth --syncmode light --rinkeby
WARN [11-06|20:00:18] No etherbase set and no accounts found as default
INFO [11-06|20:00:18] Starting peer-to-peer node               instance=Geth/v1.7.3-unst

[2017-11-07 10:25] adambabik opened #450 "Remove creating global catalog variable from status-go"
# Problem

During a jail cell creation and initialization, a JS code is executed that looks out of place:
[code]

As `_status_catalog` is not defined in status-go, this code should not be here as well.

# Implementation

~~When PR #401 is merged, there will be a new binding `ExecuteJS` which will allow running this JS code from status-react.~~

~~Prerequisite: contact status-react team before star

[2017-11-07 12:46] JekaMas commented on #206
This task is highly related to whisper mailbox (we cant add new feature without tests) so we are going to make it as a part of mailboxing.

[2017-11-07 17:47] tiabc commented on #429
Decreasing priority as the issue has been partly mitigated and the proper will be the possibility to run tests with the `-race` flag.

[2017-11-07 17:47] #424 closed

[2017-11-07 21:15] tiabc commented on #423
@Jasonhcwong thanks for getting back. Yes, we know. The goal is to understand why and whether we can improve on anything here in a reasonable time.

[2017-11-09 09:47] b00ris opened #451 "Fix dataraces in transaction tests"
# Problem
There are existing data races in test files.
like:
[code]

# Acceptance Criteria
 No data races related to testfiles e2e/transactions_test.go, geth/txqueue/txqueue_manager_test.go

[2017-11-09 09:48] b00ris opened #452 "Fix datarace in geth/signal"
# Problem
Race detector have warnings like this:

[code]

ResetDefaultNodeNotificationHandler, SetDefaultNodeNotificationHandler are using only in tests

# Acceptance Criteria
 No data races warnings related to geth/signal.NotifyNode, ResetDefaultNodeNotificationHandler, SetDefaultNodeNotificationHandler

[2017-11-09 09:50] b00ris opened #453 "Start using -race flag in tests"
# Problem
We have dataraces in status-go. And don't use -race flag in tests.

# Implementation
blocking issues:
External data races:
 1) go-ethereum
 1.1) https://github.com/ethereum/go-ethereum/pull/15365
 1.2) https://github.com/ethereum/go-ethereum/pull/15441
 2) otto
 2.1) https://github.com/robertkrimen/otto/pull/284

Internal data races:
 1) https://github.com/status-im/status-go/issues/258

[2017-11-09 12:49] divan commented on #453
+1 for start using race detector heavily.

It's important to keep in mind that race detector can only catch the races on the path covered by tests, so tests should be implemented with it in mind. We already have some tests that target race conditions, but that's rather an exception now. Also, race detector has performance penalty up to 10x-20x in memory and execution time.

Thus I suggest having a

[2017-11-09 15:11] tiabc commented on #453
@b00ris the scope of this issue is too huge, let's move step by step. Can you start from a small innocent package first and keep it really small? I'm afraid in the current setup this issue is going to take infinite time.

[2017-11-09 16:30] b00ris commented on #453
@tiabc No, scope of this issue is not huge. This is issue only adding -race flag to tests and updating vendor libs to version with fixed races. I add to this issues all blocking race issues, which could be done independenly. After all blocked issues this issue could be done fastly.

[2017-11-10 00:59] divan commented on #447
Related discussion: https://github.com/status-im/ideas/issues/2

[2017-11-10 01:02] divan commented on #434
Closing as `wontfix` after discussion on benefits/costs of the solution with core team.

[2017-11-10 01:02] #434 closed

[2017-11-10 01:41] adambabik commented on #453
@divan I am not sure what problem do you want to resolve with `-tags race`. I guess we don't need special tests that run some code in a loop to detect races. It's enough that particular code paths are covered by regular unit tests, right? I am not a fan of introducing this kind of things because it makes it difficult to decide whether I should write separate tests or not. If so, what conditions ne

[2017-11-10 01:49] adambabik commented on #453
@b00ris Very nice, I like this type of issues that collect dependencies 👍

Btw. do you use ZenHub? You could set up dependencies with it and it would be easier to navigate.

I would also update AC:

This is an implementation detail actually.

I am not sure we need to run e2e tests with `-race`. We definitely need to run unit tests with it. Please make it specific like: "unit tests in CI should run

[2017-11-10 08:59] JekaMas commented on #453
@adambabik I've just finished #456 and fixed races in code of e2e tests TestNonExistentQueuedTransactions,  TestNonExistentQueuedTransactions, TestDiscardMultipleQueuedTransactions, TestEvictionOfQueuedTransactions, TestCompleteTransaction.
I think we need to run all tests with -race flag in other case we cant rely on our code and tests.

[2017-11-10 10:26] divan commented on #453
@adambabik

Actually, not. Imagine you have package with data race:
[code]
and test:
[code]
Running `go test -race` will not report any problem here, even that all code is covered by test.

That's what I meant by "should be implemented with it in mind". We need to look at the real world usage of functions being tested and ask questions like - "are foo() and bar() supposed to be called concurrently

[2017-11-10 14:12] adambabik commented on #453
@JekaMas I agree that our e2e tests itself should be free from race conditions. But if we have proper unit tests coverage and run unit tests with `-race` flag I believe that running e2e tests with `-race` flag will be a duplication of the same checks. Have you checked maybe how long our e2e tests with `-race` flag execute vs without it? It's my only concern that instead of 6 mins it will be much m

[2017-11-10 14:23] adambabik commented on #453
@divan Right, so we need to have proper integration tests as well, not only unit tests (that's why I was arguing about using mocks in other PRs). If any function call calls any other functions concurrently, this should be tested. That's why I think that we don't need to bring special category of "race" tests. We just need to keep that in mind writing regular unit/integration tests. How does it sou

[2017-11-10 14:42] divan commented on #453
@adambabik, to be honest, I never did so (implementing special category for "race" tests), but as a result, most of the tests I've written and seen are poor from the simulating real usage. At best, I just add `t.Parallel()` and hope that it's enough. But still I think the important step is to understand how each package is used and design test to test this behavior. Note, how this differs from "te

[2017-11-10 16:15] b00ris opened #457 "Fix dataraces in jail tests"
# Problem
There are existing data races in jail tests.
like:
[code]

# Acceptance Criteria
 No data races related to testfiles e2e/jail/*, geth/jail/*

[2017-11-12 12:24] monokh commented on #364
Submitted #458 for this. Let me know if i've misunderstood the requirements 😃  thanks

[2017-11-12 13:55] tiabc opened #459 "Ensure tests pass in PRs from other repos"
# Problem

In PRs from forked repos back to upstream it's impossible to access Travis secret values and it's correct. However, we need a fast and consistent way to ensure a PR is correct and should fix CI for this purpose.

# Implementation

1. Don't run the last stage (e2e tests on a public testnet) for PRs.
2. Fix or remove failing tests (please, justifying your decision):
[code]

# Acceptance C

[2017-11-12 13:55] status-open-bounty commented on #459
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x67571bd5cb9b2bcf7e139ca8c4cfc0cad09c949f](https://etherscan.io/address/0x67571bd5cb9b2bcf7e139ca8c4cfc0cad09c949f)
Network: Mainnet
Paid to: perissology

[2017-11-12 16:05] monokh commented on #459
@tiabc The tests in question also fail locally which makes running the unit test suite difficult.
I can't confidently say if this test is necessary or not... but what if we moved it to the e2e stage?

[2017-11-12 16:51] tiabc commented on #459
Well, these tests ensure account decryption works properly and they're worth keeping.
As an option, you can create new accounts with no funds and passwords stored in plaintext just to test their decryption. This would do.

[2017-11-13 17:25] ewingrj commented on #459
how can I create a pre-eip 55 keystore?

[2017-11-15 02:45] MiguelMoll commented on #254
I was wondering if any design decisions have been made to move this ticket forward. Would make it easier to gauge what everyone has in mind here.

[2017-11-15 06:32] adambabik commented on #459
@perissology the only difference is an address format. Pre EIP55 addresses have all characters lower case.

[2017-11-15 20:50] themue commented on #449
Current implementation:

- Server provides two services, one for administration, one for the `StatusAPI`
- Client provides counterparts for the functions provided by the server
- Communication between both is right now JSON-RPC over HTTP, unit tests work
- Outline of `statusd-cli` running a RELP is implemented (for tests now running server and client)
- Commands are parsed by `go/parse` and `go/as

[2017-11-16 14:19] gruberb commented on #238
@divan Are those drawings available without having to have a  Google account?

[2017-11-16 15:20] divan commented on #238
@gruberb I’m afraid not. They’re also aren’t complete yet. I should probably review it and prepare for usage with wiki.

[2017-11-17 01:46] tiabc commented on #254
Well, we're actively removing C code from our tests so this issue seem no longer. Thanks for asking, @MiguelMoll :)

[2017-11-17 01:46] #254 closed

[2017-11-18 05:18] 0xc1c4da commented on #432
nice work @divan I'm curious if we know CPU usage looks like under high traffic Whisper usage? But perhaps this is better suited for another issue

[2017-11-18 21:45] divan commented on #432
@jarradh no, we don't. I don't think we even simulated high traffic scenario yet. But I do have some ideas how to simulate it, and yes, that'd be a separate issue.

[2017-11-19 21:40] adambabik commented on #432
To simulate this, we need an account that sends a lot of Whisper messages one after another. It would be great to collect some data with different PoW values because we currently use `0.001` and messages with that low PoW can be passed around only by our geth nodes run with custom settings. I believe we'd like to bump it to at least `0.2` (which is a default valye) so that most of geth nodes could

[2017-11-20 08:19] adambabik commented on #443
Working code is committed to branch https://github.com/status-im/status-go/tree/poc/gomobile-443. Unfortunately, switching to gomobile requires also rewriting our bindings which are written in cgo now. It's better to do it after finishing https://github.com/status-im/ideas/issues/7 in order to decrease the amount of glue code that needs to be supported.

[2017-11-20 08:20] #443 closed

[2017-11-20 18:21] #459 closed, assigned to nobody

[2017-11-20 19:53] nexthack opened #465 "Separate rpc client api from state"
Currently the rpc [client](https://github.com/status-im/status-go/blob/086747a69599129e15cb7567193c454a20a7448a/geth/rpc/client.go#L22) is a struct.
If we can have an interface(Client) with all the apis of the client and a  client struct implement this interface,it will help in abstracting out the actions that can be performed on the cleint.

Please let me know your points on this.

[2017-11-21 11:22] divan opened #467 "Rebase to Geth 1.7.3"
Geth 1.7.3 released and we need to sync our[ go-ethereum fork](https://github.com/status-im/go-ethereum) with this version.

Wiki page: https://www.notion.so/status/Rebasing-go-ethereum-82de0bbebe684826b62d81bc688e5e89

https://github.com/ethereum/go-ethereum/releases/tag/v1.7.3

[2017-11-21 12:08] divan commented on #465
@crackerplace what problem should it solve?

[2017-11-21 13:05] adambabik opened #468 "lib directory should not call flag.Parse"
# Problem

While working on https://github.com/status-im/ideas/issues/2, we need to build a library (c-archive) so that a native node.js module can be created. However, if any command line arguments are passed, the Go code tries to parse them and returns an error if they are not recognized.

For example, `node --napi-modules ./test/binding_test.js` throws an error `flag provided but not defined: -

[2017-11-21 13:24] divan commented on #468
The only reason why `lib` imports `flag` is because it imports `e2e/testing` package from `utils.go`. `utils.go`, in fact, contains just functions needed for testing, and it uses `cgo`, that's why it's not named `utils_test.go`. If you rename `utils.go` into `utils_test.go`, error will be thrown on build:

[code]

So, two thoughts:
 - if this issue is blocking N-API/Node.js wrappers task, just mov

[2017-11-21 15:48] nexthack commented on #465
@divan

If we have an interface for the rpc client with an impl struct,it helps in better readability of the methods supported by the client and also we can abstract any unintended exposure of state.

[2017-11-21 15:57] divan commented on #465
`rpc.Client` has exactly 3 exported methods and they're very readable. I don't see any need to improve readability here.

An interface should be created by consumer — the code that needs that interface. SImply abstracting type with methods into own interface is a common misuse of interfaces in Go.

[2017-11-21 16:43] nexthack commented on #465
Sure.Yes,the preemptive interface anti-pattern is kind of a carry on from oop languages.

In this case,as 4 methods are exported for Client across 2 files,this change is not immediate need unless package kind of has many files with exported methods in many of them.

[2017-11-22 19:30] b00ris opened #470 "Add shh_requestMessages to whisper rpc api"
# Problem

There is no way to request historic messages via Whisper RPC API. Our idea is to extend Whisper RPC with `shh_requestMessages` method which can be implemented purely on status-go side.

# Implementation

There are two ways to implement this.

## Pure status-go implementation

Similarly to [`eth_accounts` and `eth_sendTransaction`](https://github.com/status-im/status-go/blob/21beb685b4d9

[2017-11-23 09:36] oskarth commented on #470
Additionally, this  `shh_requestMessages` should be mirrored in our version of web3.js so we can call it via HTTP-RPC. I tried to create an issue here by don't seem to have permissions: https://github.com/status-im/web3.js

@carlbennetts Can you check what's up with permissions in this repo? https://github.com/status-im/web3.js I can't see the Issues tab there. For other forked repos like  go-ethe

[2017-11-23 09:46] oskarth opened #471 "Clean up and refactor wnode-status config to run MailServer"
# Problem

For offline inboxing, we need a way to run a node with MailServer from the command line so people can get their historic messages.

# Implementation

We have a `wnode-status` which purpose is not known for 100%. It may be possible to refactor this command and add a MailServer support.

`wnode-status` was already used to test Push Notifications. More details in `whisper.js` file.

# Acce

[2017-11-23 09:46] oskarth commented on #471
cc @b00ris @JekaMas @adambabik

[2017-11-23 12:11] #465 closed, assigned to nobody

[2017-11-23 12:11] #468 closed, assigned to adambabik

[2017-11-24 10:35] adambabik opened #474 "Add MailServer configuration options to statusd"
# Problem

MailServer options need to be provided to allow users to request historic messages.

# Implementation

Specific options should be defined in a config that is passed to `StartNode` binding.

# Acceptance Criteria

1. It's possible to specify enode and password in order to request messages from MailServer.

# Notes

As we probably will go with a hardcoded MailServer for MVP, these hardcod

[2017-11-27 07:35] al3rez commented on #415
Going to work on this.

[2017-11-27 18:53] #364 closed

[2017-11-27 20:59] adambabik commented on #408
This could be greatly improved if we switch to go-mobile. It would generate Java and Objective-C code that is self-documentary and native language structures and types.

[2017-11-27 21:57] adambabik commented on #457
Fixed with https://github.com/status-im/status-go/pull/460.

[2017-11-27 21:57] #457 closed, assigned to b00ris

[2017-11-28 06:57] JekaMas commented on #471
@oskarth Do we need this issue? "A command to run wnode-status with MailServer." - we already have it.

[2017-11-28 09:23] feuGeneA commented on #378
Please review my work in progress on #481 and let me know if I'm on the right track.  Thanks.

[2017-11-28 12:17] oskarth opened #482 "SetLogLevel geth.log permission denied regression"
# Problem

status-go logs stopped being written to `geth.log` when running status-react from iOS Simulator.

# Implementation

Fix permission denied in SetLogLevel.

# Acceptance Criteria

Logs persisted to `geth.log` showing up in device filesystem.

# Notes

There is a confusion about where responsibility lies for filesystem operations and layout.

status-react creates log file and directory for

[2017-11-28 17:22] oskarth commented on #482
https://github.com/status-im/status-react/issues/2534#issuecomment-347597671

[2017-11-28 17:51] divan commented on #482
@oskarth so the problem is in fact that actual working directory is `/` and `os.OpenFile()` doesn't do any magic behind the scenes — it just opens a file by given path, relative or absolute. It's technically possible to change working dir from within Go code (using [os.Chdir()](https://golang.org/pkg/os/#Chdir)), but it's a suboptimal solution and I believe the proper fix would be to set working d

[2017-11-28 17:54] oskarth commented on #482
@divan I understand, but again, why did it work before? This is a regression.

[2017-11-28 18:03] divan commented on #482
Any chance to check that it really did?

AFAIK, there were no changes in log-related code since August. Maybe there were changes in status-react or scripting code for running in iOS simulator, maybe Xcode update broke something, I don't know. But currently, I'm pretty sure that this regression introduced not by changes in status-go.

[2017-11-28 20:40] oskarth commented on #482
Fixed in status-react develop.

[2017-11-28 20:40] #482 closed, assigned to nobody

[2017-11-30 10:29] oskarth commented on #471
@adambabik

Re

We can do this on Clojurescript side too https://github.com/status-im/status-react/blob/develop/test/cljs/status_im/test/protocol/core.cljs

[2017-11-30 10:33] adambabik commented on #471
@oskarth already did some initial work https://github.com/status-im/status-go/pull/477/files#diff-391ebc7dfc465e8e176ddd5f78eb59e1. I don't know Clojurescript :( and JS may be more approachable. Also, I think it should stay on status-go side because it's easier to test new features or changes to MailServer rather than switching between repos.

[2017-11-30 11:56] oskarth commented on #471
Sounds good. I meant that I can do it over there :) But there's value in having sanity check in this repo too.

[2017-11-30 12:52] adambabik commented on #198
It was fixed in #480.

[2017-11-30 12:52] #198 closed

[2017-11-30 13:39] b00ris commented on #452
Fixed

[2017-11-30 13:39] #452 closed, assigned to b00ris

[2017-12-01 04:13] vedhavyas commented on #415
@azbshiri are you working on this?
If not, can I take it up?

[2017-12-01 05:32] al3rez commented on #415
@vedhavyas not ready for pr, so I think you can.

[2017-12-01 13:25] divan commented on #447
Implemented in https://github.com/status-im/status-nodejs

[2017-12-01 13:25] #447 closed

[2017-12-01 13:31] divan commented on #223
I'm going to do a second try on it. Here are the challenges we have with `dep`:

 - ideally, we want to keep 100% the same versions that currently in the `vendor/` folder (i.e., `dep init` will download latest stable versions by default, but we want to minimize risks incurred by changing vendored libs now)
 - the way we use `go-ethereum` is a bit weird: repo `status-im/go-ethereum` actually contai

[2017-12-01 14:53] adambabik opened #486 "Add standalone mode to wnode-status"
# Problem

We need a standalone mode in `wnode-status` so that it does not actively discover and connect with other peers.

This will be useful for writing tests. (any other use cases?)

# Implementation

Add `-standalone` flag to `wnode-status` command.

# Acceptance Criteria

AC:
* standalone mode does not actively connect with any peers, except for explicitly added ones with `AddPeer`.

[2017-12-01 14:58] JekaMas commented on #486
@adambabik Could it better to add 'bootstrap' mode, whisper hasn't 'standalone' mode?

[2017-12-01 14:58] adambabik commented on #223
@divan regarding the second point, it's actually useful to do it this way as we don't need to change all `github.com/ethereum/go-ethereum/...` imports. Also, `dep` supports such a case: https://github.com/status-im/status-go/pull/369/files#diff-836546cc53507f6b2d581088903b1785R8. As we should strive for reducing the number of patches in go-ethereum, I would stay with this approach.

[2017-12-01 15:00] adambabik commented on #486
@JekaMas this terminology is a bit confusing. In go-ethereum, it's called "bootstrap mode" but the flag is named `standalone`. Is "bootstrap mode" defined anywhere? How do you define it?

[2017-12-02 12:34] oskarth opened #487 "Offline Inboxing: expose AddPeer bindings"
# Problem

For offline inboxing, we need to be able to add MailServer as a peer so we can request historic messages.

# Implementation

Add `AddPeer(enode string) string` as part of the exposed bingins that status-react can consume. See https://github.com/status-im/status-go/blob/086747a69599129e15cb7567193c454a20a7448a/geth/node/manager.go#L263-L274

# Acceptance Criteria

1. `AddPeer` C binding

[2017-12-02 12:35] oskarth commented on #487
@adambabik @b00ris @JekaMas Please let me know if you disagree with this description and proposed solution above or if I missed something important.

Also see https://github.com/status-im/status-react/issues/2570#issuecomment-348690731

[2017-12-02 13:45] oskarth commented on #470
Is there something blocking this @b00ris?

[2017-12-02 13:47] oskarth commented on #470
@b00ris Is there something blocking this?

Also, what's the proposed signature for this? In diagram it says:

`shh_requestMessages(peerID: string = mailboxPeerID, envelope: envelope)`

But in thread on Friday you said " We use this symkey only to requestMessages call(to mailbox)." and I don't see a symkey in the above signature.

Am I missing something?

Additionally, what is the return value? Suc

[2017-12-02 14:00] oskarth opened #488 "Offline inboxing: hardcode MailServer password"
# Problem

MailServer requires a password for DDoS prevention. For MVP we want to hardcode this.

# Implementation

Hardcode MailServer password to `status-offline-inbox`. This way symmetric key creation is deterministic and consumers like status-react can proceed with this assumption when requesting messages https://github.com/status-im/status-go/issues/470#issuecomment-348693204.

# Acceptance C

[2017-12-03 00:44] jonprice commented on #440
I was going to take a look at this. I was planning on moving the business logic of creating the geth/common types into the StatusAPI, was this expected or should the StatusAPI function's signature stay the same.

[2017-12-03 16:54] adambabik commented on #440
Hey @jonprice. Not sure what you exactly mean by

To direct you into specific code fragments, take a look at `lib/library.go`. It's a file where all bindings are collected as C functions. Most of them just forward calls to `StatusAPI`, for instance, `StartNode(configJSON *C.char) *C.char` or `func StopNode() *C.char`. However, there are a few that have more business logic which should not be there

[2017-12-03 16:56] adambabik commented on #487
@oskarth it looks good. I edited it a bit.

[2017-12-03 23:12] jonprice commented on #440
I think your example matches what I was thinking, for example updating the StatusAPI.CreateAccount to return common.AccountInfo instead of 4 string fields.

I'll go ahead and proceed with that change, should I create a pull request to get feedback on the change, or do you prefer pull requests wait until an issue is completed?

[2017-12-04 09:19] adambabik commented on #470
The request for messages to MailServer will look like this:
1. A symmetric key from password must be created and added to Whisper using: `shh_generateSymKeyFromPassword`. The same password that is used to start a wnode must be used. This command returns a symmetric key ID,
2. Node needs to call `shh_requestMessages` but I believe that its signature will be different. Something like this: `shh_requ

[2017-12-04 10:39] themue opened #491 "Refactoring of pprof usage"
# Problem

So far the `pprof` package is imported and integrated to write into files by library commands. This now shall be changed to be started in `statusd` on demand and exporting the HTTP interface on a configurable port. This way tests interactively can be monitored.

# Implementation

- Remove `helpers/profiling`
- According cleanup of `lib/library.go`
- Extend `statusd.go` with arguments fo

[2017-12-04 16:21] #487 closed, assigned to JekaMas

[2017-12-05 10:13] adambabik commented on #488
I am not sure we actually need to hardcoded in the code. Let's just use `status-offline-inbox` as a password everywhere. A wnode will be started like `wnode-status -password=status-offline-inbox ...` and on the status-react side, this password will be used to get a symmetric key ID which will be sent in `shh_requestMessages`.

[2017-12-05 10:36] adambabik opened #497 "CreateAndInitCell should allow reinitializing a cell"
# Problem

`CreateAndInitCell` is used to create and initialize a jail cell. It's also used to during bots development. If reinitializing is disabled, each code change requires restarting an app which is less than convenient.

# Implementation

Do not throw an error when `Jail.CreateAndInitCell()` is called on an already existing cell.

A proposed solution is to rename the current `Jail.Parse` to

[2017-12-05 11:17] adambabik commented on #471
It's done in #477.

[2017-12-05 11:17] #471 closed, assigned to adambabik

[2017-12-05 11:19] adambabik commented on #429
I believe it was fixed in #433.

[2017-12-05 11:20] #337 closed

[2017-12-05 11:22] adambabik commented on #197
This is currently being worked on https://github.com/status-im/ideas/issues/1.

[2017-12-05 11:22] #197 closed

[2017-12-05 11:24] JekaMas commented on #429
@adambabik I think we should reopen issue - https://travis-ci.org/status-im/status-go/jobs/311441648
As far as i can see @b00ris has decreased probability of error but doesnt remove it.

[2017-12-05 11:27] adambabik commented on #429
I see. Thanks @JekaMas, reopening.

[2017-12-05 12:45] adambabik commented on #411
More details and implementation in go-ethereum: https://github.com/ethersphere/go-ethereum/tree/pss/swarm/pss

[2017-12-05 15:51] rasom commented on #450
IMO we could skip extra `ExecuteJS` call, what if ~`Parse`~ `CreateAndInitCell ` will return the value which is returned by `cell.Run`? We can simply move this js to status-react side but still call only one method.

[2017-12-05 16:19] canercidam commented on #497
I'm willing to work on this issue. Reading what `Jail.Parse` does, the logic seems unsafe regarding mutexes (can cause double creation) and looks like `Jail.CreateAndInitCell` was intended to solve that problem.

If keeping `Jail.createCell` and `Jail.CreateCell` is a must, something like `Jail.obtainCell` with a similar logic and no "already exists" error should fix it and an unsafe `Jail.createC

[2017-12-05 21:28] jonprice opened #499 "StatusAPI.NotifyUsers is exposing its implementation details through its parameters"
# Problem

The StatusAPI has a function `func (api *StatusAPI) NotifyUsers(message string, payload fcm.NotificationPayload, tokens ...string) error {
` with fcm been the Firebase Cloud Messaging client package.

Reviewing the code in the notification and geth/common package it looks like there is an intent that notification is a pluggable service. Additionally, there is an unused notification/Payl

[2017-12-06 02:56] athos-ribeiro commented on #422
Hello,
I would like to work on this. I just opened #501 to make sure I understand the issue correctly. While working on that PR I had a few questions:

- You propose that a build should be triggered whenever a tag is created. Should this be done on the developer machine, or should it be implemented on a CI or build server side?
- You propose that alpha and beta values should be bumped on each buil

[2017-12-06 06:58] Quiark opened #502 "Status.im crash on Android"
# Problem

Simply crashes pretty much always, after selecting account and entering password

# Information

Device: OnePlus One
OS: LineageOS, rooted
build.display: bacon-userdebug 7.1.2 NJH47F 410d9b4f68
build.fingerprint: oneplus/bacon/A0001:6.0.1/MHC19Q/ZNH2KAS1KN:user/release-keys

logcat:
[code]

[2017-12-06 08:29] adambabik commented on #497
Do you mean double initialization? I don't think it's possible to override an already created cell in any way.

Also, I am not sure we need another method to create or get a cell. Feel free to change mutexes as maybe `createCell` does not need any but `CreateCell` and `CreateAndInitCell` should have it.

The most important here is that `CreateAndInitCell` creates a cell only if it does not exist b

[2017-12-06 10:44] divan commented on #502
Seems like it's related to react-native: https://github.com/facebook/react-native/issues/10756
Could you please also open an issue in https://github.com/status-im/status-react? I believe there is nothing can be done in status-go part here.

[2017-12-06 12:58] b00ris commented on #470
@oskarth Symkey is included into envelop.
shh_requestMessages params:
"enode" string - maiserver enode,
"topic"  string
"symKeyID" string - mailserver key id
"from" uint - messages from time in unix timestamp
"to" uint - messages in time in unix timestamp

[2017-12-06 13:01] oskarth commented on #470
Already resolved :) https://github.com/status-im/status-react/pull/2624/files

[2017-12-06 13:20] canercidam commented on #497
You're right, my bad, double creation is not possible because of the second check in `Jail.createCell`. However, if there's any possibility of multiple concurrent calls to `Jail.Parse` happening with the same ID, it may cause undesired behaviour. In `Jail.Parse`, calling `Jail.cell` causes `Jail.cellsMx.RLock` to be called before a `Jail.cellsMx.Lock` call in `Jail.createCell` (which is in followi

[2017-12-06 15:38] athos-ribeiro commented on #422
#504 fails to pass on CI tests on gometalinter unparams because we are passing constant values to the function that builds the version string.

geth/params/version.go:25:25:warning: parameter major always receives 0 (unparam)
geth/params/version.go:25:32:warning: parameter minor always receives 9 (unparam)
geth/params/version.go:25:39:warning: parameter patch always receives 9 (unparam)
geth/param

[2017-12-07 09:52] adambabik commented on #497
@canercidam I reviewed #500 :) We will remove `Jail.Parse` eventually and your solution will allow status-react to transition to `Jail.CreateAndInitCell`.

[2017-12-07 10:21] adambabik commented on #474
I am closing it as it won't be necessary. Both MailServer enode and password will be specified on status-react side.

[2017-12-07 10:21] #474 closed, assigned to nobody

[2017-12-07 11:35] adambabik commented on #422
@athos-ribeiro, thank you for your contribution! Let's work closely on this one as it's pretty complex and requires some testing by org members.

I will review your PRs shortly.

It will be done on a CI server but it doesn't matter. There should be a shell script that anyone can execute that it should create proper branches and tags.

The same answer.

Regarding versioning. Currently, we keep some

[2017-12-07 12:07] #486 closed, assigned to JekaMas

[2017-12-07 13:37] #470 closed, assigned to b00ris

[2017-12-07 16:58] #488 closed, assigned to JekaMas

[2017-12-08 15:32] #497 closed, assigned to nobody

[2017-12-08 18:13] mandrigin commented on #391
I see that `farazdagi/xgo:latest` is using Go 1.8.3.
Is this issue still valid?
Or do we want to migrate the Docker image to `1.9`?

[2017-12-08 22:59] mandrigin commented on #429
Yeah, as @b00ris mentioned the problem is here:
[code]

and here

[code]

If a computer is under heavy load, it is possible that the goroutine is called after the node was already stopped. Travis CI's runners are usually like that.

To reproduce this every time, you can add `time.Sleep(1 * time.Second)` in the
beginning of the `eventLoop()` call.

One solution might be to pass a channel to the gor

[2017-12-08 23:00] mandrigin commented on #429
I'll try to prepare a PR tomorrow.

[2017-12-09 08:32] tiabc commented on #429
@mandrigin it seems you'll have to open a PR against our github.com/status-im/go-ethereum repository, not this one. Are you also going to send a PR to its upstream? It looks like a good candidate from the first glance.

[2017-12-09 08:38] tiabc commented on #391
I think it's about time to migrate to 1.9 if nobody else has any objections.

[2017-12-09 10:08] tiabc commented on #415
Hi @vedhavyas, is it still on your todo list to work on this issue?

[2017-12-09 11:06] santegoeds commented on #415
If nobody else is working on this anymore I wouldn't mind to take a stab at it.  I've been eyeing the issue and should be able to get a PR ready before Monday.

[2017-12-09 14:12] mandrigin commented on #429
@tiabc In the master branch of `go-ethereum` they changed this code quite a bit, so I wasn't able to run this test at all. I don't yet know how valid is this patch against the master branch.

I made a PR against `[status-im/go-ethereum]` branch `1.7.2-stable`: [`go-ethereum/pull/38`](https://github.com/status-im/go-ethereum/pull/38/files)

That is what is used in `status-go` now, as I can see.

[2017-12-09 15:20] canercidam commented on #415
I can work on this as well.

[2017-12-10 12:46] mandrigin commented on #391
@tiabc I see there are source files for `farazdagi/xgo` in the repo.
I can tweak them, but someone from the core team needs to create a dockerhub entry for `status-im` and push the images there. I don't want to register it myself.

[2017-12-10 14:10] vedhavyas commented on #415
@santegoeds @canercidam not ready for PR yet. you can take it up 👍

[2017-12-10 16:31] santegoeds commented on #415
Thank you @vedhavyas. The question was equally directed to @thedadams because he has a PR in progress that looked like it might have stalled.

I see new commits have since been added so I'm going to hold off on this for now.  If it's still not merged next time I have some free space I might take another look.

[2017-12-10 16:36] thedadams commented on #415
Hello everyone. I have made changes that the contributors have requested and am back on track to get the PR merged.

[2017-12-10 18:37] santegoeds commented on #429
I had a branch that was based on go-ethereum 1.7.3 and experienced the same issue there so it's definitely not fixed in the last go-ethereum release.

Fyi, @divan is working on issue #467 to upgrade to 1.7.3 with am improved approach that consists of a number of patch sets that are automatically applied.

[2017-12-11 09:48] adambabik commented on #391
@mandrigin where is this information that `farazdagi/xgo:latest` uses Go 1.8.3? It sounds good, we can push it as `status-im` user.

[2017-12-11 10:02] mandrigin commented on #391
@adambabik sorry, I mixed up, it was a base image `karalabe/xgo`.

[2017-12-11 11:15] adambabik opened #509 "Clean up and refactor MailServer"
# Problem

After finishing MVP of Offline Inboxing, the code and tests need to be refactored a bit to align with our coding standards.

# Implementation

1. Improve code style,
2. Write unit tests,
3. Finish e2e tests in JS which should replace some scenarios in e2e written in Go eventually.

[2017-12-11 12:07] divan commented on #429
@santegoeds yeah, I think it'll be done and merged today or tomorrow.

[2017-12-11 12:37] mandrigin commented on #429
@divan do you want me to port that fix to 1.7.3 when the rebase is done?

[2017-12-11 13:18] divan commented on #429
@mandrigin @santegoeds just to make sure we're on the same page: if the change need to be made in `go-ethereum` repo and it's not specific to Status, the process is following:
 - make a change in https://github.com/ethereum/go-ethereum
 - wait until PR is accepted
 - wait till next go-ethereum release
 - change is automatically introduced into status-go codebase as we upgrade to the new release

D

[2017-12-11 13:52] mandrigin commented on #429
The `master` branch of the upstream has this code rewritten, so the delay will (maybe) cause some other issues but not that particular crash. I didn't check that though, I probably should do that :)

I targeted `status-im/go-ethereum` just to get rid of that crash in the current version of the product.

[2017-12-11 14:54] athos-ribeiro commented on #422
I will work on #501 ideas proposed on your comments and then drop #504 in favor of obtaining versions from the latest git tag. I do have one question though: should we still update versions on version.go after the bumps?

[2017-12-12 17:02] athos-ribeiro commented on #422
For the proposed flow, what would define the current version in `develop`? If it is a tag, then I probably did not understand the proposed flow:

Bullet **1** infers version  `0.10.0` in `develop`, while the `0.10.0` tag is only created in bullet **4**.

Should I understand that the current version in `develop` is actually whatever we have in the latest tag with the MINOR version bumped (MINOR + 1

[2017-12-13 09:17] adambabik commented on #422
@athos-ribeiro

Eventually, we won't have `version.go` anymore. A version should be derived from a tag because that's the only reliable way to pin a particular commit to a version.

Should I understand that the current version in develop is actually whatever we have in the latest tag with the MINOR version bumped (MINOR + 1) since we are not relying on version.go?

So, currently, in `version.go` w

[2017-12-13 13:17] adambabik opened #510 "Add unit tests for CreateAccount and RecoverAccount methods"
# Problem

`./geth/account` package has a poor unit tests coverage which should be improved.

# Implementation

There is only one struct that needs to be tested: `Manager` in `geth/account/accounts.go`. This struct depends on `common.NodeManager` and we'd like to get rid of this dependency, thus, please implement unit tests **only** for methods that do not depend on `common.NodeManager`. Identifie

[2017-12-13 23:02] canercidam commented on #510
Getting a PR ready for this.

[2017-12-13 23:18] pablanopete commented on #510
@canercidam thanks for jumping on it so quick! Make sure to ping me @hutch in our riot https://chat.status.im/#/register so we can chat!

[2017-12-14 02:20] canercidam commented on #510
@adambabik I don't see how `CreateAccount` and `RecoverAccount` are independent from `common.NodeManager` as they call a dependent function which is `Manager.importExtendedKey` but please review #511 to see if it helps.

[2017-12-14 02:26] canercidam commented on #510
I think `accounts.go` requires some rewriting in order to keep all test coverage independent from `common.NodeManager`.

[2017-12-14 08:13] b00ris commented on #510
@adambabik I think it's duplicate issue. This issue was solved to https://github.com/status-im/status-go/pull/445.

[2017-12-14 09:33] adambabik commented on #510
@canercidam good catch! I totally missed that unexported method. This also makes it ok to write unit tests for other exported methods like `SelectAccount`. However, as it was not in the original scope, it's up to you :)

[2017-12-14 11:23] divan commented on #510
@b00ris I'll try to explain here why I don't think the issue has been solved in #445.

Let's consider following schematic representation of a package. Boxes are types and ovals are functions/methods:
![unittesting 001](https://user-images.githubusercontent.com/880202/33989615-641edc86-e0c8-11e7-8e83-b6f6f9b047e3.jpeg)

In a well-designed code, most of the code responsible for logic, calculations,

[2017-12-14 11:42] pacamara commented on #320
Please note: per status team request, revised PR against upstream go-ethereum now addresses this issue instead:  https://github.com/ethereum/go-ethereum/pull/15673

[2017-12-14 12:02] JekaMas commented on #510
Why only "leaf" methods are good condidates for unit testing? Is there some research about it? I always think that any method is a good condidate for unit testing, especially in TDD.

[2017-12-14 12:26] divan commented on #510
@JekaMas "leaf" methods are isolated and in a properly designed code usually contains "actual" logic. In the context of account package, that might be a function of that looks for a key file on the filesystem or a code that filters constructs eth.accounts() response. Those functions should be small, focused on solving one specific problem and have minimum (ideally, zero) dependencies, except stand

[2017-12-14 12:30] JekaMas commented on #510
The second question is "mocks" and unit testing with mocks. I think you really need to read https://martinfowler.com/articles/mocksArentStubs.html - this classic article provides quite different meaning of mocks and unit testing than you describe.
I still cant get why only "leaf" methods is good for unit testing. As far as i see this is only your opinion - quite interesting opinion however it's no

[2017-12-14 12:43] divan commented on #510
@JekaMas as for the research — I recommend "How Google tests software" book, it's free and really good read. They call "unit tests" a "small tests", but it's not Google-specific or anything. The term unit is really good fit here — it's a test that tests small "unit" of the program.

[2017-12-14 12:44] JekaMas commented on #510
Are we Google? :)

[2017-12-14 15:44] b00ris opened #514 "Group messaging workflow investigation"
# Problem
There are no working workflow for group messaging.
Request historic messages request for group messaging don't covered by tests.

# Acceptance Criteria
1. Sequense diagramm which describes communication flow between Alice, Bob, Charlie and mailbox node
2. Test which test this workflow

[2017-12-15 10:56] andytudhope commented on #320
Closing here as @pacamara has been rewarded out of band and will be working with Divan and Zsolt on LES2 for the rest of what is required.

[2017-12-15 10:56] #320 closed

[2017-12-15 11:47] b00ris commented on #514
![group_chatting_mailbox](https://user-images.githubusercontent.com/4943570/34040873-c455e200-e1a6-11e7-92a4-63a64a3312ba.png)

[2017-12-15 12:27] status-open-bounty commented on #450
Balance: 0.000000 ETH
Tokens: SNT: 4000.00
Contract address: [0x07a3b41a3fbda94c51eeee17064a8c81f9df7c60](https://etherscan.io/address/0x07a3b41a3fbda94c51eeee17064a8c81f9df7c60)
Network: Mainnet
Paid to: mandrigin
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-16 11:59] monokh commented on #450
I'd like to give this a go but wanted to clarify my understand of the issue and concepts.

- The jail is a sandboxed javascript context within the `status-go` node.
- The purpose of the jail is to access code that is available on the `status-go` side from the react app?
- The issue here is that status-go itself does not need to know about the specific use case of getting the catalog variable which

[2017-12-16 22:32] monokh commented on #450
Just noticed there already is an open PR for this 😅  Would be interested in the above questions still just out of curiosity.

Also here's the way i was going about it if you were wondering: https://github.com/monokh/status-go/commit/235dd8f8271eb2cfb66c987354e3a68a2205b589

[2017-12-18 13:16] themue opened #516 "Panic based on wrong error"
# Problem

In `status-go/geth/jail/internal/timers/timers.go` in function `Define()` a call to `call.Otto.ToValue(t)` returns the `setImmediateErr` (currently line 73).  The following `if` checks an outer `err` which is always `nil` then. The following `panic()`is never reached but raises `setImmediateErr` correctly.

# Implementation

Error check in `if` has to be the `setImmediateErr`.

# Accept

[2017-12-19 12:08] status-open-bounty commented on #510
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0x8dbffc03792a8496a52d07162f92c89f8fb00ecc](https://etherscan.io/address/0x8dbffc03792a8496a52d07162f92c89f8fb00ecc)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-19 16:46] adambabik opened #517 "Collect basic Whisper statistics"
# Problem

Whisper does collect some basic statistics but it's not exposed. We should try to collect them and expose somehow through status-go.

# Implementation

The goal is to expose [basic Whisper statistics](https://github.com/ethereum/go-ethereum/blob/master/whisper/whisperv5/whisper.go#L40-L46) and present them as a chart. It should be possible to do so with Status running on a physical devi

[2017-12-19 16:58] JekaMas commented on #517
It is exposed in method 'Stats() Statistics' - https://github.com/ethereum/go-ethereum/blob/master/whisper/whisperv5/whisper.go#L73-L736

[2017-12-21 10:18] adambabik opened #518 "Documentation for exposed bindings and RPC methods during MailServer work"
* `AddPeer` binding,
* `shh_requestMessage` RPC method.

[2017-12-21 10:26] #509 closed, assigned to adambabik

[2017-12-21 13:21] pedropombeiro commented on #516
Hi @themue, I'm starting to look at this issue. Currently the anonymous method being passed to `setImmediate` isn't covered by tests, so that'd be the first thing. Regarding checking if the negative call of `call.Otto.ToValue(t)` is tested - do you mean testing the branch where `panic` is called? FWIW, that scenario isn't currently being tested for any of the other methods (`setTimeout`, `setInter

[2017-12-21 13:42] pedropombeiro commented on #499
@jonprice Is this something we want to solve now, or leave for later until this GHI is fleshed out? Is it enough to start accepting the `notification/Payload` type in `NotifyUsers` and convert that to an fcm notification struct before passing it off to the `NotificationConstructor`?

[2017-12-21 15:33] pedropombeiro commented on #421
@divan, is this something that would make sense to get the ball rolling again? That would mean:
- taking the PR you started
- adding some obvious metrics such as number of jail cells
- taking care that there is a hidden "debug" toggle on the client apps to gate this functionality(?)
- anything else?

I can also look into geth metrics and compare both solutions, if that's something we feel is worth

[2017-12-21 16:55] divan commented on #421
@PombeirP oh, this issue is not updated as it should be, but actually we're working on it this week. There is also a related project that I plan to extend to support more custom metrics and serve as a proxy to metrics storage/analysis solutions like Prometheus. It's in https://github.com/status-im/statusmonitor repo.

[2017-12-21 17:10] pedropombeiro commented on #421
Thanks for letting me know @divan

[2017-12-21 23:18] jonprice commented on #499
It was just something that I noticed while refactoring while working on #440 so created the ticket

[2017-12-22 10:58] adambabik commented on #518
`AddPeer` was already added.

I created a new page for new JSON-RPC API in status-go: https://github.com/status-im/status-go/wiki/Additional-JSON-RPC-API.

[2017-12-22 10:58] #518 closed, assigned to adambabik

[2017-12-22 11:56] pedropombeiro commented on #239
@tiabc, @annadanchenko if the goal is to be able to test as close as possible to the production setup, is there a reason why something like https://github.com/kivy/pyjnius couldn't be used to access the bindings from Python by leveraging the Android package generated by xgo? It's not something I have experience with, but which I came across while investigating this issue, and I was able to create

[2017-12-22 15:14] adambabik opened #519 "Run a develop Whisper cluster locally"
This is about running a cluster composed of a few Whisper nodes.

### Acceptance criteria
1. Start a cluster locally, using puppeth or Docker (docker-compose, swarm),
1. wnode-status should be used as we want to have control over it,
1. It's possible to have a cluster of at least 5 nodes,
1. Configurable discoverability so that we can disable it and have only static peers.

[2017-12-22 15:41] pedropombeiro commented on #229
Regarding log15 and log rotation, this might be useful: https://github.com/inconshreveable/log15/issues/133

@tiabc I wouldn't mind picking this up, but am wondering why this has been open for such a long time.

[2017-12-23 15:56] pedropombeiro commented on #517
Any reason why https://github.com/status-im/status-go/issues/421 wouldn't work for this?

[2017-12-23 17:22] adambabik commented on #517
@PombeirP #421 is more about how to expose metrics, which library use. This issue is about exposing specific metrics -- Whisper messages stats.

#421 should be probably finished before this issue.

[2017-12-23 17:44] pedropombeiro commented on #391
@mandrigin did you end up working on this? Was going to take it, if you're not working on it.

[2017-12-23 18:10] pedropombeiro commented on #517
@adambabik yeah, I was just wondering why the infrastructure built in #421 wouldn't work for exposing these metrics as well. After all, you can select which metrics to see by passing arguments to `expvarmon`.

[2017-12-23 18:16] pedropombeiro commented on #391
@adambabik The file referenced in https://github.com/status-im/status-go/blob/develop/xgo/ios-simulator/Dockerfile#L4 should probably be hosted on an account controlled by [status.im](https://status.im/). Maybe someone from status can host that and post the link here?

[2017-12-23 22:29] adambabik commented on #517
@PombeirP As far as I remember, I haven't said anywhere that #421 implementation won't work for these metrics. However, as long as `expvar` is a standardize and preferred way of exposing metrics, I'd like to have them in another system in order to analyze and visualize. Prometheus and Grafana look like a good candidate. Both systems can work at the same time actually. To expose `expvar` to Prometh

[2017-12-23 22:39] adambabik commented on #391
@PombeirP thanks! I reported this problem to our Ops and this file with iOS SDK should be moved shortly. In the meanwhile, if you start working on this issue, I think you can use the current file location.

[2017-12-24 20:22] pedropombeiro commented on #391
@adambabik That'd be great. The only other thing I'd need from Ops is for them to create a couple of automated build at hub.docker.com (one for `/xgo/base/Dockerfile` and another for `/xgo/ios-simulator/Dockerfile`) once the PR is near approval:

![image](https://user-images.githubusercontent.com/138074/34329004-59bc87b8-e8f0-11e7-92d5-7c38a1289109.png)

[2017-12-25 22:01] adambabik opened #522 "Export peers information from a node"
Acceptance Criteria:
* use `expvar` to expose metrics,
* expose number of peers,
* expose a list of peers with information like peer ID, IP and so on.

[2017-12-26 11:31] adambabik commented on #391
Thanks, @PombeirP for the detailed description. I will take care of this as soon as possible.

[2017-12-27 14:09] pedropombeiro commented on #229
I'm almost finished with this GHI, just in case. It seems that geth log output is disabled by default by status-react: https://github.com/status-im/status-react/blob/develop/modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java#L180. I've asked [a question](https://github.com/status-im/status-react/pull/2803#issuecomment-353984101) related to another PR of m

[2017-12-28 11:30] pedropombeiro commented on #295
One way to reduce noise or find interesting things in logs would be to use a capable log viewer that affords filtering and highlighting of entries on your live log automatically. E.g.:

![image](https://user-images.githubusercontent.com/138074/34409138-29006132-ebc8-11e7-9975-33843866dcff.png)

As long as the device doesn't get bogged down with writing the log entries, this seems like a good compr

[2017-12-28 20:50] #415 closed

[2018-01-02 14:59] adambabik commented on #514
@b00ris I believe this is done, right?

[2018-01-03 10:20] adambabik opened #529 "Use a single flow to send a transaction for remote and local nodes"
# Problem

It is described in [this comment](https://github.com/status-im/status-go/issues/338#issuecomment-331389930).

The problem is that having two separate flows to send a transaction introduces subtle differences that may be hard to debug, maintain and can lead to inconsistencies.

# Implementation

Create a single flow in status-go to send all transactions via `eth_sendRawTransaction` regar

[2018-01-03 10:31] status-open-bounty commented on #529
Balance: 0.000000 ETH
Tokens: SNT: 870.00
Contract address: [0x9ee854507d03f592ec5bfe47e214a34f6e884c16](https://etherscan.io/address/0x9ee854507d03f592ec5bfe47e214a34f6e884c16)
Network: Mainnet
Paid to: dshulyak
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-03 16:02] adambabik commented on #522
As discussed with @divan, the scope of this issue must be extended to also support metrics in `statusd` as we want to debug how a mobile node connects to the Whisper cluster.

[2018-01-03 18:13] divan commented on #522
Right, peer information comes from the p2p layer, so it's useful both for whisper- and les-enabled status nodes.

[2018-01-04 08:38] #510 closed, assigned to nobody

[2018-01-04 09:47] #391 closed

[2018-01-04 10:52] oskarth commented on #514
@b00ris @adambabik decoupling this from offline inboxing iteration as we are closing down the swarm, please decide what you want to do with this issue.

[2018-01-04 11:51] adriacidre opened #532 "Missing mockgen when following README instructions"
# Problem

README is missing the mockgen dependency for running `make ci`, it becomes on an error like:
[code]

# Implementation

Changing the README to include `make mock-install` should be enough

# Acceptance Criteria

Anybody is able to run tests following step by step the readme

[2018-01-04 16:04] #532 closed, assigned to nobody

[2018-01-04 17:57] b00ris commented on #514
Merged

[2018-01-04 17:57] #514 closed, assigned to b00ris

[2018-01-05 17:37] adambabik opened #536 "Collect Whisper metrics in MailServer"
# Problem

We'd like to collect some Whisper metrics to assess Status usage. E.g. we'd like to see a consistent increase in the number of exchanged messages.

# Implementation

Add metrics to `wnode-status` that runs as a MailServer. https://github.com/status-im/status-go/pull/523 has some initial work on gathering peers info that can be useful.

# Acceptance Criteria

1. The number of exchanged m

[2018-01-08 07:02] dshulyak opened #539 "Random crashes in node e2e tests"
# Problem

Node e2e test randomly crashed on this Travis job `https://travis-ci.org/status-im/status-go/jobs/325584660`. It might be not limited to node e2e tests.

[code]

# Acceptance Criteria

1. Root cause needs to be found
2. Tests made stable
3. Ideally, fix submitted upstream, as it looks like a concurrency issue in go-ethereum

[2018-01-08 08:54] dshulyak commented on #539
Another failure https://travis-ci.org/status-im/status-go/jobs/326269561. Now in the API tests

[code]

[2018-01-08 14:23] divan commented on #539
That looks like a dup of https://github.com/status-im/status-go/issues/429

[2018-01-08 14:37] dshulyak commented on #539
thanks, closing this one

[2018-01-08 14:37] #539 closed, assigned to nobody

[2018-01-09 04:48] feuGeneA opened #543 "make lint-gas fails with recent gometalinter change"
# Problem

I recently set up a new go development environment, and I get several warnings from the `make lint-gas` step:

[code]

@divan [suggested](https://status-im.slack.com/archives/G2B3U1AKE/p1511980987000592?thread_ts=1511974141.000865&cid=G2B3U1AKE) that [a recent change to gometalinter](https://github.com/alecthomas/gometalinter/commit/3e602d9013785a8e54137caf409564a966586b85) is at fault.

[2018-01-09 10:08] mandrigin commented on #223
@divan @adambabik I'll take this one over. Chances are, by the time I'll finish it, 1.7.3 would be rebased.

[2018-01-09 10:45] adambabik commented on #223
I wonder if we should actually start working on this issue before go-ethereum decides to adopt `dep`. Here is [an issue](https://github.com/ethereum/go-ethereum/issues/15145) and what they think about it now.

What problem do we want to address with `dep`? The most crucial thing for us is to have the same version of dependencies as go-ethereum in order to stay compatible and avoid unexpected behav

[2018-01-09 11:18] mandrigin commented on #223
Sticking to `govendor` might make sense because we should be able to re-use their `vendor/vendor.json` file in that case.
I can start investigating that first.
Does anyone have a strong opinion on that?

[2018-01-09 11:31] adambabik commented on #223
If `govendor` can read `vendor.json` recursively that would be great. We could have very minimalistic `vendor.json` and all dependencies would be loaded from `go-ethereum`'s `vendor.json`. (`dep` can do that, i.e. it reads its config files recursively.)

I don't have a strong opinion regarding the tool, however, I hope `dep` will be a standard soon. Having said that, if `govendor` is a better solu

[2018-01-09 13:46] JekaMas commented on #223
I agree that `govendor` is a better solution for now and in our conditions. Could we made migration fast? If not may be we dont need any new package manager?

[2018-01-09 14:21] adambabik commented on #223
I think it depends if `govendor` can recursively download dependencies. @mandrigin will research that. If yes, we will just need to specify `go-ethereum` as a dependency plus a few others so it should be quick. If it does not work recursively, it may be more problematic.

[2018-01-09 16:53] #450 closed

[2018-01-09 20:44] xackery commented on #536
Would prometheus be viable for metrics gathering?

[2018-01-09 20:52] adambabik commented on #536
I plan to write a simple abstraction or use https://github.com/go-kit/kit/tree/master/metrics in order to support multiple collectors.

One huge disadvantage of `expvar` is no labels support. We have a use case where we'd like to count messages by topic. With `expvar` it's only possible by using [`expvar.Map`](https://golang.org/pkg/expvar/#Map), however, additional logic to prune old topics is re

[2018-01-10 04:15] xackery commented on #536
When you speak of abstraction, you mean you just plan to write an interface and wrap prometheus/other to implement it?

[2018-01-10 04:15] xackery commented on #536
Mainly just looking to do some PRs, this is one around my ballpark is why I shot the comment out. If it's claimed I'll lurk for another.

[2018-01-10 09:42] #516 closed, assigned to nobody

[2018-01-10 14:24] adambabik opened #546 "Measure volume of network traffic of statusd process"
# Problem

In https://github.com/status-im/status-react/issues/2931, we collected data usage of the mobile app. In order to test different status-go settings and compare the results, we need to figure out how to collect similar metrics from a local node.

# Implementation

In this issue, let's focus on network usage. There should be a metric displaying volume of network traffic to and from `status

[2018-01-10 14:26] adambabik commented on #536
@xackery great to hear that! This issue is kind of in progress already but I have a different one that is related to metrics: https://github.com/status-im/status-go/issues/546. Would you be able to work on that one?

[2018-01-10 15:16] divan commented on #546
@adambabik from my understanding network traffic is something that should be measured per process, i.e. on OS level rather than app level. So that's probably should be an external app that measures traffic and sends it to the stats storage/display software like Grafana.

I'd be more than happy to extend https://github.com/divan/statusmonitor to support network usage stats and proxying data to the

[2018-01-10 15:59] rasom opened #547 "Empty response for eth_getTransactionReceipt call"
# Problem
related to https://github.com/status-im/status-react/issues/2653

When we are calling `eth_getTransactionReceipt` right after sending transaction response is an empty string:
[code]
20-30 seconds later we can get a valid response for the same call
[code]

`Statusgo.CallRPC` is used.

[2018-01-10 16:16] dshulyak commented on #547
I don't think this is a bug on golang side. Usually if you need to wait until tx is mined or contract is deployed you have to poll the node for some time. For example in go-ethereum implementation there is utility function for that https://github.com/ethereum/go-ethereum/blob/master/accounts/abi/bind/util.go#L31-L53

[2018-01-10 16:18] adambabik commented on #546
@divan you're correct, it should be an external app/code/repo but as I was not aware of any, I put this issue here. Btw. your link leads to 404, I guess you mean https://github.com/status-im/statusmonitor. We can move this issue there as it makes perfect sense!

The most important part here is to collect network usage without a need to run the app on a simulator or device as this activity is troub

[2018-01-10 16:49] adambabik commented on #547
_As we talked on Slack and just to have a reference._

@rasom found that Infura returns `null` in such a case:
[code]

Also, [the docs](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt) say:

So, it indicates that our `rpc` package has a bug.

[2018-01-10 19:57] mandrigin commented on #223
I did a short research of `govendor`.
It has its own caveats: it ignores the remote `vendor.json` when fetching dependencies. There are workarounds for that though.

I will try to do a short investigation of `dep` and see how it compares to `govendor`.
I'll post a longer version of my investigation later.

It also turns out that we have quite a few dependencies in our tree that are either never us

[2018-01-10 20:23] divan commented on #546
@adambabik oops, you're right, old link :)

I found one way to collect network stats for process that can be used with statusmonitor:
 - first, find userID of the process:

```adb shell dumpsys package im.status.ethereum | grep userId```

 - filter `/proc/net/xt_qtaguid/stats` output from the device to get `tx_bytes` and `rx_bytes` values:

```adb shell cat /proc/net/xt_qtaguid/stats | grep \ 1017

[2018-01-10 21:09] dshulyak commented on #546
Won't it be useful to know what traffic is generated by p2p protocols, e.g. syncing, sending whisper messages, receiving whisper. And what traffic is from regular RPC requests to upstream node?
I wanted to share https://github.com/ethereum/go-ethereum/blob/master/p2p/metrics.go

[2018-01-10 21:48] dshulyak commented on #546
It seems there is no way to meter traffic for RPC requests at the moment, but we can get p2p ingress/egress traffic from metrics.DefaultRegistry or by sending 'debug_metrics' RPC request.

More info is here https://github.com/ethereum/go-ethereum/wiki/Metrics-and-Monitoring

[2018-01-10 22:21] divan commented on #546
@dshulyak that'll be definitely useful as soon as we confirm that there is a problem with traffic.
I've updated `statusmonitor` to collect OS level Rx/Tx for Status app:
![](https://raw.githubusercontent.com/status-im/statusmonitor/master/demo/demo0.png)

Not sure if it collects network traffic from WebViews (i.e. when browsing dApp from within the app), though.

@adambabik If these numbers are wh

[2018-01-10 22:40] divan commented on #223
@mandrigin make sure you've seen this (closed) PR: https://github.com/status-im/status-go/pull/369

We agreed on using `dep` (it's going to be an official go subcommand soon anyways), so the challenge is to make it work nicely with our forked go-ethereum clone. Using `status-im/go-ethereum` with patches (https://github.com/status-im/status-go/pull/492) should facilitate it.

Also (I don't remember

[2018-01-11 09:54] adambabik commented on #223
@mandrigin if `govendor` does not support remote `vendor.json` then I would not spend much time on it. `dep` is the tool that will be used in the future by the whole community.

BTW, there is an update on `dep` https://github.com/golang/dep/issues/944 (improvements to pruning that did not work well for us when we tried `dep` for the first time).

@mandrigin First, I would try to research migration

[2018-01-11 11:10] mandrigin commented on #223
@adambabik yeah, the workaround I mentioned is as follows.
We have `vendor.json` in our `/vendor` directory. It has `go-ethereum` as a dependency.
Then we do the following sequence.
[code]

That relies on a fact, that go supports nested vendor folders and chooses the longest path.

(from [Go Vendor Experiment](https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit#))

[2018-01-11 18:25] adambabik commented on #314
Closing due to no activity.

[2018-01-11 18:25] #314 closed

[2018-01-11 18:53] adambabik commented on #233
More details can be found here: https://github.com/status-im/go-ethereum/wiki/Rebase-Geth-1.7.0

The way we apply patches will change in https://github.com/status-im/status-go/pull/492 with [a Readme included](https://github.com/status-im/status-go/blob/adf7895549037bea5cc287636acb2e1236c56b44/geth-patches/README.md)

[2018-01-11 18:53] #233 closed

[2018-01-11 18:56] adambabik commented on #546
Linking a proxy layer issue for statusmonitor: https://github.com/status-im/statusmonitor/issues/2

[2018-01-11 20:02] divan opened #549 "Merge status and wnode-status commands"
# Problem

Because of historical/legacy reasons, we now have two commands – `statusd` and `wnode-status`. This is confusing because `wnode` sounds like a counterpart of geth's `wnode` command, and it's not. `wnode-status` is just a statusd with LES protocol disabled and Whisper protocol enabled. It also injects test accounts on the start, but that's obsolete and should be removed.

# Acceptance Cr

[2018-01-12 05:16] oskarth commented on #547
@divan @adambabik Was this closed in error? #548 is about adding a test case, not fixing the problem, AFAICT.

[2018-01-12 08:04] adambabik commented on #547
@oskarth yeah, what has been added there is better handling of errors. At the same time, I could not reproduce this issue with the code or on a simulator.

[2018-01-12 22:43] phcurtis commented on #549
Is test_accounts.go in wnode-status obsolete as well?

[2018-01-12 22:45] phcurtis commented on #549
can you assign this to me ... I'll work on it

[2018-01-13 07:30] andytudhope commented on #549
I can't assign non-members @phcurtis - but please do go ahead here. Will see how the team feels about a small bounty here too 👍

[2018-01-13 18:53] phcurtis commented on #549
okay working on it,
a case I see with data-dir ... in flags stuff default will remain as in statusd: params.DataDir not wnode-data as found in wnode-status/config.go , ... so if one is enabling whisper they likely will also need to change that on invocation ... is there any known problem with that approach? ... there may be some other such scenarios I have yet to find ....

[2018-01-14 11:07] rasom commented on #547
it's already fixed in status-go's `develop`, but we are using outdated version of status-go in the app. Will be fixed with this PR https://github.com/status-im/status-react/pull/2954

[2018-01-14 11:07] #547 closed, assigned to adambabik

[2018-01-14 20:09] adambabik commented on #547
That's cool. I will try to look at the commits history and figure out which actually resolve this issue. @rasom do you remember git commit sha of the status-go that caused the problem? If it was the one overridden by status-im/status-react#2954 then it was pretty outdated.

[2018-01-14 21:41] phcurtis commented on #549
submitted pull request with #549 resolution a few minutes ago.

[2018-01-15 13:03] rasom commented on #547
@adambabik, yes that's the one which is overridden in PR

[2018-01-15 19:53] mandrigin commented on #223
Ok, I manage to make it build and the tests to pass using dep and an external fork of `go-ethereum`.

Unfortunately, our current `1.7.2-unstable-dep` doesn't work with this scheme, so I will create `1.7.2-stable-dep` in out fork, convert the dependencies from `govendor` and apply a missing patch there.

After that, I can prepare dependencies for 1.7.3 in the `dep` format.

@divan what is the best

[2018-01-15 20:04] dnephin commented on #223
I would suggesting adding a "vendor check" to CI. The vendor check would run `dep ensure` and then `git diff` to validate that any changes to the `vendor` directory are a result of changing the `Gopkg.*` files, and not manually applied diffs. [check-git-diff](https://github.com/docker/cli/blob/16949210478134633f85c2fc83d589b0ca326cee/scripts/validate/check-git-diff) is a good example of this.

The

[2018-01-15 20:10] mandrigin commented on #223
That makes sense if we will continue to keep `vendor` under git.
I'm leaning towards not having it there, forcing CI to do `dep ensure` and download the dependencies every time.

[2018-01-15 20:26] #467 closed, assigned to divan

[2018-01-16 05:12] sdboyer commented on #223
noticed this on a backlink from the dep repo - hi! just a quick note:

yes, definitely important to do. you could base it off of what we do in dep itself: https://github.com/golang/dep/blob/master/hack/validate-vendor.bash

note that, as outlined [here](https://docs.google.com/document/d/1j_Hka8eFKqWwGJWFSFedtBsNkFaRN3yvL4g8k30PLmg/edit#), there'll be a first-class `dep check` command at some poin

[2018-01-16 09:52] #229 closed

[2018-01-16 20:56] mandrigin commented on #223
@sdboyer thanks a lot, this script seems very interesting indeed!

@adambabik @divan I think we can skip CI checks and `dep prune` for the first PR. Getting dependencies under control is a big enough issue in itself, and we can create a few more separate issues to introduce pruning and a CI check.

[2018-01-16 21:03] mandrigin commented on #223
@sdboyer btw, a side question. If I want to change an commit for a dependency (for triaging bugs), is it enough to just change `Gopkg.lock` and do `dep ensure`?

[2018-01-16 21:15] pablochacin commented on #522
Hi I'm new to status project. I've looking for some concrete issues to help me get familiar with the code and I think this looks promising. I will appreciate any suggestion on how to approach the issue.

[2018-01-17 06:20] andytudhope commented on #522
Hey @pablochacin! That's really awesome, but I think that Adam and Ivan have already done most of the worked and are just blocked by one other thing before merging - see [here](https://github.com/status-im/status-go/pull/523). @adambabik would you confirm that and perhaps - if possible - suggest a different issue @pablochacin could whet his appetite with?

[2018-01-17 09:04] adambabik commented on #223
@mandrigin

We need to skip it because `dep prune` will remove some packages that have only C files and status-go won't compile. At least that was the problem before https://github.com/golang/dep/issues/1223. I suppose that we can't use `prune` until https://github.com/golang/dep/issues/944 is merged.

I guess you should never change `Gopkg.lock` by yourself. I believe you can use constraint `revi

[2018-01-17 09:37] mandrigin commented on #223
@adambabik I tried putting specific `revision` constraints to `go-ethereum`'s `Gopkg.toml`. We hit the [following issue](https://github.com/golang/dep/issues/1236#issuecomment-334897163) with it.
`master: Could not introduce <dependency>@master, as it has a dependency on github.com/mandrigin/go-ethereum with constraint <sha>, which does not allow the currently selected version of master`

The pref

[2018-01-17 14:53] mandrigin opened #552 "`tests-e2e` fail after upgrading to Geth 1.7.3"
# Problem

1. Run `make test-e2e`.
2. Observe the failure in the whisper test
[code]

# Root cause

`Content-Type: application/json` is not set then making HTTP RPC request.
From geth 1.7.3 release notes (thanks, @adambabik)

# Acceptance Criteria

`make test-e2e` succeeds

[2018-01-17 16:12] #552 closed, assigned to mandrigin

[2018-01-17 16:46] #543 closed, assigned to nobody

[2018-01-17 20:07] #549 closed, assigned to nobody

[2018-01-18 01:09] phcurtis commented on #491
do you need some help on this ?

[2018-01-18 08:48] themue commented on #491
Thanks for offer, it's only on hold. Branch is almost done.

[2018-01-18 12:32] pablochacin commented on #522
Thanks, that would be awesome.

[2018-01-18 16:55] #529 closed, assigned to nobody

[2018-01-18 19:54] mandrigin opened #556 "Create a vendor check for dependencies"
# Problem

Currently, our CI process doesn't ensure that the dependencies in `vendor` folder are the same as in `Gopkg.lock` file.

# Implementation
The script should run `dep ensure` and then check if anything was changed in the `vendor` directory. If so — fail the pipeline.

The command to run this script should be `make vendor-check`

See [this thread](https://github.com/status-im/status-go/iss

[2018-01-19 19:32] adambabik opened #559 "Rewrite lint.mk to a configuration file"
# Problem

We store linter ([gometalinter](https://github.com/alecthomas/gometalinter)) configuration directly in a Makefile which is hard to find and there are a lot of duplications and inconsistency.

# Implementation

Rewrite `lint.mk` into `.gometalinter.json` as described [here](https://github.com/alecthomas/gometalinter#configuration-file).

# Acceptance Criteria

1. The same linters check t

[2018-01-20 05:04] dnephin commented on #559
All features are available from the config file, the flags just set values on the Config object.

[2018-01-20 06:32] pablanopete commented on #423
@adambabik @themue where did we ever end up on this? Issue is different now and should be revoked?

[2018-01-20 08:46] themue commented on #423
As @adambabik mentioned in chat it possibly is interesting for DApps developers wanting to test their code on Status and with Rinkeby. Looks like a pretty small user group right now, but may become more interesting later with a more established Status. So I possibly would reduce priority and let it step back. Just my 2 cents.

[2018-01-20 08:50] pablanopete commented on #423
Gotcha, thanks @themue  👍

[2018-01-20 10:24] adambabik commented on #559
That's great! Thanks for the information @dnephin.

[2018-01-21 18:15] sebastiandelgado commented on #559
Hey, I'm a new contributor. I'll be taking a jab at this today, since nobody is assigned. I'll be checking here in case that changes. Thanks!

[2018-01-22 09:09] dshulyak opened #561 "Cover transaction manager with additional test cases"
# Problem

Transaction manager (`txqueue_manager.go`) should be covered with additional test cases to ensure that it won't get accidentally broken after next changes.

Test cases that are currently missing:
1. Verify that gas value and gas price is not ignored if received from a user
2. Verify that a transaction is signed as we expect it to be signed

# Implementation

1. We definitely need to hav

[2018-01-22 10:57] dshulyak opened #563 "Fix e2e tests that are failing on upstream network"
# Problem

Some e2e tests are timing out while using upstream network.

From the log https://travis-ci.org/status-im/status-go/jobs/330661082 it looks like it times out because chain is synced for too long. As far as I understand it should not happen under normal conditions, because fairly recent version of the chain database is cached on Travis.

# Acceptance Criteria

Tests that are using upstre

[2018-01-22 11:24] dshulyak opened #564 "Research what is the purpose of async eviction loop in transaction queue"
# Problem

Right now the eviction behavior is not very clearly defined. For instance:
- why it needs to run in the separate goroutine and evict tx every 250 ms?
- do we want to drop transactions that are in progress?
- why they are dropped silently?
- is it possible to get rid from eviction at all, and simply return an error if queue is full?

# Implementation

If we want to keep everything as it

[2018-01-23 02:50] sdboyer commented on #223
in general, directly editing `Gopkg.lock` is an antipattern, and you can accomplish the same via `dep ensure -update <name of thing>`, depending on the constraint you have expressed in `Gopkg.toml`.

but yes, in a pinch, you can directly update `Gopkg.lock`, then run `dep ensure -vendor-only`.

the next release of dep - i'm trying for this week - comes with a big docs drop.

yes, strongly preferre

[2018-01-23 11:58] dshulyak commented on #411
Do you want to do it yourself? Or it is already kinda finished?
I think that I can help

[2018-01-23 13:21] dshulyak opened #567 "TestRequestMessageFromMailboxAsync from mailbox suite is flaky"
# Problem

Mentioned test randomly fails on CI.
[code]

Actually I can make it fail consistently with a following change:
[code]

# Acceptance Criteria

Test passes consistently

[2018-01-23 13:24] dshulyak commented on #567
@b00ris please take a look, as you are the author of this test

You can reproduce the error by applying diff from the PR description and then run:
[code]

If you don't have time right now, please let me know and I will try to debug it myself

[2018-01-23 13:33] dshulyak commented on #567
Failed build https://travis-ci.org/status-im/status-go/jobs/332249984

[2018-01-23 13:37] b00ris commented on #567
@dshulyak Ok. I'll check it today.

[2018-01-23 14:05] adambabik commented on #411
Thanks for volunteering! It's already finished to some degree. We will create follow-up issues when we actually start integrating it into the code.

[2018-01-23 14:05] #411 closed

[2018-01-24 01:12] adambabik opened #568 "Sync blockchain before running e2e tests on public testnet"
# Problem

If e2e tests start on a public testnet and the blockchain is not synced, the tests fail due to timeout.

# Implementation

Have a prerequisite that checks if the blockchain is synced. If it's not, sync it before running e2e tests.

Instead of:
[code]

Do something like:
[code]

This needs to be fixed in `.travis.yml`.

# Acceptance Criteria

1. E2e tests do not fail because of not synce

[2018-01-24 06:36] dshulyak commented on #568
I noticed that new blocks are created during tests, so it makes sense to sync the chain before every test suite or even test (like we do currently). Another problem - it won't be enough to run `go test`, so even if I want to run a single test I will have to run this prerequisite. It seems like a serious developer experience issue to me :).

[2018-01-24 07:34] adambabik commented on #568
Correct but if the blockchain is synced in 95%, it will take a few seconds to sync the missing blocks during the test.

Yes and no but basically you need to know what you're doing. Preferably, developer should always run it on a private blockchain and if they want to run it on the public testnet, there must be a reason. Also, again, it's enough to sync it once and you will be good for a few hours

[2018-01-24 08:25] #559 closed, assigned to nobody

[2018-01-24 10:33] dshulyak commented on #386
Account package was covered by unit tests

[2018-01-24 10:36] dshulyak commented on #307
@adambabik Take a look please, can it be closed?

[2018-01-24 10:45] dshulyak commented on #239
I completely don't understand this issue. Why java bindings are required to write tests in python?)
I would assume that for e2e tests I will need to start statusd (that exposes jsonrpc api) and use https://github.com/ethereum/web3.py if I want to write tests in python.

What am I missing?

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><d

[2018-01-24 10:48] dshulyak commented on #218
I would close it and track epics in status-im/ideas

[2018-01-24 10:49] dshulyak commented on #217
It is not actionable without any description, no reason to have it open

[2018-01-24 10:50] dshulyak commented on #214
Should be tracked in ideas repo

[2018-01-24 10:54] dshulyak commented on #209
@adambabik @divan any idea what it means?

[2018-01-24 10:55] dshulyak commented on #206
@JekaMas can we close this issue?

[2018-01-24 10:57] dshulyak commented on #171
@divan this seems outdated, right?

https://github.com/status-im/status-go/pull/524

[2018-01-24 10:58] dshulyak commented on #141
@adambabik do you know any details about it?

[2018-01-24 10:58] dshulyak commented on #122
I would close this one and reopen later if needed

[2018-01-24 11:53] pedropombeiro commented on #239
I think the idea is to actually exercise our `Statusgo` bridge, not just the code behind it.

[2018-01-24 11:56] mandrigin commented on #239
But if we call Java methods, isn't ObjC part still uncovered?

[2018-01-24 12:22] dshulyak commented on #239
@PombeirP thanks, makes sense

[2018-01-24 12:53] mandrigin opened #569 "Add an option to keep non-go files to `dep`"
# Problem

Currently `dep prune` removes non-go files from all the packages. That doesn't work for us because some packages we use have C sources in it. In the next release of `dep` there [would be an option](https://github.com/golang/dep/pull/1226) to keep non-go files intact.

When it is released, let's use it and use `dep prune` to keep our vendor folder nice and slim.

# Acceptance Criteria

1

[2018-01-24 14:57] dshulyak commented on #249
Safe to close and reopen if will there will a requirement for it

[2018-01-25 01:59] adambabik commented on #239
It's not about Java or Objective-C glue code but only C bindings like `StartNode()` in status-go. However, I am not sure who came up with this idea and if it ever was considered as something really useful for anyone.

I think we can close it and create a new issue when someone will describe requirements and objectives.

[2018-01-25 01:59] #239 closed

[2018-01-25 05:44] dshulyak opened #571 "Document all of the prerequisites for running tests on public eth network"
# Problem

End to end tests, for the public network, has several requirements that are not immediately obvious to the newcomer.

# Acceptance Criteria

Written instructions that would be easy to follow and get a successful test run on a public network.

[2018-01-25 06:48] adambabik commented on #307
@dshulyak thanks for checking. Yeah, it can be closed. It was not done but we implemented a PoC of Push Notifications in a different way.

[2018-01-25 06:48] #307 closed

[2018-01-25 06:52] adambabik commented on #209
We should probably close all epics as they do not reflect any of the current priorities.

[2018-01-25 06:52] #209 closed

[2018-01-25 06:52] adambabik commented on #214
Correct. Sec audit is gonna start pretty soon actually.

[2018-01-25 06:52] #214 closed

[2018-01-25 06:53] #213 closed

[2018-01-25 06:53] #212 closed

[2018-01-25 06:53] #211 closed

[2018-01-25 06:53] adambabik commented on #210
Both are done to some degree.

[2018-01-25 06:53] #210 closed

[2018-01-25 06:56] adambabik commented on #206
We have both Go and mocha tests for the mailbox. The case is that they are not run in CI now and we don't know in what shape they are. It also could be interesting to compare pros and cons for e2e written as mocha tests vs Go tests.

[2018-01-25 06:56] #206 closed

[2018-01-25 06:56] adambabik commented on #204
This should not be tracked as an issue. If we happen to need this we will create an idea.

[2018-01-25 06:56] #204 closed

[2018-01-25 06:59] adambabik commented on #171
This is something different. It's more about collecting logs into a single place and allowing to browse them using Logstash or something similar. It's not a particularly status-go issue but the cross-team effort.

[2018-01-25 06:59] #171 closed

[2018-01-25 07:02] adambabik commented on #122
I agree. This will be tracked as an idea. All depends on when Swarm Team will manage to provide an implementation of a light client that we can start integrating.

[2018-01-25 07:02] #122 closed

[2018-01-25 07:26] #563 closed, assigned to dshulyak

[2018-01-25 07:27] adambabik commented on #568
Related #571

[2018-01-25 09:50] JekaMas commented on #546
I've wrote small script to compate different versions of Geth and Status(still in work. i need one or two days more to finish it) on different user scenarios - https://github.com/JekaMas/ether_tester

It can be used to run many containers and get stats for given period of time (with or without sync):
[code]

[2018-01-25 12:25] dshulyak commented on #571
@divan @themue @adambabik guys, do you know why we are using go-bindata for keys?

[2018-01-25 12:28] dshulyak commented on #546
Seems like there are 3 tools now to profile a cluster :)

[2018-01-25 13:02] JekaMas commented on #546
I think this are different tools for different issus. My point is about automation testing not cluster health.

[2018-01-25 13:08] #223 closed

[2018-01-25 13:17] dshulyak commented on #569
was implemented in https://github.com/status-im/status-go/pull/551

[2018-01-25 13:17] #569 closed, assigned to nobody

[2018-01-26 05:29] adambabik commented on #571
I don't really know the reason. It may be unnecessary and we could keep them directly in Go.

[2018-01-26 05:59] #338 closed

[2018-01-26 08:40] dshulyak commented on #571
what about this whole static directory, it just uses web3 library, e.g simple jsonrpc calls, to test statusd and ethereum logic.
anyone runs those tests, maybe some job on ci?
can we perhaps open an issue to rewrite missing tests in golang, and get rid of static directory?

[2018-01-26 12:48] JekaMas opened #574 "Unexcepted envelops are decoded in milti topic iisue"
# Problem

After codding session with @b00ris and @yenda we've discovered that Ethereum side still creates a filter with 'nil' topic. This happens even after https://github.com/ethereum/go-ethereum/issues/15811

# Implementation

Work branch is `https://github.com/status-im/status-go/tree/debug/many_topics`

# Acceptance Criteria

Only user's filters should be created.

# Notes

This influence on

[2018-01-26 12:55] JekaMas opened #575 "Update ethereum to solve 'nil topic' filtering bug"
# Problem

PR is approved and we need to update our code after new Ethereum version: https://github.com/ethereum/go-ethereum/issues/15811 (already solved and merged).

# Implementation

Update Ethereum according to our process.
1. Rebase `develop` branch in [`status-im/go-ethereum`](https://github.com/status-im/go-ethereum) to `master` branch in the upstream.
2. Make sure it builds and tests pass,

[2018-01-26 13:35] JekaMas opened #576 "Network overhead investigation"
# Problem

We have some network consumption measurement: https://github.com/status-im/status-react/issues/2931
Not it looks like we have significant network overhead. This should be tested: is this overhead caused by Status code or Ethereum code.
The issue is more about reliable testing for network consumption than monitoring.

# Implementation

We should test out network overhead brt Geth network

[2018-01-27 08:43] dshulyak commented on #571
Regarding static directory and using go-bindata.
My current understanding is that the only file that needs to be embedded into golang codebase is `cht.json`. Which is not about CHT but default bootnodes, as we are updating CHT by patching geth. I would simply move those values to golang codebase as a native data structures, without using go-bindata.

Next, all kind of configurations for testing. G

[2018-01-29 06:50] b00ris commented on #574
Problem was in testing branch. No need to fix in statusgo. Resolved.

[2018-01-29 06:50] #574 closed, assigned to b00ris

[2018-01-29 09:44] themue commented on #491
Branch is https://github.com/status-im/status-go/tree/refactoring/pprof-usage-491

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">status-im/status-go</a></strong></div><div>status-go - The Statu

[2018-01-29 09:50] dshulyak commented on #571
Looks like some of that javascript is used for testing jail functionality as a part of lib tests. No reason for refactoring static directory I guess

[2018-01-29 10:14] #571 closed, assigned to dshulyak

[2018-01-29 12:10] mandrigin commented on #386
@divan closing it, feel free to re-open if that is a mistake.

[2018-01-29 12:10] #386 closed

[2018-01-29 12:12] mandrigin commented on #258
@divan @adambabik closing in favour of https://github.com/status-im/ideas/issues/63

[2018-01-29 12:12] #258 closed

[2018-01-29 12:46] #141 closed

[2018-01-29 12:46] #215 closed

[2018-01-29 12:46] 0xc1c4da commented on #217
This shouldn't be closed, Swarm Light Clients are on the way, will follow up on this

[2018-01-29 12:48] 0xc1c4da commented on #277
The core problem here was we should also preallocate disk space, or at least check if there is enough diskspace for chaindata

[2018-01-29 12:52] status-open-bounty commented on #277
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xbfd19e199906b36e0e47609ae3f8053217665ed4924f08376919081f6c331357](https://etherscan.io/tx/0xbfd19e199906b36e0e47609ae3f8053217665ed4924f08376919081f6c331357)

[2018-01-29 12:52] themue commented on #217
Especially discussed this morning an alternative to the broadcast behaviour of whisper and probably swarm could help here for a kind of virtual mailboxes and channels while whisper only is used for notification.  Very rough thought now, has to be enlarged upon.

[2018-01-29 13:05] dshulyak commented on #217
It seems that all epics are at first described at status-im/ideas, with higher levels goals and at least general design. This is why I wanted to close this one.

And secondly, adding light swarm client to status-go and using pss for a chat should be at least two separate issues in my opinion.

[2018-01-29 13:08] themue commented on #217
Yes, correct. So label should be better "should be closed after both ideas have been added". Should have made this more clear.

[2018-01-29 14:55] mandrigin commented on #277
Let's discuss some of the implementation details, and I can try to make an acceptance criterion which is easily testable.

1. @jarradh, Should we panic if there isn't enough space? There should be some notification from the client-side as well... We don't want to silently crash if there isn't enough disk space.

2. As I understand, we need to have some "budget" for disk space (as a parameter, prob

[2018-01-29 15:57] themue commented on #277
IMHO it could be done with a kind of caching. Keep only the newest blocks in memory, even more cached headers, and then reload blocks on demand. Don't know how easy this could be implemented, but would try it this way as I don't expect a light client needing many blocks at the same time.

[2018-01-29 16:19] dshulyak commented on #568
There are 2 options how it can be implemented.

1. This function can be reused https://github.com/status-im/status-go/blob/develop/testing/testing.go#L92-L145 after slight refactoring.

2. And there is second way that may provide better guarantees.

Following subscription can be used to track the progress of syncing: https://github.com/ethereum/go-ethereum/blob/master/eth/downloader/api.go#L93-L12

[2018-01-29 17:36] adambabik opened #578 "Update geth-patches readme with dep instruction and creating patches"
# Problem

After merging `dep` https://github.com/status-im/status-go/pull/551, working with patches changed a bit, however, [README.md](https://github.com/status-im/status-go/blob/develop/geth-patches/README.md) has not been updated.

# Acceptance Criteria

1. Update `Vendor patched version` section,
2. Create a new section which explains how to create a patch. (This is not related to #551 but it

[2018-01-29 17:38] mandrigin commented on #578
@adambabik btw, how is that relates to the README?
https://www.notion.so/status/Rebasing-go-ethereum-82de0bbebe684826b62d81bc688e5e89

<blockquote><img src="https://www.notion.so/images/meta.png" width="48" align="right"><div>Notion</div><div><strong><a href="https://www.notion.so">Notion – Docs, Wikis, Tasks. Seamlessly in one.</a></strong></div><div>A new tool that blends your everyday work apps

[2018-01-29 18:23] status-open-bounty commented on #568
Balance: 0.000000 ETH
Tokens: SNT: 735.00
Contract address: [0xe77bda4ec84848f795bd95411140c2ef831bfdbd](https://etherscan.io/address/0xe77bda4ec84848f795bd95411140c2ef831bfdbd)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-29 18:24] status-open-bounty commented on #556
Balance: 0.000000 ETH
Tokens: SNT: 735.00
Contract address: [0x6d179a2fa3a800baa30c1d0aa32b287d5450b260](https://etherscan.io/address/0x6d179a2fa3a800baa30c1d0aa32b287d5450b260)
Network: Mainnet
Paid to: azer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-29 18:26] status-open-bounty commented on #575
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8c4716091b4ad0cbfb6edf8a7c5ed614bc6e69a8be70bd1f7f54abb892a81434](https://etherscan.io/tx/0x8c4716091b4ad0cbfb6edf8a7c5ed614bc6e69a8be70bd1f7f54abb892a81434)

[2018-01-29 18:31] status-open-bounty commented on #561
Balance: 0.000000 ETH
Tokens: SNT: 735.00
Contract address: [0xeac87f51dffc04f7ad6c5270537bc57e7df1055c](https://etherscan.io/address/0xeac87f51dffc04f7ad6c5270537bc57e7df1055c)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-29 19:41] divan commented on #277
@mandrigin the disc usage pattern by geth is something that needs to be investigated within this issue, I guess. New geth releases may have different disc space requirement/usage patterns, so if the solution will be implemented in status-go code, it needs to be syncronized.

[2018-01-29 20:03] divan commented on #421
Obsolete as other metrics approaches are explored.

[2018-01-29 20:03] #421 closed

[2018-01-29 20:31] divan commented on #575
We're doing this by default on each geth release anyway.

[2018-01-29 20:52] JekaMas commented on #575
Next geth release is 1.8 and it can happens that rebase from 1.7.3 -> 1.8 could take much time.

[2018-01-29 20:55] divan commented on #575
Ah, so the issue is about syncing in mid-release? I'm not sure it's a good idea, how stable geth is?
Is it possible to backport your change until Geth 1.8 is available? It should be easier with patches now, and we might want this mechanism in the future.

[2018-01-29 21:04] mandrigin commented on #422
Closing it, the progress will be tracked in https://github.com/status-im/ideas/issues/52

[2018-01-29 21:04] #422 closed

[2018-01-29 21:15] JekaMas commented on #575
We can use patch for it however increasing the number of ethereum patches is the last thing i want. But we can try make the patch, wait until 1.8 and rebase.
If so i'll make and apply the patch and we'll rename issue as 'rebase up to 1.8'.

[2018-01-29 21:20] divan commented on #575
Nothing wrong with having temporary patches. It's definitely safer than bringing into vendor/ tree code in the middle of the development cycle that potentially can contain critical bug, just because of that fix. It also super easy to remove once Geth 1.8 is landed.

What I was trying to emphasize is that maybe it's worth to think over and discuss the whole workflow for such. Maybe special naming f

[2018-01-30 08:00] JekaMas commented on #575
How do you think does adding new workflow of temporaty patches increases complexity? I really agree that patch is quicker than rebase on the middle of release however it can mmake our processes more complex.
May be we need temporary patches with some naming convension, as you said, and some linter or script that checks could we remove that temporary patch?

[2018-01-30 09:51] JekaMas opened #579 "Test the hypothesis that calls Cgo significantly affects the chat performance"
# Problem

Ethereum packages: `ethereum/go-ethereum/crypto/ecies`, `ethereum/go-ethereum/crypto/sha3`, `ethereum/go-ethereum/crypto/secp256k1` take from 40 up to 55% CPU time while message sending-receiving (tested on localhost with 2 Status nodes, without mail server, on ropsten network). They use cgo so each call can causes fork and stack copy.

# Implementation

Check the hypothesis on user cas

[2018-01-30 09:53] b00ris opened #580 "Profiling tests"
# Problem
We are not clearly understand how many cpu time do we spend to messaging, sync, background.

# Implementation
We should cover use cases:
1) node was started in background(sync was ended)
1.1) node was started in background(sync was ended) + whisper
2) node was started in background(sync is running)
3) node was started in background(upstream)
3.1) node was started in background(upstream)

[2018-01-30 11:51] #517 closed, assigned to adambabik

[2018-01-30 12:21] b00ris opened #583 "dependence network consumption on the number of peers"
# Hypothesis
Increasing number of node peers increase network usage.

# Implementation
We need to investigate how network overhead of statusgo(https://github.com/status-im/status-react/issues/2965) depends on number of peers.
Compare network usage for different number of peers

# Acceptance Criteria
Add investigation and testing scenario to https://github.com/status-im/ideas/issues/71

# Notes
Par

[2018-01-30 12:52] JekaMas opened #585 "Ability to run user scenario on Status container"
# Problem

We need a testing tool for network consumption and to be able to check user cases from https://github.com/status-im/ideas/issues/71
THe issue is a part of https://github.com/status-im/status-go/issues/576

# Implementation

Add support of test scenario for Status containers in testing tool https://github.com/JekaMas/ether_tester

# Acceptance Criteria

Rules for the future PR to be acce

[2018-01-30 13:38] JekaMas opened #586 "Single 1-1 chat test network overhead scenarios for Geth and Status"
# Problem

Ability to reproducible testing 1-1 group chatting Status and Geth stats baseline.
The issue is a part of https://github.com/status-im/status-go/issues/576

# Implementation

Add support of test scenario for Status containers in testing tool https://github.com/JekaMas/ether_tester
Single 1-1 chat test scenarios for Geth and Status (60rpm per node). With and without upstream. 2 tests in

[2018-01-30 13:41] JekaMas opened #587 "Idle test network overhead scenarios for Geth and Status"
# Problem

Ability to reproducible testing idle state and Geth stats baseline.
The issue is a part of https://github.com/status-im/status-go/issues/576

# Implementation

Add support of test scenario for Status containers in testing tool https://github.com/JekaMas/ether_tester
Idle test scenarios for Geth and Status. With and without upstream. Geth with and without Whisper. 8 tests in total.

# Ac

[2018-01-30 13:44] JekaMas opened #588 "Many group chats network overhead testing for Geth and Status"
# Problem

Ability to reproducible testing of many active group chats in Status and Geth stats baseline.
The issue is a part of https://github.com/status-im/status-go/issues/576

# Implementation

Add support of test scenario for Status containers in testing tool https://github.com/JekaMas/ether_tester
10 group chats(60 rpm per node) for Status with and without mail server. With and without upstre

[2018-01-30 13:56] JekaMas opened #589 "Network overhead in Geth 1.8"
# Problem

After 1.8 Geth release we should recheck network overhead by testing scenarios https://github.com/status-im/status-go/issues/576

# Implementation

Test Status with Geth 1.7.3 vs Geth 1.8

# Future Steps

Define new network consumprion baselines.

[2018-01-30 15:49] mandrigin commented on #575
I think it makes sense to have temp patches. https://github.com/status-im/go-ethereum/pull/40 also fixes an issue on 1.7.x, but in 1.8 this bug won't be present in the current form.
So that's one more candidate on the temp patch.

[2018-01-30 16:06] mandrigin opened #590 "Filter out `gas` linter error checks for `fmt.Fprintf` commands"
# Problem

We have a lot of unnecessary `// nolint: gas` comments near `fmt.Fprintf`.
We never want to check error value of `Fprintf` anyway.

# Implementation

1. Remove `// nolint: gas` comments from `fmt.Fprintf`
2. Tweak the `gometalinter` config to ignore these warnings from `gas`. Keep the other warnings intact.

# Acceptance

1. There are no `// nolint: gas` comments near `fmt.Fprintf`.
2.

[2018-01-30 16:43] pablanopete commented on #277
@divan @themue what size bounty should this be?

[2018-01-30 17:07] themue commented on #277
As mentioned on Slack LES caching in memory is limited but there's right now no garbage collection for the disk db. Zsolt said it is "not yet" implemented, so I'm currently checking the concrete plans with him.

[2018-01-30 21:18] status-open-bounty commented on #590
Balance: 0.000000 ETH
Tokens: SNT: 225.00
Contract address: [0xe373495788dfddb92e873dee01ed83410194acdc](https://etherscan.io/address/0xe373495788dfddb92e873dee01ed83410194acdc)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-31 07:34] #451 closed, assigned to JekaMas

[2018-01-31 07:51] dshulyak opened #591 "Add an option to run tests using separate node for proxying calls to eth network"
# Problem

There are two ways how status rpc client can be used.
With "upstream" node, separate geth node, part of rpc requests will be offloaded to that node.
Without it - all requests will go to the local LES node.

For some operations, it is critical to validate both of this paths. For instance to fix this problem locally, https://github.com/status-im/status-go/pull/538, - I added https://githu

[2018-01-31 10:36] divan commented on #591
Nice idea. That will also require management of all aspects of that container/geth instance (waiting for sync, keeping up to date to latest version etc), but that definitely will make tests more reliable.

[2018-01-31 10:42] adambabik commented on #583
In case of Whisper, it looks like there is a linear correlation between the number of peers and the messages volume. It makes sense as Whisper sends a message to each peer. It's worth to research how it looks overall though 👍

[2018-01-31 11:35] adambabik commented on #522
It was done in #558

[2018-01-31 11:35] #522 closed, assigned to adambabik

[2018-01-31 11:36] adambabik commented on #519
Done in #558

[2018-01-31 11:36] #519 closed, assigned to adambabik

[2018-01-31 11:37] adambabik commented on #536
Done in #558

[2018-01-31 11:37] #536 closed, assigned to adambabik

[2018-01-31 11:37] denismakogon opened #592 "Broken tests due to wrong imports"
# Problem

Tests are broken due to incorrect imports

# Implementation

Fixing imports, certain problems with that appeared while running vet.

[2018-01-31 11:42] dshulyak commented on #591
This is partially implemented in our codebase. Sorry for confusion

[2018-01-31 11:42] #591 closed, assigned to nobody

[2018-01-31 11:51] denismakogon commented on #592
Tests issue appeared at `develop` branch while was following the guidelines from README.md.

So, after running `make ci` i got corresponding diff:
[code]
So, in order to fix that, struct methods needs to be adjusted.

[2018-01-31 13:49] canercidam commented on #561
Here's what I have in mind:
1) A transaction is object is initialized.
2) Gas price is set to a non-nil value.
3) Gas is set to a non-nil value larger than default value.
4) Transaction is used by `CompleteTransaction` and an identical copy is signed externally.
5) Transaction hashes are compared.

How does it sound? And the test function could be called `TestCompletionValidity` since it covers bo

[2018-01-31 14:03] dshulyak commented on #561
That's close but not exactly. For the second part, I was planning to have a piece of code that will be used for every test case that completes a transaction. This piece of code can use transaction as an input and will prepare mocks for geth rpc api. Take a look at `setupTransactionPoolAPI` in tests for transactions manager

[2018-01-31 14:44] canercidam commented on #561
Ah okay, I see what you mean now. I'll start getting a PR ready in a bit.

[2018-01-31 17:36] alexkohler commented on #590
I have a branch that removes the directives, however, I'm not sure if gometalinter exposes the gas output in a manner that allows someone to know *what* error was found, it just assigns it a severity.

**gometalinter gas output:**

[code]

**The actual gas output:**

[code]

We could probably write a special regex for gas to ignore fmt.Fprintf calls, **but then *all* Fprintf calls would be ignored

[2018-01-31 17:40] alexkohler commented on #590
I've done a little debugging, manually running gometalinter and running only on the cmd/statusd package

[code]

[2018-01-31 18:02] sebastiandelgado commented on #592
Working on a PR request for this right now. Will post it here soon.

[2018-01-31 18:04] denismakogon commented on #592
I already made a PR for this.

[2018-01-31 18:04] denismakogon commented on #592
See https://github.com/status-im/status-go/pull/593

[2018-01-31 18:05] sebastiandelgado commented on #592
@denismakogon My bad! Don't know how I missed it. Thanks for the heads up

[2018-01-31 19:47] canercidam commented on #561
@dshulyak I don't believe I solved it the way you imagined but this looked like the best way to me.

[2018-01-31 23:38] divan commented on #295
@azer thanks, but our log usage patterns are different.

Basically, we use logs in two ways:
 1) Running `statusd` as a node, usually locally on the laptop, to run checks, verify ideas, etc. Those sessions are short-lived and usually, log is used to track the chain synchronization, debug/trace output from geth sometimes.
 2) Running status-go as a part of a mobile app with log enabled for debug se

[2018-02-01 01:31] azer commented on #295
@divan log categories allow setting the verbosity based on your current focus, which helps developers see logs only related to their work. It could help especially for the first use case you mentioned above.

[2018-02-01 09:48] pedropombeiro opened #597 "#576 - Discuss approach to automated Geth/statusd performance testing"
# Problem

We need a way to do reliable automated testing for geth and statusd (network, CPU, etc) in different use cases. @JekaMas already has a great headstart with https://github.com/JekaMas/ether_tester. The current tool however only allows specifying single lines of sequencial code which can reference results from previous instructions. Although this works for very simple scenarios, it is har

[2018-02-01 09:50] pedropombeiro commented on #597
One idea I floated in Slack was the following:

But according to @JekaMas, `statusd` doesn't work the same way. The question then becomes: is it easy to implement the same support in statusd (i.e. a few hours work?)

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHu

[2018-02-01 10:10] dshulyak commented on #597
I've been thinking about perf testing for a change that I want to try. This is somewhat different from what is proposed here, but anyway I will share:

I will use https://github.com/status-im/status-go/tree/develop/docker made by @adambabik to bootstrap a cluster. Connect with any client library to all of the whisper nodes and generate messaging scenarios. It will be just a separate script running

[2018-02-01 10:16] dshulyak commented on #597
In general,  I think it is very important to have a time-series data for this. Otherwise how to properly measure CPU or memory usage?

[2018-02-01 10:23] pedropombeiro commented on #597
If I understand correctly, the script would run on an arbitrary machine and target the cluster, where the metrics are collected. So we wouldn't collect any metrics on the node which is running the script. Is that correct?

[2018-02-01 10:25] pedropombeiro commented on #597
It does seem like there is some overlap in both tools. Ideally we'd maintain a single tool to avoid confusion and promote synergies. Maybe we could merge them in a way that @JekaMas's ether_tester leverages the cluster/collector by dynamically generating a `wnode-test-cluster/docker-compose.yml` file that describes the intended test scenario (number/composition of nodes, etc). Does that make sense

[2018-02-01 10:47] JekaMas commented on #597
The point of `ether_tester` is to compare Geth as baseline vs Status or different versions of Status in given scenarion. It's more about QA automation not monitoring. `ether_tester` is for fast testing that can be run many times by dev or QA.
`node-test-cluster` looks more like monitoring tools for researching, finding bottleneck in realtime.
Its like 'testing' vs 'benchmark'. Pretty similar but d

[2018-02-01 13:42] JekaMas opened #598 "Check is it possible and safe to use WhisperV6"
# Problem

WhisperV6 is in Ethereum master https://github.com/ethereum/go-ethereum/tree/master/whisper/whisperv6
It should be checked:

- does it suitable for Status? Does network and CPU overhead reduced?

- is it safe to use bloom filters? Is it possible to restore topics from bloom filter on peer's side?

- does migration on WhisperV6 brokes down capability with WhisperV5? It seems like whisper

[2018-02-01 15:46] divan commented on #597
We have https://github.com/status-im/ideas/issues/51 for running test cluster to make reliable tests/benchmarks.
There is also Appium testing code that even uses real device simulators to run difference scenarios: https://github.com/status-im/status-react/tree/develop/test/appium/tests

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div

[2018-02-01 16:21] JekaMas commented on #597
Could it be used for such testing?
1. Start geth node.
2. Start status node.
3. Wait for sync.
4. Fix 0 point for given metric
5. Run given test scinario at the same time on both nodes. Scenario example: create an account, get a key pair, create a message filter, send few messages, repeat for 60sec.
6. Return stats of Status wrt Geth: total, min, max, median, mean etc.

My point is about to have s

[2018-02-01 17:14] #556 closed, assigned to nobody

[2018-02-02 08:29] dshulyak commented on #597
docker compose

docker compose

single subscription call with a client

metric value before test run is started or what?

that's a matter of writing a client with this scenario codified

prometheus stores time-series data, not a problem to compute all those values

[2018-02-02 10:32] mandrigin commented on #590
Hi! Thanks for your input. Is it possible to tweak the pattern you mentioned so `gometalinter` actually prints the LoC that `gas` provided?

If so, we can always use `gometalinter --exclude <regex>` that has both "Errors unhandled" and `fmt.Fprintf` in.

[2018-02-02 10:38] mandrigin opened #602 "Enforce type safety in `NodeCrashEvent`"
# Problem

Currently, `NodeCrashEvent` has an `Error` field that that is of `string` type. That is both misleading and weakens the type safety. It is nice to make it of `error` interface type.

On the other hand, we still need to marshal `NodeCrashEvent` to json without losing the error description.

# Implementation

We should make a custom JSON marshaller for `NodeCrashEvent` to convert `error`

[2018-02-02 10:44] mandrigin opened #603 "Create a script that auto-applies `geth-patches`."
# Problem

We have a number of patches for `go-ethereum` that are located in `/geth-patches` folder.
We apply all of them manually.
We need a script that will apply these patches automatically.

# Acceptance Criteria

1. There is a script that applies `/geth-patches` to a specified directory.
2. If there is no directory specified — apply it to `./vendor/ethereum/go-ethereum`
3. If the patch was al

[2018-02-02 13:10] #429 closed

[2018-02-02 16:40] sebastiandelgado commented on #602
I'll be taking a jab at this. Should have a PR for it soon.

[2018-02-02 17:07] status-open-bounty commented on #603
Balance: 0.000000 ETH
Tokens: SNT: 900.00
Contract address: [0x9be82b7ac8c12cb481de16bfb5b98a9fee07174f](https://etherscan.io/address/0x9be82b7ac8c12cb481de16bfb5b98a9fee07174f)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-02 17:10] status-open-bounty commented on #602
Balance: 0.000000 ETH
Tokens: SNT: 225.00
Contract address: [0x11d0da14c73b1d5a832a503e283fafa28efb045d](https://etherscan.io/address/0x11d0da14c73b1d5a832a503e283fafa28efb045d)
Network: Mainnet
Paid to: sebastiandelgado
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-02 17:44] #578 closed, assigned to nobody

[2018-02-02 18:01] feuGeneA commented on #579
While I haven't tested this hypothesis specifically against the use cases in [status-im/ideas#71](https://github.com/status-im/ideas/issues/71), I have managed to get some measurements about the overhead of CGo in general.

In short, the CGo overhead seems negligible in comparison to the amount of time spent within the underlying C routines.  All of the gory, supporting details are below.

(As an

[2018-02-02 20:34] sebastiandelgado commented on #603
I'm interested in this. A couple questions though:

- Do you want to include the steps of cloning a fresh copy of ethereum/ethereum-go to the specified directory? In this case, we'd be deleting the specified local copy of etheruem-go.
- When you say that a failed patch should be rolled back, do you mean that if patch 0005 fails, the script should leave the repo in the state it was after the applic

[2018-02-02 21:29] alexkohler commented on #590
I think that is possible, but similar to my solution I think we'd ignore *all* gas static analysis that contains `fmt.Fprintf`. If we're okay with that, I can continue with that solution.

[2018-02-03 07:04] JekaMas commented on #579
Awesome! Your C expiriense is really great.
Did you use whisper tests without any modifications?

[2018-02-03 13:50] JekaMas opened #608 "Use non-privileged user in Ethereum's Dockerfile"
# Problem

The Ethereum issue with docker privileges slows our progress in testing.

# Implementation

Resolve https://github.com/ethereum/go-ethereum/issues/15816

# Acceptance Criteria

Issue is resolved and merged into Ethereum master.

Part of https://github.com/status-im/ideas/issues/71

[2018-02-03 16:22] pedropombeiro commented on #586
@JekaMas I've been able to sync the blockchain while running as unpriviledged user, but the output still shows no messages circulating. [This commit](https://github.com/PombeirP/ether_tester/commit/c4433782a54a59e02d8f9a0ffbaaeacbefe0fff7) shows the code as well as the log file. Not sure if you can see any reason why this shouldn't work.

[2018-02-03 18:09] JekaMas commented on #586
@PombeirP I'm going to check the test tommorow. Thanks for logs and commit!

[2018-02-03 18:17] feuGeneA commented on #579
Thanks!  Yes, I used the e2e/whisper/... tests without any modifications.

On Sat, Feb 3, 2018 at 2:04 AM, Evgeny Danilenko <notifications@github.com>
wrote:

[2018-02-03 20:27] JekaMas commented on #579
@feuGeneA Could it be that the amount of messages from tests are not statistically significant? As far as i can see each test sends just 1-3 message from node to node.
Just to be sure, could you make a new benchmark with greater message rps?
You can take the 4th case from https://github.com/status-im/ideas/issues/71 :

- run 2 nodes (mail server isn't necessary)
- check that nodes are connected wi

[2018-02-04 13:54] canercidam commented on #568
Getting a PR ready for this.

[2018-02-04 23:07] #592 closed, assigned to nobody

[2018-02-04 23:13] divan commented on #295
@azer but, it's better to design logging based on real developers experience rather than general one. Implementing log levels and logic around it has some costs, and it should be justified. I would start by asking two questions:
 - Do developers really need it in their day to day experience with statusd?

[2018-02-05 09:40] dshulyak opened #613 "Add a test case with concurrent transactions and upstream node"
# Problem

To reproduce the problem described in https://github.com/status-im/status-go/pull/538 with upstream network we need to have a test case that will send multiple concurrent transaction with enabled upstream node.

# Implementation

We already have a test TestCompleteMultipleQueuedTransactions in TransactionsTestSuite but it uses local ethereum node. Implementation should reuse this test b

[2018-02-05 09:41] status-open-bounty commented on #613
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x281aa9b2b68ccd43c84fc3af6e3dfcc295947928](https://etherscan.io/address/0x281aa9b2b68ccd43c84fc3af6e3dfcc295947928)
Network: Mainnet
Paid to: fgimenez
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-05 09:53] dshulyak opened #614 "Use configuration from a file for statusd daemon"
# Problem

The end goal is to have an ability to configure statusd using `docker config` [0] mechanism. We need to be able to control node parameters from tests and as we are using docker-compose for running a test cluster, docker config is optimal (and perhaps the only one) way to parametrize application without changing docker-compose.yml.

0. https://docs.docker.com/engine/swarm/configs/#how-do

[2018-02-05 10:23] dshulyak commented on #597
https://github.com/status-im/status-go/pull/609

[2018-02-05 10:38] #602 closed, assigned to nobody

[2018-02-05 11:33] status-open-bounty commented on #608
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x05152bc612e9c38b1c343efe328fd2f9c0e55fd8d9544ed0ffee057aaec2bac6](https://etherscan.io/tx/0x05152bc612e9c38b1c343efe328fd2f9c0e55fd8d9544ed0ffee057aaec2bac6)

[2018-02-05 12:54] adambabik commented on #608
What's the problem with using a privileged user in a docker container?

[2018-02-05 13:40] #567 closed, assigned to nobody

[2018-02-05 14:28] pedropombeiro commented on #586
@JekaMas I implemented a routing provider in the Python codebase, but it looks like none of the Whisper methods are supported by Infura. I get:

For `newMessageFilter`

For `post`:

Or is the goal just to activate upstream and still call all `shh` APIs over the local RPC server?

FWIW, this is what I'm getting:

Statistics:
Geth without upstream
Stats (bytes/s):

||Receive|Transmit|Total
|---|---|

[2018-02-05 14:55] adambabik commented on #218
As far as I know, all points are covered in other epics.

[2018-02-05 14:55] #218 closed

[2018-02-05 15:48] #613 closed, assigned to nobody

[2018-02-05 16:28] #561 closed, assigned to nobody

[2018-02-05 19:36] divan commented on #614
My main concern with having config file is a need to deal with one more source of configuration, and we already have a few:
 - Defaults in `geth/params`
 - Configuration passed from status-react/status-desktop via `GenerateConfig()`
 - Command line flags

Now, by adding a configuration files, we need to make sure that order and priorities of those sources are crystal clear.

If possible, I would a

[2018-02-05 19:53] mandrigin commented on #614
There are some config libraries that support 3 sources of configs: env, config file, command-line flags. We might wanna use one of those. That would provide some established standard of handling that and docs.

[2018-02-05 21:34] dshulyak commented on #614
@divan without a config file it is not possible to parametrize docker-compose services. For instance, https://github.com/status-im/status-go/pull/609 - here I am experimenting with a different number of peers. Every time I have to change docker-compose, but with config file i will be able to generate one from golang, create `docker config` and use it for a statusd service.

I described motivation

[2018-02-05 21:48] jgimeno opened #617 "Use of internal package is not allowed"
# Problem

Hi! I don't know if this is the correct way to ask this, but I am playing with the codebase. As soon as I run the tests I get some errors because of the jail package. It says to me that internal packages are not allowed. I haven't seen in the Makefile that this package is not excluded from the unit test so I guess I should have something wrong in my environment.

Thanks!

[2018-02-05 22:02] canercidam commented on #617
Is your clone in `$GOPATH/src/github.com/status-im/status-go`?

[2018-02-05 22:20] jgimeno commented on #617
Thanks! My fault, I forked the repo and I was trying it from there. I close this!

[2018-02-05 22:20] #617 closed, assigned to nobody

[2018-02-06 08:49] adriacidre opened #618 "Jail.Call string based results returned as invalid JSON"
# Problem

Any call to [jail.Call](https://github.com/status-im/status-go/blob/develop/geth/jail/jail.go#L242) is expecting a valid JS string as response.

This behaviour is accomplished when you expect a non-string based result, like a string or bool, where the result will look like:
[code]

However, when you expect a string based result, the returned string will look like:
[code]

This is not va

[2018-02-06 10:03] mandrigin opened #620 "Group tests in a dedicated testing package"
# Problem

Our tests are in the root package now (`e2e`, `testing`).
I'd be nice to move them to dedicated test package.

# Implementation

The package name should be `t`, to make it stand out and short.
`e2e` should be moved to `t/e2e`.
`testing` should be renamed to `t/utils`

# Acceptance Criteria

Tests still run and pass for:
* `make test-unit`
* `make test-e2e`

[2018-02-06 10:19] mandrigin opened #621 "Move non-go related files to the `_assets` folder."
# Problem

Some of the directories in our root dir are valid go packages. Some aren't.
That makes it harder to understand what is what.

# Implementation

Let's create an `_assets` directory and group these files/packages there (as much as we can).
The proposal looks like that.
[code]

# Acceptance Criteria

**All** make commands are passing and providing the same results as before the changes (se

[2018-02-06 10:23] oskarth commented on #621
This isn't 100% open since it requires changes on Jenkins (priv ack)

[2018-02-06 10:24] status-open-bounty commented on #620
Balance: 0.000000 ETH
Tokens: SNT: 225.00
Contract address: [0x09b1649cae5e92b35ed5f583d4eb3f16d16e1b05](https://etherscan.io/address/0x09b1649cae5e92b35ed5f583d4eb3f16d16e1b05)
Network: Mainnet
Paid to: sekl
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-06 10:24] mandrigin commented on #603
@sebastiandelgado wow, I just noticed your answer. Thanks for your interest!

(1) Nope, we usually will use this script with already checked out `go-ethereum` in vendor or **somewhere else** (that's important).
(2) Exactly!

[2018-02-06 10:28] mandrigin commented on #621
@oskarth agree, but I'll take the responsibility for coordination of this change internally.

[2018-02-06 12:19] canercidam commented on #603
Hi @sebastiandelgado, sorry for submitting a PR before you but it's been a while and I already had a solution. Don't hate me, please. :stuck_out_tongue:

[2018-02-06 13:46] adriacidre opened #625 "Markdown problems on Jail README"
# Problem

Current [Jail package README](https://github.com/status-im/status-go/blob/develop/geth/jail/README.md) presents some problems rendering on Github.

# Implementation

Fix Markdown problems in order to have a proper README

# Acceptance Criteria

README should render properly on github

[2018-02-06 14:49] sebastiandelgado commented on #603
@mandrigin Thanks! @canercidam No worries! Hadn't started working on it anyways.

[2018-02-06 15:15] mandrigin commented on #614
@dshulyak can we use `docker config` to set up command-line flags for the `statusd`?
like just call `./statusd $(./statusd-params.sh)` and specify `statusd-params.sh` in `docker config`? That would save us some go code.

[2018-02-06 15:17] mandrigin commented on #590
@alexkohler hmm, that means that it won't be possible to both print `"Errors unhandled"` and the line that caused it?

[2018-02-06 15:39] dshulyak commented on #614
@mandrigin yes, we can. but i am not a fan of such solutions. especially when they will not "save" us a lot. also if we are talking about preparing parameters from tests it is easier and more error-proof to dump json.

[2018-02-06 19:45] alexkohler commented on #590
@mandrigin -ah, I think I originally misunderstood your proposal. I will double check on this. If we can use a multi line regex I think that’ll let us suppress unhandled errors for only fmt.Fprintf calls👍

[2018-02-07 09:10] sekl commented on #620
Looks like a good first issue to work on, so I'll take it if nobody else has started it yet. ;)

[2018-02-07 09:21] JekaMas commented on #598
We have first results from 55b swarm. This morning @b00ris and me have done first green test of WhisperV6 in Status-go with some of our patches on it. After patching it works as expected, drastically decreasing the amount of receiving by user messages.
Here is the test data.

## Tests
Common conditions:

- there're 4 users (Alice, Bob, Charlie, Grinch) + mail server
- Alice sends 100 messages to g

[2018-02-07 10:02] JekaMas commented on #598
@dshulyak I'm really looking for you in 55b swarm :) You branch with additional message type looks promising. Do you want to join?

[2018-02-07 10:26] dshulyak commented on #598
@JekaMas sure, I can work on these things as a part of 55b.
That branch may somewhat reduce duplicates of wanted packets, but it should have higher impact if load will be increased.

[2018-02-07 10:48] #568 closed, assigned to nobody

[2018-02-07 11:08] status-open-bounty commented on #621
Balance: 0.000000 ETH
Tokens: SNT: 900.00
Contract address: [0xfdb8a80c6b4ea6e5ec63bfed8d41464f71ddf725](https://etherscan.io/address/0xfdb8a80c6b4ea6e5ec63bfed8d41464f71ddf725)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-07 11:15] JekaMas commented on #598
Yeah, i've read your code. It should works just like you wrote.
The main question for me is how we're going to implement this:
1. As a new version of Whisper specification that all clients agree with (like WhisperV6)
2. Like our own protocol extension.

[2018-02-07 12:15] canercidam commented on #621
I want to work on this today. Will get a PR ready.

[2018-02-07 15:41] JekaMas commented on #598
@dshulyak I tested again with the same topology of fully connected network:
Alise's peers: 4
Bob's peers: 4
Charlie's peers: 4
Grinch's peers: 4
Mail server's peers: 4

While tests running new peers didn't added (i just turned off Internet)

| Test case  | Alice (send/receive)  | Bob  | Charlie  | Grinch (send/receive)  | Mail server  | Total  |
| -------------| ------------- | ------------- | ---

[2018-02-07 16:25] dshulyak commented on #598
@JekaMas These results are comparable with mainnet results from the previous section. I said before that it is clear that there are no additional sources of traffic in this case. Now let's compare with results for ropsten network, amount of received packets for Bob is 53755, It is very likely that there is another source of network traffic there. So, what I tried to say is that in case of ropsten

[2018-02-07 17:55] JekaMas commented on #598
You're right. Mainnet doesn't use whisper heavely so isolated results is the same as mainnet.
In Ropsten there're a lot of whisper traffic. I can remake Ropsten test with fixed configuration. I'll publish the results tomorrow morning.

[2018-02-08 07:09] status-open-bounty commented on #614
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8ac500132bde24d6343608cabe72fb3d0284c4544635caa3734bc89bfdb28fe2](https://etherscan.io/tx/0x8ac500132bde24d6343608cabe72fb3d0284c4544635caa3734bc89bfdb28fe2)

[2018-02-08 09:56] adambabik opened #631 "Enable gometalinter for test files"
# Problem

Currently, we do not lint Go test files (`*_test.go`) but we should. Test files, just like the normal ones, should be reliable and bug-free.

# Implementation

Add `"Test": true` property to `.gometalinter.json`. It also requires fixing all lint errors and warning that will be found.

# Acceptance Criteria

1. Go test files are linted,
1. `make lint` passes.

[2018-02-08 11:15] mandrigin opened #633 "Measure the energy consumption of `status-go` on a device"
# Problem

The whole app consumes quite a lot of energy at the moment. Let's figure out how much `status-go` part actually consumes.

# Implementation

Create a minimalistic native wrapper for `status-go` for iOS (and maybe Android) that listens to messages in `#status` and a special ping channel. Also, it should send messages 3-4 times a minute.
Run this under a profiling tool on a physical devic

[2018-02-08 11:18] #598 closed, assigned to JekaMas, b00ris

[2018-02-08 11:25] #618 closed, assigned to nobody

[2018-02-08 11:36] azer commented on #633
Could measuring `statusd` be useful in this case ?

If yes, a script based on [powertop](https://wiki.archlinux.org/index.php/powertop) can also measure it and be integrated into the CI step to keep track of the consumption as the codebase grows. Out of curiosity, I checked the results and got following result after measuring statusd with powertop for 20 seconds;

[code]

P.S I ran statusd without

[2018-02-08 11:38] JekaMas opened #634 "Move from whisperV5 to whisperV6"
# Problem

Network overhead from whisper is significant. We tested whisperV6 and realized that it is suitable to reduce network overhead and perhaps CPU.

# Implementation

- [x] Move basic whisperV6 code into our repo https://github.com/status-im/status-go/issues/636
- [x] Apply notifications patch https://github.com/status-im/status-go/issues/637
- [x] Switch code to use whisperV6 https://github

[2018-02-08 11:38] JekaMas commented on #598
closed as devided to implement whisperV6 https://github.com/status-im/status-go/issues/634

[2018-02-08 11:58] JekaMas opened #636 "WhisperV6 as a Geth patch"
# Problem

We need first implementation of whisperV6 to make it possible to implement Status patcher to it and start to use it.
Our current version of whisperV6 is a just clone of whisperV5. We need to get updates from upstream.

# Implementation

Move whisperV6's code into our Geth version. Make it as a temporary patch.

# Acceptance Criteria

Status-go compiles successfully, tests in whisperV6 p

[2018-02-08 12:04] JekaMas opened #637 "Apply notifications patch to whisperV6"
# Problem

We need notifications and few changes in whisper servise that present in notifications patch.

# Implementation

Apply patch `geth-patches/0004-whisper-notifications.patch` to whisperV6. Make new patch for whisperV6 (not temporary).

# Acceptance Criteria

Status-go tests are passed.

Part of #634

[2018-02-08 12:07] #603 closed, assigned to nobody

[2018-02-08 12:11] JekaMas opened #638 "Switch code from whisperV5 to whisperV6"
# Problem

Switch code from whisperV5 to whisperV6

# Implementation

Change imports from "github.com/ethereum/go-ethereum/whisper/whisperv5" to `whisper "github.com/ethereum/go-ethereum/whisper/whisperv6` in status-go code.
Also make a patch to change imports in Geth packages: `go-ethereum\whisper\notifications` and `go-ethereum\whisper\mailserver`.

# Acceptance Criteria

All tests are passed. P

[2018-02-08 12:13] mandrigin commented on #633
@azer that is a good idea. though, I want to try to measure the consumption as close to the actual hardware we'll run it on. So we can see how the battery is affected by CPU going to hi-perf/lo-perf mode, wifi/3g antenna's activity, etc. And also it is easy to simulate "real-life" activity there, like active public chats.
That's why the mobile app.

[2018-02-08 12:20] mandrigin opened #639 "Investigate how status-go works after changing a network connection"
# Problem

The mobile Status.im app seems to have a problem with receiving messages after changing the network from Wifi to 3g or another way around. On a desktop (in an iOS simulator) I can reproduce it by switching from Wifi to Ethernet or switching wifi on/off.

We need to:
- reproduce the issue in an isolated environment, make it repeatable;
- figure out if restarting the node will help;
- fig

[2018-02-08 12:32] JekaMas opened #640 "Switch Status cluster and mail server node to WhisperV6"
# Problem

We need to switch our bootnodes cluster to whisperV6 support. Also we need mail server with whisperV6 support.

# Implementation

Check is there any changes in https://github.com/status-im/status-cluster needed.
e.g. https://github.com/status-im/status-cluster/pull/12
Doc https://github.com/status-im/status-cluster/wiki/MailServer-nodes

# Acceptance Criteria

Status-go tests are passed

[2018-02-08 12:36] JekaMas opened #641 "Move envelopes tracing patch to whisperV6"
# Problem

We need backward capability in Status-go code after switching to whisperV6: envelops tracing in whisper servise.
We already have the patch `geth-patches/0009-whisper-envelopes-tracing.patch` from PR https://github.com/status-im/status-go/pull/558 for whisperV5. Nowdays we want the same functionality for whisperV6

Part of #634

# Implementation

Apply patch `geth-patches/0009-whisper-en

[2018-02-08 12:38] flexsurfer commented on #639
related with https://github.com/status-im/status-react/issues/3116

[2018-02-08 12:46] JekaMas opened #642 "Bottleneck in matching messages filters"
# Problem

Nowdays when whisper receives new messages (M) and user have some message filters (M) it takes O(M*N) time to notify proper message filters about suitable messages. @gluk256 said he knows this bottleneck and ready to accept PR.

Part of #634

# Implementation

It looks like this time could be reduced to O(M).
This fix we want to merge to upstream Geth to whisperV5 and V6 as well.
For ou

[2018-02-08 12:52] #620 closed, assigned to nobody

[2018-02-08 14:15] mandrigin commented on #639
Discovered as a part of: https://github.com/status-im/ideas/issues/75#issuecomment-364123369

[2018-02-08 14:32] divan commented on #641
We're usually introducing patches and applying them in a single commit.
Also, this issue lacks explanation what's exactly is "envelops tracing" and why do we need it.

[2018-02-08 23:06] JekaMas commented on #641
This issue is about applying our whisperV5 patch to whisperV6. It's just saving our current status functionality.

[2018-02-09 00:25] #625 closed, assigned to nobody

[2018-02-09 08:02] status-open-bounty commented on #639
Balance: 0.000000 ETH
Tokens: SNT: 2400.00
Contract address: [0x00b3ea4b9e28d2914f376cb0463c0f473c2e6179](https://etherscan.io/address/0x00b3ea4b9e28d2914f376cb0463c0f473c2e6179)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-09 08:45] dshulyak commented on #639
I will write an automation to continuously validate that initial blockchain sync, les and whisper can tolerate different network conditions (loss of connectivity, partial loss of packages, unpredictable latency). If someone wants to have a fast look what is this concrete problem about please go ahead.

[2018-02-09 09:40] feuGeneA commented on #579
In short:

- CGo overhead still looks negligible.
- I turned up a couple of problems that may warrant further investigation (please weigh in):
  - `CRIT [02-09|02:20:06] Failed to store last header's hash       err="leveldb: closed"`, easily reproduced with a long-running (10m) benchmark.
  - `fatal error: concurrent map read and map write`, raised by a `go-ethereum/les` func, which I only encount

[2018-02-09 09:41] feuGeneA commented on #579
@JekaMas please review my previous comment and let me know if you're satisfied with this investigation or let me know what else you'd like to see.

[2018-02-09 10:43] pedropombeiro commented on #637
@JekaMas do we want to include `0009-whisper-envelopes-tracing.patch` in this GHI (it's easy)?

[2018-02-09 12:08] JekaMas commented on #637
@PombeirP This is great if you could done all patches in single issue!

[2018-02-09 13:01] divan commented on #641
Ah, I see now, it's not clear from the description. Please try to describe the problem in the issues as clear as possible, so developers with no prior knowledge understand the problem and have enough context to work on it.

[2018-02-09 13:38] #621 closed, assigned to nobody

[2018-02-09 14:03] #579 closed, assigned to feuGeneA

[2018-02-09 14:38] status-open-bounty commented on #631
Balance: 0.000000 ETH
Tokens: SNT: 480.00
Contract address: [0xbb4e3691298f353e34da43c434fe9c5f82849a1d](https://etherscan.io/address/0xbb4e3691298f353e34da43c434fe9c5f82849a1d)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-09 16:00] dshulyak commented on #639
https://github.com/status-im/status-go/pull/646

[2018-02-09 16:06] divan commented on #639
As far I as I know, all mobile platforms have mobile connection state/reachability API, and send events when net is switched off, disconnected from network or poor signal quality is detected.

We definitely need to leverage this, but seems like we only can get this information from `status-react` and notify `status-go` via new library/API calls.

[2018-02-09 20:35] mandrigin commented on #639
New information (wrote that in #646)

I managed to reproduce it like that (iPhone 8+):

1. Open an app that listens to `#humans-need-not-apply`
2. Receive 2-3 messages
3. Minimize the app
4. Let the phone go to sleep,
5. Let it sleep for 3-5 minutes
6. Unlock the phone, open the app
7. Observe no more messages.
(when the app is restarted, it receives messages again)

Note that the app shouldn't be

[2018-02-09 20:50] mandrigin commented on #639
@dshulyak @divan that is the error message
`{"jsonrpc":"2.0","id":2968,"error":{"code":-32000,"message":"filter not found"}}`

[2018-02-09 21:16] divan commented on #642
@JekaMas I asked a few times not to use github issues as a personal notebook or reminders, but you keep creating them. Consider using notes taking app. Or at least, please try follow these rules when creating issues:

 - Clearly explain what's the problem is ("bottleneck in something" is not a problem), and you need to explain to other people, not to yourself. Also, provide some numbers, maybe the

[2018-02-09 21:38] dshulyak commented on #639
@mandrigin Oh, that was really helpful))  Filter can be uninstalled if it wasn't used for 300 seconds.
Regarding https://github.com/status-im/status-react/issues/3271 , i am 99% sure that it is caused by time skew and I know a place where we can reliably hack it to speed up recovery)

[2018-02-09 22:17] feuGeneA commented on #636
Part of #634

[2018-02-09 22:17] feuGeneA commented on #638
Part of #634

[2018-02-09 22:17] feuGeneA commented on #637
Part of #634

[2018-02-09 22:49] pedropombeiro commented on #641
@JekaMas as we discussed in https://github.com/status-im/status-go/issues/637#issuecomment-364399660, this work has been done in that issue. I think we can close this as a duplicate.

[2018-02-09 22:53] pedropombeiro commented on #641
@feuGeneA you could probably take https://github.com/status-im/status-go/issues/640 instead. Sorry about that, I only realized now that this patch was the one you had taken, it was pretty close to the one handled in #637 so I just took care of it there.

[2018-02-10 13:19] dshulyak commented on #639
so, application needs to handle such error and recreate a filter

[2018-02-12 10:51] JekaMas commented on #641
Done in https://github.com/status-im/status-go/issues/637

[2018-02-12 10:51] #641 closed, assigned to feuGeneA

[2018-02-12 11:09] JekaMas commented on #638
@PombeirP Please, also take attension to switching Status node in 'light' whisper mode. WhisperV6 introduces 2 node types: full and light (see https://github.com/ethereum/go-ethereum/blob/master/whisper/whisperv6/whisper.go#L1034). Full node receives all messages. Light node shares its bloom filter and expects to receive only matched messages.
As far as i understand we need offline mail server to

[2018-02-12 11:16] #631 closed, assigned to nobody

[2018-02-12 11:21] pedropombeiro commented on #638
@JekaMas I also noticed a few things I'll need to investigate further:
- `NewSentMessage` has been made private in Whisper v6, but we're using them, so I'll need to see if I'll make a public version of it.
- `EnvelopeVersion` no longer exists in Whisper v6, and they no longer use `deriveKeyMaterial`, which made use of it previously:

[code]

[2018-02-12 12:06] mandrigin opened #652 "LevelDB error when running e2e tests on the public network"
# Problem

When we run e2e tests on a public network (`make test-e2e networkid=4`), they often fail.

The error is
[code]
(see https://travis-ci.org/status-im/status-go/jobs/340419267#L721) for an example.

# Implementation

Steps to reproduce: https://github.com/status-im/status-go/issues/652#issuecomment-364924136

# Acceptance Criteria

1. Steps to reproduce are found and provided provided
2. T

[2018-02-12 12:22] mandrigin opened #653 "Apply geth patches on the fly."
# Problem

Currently, we use a custom fork of `go-ethereum` to apply our patches on.
That makes the process of adding new patches cumbersome (first make a PR to the fork, get it approved, create a patch, update the version, etc).

We want to apply patches "on-the-fly" when updating the dependency or changing any of the patches.

We already have a patches script in `_assets/patches/patcher`

# Acce

[2018-02-12 12:57] JekaMas commented on #638
@PombeirP 1. https://github.com/ethereum/go-ethereum/blob/master/whisper/whisperv6/message.go#L92 `NewSentMessage` is public in current V6 version.

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/ethereum/go-ethereum

[2018-02-12 13:04] canercidam commented on #652
@mandrigin Two remarks from what I noticed:
1) Looks like it especially fails on whisper tests: https://travis-ci.org/status-im/status-go/jobs/340439798
2) I remember that error relating to ungraceful exits (e.g. timeout) from #612. This one is surely not about a timeout but maybe an unexpected exit somewhere in the code.

[2018-02-12 13:11] JekaMas commented on #638
2. Could we make something like:
[code]

It looks like it doesn't make big difference about versions. It just checks is current whisper's version is known to notification. So lets make this fix and create issue to check do we need `notification` package at all.

[2018-02-12 13:18] mandrigin commented on #652
Yeah, seems like something gets closed or killed too quickly...

[2018-02-12 13:20] status-open-bounty commented on #653
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0xb459b2dccdd03c9b1f01e7772a8db82bd2892d74](https://etherscan.io/address/0xb459b2dccdd03c9b1f01e7772a8db82bd2892d74)
Network: Mainnet
Paid to: canercidam
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-12 13:27] mandrigin commented on #652
https://github.com/status-im/status-go/pull/645 — a PR

[2018-02-12 13:27] pedropombeiro commented on #638
Hah, `NewSentMessage` was changed yesterday! Will import that commit then.

[2018-02-12 13:36] feuGeneA commented on #652
I also experienced this error.  I produced a whisper benchmark that I wanted to run for 10 minutes, but this error precluded me from being able to run it for that long.  The benchmark can be used to easily reproduce the error, but annoyingly you'll have to run it for several minutes to make that happen.  See more details in [this comment](https://github.com/status-im/status-go/issues/579#issuecomm

[2018-02-12 13:43] canercidam commented on #653
Nice! I'll get ready for this.

[2018-02-12 13:47] mandrigin commented on #653
We probably want https://github.com/status-im/status-go/pull/647 merged first.

[2018-02-12 13:47] adambabik commented on #652
Thanks @feuGeneA! I will try to reproduce this bug using your perf test as currently, I haven't managed to reproduce it locally even once.

[2018-02-12 13:55] adambabik commented on #653
`make dep-ensure --update <dependency>` -- may be tricky. However, why do we need this in the first place? If we want to update `go-ethereum`, couldn't it be a two steps operation: (1) call `dep ensure --update go-ethereum` (2) Follow the normal flow and call `make dep-ensure` which will run `dep ensure` and apply patches?

[2018-02-12 14:02] canercidam commented on #653
Yes, I don't think this syntax is possible with `make`. But `--update=<dependency>` should be possible as in `test-e2e` target.

[2018-02-12 14:13] adambabik commented on #653
Correct, but the question is do we actually need it.

[2018-02-12 14:15] mandrigin commented on #653
I don't think it is critical. We can make it a two steps operation, as @adambabik suggested. If the docs are updated, it is fine.

[2018-02-12 14:24] canercidam commented on #653
It sounds fine to me either way.

[2018-02-12 16:18] pedropombeiro commented on #638
@JekaMas regarding full/light node, that means that for the full node we'll set `nil` bloom filter and for the light node we'll set a bloom filter with another value that doesn't start with `0xFF`? I haven't yet read anything about the usage of the bloom filters in geth (just the theory).

[2018-02-12 16:24] JekaMas commented on #638
@PombeirP Lets check Ethereum`s code:
[code]
It looks like any `0xFF` byte makes node full.

It test branch with whisperV6 i've solved this with hack in `Subscribe`. I changed:
[code]
To
[code]

[2018-02-12 16:49] #636 closed, assigned to pedropombeiro

[2018-02-12 16:49] #637 closed, assigned to pedropombeiro

[2018-02-12 17:02] pedropombeiro opened #655 "Remove or move notification package from go-ethereum fork to status-go"
# Problem

According to some comments ([here](https://github.com/status-im/status-go/pull/648#issuecomment-364937779) and [here](https://github.com/status-im/status-go/pull/648#issuecomment-364776526)), regarding a package which deals with notifications in https://github.com/status-im/go-ethereum/tree/develop/whisper/notifications, it is not clear if this code is required, but at the very least, i

[2018-02-12 17:17] JekaMas commented on #655
The other issue is that the patch contains some useful modifications to whisper service. So it couldn't been removed all at once.
So additional criteria: chats are working fine with the same speed.

[2018-02-12 17:20] adambabik commented on #655
@PombeirP @JekaMas what do you think about splitting `0013-whisperv6-notifications.patch` into two patches so that one encapsulates only `whisper/notifications/` code and another one Whisper V6 changes? Even if `whisper/notifications/` is needed, this issue would not require changing `0013-whisperv6-notifications.patch`.

[2018-02-12 17:22] JekaMas commented on #655
That'd be great. It should be in the issue.

[2018-02-12 23:12] canercidam commented on #653
Work still in progress.
1) Looks like the solution to this issue is blocked by #655. Switching to `master` for `go-ethereum` in `Gopkg.toml` results in:
[code]
and similary with any other version. Can you think of any workaround to this?

2) Supposing there's WIP on branch `my-branch`, would it make sense to compare `my-branch` with `develop` to check for recently added but possibly unapplied patc

[2018-02-13 09:33] dshulyak commented on #638
Maybe thats a typo, but node is full **only** if all of the 64 bytes are 0xFF. There is even a unit test for that.

Why do you need that hack? Node with full filter will always stay full irrelevant of updates.

[code]

[2018-02-13 09:59] JekaMas commented on #638
I dont want any hacks at all :) I just shown the result state we want.

[2018-02-13 10:00] mandrigin commented on #653
(2) it totally makes sense. We need to catch these things on our CI for sure.

[2018-02-13 10:24] mandrigin commented on #653
(1) can you try to demove dependency on on `github.com/ethereum/go-ethereum/whisper/notifications` from status-go? That should help.

[2018-02-13 12:16] canercidam commented on #653
It doesn't help since `dep` looks for imports. `whisper/notifications` is used in `geth/node/node.go` so I need to change status-go code as well.

[2018-02-13 12:20] mandrigin commented on #653
ah, I meant, check if it is possible to get rid of this dependency in `geth/node/node.go` :)

[2018-02-13 12:21] canercidam commented on #653
Oh, sorry. :)

[2018-02-13 13:46] canercidam commented on #653
PR #660 - I'm experiencing a lot of problems. `dep ensure -update github.com/ethereum/go-ethereum` + `make dep-ensure` doesn't help. Patches fail:
[code]

[2018-02-13 14:19] yenda opened #661 "Add api call to generate random passphrase"
# Problem

As a status-react developper, I would like to be able to use the random passphrase generator of status-go to have a proper random seed for symetric keys.

# Implementation

Add an API call `generate-passphrase` to status-go api. Extract and export it from `geth/account/accounts.go` `CreateAccount` method.

# Acceptance Criteria

I can create a passphrase on status-react side using this

[2018-02-13 17:56] pedropombeiro commented on #640
@JekaMas maybe it's better to make "Also it should be checked that updated cluster can works with whisperV5 and whisperv6 at the same time." a separate issue, and this one would just be to create a new cluster?

[2018-02-13 18:16] ChrisSalisbury commented on #343
I haven't used firebase, but a year ago I did a custom Oauth2 system to access various google cloud services. Here's what I know.

The risk is unauthorized use and quota theft. This can potentially cause a lot of issues. The best practices recommended by Google are: https://support.google.com/googleapi/answer/6310037?hl=en

Perhaps the most important of those that you may not be currently doing is

[2018-02-13 18:54] ChrisSalisbury commented on #661
Please be careful with how this gets passed and used...seems like a pretty dangerous thing to have in an api...

[2018-02-13 20:35] ChrisSalisbury commented on #564
It looks like you are talking about the evict() function in the evictionLoop() method in this file: https://github.com/status-im/status-go/blob/develop/geth/transactions/queue/queue.go .

Why it is in a separate channel and async is because it would otherwise block the calling process (hopefully this answers your todo on line 48). It is true that each calling process could start its own goroutine,

[2018-02-13 21:05] JekaMas commented on #661
@ChrisSalisbury could you advise is there any danger to expose this as library method to be called as go library by front?

[2018-02-14 10:00] JekaMas opened #662 "Reduce whisper's message duplication"
# Problem

WhisperV6 can reduce the amount of receiving messages. However, a user still gets as many message copies as many peers he has. This multiplies application traffic. It's necessary to check whether it is possible to reduce this duplication.

# Implementation

@dshulyak has already done a lot of great code and tests in https://github.com/status-im/status-go/pull/609#issuecomment-365216996

[2018-02-14 10:22] pedropombeiro commented on #638
In order to fully test this (especially the bloom filter initialization), we need to complete https://github.com/status-im/status-go/issues/640

[2018-02-14 12:03] adambabik commented on #652
It's not fixed yet. #645 only improved reporting errors.

[2018-02-14 12:48] themue commented on #652
Ah, yes, pushed *close* too early when merging your test improvements.

[2018-02-14 15:50] pedropombeiro opened #665 "Investigate/perform upgrade to Geth 1.8.1"
# Problem

Geth 1.8.1 was [released today](https://blog.ethereum.org/2018/02/14/geth-1-8-iceberg%C2%B9/). It contains many improvements that are important for us, and by upgrading to 1.8.1 we render some patches redundant (namely `0011-geth-17-whisperv6-70fbc87.patch` which ported Whisper v6 to our fork), making future maintenance easier.

# Implementation

Investigate breaking changes in 1.8.1 to

[2018-02-14 16:02] canercidam commented on #653
Thanks @andytudhope! :)

[2018-02-14 17:01] fgimenez commented on #608
I've already proposed https://github.com/ethereum/go-ethereum/pull/16052 to address this one, still being reviewed though.

[2018-02-14 17:44] #653 closed, assigned to nobody

[2018-02-14 17:58] #590 closed, assigned to nobody

[2018-02-14 18:00] mandrigin commented on #639
@andytudhope closing this one because we figured it by ourselves together with @dshulyak (and help from @PombeirP).

[2018-02-15 09:01] dshulyak commented on #665
this should require changes in tx manager code and fake backend for tests

[2018-02-15 10:22] pedropombeiro opened #668 "Create update-geth makefile target"
# Problem

As a follow up to https://github.com/status-im/status-go/pull/666, it would be nice to extract the procedure to update the `go-ethereum` dependency into a Makefile target (such as `update-geth`). This would simplify the `DEPENDENCIES.md` file and keep the procedure easily versioned (i.e. the user doesn't have to care if something in the procedure changed when he gets a newer branch).

#

[2018-02-15 12:10] dshulyak opened #671 "Set whisper minimum pow with config object"
# Problem

We have a patch that changes `DefaultMinimumPoW` https://github.com/status-im/status-go/blob/develop/_assets/patches/geth/0004-whisper-notifications.patch#L968-L969 .

This is really unnecessary and can be done by using whisper config object https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/whisper/whisperv5/whisper.go#L104

# Acceptance Criteria

[2018-02-15 12:43] alexkohler commented on #668
I'd like to take a stab at this! Should have a PR opened a little later.

[2018-02-15 13:07] status-open-bounty commented on #671
Balance: 0.000000 ETH
Tokens: SNT: 250.00
Contract address: [0x03124ccd9c2c06db11ca74cc85a1f8279fcbb029](https://etherscan.io/address/0x03124ccd9c2c06db11ca74cc85a1f8279fcbb029)
Network: Mainnet
Paid to: alexkohler
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-15 13:07] status-open-bounty commented on #668
Current balance: 0.000000 ETH
Contract address: [0x9d37ba31f4a76d02fd0f7c4722fbd3f8bd5402eb](https://ropsten.etherscan.io/address/0x9d37ba31f4a76d02fd0f7c4722fbd3f8bd5402eb)
![QR Code](http://7d1f0959.ngrok.io/qr/status-im/status-go/bounty/668/742a7e25e144aab731b71e9d5236813a3029d11be81fc02732a73973ad8d2d78/qr.png)
Network: Testnet (Ropsten)
To claim this bounty sign up at [http://7d1f0959.ngrok.i

[2018-02-15 15:24] canercidam commented on #652
I'm interested in solving this problem today.

[2018-02-15 15:48] status-open-bounty commented on #652
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x04203b0936a620cbcf6cce9fba015d82390d89c0](https://etherscan.io/address/0x04203b0936a620cbcf6cce9fba015d82390d89c0)
Network: Mainnet
Paid to: mandrigin
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-15 19:38] adambabik commented on #671
The config should be passed in this place: https://github.com/status-im/status-go/blob/develop/geth/node/node.go#L165. Currently, we pass `nil`.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">s

[2018-02-15 19:49] adambabik commented on #661
@yenda How will the passphrase be used? Will it be shared somehow with other parties (this does not feel secure)? Also, why does it have to be a passphrase instead of random N bytes?

[2018-02-15 19:54] adambabik commented on #655
One thing: watch out for not making circular imports. In `whisper/whisperv5/whisper.go` there is `notificationServer NotificationServer` attribute. So, we will end up with status-go importing go-ethereum and go-ethereum (after patching) will import status-go to get `NotificationServer` declaration.

[2018-02-16 09:01] yenda commented on #661
@adambabik It will be used to generate a symkey and sent to the peer in a message encrypted with asymetric key during contact request. I can also be N random bytes

[2018-02-16 10:39] pedropombeiro commented on #665
Random notes as I'm going through the migration:
- Using localhost in the URL causes [DNS rebinding protection to kick in](https://github.com/ethereum/go-ethereum/pull/15962) and fail the HTTP request. Solution is to either use IP or add localhost as an exception in the node config.
- go-ethereum duktape [patch](https://github.com/ethereum/go-ethereum/pull/16129) might be accepted upstream (mentio

[2018-02-16 11:15] pedropombeiro commented on #638
This issue is ending up being addressed by #665

[2018-02-16 17:56] adambabik opened #679 "Swarm integration"
## Motivation
Swarm offers PSS protocol which can be used for sending messages between nodes in an efficient way. Also, Swarm might be used later for exchanging photos, voice messages and video conversations.

As we recently managed to establish a connection with the Swarm Team, which has started building Light Swarm Client, it makes sense to invest more into Swarm.

## Description
Integrate Swarm

[2018-02-16 17:56] adambabik opened #680 "Rewrite binding to gomobile"
## Motivation
Currently, we use xgo project (https://github.com/karalabe/xgo) to cross-compile status-go for iOS and Android. There is a couple of drawbacks of this solution like exported libraries are C-like libraries and bindings need to be written in C and compiled using CGO.

A better solution is to use gomobile (https://github.com/golang/mobile) which can produce native Objective-C and Java l

[2018-02-16 18:30] status-open-bounty commented on #680
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x55f0856f6aa4b9e5875b9fc0c97e34f46928aa37ea861700ab403693cdf451f1](https://etherscan.io/tx/0x55f0856f6aa4b9e5875b9fc0c97e34f46928aa37ea861700ab403693cdf451f1)

[2018-02-16 23:45] fdouglis commented on #429
I am still hitting this SEGV after rebuilding geth from the master as of today.  It's supposed to be fixed?

[2018-02-17 00:42] status-open-bounty commented on #679
Balance: 0.000000 ETH
Contract address: [0x956c828e7c746ae10a6584e3c7b1789e2fd4ab2c](https://etherscan.io/address/0x956c828e7c746ae10a6584e3c7b1789e2fd4ab2c)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-17 08:52] ChrisSalisbury commented on #661
@JekaMas that should be a reasonably safe way to pass it, but I wouldn't recommend having this sort of feature available to the front end at all. Once it exists, there is a chance of it being used improperly.

@yenda Sending this to the peer is a usage that I would classify as "improper." This would create an extremely high motivation to attack this area. If something like this is desired or neces

[2018-02-17 15:58] mandrigin commented on #429
@fdouglis are you talking about `master` or `develop` branch?

[2018-02-18 14:37] adambabik commented on #661
I would probably go with the implementation from Notes. We can create a binding that is similar to `shh_generateSymKeyFromPassword` but generates the password randomly (and I would go with https://golang.org/pkg/crypto/rand/#Read) and only returns a symmetric key ID.

[2018-02-18 15:15] yenda commented on #661
That would be useless to have a symmetric key and not know the password

On Feb 18, 2018 15:37, "Adam Babik" <notifications@github.com> wrote:

[2018-02-18 15:41] adambabik commented on #661
You can then retrieve the symmetric key with `shh_getSymKey` and send it encrypted with a public key. Unless I mixed up the flow you want to achieve.

[2018-02-18 16:26] yenda commented on #661
Ok, for some reason I didn't think of sending the key directly. In that
case there is no need to develop anything shh_newSymKey and shh_addSymKey

are enough already

On Feb 18, 2018 16:41, "Adam Babik" <notifications@github.com> wrote:

<blockquote><img src="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png" width="48" align="right"><div><img src="https://assets-cdn.github.c

[2018-02-18 16:33] adambabik commented on #661
Ah right. `shh_newSymKey` does not require any arguments so we already have what we need. Cool, closing it then.

[2018-02-18 16:33] #661 closed, assigned to feuGeneA

[2018-02-19 11:11] cplane commented on #680
Hi, I'll take this if no one is against

[2018-02-19 13:50] feuGeneA commented on #640
Work in progress to get new v6 cluster up and running is visible at https://github.com/status-im/status-cluster/tree/whisper-v6-status-go-%23640 .

[2018-02-19 14:53] #671 closed, assigned to nobody

[2018-02-19 16:32] fdouglis commented on #429
@mandrigin I believe I downloaded from the master.  I can try the dev branch and see if I do better.

[2018-02-19 16:34] mandrigin commented on #429
@fdouglis `develop` is the up-to-date branch, we don't update `master` often.

[2018-02-19 16:35] fdouglis commented on #429
@mandrigin Actually: I think I am conflating go-ethereum and status-im -- you spoke here about importing a fix, and I was saying it was still broken, but I was actually referring to simple geth.  I hit this page via a search on the particular problem I encountered, which seemed to match.  But it's really go-ethereum that is at issue.  And perhaps there, I should try the dev branch rather than the

[2018-02-19 16:37] mandrigin commented on #429
@fdouglis that particular issue should be fixed in Geth 1.8. If you absolutely have to use 1.7.x, you can just apply one of our patches on the geth codebase: https://github.com/status-im/status-go/blob/develop/_assets/patches/geth/0010-geth-17-fix-npe-in-filter-system.patch

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="h

[2018-02-19 16:39] fdouglis commented on #429
Pretty sure I'm running 1.8 and hitting that issue, or one like it.  I have details at https://github.com/ethereum/go-ethereum/issues/14552#issuecomment-366343353 if you're interested.  Maybe I'm tweaking something completely different, like a bad option somewhere, but it still shouldn't SEGV on a null reference.

[2018-02-19 16:41] fdouglis commented on #429
I probably misread your SEGV and thought it was similar, even if it is something else ... but thanks, @mandrigin

[2018-02-20 09:38] adambabik commented on #680
@cplane sounds good! Please send a PR early even if in progress so that we can communicate faster and be on the same page.

[2018-02-20 09:41] mandrigin opened #686 "Create a bot that constantly pings a channel `#humans-need-not-apply`"
# Problem

Not enough messages in the test network (Ropsten).
1. For energy consumption tests we need a channel that always has messages.
2. For checking if the messages actually work we need a channel that always has messages.

# Implementation

Make a simple bot on top of `status-go` that sends a timestamp to `#humans-need-not-apply` channel.

Why this repo?
Basically, our patching of Geth makes

[2018-02-20 09:46] dshulyak commented on #686
there are no obstacles for writing a bot with upstream go-ethereum

[2018-02-20 09:50] mandrigin commented on #686
yeah, you are right, I'll investigate that. it doesn't use jails or notifications or other features of Status

[2018-02-20 10:53] mandrigin opened #687 "Use relative time for Whisper TTL"
# Problem
UPD: the issue is tracked in go-ethereum repo https://github.com/ethereum/go-ethereum/issues/16134

Status won't/receive send any messages if the device clock is off.

# Implementation

~Use NTP protocol to check if the time is synced correctly. To avoid time skewing attacks, use > 1 NTP server and pick whatever the majority says.~
Use relative time, extract processing time from TTL.

Pa

[2018-02-20 11:54] mandrigin commented on #686
@dshulyak I took a glance at vanilla Geth. We might need some patches to be fully compatible to status-go messaging. So it is simpler to keep it here right now.
Maybe, we need a better readme for this repo explaining what is where.

[2018-02-20 12:30] cplane commented on #680
Ok, thanks @adambabik! Will do